# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
files: ^generators/python/
exclude: ^generators/python/tests\/.*|generators/python/seed\/.*|^generators/python/poetry.lock|^generators/python/fastapi\/.*|^generators/python/pydantic\/.*|^generators/python/sdk\/.*
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: check-ast
      - id: debug-statements
      - id: check-docstring-first
      - id: check-added-large-files
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
      - id: python-check-mock-methods
      - id: python-use-type-annotations
      - id: python-check-blanket-noqa
  - repo: https://github.com/asottile/yesqa
    rev: v1.4.0
    hooks:
      - id: yesqa
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.11.5"
    hooks:
      - id: ruff
        args: [--fix, --config=generators/python/pyproject.toml]
      - id: ruff-format
        args: [--config=generators/python/pyproject.toml]
  - repo: https://github.com/python-poetry/poetry
    rev: "2.2.1"
    hooks:
      - id: poetry-check
      - id: poetry-export
