{
  "type": "openapi",
  "value": {
    "openapi": "3.0.1",
    "info": {
      "title": "Deel REST API",
      "contact": {
        "name": "Deel API Team",
        "email": "apiteam@deel.com"
      },
      "termsOfService": "https://www.letsdeel.com/terms-of-service",
      "version": "1.21.2"
    },
    "externalDocs": {
      "description": "Find out more about Deel APIs.",
      "url": "https://developer.letsdeel.com"
    },
    "servers": [
      {
        "url": "https://api.letsdeel.com/rest/v1",
        "description": "Production server"
      },
      {
        "url": "https://api-staging.letsdeel.com/rest/v1",
        "description": "Demo server"
      }
    ],
    "tags": [
      {
        "name": "EOR",
        "description": "Employee of Record (EOR).",
        "externalDocs": {
          "description": "See",
          "url": "https://developer.letsdeel.com"
        }
      },
      {
        "name": "Contractors",
        "description": "The Contracts resource lets you create, amend and, retrieve Deel contracts.",
        "externalDocs": {
          "description": "See",
          "url": "https://developer.deel.com/rest/v1/#contracts"
        }
      },
      {
        "name": "Contracts",
        "description": "The Contracts resource lets you create, amend and, retrieve Deel contracts.",
        "externalDocs": {
          "description": "See",
          "url": "https://developer.deel.com/rest/v1/#contracts"
        }
      },
      {
        "name": "Hris",
        "description": "API end-points related to HRIS data.",
        "externalDocs": {
          "description": "See",
          "url": "https://developer.letdeel.com"
        }
      },
      {
        "name": "Invoices",
        "description": "The Invoices resource lets you create, amend and retrieve invoices related to Deel contracts.",
        "externalDocs": {
          "description": "See",
          "url": "https://developer.letsdeel.com"
        }
      },
      {
        "name": "Legal Entities",
        "description": "The Legal Entities resource lets you manage your legal entities",
        "externalDocs": {
          "description": "See",
          "url": "https://developer.deel.com/rest/v1/#legalentities"
        }
      },
      {
        "name": "Lookups",
        "description": "Helper end-points for choosing options for other operations",
        "externalDocs": {
          "description": "See",
          "url": "https://developer.deel.com/rest/v1/#lookups"
        }
      },
      {
        "name": "Milestones",
        "description": "Helper end-points for managing milestones of Deel contracts",
        "externalDocs": {
          "description": "See",
          "url": "https://developer.deel.com/rest/v1/#milestones"
        }
      },
      {
        "name": "Off-cycle Payments",
        "description": "End-points to manage off-cycle payments for a given contract",
        "externalDocs": {
          "description": "See",
          "url": "https://developer.deel.com/rest/v1/#off-cycle-payments"
        }
      },
      {
        "name": "Organizations",
        "description": "Helper end-points for additional information about your organizations",
        "externalDocs": {
          "description": "See",
          "url": "https://developer.deel.com/rest/v1/#organizations"
        }
      },
      {
        "name": "Accounting",
        "description": "End-points to retrieve paid invoices and reciepts.",
        "externalDocs": {
          "description": "See",
          "url": "https://developer.deel.com"
        }
      },
      {
        "name": "Tasks",
        "description": "End-points to manage tasks for a given contract",
        "externalDocs": {
          "description": "See",
          "url": "https://developer.deel.com/rest/v1/#tasks"
        }
      },
      {
        "name": "Teams",
        "description": "Helper end-points for additional information about your teams",
        "externalDocs": {
          "description": "See",
          "url": "https://developer.letsdeel.com"
        }
      },
      {
        "name": "Timesheets",
        "description": "The Invoices resource lets you create, amend and retrieve timesheets of Deel contracts.",
        "externalDocs": {
          "description": "See",
          "url": "https://developer.letsdeel.com"
        }
      },
      {
        "name": "Time Off",
        "description": "Manage time off requests.",
        "externalDocs": {
          "description": "See",
          "url": "https://developer.letsdeel.com"
        }
      }
    ],
    "paths": {
      "/hris/direct-employees": {
        "post": {
          "operationId": "createDirectEmployee",
          "summary": "Create a new Hris direct employee",
          "tags": [
            "Hris"
          ],
          "requestBody": {
            "$ref": "#/components/requestBodies/RequestBodyToCreateHrisDirectEmployee"
          },
          "responses": {
            "201": {
              "$ref": "#/components/responses/ResponseBodyForHrisDirectEmployee"
            },
            "400": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "401": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "403": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "404": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "409": {
              "description": "A matching profile already exists"
            },
            "500": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            }
          }
        }
      },
      "/eor/validations/{country_code}": {
        "get": {
          "operationId": "getEorCountryValidations",
          "summary": "Retrieve country guide",
          "description": "Retrieve the hiring guide data for a country. This data can be used to create Employee of Record (EOR) contract quotes.",
          "tags": [
            "EOR"
          ],
          "security": [
            {
              "deelToken": []
            },
            {
              "oauth2": [
                "contracts:read"
              ]
            }
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/ParamEorCountryCode"
            }
          ],
          "responses": {
            "200": {
              "$ref": "#/components/responses/ResponseBodyForEorCountryValidations"
            },
            "401": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "403": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "404": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "500": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            }
          }
        }
      },
      "/eor": {
        "post": {
          "operationId": "createEorContract",
          "summary": "Create an EOR contract",
          "description": "Create an Employee of Record (EOR) contract quote. The endpoints creates a contract quote request. Deel will process the information and get back with a quote for this contract.",
          "tags": [
            "EOR"
          ],
          "security": [
            {
              "deelToken": []
            },
            {
              "oauth2": [
                "contracts:read",
                "contracts:write"
              ]
            }
          ],
          "requestBody": {
            "$ref": "#/components/requestBodies/RequestBodyForEorContractCreation"
          },
          "responses": {
            "200": {
              "$ref": "#/components/responses/ResponseBodyForEorContractCreation"
            },
            "401": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "403": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "404": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "500": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            }
          }
        }
      },
      "/contracts/time-based": {
        "post": {
          "operationId": "createContractTimeBased",
          "summary": "Create a new contract (time-based)",
          "x-internal": true,
          "tags": [
            "Contractors"
          ],
          "security": [
            {
              "deelToken": []
            },
            {
              "oauth2": [
                "contracts:write"
              ]
            }
          ],
          "requestBody": {
            "$ref": "#/components/requestBodies/RequestBodyToCreateContractTimeBased"
          },
          "responses": {
            "201": {
              "$ref": "#/components/responses/ResponseBodyForContractCreatedTimeBased"
            },
            "400": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "401": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "403": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "404": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "405": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "429": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "500": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            }
          }
        }
      },
      "/contracts/task-based": {
        "post": {
          "operationId": "createContractTaskBased",
          "summary": "Create a new contract (task-based)",
          "x-internal": true,
          "tags": [
            "Contractors"
          ],
          "security": [
            {
              "deelToken": []
            },
            {
              "oauth2": [
                "contracts:write"
              ]
            }
          ],
          "requestBody": {
            "$ref": "#/components/requestBodies/RequestBodyToCreateContractTaskBased"
          },
          "responses": {
            "201": {
              "$ref": "#/components/responses/ResponseBodyForContractCreatedTaskBased"
            },
            "400": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "401": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "403": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "404": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "405": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "429": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "500": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            }
          }
        }
      },
      "/contracts/milestone-based": {
        "post": {
          "operationId": "createContractMilestoneBased",
          "summary": "Create a new contract (milestone-based)",
          "x-internal": true,
          "tags": [
            "Contractors"
          ],
          "security": [
            {
              "deelToken": []
            },
            {
              "oauth2": [
                "contracts:write"
              ]
            }
          ],
          "requestBody": {
            "$ref": "#/components/requestBodies/RequestBodyToCreateContractMilestoneBased"
          },
          "responses": {
            "201": {
              "$ref": "#/components/responses/ResponseBodyForContractCreatedMilestoneBased"
            },
            "400": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "401": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "403": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "404": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "405": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "429": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "500": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            }
          }
        }
      },
      "/contracts/fixed-rate": {
        "post": {
          "operationId": "createContractFixedRate",
          "summary": "Create a new contract (fixed-rate)",
          "x-internal": true,
          "tags": [
            "Contractors"
          ],
          "security": [
            {
              "deelToken": []
            },
            {
              "oauth2": [
                "contracts:write"
              ]
            }
          ],
          "requestBody": {
            "$ref": "#/components/requestBodies/RequestBodyToCreateContractFixedRate"
          },
          "responses": {
            "201": {
              "$ref": "#/components/responses/ResponseBodyForContractCreatedFixedRate"
            },
            "400": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "401": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "403": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "404": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "405": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "429": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "500": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            }
          }
        }
      },
      "/contracts": {
        "get": {
          "operationId": "getContractList",
          "summary": "List of contracts",
          "description": "Retrieve a list of contracts.",
          "tags": [
            "Contracts"
          ],
          "security": [
            {
              "deelToken": []
            },
            {
              "oauth2": [
                "contracts:write",
                "contracts:read"
              ]
            }
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/ParamAfterCursor"
            },
            {
              "$ref": "#/components/parameters/ParamLimit"
            },
            {
              "$ref": "#/components/parameters/ParamSortDir"
            },
            {
              "$ref": "#/components/parameters/ParamContractsTypeList"
            },
            {
              "$ref": "#/components/parameters/ParamContractsStatusList"
            },
            {
              "$ref": "#/components/parameters/ParamContractsTeamId"
            },
            {
              "$ref": "#/components/parameters/ParamContractsExternalId"
            },
            {
              "$ref": "#/components/parameters/ParamContractsCountryCodeList"
            },
            {
              "$ref": "#/components/parameters/ParamContractsCurrencyCodeList"
            },
            {
              "$ref": "#/components/parameters/ParamContractsSearchTerm"
            },
            {
              "$ref": "#/components/parameters/ParamContractsSortBy"
            }
          ],
          "responses": {
            "200": {
              "$ref": "#/components/responses/ResponseBodyForContractList"
            },
            "400": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "401": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "403": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "404": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "405": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "429": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "500": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            }
          }
        },
        "post": {
          "operationId": "createContract",
          "summary": "Create a new contract",
          "description": "Create a new Deel contract.",
          "tags": [
            "Contractors"
          ],
          "security": [
            {
              "deelToken": []
            },
            {
              "oauth2": [
                "contracts:write"
              ]
            }
          ],
          "requestBody": {
            "$ref": "#/components/requestBodies/RequestBodyToCreateContract"
          },
          "responses": {
            "201": {
              "$ref": "#/components/responses/ResponseBodyForContractCreated"
            },
            "400": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "401": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "403": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "404": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "405": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "429": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "500": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            }
          }
        }
      },
      "/contracts/{contract_id}": {
        "get": {
          "operationId": "getContractById",
          "summary": "Retrieve a single contract",
          "description": "Retrieve a single contract.",
          "tags": [
            "Contracts"
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/ParamContractId"
            }
          ],
          "security": [
            {
              "deelToken": []
            },
            {
              "oauth2": [
                "contracts:write",
                "contracts:read"
              ]
            }
          ],
          "responses": {
            "200": {
              "$ref": "#/components/responses/ResponseBodyForContractDetails"
            },
            "400": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "401": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "403": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "404": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "405": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "429": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "500": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            }
          }
        },
        "patch": {
          "operationId": "attachExternalId",
          "summary": "External Id",
          "description": "Add an external Id to a Deel contract. You can use this to add a Deel contract's refernece Id in your platform. External Id can be passed as a query parameter in List contract endpoint to find this conract later.",
          "tags": [
            "Contracts"
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/ParamContractId"
            }
          ],
          "security": [
            {
              "deelToken": []
            },
            {
              "oauth2": [
                "contracts:write"
              ]
            }
          ],
          "requestBody": {
            "$ref": "#/components/requestBodies/RequestBodyToPatchExternalId"
          },
          "responses": {
            "200": {
              "$ref": "#/components/responses/ResponseBodyForContractExternalIdPatched"
            },
            "400": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "401": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "403": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "404": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "405": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "429": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "500": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            }
          }
        }
      },
      "/contracts/{contract_id}/documents": {
        "post": {
          "operationId": "addContractDocument",
          "summary": "Add documents",
          "description": "Attach document to a contract. You can only add one document at a time. If you need to attach more documents please attach a Zip file.",
          "tags": [
            "Contracts"
          ],
          "security": [
            {
              "deelToken": []
            },
            {
              "oauth2": [
                "contracts:write",
                "contracts:read"
              ]
            }
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/ParamContractId"
            }
          ],
          "requestBody": {
            "$ref": "#/components/requestBodies/RequestFormForContractDocument"
          },
          "responses": {
            "200": {
              "$ref": "#/components/responses/ResponseBodyForContractDocument"
            },
            "400": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "401": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "403": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "404": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "405": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "429": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "500": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            }
          }
        },
        "put": {
          "operationId": "editContractDocument",
          "summary": "Edit the file attached to contract document.",
          "description": "Overwrite the file currently attached to contract document.",
          "tags": [
            "Contracts"
          ],
          "security": [
            {
              "deelToken": []
            },
            {
              "oauth2": [
                "contracts:write",
                "contracts:read"
              ]
            }
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/ParamContractId"
            }
          ],
          "requestBody": {
            "$ref": "#/components/requestBodies/RequestFormForContractDocument"
          },
          "responses": {
            "200": {
              "$ref": "#/components/responses/ResponseBodyForContractDocument"
            },
            "400": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "401": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "403": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "404": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "405": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "429": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "500": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            }
          }
        }
      },
      "/contracts/{contract_id}/preview": {
        "get": {
          "operationId": "getContractPreview",
          "summary": "Preview a contract agreement",
          "description": "Retrieve an IC contract agreement content in HTML. If no template is specified, the default or currently assigned template will be used. This endpoint does not support EOR and Global Payroll contract types.",
          "tags": [
            "Contractors"
          ],
          "security": [
            {
              "deelToken": []
            },
            {
              "oauth2": [
                "contracts:write",
                "contracts:read"
              ]
            }
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/ParamContractId"
            },
            {
              "$ref": "#/components/parameters/ParamContractTemplateIdInQuery"
            }
          ],
          "responses": {
            "200": {
              "$ref": "#/components/responses/ResponseBodyForContractPreview"
            },
            "400": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "401": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "403": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "404": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "405": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "429": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "500": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            }
          }
        }
      },
      "/contracts/{contract_id}/tasks": {
        "get": {
          "operationId": "getTasksByContract",
          "summary": "List of tasks",
          "description": "Retrieve a list of tasks for a given contract.",
          "tags": [
            "Tasks"
          ],
          "security": [
            {
              "deelToken": []
            },
            {
              "oauth2": [
                "contracts:write",
                "contracts:read"
              ]
            }
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/ParamContractId"
            }
          ],
          "responses": {
            "200": {
              "$ref": "#/components/responses/ResponseBodyForTaskList"
            },
            "400": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "401": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "403": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "404": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "405": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "429": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "500": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            }
          }
        },
        "post": {
          "operationId": "createContractPgoTak",
          "summary": "Create new task",
          "description": "Create a new task for the contractor.",
          "tags": [
            "Tasks"
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/ParamContractId"
            }
          ],
          "security": [
            {
              "deelToken": []
            },
            {
              "oauth2": [
                "contracts:write"
              ]
            }
          ],
          "requestBody": {
            "$ref": "#/components/requestBodies/RequestBodyToCreatePgoTask"
          },
          "responses": {
            "201": {
              "$ref": "#/components/responses/ResponseBodyForGenericResultCreated"
            },
            "400": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "401": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "403": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "404": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "405": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "429": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "500": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            }
          }
        }
      },
      "/contracts/{contract_id}/alternate_emails": {
        "get": {
          "operationId": "getAlternateEmailsByContractId",
          "summary": "Find contract emails by ID",
          "description": "Returns an array of alternate email objects",
          "tags": [
            "Contracts"
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/ParamContractId"
            }
          ],
          "security": [
            {
              "deelToken": []
            },
            {
              "oauth2": [
                "contracts:write",
                "contracts:read"
              ]
            }
          ],
          "responses": {
            "200": {
              "$ref": "#/components/responses/ResponseBodyForAlternateEmailList"
            },
            "400": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "401": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "403": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "404": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "500": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            }
          }
        }
      },
      "/contracts/{contract_id}/tasks/many/reviews": {
        "post": {
          "operationId": "createTaskManyReview",
          "summary": "Review multiple tasks",
          "description": "Review multiple tasks to approve or decline the submitted work.",
          "tags": [
            "Tasks"
          ],
          "security": [
            {
              "deelToken": []
            },
            {
              "oauth2": [
                "contracts:write"
              ]
            }
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/ParamContractId"
            }
          ],
          "requestBody": {
            "$ref": "#/components/requestBodies/RequestBodyToCreatePgoTaskReviewsReviews"
          },
          "responses": {
            "201": {
              "$ref": "#/components/responses/ResponseBodyForTaskList"
            },
            "400": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "401": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "403": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "404": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "405": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "429": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "500": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            }
          }
        }
      },
      "/contracts/{contract_id}/tasks/{task_id}/reviews": {
        "post": {
          "operationId": "createTaskReviewById",
          "summary": "Review a single task",
          "description": "Review a single task to approve or decline the submitted work.",
          "tags": [
            "Tasks"
          ],
          "security": [
            {
              "deelToken": []
            },
            {
              "oauth2": [
                "contracts:write"
              ]
            }
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/ParamContractId"
            },
            {
              "$ref": "#/components/parameters/ParamTaskId"
            }
          ],
          "requestBody": {
            "$ref": "#/components/requestBodies/RequestBodyToCreatePgoTaskReviewsByIdReviews"
          },
          "responses": {
            "201": {
              "$ref": "#/components/responses/ResponseBodyForTaskList"
            },
            "400": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "401": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "403": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "404": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "405": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "429": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "500": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            }
          }
        }
      },
      "/contracts/{contract_id}/tasks/{task_id}": {
        "delete": {
          "operationId": "deleteContractPgoTak",
          "summary": "Delete task",
          "description": "Delete task from the contract.",
          "tags": [
            "Tasks"
          ],
          "security": [
            {
              "deelToken": []
            },
            {
              "oauth2": [
                "contracts:write"
              ]
            }
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/ParamContractId"
            },
            {
              "$ref": "#/components/parameters/ParamTaskId"
            },
            {
              "$ref": "#/components/parameters/ParamTaskDeletionReason"
            }
          ],
          "responses": {
            "200": {
              "$ref": "#/components/responses/ResponseBodyForGenericResultDeleted"
            },
            "400": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "401": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "403": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "404": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "405": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "429": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "500": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            }
          }
        }
      },
      "/contracts/{contract_id}/amendments": {
        "post": {
          "operationId": "amendContractDetails",
          "summary": "Amend contract",
          "description": "Amend payment details of a contract.",
          "tags": [
            "Contractors"
          ],
          "security": [
            {
              "deelToken": []
            },
            {
              "oauth2": [
                "contracts:write"
              ]
            }
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/ParamContractId"
            }
          ],
          "requestBody": {
            "$ref": "#/components/requestBodies/RequestBodyToAmendContractDetails"
          },
          "responses": {
            "201": {
              "$ref": "#/components/responses/ResponseBodyForGenericResultCreated"
            },
            "400": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "401": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "403": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "404": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "405": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "429": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "500": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            }
          }
        }
      },
      "/contracts/{contract_id}/terminations": {
        "post": {
          "operationId": "terminateContract",
          "summary": "Terminate contract",
          "description": "Terminate an active contract.",
          "tags": [
            "Contractors"
          ],
          "security": [
            {
              "deelToken": []
            },
            {
              "oauth2": [
                "contracts:write"
              ]
            }
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/ParamContractId"
            }
          ],
          "requestBody": {
            "$ref": "#/components/requestBodies/RequestBodyToCreateContractTermination"
          },
          "responses": {
            "201": {
              "$ref": "#/components/responses/ResponseBodyForContractTerminationResult"
            },
            "400": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "401": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "403": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "404": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "405": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "429": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "500": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            }
          }
        }
      },
      "/contracts/{contract_id}/signatures": {
        "post": {
          "operationId": "signContract",
          "summary": "Sign a contract",
          "description": "Sign a contract as a client.",
          "tags": [
            "Contracts"
          ],
          "security": [
            {
              "deelToken": []
            },
            {
              "oauth2": [
                "contracts:write"
              ]
            }
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/ParamContractId"
            }
          ],
          "requestBody": {
            "$ref": "#/components/requestBodies/RequestBodyToCreateContractSignature"
          },
          "responses": {
            "201": {
              "$ref": "#/components/responses/ResponseBodyForGenericResultCreated"
            },
            "400": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "401": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "403": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "404": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "405": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "429": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "500": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            }
          }
        }
      },
      "/contracts/{contract_id}/archive": {
        "patch": {
          "operationId": "archiveContract",
          "summary": "Archive a contract",
          "description": "Archive a terminated, cancelled or completed contract.",
          "tags": [
            "Contracts"
          ],
          "security": [
            {
              "deelToken": []
            },
            {
              "oauth2": [
                "contracts:write"
              ]
            }
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/ParamContractId"
            }
          ],
          "responses": {
            "204": {
              "$ref": "#/components/responses/ResponseBodyForGenericResultUpdated"
            },
            "400": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "401": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "403": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "404": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "500": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            }
          }
        }
      },
      "/contracts/{contract_id}/invitations": {
        "post": {
          "operationId": "inviteToSignContract",
          "summary": "Send contract to worker",
          "description": "Invite a worker to sign the contract. Worker will be notified via email.",
          "tags": [
            "Contracts"
          ],
          "security": [
            {
              "deelToken": []
            },
            {
              "oauth2": [
                "contracts:write"
              ]
            }
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/ParamContractId"
            }
          ],
          "requestBody": {
            "$ref": "#/components/requestBodies/RequestBodyToCreateContractInvitation"
          },
          "responses": {
            "201": {
              "$ref": "#/components/responses/ResponseBodyForGenericResultCreated"
            },
            "400": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "401": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "403": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "404": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "405": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "429": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "500": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            }
          }
        },
        "delete": {
          "operationId": "uninviteToSignContract",
          "summary": "Remove invite",
          "description": "Remove invite in order to re-invite a worker to sign the contract.",
          "tags": [
            "Contracts"
          ],
          "security": [
            {
              "deelToken": []
            },
            {
              "oauth2": [
                "contracts:write"
              ]
            }
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/ParamContractId"
            }
          ],
          "responses": {
            "200": {
              "$ref": "#/components/responses/ResponseBodyForGenericResultDeleted"
            },
            "400": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "401": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "403": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "404": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "405": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "429": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "500": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            }
          }
        }
      },
      "/contracts/{contract_id}/timesheets": {
        "get": {
          "operationId": "getTimesheetsByContract",
          "summary": "List of timesheets by contract",
          "description": "Retrieve a list of timesheets found for a contract.",
          "tags": [
            "Timesheets"
          ],
          "security": [
            {
              "deelToken": []
            },
            {
              "oauth2": [
                "timesheets:write",
                "timesheets:read"
              ]
            }
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/ParamContractId"
            },
            {
              "$ref": "#/components/parameters/ParamTimesheetsContractTypeList"
            },
            {
              "$ref": "#/components/parameters/ParamTimesheetsStatusList"
            },
            {
              "$ref": "#/components/parameters/ParamTimesheetsReporterId"
            },
            {
              "$ref": "#/components/parameters/ParamDateFrom"
            },
            {
              "$ref": "#/components/parameters/ParamDateTo"
            },
            {
              "$ref": "#/components/parameters/ParamTimesheetsLimit"
            },
            {
              "$ref": "#/components/parameters/ParamTimesheetsOffset"
            }
          ],
          "responses": {
            "200": {
              "$ref": "#/components/responses/ResponseBodyForTimesheetList"
            },
            "400": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "401": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "403": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "404": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "405": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "429": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "500": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            }
          }
        }
      },
      "/contracts/{contract_id}/milestones": {
        "get": {
          "operationId": "getMilestonesByContract",
          "summary": "List of milestones by contract",
          "description": "Retrieve a list of milestones found for a contract.",
          "tags": [
            "Milestones"
          ],
          "security": [
            {
              "deelToken": []
            },
            {
              "oauth2": [
                "milestones:write",
                "milestones:read"
              ]
            }
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/ParamContractId"
            }
          ],
          "responses": {
            "200": {
              "$ref": "#/components/responses/ResponseBodyForMilestoneList"
            },
            "400": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "401": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "403": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "404": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "405": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "429": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "500": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            }
          }
        },
        "post": {
          "operationId": "createMilestone",
          "summary": "Create a milestone",
          "description": "Add a new milestone to contract.",
          "tags": [
            "Milestones"
          ],
          "security": [
            {
              "deelToken": []
            },
            {
              "oauth2": [
                "milestones:write"
              ]
            }
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/ParamContractId"
            }
          ],
          "requestBody": {
            "$ref": "#/components/requestBodies/RequestBodyToCreateMilestone"
          },
          "responses": {
            "200": {
              "$ref": "#/components/responses/ResponseBodyForGenericResultCreated"
            },
            "400": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "401": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "403": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "404": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "405": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "429": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "500": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            }
          }
        }
      },
      "/contracts/{contract_id}/milestones/{milestone_id}": {
        "get": {
          "operationId": "getMilestonesByContractAndId",
          "summary": "Retrieve a single milestone",
          "description": "Retrieve a single milestone.",
          "tags": [
            "Milestones"
          ],
          "security": [
            {
              "deelToken": []
            },
            {
              "oauth2": [
                "milestones:write",
                "milestones:read"
              ]
            }
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/ParamContractId"
            },
            {
              "$ref": "#/components/parameters/ParamMilestoneId"
            }
          ],
          "responses": {
            "200": {
              "$ref": "#/components/responses/ResponseBodyForMilestone"
            },
            "400": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "401": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "403": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "404": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "405": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "429": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "500": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            }
          }
        },
        "delete": {
          "operationId": "deleteMilestoneById",
          "summary": "Delete a milestone",
          "description": "Delete a single milestone from a contract.",
          "tags": [
            "Milestones"
          ],
          "security": [
            {
              "deelToken": []
            },
            {
              "oauth2": [
                "milestones:write"
              ]
            }
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/ParamContractId"
            },
            {
              "$ref": "#/components/parameters/ParamMilestoneId"
            }
          ],
          "responses": {
            "200": {
              "$ref": "#/components/responses/ResponseBodyForGenericResultDeleted"
            },
            "400": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "401": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "403": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "404": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "405": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "429": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "500": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            }
          }
        }
      },
      "/contracts/{contract_id}/milestones/{milestone_id}/reviews": {
        "post": {
          "operationId": "createMilestoneReview",
          "summary": "Review a single milestone",
          "description": "Review a milestone to approve or decline submitted work.",
          "tags": [
            "Milestones"
          ],
          "security": [
            {
              "deelToken": []
            },
            {
              "oauth2": [
                "milestones:write"
              ]
            }
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/ParamContractId"
            },
            {
              "$ref": "#/components/parameters/ParamMilestoneId"
            }
          ],
          "requestBody": {
            "$ref": "#/components/requestBodies/RequestBodyToCreateMilestoneReview"
          },
          "responses": {
            "201": {
              "$ref": "#/components/responses/ResponseBodyForGenericResultCreated"
            },
            "400": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "401": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "403": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "404": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "405": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "429": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "500": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            }
          }
        }
      },
      "/contracts/{contract_id}/milestones/many/reviews": {
        "post": {
          "operationId": "createMilestoneReviews",
          "summary": "Review multiple milestones",
          "description": "Review a batch of milestones to approve or reject submitted work.",
          "tags": [
            "Milestones"
          ],
          "security": [
            {
              "deelToken": []
            },
            {
              "oauth2": [
                "timesheets:write"
              ]
            }
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/ParamContractId"
            }
          ],
          "requestBody": {
            "$ref": "#/components/requestBodies/RequestBodyToCreateMilestoneReviews"
          },
          "responses": {
            "201": {
              "$ref": "#/components/responses/ResponseBodyForGenericResultCreated"
            },
            "400": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "401": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "403": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "404": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "405": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "429": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "500": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            }
          }
        }
      },
      "/contracts/{contract_id}/off-cycle-payments": {
        "get": {
          "operationId": "getOffCyclePaymentsByContract",
          "summary": "List of off-cycle payments",
          "description": "Retrieve a list of off-cycle payments for the given contract id.",
          "tags": [
            "Off-cycle Payments"
          ],
          "security": [
            {
              "deelToken": []
            },
            {
              "oauth2": [
                "off-cycle-payments:write",
                "off-cycle-payments:read"
              ]
            }
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/ParamContractId"
            }
          ],
          "responses": {
            "200": {
              "$ref": "#/components/responses/ResponseBodyForOffCyclePaymentList"
            },
            "400": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "401": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "403": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "404": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "405": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "429": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "500": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            }
          }
        },
        "post": {
          "operationId": "createOffCyclePayment",
          "summary": "Add off-cycle payment",
          "description": "Add a new invoice line-item for the purpose of off-cycle payment for a given contract.",
          "tags": [
            "Off-cycle Payments"
          ],
          "security": [
            {
              "deelToken": []
            },
            {
              "oauth2": [
                "off-cycle-payments:write"
              ]
            }
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/ParamContractId"
            }
          ],
          "requestBody": {
            "$ref": "#/components/requestBodies/RequestBodyToCreateOffCyclePayment"
          },
          "responses": {
            "200": {
              "$ref": "#/components/responses/ResponseBodyForGenericResultCreated"
            },
            "400": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "401": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "403": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "404": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "405": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "429": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "500": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            }
          }
        }
      },
      "/contracts/{contract_id}/off-cycle-payments/{offcycle_payment_id}": {
        "get": {
          "operationId": "getOffCyclePaymentByContractAndId",
          "summary": "Retrieve a single off-cycle payment",
          "description": "Retrieve a single off-cycle payment.",
          "tags": [
            "Off-cycle Payments"
          ],
          "security": [
            {
              "deelToken": []
            },
            {
              "oauth2": [
                "off-cycle-payments:write",
                "off-cycle-payments:read"
              ]
            }
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/ParamContractId"
            },
            {
              "$ref": "#/components/parameters/ParamOffCyclePaymentId"
            }
          ],
          "responses": {
            "200": {
              "$ref": "#/components/responses/ResponseBodyForOffCyclePayment"
            },
            "400": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "401": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "403": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "404": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "405": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "429": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "500": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            }
          }
        }
      },
      "/contracts/{contract_id}/premium": {
        "post": {
          "operationId": "addPremium",
          "summary": "Upgrade to Premium",
          "description": "Add additional protection against misclassification by upgrading to Deel Premium.",
          "tags": [
            "Contractors"
          ],
          "security": [
            {
              "deelToken": []
            },
            {
              "oauth2": [
                "contracts:write"
              ]
            }
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/ParamContractId"
            }
          ],
          "requestBody": {
            "$ref": "#/components/requestBodies/RequestBodyToAddPremium"
          },
          "responses": {
            "201": {
              "$ref": "#/components/responses/ResponseBodyForPremiumResultAdded"
            },
            "401": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "403": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "404": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "500": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            }
          }
        },
        "delete": {
          "operationId": "removePremiumFromContract",
          "summary": "Downgrade from Premium",
          "description": "Remove Deel Premium from an existing contract.",
          "tags": [
            "Contractors"
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/ParamContractId"
            },
            {
              "$ref": "#/components/parameters/ParamPremiumDeletionReason"
            }
          ],
          "security": [
            {
              "deelToken": []
            },
            {
              "oauth2": [
                "contracts:write"
              ]
            }
          ],
          "responses": {
            "200": {
              "$ref": "#/components/responses/ResponseBodyForGenericResultDeleted"
            },
            "400": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "401": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "403": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "404": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "405": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "429": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "500": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            }
          }
        }
      },
      "/contracts/{contract_id}/final-payments": {
        "get": {
          "x-internal": true,
          "operationId": "calculateFinalPayment",
          "summary": "Calculate final payment",
          "description": "Calculate the final payment due to the contractor when ending the contract.",
          "tags": [
            "Contracts"
          ],
          "security": [
            {
              "deelToken": []
            },
            {
              "oauth2": [
                "contracts:write",
                "contracts:read"
              ]
            }
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/ParamContractId"
            },
            {
              "$ref": "#/components/parameters/ParamEndDate"
            },
            {
              "$ref": "#/components/parameters/ParamFinalPaymentCalculationType"
            },
            {
              "$ref": "#/components/parameters/ParamFinalPaymentWorkweekStart"
            },
            {
              "$ref": "#/components/parameters/ParamFinalPaymentWorkweekEnd"
            }
          ],
          "responses": {
            "200": {
              "$ref": "#/components/responses/ResponseBodyForFinalPaymentCalculated"
            },
            "401": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "403": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "404": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "500": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            }
          }
        }
      },
      "/contracts/estimate": {
        "post": {
          "operationId": "postContractEstimate",
          "summary": "Calculate first payment amount",
          "description": "First payment is calculated from the number of working/calendar days between their start date and the start of the payment cycle.",
          "tags": [
            "Contracts"
          ],
          "security": [
            {
              "deelToken": []
            },
            {
              "oauth2": [
                "contracts:write"
              ]
            }
          ],
          "requestBody": {
            "$ref": "#/components/requestBodies/RequestBodyToEstimateFirstPayment"
          },
          "responses": {
            "200": {
              "$ref": "#/components/responses/ResponseBodyForEstimateFirstPayment"
            },
            "401": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "403": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "404": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "500": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            }
          }
        }
      },
      "/contracts/{contract_id}/time-offs": {
        "get": {
          "operationId": "getEorTimeOffs",
          "summary": "List time off by contract",
          "description": "Retrieve the list of time off requests by an employee.",
          "tags": [
            "Time Off"
          ],
          "security": [
            {
              "deelToken": []
            },
            {
              "oauth2": [
                "contracts:read",
                "contracts:write"
              ]
            }
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/ParamContractId"
            }
          ],
          "responses": {
            "200": {
              "$ref": "#/components/responses/ResponseBodyForEorTimeoffs"
            },
            "401": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "403": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "404": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "500": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            }
          }
        },
        "post": {
          "operationId": "createEorTimeOffs",
          "summary": "Add a time off request",
          "description": "Add a time off request for a full-time employee.",
          "tags": [
            "Time Off"
          ],
          "security": [
            {
              "deelToken": []
            },
            {
              "oauth2": [
                "contracts:write"
              ]
            }
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/ParamContractId"
            }
          ],
          "requestBody": {
            "$ref": "#/components/requestBodies/RequestBodyToCreateTimeoff"
          },
          "responses": {
            "201": {
              "$ref": "#/components/responses/ResponseBodyForEorTimeoffItem"
            },
            "401": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "403": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "404": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "500": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            }
          }
        }
      },
      "/contracts/{contract_id}/time-offs/{timeoff_id}": {
        "put": {
          "operationId": "editEorTimeOffs",
          "summary": "Edit a time off request",
          "description": "Edit a time off request for a full-time employee.",
          "tags": [
            "Time Off"
          ],
          "security": [
            {
              "deelToken": []
            },
            {
              "oauth2": [
                "contracts:write"
              ]
            }
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/ParamContractId"
            },
            {
              "$ref": "#/components/parameters/ParamTimeoffId"
            }
          ],
          "requestBody": {
            "$ref": "#/components/requestBodies/RequestBodyToCreateTimeoff"
          },
          "responses": {
            "201": {
              "$ref": "#/components/responses/ResponseBodyForEorTimeoffItem"
            },
            "401": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "403": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "404": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "500": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            }
          }
        },
        "delete": {
          "operationId": "deleteEorTimeOffs",
          "summary": "Cancel a time off request",
          "description": "Cancel a time off request for an employee.",
          "tags": [
            "Time Off"
          ],
          "security": [
            {
              "deelToken": []
            },
            {
              "oauth2": [
                "contracts:write"
              ]
            }
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/ParamContractId"
            },
            {
              "$ref": "#/components/parameters/ParamTimeoffId"
            }
          ],
          "responses": {
            "200": {
              "$ref": "#/components/responses/ResponseBodyForGenericResultDeleted"
            },
            "401": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "403": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "404": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "500": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            }
          }
        }
      },
      "/timesheets": {
        "get": {
          "operationId": "getTimesheets",
          "summary": "List of timesheets",
          "description": "Retrieve a list of timesheets in your Deel account. You can filter the list by providing additional paramters e.g. contract_id, contract_type etc.",
          "tags": [
            "Timesheets"
          ],
          "security": [
            {
              "deelToken": []
            },
            {
              "oauth2": [
                "timesheets:write",
                "timesheets:read"
              ]
            }
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/ParamTimesheetsContractId"
            },
            {
              "$ref": "#/components/parameters/ParamTimesheetsContractTypeList"
            },
            {
              "$ref": "#/components/parameters/ParamTimesheetsStatusList"
            },
            {
              "$ref": "#/components/parameters/ParamTimesheetsReporterId"
            },
            {
              "$ref": "#/components/parameters/ParamDateFrom"
            },
            {
              "$ref": "#/components/parameters/ParamDateTo"
            },
            {
              "$ref": "#/components/parameters/ParamTimesheetsLimit"
            },
            {
              "$ref": "#/components/parameters/ParamTimesheetsOffset"
            }
          ],
          "responses": {
            "200": {
              "$ref": "#/components/responses/ResponseBodyForTimesheetList"
            },
            "400": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "401": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "403": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "404": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "405": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "429": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "500": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            }
          }
        },
        "post": {
          "operationId": "createTimesheet",
          "summary": "Create a timesheet entry",
          "description": "Submit work for a contractor.",
          "tags": [
            "Timesheets"
          ],
          "security": [
            {
              "deelToken": []
            },
            {
              "oauth2": [
                "timesheets:write"
              ]
            }
          ],
          "requestBody": {
            "$ref": "#/components/requestBodies/RequestBodyToCreateTimesheet"
          },
          "responses": {
            "201": {
              "$ref": "#/components/responses/ResponseBodyForTimesheetCreated"
            },
            "400": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "401": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "403": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "404": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "405": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "429": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "500": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            }
          }
        }
      },
      "/timesheets/{timesheet_id}": {
        "get": {
          "operationId": "getTimesheetById",
          "summary": "Retrieve a single timesheet entry",
          "description": "Retrieve a single timesheet entry by Id.",
          "tags": [
            "Timesheets"
          ],
          "security": [
            {
              "deelToken": []
            },
            {
              "oauth2": [
                "timesheets:write",
                "timesheets:read"
              ]
            }
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/ParamTimesheetId"
            }
          ],
          "responses": {
            "200": {
              "$ref": "#/components/responses/ResponseBodyForTimesheetDetails"
            },
            "400": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "401": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "403": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "404": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "405": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "429": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "500": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            }
          }
        },
        "patch": {
          "operationId": "updateTimesheetById",
          "summary": "Update a timesheet entry",
          "description": "Update a single timesheet entry.",
          "tags": [
            "Timesheets"
          ],
          "security": [
            {
              "deelToken": []
            },
            {
              "oauth2": [
                "timesheets:write"
              ]
            }
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/ParamTimesheetId"
            }
          ],
          "requestBody": {
            "$ref": "#/components/requestBodies/RequestBodyToUpdateTimesheet"
          },
          "responses": {
            "200": {
              "$ref": "#/components/responses/ResponseBodyForGenericResultUpdated"
            },
            "400": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "401": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "403": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "404": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "405": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "429": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "500": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            }
          }
        },
        "delete": {
          "operationId": "deleteTimesheetById",
          "summary": "Delete a timesheet entry",
          "description": "Delete a single timesheet entry.",
          "tags": [
            "Timesheets"
          ],
          "security": [
            {
              "deelToken": []
            },
            {
              "oauth2": [
                "timesheets:write"
              ]
            }
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/ParamTimesheetId"
            },
            {
              "$ref": "#/components/parameters/ParamTimesheetDeletionReason"
            }
          ],
          "responses": {
            "200": {
              "$ref": "#/components/responses/ResponseBodyForGenericResultDeleted"
            },
            "400": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "401": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "403": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "404": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "405": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "429": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "500": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            }
          }
        }
      },
      "/timesheets/{timesheet_id}/reviews": {
        "post": {
          "operationId": "createTimesheetReview",
          "summary": "Review a single timesheet",
          "description": "Review a timesheet to approve or decline submitted work.",
          "tags": [
            "Timesheets"
          ],
          "security": [
            {
              "deelToken": []
            },
            {
              "oauth2": [
                "timesheets:write"
              ]
            }
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/ParamTimesheetId"
            }
          ],
          "requestBody": {
            "$ref": "#/components/requestBodies/RequestBodyToCreateTimesheetReview"
          },
          "responses": {
            "201": {
              "$ref": "#/components/responses/ResponseBodyForGenericResultCreated"
            },
            "400": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "401": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "403": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "404": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "405": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "429": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "500": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            }
          }
        }
      },
      "/timesheets/many/reviews": {
        "post": {
          "operationId": "createTimesheetReviews",
          "summary": "Review multiple timesheets",
          "description": "Review a batch of timesheets to approve or reject submitted work.",
          "tags": [
            "Timesheets"
          ],
          "security": [
            {
              "deelToken": []
            },
            {
              "oauth2": [
                "timesheets:write"
              ]
            }
          ],
          "requestBody": {
            "$ref": "#/components/requestBodies/RequestBodyToCreateTimesheetReviews"
          },
          "responses": {
            "201": {
              "$ref": "#/components/responses/ResponseBodyForGenericResultCreated"
            },
            "400": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "401": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "403": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "404": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "405": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "429": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "500": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            }
          }
        }
      },
      "/contracts/{contract_id}/invoice-adjustments": {
        "get": {
          "operationId": "getInvoiceAdjustmentsByContractId",
          "summary": "Invoice details by contract",
          "description": "Retrieve a list of invoice details for the given contract id.",
          "tags": [
            "Invoices"
          ],
          "security": [
            {
              "deelToken": []
            },
            {
              "oauth2": [
                "invoice-adjustments:write",
                "invoice-adjustments:read"
              ]
            }
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/ParamContractId"
            },
            {
              "$ref": "#/components/parameters/ParamInvoiceAdjustmentsContractTypeList"
            },
            {
              "$ref": "#/components/parameters/ParamInvoiceAdjustmentsTypeList"
            },
            {
              "$ref": "#/components/parameters/ParamInvoiceAdjustmentsStatusList"
            },
            {
              "$ref": "#/components/parameters/ParamInvoiceAdjustmentsInvoiceId"
            },
            {
              "$ref": "#/components/parameters/ParamInvoiceAdjustmentsReporterId"
            },
            {
              "$ref": "#/components/parameters/ParamInvoiceAdjustmentsDateFrom"
            },
            {
              "$ref": "#/components/parameters/ParamInvoiceAdjustmentsDateTo"
            },
            {
              "$ref": "#/components/parameters/ParamInvoiceAdjustmentsLimit"
            },
            {
              "$ref": "#/components/parameters/ParamInvoiceAdjustmentsOffset"
            }
          ],
          "responses": {
            "200": {
              "$ref": "#/components/responses/ResponseBodyForInvoiceAdjustmentList"
            },
            "400": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "401": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "403": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "404": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "405": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "429": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "500": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            }
          }
        }
      },
      "/invoice-adjustments": {
        "get": {
          "operationId": "getInvoiceAdjustments",
          "summary": "List of invoice details",
          "description": "Retrieve a list of invoice details. You can filter the list by providing additional paramters e.g. contract_id, contract_type etc.",
          "tags": [
            "Invoices"
          ],
          "security": [
            {
              "deelToken": []
            },
            {
              "oauth2": [
                "invoice-adjustments:write",
                "invoice-adjustments:read"
              ]
            }
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/ParamInvoiceAdjustmentsContractId"
            },
            {
              "$ref": "#/components/parameters/ParamInvoiceAdjustmentsContractTypeList"
            },
            {
              "$ref": "#/components/parameters/ParamInvoiceAdjustmentsTypeList"
            },
            {
              "$ref": "#/components/parameters/ParamInvoiceAdjustmentsStatusList"
            },
            {
              "$ref": "#/components/parameters/ParamInvoiceAdjustmentsInvoiceId"
            },
            {
              "$ref": "#/components/parameters/ParamInvoiceAdjustmentsReporterId"
            },
            {
              "$ref": "#/components/parameters/ParamInvoiceAdjustmentsDateFrom"
            },
            {
              "$ref": "#/components/parameters/ParamInvoiceAdjustmentsDateTo"
            },
            {
              "$ref": "#/components/parameters/ParamInvoiceAdjustmentsLimit"
            },
            {
              "$ref": "#/components/parameters/ParamInvoiceAdjustmentsOffset"
            }
          ],
          "responses": {
            "200": {
              "$ref": "#/components/responses/ResponseBodyForInvoiceAdjustmentList"
            },
            "400": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "401": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "403": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "404": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "405": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "429": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "500": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            }
          }
        },
        "post": {
          "operationId": "createInvoiceAdjustment",
          "summary": "Create an invoice adjustment",
          "description": "Create an invoice adjustment using this endpoint. For example, you can add a bonus, commission, VAT %, deduction etc. to an invoice.",
          "tags": [
            "Invoices"
          ],
          "security": [
            {
              "deelToken": []
            },
            {
              "oauth2": [
                "invoice-adjustments:write"
              ]
            }
          ],
          "requestBody": {
            "$ref": "#/components/requestBodies/RequestBodyToCreateInvoiceAdjustment"
          },
          "responses": {
            "201": {
              "$ref": "#/components/responses/ResponseBodyForInvoiceAdjustmentCreated"
            },
            "400": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "401": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "403": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "404": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "405": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "429": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "500": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            }
          }
        }
      },
      "/invoice-adjustments/{invoice_adjustment_id}": {
        "patch": {
          "operationId": "updateInvoiceAdjustmentById",
          "summary": "Update an invoice adjustment",
          "description": "Update an existing invoice adjustment. It is not possible to update VAT adjustments, we recommend you to delete the existing VAT adjust and create a new one.",
          "tags": [
            "Invoices"
          ],
          "security": [
            {
              "deelToken": []
            },
            {
              "oauth2": [
                "invoice-adjustments:write"
              ]
            }
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/ParamInvoiceAdjustmentId"
            }
          ],
          "requestBody": {
            "$ref": "#/components/requestBodies/RequestBodyToUpdateInvoiceAdjustment"
          },
          "responses": {
            "200": {
              "$ref": "#/components/responses/ResponseBodyForGenericResultUpdated"
            },
            "400": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "401": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "403": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "404": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "405": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "429": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "500": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            }
          }
        },
        "delete": {
          "operationId": "deleteInvoiceAdjustmentById",
          "summary": "Delete an invoice adjustment",
          "description": "Update an existing invoice adjustment.",
          "tags": [
            "Invoices"
          ],
          "security": [
            {
              "deelToken": []
            },
            {
              "oauth2": [
                "invoice-adjustments:write"
              ]
            }
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/ParamInvoiceAdjustmentId"
            },
            {
              "$ref": "#/components/parameters/ParamInvoiceAdjustmentDeletionReason"
            }
          ],
          "responses": {
            "200": {
              "$ref": "#/components/responses/ResponseBodyForGenericResultDeleted"
            },
            "400": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "401": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "403": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "404": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "405": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "429": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "500": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            }
          }
        }
      },
      "/invoice-adjustments/{invoice_adjustment_id}/reviews": {
        "post": {
          "operationId": "createInvoiceAdjustmentReview",
          "summary": "Review an invoice adjustment",
          "description": "Review an invoice adjustment to approve or decline it.",
          "tags": [
            "Invoices"
          ],
          "security": [
            {
              "deelToken": []
            },
            {
              "oauth2": [
                "invoice-adjustments:write"
              ]
            }
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/ParamInvoiceAdjustmentId"
            }
          ],
          "requestBody": {
            "$ref": "#/components/requestBodies/RequestBodyToCreateInvoiceAdjustmentReview"
          },
          "responses": {
            "201": {
              "$ref": "#/components/responses/ResponseBodyForGenericResultCreated"
            },
            "400": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "401": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "403": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "404": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "405": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "429": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "500": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            }
          }
        }
      },
      "/invoice-adjustments/many/reviews": {
        "post": {
          "operationId": "createInvoiceAdjustmentReviews",
          "summary": "Bulk review invoice adjustments",
          "description": "Review multiple invoice adjustments to approve or decline a batch.",
          "tags": [
            "Invoices"
          ],
          "security": [
            {
              "deelToken": []
            },
            {
              "oauth2": [
                "invoice-adjustments:write"
              ]
            }
          ],
          "requestBody": {
            "$ref": "#/components/requestBodies/RequestBodyToCreateInvoiceAdjustmentReviews"
          },
          "responses": {
            "201": {
              "$ref": "#/components/responses/ResponseBodyForGenericResultCreated"
            },
            "400": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "401": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "403": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "404": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "405": {
              "$ref": "#/components/responses/ResponseBodyForApiError"
            },
            "429": {
[...]
