{
  "type": "openapi",
  "value": {
    "openapi": "3.0.3",
    "info": {
      "title": "Default Content Type",
      "version": "v1"
    },
    "servers": [
      {
        "url": "https://ai.com"
      }
    ],
    "paths": {
      "/generateContent": {
        "post": {
          "tags": [
            "generativelanguage"
          ],
          "operationId": "GenerateContent",
          "parameters": [
            {
              "name": "model",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "default": {
              "description": "Successful operation",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/GenerateContentResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "components": {
      "schemas": {
        "GenerateContentResponse": {
          "properties": {
            "bar": {
              "type": "string"
            }
          }
        }
      }
    }
  },
  "settings": {
    "disableExamples": false,
    "discriminatedUnionV2": false,
    "useTitlesAsName": true,
    "optionalAdditionalProperties": true,
    "coerceEnumsToLiterals": true,
    "respectReadonlySchemas": false,
    "respectNullableSchemas": false,
    "onlyIncludeReferencedSchemas": false,
    "inlinePathParameters": false,
    "preserveSchemaIds": false,
    "shouldUseUndiscriminatedUnionsWithLiterals": false,
    "shouldUseIdiomaticRequestNames": false,
    "objectQueryParameters": false,
    "asyncApiNaming": "v1",
    "useBytesForBinaryResponse": false,
    "respectForwardCompatibleEnums": false,
    "additionalPropertiesDefaultsTo": false,
    "typeDatesAsStrings": true,
    "preserveSingleSchemaOneOf": false,
    "inlineAllOfSchemas": false,
    "resolveAliases": false,
    "groupMultiApiEnvironments": false,
    "groupEnvironmentsByHost": false,
    "wrapReferencesToNullableInOptional": true,
    "coerceOptionalSchemasToNullable": true
  }
}