{
  "type": "openapi",
  "value": {
    "openapi": "3.0.0",
    "info": {
      "version": "1.0.0",
      "title": "Test API"
    },
    "servers": [
      {
        "url": "http://prod.api.com",
        "x-fern-server-name": "Prod"
      }
    ],
    "paths": {
      "/pets": {
        "get": {
          "operationId": "list",
          "parameters": [
            {
              "name": "limit",
              "schema": {
                "type": "integer"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "A response",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "settings": {
    "disableExamples": false,
    "discriminatedUnionV2": false,
    "useTitlesAsName": false,
    "optionalAdditionalProperties": true,
    "coerceEnumsToLiterals": true,
    "respectReadonlySchemas": false,
    "respectNullableSchemas": true,
    "onlyIncludeReferencedSchemas": false,
    "inlinePathParameters": true,
    "preserveSchemaIds": false,
    "objectQueryParameters": true,
    "shouldUseUndiscriminatedUnionsWithLiterals": false,
    "shouldUseIdiomaticRequestNames": true,
    "asyncApiNaming": "v1",
    "useBytesForBinaryResponse": false,
    "respectForwardCompatibleEnums": false,
    "additionalPropertiesDefaultsTo": false,
    "typeDatesAsStrings": false,
    "preserveSingleSchemaOneOf": false,
    "inlineAllOfSchemas": false,
    "resolveAliases": false,
    "groupMultiApiEnvironments": false,
    "groupEnvironmentsByHost": false,
    "wrapReferencesToNullableInOptional": false,
    "coerceOptionalSchemasToNullable": false,
    "removeDiscriminantsFromSchemas": "always"
  }
}