{
  "type": "openapi",
  "value": {
    "openapi": "3.0.0",
    "info": {
      "description": "",
      "title": "Flagright API",
      "contact": {},
      "version": "1.0"
    },
    "servers": [
      {
        "url": "https://sandbox.api.flagright.com",
        "variables": {}
      }
    ],
    "paths": {
      "/transactions": {
        "post": {
          "security": [
            {
              "x-api-key": []
            }
          ],
          "summary": "Verify a Transaction",
          "description": "## POST Transactions\n\n`/transactions` endpoint allows you to operate on the [Transaction entity.](https://docs.flagright.com/docs/flagright-api/8c06ae6a3231a-entities-and-relationships#transaction)\n\nIn order to pass the payload of a transaction to Flagright and verify the transaciton, you will need to call this endpoint with the transaction payload. Not all fields are mandatory, you will only need to pass in the fields that you have and are relevant for your compliance setup. \n\n\n### Payload\n\nHere are some of the most used payload fields explained (you can find the full payload [schema below](https://docs.flagright.com/docs/flagright-api/87742ed31b30e-verify-a-transaction#request-body) with 1 line descriptions):\n\n* `type`: Type of transaction (Ex: `WITHDRAWAL`, `DEPOSIT`, `TRANSFER` etc). \n* `transactionId` - Unique Identifier for the transaction. Flagright API will generate a `transactionId` if this field is left empty\n* `timestamp` - UNIX timestamp in *milliseconds* of when the transaction took place\n* `transactionState` - The state of the transaction, set to `CREATED` by default. [More details here](https://docs.flagright.com/docs/flagright-api/8c06ae6a3231a-entities-and-relationships-in-the-api#transaction-lifecycle-through-transaction-events)\n* `originUserId` - Unique identifier (if any) of the user who is sending the money. This user must be created within the Flagright system before using the [create a consumer user](https://docs.flagright.com/docs/flagright-api/18132cd454603-create-a-consumer-user) or [create a business user](https://docs.flagright.com/docs/flagright-api/f651463db29d8-create-a-business-user) endpoint\n* `destinationUserId` - Unique identifier (if any) of the user who is receiving the money. This user must be created within the Flagright system before using the [create a consumer user](https://docs.flagright.com/docs/flagright-api/18132cd454603-create-a-consumer-user) or [create a business user](https://docs.flagright.com/docs/flagright-api/f651463db29d8-create-a-business-user) endpoint\n* `originAmountDetails` - Details of the amount being sent from the origin\n* `destinationAmountDetails` - Details of the amount being received at the destination\n* `originPaymentDetails` - Payment details (if any) used at the origin (ex: `CARD`, `IBAN`, `WALLET` etc). You can click on the dropdown next to the field in the schema below to view all supported payment types.\n* `destinationPaymentDetails` - Payment details (if any) used at the destination (ex: `CARD`, `IBAN`, `WALLET` etc). You can click on the dropdown next to the field in the schema below to view all supported payment types.",
          "operationId": "post-consumer-transaction",
          "parameters": [
            {
              "schema": {
                "type": "string"
              },
              "in": "query",
              "name": "validateOriginUserId",
              "description": "Boolean string whether Flagright should validate if provided originUserId exist. True by default"
            },
            {
              "schema": {
                "type": "string"
              },
              "in": "query",
              "description": "Boolean string whether Flagright should validate if provided destinationUserId exist. True by default",
              "name": "validateDestinationUserId"
            }
          ],
          "requestBody": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "transactionId": "7b80a539eea6e78acbd6d458e5971482",
                      "originUserId": "8650a2611d0771cba03310f74bf6",
                      "destinationUserId": "9350a2611e0771cba03310f74bf6",
                      "originAmountDetails": {
                        "country": "DE",
                        "transactionAmount": 800,
                        "transactionCurrency": "EUR"
                      },
                      "destinationAmountDetails": {
                        "country": "IN",
                        "transactionAmount": 68351.34,
                        "transactionCurrency": "INR"
                      },
                      "promotionCodeUsed": true,
                      "timestamp": 1641654664000,
                      "originPaymentDetails": {
                        "method": "CARD",
                        "cardFingerprint": "20ac00fed8ef913aefb17cfae1097cce",
                        "cardIssuedCountry": "US",
                        "transactionReferenceField": "Deposit",
                        "3dsDone": true
                      },
                      "destinationPaymentDetails": {
                        "method": "CARD",
                        "cardFingerprint": "20ac00fed8ef913aefb17cfae1097cce",
                        "cardIssuedCountry": "IN",
                        "transactionReferenceField": "Deposit",
                        "3dsDone": true
                      },
                      "reference": "loan repayment",
                      "deviceData": {
                        "batteryLevel": 95,
                        "deviceLatitude": 13.0033,
                        "deviceLongitude": 76.1004,
                        "ipAddress": "10.23.191.2",
                        "deviceIdentifier": "3c49f915d04485e34caba",
                        "vpnUsed": false,
                        "operatingSystem": "Android 11.2",
                        "deviceMaker": "ASUS",
                        "deviceModel": "Zenphone M2 Pro Max",
                        "deviceYear": "2018",
                        "appVersion": "1.1.0"
                      },
                      "tags": [
                        {
                          "key": "customKey",
                          "value": "customValue"
                        }
                      ]
                    }
                  }
                }
              }
            },
            "required": false
          },
          "responses": {
            "201": {
              "description": "Created",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/TransactionMonitoringResult"
                      },
                      {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    ]
                  },
                  "examples": {
                    "example-1": {
                      "value": {
                        "transactionId": "7b80a539eea6e78acbd6d458e5971482",
                        "executedRules": [
                          {
                            "ruleId": "R-1a",
                            "ruleName": "Proof of funds for high value transactions",
                            "ruleDescription": "If a user makes a remittance transaction >= 1800 in EUR - ask for proof of funds",
                            "ruleAction": "BLOCK",
                            "ruleHit": true
                          }
                        ],
                        "hitRules": [
                          {
                            "ruleId": "R-1a",
                            "ruleName": "Proof of funds for high value transactions",
                            "ruleDescription": "If a user makes a remittance transaction >= 1800 in EUR - ask for proof of funds",
                            "ruleAction": "BLOCK"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "headers": {},
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "headers": {},
              "content": {}
            },
            "429": {
              "description": "Too Many Requests",
              "headers": {},
              "content": {}
            }
          },
          "deprecated": false,
          "tags": []
        }
      },
      "/transactions/{transactionId}": {
        "get": {
          "security": [
            {
              "x-api-key": []
            }
          ],
          "summary": "Retrieve a Transaction",
          "description": "### GET Transactions\n\n`/transactions` endpoint allows you to operate on the [Transaction entity](https://docs.flagright.com/docs/flagright-api/8c06ae6a3231a-entities-and-relationships#transaction).\n\nCalling `GET /transactions/{transactionId}` will return the entire transaction payload and rule execution results for the transaction with the corresponding `transactionId`",
          "operationId": "get-consumer-transaction",
          "parameters": [
            {
              "name": "transactionId",
              "in": "path",
              "description": "Unique Transaction Identifier",
              "required": true,
              "style": "simple",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/TransactionWithRulesResult"
                  },
                  "examples": {
                    "example-1": {
                      "value": {
                        "transactionId": "7b80a539eea6e78acbd6d458e5971482",
                        "originUserId": "8650a2611d0771cba03310f74bf6",
                        "destinationUserId": "9350a2611e0771cba03310f74bf6",
                        "originAmountDetails": {
                          "country": "DE",
                          "transactionAmount": 800,
                          "transactionCurrency": "EUR"
                        },
                        "destinationAmountDetails": {
                          "country": "IN",
                          "transactionAmount": 68351.34,
                          "transactionCurrency": "INR"
                        },
                        "promotionCodeUsed": true,
                        "timestamp": 1641654664000,
                        "originPaymentDetails": {
                          "method": "CARD",
                          "cardFingerprint": "20ac00fed8ef913aefb17cfae1097cce",
                          "cardIssuedCountry": "US",
                          "transactionReferenceField": "Deposit",
                          "3dsDone": true
                        },
                        "destinationPaymentDetails": {
                          "method": "CARD",
                          "cardFingerprint": "20ac00fed8ef913aefb17cfae1097cce",
                          "cardIssuedCountry": "IN",
                          "transactionReferenceField": "Deposit",
                          "3dsDone": true
                        },
                        "reference": "loan repayment",
                        "deviceData": {
                          "batteryLevel": 95,
                          "deviceLatitude": 13.0033,
                          "deviceLongitude": 76.1004,
                          "ipAddress": "10.23.191.2",
                          "deviceIdentifier": "3c49f915d04485e34caba",
                          "vpnUsed": false,
                          "operatingSystem": "Android 11.2",
                          "deviceMaker": "ASUS",
                          "deviceModel": "Zenphone M2 Pro Max",
                          "deviceYear": "2018",
                          "appVersion": "1.1.0"
                        },
                        "tags": [
                          {
                            "key": "customKey",
                            "value": "customValue"
                          }
                        ],
                        "executedRules": [
                          {
                            "ruleId": "R-1a",
                            "ruleName": "Proof of funds for high value transactions",
                            "ruleDescription": "If a user makes a remittance transaction >= 1800 in EUR - ask for proof of funds",
                            "ruleAction": "BLOCK",
                            "ruleHit": true
                          }
                        ],
                        "hitRules": [
                          {
                            "ruleId": "R-1a",
                            "ruleName": "Proof of funds for high value transactions",
                            "ruleDescription": "If a user makes a remittance transaction >= 1800 in EUR - ask for proof of funds",
                            "ruleAction": "BLOCK"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "headers": {},
              "content": {}
            },
            "429": {
              "description": "Too Many Requests",
              "headers": {},
              "content": {}
            }
          },
          "deprecated": false,
          "tags": []
        }
      },
      "/events/transaction": {
        "post": {
          "security": [
            {
              "x-api-key": []
            }
          ],
          "summary": "Create a Transaction Event",
          "description": "## POST Transaction Events\n\n`/events/transaction` endpoint allows you to operate on the [Transaction Events entity.](https://docs.flagright.com/docs/flagright-api/8c06ae6a3231a-entities-and-relationships#transaction-event)\n\nTransaction events are created after the initial `POST /transactions` call (which creates a transaction) and are used to:\n\n* Update the STATE of the transaction, using the `transactionState` field and manage the [Transaction Lifecycle](https://docs.flagright.com/docs/flagright-api/8c06ae6a3231a-entities-and-relationships#transaction-lifecycle-through-transaction-events)\n* Update the transaction details, using the `updatedTransactionAttributes` field.\n\n> If you have neither of the above two use cases, you do not need to use transaction events. \n\n### Payload\n\nEach transaction event needs three mandatory fields:\n\n* `transactionState` - STATE of the transaction -> value is set to `CREATED` after `POST /transactions` call\n* `timestamp`- the timestamp of when the event was created or occured in your system\n* `transactionId` - The ID of the transaction for which this event is generated. \n\nIn order to make individual events retrievable, you also need to pass in a unique `eventId` to the request body.\n",
          "operationId": "post-transaction-event",
          "parameters": [],
          "requestBody": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionEvent"
                },
                "examples": {
                  "example-2": {
                    "value": {
                      "timestamp": 1431231244001,
                      "transactionId": "443dea26147a406b957d9ee3a1247b11",
                      "transactionState": "SUCCESSFUL",
                      "eventId": "aaeeb166147a406b957dd9147a406b957",
                      "eventDescription": "Transaction created",
                      "metaData": {
                        "batteryLevel": 76.3,
                        "deviceLatitude": 13.009711,
                        "deviceLongitude": 76.102898,
                        "ipAddress": "79.144.2.20",
                        "vpnUsed": true
                      }
                    }
                  }
                }
              }
            },
            "required": false
          },
          "responses": {
            "201": {
              "description": "Created",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/TransactionEventMonitoringResult"
                  },
                  "examples": {
                    "example-1": {
                      "value": {
                        "eventId": "7b80a539eea6e78acbd6d458e5971482",
                        "transaction": {
                          "transactionId": "7b80a539eea6e78acbd6d458e5971482",
                          "originUserId": "8650a2611d0771cba03310f74bf6",
                          "destinationUserId": "9350a2611e0771cba03310f74bf6",
                          "originAmountDetails": {
                            "country": "DE",
                            "transactionAmount": 800,
                            "transactionCurrency": "EUR"
                          },
                          "destinationAmountDetails": {
                            "country": "IN",
                            "transactionAmount": 68351.34,
                            "transactionCurrency": "INR"
                          },
                          "promotionCodeUsed": true,
                          "timestamp": 1641654664000,
                          "originPaymentDetails": {
                            "method": "CARD",
                            "cardFingerprint": "20ac00fed8ef913aefb17cfae1097cce",
                            "cardIssuedCountry": "US",
                            "transactionReferenceField": "Deposit",
                            "3dsDone": true
                          },
                          "destinationPaymentDetails": {
                            "method": "CARD",
                            "cardFingerprint": "20ac00fed8ef913aefb17cfae1097cce",
                            "cardIssuedCountry": "IN",
                            "transactionReferenceField": "Deposit",
                            "3dsDone": true
                          },
                          "reference": "loan repayment",
                          "deviceData": {
                            "batteryLevel": 95,
                            "deviceLatitude": 13.0033,
                            "deviceLongitude": 76.1004,
                            "ipAddress": "10.23.191.2",
                            "deviceIdentifier": "3c49f915d04485e34caba",
                            "vpnUsed": false,
                            "operatingSystem": "Android 11.2",
                            "deviceMaker": "ASUS",
                            "deviceModel": "Zenphone M2 Pro Max",
                            "deviceYear": "2018",
                            "appVersion": "1.1.0"
                          },
                          "tags": [
                            {
                              "key": "customKey",
                              "value": "customValue"
                            }
                          ]
                        },
                        "executedRules": [
                          {
                            "ruleId": "R-1a",
                            "ruleName": "Proof of funds for high value transactions",
                            "ruleDescription": "If a user makes a remittance transaction >= 1800 in EUR - ask for proof of funds",
                            "ruleAction": "BLOCK",
                            "ruleHit": true
                          }
                        ],
                        "hitRules": [
                          {
                            "ruleId": "R-1a",
                            "ruleName": "Proof of funds for high value transactions",
                            "ruleDescription": "If a user makes a remittance transaction >= 1800 in EUR - ask for proof of funds",
                            "ruleAction": "BLOCK"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "headers": {},
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "headers": {},
              "content": {}
            },
            "429": {
              "description": "Too Many Requests",
              "headers": {},
              "content": {}
            }
          },
          "deprecated": false,
          "tags": [],
          "x-internal": false
        }
      },
      "/consumer/users": {
        "post": {
          "security": [
            {
              "x-api-key": []
            }
          ],
          "summary": "Create a Consumer User",
          "description": "## POST Consumer User\n\n`/consumer/user` endpoint allows you to operate on the [Consumer user entity.](https://docs.flagright.com/docs/flagright-api/8c06ae6a3231a-entities-and-relationships#user)\n\nIn order to pass the payload of a User to Flagright and verify the User, you will need to call this endpoint with the User payload. Not all fields are mandatory, you will only need to pass in the fields that you have and are relevant for your compliance setup.\n\n### Payload\n\nEach consumer User entity needs three mandatory fields:\n\n* `userId` - Unique identifier for the user\n* `createdTimestamp` - UNIX timestamp in *milliseconds* for when the User is created in your system\n",
          "operationId": "post-consumer-user",
          "parameters": [],
          "requestBody": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "createdTimestamp": 1641654664000,
                      "userId": "96647cfd9e8fe66ee0f3362e011e34e8",
                      "userDetails": {
                        "name": {
                          "firstName": "Baran",
                          "middleName": "Realblood",
                          "lastName": "Ozkan"
                        },
                        "dateOfBirth": "1991-01-01",
                        "countryOfResidence": "US",
                        "countryOfNationality": "DE"
                      },
                      "legalDocuments": [
                        {
                          "documentType": "passport",
                          "documentNumber": "Z9431P",
                          "documentIssuedDate": 1639939034000,
                          "documentExpirationDate": 1839939034000,
                          "documentIssuedCountry": "DE",
                          "tags": [
                            {
                              "key": "customerType",
                              "value": "wallet"
                            }
                          ]
                        }
                      ],
                      "contactDetails": {
                        "emailIds": [
                          "baran@flagright.com"
                        ],
                        "contactNumbers": [
                          "+37112345432"
                        ],
                        "websites": [
                          "flagright.com"
                        ],
                        "addresses": [
                          {
                            "addressLines": [
                              "Klara-Franke Str 20"
                            ],
                            "postcode": "10557",
                            "city": "Berlin",
                            "state": "Berlin",
                            "country": "Germany",
                            "tags": [
                              {
                                "key": "customKey",
                                "value": "customValue"
                              }
                            ]
                          }
                        ]
                      },
                      "tags": [
                        {
                          "key": "customKey",
                          "value": "customValue"
                        }
                      ]
                    }
                  }
                }
              }
            },
            "required": false
          },
          "responses": {
            "201": {
              "description": "Created",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/ConsumerUsersResponse"
                      },
                      {
                        "$ref": "#/components/schemas/UserMonitoringResult"
                      },
                      {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    ]
                  },
                  "examples": {
                    "example-1": {
                      "value": {
                        "userId": "96647cfd9e8fe66ee0f3362e011e34e8"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request"
            },
            "401": {
              "description": "Unauthorized",
              "headers": {},
              "content": {}
            },
            "429": {
              "description": "Too Many Requests",
              "headers": {},
              "content": {}
            }
          },
          "deprecated": false,
          "tags": []
        }
      },
      "/consumer/users/{userId}": {
        "get": {
          "security": [
            {
              "x-api-key": []
            }
          ],
          "summary": "Retrieve a Consumer User",
          "description": "### GET Consumer User\n\n`/consumer/user` endpoint allows you to operate on the [Consumer User entity](https://docs.flagright.com/docs/flagright-api/8c06ae6a3231a-entities-and-relationships#user).\n\nCalling `GET /consumer/user/{userId}` will return the entire user payload and rule execution results for the user with the corresponding `userId`",
          "operationId": "get-consumer-user",
          "parameters": [
            {
              "name": "userId",
              "in": "path",
              "description": "",
              "required": true,
              "style": "simple",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/User"
                  },
                  "examples": {
                    "example-1": {
                      "value": {
                        "createdTimestamp": 1641654664000,
                        "userId": "96647cfd9e8fe66ee0f3362e011e34e8",
                        "userDetails": {
                          "name": {
                            "firstName": "Baran",
                            "middleName": "Realblood",
                            "lastName": "Ozkan"
                          },
                          "dateOfBirth": "1991-01-01",
                          "countryOfResidence": "US",
                          "countryOfNationality": "DE"
                        },
                        "legalDocuments": [
                          {
                            "documentType": "passport",
                            "documentNumber": "Z9431P",
                            "documentIssuedDate": 1639939034000,
                            "documentExpirationDate": 1839939034000,
                            "documentIssuedCountry": "DE",
                            "tags": [
                              {
                                "key": "customerType",
                                "value": "wallet"
                              }
                            ]
                          }
                        ],
                        "contactDetails": {
                          "emailIds": [
                            "baran@flagright.com"
                          ],
                          "contactNumbers": [
                            "+37112345432"
                          ],
                          "websites": [
                            "flagright.com"
                          ],
                          "addresses": [
                            {
                              "addressLines": [
                                "Klara-Franke Str 20"
                              ],
                              "postcode": "10557",
                              "city": "Berlin",
                              "state": "Berlin",
                              "country": "Germany",
                              "tags": [
                                {
                                  "key": "customKey",
                                  "value": "customValue"
                                }
                              ]
                            }
                          ]
                        },
                        "tags": [
                          {
                            "key": "customKey",
                            "value": "customValue"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "headers": {},
              "content": {}
            },
            "429": {
              "description": "Too Many Requests",
              "headers": {},
              "content": {}
            }
          },
          "deprecated": false,
          "tags": []
        }
      },
      "/business/users": {
        "post": {
          "security": [
            {
              "x-api-key": []
            }
          ],
          "summary": "Create a Business User",
          "description": "## POST Business User\n\n`/business/user` endpoint allows you to operate on the [Business user entity.](https://docs.flagright.com/docs/flagright-api/8c06ae6a3231a-entities-and-relationships#user)\n\nIn order to pass the payload of a User to Flagright and verify the User, you will need to call this endpoint with the User payload. Not all fields are mandatory, you will only need to pass in the fields that you have and are relevant for your compliance setup.\n\n### Payload\n\n\nEach consumer Business entity needs three mandatory fields:\n\n* `userId` - Unique identifier for the user\n* `legalEntity` - Details of the business legal entity (CompanyGeneralDetails, FinancialDetails etc) - only `legalName`in `CompanyGeneralDetails` is mandatory\n* `createdTimestamp` - UNIX timestamp in *milliseconds* for when the User is created in your system",
          "operationId": "post-business-user",
          "parameters": [],
          "requestBody": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Business"
                }
              }
            },
            "required": false
          },
          "responses": {
            "201": {
              "description": "Created",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/BusinessUsersResponse"
                      },
                      {
                        "$ref": "#/components/schemas/UserMonitoringResult"
                      },
                      {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    ]
                  },
                  "examples": {
                    "example-1": {
                      "value": {
                        "userId": "96647cfd9e8fe66ee0f3362e011e34e8"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request"
            },
            "401": {
              "description": "Unauthorized",
              "headers": {},
              "content": {}
            },
            "429": {
              "description": "Too Many Requests",
              "headers": {},
              "content": {}
            }
          },
          "deprecated": false,
          "tags": []
        }
      },
      "/business/users/{userId}": {
        "get": {
          "security": [
            {
              "x-api-key": []
            }
          ],
          "summary": "Retrieve a Business User",
          "description": "### GET Business User\n\n`/business/user` endpoint allows you to operate on the [Business User entity](https://docs.flagright.com/docs/flagright-api/8c06ae6a3231a-entities-and-relationships#user).\n\nCalling `GET /business/user/{userId}` will return the entire User payload and rule execution results for the User with the corresponding `userId`",
          "operationId": "get-business-user-userId",
          "parameters": [
            {
              "name": "userId",
              "in": "path",
              "description": "",
              "required": true,
              "style": "simple",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Business"
                  },
                  "examples": {
                    "example-2": {
                      "value": {
                        "createdTimestamp": 1641654664000,
                        "userId": "96647cfd9e8fe66ee0f3362e011e34e8",
                        "legalEntity": {
                          "companyGeneralDetails": {
                            "legalName": "Ozkan Hazelnut Export JSC",
                            "businessIndustry": [
                              "Farming"
                            ],
                            "mainProductsServicesSold": [
                              "Hazelnut"
                            ]
                          },
                          "companyFinancialDetails": {
                            "expectedTransactionAmountPerMonth": {
                              "amountValue": 800,
                              "amountCurrency": "GBP"
                            },
                            "expectedTurnoverPerMonth": {
                              "amountValue": 8000,
                              "amountCurrency": "USD"
                            }
                          },
                          "companyRegistrationDetails": {
                            "registrationIdentifier": "PSJ554342",
                            "registrationCountry": "DE"
                          },
                          "reasonForAccountOpening": [
                            "string"
                          ],
                          "contactDetails": {
                            "addresses": [
                              {
                                "addressLines": [
                                  "Klara-Franke Str 20"
                                ],
                                "postcode": "10557",
                                "city": "Berlin",
                                "state": "Berlin",
                                "country": "Germany",
                                "tags": [
                                  {
                                    "key": "customKey",
                                    "value": "customValue"
                                  }
                                ]
                              }
                            ]
                          }
                        },
                        "shareHolders": [
                          {
                            "generalDetails": {
                              "name": {
                                "firstName": "Baran",
                                "middleName": "Realblood",
                                "lastName": "Ozkan"
                              },
                              "dateOfBirth": "1991-01-01",
                              "countryOfResidence": "US",
                              "countryOfNationality": "DE"
                            },
                            "legalDocuments": [
                              {
                                "documentType": "passport",
                                "documentNumber": "Z9431P",
                                "documentIssuedDate": 1639939034000,
                                "documentExpirationDate": 1839939034000,
                                "documentIssuedCountry": "DE",
                                "tags": [
                                  {
                                    "key": "customerType",
                                    "value": "wallet"
                                  }
                                ]
                              }
                            ],
                            "contactDetails": {
                              "emailIds": [
                                "baran@flagright.com"
                              ],
                              "contactNumbers": [
                                "+371 123132"
                              ],
                              "websites": [
                                "flagright.com"
                              ],
                              "addresses": [
                                {
                                  "addressLines": [
                                    "Klara-Franke Str 20"
                                  ],
                                  "postcode": "10557",
                                  "city": "Berlin",
                                  "state": "Berlin",
                                  "country": "Germany",
                                  "tags": [
                                    {
                                      "key": "customKey",
                                      "value": "customValue"
                                    }
                                  ]
                                }
                              ]
                            },
                            "tags": [
                              {
                                "key": "customKey",
                                "value": "customValue"
                              }
                            ]
                          }
                        ],
                        "directors": [
                          {
                            "generalDetails": {
                              "name": {
                                "firstName": "Baran",
                                "middleName": "Realblood",
                                "lastName": "Ozkan"
                              },
                              "dateOfBirth": "1991-01-01",
                              "countryOfResidence": "US",
                              "countryOfNationality": "DE"
                            },
                            "legalDocuments": [
                              {
                                "documentType": "passport",
                                "documentNumber": "Z9431P",
                                "documentIssuedDate": 1639939034000,
                                "documentExpirationDate": 1839939034000,
                                "documentIssuedCountry": "DE",
                                "tags": [
                                  {
                                    "key": "customerType",
                                    "value": "wallet"
                                  }
                                ]
                              }
                            ],
                            "contactDetails": {
                              "emailIds": [
                                "baran@flagright.com"
                              ],
                              "contactNumbers": [
                                "+371 123132"
                              ],
                              "websites": [
                                "flagright.com"
                              ],
                              "addresses": [
                                {
                                  "addressLines": [
                                    "Klara-Franke Str 20"
                                  ],
                                  "postcode": "10557",
                                  "city": "Berlin",
                                  "state": "Berlin",
                                  "country": "Germany",
                                  "tags": [
                                    {
                                      "key": "customKey",
                                      "value": "customValue"
                                    }
                                  ]
                                }
                              ]
                            },
                            "tags": [
                              {
                                "key": "customKey",
                                "value": "customValue"
                              }
                            ]
                          }
                        ],
                        "tags": [
                          {
                            "key": "customKey",
                            "value": "customValue"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "headers": {},
              "content": {}
            },
            "429": {
              "description": "Too Many Requests",
              "headers": {},
              "content": {}
            }
          },
          "deprecated": false,
          "tags": []
        }
      },
      "/events/consumer/user": {
        "post": {
          "security": [
            {
              "x-api-key": []
            }
          ],
          "summary": "Create a Consumer User Event",
          "description": "## POST Consumer User Events\n\n`/events/consumer/user` endpoint allows you to operate on the Consumer User Events entity.\n\nUser events are created after the initial `POST /consumer/users` call (which creates a user) and are used to:\n\n* Update the STATE and KYC Status of the user, using the `userStateDetails` or `kycStatusDetails` field\n* Update the user details, using the `updatedConsumerUserAttributes` field.\n\n> If you have neither of the above two use cases, you do not need to use user events. \n\n### Payload\n\nEach user event needs three mandatory fields:\n\n* `timestamp`- the timestamp of when the event was created or occured in your system\n* `userId` - The ID of the transaction for which this event is generated. \n\nIn order to make individual events retrievable, you also need to pass in a unique `eventId` to the request body.\n",
          "operationId": "post-user-event",
          "parameters": [],
          "requestBody": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsumerUserEvent"
                }
              }
            },
            "required": false
          },
          "responses": {
            "201": {
              "description": "Created",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/UserWithRulesResult"
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request"
            },
            "401": {
              "description": "Unauthorized",
              "headers": {},
              "content": {}
            },
            "429": {
              "description": "Too Many Requests",
              "headers": {},
              "content": {}
            }
          },
          "deprecated": false,
          "tags": [],
          "x-internal": false
        }
      },
      "/events/business/user": {
        "post": {
          "security": [
            {
              "x-api-key": []
            }
          ],
          "summary": "Create a Business User Event",
          "description": "## POST Business User Events\n\n`/events/business/user` endpoint allows you to operate on the Business User Events entity.\n\nUser events are created after the initial `POST /business/users` call (which creates a user) and are used to:\n\n* Update the STATE and KYC Status of the user, using the `userStateDetails` or `kycStatusDetails` field\n* Update the user details, using the `updatedBusinessUserAttributes` field.\n\n> If you have neither of the above two use cases, you do not need to use user events. \n\n### Payload\n\nEach user event needs three mandatory fields:\n\n* `timestamp`- the timestamp of when the event was created or occured in your system\n* `userId` - The ID of the transaction for which this event is generated. \n\nIn order to make individual events retrievable, you also need to pass in a unique `eventId` to the request body.\n",
          "operationId": "post-business-user-event",
          "parameters": [],
          "requestBody": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessUserEvent"
                }
              }
            },
            "required": false
          },
          "responses": {
            "201": {
              "description": "Created",
              "headers": {},
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BusinessWithRulesResult"
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request"
            },
            "401": {
              "description": "Unauthorized",
              "headers": {},
              "content": {}
            },
            "429": {
              "description": "Too Many Requests",
              "headers": {},
              "content": {}
            }
          },
          "deprecated": false,
          "tags": [],
          "x-internal": false
        }
      }
    },
    "components": {
      "schemas": {
        "Address": {
          "title": "Address",
          "required": [
            "addressLines",
            "postcode",
            "city",
            "country"
          ],
          "type": "object",
          "properties": {
            "addressLines": {
              "type": "array",
              "items": {},
              "description": "Address lines of the user's residence address"
            },
            "postcode": {
              "minLength": 1,
              "type": "string",
              "description": "Post code of the user's residence address"
            },
            "city": {
              "minLength": 1,
              "type": "string",
              "description": "City of the user's residence address"
            },
            "state": {
              "minLength": 1,
              "type": "string",
              "description": "State of the user's residence address"
            },
            "country": {
              "minLength": 1,
              "type": "string",
              "description": "User's country of residence"
            },
            "tags": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Tag"
              },
              "description": "Additional information that can be added via tags"
            }
          },
          "description": "Model for standardized address",
          "example": {
            "addressLines": [
              "Klara-Franke Str 20"
            ],
            "postcode": "10557",
            "city": "Berlin",
            "state": "Berlin",
            "country": "Germany",
            "tags": [
              {
                "key": "customKey",
                "value": "customValue"
              }
            ]
          }
        },
        "UserBase": {
          "title": "UserBase",
          "type": "object",
          "description": "Model for User details",
          "example": {
            "createdTimestamp": 1641654664000,
            "userId": "96647cfd9e8fe66ee0f3362e011e34e8",
            "userDetails": {
              "name": {
                "firstName": "Baran",
                "middleName": "Realblood",
                "lastName": "Ozkan"
              },
              "dateOfBirth": "1991-01-01",
              "countryOfResidence": "US",
              "countryOfNationality": "DE"
            },
            "legalDocuments": [
              {
                "documentType": "passport",
                "documentNumber": "Z9431P",
                "documentIssuedDate": 1639939034000,
                "documentExpirationDate": 1839939034000,
                "documentIssuedCountry": "DE",
                "tags": [
                  {
                    "key": "customerType",
                    "value": "wallet"
                  }
                ]
              }
            ],
            "contactDetails": {
              "emailIds": [
                "baran@flagright.com"
              ],
              "contactNumbers": [
                "+37112345432"
              ],
              "websites": [
                "flagright.com"
              ],
              "addresses": [
                {
                  "addressLines": [
                    "Klara-Franke Str 20"
                  ],
                  "postcode": "10557",
                  "city": "Berlin",
                  "state": "Berlin",
                  "country": "Germany",
                  "tags": [
                    {
                      "key": "customKey",
                      "value": "customValue"
                    }
                  ]
                }
              ]
            },
            "tags": [
              {
                "key": "customKey",
                "value": "customValue"
              }
            ]
          },
          "x-examples": {
            "example-1": {
              "userId": "96647cfd9e8fe66ee0f3362e011e34e8",
              "userDetails": {
                "name": {
                  "firstName": "Baran",
                  "middleName": "Realblood",
                  "lastName": "Ozkan"
                },
                "dateOfBirth": {
                  "day": 1,
                  "month": 1,
                  "year": 1990
                },
                "countryOfResidence": "US",
                "countryOfNationality": "DE"
              },
              "legalDocuments": [
                {
                  "documentType": "passport",
                  "documentNumber": "Z9431P",
                  "documentIssuedDate": 1639939034000,
                  "documentExpirationDate": 1839939034000,
                  "documentIssuedCountry": "DE",
                  "tags": [
                    {
                      "key": "customerType",
                      "value": "wallet"
                    }
                  ]
                }
              ],
              "contactDetails": {
                "emailIds": [
                  "baran@flagright.com"
                ],
                "contactNumbers": [
                  "+37112345432"
                ],
                "websites": [
                  "flagright.com"
                ],
                "addresses": [
                  {
                    "addressLines": [
                      "Klara-Franke Str 20"
                    ],
                    "postcode": "10557",
                    "city": "Berlin",
                    "state": "Berlin",
                    "country": "Germany",
                    "tags": [
                      {
                        "key": "customKey",
                        "value": "customValue"
                      }
                    ]
                  }
                ]
              },
              "tags": [
                {
                  "key": "customKey",
                  "value": "customValue"
                }
              ]
            }
          },
          "properties": {
            "userId": {
              "minLength": 1,
              "type": "string",
              "description": "Unique user ID"
            },
            "userDetails": {
              "$ref": "#/components/schemas/UserDetails"
            },
            "createdTimestamp": {
              "type": "number",
              "minimum": 1262300400000,
              "description": "Timestamp when userId is created",
              "maximum": 4133890801000
            }
          },
          "required": [
            "userId",
            "createdTimestamp"
          ]
        },
        "UserOptional": {
          "title": "UserOptional",
          "type": "object",
          "description": "Model for User details",
          "example": {
            "createdTimestamp": 1641654664000,
            "userId": "96647cfd9e8fe66ee0f3362e011e34e8",
            "userDetails": {
              "name": {
                "firstName": "Baran",
                "middleName": "Realblood",
                "lastName": "Ozkan"
              },
              "dateOfBirth": "1991-01-01",
              "countryOfResidence": "US",
              "countryOfNationality": "DE"
            },
            "legalDocuments": [
              {
                "documentType": "passport",
                "documentNumber": "Z9431P",
                "documentIssuedDate": 1639939034000,
                "documentExpirationDate": 1839939034000,
                "documentIssuedCountry": "DE",
                "tags": [
                  {
                    "key": "customerType",
                    "value": "wallet"
                  }
                ]
              }
            ],
            "contactDetails": {
              "emailIds": [
                "baran@flagright.com"
              ],
              "contactNumbers": [
                "+37112345432"
              ],
              "websites": [
                "flagright.com"
              ],
              "addresses": [
                {
                  "addressLines": [
                    "Klara-Franke Str 20"
                  ],
                  "postcode": "10557",
                  "city": "Berlin",
                  "state": "Berlin",
                  "country": "Germany",
                  "tags": [
                    {
                      "key": "customKey",
                      "value": "customValue"
                    }
                  ]
                }
              ]
            },
            "tags": [
              {
                "key": "customKey",
                "value": "customValue"
              }
            ]
          },
          "x-examples": {
            "example-1": {
              "userId": "96647cfd9e8fe66ee0f3362e011e34e8",
              "userDetails": {
                "name": {
                  "firstName": "Baran",
                  "middleName": "Realblood",
                  "lastName": "Ozkan"
                },
                "dateOfBirth": {
                  "day": 1,
                  "month": 1,
                  "year": 1990
                },
                "countryOfResidence": "US",
                "countryOfNationality": "DE"
              },
              "legalDocuments": [
                {
                  "documentType": "passport",
                  "documentNumber": "Z9431P",
                  "documentIssuedDate": 1639939034000,
                  "documentExpirationDate": 1839939034000,
                  "documentIssuedCountry": "DE",
                  "tags": [
                    {
                      "key": "customerType",
                      "value": "wallet"
                    }
                  ]
                }
              ],
              "contactDetails": {
                "emailIds": [
                  "baran@flagright.com"
                ],
                "contactNumbers": [
                  "+37112345432"
                ],
                "websites": [
                  "flagright.com"
                ],
                "addresses": [
                  {
                    "addressLines": [
                      "Klara-Franke Str 20"
                    ],
                    "postcode": "10557",
                    "city": "Berlin",
                    "state": "Berlin",
                    "country": "Germany",
                    "tags": [
                      {
                        "key": "customKey",
                        "value": "customValue"
                      }
                    ]
                  }
                ]
              },
              "tags": [
                {
                  "key": "customKey",
                  "value": "customValue"
                }
              ]
            }
          },
          "properties": {
            "userStateDetails": {
              "$ref": "#/components/schemas/UserStateDetails"
            },
            "kycStatusDetails": {
              "$ref": "#/components/schemas/KYCStatusDetails"
            },
            "legalDocuments": {
              "type": "array",
              "description": "User's legal identity documents - See Document Model for details",
              "items": {
                "$ref": "#/components/schemas/LegalDocument"
              }
            },
            "contactDetails": {
              "$ref": "#/components/schemas/ContactDetails"
            },
            "transactionLimits": {
              "$ref": "#/components/schemas/TransactionLimits"
            },
            "riskLevel": {
              "$ref": "#/components/schemas/RiskLevel"
            },
            "acquisitionChannel": {
              "$ref": "#/components/schemas/AcquisitionChannel"
            },
            "reasonForAccountOpening": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "userSegment": {
              "type": "string",
              "enum": [
                "RETAIL",
                "PROFESSIONAL"
              ]
            },
            "pepStatus": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/PEPStatus"
              }
            },
            "tags": {
              "type": "array",
              "description": "Additional information that can be added via tags",
              "items": {
                "$ref": "#/components/schemas/Tag"
              }
            }
          }
        },
        "User": {
          "title": "User",
          "description": "Model for User details",
          "example": {
            "createdTimestamp": 1641654664000,
            "userId": "96647cfd9e8fe66ee0f3362e011e34e8",
            "userDetails": {
              "name": {
                "firstName": "Baran",
                "middleName": "Realblood",
                "lastName": "Ozkan"
              },
              "dateOfBirth": "1991-01-01",
              "countryOfResidence": "US",
              "countryOfNationality": "DE"
            },
            "legalDocuments": [
              {
                "documentType": "passport",
                "documentNumber": "Z9431P",
                "documentIssuedDate": 1639939034000,
                "documentExpirationDate": 1839939034000,
                "documentIssuedCountry": "DE",
                "tags": [
                  {
                    "key": "customerType",
                    "value": "wallet"
                  }
                ]
              }
            ],
            "contactDetails": {
              "emailIds": [
                "baran@flagright.com"
              ],
              "contactNumbers": [
                "+37112345432"
              ],
              "websites": [
                "flagright.com"
              ],
              "addresses": [
                {
                  "addressLines": [
                    "Klara-Franke Str 20"
                  ],
                  "postcode": "10557",
                  "city": "Berlin",
                  "state": "Berlin",
                  "country": "Germany",
                  "tags": [
                    {
                      "key": "customKey",
                      "value": "customValue"
                    }
                  ]
                }
              ]
            },
            "tags": [
              {
                "key": "customKey",
                "value": "customValue"
              }
            ]
          },
          "x-examples": {
            "example-1": {
              "userId": "96647cfd9e8fe66ee0f3362e011e34e8",
              "userDetails": {
                "name": {
                  "firstName": "Baran",
                  "middleName": "Realblood",
                  "lastName": "Ozkan"
                },
                "dateOfBirth": {
                  "day": 1,
                  "month": 1,
                  "year": 1990
                },
                "countryOfResidence": "US",
                "countryOfNationality": "DE"
              },
              "legalDocuments": [
                {
                  "documentType": "passport",
                  "documentNumber": "Z9431P",
                  "documentIssuedDate": 1639939034000,
                  "documentExpirationDate": 1839939034000,
                  "documentIssuedCountry": "DE",
                  "tags": [
                    {
                      "key": "customerType",
                      "value": "wallet"
                    }
                  ]
                }
              ],
              "contactDetails": {
                "emailIds": [
                  "baran@flagright.com"
                ],
                "contactNumbers": [
                  "+37112345432"
                ],
                "websites": [
                  "flagright.com"
                ],
                "addresses": [
                  {
                    "addressLines": [
                      "Klara-Franke Str 20"
                    ],
                    "postcode": "10557",
                    "city": "Berlin",
                    "state": "Berlin",
                    "country": "Germany",
                    "tags": [
                      {
                        "key": "customKey",
                        "value": "customValue"
                      }
                    ]
                  }
                ]
              },
              "tags": [
                {
                  "key": "customKey",
                  "value": "customValue"
                }
              ]
            }
          },
          "allOf": [
            {
              "$ref": "#/components/schemas/UserBase"
            },
            {
              "$ref": "#/components/schemas/UserOptional"
            }
          ]
        },
        "Person": {
          "title": "Person",
          "type": "object",
          "properties": {
            "generalDetails": {
              "$ref": "#/components/schemas/UserDetails"
            },
            "legalDocuments": {
              "type": "array",
              "description": "User's legal identity documents - See Document Model for details",
              "items": {
                "$ref": "#/components/schemas/LegalDocument"
              }
            },
            "contactDetails": {
              "$ref": "#/components/schemas/ContactDetails"
            },
            "pepStatus": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/PEPStatus"
              }
            },
            "tags": {
              "type": "array",
              "description": "Additional information that can be added via tags",
              "items": {
                "$ref": "#/components/schemas/Tag"
              }
            }
          },
          "required": [
            "generalDetails"
          ],
          "description": "Model for a generic individual - different from User model by not having userId field",
          "example": {
            "generalDetails": {
              "name": {
                "firstName": "Baran",
                "middleName": "Realblood",
                "lastName": "Ozkan"
              },
              "dateOfBirth": "1991-01-01",
              "countryOfResidence": "US",
              "countryOfNationality": "DE"
            },
            "legalDocuments": [
              {
                "documentType": "passport",
                "documentNumber": "Z9431P",
                "documentIssuedDate": 1639939034000,
                "documentExpirationDate": 1839939034000,
                "documentIssuedCountry": "DE",
                "tags": [
                  {
                    "key": "customerType",
                    "value": "wallet"
                  }
                ]
              }
            ],
            "contactDetails": {
              "emailIds": [
                "baran@flagright.com"
              ],
              "contactNumbers": [
                "+371 123132"
              ],
              "websites": [
                "flagright.com"
              ],
              "addresses": [
                {
                  "addressLines": [
                    "Klara-Franke Str 20"
                  ],
                  "postcode": "10557",
                  "city": "Berlin",
                  "state": "Berlin",
                  "country": "Germany",
                  "tags": [
                    {
                      "key": "customKey",
                      "value": "customValue"
                    }
                  ]
                }
              ]
            },
            "tags": [
              {
                "key": "customKey",
                "value": "customValue"
              }
            ]
          }
        },
        "LegalDocument": {
          "title": "LegalDocument",
          "required": [
            "documentType",
            "documentNumber",
            "documentIssuedCountry"
          ],
          "type": "object",
          "properties": {
            "documentType": {
              "minLength": 1,
              "type": "string",
              "description": "User's identity document type such as passport, national ID etc."
            },
            "documentNumber": {
              "minLength": 1,
              "type": "string",
              "description": "User's unique identity document number such as passport number"
            },
            "documentIssuedDate": {
              "type": "number",
              "description": "User's identity document issuance date (UNIX timestamp in milliseconds)"
            },
            "documentExpirationDate": {
              "type": "number",
              "description": "User's identity document expiration date (UNIX timestamp in milliseconds)"
            },
            "documentIssuedCountry": {
              "$ref": "#/components/schemas/CountryCode"
            },
            "tags": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Tag"
              },
              "description": "Additional information that can be added via tags"
            },
            "nameOnDocument": {
              "$ref": "#/components/schemas/ConsumerName"
            }
          },
          "description": "LegalDocument model generalizes User's identity document type (ex: Passport)",
          "example": {
            "documentType": "passport",
            "documentNumber": "Z9431P",
            "documentIssuedDate": 1639939034000,
            "documentExpirationDate": 1839939034000,
            "documentIssuedCountry": "DE",
            "tags": [
              {
                "key": "customerType",
                "value": "wallet"
              }
            ]
          }
        },
        "Tag": {
          "title": "Tag",
          "required": [
            "key",
            "value"
          ],
          "type": "object",
          "properties": {
            "key": {
              "minLength": 1,
              "type": "string",
              "description": "Key value when you are creating a custom variable"
            },
            "value": {
              "minLength": 1,
              "type": "string",
              "description": "Value for a given key when you are creating a custom variable"
            }
          },
          "description": "Generic key-value pair model to append a custom variable being sent to Flagright API",
          "example": {
            "key": "customKey",
            "value": "customValue"
          }
        },
        "Transaction": {
          "allOf": [
            {
              "$ref": "#/components/schemas/TransactionBase"
            },
            {
              "$ref": "#/components/schemas/TransactionUpdatable"
            }
          ]
        },
        "TransactionUpdatable": {
          "title": "TransactionUpdatable",
          "type": "object",
          "description": "Model for transaction additional payload",
          "example": {
            "originAmountDetails": {
              "country": "DE",
              "transactionAmount": 800,
              "transactionCurrency": "EUR"
            },
            "destinationAmountDetails": {
              "country": "IN",
              "transactionAmount": 68351.34,
              "transactionCurrency": "INR"
            },
            "promotionCodeUsed": true,
            "timestamp": 1641654664000,
            "originPaymentDetails": {
              "method": "CARD",
              "cardFingerprint": "20ac00fed8ef913aefb17cfae1097cce",
              "cardIssuedCountry": "US",
              "transactionReferenceField": "Deposit",
              "3dsDone": true
            },
            "destinationPaymentDetails": {
              "method": "CARD",
              "cardFingerprint": "20ac00fed8ef913aefb17cfae1097cce",
              "cardIssuedCountry": "IN",
              "transactionReferenceField": "Deposit",
              "3dsDone": true
            },
            "reference": "loan repayment",
            "deviceData": {
              "batteryLevel": 95,
              "deviceLatitude": 13.0033,
              "deviceLongitude": 76.1004,
              "ipAddress": "10.23.191.2",
              "deviceIdentifier": "3c49f915d04485e34caba",
              "vpnUsed": false,
              "operatingSystem": "Android 11.2",
              "deviceMaker": "ASUS",
              "deviceModel": "Zenphone M2 Pro Max",
              "deviceYear": "2018",
              "appVersion": "1.1.0"
            },
            "tags": [
              {
                "key": "customKey",
                "value": "customValue"
              }
            ]
          },
          "x-examples": {
            "example-1": {
              "originAmountDetails": {
                "country": "DE",
                "transactionAmount": 800,
                "transactionCurrency": "EUR"
              },
              "destinationAmountDetails": {
                "country": "IN",
                "transactionAmount": 68351.34,
                "transactionCurrency": "INR"
              },
              "promotionCodeUsed": true,
              "timestamp": 1641654664,
              "originPaymentDetails": {
                "method": "CARD",
                "cardFingerprint": "20ac00fed8ef913aefb17cfae1097cce",
                "cardIssuedCountry": "US",
                "transactionReferenceField": "Deposit",
                "3dsDone": true
              },
              "destinationPaymentDetails": {
                "method": "CARD",
                "cardFingerprint": "20ac00fed8ef913aefb17cfae1097cce",
                "cardIssuedCountry": "IN",
                "transactionReferenceField": "Deposit",
                "3dsDone": true
              },
              "reference": "loan repayment",
              "deviceData": {
                "batteryLevel": 95,
                "deviceLatitude": 13.0033,
                "deviceLongitude": 76.1004,
                "ipAddress": "10.23.191.2",
                "deviceIdentifier": "3c49f915d04485e34caba",
                "vpnUsed": false,
                "operatingSystem": "Android 11.2",
                "deviceMaker": "ASUS",
                "deviceModel": "Zenphone M2 Pro Max",
                "deviceYear": "2018",
                "appVersion": "1.1.0"
              },
              "tags": [
                {
                  "key": "customKey",
                  "value": "customValue"
                }
              ]
            }
          },
          "properties": {
            "transactionState": {
              "$ref": "#/components/schemas/TransactionState"
            },
            "originAmountDetails": {
              "$ref": "#/components/schemas/TransactionAmountDetails"
            },
            "destinationAmountDetails": {
              "$ref": "#/components/schemas/TransactionAmountDetails"
            },
            "originPaymentDetails": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/CardDetails"
                },
                {
                  "$ref": "#/components/schemas/GenericBankAccountDetails"
                },
                {
                  "$ref": "#/components/schemas/IBANDetails"
                },
                {
                  "$ref": "#/components/schemas/ACHDetails"
                },
                {
                  "$ref": "#/components/schemas/SWIFTDetails"
                },
                {
                  "$ref": "#/components/schemas/MpesaDetails"
                },
                {
                  "$ref": "#/components/schemas/UPIDetails"
                },
                {
                  "$ref": "#/components/schemas/WalletDetails"
                },
                {
                  "$ref": "#/components/schemas/CheckDetails"
                }
              ],
              "description": "Payment details of the origin. It can be a bank account number, wallet ID, card fingerprint etc."
            },
            "destinationPaymentDetails": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/CardDetails"
                },
                {
                  "$ref": "#/components/schemas/GenericBankAccountDetails"
                },
                {
                  "$ref": "#/components/schemas/IBANDetails"
                },
                {
                  "$ref": "#/components/schemas/ACHDetails"
                },
                {
                  "$ref": "#/components/schemas/UPIDetails"
                },
                {
                  "$ref": "#/components/schemas/WalletDetails"
                },
                {
                  "$ref": "#/components/schemas/SWIFTDetails"
                },
                {
                  "$ref": "#/components/schemas/MpesaDetails"
                },
                {
                  "$ref": "#/components/schemas/CheckDetails"
                }
              ],
              "example": {
                "method": "CARD",
                "cardFingerprint": "20ac00fed8ef913aefb17cfae1097cce",
                "cardIssuedCountry": "TR",
                "transactionReferenceField": "Deposit",
                "3dsDone": true
              },
              "description": "Payment details of the destination. It can be a bank account number, wallet ID, card fingerprint etc."
            },
            "relatedTransactionIds": {
              "type": "array",
              "description": "IDs of transactions related to this transaction. Ex: refund, split bills",
              "items": {
                "type": "string"
              }
            },
            "productType": {
              "type": "string",
              "description": "Type of produce being used by the consumer (ex wallets, payments etc)"
            },
            "promotionCodeUsed": {
              "type": "boolean",
              "description": "Whether a promotion code was used or not the transaction"
            },
            "reference": {
              "minLength": 1,
              "type": "string",
              "description": "Reference field for the transaction indicating the purpose of the transaction etc."
            },
            "deviceData": {
              "$ref": "#/components/schemas/DeviceData"
            },
            "tags": {
              "type": "array",
              "description": "Additional information that can be added via tags",
              "items": {
                "$ref": "#/components/schemas/Tag"
              }
            }
          }
        },
        "TransactionBase": {
          "title": "TransactionBase",
          "type": "object",
          "description": "Model for transaction base Payload",
          "example": {
            "transactionId": "7b80a539eea6e78acbd6d458e5971482",
            "originUserId": "8650a2611d0771cba03310f74bf6",
            "destinationUserId": "9350a2611e0771cba03310f74bf6",
            "timestamp": 1262300400111
          },
          "x-examples": {
            "example-1": {
              "transactionId": "7b80a539eea6e78acbd6d458e5971482",
              "originUserId": "8650a2611d0771cba03310f74bf6",
              "destinationUserId": "9350a2611e0771cba03310f74bf6"
            }
          },
          "properties": {
            "type": {
              "$ref": "#/components/schemas/TransactionType"
            },
            "transactionId": {
              "minLength": 1,
              "type": "string",
              "description": "Unique transaction identifier"
            },
            "timestamp": {
              "type": "number",
              "minimum": 1262300400000,
              "description": "Timestamp of when transaction took place",
              "maximum": 4133890801000
            },
            "originUserId": {
              "type": "string",
              "description": "UserId for where the transaction originates from"
            },
            "destinationUserId": {
              "type": "string",
              "description": "UserId for transaction's destination. In other words, where the value is being transferred to."
            }
          },
          "required": [
            "transactionId",
            "timestamp"
          ]
        },
        "TransactionWithRulesResult": {
          "title": "TransactionWithRulesResult",
          "description": "Model for transaction payload with rules result",
          "example": {
            "transactionId": "7b80a539eea6e78acbd6d458e5971482",
            "originUserId": "8650a2611d0771cba03310f74bf6",
            "destinationUserId": "9350a2611e0771cba03310f74bf6",
            "originAmountDetails": {
              "country": "DE",
              "transactionAmount": 800,
              "transactionCurrency": "EUR"
            },
            "destinationAmountDetails": {
              "country": "IN",
              "transactionAmount": 68351.34,
              "transactionCurrency": "INR"
            },
            "promotionCodeUsed": true,
            "timestamp": 1641654664,
            "originPaymentDetails": {
              "method": "CARD",
              "cardFingerprint": "20ac00fed8ef913aefb17cfae1097cce",
              "cardIssuedCountry": "US",
              "transactionReferenceField": "Deposit",
              "3dsDone": true
            },
            "destinationPaymentDetails": {
              "method": "CARD",
              "cardFingerprint": "20ac00fed8ef913aefb17cfae1097cce",
              "cardIssuedCountry": "IN",
              "transactionReferenceField": "Deposit",
              "3dsDone": true
            },
            "reference": "loan repayment",
            "deviceData": {
              "batteryLevel": 95,
              "deviceLatitude": 13.0033,
              "deviceLongitude": 76.1004,
              "ipAddress": "10.23.191.2",
              "deviceIdentifier": "3c49f915d04485e34caba",
              "vpnUsed": false,
              "operatingSystem": "Android 11.2",
              "deviceMaker": "ASUS",
              "deviceModel": "Zenphone M2 Pro Max",
              "deviceYear": "2018",
              "appVersion": "1.1.0"
            },
            "tags": [
              {
                "key": "customKey",
                "value": "customValue"
              }
            ]
          },
          "allOf": [
            {
              "$ref": "#/components/schemas/Transaction"
            },
            {
              "type": "object",
              "properties": {
                "executedRules": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExecutedRulesResult"
                  }
                },
                "hitRules": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HitRulesDetails"
                  }
                }
              },
              "required": [
                "executedRules",
                "hitRules"
              ]
            }
          ],
          "x-examples": {
            "example-1": {
              "transactionId": "7b80a539eea6e78acbd6d458e5971482",
              "originUserId": "8650a2611d0771cba03310f74bf6",
              "destinationUserId": "9350a2611e0771cba03310f74bf6",
              "originAmountDetails": {
                "country": "DE",
                "transactionAmount": 800,
                "transactionCurrency": "EUR"
              },
              "destinationAmountDetails": {
                "country": "IN",
                "transactionAmount": 68351.34,
                "transactionCurrency": "INR"
              },
              "promotionCodeUsed": true,
              "timestamp": 1641654664,
              "originPaymentDetails": {
                "method": "CARD",
                "cardFingerprint": "20ac00fed8ef913aefb17cfae1097cce",
                "cardIssuedCountry": "US",
                "transactionReferenceField": "Deposit",
                "3dsDone": true
              },
              "destinationPaymentDetails": {
                "method": "CARD",
                "cardFingerprint": "20ac00fed8ef913aefb17cfae1097cce",
                "cardIssuedCountry": "IN",
                "transactionReferenceField": "Deposit",
                "3dsDone": true
              },
              "reference": "loan repayment",
              "deviceData": {
                "batteryLevel": 95,
                "deviceLatitude": 13.0033,
                "deviceLongitude": 76.1004,
                "ipAddress": "10.23.191.2",
                "deviceIdentifier": "3c49f915d04485e34caba",
                "vpnUsed": false,
                "operatingSystem": "Android 11.2",
                "deviceMaker": "ASUS",
                "deviceModel": "Zenphone M2 Pro Max",
                "deviceYear": "2018",
                "appVersion": "1.1.0"
              },
              "tags": [
                {
                  "key": "customKey",
                  "value": "customValue"
                }
              ],
              "executedRules": [
                {
                  "ruleId": "R-1a",
                  "ruleName": "Proof of funds for high value transactions",
                  "ruleDescription": "If a user makes a remittance transaction >= 1800 in EUR - ask for proof of funds",
                  "ruleAction": "BLOCK",
                  "ruleHit": true
                }
              ],
              "hitRules": [
                {
                  "ruleId": "R-1a",
                  "ruleName": "Proof of funds for high value transactions",
                  "ruleDescription": "If a user makes a remittance transaction >= 1800 in EUR - ask for proof of funds",
                  "ruleAction": "BLOCK"
                }
              ]
            }
          }
        },
        "DeviceData": {
          "title": "DeviceData",
          "type": "object",
          "properties": {
            "batteryLevel": {
              "type": "number",
              "description": "Battery level of the device used for a transaction or event at a given timestamp"
            },
            "deviceLatitude": {
              "type": "number",
              "description": "Device latitude at a give timestamp for an event or transaction"
            },
            "deviceLongitude": {
              "type": "number",
              "description": "Device longitude at a give timestamp for an event or transaction"
            },
            "ipAddress": {
              "minLength": 1,
              "type": "string",
              "description": "IP address of the device at a given timestamp for an event or transaction"
            },
            "deviceIdentifier": {
              "minLength": 1,
              "type": "string",
              "description": "Device identifier number"
            },
            "vpnUsed": {
              "type": "boolean",
              "description": "Whether VPN was used at a given timestamp for an event or transaction"
            },
            "operatingSystem": {
              "minLength": 1,
              "type": "string",
              "description": "Operating system of the device at a given timestamp for an event or transaction"
            },
            "deviceMaker": {
              "minLength": 1,
              "type": "string",
              "description": "The maker of the device at a given timestamp for an event or transaction"
            },
            "deviceModel": {
              "minLength": 1,
              "type": "string",
              "description": "The model of the device at a given timestamp for an event or transaction"
            },
            "deviceYear": {
              "minLength": 1,
              "type": "string",
              "description": "The year the device was manufactured at a given timestamp for an event or transaction"
            },
            "appVersion": {
              "minLength": 1,
              "type": "string",
              "description": "The version of the app your user is using on their device at a given timestamp for an event or transaction"
            }
          },
          "description": "Model for device data"
        },
        "TransactionMonitoringResult": {
          "allOf": [
            {
              "type": "object",
              "description": "Model to convey the results of transaction monitoring",
              "properties": {
                "transactionId": {
                  "type": "string",
                  "description": "Transaction ID that the results pertain to"
                }
              },
              "required": [
                "transactionId"
              ]
            },
            {
              "$ref": "#/components/schemas/RulesResults"
            }
          ],
          "x-examples": {
            "example-1": {
              "transactionId": "7b80a539eea6e78acbd6d458e5971482",
              "executedRules": [
                {
                  "ruleId": "R-1a",
                  "ruleName": "Proof of funds for high value transactions",
                  "ruleDescription": "If a user makes a remittance transaction >= 1800 in EUR - ask for proof of funds",
                  "ruleAction": "BLOCK",
                  "ruleHit": true
                }
              ],
              "hitRules": [
                {
                  "ruleId": "R-1a",
                  "ruleName": "Proof of funds for high value transactions",
                  "ruleDescription": "If a user makes a remittance transaction >= 1800 in EUR - ask for proof of funds",
                  "ruleAction": "BLOCK"
                }
              ]
            }
          }
        },
        "TransactionEventMonitoringResult": {
          "allOf": [
            {
              "type": "object",
              "description": "Model to convey the results of transaction monitoring",
              "properties": {
                "eventId": {
                  "type": "string"
                },
                "transaction": {
                  "$ref": "#/components/schemas/Transaction"
                }
              },
              "required": [
                "eventId",
                "transaction"
              ]
            },
            {
              "$ref": "#/components/schemas/RulesResults"
            }
          ],
          "x-examples": {
            "example-1": {
              "eventId": "7b80a539eea6e78acbd6d458e5971482",
              "transaction": {
                "transactionId": "7b80a539eea6e78acbd6d458e5971482",
                "originUserId": "8650a2611d0771cba03310f74bf6",
                "destinationUserId": "9350a2611e0771cba03310f74bf6",
                "originAmountDetails": {
                  "country": "DE",
                  "transactionAmount": 800,
                  "transactionCurrency": "EUR"
                },
                "destinationAmountDetails": {
                  "country": "IN",
                  "transactionAmount": 68351.34,
                  "transactionCurrency": "INR"
                },
                "promotionCodeUsed": true,
                "timestamp": 1641654664,
                "originPaymentDetails": {
                  "method": "CARD",
                  "cardFingerprint": "20ac00fed8ef913aefb17cfae1097cce",
                  "cardIssuedCountry": "US",
                  "transactionReferenceField": "Deposit",
                  "3dsDone": true
                },
                "destinationPaymentDetails": {
                  "method": "CARD",
                  "cardFingerprint": "20ac00fed8ef913aefb17cfae1097cce",
                  "cardIssuedCountry": "IN",
                  "transactionReferenceField": "Deposit",
                  "3dsDone": true
                },
                "reference": "loan repayment",
                "deviceData": {
                  "batteryLevel": 95,
                  "deviceLatitude": 13.0033,
                  "deviceLongitude": 76.1004,
                  "ipAddress": "10.23.191.2",
                  "deviceIdentifier": "3c49f915d04485e34caba",
                  "vpnUsed": false,
                  "operatingSystem": "Android 11.2",
                  "deviceMaker": "ASUS",
                  "deviceModel": "Zenphone M2 Pro Max",
                  "deviceYear": "2018",
                  "appVersion": "1.1.0"
                },
                "tags": [
                  {
                    "key": "customKey",
                    "value": "customValue"
                  }
                ]
              },
              "executedRules": [
                {
                  "ruleId": "R-1a",
                  "ruleName": "Proof of funds for high value transactions",
                  "ruleDescription": "If a user makes a remittance transaction >= 1800 in EUR - ask for proof of funds",
                  "ruleAction": "BLOCK",
                  "ruleHit": true
                }
              ],
              "hitRules": [
                {
                  "ruleId": "R-1a",
                  "ruleName": "Proof of funds for high value transactions",
                  "ruleDescription": "If a user makes a remittance transaction >= 1800 in EUR - ask for proof of funds",
                  "ruleAction": "BLOCK"
                }
              ]
            }
          },
          "title": ""
        },
        "UserMonitoringResult": {
          "allOf": [
            {
              "type": "object",
              "description": "Model to convey the results of user monitoring",
              "properties": {
                "userId": {
                  "type": "string",
                  "description": "User ID that the results pertain to"
                }
              },
              "required": [
                "userId"
              ]
            },
            {
              "$ref": "#/components/schemas/RulesResults"
            }
          ]
        },
        "RulesResults": {
          "title": "RulesResults",
          "type": "object",
          "example": {
            "transactionId": "7b80a539eea6e78acbd6d458e5971482",
            "executedRules": [
              {
                "ruleId": "R-1a",
                "ruleName": "Proof of funds for high value transactions",
                "ruleDescription": "If a user makes a remittance transaction >= 1800 in EUR - ask for proof of funds",
                "ruleAction": "BLOCK",
                "ruleHit": true
              }
            ],
            "hitRules": [
              {
                "ruleId": "R-1a",
                "ruleName": "Proof of funds for high value transactions",
                "ruleDescription": "If a user makes a remittance transaction >= 1800 in EUR - ask for proof of funds",
                "ruleAction": "BLOCK"
              }
            ]
          },
          "x-examples": {
            "example-1": {
              "transactionId": "7b80a539eea6e78acbd6d458e5971482",
              "executedRules": [
                {
                  "ruleId": "R-1a",
                  "ruleName": "Proof of funds for high value transactions",
                  "ruleDescription": "If a user makes a remittance transaction >= 1800 in EUR - ask for proof of funds",
                  "ruleAction": "BLOCK",
                  "ruleHit": true
                }
              ],
              "hitRules": [
                {
                  "ruleId": "R-1a",
                  "ruleName": "Proof of funds for high value transactions",
                  "ruleDescription": "If a user makes a remittance transaction >= 1800 in EUR - ask for proof of funds",
                  "ruleAction": "BLOCK"
                }
              ]
            }
          },
          "properties": {
            "executedRules": {
              "type": "array",
              "description": "Unique transaction identifier",
              "items": {
                "$ref": "#/components/schemas/ExecutedRulesResult"
              }
            },
            "hitRules": {
              "type": "array",
              "description": "Unique transaction identifier",
              "items": {
                "$ref": "#/components/schemas/HitRulesDetails"
              }
            }
          },
          "required": [
            "executedRules",
            "hitRules"
          ]
        },
        "ExecutedRulesResult": {
          "title": "ExecutedRulesResult",
          "type": "object",
          "example": {
            "ruleId": "R-1a",
            "ruleName": "Proof of funds for high value transactions",
            "ruleDescription": "If a user makes a remittance transaction >= 1800 in EUR - ask for proof of funds",
            "ruleAction": "BLOCK",
            "ruleHit": true
          },
          "description": "Model for list of executed rules",
          "properties": {
            "ruleId": {
              "minLength": 1,
              "type": "string",
              "description": "Unique rule identifier"
            },
            "ruleInstanceId": {
              "type": "string"
            },
            "ruleName": {
              "minLength": 1,
              "type": "string",
              "description": "Name of the rule"
            },
            "ruleDescription": {
              "minLength": 1,
              "type": "string",
              "description": "Description of the rule"
            },
            "ruleAction": {
              "$ref": "#/components/schemas/RuleAction"
            },
            "ruleHit": {
              "type": "boolean"
            },
            "ruleHitMeta": {
              "$ref": "#/components/schemas/RuleHitMeta"
            },
            "labels": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/RuleLabels"
              }
            },
            "nature": {
              "$ref": "#/components/schemas/RuleNature"
            }
          },
          "required": [
            "ruleId",
            "ruleInstanceId",
            "ruleName",
            "ruleDescription",
            "ruleAction",
            "ruleHit"
          ]
        },
        "HitRulesDetails": {
          "title": "HitRulesDetails",
          "type": "object",
          "example": {
            "ruleId": "R-1a",
            "ruleName": "Proof of funds for high value transactions",
            "ruleDescription": "If a user makes a remittance transaction >= 1800 in EUR - ask for proof of funds",
            "ruleAction": "BLOCK",
            "ruleHit": true,
            "nature": "FRAUD"
          },
          "description": "Model for list of hit rules",
          "properties": {
            "ruleId": {
              "minLength": 1,
              "type": "string",
              "description": "Unique rule identifier"
            },
            "ruleInstanceId": {
[...]
