{
  "type": "openapi",
  "value": {
    "openapi": "3.1.0",
    "x-explorer-enabled": false,
    "x-samples-enabled": false,
    "servers": [
      {
        "description": "Flexport API",
        "url": "https://api.flexport.com"
      }
    ],
    "info": {
      "description": "The Flexport API enables you to programmatically interact with Flexport's freight data.\n\nThe API follows modern RESTful conventions and speaks JSON in both directions. As the API uses JSON for both\nrequests and responses, we will assume that requests with a payload are using properly formatted JSON, however\nwe still recommend setting the Content-Type header to the value `application/json`\n",
      "version": "v3",
      "title": "Flexport API",
      "contact": {
        "email": "hello@flexport.com"
      },
      "license": {
        "name": "Apache 2.0",
        "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
      }
    },
    "tags": [
      {
        "name": "Changelog",
        "x-traitTag": true,
        "description": "## v2 to v3\n\n### New Endpoints\n\n```\n    - POST /purchase_orders\n    - POST /purchase_orders/{id}\n```\n\n\n### Modified Endpoints\n\n```\n    - GET /purchase_order_line_items\n      Parameters:\n        - Modified f.line_item_number\n      Responses:\n        - Modified 200\n            - Added origin_location (object)\n            - Added destination_addresses (array)\n            - Added parent_line_key (string)\n            - Added assigned_party (object)\n            - Added measurements (array)\n            - Added product.properties.color (string)\n            - Added product.properties.dangerous (boolean)\n            - Added product.properties.ean_ucc_13 (string)\n            - Added product.properties.ean_ucc_8 (string)\n            - Added product.properties.lot_number (string)\n            - Added product.properties.size (string)\n            - Added product.properties.style (string)\n            - Added product.properties.upc (string)\n            - Removed cargo_ready_date (string) | format: date\n            - Removed origin_address (object)\n            - Removed destination_address (object)\n            - Removed product.properties._object (string)\n            - Removed product.properties.id (integer)\n            - Removed product.properties.archived_at (['string', 'null']) | format: date-time\n            - Removed product.properties.client_verified (boolean)\n            - Removed product.properties.product_properties (array)\n            - Removed product.properties.hs_codes (array)\n            - Removed product.properties.classifications (array)\n    - GET /purchase_order_line_items/{id}\n      Responses:\n        - Modified 200\n            - Added origin_location (object)\n            - Added destination_addresses (array)\n            - Added parent_line_key (string)\n            - Added assigned_party (object)\n            - Added measurements (array)\n            - Added product.properties.color (string)\n            - Added product.properties.dangerous (boolean)\n            - Added product.properties.ean_ucc_13 (string)\n            - Added product.properties.ean_ucc_8 (string)\n            - Added product.properties.lot_number (string)\n            - Added product.properties.size (string)\n            - Added product.properties.style (string)\n            - Added product.properties.upc (string)\n            - Removed cargo_ready_date (string) | format: date\n            - Removed origin_address (object)\n            - Removed destination_address (object)\n            - Removed product.properties._object (string)\n            - Removed product.properties.id (integer)\n            - Removed product.properties.archived_at (['string', 'null']) | format: date-time\n            - Removed product.properties.client_verified (boolean)\n            - Removed product.properties.product_properties (array)\n            - Removed product.properties.hs_codes (array)\n            - Removed product.properties.classifications (array)\n    - GET /purchase_orders\n      Parameters:\n        - Added f.seller_entity_ref\n        - Added f.buyer_entity_ref\n        - Added f.roles\n        - Removed f.role\n      Responses:\n        - Modified 200\n            - Added order_class (string) | enums: purchase_order, sales_order, transfer_order, delivery_order, work_order\n            - Added issue_date (string) | format: date\n            - Added freight_paymnet_terms (string) | enums: freight_collect, freight_prepaid\n            - Added priority (string) | enums: standard, high\n            - Added destination_addresses (array)\n            - Added parties (array)\n            - Removed buyer (object)\n            - Removed seller (object)\n            - Removed destination_address (object)\n    - GET /purchase_orders/{id}\n      Responses:\n        - Modified 200\n            - Added order_class (string) | enums: purchase_order, sales_order, transfer_order, delivery_order, work_order\n            - Added issue_date (string) | format: date\n            - Added freight_paymnet_terms (string) | enums: freight_collect, freight_prepaid\n            - Added priority (string) | enums: standard, high\n            - Added destination_addresses (array)\n            - Added parties (array)\n            - Removed buyer (object)\n            - Removed seller (object)\n            - Removed destination_address (object)\n```\n\n"
      },
      {
        "name": "Authentication",
        "x-traitTag": true,
        "description": "Flexport provides secure access to our public API using OAuth 2.0. We also provide granular access controls for\nvarious resources. This allows the admins of a client account to create multiple credentials for different developers or environments.\n\nA detailed tutorial on how to create and generate credentials [can be found here.](https://developers.flexport.com/tutorials/using-api-credentials)\n"
      },
      {
        "name": "Response Semantics",
        "x-traitTag": true,
        "description": "All responses to authenticated API requests follow the same structure, wrapping resource data within an\n`/api/response` object of the following form:\n\n| Attribute | Description |\n|--------------|-----------|\n| **_object** _string_ | String representing the object’s type. Always `/api/response` for this object |\n| **self** _string_ | The full path to the resource(s) requested |\n| **version** _integer_ | The version of the request (see the Versioning docs section) |\n| **data** _object_ | The resource data requested for a successful response. `null` on error |\n| **error** _object_ | The error object indicating what went wrong (see the Errors docs section) |\n| **errors** _list_ | List of legacy error object JSONs of structure {\"code\": _, \"message\": _} |\n"
      },
      {
        "name": "Pagination",
        "x-traitTag": true,
        "description": "All list endpoints return paginated responses. The response object contains elements of the current page,\nand links to the previous and next pages.\n\n| Attribute | Description |\n|--------------|-----------|\n| **_object** _string_ | String representing the object’s type. Always `/api/collections/paginated` for this object |\n| **prev** _string_ | link to the previous page |\n| **next** _string_ | link to the next page |\n| **data** _list_ | list of elements in the current page |\n\n## Pagination Parameters\n\nAll list endpoint support the following query parameter to retrieve a specific page\n\n| Attribute | Description |\n|--------------|-----------|\n| **page** _integer_ | Page number of the page to retrieve. Defaults to page 1. |\n| **per** _integer_ | Count of items in each page. Defaults to 20. Maximum allowed value is 100. |\n"
      },
      {
        "name": "Expansion",
        "x-traitTag": true,
        "description": "Many resources in the Flexport API contain attributes that are references to another resource or a collection of\nresources. For example, a shipment has a reference to a collection of legs. Expansion can be used to replace\nthose references with the actual data that they represent. This is helpful in eliminating subsequent calls\nrequired to retrieve all data relevant to a resource.\n\nExpansion is controlled via the expand query parameter. Multiple references can be expanded by providing\nmultiple items in the expansion array. Expansion may also be recursive, i.e. expanded references can be further\nexpanded.\n\nExpansion is valid for both ObjectRef and CollectionRef attributes.\n\n## Examples\n\nHere are some different ways that the expand query parameter can be used with the Container API. In the JSON\nexamples, some attributes are removed for brevity and replaced with `...`\n\n### Example response without expansion\n```\ncurl -X GET  \\\n  https://api.flexport.com/ocean/shipment_containers/123\n```\n\n```\n{\n  \"_object\": \"/api/response\",\n  \"self\": \"https://api.flexport.com/ocean/shipment_containers/123\",\n  \"version\": 2,\n  \"data\": {\n      \"_object\": \"/ocean/shipment_container\",\n      \"id\": 123,\n      ...\n      \"shipment\": {\n        \"_object\": \"/api/refs/object\",\n        \"ref_type\": \"/shipment\",\n        \"link\": \"https://api.flexport.com/shipments/222\",\n        \"id\": 222\n      },\n      \"container_legs\": {\n        \"_object\": \"/api/refs/collection\",\n        \"ref_type\": \"/ocean/shipment_container_leg\",\n        \"link\": \"https://api.flexport.com/ocean/shipment_container_legs?f.shipment_container.id=123\"\n      },\n      ...\n  }\n}\n```\n\n### `expand=container_legs`\nThe `container_legs` attribute will be expanded into a JSON array of `ContainerLeg` objects, instead of the\nnormal behavior of the `legs` attribute being a single `CollectionRef<ContainerLeg>`\n\n```\ncurl -X GET  \\\n  https://api.flexport.com/ocean/shipment_containers/123?expand=container_legs\n```\n\n```\n{\n  \"_object\": \"/api/response\",\n  \"self\": \"https://api.flexport.com/ocean/shipment_containers/123\",\n  \"version\": 2,\n  \"data\": {\n      \"_object\": \"/ocean/shipment_container\",\n      \"id\": 123,\n      ...\n      \"shipment\": {\n        \"_object\": \"/api/refs/object\",\n        \"ref_type\": \"/shipment\",\n        \"link\": \"https://api.flexport.com/shipments/222\",\n        \"id\": 222\n      },\n      \"container_legs\": {\n          \"_object\": \"/api/collections/paginated\",\n          \"prev\": null,\n          \"next\": null,\n          \"total_count\": 1,\n          \"data\": [\n              {\n                  \"_object\": \"/ocean/shipment_container_leg\",\n                  \"id\": 11111,\n                  \"dates\": {},\n                  \"shipment_container\": {\n                      \"_object\": \"/api/refs/object\",\n                      \"ref_type\": \"/ocean/shipment_container\",\n                      \"link\": \"https://api.flexport.com/ocean/shipment_containers/289140\",\n                      \"id\": 289140\n                  },\n                  \"leg\": {\n                      \"_object\": \"/api/refs/object\",\n                      \"ref_type\": \"/shipment_leg\",\n                      \"link\": \"https://api.flexport.com/shipment_legs/4501396\",\n                      \"id\": 4501396\n                  }\n              }\n          ]\n      },\n      ...\n  }\n}\n```\n\n### `expand=container_legs.leg`\nEach `ContainerLeg` object itself contains an `ObjectRef<ShipmentLeg>`, and the expand syntax can be chained to\nexpand both the `countainer_legs` array, and each `leg` within each `ContainerLeg`\n\n```\ncurl -X GET  \\\n  https://api.flexport.com/ocean/shipment_containers/123?expand=container_legs.leg\n```\n\n```\n{\n  \"_object\": \"/api/response\",\n  \"self\": \"https://api.flexport.com/ocean/shipment_containers/1234\",\n  \"version\": 2,\n  \"data\": {\n      \"_object\": \"/ocean/shipment_container\",\n      \"id\": 1234,\n      ...\n      \"shipment\": {\n        \"_object\": \"/api/refs/object\",\n        \"ref_type\": \"/shipment\",\n        \"link\": \"https://api.flexport.com/shipments/123\",\n        \"id\": 123\n      },\n      \"container_legs\": {\n          \"_object\": \"/api/collections/paginated\",\n          \"prev\": null,\n          \"next\": null,\n          \"total_count\": 1,\n          \"data\": [\n              {\n                  \"_object\": \"/ocean/shipment_container_leg\",\n                  \"id\": 11111,\n                  \"dates\": {},\n                  \"shipment_container\": {\n                      \"_object\": \"/api/refs/object\",\n                      \"ref_type\": \"/ocean/shipment_container\",\n                      \"link\": \"https://api.flexport.com/ocean/shipment_containers/289140\",\n                      \"id\": 289140\n                  },\n                  \"leg\": {\n                      \"_object\": \"/shipment_leg\",\n                      \"id\": 4501396,\n                      \"estimated_arrival_date\": \"2019-05-1T12:00:00.000+08:00\",\n                      \"actual_arrival_date\": \"2019-05-1T21:52:00.000+08:00\"\n                      ...\n                  }\n              }\n          ]\n      },\n      ...\n  }\n}\n```\n\n### `expand=shipment.ocean_shipment.containers`\nExpand out the `shipment` attribute to get a `Shipment` object instead of a `ObjectRef<Shipment>` object. Then, a\n`Shipment` object contains an `OceanShipmentDetail`. The `OceanShipmentDetail` is not stored as a ref within the\n`Shipment` object, so the full `OceanShipmentDetail` object will be returned and does not need to be expanded.\nHowever, each `OceanShipmentDetail` object contains a `CollectionRef<Container>`, and with this syntax that array\nof containers will be expanded out.\n\nYou could use this expansion if you had the `id` of a container, and wanted to know all the other containers\nthat are on the same shipment.\n\n```\ncurl -X GET  \\\n  https://api.flexport.com/ocean/shipment_containers/123?expand=shipment.ocean_shipment.containers\n```\n\n```\n{\n  \"_object\": \"/api/response\",\n  \"self\": \"https://api.flexport.com/ocean/shipment_containers/123\",\n  \"version\": 2,\n  \"data\": {\n      \"_object123 \"/ocean/shipment_container\",\n      \"id\": 123,\n      ...\n      \"shipment\": {\n        \"_object\": \"/shipment\",\n        \"id\": 222,\n        \"transportation_mode\": \"ocean\",\n        ...\n        \"ocean_shipment\": {\n            \"_object\": \"/ocean/shipment\",\n            ...\n            \"containers\": {\n                \"_object\": \"/api/collections/paginated\",\n                \"prev\": null,\n                \"next\": null,\n                \"total_count\": 1,\n                \"data\": [\n                    {\n                        \"_object\": \"/ocean/shipment_container\",\n                        \"container_type\": \"dry\",\n                        ...\n                    }\n                ]\n            }\n        }\n      }\n      \"container_legs\": {\n        \"_object\": \"/api/refs/collection\",\n        \"ref_type\": \"/ocean/shipment_container_leg\",\n        \"link\": \"https://api.flexport.com/ocean/shipment_container_legs?f.shipment_container.id=123\"\n      },\n      ...\n  }\n}\n```\n\n### `expand=container_legs.leg,shipment.ocean_shipment.containers`\nMultiple expansion paths can be passed to the `expand` query parameter.\n\n```\ncurl -X GET  \\\n  https://api.flexport.com/ocean/shipment_containers/123?expand=container_legs.leg,shipment.ocean_shipment.containers\n```\n\n```\n{\n  \"_object\": \"/api/response\",\n  \"self\": \"https://api.flexport.com/ocean/shipment_containers/123\",\n  \"version\": 2,\n  \"data\": {\n      \"_object123 \"/ocean/shipment_container\",\n      \"id\": 123,\n      ...\n      \"shipment\": {\n        \"_object\": \"/shipment\",\n        \"id\": 222,\n        \"transportation_mode\": \"ocean\",\n        ...\n        \"ocean_shipment\": {\n            \"_object\": \"/ocean/shipment\",\n            ...\n            \"containers\": {\n                \"_object\": \"/api/collections/paginated\",\n                \"prev\": null,\n                \"next\": null,\n                \"total_count\": 1,\n                \"data\": [\n                    {\n                        \"_object\": \"/ocean/shipment_container\",\n                        \"container_type\": \"dry\",\n                        ...\n                    }\n                ]\n            }\n        }\n      }\n      \"container_legs\": {\n          \"_object\": \"/api/collections/paginated\",\n          \"prev\": null,\n          \"next\": null,\n          \"total_count\": 1,\n          \"data\": [\n              {\n                  \"_object\": \"/ocean/shipment_container_leg\",\n                  \"id\": 11111,\n                  \"dates\": {},\n                  \"shipment_container\": {\n                      \"_object\": \"/api/refs/object\",\n                      \"ref_type\": \"/ocean/shipment_container\",\n                      \"link\": \"https://api.flexport.com/ocean/shipment_containers/289140\",\n                      \"id\": 289140\n                  },\n                  \"leg\": {\n                      \"_object\": \"/shipment_leg\",\n                      \"id\": 4501396,\n                      \"estimated_arrival_date\": \"2019-05-1T12:00:00.000+08:00\",\n                      \"actual_arrival_date\": \"2019-05-1T21:52:00.000+08:00\"\n                      ...\n                  }\n              }\n          ]\n      },\n      ...\n  }\n}\n```\n"
      },
      {
        "name": "Versioning",
        "x-traitTag": true,
        "description": "Your API version has a large impact on your experience with Flexport's APIs. Currently, there are three\nversions available for consumption. You can see your account's current API version in your\n[API settings](https://app.flexport.com/account_settings/api) page.\n\nIf you'd like to change your account's API version, please reach out to integration support\n(integration-support@flexport.com) for the operation.\n\nYour account's default API version can always be overridden by passing in the `Flexport-Version` header when\nmaking an API request.\n\n## Backwards-compatible changes\nFlexport considers some changes to be non-breaking and will make those changes without updating the API version.\nPlease follow defensive coding practices in order to ensure stability. We consider the following to be\nbackwards-compatible changes:\n- Adding an attribute, resource, or optional parameter.\n- Adding a new possible value to an `enum` type attribute.\n- Adding new event types. (Webhook listeners will also receive new events)\n"
      },
      {
        "name": "Errors",
        "x-traitTag": true,
        "description": "It may occur that we have issues in understanding or processing your request. Under these circumstances,\nthe response will resolve with an error object (under the `error` attribute) providing insight on what went\nwrong.\n\n| Attribute | Description |\n|--------------|-----------|\n| **_object** _string_ | String representing the object’s type. Always `/api/error` for this object |\n| **status** _integer_ | The HTTP status code (client or server error) made available for consumption from the body of the response |\n| **code** _string_ | Specialized identifier for this type of error in our API |\n| **message** _string_ | Human readable error message |\n"
      },
      {
        "name": "Metadata",
        "x-traitTag": true,
        "description": "Certain resource objects (like Shipments and Containers) have a `metadata` attribute in their response\npayloads. Metadata attributes are known as Tags on the user-facing side of the application. Metadata is useful\nfor storing information on a resource that is not already captured in a Flexport-defined field.\n\nThere are two types of metadata formats supported.\n\nThe default metadata format is a key-value hash format where the keys are strings, and the values are an\narray of strings.\n\n```\nmetadata: {color: [\"red\", \"blue\"]}\n```\n\nAn alternate supported format is an array of key defined hashes where the keys are `\"name\"` and `\"value\"`.\n\n```\nmetadata: [{name: \"color\", value: [\"red\", \"blue\"]}\n```\n\nThe response payload for metadata will always display the default metadata hash format. To display the\nmetadata array format, a URL parameter will need to provided called `use_name_value_metadata_format=true`.\nBy default, this is false.\n"
      },
      {
        "name": "Milestones",
        "x-traitTag": true,
        "description": "This page describes the different event types which will trigger a Event object to be sent to your registered Webhook Endpoints.\nMilestones designated with an asterisk are available upon request.\n\n## Estimated Transit Events\nFor all Estimated Transit Events, the data field of the Event webook payload is a Shipment Event Data object.\n\n|Name|Type|Description|Resource|Location|\n|----|----|----|----|----|\n|Schedule Confirmed|`/shipment#schedule_confirmed`|Estimated departure and arrival dates set for each specified location.|[Shipment](/v3/tag/ShipmentLeg)|None|\n|Updated Estimated Time of Departure (ETD)*|`/shipment_leg#updated_estimated_time_of_departure`|Revised estimate of date when shipment will depart from specified location.|[ShipmentLeg](/v3/tag/ShipmentLeg)|departure location|\n|Updated Estimated Time of Arrival (ETA)*|`/shipment_leg#updated_estimated_time_of_arrival`|Revised estimate of date when shipment will arrive at specified location.|[ShipmentLeg](/v3/tag/ShipmentLeg)|arrival location|\n|Updated Estimated Out for Delivery*|`/shipment_leg#updated_estimated_out_for_delivery`|Revised estimate of date when shipment is out for delivery.|[ShipmentLeg](/v3/tag/ShipmentLeg)|departure location|\n|Updated Route (This milestone is still under development)*|`/shipment#updated_route`|Updated route to final destination, such as changes to intermediary locations or ports.|[Shipment](/v3/tag/Shipment)|None|\n|Updated Estimated Available for Pickup*|`/shipment_container_leg#updated_estimated_available_for_pickup`|Revised estimated of date when shipment will be ready for pickup at the port of delivery.|[ContainerLeg](/v3/tag/ContainerLeg)|departure location|\n\n## Actual Transit Events\nFor all Actual Transit Events, the data field of the Event webhook payload is a Shipment Event Data object.\n\n|Name|Type|Description|Resource|Location|\n|----|----|----|----|----|\n|Actual Time of Arrival (ATA)|`/shipment_leg#arrived`|Shipment arrived at specified location.|[ShipmentLeg](/v3/tag/ShipmentLeg)|arrival location|\n|Actual Time of Departure (ATD)|`/shipment_leg#departed`|Shipment departed from specified location.|[ShipmentLeg](/v3/tag/ShipmentLeg)|departure location|\n|Actual Out for Delivery*|`/shipment_leg#out_for_delivery`|Shipment departed and is out for delivery|[ShipmentLeg](/v3/tag/ShipmentLeg)|departure location|\n|Delivery Complete*|`/shipment_leg#delivery_completed`|Shipment delivery is complete|[ShipmentLeg](/v3/tag/ShipmentLeg)|destination location|\n|Loaded on Board*|`/ocean/shipment_container_leg#loaded_on_board`|Shipment container loaded on vessel or rail.|[ContainerLeg](/v3/tag/ContainerLeg)|where the container was loaded|\n|Loaded on Truck*|`/ocean/shipment_leg#loaded_on_truck`|Cargo has been transloaded from shipment container to truck.|[ShipmentLeg](/v3/tag/ShipmentLeg)|where the cargo was loaded on the truck|\n|Unloaded off Board*|`/ocean/shipment_container_leg#unloaded_off_board`|Shipment container discharged from vessel or rail.|[ContainerLeg](/v3/tag/ContainerLeg)|where the container was unloaded|\n|Arrived at Delivery Location|`/shipment_leg#delivered`|Part of a shipment delivered to final destination.|[ShipmentLeg](/v3/tag/ShipmentLeg)|delivery location|\n|Delivered in Full|`/shipment#delivered_in_full`|Entire shipment delivered to final destination, e.g. multi-container shipments.|[Shipment](/v3/tag/Shipment)|shipment final destination|\n\n## Administrative Events\nFor all Administrative Events, the data field of the Event webhook payload is a Shipment Event Data object.\n\n|Name|Type|Description|Resource|Location|\n|----|----|----|----|----|\n|Shipment Created|`/shipment#created`|User has confirmed Flexport quote and cargo is getting ready to ship.|[Shipment](/v3/tag/Shipment)|None|\n|Air Booking Confirmed*|`/shipment#booking_confirmed`|Shipment is booked with the air carrier.|[Shipment](/v3/tag/Shipment)|None|\n|Updated Cargo Ready Date|`/shipment#cargo_ready_date_changed`|Cargo ready date changed from the original cargo ready date.|[Shipment](/v3/tag/Shipment)|None|\n|Documents Sent to Nominated Broker|`/shipment#documents_sent_to_nominated_broker`|Arrival notice sent to client-nominated customs broker. Applicable to non-Flexport customs service shipments only.|[Shipment](/v3/tag/Shipment)|None|\n|Commercial Invoices Digitized|`/shipments#commercial_invoices_digitized`|All commercial invoices have been entered into the Flexport system|[Shipment](/v3/tag/Shipment)|None|\n|Customs Released|`/shipment#customs_entry_release_status_released`|Shipment cleared customs.|[Shipment](/v3/tag/Shipment)|None|\n|Customs Hold|`/shipment#customs_agriculture_hold`<br><br>`/shipment#customs_entry_release_status_document_required`<br><br>`/shipment#customs_entry_release_status_entry_docs_required`<br><br>`/shipment#customs_entry_release_status_pending_intensive_exam`<br><br>`/shipment#customs_entry_release_status_release_suspended`<br><br>`/shipment#customs_entry_release_status_under_cbp_review`<br><br>`/shipment#customs_undergoing_x_ray_exam `<br><br>`/shipment#export_country_customs_exam`<br><br>`/shipment#export_country_magnetism_exam`|Shipment on customs hold or [exam](https://www.flexport.com/glossary/customs-exam).|[Shipment](/v3/tag/Shipment)|None|\n|Container Available*|`/ocean/shipment_container_leg#available_for_pickup`|Container becomes available for pickup from port.|[ContainerLeg](/v3/tag/ContainerLeg)|location of the container|\n|Delivery Appointment Requested*|`/shipment_leg#delivery_appointment_requested`|Date the delivery appointment was requested.|[ShipmentLeg](/v3/tag/ShipmentLeg)|delivery location|\n|Delivery Appointment Scheduled|`/shipment_leg#delivery_appointment_scheduled`|Date of the scheduled delivery appointment.|[ShipmentLeg](/v3/tag/ShipmentLeg)|delivery location|\n|Filing Submitted for in Bond Transportation|`/shipment#filing_submitted_for_in_bond_transportation`|Date when the filing was submitted.|[Shipment](/v3/tag/Shipment)|None|\n|Free Time to Expire|`/ocean/shipment_container#free_time_to_expire`|Date when container [free time](https://www.flexport.com/glossary/last-free-day) expires.|[Container](/v3/tag/Container)|location of where the container will be when the container free time expires|\n|Free Time Expired|`/ocean/shipment_container#free_time_expired`|Date when container [free time](https://www.flexport.com/glossary/last-free-day)  expired.|[Container](/v3/tag/Container)|location of the container|\n|FTZ Admission|`/shipment#ftz_admission`|Date when carrier is informed that the posted bill has been placed on a FTZ admission.|[Shipment](/v3/tag/Shipment)|\n|Empty Equipment Returned|`/ocean/shipment_container#empty_returned`|Empty container returned to carrier.|[Container](/v3/tag/Container)|location of the container|\n|Returned to Shipper|`/shipment#returned_to_shipper`|Some containers returned to shipper.|[Shipment](/v3/tag/Shipment)|\n|**[DEPRECATED] Delivery Appointment Scheduled**|`/shipment_container_leg#delivery_appointment_scheduled`|Date and time of the scheduled delivery appointment.|[ContainerLeg](/v3/tag/ContainerLeg)|delivery location|\n|Cargo Breakdown Delay|`/shipment#cargo_breakdown_delay`|Delay due to cargo breakdown.|[Shipment](/v3/tag/Shipment)|\n|Cargo Bumped from Booked Flight|`/shipment#cargo_bumped_from_booked_flight`|Delay due to cargo bumped from booked flight.|[Shipment](/v3/tag/Shipment)|\n|Cargo Contamination Delay|`/shipment#cargo_contamination_delay`|Delay due to cargo contamination.|[Shipment](/v3/tag/Shipment)|\n|Cargo Not Available|`/shipment#cargo_not_available`|Delay due to unavailable cargo.|[Shipment](/v3/tag/Shipment)|\n|Cargo Ready Date Changed Exception|`/shipment#cargo_ready_date_changed_exception`|Delay due to a change in the cargo ready date.|[Shipment](/v3/tag/Shipment)|\n|Cargo Rolled From Booked Vessel|`/shipment#cargo_rolled_from_booked_vessel`|Delay due to cargo being rolled from vessel.|[Shipment](/v3/tag/Shipment)|\n|Dry Run: Pick Up Not Completed|`/shipment#dry_run_pickup`|Delivery not completed due to dry run pickup.|[Shipment](/v3/tag/Shipment)|\n|Dry Run: Delivery Attempt Not Completed|`/shipment#dry_run_delivery_attempt_not_completed`|Delivery not completed due to no delivery attempt.|[Shipment](/v3/tag/Shipment)|\n|Equipment Unavailable|`/shipment#equipment_unavailable`|Delay due to unavailable equipment.|[Shipment](/v3/tag/Shipment)|\n|Flight Delay: Mechanical Problem|`/shipment#flight_delay_mechanical `|Delay due to mechanical issue with the airplane.|[Shipment](/v3/tag/Shipment)|\n|Flight Delay: Schedule Updated By Carrier|`/shipment#flight_delay_schedule_updated_by_carrier `|Delay due to a flight schedule change made by the carrier.|[Shipment](/v3/tag/Shipment)|\n|Late Bill of Lading Release|`/shipment#late_bill_of_lading_release `|Delay due to late bill of lading release.|[Shipment](/v3/tag/Shipment)|\n|Missed Appointment|`/shipment#missed_appointment `|Delivery not completed due to missed appointment.|[Shipment](/v3/tag/Shipment)|\n|Missing Cargo|`/shipment#missing_cargo`|Delay due to missing cargo.|[Shipment](/v3/tag/Shipment)|\n|No Appointments Available|`/shipment#no_appointments_available`|Delay due to no appointments available.|[Shipment](/v3/tag/Shipment)|\n|No Attempt Made|`/shipment#no_attempt_made`|Delivery not completed due to no delivery attempt.|[Shipment](/v3/tag/Shipment)|\n|Ocean Port Dwell Delay|`/shipment#ocean_port_dwell_delay `|Delay due to dwell at ocean port.|[Shipment](/v3/tag/Shipment)|\n|Pending Customs Clearance from Nominated Broker|`/shipment#pending_customs_clearance_from_nominated_broker`|Delay due to clearance pending from nominated broker.|[Shipment](/v3/tag/Shipment)|\n|Pending Delivery Appointment Confirmation|`/shipment#pending_delivery_appointment_confirmation`|Delay due to a pending delivery appointment confirmation.|[Shipment](/v3/tag/Shipment)|\n|Port Strike Delay|`/shipment#port_strike_delay `|Delay due to port strike.|[Shipment](/v3/tag/Shipment)|\n|Rail Car Equipment Breakdown|`/shipment#rail_car_equipment_breakdown`|Delay due to rail car equipment breakdown.|[Shipment](/v3/tag/Shipment)|\n|Rail Interchange Delay|`/shipment#rail_interchange_delay`|Delay due to rail interchange.|[Shipment](/v3/tag/Shipment)|\n|Rail Transfer Delay|`/shipment#rail_transfer_delay`|Delay due to rail transfer.|[Shipment](/v3/tag/Shipment)|\n|Shipment Re-Routed by Carrier|`/shipment#shipment_rerouted_by_carrier`|Delay due to reroute made by the carrier.|[Shipment](/v3/tag/Shipment)|\n|Shipment Re-Routed per Client Request|`/shipment#shipment_rerouted_per_client_request`|Delay due to reroute per client request.|[Shipment](/v3/tag/Shipment)|\n|Supplier Late Gate In|`/shipment#supplier_late_gate_in`|Delay due to late shipper gate-in.|[Shipment](/v3/tag/Shipment)|\n|Supplier Late Documents|`/shipment#supplier_late_documents`|Delay due to late submission of shipper documents.|[Shipment](/v3/tag/Shipment)|\n|Transload Delay|`/shipment#transload_delay`|Delay due to transload.|[Shipment](/v3/tag/Shipment)|\n|Transshipment Delay|`/shipment#transshipment_delay`|Delay due to transshipment.|[Shipment](/v3/tag/Shipment)|\n|Trucker Rejected|`/shipment#trucker_rejected`|Delivery not completed due to rejection at delivery site.|[Shipment](/v3/tag/Shipment)|\n|Trucker's Hours Expired|`/shipment#truckers_hours_expired`|Delay due to expired trucker hours.|[Shipment](/v3/tag/Shipment)|\n|Trucking Delay: Chassis Problem|`/shipment#trucking_delay_chassis_problem`|Delay due to a trucking chassis problem.|[Shipment](/v3/tag/Shipment)|\n|Trucking Delay: Mechanical Problem|`/shipment#trucking_delay_mechanical_problem`|Delivery not completed due to truck mechanical problem.|[Shipment](/v3/tag/Shipment)|\n|Trucking Delay: Port Congestion|`/shipment#trucking_delay_port_congestion`|Delay due to port congestion.|[Shipment](/v3/tag/Shipment)|\n|Trucking Delay: Other|`/shipment#trucking_delay_other`|Delay due to other trucking reason.|[Shipment](/v3/tag/Shipment)|\n|Trucking Delay: Strike|`/shipment#trucking_delay_strike`|Delay due to trucking strike.|[Shipment](/v3/tag/Shipment)|\n|Trucking Delay: Traffic|`/shipment#trucking_delay_traffic`|Delay due to traffic.|[Shipment](/v3/tag/Shipment)|\n|Vessel Delay: Mechanical  Problem|`/shipment#vessel_delay_mechanical `|Delay due to mechanical issue with the vessel.|[Shipment](/v3/tag/Shipment)|\n|Vessel Delay: Port Congestion|`/shipment#vessel_delay_port_congestion`|Delay due to port congestion.|[Shipment](/v3/tag/Shipment)|\n|Vessel Delay: Schedule Updated By Carrier|`/shipment#vessel_delay_schedule_updated_by_carrier`|Delay due to a vessel schedule change made by the carrier.|[Shipment](/v3/tag/Shipment)|\n|Warehouse Devan Delay|`/shipment#warehouse_devan_delay `|Delay due to warehouse devan.|[Shipment](/v3/tag/Shipment)|\n|Weather Delay|`/shipment#weather_delay`|Delay due to weather conditions.|[Shipment](/v3/tag/Shipment)|\n\n## Invoice Events\nFor all Invoice Events, the data field of the Event webhook payload is an Invoice Event Data object. There is no direct access from the payload to shipment, location, or container information like there is in a Shipment Event Data object.\n\n|Name|Type|Description|\n|----|----|----|\n|Invoice Payment Made|`/invoice#invoice_payment_made`|Invoice payment has been made|\n|Invoice Due Date Adjusted|`/invoice#invoice_due_date_adjusted`|Invoice payment due date has been adjusted|\n|Invoice Shared|`/invoice#invoice_shared`|Invoice has been shared|\n|Invoice Voided|`/invoice#invoice_voided`|Invoice has been voided|\n|Invoice Credit Applied|`/invoice#invoice_credit_applied`|Invoice credit has been applied|\n|Invoice Refund Applied|`/invoice#invoice_refund_applied`|Invoice refund has been applied|\n|Invoice Payment Failed|`/invoice#invoice_payment_failed`|Invoice payment failed|\n\n## Document Events\nFor all Document Events, the data field of the Document webhook payload is a Document Event Data object. Depending on what the document is connected to, the payload may or may not contain shipment information.\n\n|Name|Type|Description|\n|----|----|----|\n|Document Created*|`/document#document_created`|A document has been created|\n\n## PurchaseOrder Events\nFor all PurchaseOrder Events, the data field of the Event webhook payload is a PurchaseOrder Event Data object. It contains PurchaseOrder header-level information, as well as context that is unique to each event.\n|Name|Type|Description|\n|----|----|----|\n|PurchaseOrder Acknowledged|`/purchase_order#acknowledged`|PurchaseOrder has been acknowledged|\n|PurchaseOrder Updated|`/purchase_order#updated`|PurchaseOrder has been updated, currently only supports update through order collaboration flow|\n"
      },
      {
        "name": "Terms and Conditions",
        "description": "[Click here to see the Terms & Conditions for the Flexport API](https://www.flexport.com/terms-and-conditions/software_visibility_terms_and_conditions/)\n"
      },
      {
        "name": "Webhook Endpoints",
        "x-traitTag": true,
        "description": "Webhook endpoints can be created in your account's Settings section. They allow you to be notified of changes\non your Flexport data and milestone events for your shipments.\n\n## Setting a Secret Token\nIn order to verify that only requests coming from Flexport are allowed into your system, we require you to set\na secret token for each of your endpoints. Flexport sends an X-Hub-Signature header with the value set as\ndemonstrated on the right with each message. By verifying this header matches your expectations, we can ensure\nthat only people with the secret token can send data to your endpoint.\n\n## Payloads\nThe payload for a webhook is an `Event` object.\n\nFlexport uses your secret token and the payload to create a hash signature with each payload. This hash\nsignature is passed along with each request in the headers as `X-Hub-Signature`. To validate the payload:\n\n1. Generate a SHA1 signature using the payload and your secret token.\n2. Compare your signature to the signature in the X-Hub-Signature header string. If they match, then the payload is genuine.\n\n## Response\nFlexport expects to receive an HTTP `200` response code from your endpoint. We will continue trying to deliver\nthe message a number of times if we don’t receive one. To prevent time outs, it is wise to configure your\nendpoints to send a `200` and then do any long running processing on the data.\n"
      },
      {
        "name": "Document Types",
        "x-traitTag": true,
        "description": "Documents can be filtered by type. Below is a list of commonly used document types, along with their slug to use for filtering. This list is not comprehensive - any `document_type` that is returned from the API is a valid parameter for this filter.\n|Document Type|Slug|\n|----|----|\n|Air Waybill|air_waybill|\n|Automated Export System (AES) Transmission|automated_export_system_aes_transmission|\n|Bill of Lading|bill_of_lading|\n|Bill of Lading [Telex Release]|bill_of_lading_telex_release|\n|Billing Packet|billing_packet|\n|Booking Form (PDF)|booking_form_pdf|\n|Booking Sheet|booking_sheet|\n|Canada Customs Coding Form (B3)|canada_customs_coding_form_b3|\n|Commercial Invoice|commercial_invoice|\n|Commercial Invoice / Packing List|commercial_invoice_packing_list|\n|Customs Entry Packet|customs_entry_packet|\n|Customs Entry Summary (7501)|customs_entry_summary_7501|\n|Customs Release (3461)|customs_release_3461|\n|EU Customs Duties Bill|eu_customs_duties_bill|\n|EU Customs Release (SAD)|eu_customs_release_sad|\n|Flexport Bill of Lading|flexport_bill_of_lading|\n|ISF Worksheet|isf_worksheet|\n|Importer Security Filing (ISF) Entry|importer_security_filing_isf_entry|\n|Master Bill of Lading|master_bill_of_lading|\n|Material Safety Data Sheet (MSDS)|material_safety_data_sheet_msds|\n|Origin Warehouse Receipt|origin_warehouse_receipt|\n|Other Customs Documents|other_customs_documents|\n|Packing List|packing_list|\n|Rated Commercial Invoice|rated_commercial_invoice|\n|Shipping Labels|shipping_labels|\n|Unknown Message|unknown_message|\n|Warehouse Receipt|warehouse_receipt|\n"
      },
      {
        "name": "BookingAmendment",
        "description": "Endpoints relating to BookingAmendment objects. An existing booking is required to create booking amendments for."
      },
      {
        "name": "BookingLineItem",
        "description": "Endpoints relating to BookingLineItem objects. **The Booking Line Item endpoints need special permission to access. Please contact\n  your Flexport Sales representative if you are interested in using these endpoints.**"
      },
      {
        "name": "Booking",
        "description": "Endpoints relating to Booking objects"
      },
      {
        "name": "Carbon Calculation",
        "description": "Endpoints relating to Carbon Calculations"
      },
      {
        "name": "Commercial Invoices",
        "description": "Endpoints relating to Commercial Invoice objects"
      },
      {
        "name": "Customs Entries",
        "description": "Endpoints relating to Customs Entry objects"
      },
      {
        "name": "Document",
        "description": "Endpoints relating to Document objects"
      },
      {
        "name": "Event",
        "description": "Endpoints relating to Event objects"
      },
      {
        "name": "Invoices",
        "description": "Endpoints relating to Invoice objects"
      },
      {
        "name": "Company",
        "description": "Endpoints relating to Company objects"
      },
      {
        "name": "CompanyEntity",
        "description": "Endpoints relating to CompanyEntity objects"
      },
      {
        "name": "Contact",
        "description": "Endpoints relating to Contact objects"
      },
      {
        "name": "Location",
        "description": "Endpoints relating to Location objects"
      },
      {
        "name": "ContainerLeg",
        "description": "Endpoints relating to ContainerLeg objects"
      },
      {
        "name": "Container",
        "description": "Endpoints relating to Container objects"
      },
      {
        "name": "Ports",
        "description": "Endpoints relating to Ports objects"
      },
      {
        "name": "Product",
        "description": "Endpoints relating to Product objects"
      },
      {
        "name": "PurchaseOrderLineItem",
        "description": "Endpoints relating to PurchaseOrderLineItem objects. **The Purchase Order Line Item endpoints need special permission to access. Please contact your Flexport Sales representative if you are interested in using these endpoints.**"
      },
      {
        "name": "PurchaseOrder",
        "description": "Endpoints relating to PurchaseOrder objects. **The Purchase Order endpoints need special permission to access. Please contact your Flexport Sales representative if you are interested in using these endpoints.**"
      },
      {
        "name": "ShipmentLeg",
        "description": "Endpoints relating to ShipmentLeg objects"
      },
      {
        "name": "Shipment",
        "description": "Endpoints relating to Shipment objects"
      }
    ],
    "x-tagGroups": [
      {
        "name": "General",
        "tags": [
          "Authentication",
          "Response Semantics",
          "Pagination",
          "Expansion",
          "Versioning",
          "Errors",
          "Metadata",
          "Webhook Endpoints",
          "Terms and Conditions",
          "Changelog"
        ]
      },
      {
        "name": "Webhooks",
        "tags": [
          "Milestones",
          "Event"
        ]
      },
      {
        "name": "4-PL",
        "tags": [
          "Carbon Calculation"
        ]
      },
      {
        "name": "Shipment Status",
        "tags": [
          "Container",
          "ContainerLeg",
          "Shipment",
          "ShipmentLeg"
        ]
      },
      {
        "name": "Purchase Orders",
        "tags": [
          "PurchaseOrderLineItem",
          "PurchaseOrder"
        ]
      },
      {
        "name": "Booking",
        "tags": [
          "BookingAmendment",
          "BookingLineItem",
          "Booking"
        ]
      },
      {
        "name": "Customs",
        "tags": [
          "Commercial Invoices",
          "Customs Entries"
        ]
      },
      {
        "name": "Invoices",
        "tags": [
          "Invoices"
        ]
      },
      {
        "name": "Products",
        "tags": [
          "Product"
        ]
      },
      {
        "name": "Network",
        "tags": [
          "Company",
          "CompanyEntity",
          "Contact",
          "Location"
        ]
      },
      {
        "name": "Ports",
        "tags": [
          "Ports"
        ]
      },
      {
        "name": "Documents",
        "tags": [
          "Document Types",
          "Document"
        ]
      }
    ],
    "paths": {
      "/booking_amendments": {
        "post": {
          "tags": [
            "BookingAmendment"
          ],
          "operationId": "booking_amendment_create",
          "summary": "Create a new booking amendment.",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBookingAmendment"
                },
                "example": {
                  "booking_id": 12345,
                  "new_name": "Valentine's Day - 2020",
                  "amendment_note": "This is an amendment note with useful context to changes made to the booking.",
                  "new_container_counts": {
                    "twenty_ft": 2,
                    "forty_ft": 3,
                    "forty_ft_hc": 4,
                    "forty_five_ft_hc": 5
                  },
                  "new_wants_pickup_service": false,
                  "new_wants_import_customs_service": false,
                  "new_origin_address_ref": "warehouse_cn",
                  "new_origin_port_loc_code": "CNSZP",
                  "new_cargo_ready_date": "2019-06-30",
                  "new_cargo": {
                    "volume": {
                      "value": 472.62,
                      "unit": "cbm"
                    },
                    "weight": {
                      "value": 2300.4,
                      "unit": "kg"
                    },
                    "marks_and_numbers": "Fragile",
                    "shipping_units": [
                      {
                        "name": "Watches",
                        "volume": {
                          "value": 472.62,
                          "unit": "cbm"
                        },
                        "weight": {
                          "value": 2300.4,
                          "unit": "kg"
                        },
                        "height": {
                          "value": 472.62,
                          "unit": "cm"
                        },
                        "length": {
                          "value": 472.62,
                          "unit": "cm"
                        },
                        "width": {
                          "value": 472.62,
                          "unit": "cm"
                        },
                        "count": 9,
                        "atomic_count": 9,
                        "unit_type": "carton"
                      }
                    ],
                    "contains_hazmat": true,
                    "contains_magnets": true,
                    "contains_other_dangerous_goods": true,
                    "contains_li_ion": true,
                    "contains_non_li_ion_battery": true,
                    "lithium_batteries_packing_types": [
                      "packed_loose"
                    ]
                  },
                  "new_metadata": {
                    "PO": [
                      "12345"
                    ],
                    "SKU": [
                      "abc123"
                    ]
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "The created booking amendment",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "_object": {
                        "type": "string",
                        "example": "/api/response"
                      },
                      "self": {
                        "type": "string",
                        "example": "https://api.flexport.com/booking_amendments"
                      },
                      "version": {
                        "type": "integer",
                        "example": 2
                      },
                      "data": {
                        "$ref": "#/components/schemas/BookingAmendment"
                      }
                    }
                  },
                  "examples": {
                    "response": {
                      "summary": "Success",
                      "value": {
                        "_object": "/api/response",
                        "version": 2,
                        "data": {
                          "_object": "/booking_amendment",
                          "id": 2983,
                          "booking_id": 12345,
                          "is_pending": false,
                          "new_name": "Valentine's Day - 2020",
                          "new_container_counts": {
                            "twenty_ft": 2,
                            "forty_ft": 3,
                            "forty_ft_hc": 4,
                            "forty_five_ft_hc": 5
                          },
                          "new_wants_pickup_service": false,
                          "new_wants_import_customs_service": false,
                          "new_origin_address": {
                            "_object": "/address",
                            "street_address": "123 Queen St",
                            "street_address2": null,
                            "city": "Shanghai",
                            "state": null,
                            "country": "China",
                            "country_code": "CN",
                            "zip": null,
                            "unlocode": "CNSHA",
                            "timezone": "China/Shanghai",
                            "ref": "my-shanghai-address-ref"
                          },
                          "new_port_of_loading": {
                            "_object": "/address",
                            "street_address": "123 Queen St",
                            "street_address2": null,
                            "city": "Shanghai",
                            "state": null,
                            "country": "China",
                            "country_code": "CN",
                            "zip": null,
                            "unlocode": "CNSHA",
                            "timezone": "China/Shanghai",
                            "ref": "my-shanghai-address-ref"
                          },
                          "new_port_of_unloading": {
                            "_object": "/address",
                            "street_address": "10000 West O'Hare Ave",
                            "street_address2": "PO Box 66142",
                            "city": "Chicago",
                            "state": "IL",
                            "country": "United States of America",
                            "country_code": "US",
                            "zip": "60666",
                            "unlocode": "US AL2",
                            "timezone": "America/Chicago",
                            "ref": "my-chicago-ref"
                          },
                          "new_cargo_ready_date": "2019-06-30",
                          "new_cargo": {
                            "volume": {
                              "value": 472.62,
                              "unit": "cbm"
                            },
                            "weight": {
                              "value": 2300.4,
                              "unit": "kg"
                            },
                            "marks_and_numbers": "Fragile",
                            "shipping_units": [
                              {
                                "name": "Watches",
                                "volume": {
                                  "value": 472.62,
                                  "unit": "cbm"
                                },
                                "weight": {
                                  "value": 2300.4,
                                  "unit": "kg"
                                },
                                "height": {
                                  "value": 472.62,
                                  "unit": "cm"
                                },
                                "length": {
                                  "value": 472.62,
                                  "unit": "cm"
                                },
                                "width": {
                                  "value": 472.62,
                                  "unit": "cm"
                                },
                                "count": 9,
                                "atomic_count": 9,
                                "unit_type": "carton"
                              }
                            ],
                            "contains_hazmat": true,
                            "contains_magnets": true,
                            "contains_other_dangerous_goods": true,
                            "contains_li_ion": true,
                            "contains_non_li_ion_battery": true,
                            "lithium_batteries_packing_types": [
                              "packed_loose"
                            ]
                          },
                          "new_metadata": {
                            "PO": [
                              "12345"
                            ],
                            "SKU": [
                              "abc123"
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "error",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "_object": {
                        "type": "string",
                        "example": "/api/response"
                      },
                      "self": {
                        "type": "string",
                        "example": "https://api.flexport.com/booking_amendments"
                      },
                      "version": {
                        "type": "integer",
                        "example": 2
                      },
                      "data": {
                        "type": "object",
                        "example": null
                      },
                      "error": {
                        "$ref": "#/components/schemas/Error"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/booking_line_items": {
        "get": {
          "tags": [
            "BookingLineItem"
          ],
          "operationId": "booking_line_item_index",
          "summary": "List all booking line items",
          "description": "Returns a list of booking line items linked to submitted bookings",
          "parameters": [
            {
              "in": "query",
              "name": "page",
              "description": "Page number of the page to retrieve",
              "required": false,
              "schema": {
                "type": "integer",
                "example": 1,
                "default": 1,
                "minimum": 1
              }
            },
            {
              "in": "query",
              "name": "per",
              "description": "Count of items in each page. Should be between 1 and 100 (inclusive)",
              "required": false,
              "schema": {
                "type": "integer",
                "example": 20,
                "default": 20,
                "minimum": 1,
                "maximum": 100
              }
            },
            {
              "in": "query",
              "name": "direction",
              "description": "Set sort order. Allows \"asc\" (ascending) or \"desc\"  (descending)",
              "required": false,
              "schema": {
                "type": "string",
                "default": "desc",
                "enum": [
                  "asc",
                  "desc"
                ]
              }
            },
            {
              "in": "query",
              "name": "f.purchase_order.id",
              "description": "Filters for all booking line items from a purchase order",
              "required": false,
              "schema": {
                "type": "integer",
                "example": 123
              }
            },
            {
              "in": "query",
              "name": "f.booking.id",
              "description": "Filters for all booking line items from a specific booking",
              "required": false,
              "schema": {
                "type": "integer",
                "example": 54321
              }
            },
            {
              "in": "query",
              "name": "f.purchase_order_line_item.id",
              "description": "Filters for all booking line items from a specific purchase order line item.",
              "required": false,
              "schema": {
                "type": "integer",
                "example": 54321
              }
            }
          ],
          "responses": {
            "200": {
              "description": "collection of booking line items",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "_object": {
                        "type": "string",
                        "example": "/api/response"
                      },
                      "self": {
                        "type": "string",
                        "example": "https://api.flexport.com/booking_line_items"
                      },
                      "version": {
                        "type": "integer",
                        "example": 2
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "_object": {
                            "type": "string",
                            "example": "/api/collections/paginated"
                          },
                          "prev": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "example": "https://api.flexport.com/booking_line_items?page=1&per=10"
                          },
                          "next": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "example": "https://api.flexport.com/booking_line_items?page=3&per=10"
                          },
                          "data": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/BookingLineItem"
                            }
                          }
                        }
                      }
                    }
                  },
                  "examples": {
                    "response": {
                      "summary": "Success",
                      "description": "Success",
                      "value": {
                        "_object": "/api/response",
                        "self": "https://api.flexport.com/booking_line_items?page=13&per=10",
                        "version": 2,
                        "data": {
                          "_object": "/api/collections/paginated",
                          "prev": "https://api.flexport.com/booking_line_items?page=12&per=10",
                          "next": null,
                          "data": [
                            {
                              "_object": "/purchase_orders/booking_line_item",
                              "id": 123456,
                              "booking": {
                                "_object": "/api/refs/object",
                                "ref_type": "/booking",
                                "link": "https://api.flexport.com/bookings/9876",
                                "id": 9876
                              },
                              "purchase_order_line_item": {
                                "_object": "/api/refs/object",
                                "ref_type": "/purchase_orders/line_item",
                                "link": "https://api.flexport.com/purchase_order_line_items/112358",
                                "id": 112358
                              },
                              "units": 200
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "error",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "_object": {
                        "type": "string",
                        "example": "/api/response"
                      },
                      "self": {
                        "type": "string",
                        "example": "https://api.flexport.com/booking_line_items"
                      },
                      "version": {
                        "type": "integer",
                        "example": 2
                      },
                      "data": {
                        "type": "object",
                        "example": null
                      },
                      "error": {
                        "$ref": "#/components/schemas/Error"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "post": {
          "tags": [
            "BookingLineItem"
          ],
          "operationId": "booking_line_item_create",
          "summary": "Create a booking line item",
          "description": "Creates and returns a booking line item",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBookingLineItem"
                },
                "example": {
                  "purchase_order_line_item_id": 112358,
                  "booking_id": 9876,
                  "units": 200
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "The created booking line item",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "_object": {
                        "type": "string",
                        "example": "/api/response"
                      },
                      "self": {
                        "type": "string",
                        "example": "https://api.flexport.com/invoices"
                      },
                      "version": {
                        "type": "integer",
                        "example": 2
                      },
                      "data": {
                        "$ref": "#/components/schemas/BookingLineItem"
                      }
                    }
                  },
                  "examples": {
                    "response": {
                      "summary": "Success",
                      "description": "Success",
                      "value": {
                        "_object": "/api/response",
                        "self": "https://api.flexport.com/booking_line_items/123456",
                        "version": 2,
                        "data": {
                          "_object": "/purchase_orders/booking_line_item",
                          "id": 123456,
                          "booking": {
                            "_object": "/api/refs/object",
                            "ref_type": "/booking",
                            "link": "https://api.flexport.com/bookings/9876",
                            "id": 9876
                          },
                          "purchase_order_line_item": {
                            "_object": "/api/refs/object",
                            "ref_type": "/purchase_orders/line_item",
                            "link": "https://api.flexport.com/purchase_order_line_items/112358",
                            "id": 112358
                          },
                          "units": 200
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "error",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "_object": {
                        "type": "string",
                        "example": "/api/response"
                      },
                      "self": {
                        "type": "string",
                        "example": "https://api.flexport.com/booking_line_items"
                      },
                      "version": {
                        "type": "integer",
                        "example": 2
                      },
                      "data": {
                        "type": "object",
                        "example": null
                      },
                      "error": {
                        "$ref": "#/components/schemas/Error"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/booking_line_items/{id}": {
        "get": {
          "tags": [
            "BookingLineItem"
          ],
          "operationId": "booking_line_item_show",
          "summary": "Retrieves the details of a single booking line item.",
          "description": "Returns a list of booking line items",
          "parameters": [
            {
              "in": "path",
              "name": "id",
              "description": "The unique id for the booking line item to be retrieved",
              "required": true,
              "schema": {
                "type": "integer"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "A collection of booking line items",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "_object": {
                        "type": "string",
                        "example": "/api/response"
                      },
                      "self": {
                        "type": "string",
                        "example": "https://api.flexport.com/booking_line_items/123456"
                      },
                      "version": {
                        "type": "integer",
                        "example": 2
                      },
                      "data": {
                        "$ref": "#/components/schemas/BookingLineItem"
                      }
                    }
                  },
                  "examples": {
                    "response": {
                      "summary": "Success",
                      "description": "Success",
                      "value": {
                        "_object": "/api/response",
                        "self": "https://api.flexport.com/booking_line_items/123456",
                        "version": 2,
                        "data": {
                          "_object": "/purchase_orders/booking_line_item",
                          "id": 123456,
                          "booking": {
                            "_object": "/api/refs/object",
                            "ref_type": "/booking",
                            "link": "https://api.flexport.com/bookings/9876",
                            "id": 9876
                          },
                          "purchase_order_line_item": {
                            "_object": "/api/refs/object",
                            "ref_type": "/purchase_orders/line_item",
                            "link": "https://api.flexport.com/purchase_order_line_items/112358",
                            "id": 112358
                          },
                          "units": 200
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "error",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "_object": {
                        "type": "string",
                        "example": "/api/response"
                      },
                      "self": {
                        "type": "string",
                        "example": "https://api.flexport.com/booking_line_items/123456"
                      },
                      "version": {
                        "type": "integer",
                        "example": 2
                      },
                      "data": {
                        "type": "object",
                        "example": null
                      },
                      "error": {
                        "$ref": "#/components/schemas/Error"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/bookings": {
        "get": {
          "tags": [
            "Booking"
          ],
          "operationId": "bookings_index",
          "summary": "List all bookings",
          "description": "Returns a list of bookings.",
          "parameters": [
            {
              "in": "query",
              "name": "page",
              "description": "Page number of the page to retrieve",
              "required": false,
              "schema": {
                "type": "integer",
                "example": 1,
                "default": 1,
                "minimum": 1
              }
            },
            {
              "in": "query",
              "name": "per",
              "description": "Count of items in each page. Should be between 1 and 100 (inclusive).",
              "required": false,
              "schema": {
                "type": "integer",
                "example": 20,
                "default": 20,
                "minimum": 1,
                "maximum": 100
              }
            },
            {
              "in": "query",
              "name": "sort",
              "description": "Sort results by the specified field.",
              "required": false,
              "schema": {
                "type": "string",
                "enum": [
                  "cargo_ready_date",
                  "created_at"
                ]
              }
            },
            {
              "in": "query",
              "name": "direction",
              "description": "Set sort order. Allows \"asc\"(ascending) or \"desc\" (descending).",
              "required": false,
              "schema": {
                "type": "string",
                "default": "desc",
                "enum": [
                  "asc",
                  "desc"
                ]
              }
            },
            {
              "in": "query",
              "name": "f.status",
              "description": "Filter the list based on status of the booking",
              "required": false,
              "schema": {
                "type": "string",
                "enum": [
                  "booked",
                  "submitted"
                ]
              }
            },
            {
              "in": "query",
              "name": "f.shipment.id",
              "description": "Filter by the shipment resulting from the booking",
              "required": false,
              "schema": {
                "type": "integer",
                "example": 123456
              }
            },
            {
              "in": "query",
              "name": "f.consignee_entity_ref",
              "description": "Filters the list based on the booking's consignee",
              "required": false,
              "schema": {
                "type": "string",
                "example": "amazon-us"
              }
            },
            {
              "in": "query",
              "name": "f.shipper_entity_ref",
              "description": "Filters the list based on the booking's shipper",
              "required": false,
              "schema": {
                "type": "string",
                "example": "amazon-us"
              }
            },
            {
              "in": "query",
              "name": "f.name",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "in": "query",
              "name": "f.cargo_ready_date",
              "description": "Filters the list for bookings with the specified cargo ready date",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "in": "query",
              "name": "f.cargo_ready_date.gt",
              "description": "Filters the list for bookings with cargo ready date after the specified date",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "in": "query",
              "name": "f.cargo_ready_date.gte",
              "description": "Filters the list for bookings with cargo ready date after the specified date, inclusive",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "in": "query",
              "name": "f.cargo_ready_date.lt",
              "description": "Filters the list for bookings with cargo ready date before the specified date",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "in": "query",
              "name": "f.cargo_ready_date.lte",
              "description": "Filters the list for bookings with cargo ready date before the specified date, inclusive",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "in": "query",
              "name": "f.created_at",
              "description": "Filters the list for bookings with the specified created_at",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "in": "query",
              "name": "f.created_at.gt",
              "description": "Filters the list for bookings created after the specified date",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "in": "query",
              "name": "f.created_at.gte",
              "description": "Filters the list for bookings created after the specified date, inclusive",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "in": "query",
              "name": "f.created_at.lt",
              "description": "Filters the list for bookings created before the specified date",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "in": "query",
              "name": "f.created_at.lte",
              "description": "Filters the list for bookings created before the specified date, inclusive",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "in": "query",
              "name": "f.metadata.YOUR_METADATA_KEY",
              "description": "Filters the list for bookings that have a specific metadata key-value pair. Multiple metadata filters can be added to a single query. If there are multiple metadata filters each with the same metadata key, then the filter will return bookings matching any of the specified metadata values for that metadata key. Note that keys must be URL encoded; e.g.: `f.metadata.PO #=123` is invalid. It should instead be `f.metadata.PO%20%23`\n",
              "required": false,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "collection of bookings",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "_object": {
                        "type": "string",
                        "example": "/api/response"
                      },
                      "self": {
                        "type": "string",
                        "example": "https://api.flexport.com/bookings"
                      },
                      "version": {
                        "type": "integer",
                        "example": 2
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "_object": {
                            "type": "string",
                            "example": "/api/collections/paginated"
                          },
                          "prev": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "example": "https://api.flexport.com/bookings?page=1&per=10"
                          },
                          "next": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "example": "https://api.flexport.com/bookings?page=3&per=10"
                          },
                          "data": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/Booking"
                            }
                          }
                        }
                      }
                    }
                  },
                  "examples": {
                    "response": {
                      "summary": "Success",
                      "description": "Success",
                      "value": {
                        "_object": "/api/response",
                        "self": "https://api.flexport.com/bookings?page=13&per=10",
                        "version": 2,
                        "data": {
                          "_object": "/api/collections/paginated",
                          "prev": "https://api.flexport.com/bookings?page=12&per=10",
                          "next": null,
                          "data": [
                            {
                              "_object": "/booking",
                              "id": 123,
                              "name": "PO 123",
                              "shipper_entity": {
                                "_object": "/company_entity",
                                "id": 9281,
                                "name": "Zoomit V2",
                                "ref": "zoomit-us",
                                "mailing_address": {
                                  "_object": "/address",
                                  "street_address": "1641 Settlers Lane",
                                  "street_address2": "STE 2918",
                                  "city": "Albany",
                                  "state": "MN",
                                  "country": "United States of America",
                                  "country_code": "US",
                                  "zip": "56307",
                                  "unlocode": "USAL2",
                                  "timezone": "America/Los_Angeles",
                                  "ref": "my-address-ref"
                                },
                                "vat_numbers": [
                                  {
                                    "_object": "company_entity/vat_number",
                                    "country_code": "GB",
                                    "number": "GB 123746396"
                                  }
                                ]
                              },
                              "consignee_entity": {
                                "_object": "/company_entity",
                                "id": 9281,
                                "name": "Zoomit",
                                "mailing_address": {
                                  "_object": "/address",
                                  "street_address": "1641 Settlers Lane",
                                  "street_address2": "STE 2918",
                                  "city": "Albany",
                                  "state": "MN",
                                  "country": "United States of America",
                                  "country_code": "US",
                                  "zip": "56307",
                                  "unlocode": "USAL2",
                                  "timezone": "America/Los_Angeles",
                                  "ref": "my-address-ref"
                                },
                                "ref": "zoomit_ref",
                                "vat_numbers": [
                                  {
                                    "_object": "company_entity/vat_number",
                                    "country_code": "US",
                                    "number": "US 123746396"
                                  }
                                ]
                              },
                              "notify_party": null,
                              "ocean_booking": {
                                "_object": "/ocean/booking",
                                "is_lcl": false,
                                "incoterm": "FOB",
                                "container_counts": {
                                  "twenty_ft": 2,
                                  "forty_ft": 3,
                                  "forty_ft_hc": 4,
                                  "forty_five_ft_hc": 5
                                },
                                "product_descriptions": [
                                  {
                                    "description": "Watches",
                                    "hs_code": {
                                      "_object": "/hs_code",
                                      "description": null,
                                      "code": "9101.00",
                                      "country_code": "US"
                                    },
                                    "description_for_export_customs": "手表",
                                    "description_for_export_customs_locale": "zh_CN"
                                  }
                                ],
                                "origin_port": {
                                  "_object": "/place",
                                  "name": "Shenzhen, China",
                                  "address": {
                                    "_object": "/address",
                                    "street_address": "123 Queen St",
                                    "street_address2": null,
                                    "city": "Shanghai",
                                    "state": null,
                                    "country": "China",
                                    "country_code": "CN",
                                    "zip": null,
                                    "unlocode": "CNSZP",
                                    "timezone": "America/Los_Angeles",
                                    "ref": null
                                  },
                                  "details": [
                                    {
                                      "_object": "/trucking/port",
                                      "port_code": "57035"
                                    },
                                    {
                                      "_object": "/ocean/port",
                                      "port_code": "57035"
                                    }
                                  ]
                                },
                                "destination_port": {
                                  "_object": "/place",
                                  "name": "Long Beach, Los Angeles, California",
                                  "address": {
                                    "_object": "/address",
                                    "street_address": "123 Queen St",
                                    "street_address2": null,
                                    "city": "Los Angeles",
                                    "state": null,
                                    "country": "United States",
                                    "country_code": "US",
                                    "zip": null,
                                    "unlocode": "USLA",
                                    "timezone": "America/Los_Angeles",
                                    "ref": null
                                  },
                                  "details": [
                                    {
                                      "_object": "/trucking/port",
                                      "port_code": "2704"
                                    },
                                    {
                                      "_object": "/ocean/port",
                                      "port_code": "2704"
                                    }
                                  ]
                                },
                                "wants_pickup_service": false,
                                "wants_delivery_service": false
                              },
                              "cargo_ready_date": "2019-06-30",
                              "delivery_date": "2019-07-31",
                              "wants_export_customs_service": true,
                              "wants_import_customs_service": true,
                              "cargo": {
                                "volume": {
                                  "_object": "/quantity/volume",
                                  "value": 472.62,
                                  "unit": "cbm"
                                },
                                "weight": {
                                  "_object": "/quantity/weight",
                                  "value": 2300.4,
                                  "unit": "kg"
                                },
                                "marks_and_numbers": "Fragile",
                                "shipping_units": [
                                  {
                                    "name": "Watches",
                                    "volume": {
                                      "_object": "/quantity/volume",
                                      "value": 472.62,
                                      "unit": "cbm"
                                    },
                                    "weight": {
                                      "_object": "/quantity/weight",
                                      "value": 2300.4,
                                      "unit": "kg"
                                    },
                                    "height": {
                                      "_object": "/quantity/length",
                                      "value": 472.62,
                                      "unit": "cm"
                                    },
                                    "length": {
                                      "_object": "/quantity/length",
                                      "value": 472.62,
                                      "unit": "cm"
                                    },
                                    "width": {
                                      "_object": "/quantity/length",
                                      "value": 472.62,
                                      "unit": "cm"
                                    },
                                    "count": 9,
                                    "atomic_count": 9,
                                    "unit_type": "carton"
                                  }
                                ],
                                "contains_hazmat": true,
                                "contains_magnets": true,
                                "contains_other_dangerous_goods": true,
                                "contains_li_ion": true,
                                "contains_non_li_ion_battery": true,
                                "lithium_batteries_packing_types": [
                                  "packed_loose"
                                ]
                              },
                              "special_instructions": "Handle carefully",
                              "metadata": {
                                "purchase_order": [
                                  "12345"
                                ],
                                "sku": [
                                  "abc123"
                                ]
                              },
                              "quote_status": "accepted_quote"
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "error",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "_object": {
                        "type": "string",
                        "example": "/api/response"
                      },
                      "self": {
                        "type": "string",
                        "example": "https://api.flexport.com/bookings"
                      },
                      "version": {
                        "type": "integer",
                        "example": 2
                      },
                      "data": {
                        "type": "object"
                      },
                      "error": {
                        "$ref": "#/components/schemas/Error"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "post": {
          "tags": [
            "Booking"
          ],
          "operationId": "booking_create",
          "summary": "Create and return a booking",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBooking"
                },
                "example": {
                  "name": "PO 123",
                  "shipper_entity_ref": "zoomit-us",
                  "consignee_entity_ref": "zoomit_ref",
                  "notify_party": null,
                  "ocean_booking": {
                    "is_lcl": false,
                    "incoterm": "FOB",
                    "container_counts": {
                      "twenty_ft": 2,
                      "forty_ft": 3,
                      "forty_ft_hc": 4,
                      "forty_five_ft_hc": 5
                    },
                    "product_descriptions": [
                      {
                        "description": "Watches",
                        "hs_code": "9101.00",
                        "description_for_export_customs": "手表",
                        "description_for_export_customs_locale": "zh_CN"
                      }
                    ],
                    "wants_pickup_service": false,
                    "wants_delivery_service": false
                  },
                  "origin_address_ref": "id-274346",
                  "destination_address_ref": "my-albany-ref",
                  "cargo_ready_date": "2019-06-30",
                  "delivery_date": "2019-07-31",
                  "wants_export_customs_service": true,
                  "cargo": {
                    "volume": {
                      "_object": "/quantity/volume",
                      "value": 472.62,
                      "unit": "cbm"
                    },
                    "weight": {
                      "_object": "/quantity/weight",
                      "value": 2300.4,
                      "unit": "kg"
                    },
                    "marks_and_numbers": "Fragile",
                    "shipping_units": [
                      {
                        "name": "Watches",
                        "volume": {
                          "_object": "/quantity/volume",
                          "value": 472.62,
                          "unit": "cbm"
                        },
                        "weight": {
                          "_object": "/quantity/weight",
                          "value": 2300.4,
                          "unit": "kg"
                        },
                        "height": {
                          "_object": "/quantity/length",
                          "value": 472.62,
                          "unit": "cm"
                        },
                        "length": {
                          "_object": "/quantity/length",
                          "value": 472.62,
                          "unit": "cm"
                        },
                        "width": {
                          "_object": "/quantity/length",
                          "value": 472.62,
                          "unit": "cm"
                        },
                        "count": 9,
                        "atomic_count": 9,
                        "unit_type": "carton"
                      }
                    ],
                    "contains_hazmat": true,
                    "contains_magnets": true,
                    "contains_other_dangerous_goods": true,
                    "contains_li_ion": true,
                    "contains_non_li_ion_battery": true,
                    "lithium_batteries_packing_types": [
                      "packed_loose"
                    ]
                  },
                  "special_instructions": "Handle carefully",
                  "metadata": {
                    "purchase_order": [
                      "12345"
                    ],
                    "sku": [
                      "abc123"
                    ]
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "The created booking",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "_object": {
                        "type": "string",
                        "example": "/api/response"
                      },
                      "self": {
                        "type": "string",
                        "example": "https://api.flexport.com/bookings"
                      },
                      "version": {
                        "type": "integer",
                        "example": 2
                      },
                      "data": {
                        "$ref": "#/components/schemas/Booking"
                      }
                    }
                  },
                  "examples": {
                    "response": {
                      "summary": "Success",
                      "value": {
                        "_object": "/api/response",
                        "self": "https://api.flexport.com/bookings",
                        "version": 2,
                        "data": {
                          "id": 2983,
                          "_object": "/booking",
                          "name": "PO 123",
                          "shipper_entity": {
                            "_object": "/company_entity",
                            "id": 9281,
                            "name": "My Manufacturer",
                            "ref": "manufacturer_1",
                            "mailing_address": {
                              "_object": "/address",
                              "street_address": "1641 Settlers Lane",
                              "street_address2": "STE 2918",
                              "city": "Albany",
                              "state": "MN",
                              "country": "United States of America",
                              "country_code": "US",
                              "zip": "56307",
                              "unlocode": "US AL2",
                              "timezone": "America/Los_Angeles",
                              "ref": "my-address-ref"
                            },
                            "vat_numbers": [
                              {
                                "_object": "company_entity/vat_number",
                                "country_code": "US",
                                "number": "US 123746396"
                              }
                            ]
                          },
                          "consignee_entity": {
                            "_object": "/company_entity",
                            "id": 9281,
                            "name": "Zoomit",
                            "ref": "self",
                            "mailing_address": {
                              "_object": "/address",
                              "street_address": "1641 Settlers Lane",
                              "street_address2": "STE 2918",
                              "city": "Albany",
                              "state": "MN",
                              "country": "United States of America",
                              "country_code": "US",
                              "zip": "56307",
                              "unlocode": "US AL2",
                              "timezone": "America/Los_Angeles",
                              "ref": "my-address-ref"
                            },
                            "vat_numbers": [
                              {
                                "_object": "company_entity/vat_number",
                                "country_code": "US",
                                "number": "US 123746396"
                              }
                            ]
                          },
                          "notify_party": null,
                          "transportation_mode": "ocean",
                          "ocean_booking": {
                            "_object": "/ocean/booking",
                            "is_lcl": false,
                            "container_counts": {
                              "_object": "/container_counts",
[...]
