{
  "type": "openapi",
  "value": {
    "openapi": "3.1.0",
    "info": {
      "title": "Ntropy Transaction API",
      "contact": {
        "name": "API Support",
        "url": "https://ntropy.com/developers",
        "email": "api@ntropy.com"
      },
      "version": "3.0"
    },
    "servers": [
      {
        "url": "https://api.ntropy.com",
        "description": "Production server (uses live data)."
      }
    ],
    "paths": {
      "/v3/transactions/{id}": {
        "get": {
          "tags": [
            "Transactions"
          ],
          "summary": "Retrieve a transaction",
          "operationId": "get_transaction_v3_transactions__id__get",
          "parameters": [
            {
              "required": true,
              "schema": {
                "type": "string",
                "title": "Id"
              },
              "name": "id",
              "in": "path"
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Transaction"
                  }
                }
              }
            },
            "404": {
              "description": "Transaction with the provided id not found."
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "APIKeyHeader": []
            }
          ],
          "x-codeSamples": [
            {
              "lang": "cURL",
              "label": "cURL",
              "source": "curl -X \"GET\" \\\n    \"https://api.ntropy.com/v3/transactions/xbx8YP14g565Xk\" \\\n    -H \"Accept: application/json\" \\\n    -H \"X-API-KEY: cd1H...Wmhl\"  "
            },
            {
              "lang": "python",
              "label": "Python SDK",
              "source": "from ntropy_sdk import SDK\n\nsdk = SDK(\"cd1H...Wmhl\")\ntx = sdk.transactions.get(\"xbx8YP14g565Xk\") "
            }
          ]
        },
        "delete": {
          "tags": [
            "Transactions"
          ],
          "summary": "Deletes a transaction",
          "description": "Deleting a transaction will also delete it from our systems. This operation is permanent.",
          "operationId": "delete_transaction_v3_transactions__id__delete",
          "parameters": [
            {
              "required": true,
              "schema": {
                "type": "string",
                "title": "Id"
              },
              "name": "id",
              "in": "path"
            }
          ],
          "responses": {
            "204": {
              "description": "Deletion successful"
            },
            "404": {
              "description": "Transaction with the provided id not found."
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "APIKeyHeader": []
            }
          ],
          "x-codeSamples": [
            {
              "lang": "cURL",
              "label": "cURL",
              "source": "curl -X \"DELETE\" \\\n    \"https://api.ntropy.com/v3/transactions/xbx8YP14g565Xk\" \\\n    -H \"Accept: application/json\" \\\n    -H \"X-API-KEY: cd1H...Wmhl\"  "
            },
            {
              "lang": "python",
              "label": "Python SDK",
              "source": "from ntropy_sdk import SDK\n\nsdk = SDK(\"cd1H...Wmhl\")\ntx = sdk.transactions.delete(\"xbx8YP14g565Xk\") "
            }
          ]
        }
      },
      "/v3/transactions": {
        "get": {
          "tags": [
            "Transactions"
          ],
          "summary": "List all transactions",
          "description": "Return a list of enriched transactions starting with the most recent one.",
          "operationId": "list_transactions_v3_transactions_get",
          "parameters": [
            {
              "description": "Only return transactions older or equal than this date",
              "required": false,
              "schema": {
                "type": "string",
                "format": "date-time",
                "title": "Created After",
                "description": "Only return transactions older or equal than this date"
              },
              "name": "created_after",
              "in": "query"
            },
            {
              "description": "Only return transactions newer than this date",
              "required": false,
              "schema": {
                "type": "string",
                "format": "date-time",
                "title": "Created Before",
                "description": "Only return transactions newer than this date"
              },
              "name": "created_before",
              "in": "query"
            },
            {
              "description": "Starting point for the set of transactions",
              "required": false,
              "schema": {
                "type": "string",
                "title": "Cursor",
                "description": "Starting point for the set of transactions"
              },
              "name": "cursor",
              "in": "query"
            },
            {
              "description": "The limit of transactions to be returned",
              "required": false,
              "schema": {
                "type": "integer",
                "maximum": 500,
                "minimum": 1,
                "title": "Limit",
                "description": "The limit of transactions to be returned",
                "default": 25
              },
              "name": "limit",
              "in": "query"
            },
            {
              "description": "If specified, only return the transactions of this account holder",
              "required": false,
              "schema": {
                "type": "string",
                "title": "Account Holder Id",
                "description": "If specified, only return the transactions of this account holder"
              },
              "name": "account_holder_id",
              "in": "query"
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/PagedResponse_Transaction"
                  }
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "APIKeyHeader": []
            }
          ],
          "x-codeSamples": [
            {
              "lang": "cURL",
              "label": "cURL",
              "source": "curl -X \"GET\" \\\n    \"https://api.ntropy.com/v3/transactions\" \\\n    -H \"Accept: application/json\" \\\n    -H \"X-API-KEY: cd1H...Wmhl\"  "
            },
            {
              "lang": "python",
              "label": "Python SDK",
              "source": "from ntropy_sdk import SDK\n\nsdk = SDK(\"cd1H...Wmhl\")\nfor tx in sdk.transactions.list().auto_paginate():\n    ... "
            }
          ]
        },
        "post": {
          "tags": [
            "Transactions"
          ],
          "summary": "Synchronously enrich transactions",
          "description": "Enriches a list of transactions in synchronous fashion. The enriched transactions returned in\nthe order that they were submitted. Webhook events are not triggered for this operation. \n\nThis endpoint supports up to 1000 transactions. \n\nIf you want more throughput and live updates refer to the \n[async enrichment endpoint](../batches/post-batch).",
          "operationId": "post_transactions_v3_transactions_post",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyncEnrichmentInput"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "Enriched transactions.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/SyncEnrichmentOutput"
                  }
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "APIKeyHeader": []
            }
          ],
          "x-codeSamples": [
            {
              "lang": "cURL",
              "label": "cURL",
              "source": "curl -X \"POST\" \\\n    \"https://api.ntropy.com/v3/transactions\" \\\n    -H \"Accept: application/json\" \\\n    -H \"X-API-KEY: cd1H...Wmhl\"  \\\n    -H \"Content-Type: application/json\" \\\n    -d '[{\n        \"id\": \"xbx8YP14g565Xk\",\n        \"description\": \"SQ* STARBUCKS NW 43RD\",\n        \"date\": \"2024-03-30\",\n        \"amount\": 10.0,\n        \"entry_type\": \"outgoing\",\n        \"currency\": \"USD\",\n        \"account_holder_id\": \"35b927b6-6fda-40aa-93b8-95b47c2b2cad\",\n        \"location\": {\n            \"country\": \"US\"\n        }\n    }]'\n "
            },
            {
              "lang": "python",
              "label": "Python SDK",
              "source": "from ntropy_sdk import SDK, TransactionInput, LocationInput\n\nsdk = SDK(\"cd1H...Wmhl\")\nenriched = sdk.transactions.create([\n    TransactionInput(\n        id=\"xbx8YP14g565Xk\",\n        description=\"SQ* STARBUCKS NW 43RD\",\n        account_holder_id=\"35b927b6-6fda-40aa-93b8-95b47c2b2cad\",\n        amount=10.0,\n        entry_type=\"outgoing\",\n        date=\"2024-03-30\",\n        currency=\"USD\",\n        location=LocationInput(\n          country=\"US\",\n        )\n    )\n]) "
            }
          ]
        }
      },
      "/v3/transactions/{id}/assign": {
        "post": {
          "tags": [
            "Transactions"
          ],
          "summary": "Assign a transaction to an account holder",
          "description": "Changes the account holder associated with the transaction. The old and new account holder must share the same categories",
          "operationId": "set_transaction_ah_v3_transactions__id__assign_post",
          "parameters": [
            {
              "required": true,
              "schema": {
                "type": "string",
                "title": "Id"
              },
              "name": "id",
              "in": "path"
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Body_set_transaction_ah_v3_transactions__id__assign_post"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Transaction"
                  }
                }
              }
            },
            "404": {
              "description": "Transaction or account holder with the provided id not found."
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "APIKeyHeader": []
            }
          ],
          "x-codeSamples": [
            {
              "lang": "cURL",
              "label": "cURL",
              "source": "curl -X \"POST\" \\\n    \"https://api.ntropy.com/v3/transactions/xbx8YP14g565Xk\" \\\n    -H \"Accept: application/json\" \\\n    -H \"X-API-KEY: cd1H...Wmhl\"  \\\n    -H \"Content-Type: application/json\" \\\n    -d '{\n        \"account_holder_id\": \"35b927b6-6fda-40aa-93b8-95b47c2b2cad\"\n    }]'\n "
            },
            {
              "lang": "python",
              "label": "Python SDK",
              "source": "from ntropy_sdk import SDK\n\nsdk = SDK(\"cd1H...Wmhl\")\nsdk.transactions.assign(\n    transaction_id=\"xbx8YP14g565Xk\", \n    account_holder_id=\"35b927b6-6fda-40aa-93b8-95b47c2b2cad\"\n) "
            }
          ]
        }
      },
      "/v3/batches": {
        "get": {
          "tags": [
            "Batches"
          ],
          "summary": "List all batches",
          "description": "Returns a list of submitted batches starting with the most recent one.",
          "operationId": "get_batches_v3_batches_get",
          "parameters": [
            {
              "description": "Only return batches older or equal than this date",
              "required": false,
              "schema": {
                "type": "string",
                "format": "date-time",
                "title": "Created After",
                "description": "Only return batches older or equal than this date"
              },
              "name": "created_after",
              "in": "query"
            },
            {
              "description": "Only return batches newer than this date",
              "required": false,
              "schema": {
                "type": "string",
                "format": "date-time",
                "title": "Created Before",
                "description": "Only return batches newer than this date"
              },
              "name": "created_before",
              "in": "query"
            },
            {
              "description": "Starting point for the set of batches",
              "required": false,
              "schema": {
                "type": "string",
                "title": "Cursor",
                "description": "Starting point for the set of batches"
              },
              "name": "cursor",
              "in": "query"
            },
            {
              "description": "The limit of batches to be returned",
              "required": false,
              "schema": {
                "type": "integer",
                "maximum": 50,
                "minimum": 1,
                "title": "Limit",
                "description": "The limit of batches to be returned",
                "default": 10
              },
              "name": "limit",
              "in": "query"
            },
            {
              "description": "If specified, only return batches with this status",
              "required": false,
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BatchStatus"
                  }
                ],
                "description": "If specified, only return batches with this status"
              },
              "name": "status",
              "in": "query"
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/PagedResponse_Batch"
                  }
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "APIKeyHeader": []
            }
          ],
          "x-codeSamples": [
            {
              "lang": "cURL",
              "label": "cURL",
              "source": "curl -X \"GET\" \\\n    \"https://api.ntropy.com/v3/batches\" \\\n    -H \"Accept: application/json\" \\\n    -H \"X-API-KEY: cd1H...Wmhl\"  "
            },
            {
              "lang": "python",
              "label": "Python SDK",
              "source": "from ntropy_sdk import SDK\n\nfor batch in sdk.batches.list().auto_paginate():\n    ... "
            }
          ]
        },
        "post": {
          "tags": [
            "Batches"
          ],
          "summary": "Submit a batch of transactions",
          "description": "Creates a batch of transactions and enriches it in an asynchronous fashion. A batch, representing the status of the \nenrichment progress is returned as a result of the submission. \n\nIn order to be notified on the status of the batch, you can setup [webhooks](../../../webhooks) and receive \nthe respective notifications. Alternatively, you can \n[poll](../../../enrichment/introduction/#viewing-the-progress-of-a-batch) for the status of the batch using its id.\n\nThis endpoints supports up to 24960 transactions.",
          "operationId": "post_batch_v3_batches_post",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncEnrichmentInput"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Batch"
                  }
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "APIKeyHeader": []
            }
          ],
          "x-codeSamples": [
            {
              "lang": "cURL",
              "label": "cURL",
              "source": "curl -X \"POST\" \\\n    \"https://api.ntropy.com/v3/batches/\" \\\n    -H \"Accept: application/json\" \\\n    -H \"X-API-KEY: cd1H...Wmhl\"  \\\n    -H \"Content-Type: application/json\" \\\n    -d '[{\n        \"id\": \"xbx8YP14g565Xk\",\n        \"description\": \"SQ* STARBUCKS NW 43RD\",\n        \"date\": \"2024-03-30\",\n        \"amount\": 10.0,\n        \"entry_type\": \"outgoing\",\n        \"currency\": \"USD\",\n        \"account_holder_id\": \"35b927b6-6fda-40aa-93b8-95b47c2b2cad\",\n        \"location\": {\n            \"country\": \"US\"\n        }\n    }]'\n "
            },
            {
              "lang": "python",
              "label": "Python SDK",
              "source": "from ntropy_sdk import SDK, TransactionInput, LocationInput\n\nsdk = SDK(\"cd1H...Wmhl\")\nbatch = sdk.batches.create([\n    TransactionInput(\n        id=\"xbx8YP14g565Xk\",\n        description=\"SQ* STARBUCKS NW 43RD\",\n        account_holder_id=\"35b927b6-6fda-40aa-93b8-95b47c2b2cad\",\n        amount=10.0,\n        entry_type=\"outgoing\",\n        date=\"2024-03-30\",\n        currency=\"USD\",\n        location=LocationInput(\n          country=\"US\",\n        )\n    )\n]) "
            }
          ]
        }
      },
      "/v3/batches/{id}": {
        "get": {
          "tags": [
            "Batches"
          ],
          "summary": "Retrieve a batch",
          "operationId": "get_single_batch_v3_batches__id__get",
          "parameters": [
            {
              "required": true,
              "schema": {
                "type": "string",
                "title": "Id"
              },
              "name": "id",
              "in": "path"
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Batch"
                  }
                }
              }
            },
            "404": {
              "description": "Batch with the provided id not found."
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "APIKeyHeader": []
            }
          ],
          "x-codeSamples": [
            {
              "lang": "cURL",
              "label": "cURL",
              "source": "curl -X \"GET\" \\\n    \"https://api.ntropy.com/v3/batches/203613d2-83c8-4130-8809-d14206eeec20\" \\\n    -H \"Accept: application/json\" \\\n    -H \"X-API-KEY: cd1H...Wmhl\"  "
            },
            {
              "lang": "python",
              "label": "Python SDK",
              "source": "from ntropy_sdk import SDK\n\nsdk = SDK(\"cd1H...Wmhl\")\nbatch = sdk.batches.get(\"f203613d2-83c8-4130-8809-d14206eeec20\") "
            }
          ]
        }
      },
      "/v3/batches/{id}/results": {
        "get": {
          "tags": [
            "Batches"
          ],
          "summary": "Retrieve the results of a batch",
          "description": "Returns the results of the enrichment request. The resulting enriched transactions are returned in the same order they were submitted. Results are available after the batch has finished processing.",
          "operationId": "get_batch_results_v3_batches__id__results_get",
          "parameters": [
            {
              "required": true,
              "schema": {
                "type": "string",
                "title": "Id"
              },
              "name": "id",
              "in": "path"
            }
          ],
          "responses": {
            "200": {
              "description": "Returned batch of transaction enrichment results.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BatchResult"
                  }
                }
              }
            },
            "404": {
              "description": "Batch with the provided id not found."
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "APIKeyHeader": []
            }
          ],
          "x-codeSamples": [
            {
              "lang": "cURL",
              "label": "cURL",
              "source": "curl -X \"GET\" \\\n    \"https://api.ntropy.com/v3/batches/203613d2-83c8-4130-8809-d14206eeec20/results\" \\\n    -H \"Accept: application/json\" \\\n    -H \"X-API-KEY: cd1H...Wmhl\"  "
            },
            {
              "lang": "python",
              "label": "Python SDK",
              "source": "from ntropy_sdk import SDK\n\nsdk = SDK(\"cd1H...Wmhl\")\nresults = sdk.batches.wait_for_results(\"f203613d2-83c8-4130-8809-d14206eeec20\")\n"
            }
          ]
        }
      },
      "/v3/bank_statements": {
        "get": {
          "tags": [
            "Bank statements"
          ],
          "summary": "List all bank statements",
          "description": "Return a list of submitted bank statements starting with the most recent one.",
          "operationId": "get_bank_statements_v3_bank_statements_get",
          "parameters": [
            {
              "description": "Only return bank statements older or equal than this date",
              "required": false,
              "schema": {
                "type": "string",
                "format": "date-time",
                "title": "Created After",
                "description": "Only return bank statements older or equal than this date"
              },
              "name": "created_after",
              "in": "query"
            },
            {
              "description": "Only return bank statements newer than this date",
              "required": false,
              "schema": {
                "type": "string",
                "format": "date-time",
                "title": "Created Before",
                "description": "Only return bank statements newer than this date"
              },
              "name": "created_before",
              "in": "query"
            },
            {
              "description": "Starting point for the set of bank statements",
              "required": false,
              "schema": {
                "type": "string",
                "title": "Cursor",
                "description": "Starting point for the set of bank statements"
              },
              "name": "cursor",
              "in": "query"
            },
            {
              "description": "The limit of bank statements to be returned",
              "required": false,
              "schema": {
                "type": "integer",
                "maximum": 50,
                "minimum": 1,
                "title": "Limit",
                "description": "The limit of bank statements to be returned",
                "default": 10
              },
              "name": "limit",
              "in": "query"
            },
            {
              "description": "If specified, only return bank statements with this status",
              "required": false,
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/DocumentStatus"
                  }
                ],
                "description": "If specified, only return bank statements with this status"
              },
              "name": "status",
              "in": "query"
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/PagedResponse_BankStatement"
                  }
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "APIKeyHeader": []
            }
          ],
          "x-codeSamples": [
            {
              "lang": "cURL",
              "label": "cURL",
              "source": "curl -X \"GET\" \\\n    \"https://api.ntropy.com/v3/bank_statements\" \\\n    -H \"Accept: application/json\" \\\n    -H \"X-API-KEY: cd1H...Wmhl\"  "
            },
            {
              "lang": "python",
              "label": "Python SDK",
              "source": "from ntropy_sdk import SDK\n\nsdk = SDK(\"cd1H...Wmhl\")\nfor bs in sdk.bank_statements.list().auto_paginate():\n    ... "
            }
          ]
        },
        "post": {
          "tags": [
            "Bank statements"
          ],
          "summary": "Submit a bank statement PDF",
          "description": "Upload a PDF file and queue it for extraction.",
          "operationId": "post_bank_statement_v3_bank_statements_post",
          "requestBody": {
            "content": {
              "multipart/form-data": {
                "schema": {
                  "$ref": "#/components/schemas/Body_post_bank_statement_v3_bank_statements_post"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BankStatement"
                  }
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "APIKeyHeader": []
            }
          ],
          "x-codeSamples": [
            {
              "lang": "cURL",
              "label": "cURL",
              "source": "curl -X \"POST\" \\\n        \"https://api.ntropy.com/v3/bank_statements\" \\\n        -H \"Accept: application/json\" \\\n        -H \"X-API-KEY: cd1H...Wmhl\" \\\n        --form file=@bank_statement.pdf\n    "
            },
            {
              "lang": "python",
              "label": "Python SDK",
              "source": "from ntropy_sdk import SDK\n\nsdk = SDK(\"cd1H...Wmhl\")\nwith open('bank_statement.pdf', 'rb') as fh:\n    bank_statement = sdk.bank_statements.create(fh)\n    results = sdk.bank_statement.wait_for_results(bank_statement.id) "
            }
          ]
        }
      },
      "/v3/bank_statements/{id}": {
        "get": {
          "tags": [
            "Bank statements"
          ],
          "summary": "Retrieve a bank statement",
          "operationId": "get_bank_statement_v3_bank_statements__id__get",
          "parameters": [
            {
              "required": true,
              "schema": {
                "type": "string",
                "title": "Id"
              },
              "name": "id",
              "in": "path"
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BankStatement"
                  }
                }
              }
            },
            "404": {
              "description": "Bank statement with the provided id not found."
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "APIKeyHeader": []
            }
          ],
          "x-codeSamples": [
            {
              "lang": "cURL",
              "label": "cURL",
              "source": "curl -X \"GET\" \\\n    \"https://api.ntropy.com/v3/bank_statements/7f8dceac-2848-472d-b5c3-55cdbaf35a9b\" \\\n    -H \"Accept: application/json\" \\\n    -H \"X-API-KEY: cd1H...Wmhl\"  "
            },
            {
              "lang": "python",
              "label": "Python SDK",
              "source": "from ntropy_sdk import SDK\n\nsdk = SDK(\"cd1H...Wmhl\")\nbs = sdk.bank_statements.get(\"7f8dceac-2848-472d-b5c3-55cdbaf35a9b\") "
            }
          ]
        },
        "delete": {
          "tags": [
            "Bank statements"
          ],
          "summary": "Deletes a bank statement",
          "operationId": "delete_bank_statement_v3_bank_statements__id__delete",
          "parameters": [
            {
              "required": true,
              "schema": {
                "type": "string",
                "title": "Id"
              },
              "name": "id",
              "in": "path"
            }
          ],
          "responses": {
            "204": {
              "description": "Deletion successful"
            },
            "404": {
              "description": "Bank statement with the provided id not found."
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "APIKeyHeader": []
            }
          ]
        }
      },
      "/v3/bank_statements/{id}/overview": {
        "post": {
          "tags": [
            "Bank statements"
          ],
          "summary": "Quickly extract account holder, institution and first account",
          "description": "Extracts account holder, bank and account information extracted from the first page of the bank statement, which is typically available before the full results. This is a synchronous call.\n\nComplete guide: [Overview](../../../bank-statements)",
          "operationId": "get_bank_statement_statement_info_v3_bank_statements__id__overview_post",
          "parameters": [
            {
              "required": true,
              "schema": {
                "type": "string",
                "title": "Id"
              },
              "name": "id",
              "in": "path"
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/StatementInfo"
                  }
                }
              }
            },
            "404": {
              "description": "Bank statement with the provided id not found."
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "APIKeyHeader": []
            }
          ],
          "x-codeSamples": [
            {
              "lang": "cURL",
              "label": "cURL",
              "source": "curl -X \"POST\" \\\n    \"https://api.ntropy.com/v3/bank_statements/7f8dceac-2848-472d-b5c3-55cdbaf35a9b/overview\" \\\n    -H \"Accept: application/json\" \\\n    -H \"X-API-KEY: cd1H...Wmhl\"  "
            },
            {
              "lang": "python",
              "label": "Python SDK",
              "source": "from ntropy_sdk import SDK\n\nsdk = SDK(\"cd1H...Wmhl\")\noverview = sdk.bank_statements.overview(\n    \"7f8dceac-2848-472d-b5c3-55cdbaf35a9b\"\n) "
            }
          ]
        }
      },
      "/v3/bank_statements/{id}/results": {
        "get": {
          "tags": [
            "Bank statements"
          ],
          "summary": "Retrieve the extraction results",
          "description": "Return the extracted account information and associated transactions from a bank statement PDF. The results are accessible once the statement's status is `completed`.",
          "operationId": "get_bank_statement_result_v3_bank_statements__id__results_get",
          "parameters": [
            {
              "required": true,
              "schema": {
                "type": "string",
                "title": "Id"
              },
              "name": "id",
              "in": "path"
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BankStatementResults"
                  }
                }
              }
            },
            "404": {
              "description": "Bank statement with the provided id not found."
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "APIKeyHeader": []
            }
          ],
          "x-codeSamples": [
            {
              "lang": "cURL",
              "label": "cURL",
              "source": "curl -X \"GET\" \\\n    \"https://api.ntropy.com/v3/bank_statements/7f8dceac-2848-472d-b5c3-55cdbaf35a9b/results\" \\\n    -H \"Accept: application/json\" \\\n    -H \"X-API-KEY: cd1H...Wmhl\"  "
            },
            {
              "lang": "python",
              "label": "Python SDK",
              "source": "from ntropy_sdk import SDK\n\nsdk = SDK(\"cd1H...Wmhl\")\nbs = sdk.bank_statements.get(\"7f8dceac-2848-472d-b5c3-55cdbaf35a9b\")\nresults = sdk.bank_statements.wait_for_results(\n    \"7f8dceac-2848-472d-b5c3-55cdbaf35a9b\"\n) "
            }
          ]
        }
      },
      "/v3/account_holders/{id}": {
        "get": {
          "tags": [
            "Account Holders"
          ],
          "summary": "Retrieve an account holder.",
          "operationId": "get_account_holder_v3_account_holders__id__get",
          "parameters": [
            {
              "required": true,
              "schema": {
                "type": "string",
                "title": "Id"
              },
              "name": "id",
              "in": "path"
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/AccountHolderExternal"
                  }
                }
              }
            },
            "404": {
              "description": "Account holder with the provided id not found."
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "APIKeyHeader": []
            }
          ],
          "x-codeSamples": [
            {
              "lang": "cURL",
              "label": "cURL",
              "source": "curl -X \"GET\" \\\n    \"https://api.ntropy.com/v3/account_holders/35b927b6-6fda-40aa-93b8-95b47c2b2cad\" \\\n    -H \"Accept: application/json\" \\\n    -H \"X-API-KEY: cd1H...Wmhl\"  "
            },
            {
              "lang": "python",
              "label": "Python SDK",
              "source": "from ntropy_sdk import SDK\n\nsdk = SDK(\"cd1H...Wmhl\")\nah = sdk.account_holders.get(\"f35b927b6-6fda-40aa-93b8-95b47c2b2cad\") "
            }
          ]
        },
        "delete": {
          "tags": [
            "Account Holders"
          ],
          "summary": "Deletes an account holder and their transactions",
          "description": "Deletes all of the transactions in the account holder's history. This operation is permanent and irreversible",
          "operationId": "delete_account_holder_v3_account_holders__id__delete",
          "parameters": [
            {
              "required": true,
              "schema": {
                "type": "string",
                "title": "Id"
              },
              "name": "id",
              "in": "path"
            }
          ],
          "responses": {
            "204": {
              "description": "Deletion successful"
            },
            "404": {
              "description": "Account holder with the provided id not found."
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "APIKeyHeader": []
            }
          ],
          "x-codeSamples": [
            {
              "lang": "cURL",
              "label": "cURL",
              "source": "curl -X \"DELETE\" \\\n    \"https://api.ntropy.com/v3/account_holders/35b927b6-6fda-40aa-93b8-95b47c2b2cad\" \\\n    -H \"Accept: application/json\" \\\n    -H \"X-API-KEY: cd1H...Wmhl\"  "
            },
            {
              "lang": "python",
              "label": "Python SDK",
              "source": "from ntropy_sdk import SDK\n\nsdk = SDK(\"cd1H...Wmhl\")\nah = sdk.account_holders.delete(\"f35b927b6-6fda-40aa-93b8-95b47c2b2cad\") "
            }
          ]
        }
      },
      "/v3/account_holders": {
        "get": {
          "tags": [
            "Account Holders"
          ],
          "summary": "List all account holders.",
          "operationId": "get_account_holders_v3_account_holders_get",
          "parameters": [
            {
              "description": "Only return account holders older or equal than this date",
              "required": false,
              "schema": {
                "type": "string",
                "format": "date-time",
                "title": "Created After",
                "description": "Only return account holders older or equal than this date"
              },
              "name": "created_after",
              "in": "query"
            },
            {
              "description": "Only return account holders newer than this date",
              "required": false,
              "schema": {
                "type": "string",
                "format": "date-time",
                "title": "Created Before",
                "description": "Only return account holders newer than this date"
              },
              "name": "created_before",
              "in": "query"
            },
            {
              "description": "Starting point for the set of account holders",
              "required": false,
              "schema": {
                "type": "string",
                "title": "Cursor",
                "description": "Starting point for the set of account holders"
              },
              "name": "cursor",
              "in": "query"
            },
            {
              "description": "The limit of account holders to be returned",
              "required": false,
              "schema": {
                "type": "integer",
                "maximum": 50,
                "minimum": 1,
                "title": "Limit",
                "description": "The limit of account holders to be returned",
                "default": 10
              },
              "name": "limit",
              "in": "query"
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/PagedResponse_AccountHolderExternal"
                  }
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "APIKeyHeader": []
            }
          ],
          "x-codeSamples": [
            {
              "lang": "cURL",
              "label": "cURL",
              "source": "curl -X \"GET\" \\\n    \"https://api.ntropy.com/v3/account_holders/35b927b6-6fda-40aa-93b8-95b47c2b2cad\" \\\n    -H \"Accept: application/json\" \\\n    -H \"X-API-KEY: cd1H...Wmhl\"  "
            },
            {
              "lang": "python",
              "label": "Python SDK",
              "source": "from ntropy_sdk import SDK\n\nsdk = SDK(\"cd1H...Wmhl\")\nah = sdk.account_holders.get(\"f35b927b6-6fda-40aa-93b8-95b47c2b2cad\") "
            }
          ]
        },
        "post": {
          "tags": [
            "Account Holders"
          ],
          "summary": "Create an account holder.",
          "operationId": "create_account_holder_v3_account_holders_post",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountHolderCreate"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/AccountHolderExternal"
                  }
                }
              }
            },
            "400": {
              "description": "Account holder with the provided id already exists."
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "APIKeyHeader": []
            }
          ],
          "x-codeSamples": [
            {
              "lang": "cURL",
              "label": "cURL",
              "source": "curl -X \"POST\" \\\n    \"https://api.ntropy.com/v3/account_holders\" \\\n    -H \"Accept: application/json\" \\\n    -H \"X-API-KEY: cd1H...Wmhl\"  \\\n    -H \"Content-Type: application/json\" \\\n    -d '{\n        \"id\": \"35b927b6-6fda-40aa-93b8-95b47c2b2cad\",\n        \"type\": \"consumer\",\n        \"name\": \"John Doe\"\n    }]'\n "
            },
            {
              "lang": "python",
              "label": "Python SDK",
              "source": "from ntropy_sdk import SDK\n\nsdk = SDK(\"cd1H...Wmhl\")\nah = sdk.account_holders.create(\n    id=\"35b927b6-6fda-40aa-93b8-95b47c2b2cad\",\n    type=\"consumer\",\n    name=\"John Doe\",\n) "
            }
          ]
        }
      },
      "/v3/account_holders/{id}/recurring_groups": {
        "post": {
          "tags": [
            "Recurrence"
          ],
          "summary": "Find recurring groups in a transaction history",
          "description": "Identifies and categorizes recurring patterns found in the transaction history of the account holder, such as periodic payments or subscriptions. These patterns are called recurrence groups.",
          "operationId": "get_account_holder_recurring_payments_v3_account_holders__id__recurring_groups_post",
          "parameters": [
            {
              "required": true,
              "schema": {
                "type": "string",
                "title": "Id"
              },
              "name": "id",
              "in": "path"
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "items": {
                      "$ref": "#/components/schemas/RecurrenceGroup"
                    },
                    "type": "array",
                    "title": "Response Get Account Holder Recurring Payments V3 Account Holders  Id  Recurring Groups Post"
                  }
                }
              }
            },
            "404": {
              "description": "Account holder with the provided id not found."
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "APIKeyHeader": []
            }
          ],
          "x-codeSamples": [
            {
              "lang": "cURL",
              "label": "cURL",
              "source": "curl -X \"POST\" \\\n    \"https://api.ntropy.com/v3/account_holders/35b927b6-6fda-40aa-93b8-95b47c2b2cad/recurring_groups\" \\\n    -H \"Accept: application/json\" \\\n    -H \"X-API-KEY: cd1H...Wmhl\"  "
            },
            {
              "lang": "python",
              "label": "Python SDK",
              "source": "from ntropy_sdk import SDK\n\nsdk = SDK(\"cd1H...Wmhl\")\nrecurring_groups = sdk.account_holders.recurring_groups(\n    \"35b927b6-6fda-40aa-93b8-95b47c2b2cad\"\n) "
            }
          ]
        }
      },
      "/v3/webhooks": {
        "get": {
          "tags": [
            "Webhooks"
          ],
          "summary": "List all webhooks",
          "description": "List all webhooks",
          "operationId": "get_webhooks_v3_webhooks_get",
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/PagedResponse_Webhook"
                  }
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "APIKeyHeader": []
            }
          ],
          "x-codeSamples": [
            {
              "lang": "cURL",
              "label": "cURL",
              "source": "curl -X \"GET\" \\\n    \"https://api.ntropy.com/v3/webhooks\" \\\n    -H \"Accept: application/json\" \\\n    -H \"X-API-KEY: cd1H...Wmhl\"  "
            },
            {
              "lang": "python",
              "label": "Python SDK",
              "source": "from ntropy_sdk import SDK\n\nsdk = SDK(\"cd1H...Wmhl\")\nfor webhook in sdk.webhooks.list().auto_paginate():\n    ... "
            }
          ]
        },
        "post": {
          "tags": [
            "Webhooks"
          ],
          "summary": "Create a webhook",
          "description": "Create a webhook to be called when certain events occur.",
          "operationId": "post_webhook_v3_webhooks_post",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookBase"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Webhook"
                  }
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "APIKeyHeader": []
            }
          ],
          "x-codeSamples": [
            {
              "lang": "cURL",
              "label": "cURL",
              "source": "curl -X \"POST\" \\\n    \"https://api.ntropy.com/v3/webhooks\" \\\n    -H \"Accept: application/json\" \\\n    -H \"X-API-KEY: cd1H...Wmhl\"  \\\n    -H \"Content-Type: application/json\" \\\n    -d '{\n        \"url\": \"https://example.com:5689\",\n        \"events\": [\n            \"batches.completed\",\n            \"batches.error\"\n        ],\n        \"token\": \"hunter2\"\n    }]'\n "
            },
            {
              "lang": "python",
              "label": "Python SDK",
              "source": "from ntropy_sdk import SDK\n\nsdk = SDK(\"cd1H...Wmhl\")\nsdk.webhooks.create(\n    url=\"https://example.com:5689\",\n    events=\"['batches.completed', 'batches.error']\",\n    token=\"hunter2\",\n) "
            }
          ]
        }
      },
      "/v3/webhooks/{id}": {
        "get": {
          "tags": [
            "Webhooks"
          ],
          "summary": "Retrieve a webhook",
          "description": "Retrieve a webhook",
          "operationId": "get_webhook_v3_webhooks__id__get",
          "parameters": [
            {
              "required": true,
              "schema": {
                "type": "string",
                "title": "Id"
              },
              "name": "id",
              "in": "path"
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Webhook"
                  }
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "APIKeyHeader": []
            }
          ],
          "x-codeSamples": [
            {
              "lang": "cURL",
              "label": "cURL",
              "source": "curl -X \"GET\" \\\n    \"https://api.ntropy.com/v3/webhooks/e94a150d-40af-4e96-8aa7-2948a6b4d8d3\" \\\n    -H \"Accept: application/json\" \\\n    -H \"X-API-KEY: cd1H...Wmhl\"  "
            },
            {
              "lang": "python",
              "label": "Python SDK",
              "source": "from ntropy_sdk import SDK\n\nsdk = SDK(\"cd1H...Wmhl\")\nwebhook = sdk.webhooks.get(\"e94a150d-40af-4e96-8aa7-2948a6b4d8d3\")\n"
            }
          ]
        },
        "delete": {
          "tags": [
            "Webhooks"
          ],
          "summary": "Delete a webhook",
          "description": "Delete a webhook",
          "operationId": "delete_webhook_v3_webhooks__id__delete",
          "parameters": [
            {
              "required": true,
              "schema": {
                "type": "string",
                "title": "Id"
              },
              "name": "id",
              "in": "path"
            }
          ],
          "responses": {
            "204": {
              "description": "Deletion successful"
            },
            "404": {
              "description": "Webhook with the provided id not found."
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "APIKeyHeader": []
            }
          ],
          "x-codeSamples": [
            {
              "lang": "cURL",
              "label": "cURL",
              "source": "curl -X \"DELETE\" \\\n    \"https://api.ntropy.com/v3/webhooks/e94a150d-40af-4e96-8aa7-2948a6b4d8d3\" \\\n    -H \"Accept: application/json\" \\\n    -H \"X-API-KEY: cd1H...Wmhl\"  "
            },
            {
              "lang": "python",
              "label": "Python SDK",
              "source": "from ntropy_sdk import SDK\n\nsdk = SDK(\"cd1H...Wmhl\")\nsdk.webhooks.delete(\"e94a150d-40af-4e96-8aa7-2948a6b4d8d3\") "
            }
          ]
        },
        "patch": {
          "tags": [
            "Webhooks"
          ],
          "summary": "Update a webhook",
          "description": "Update a webhook. Fields that aren't specified in the body will remain unchanged",
          "operationId": "patch_webhook_v3_webhooks__id__patch",
          "parameters": [
            {
              "required": true,
              "schema": {
                "type": "string",
                "title": "Id"
              },
              "name": "id",
              "in": "path"
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookPatch"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Webhook"
                  }
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "APIKeyHeader": []
            }
          ],
          "x-codeSamples": [
            {
              "lang": "cURL",
              "label": "cURL",
              "source": "curl -X \"POST\" \\\n    \"https://api.ntropy.com/v3/webhooks/e94a150d-40af-4e96-8aa7-2948a6b4d8d3\" \\\n    -H \"Accept: application/json\" \\\n    -H \"X-API-KEY: cd1H...Wmhl\"  \\\n    -H \"Content-Type: application/json\" \\\n    -d '{\n        \"events\": [\n            \"batches.completed\",\n            \"batches.error\"\n        ],\n        \"enabled\": false\n    }]'\n "
            },
            {
              "lang": "python",
              "label": "Python SDK",
              "source": "from ntropy_sdk import SDK\n\nsdk = SDK(\"cd1H...Wmhl\")\nwh = sdk.webhooks.patch(\n    \"e94a150d-40af-4e96-8aa7-2948a6b4d8d3\",\n    events=['batches.completed', 'batches.error'],\n    enabled=False,\n)\n"
            }
          ]
        }
      },
      "/v3/rules": {
        "get": {
          "tags": [
            "Personalization",
            "Personalization"
          ],
          "summary": "Get the current personalization ruleset.",
          "description": "Get the current personalization ruleset.",
          "operationId": "filter_get_v3_rules_get",
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/FilterModel"
                  }
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "APIKeyHeader": []
            }
          ],
          "x-codeSamples": [
            {
              "lang": "cURL",
              "label": "cURL",
              "source": "curl -X \"GET\" \\\n    \"https://api.ntropy.com/v3/rules\" \\\n    -H \"Accept: application/json\" \\\n    -H \"X-API-KEY: cd1H...Wmhl\"  "
            },
            {
              "lang": "python",
              "label": "Python SDK",
              "source": "from ntropy_sdk import SDK\n\nsdk = SDK(\"cd1H...Wmhl\")\nrules = sdk.rules.get()\n"
            }
          ]
        },
        "post": {
          "tags": [
            "Personalization",
            "Personalization"
          ],
          "summary": "Set the personalization ruleset.",
          "description": "Set the personalization ruleset.",
          "operationId": "filter_post_v3_rules_post",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilterModel"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {}
                }
              }
            },
            "400": {
              "description": "Provided ruleset has invalid structure"
            },
            "413": {
              "description": "Ruleset was larger than 50KiB"
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "APIKeyHeader": []
            }
          ],
          "x-codeSamples": [
            {
              "lang": "cURL",
              "label": "cURL",
              "source": "curl -X \"POST\" \\\n    \"https://api.ntropy.com/v3/rules\" \\\n    -H \"Accept: application/json\" \\\n    -H \"X-API-KEY: cd1H...Wmhl\" \\\n    -H \"Content-Type: application/json\" \\\n    -d '[{\n        \"if\": {\n            \"is_substring\": [\n                {\"get\": \"website\"},\n                \"ntropy\"\n            ]\n        },\n        \"then\": [\n            {\"set\": \"logo\", \"to\": \"http://example.com/favicon.ico\"}\n        ],\n        \"else\": [\n            {\"remove_label\": \"example label\"}\n        ]\n    }]'\n"
            },
            {
              "lang": "python",
              "label": "Python SDK",
              "source": "from ntropy_sdk import SDK\n\nsdk = SDK(\"cd1H...Wmhl\")\nsdk.rules.set([{\n    \"if\": {\n        \"is_substring\": [\n            {\"get\": \"website\"},\n            \"ntropy\"\n        ]\n    },\n    \"then\": [\n        {\"set\": \"logo\", \"to\": \"http://example.com/favicon.ico\"}\n    ],\n    \"else\": [\n        {\"remove_label\": \"example label\"}\n    ]\n}])\n"
            }
          ]
        }
      },
      "/v3/rules/append": {
        "post": {
          "tags": [
            "Personalization",
            "Personalization"
          ],
          "summary": "Append a rule.",
          "description": "Append a rule to the personalization ruleset.",
          "operationId": "filter_append_v3_rules_append_post",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionModel"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {}
                }
              }
            },
            "400": {
              "description": "Provided rule has invalid structure"
            },
            "413": {
              "description": "Ruleset after append was larger than 50KiB"
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "APIKeyHeader": []
            }
          ],
          "x-codeSamples": [
            {
              "lang": "cURL",
              "label": "cURL",
              "source": "curl -X \"POST\" \\\n    \"https://api.ntropy.com/v3/rules/append\" \\\n    -H \"Accept: application/json\" \\\n    -H \"X-API-KEY: cd1H...Wmhl\" \\\n    -H \"Content-Type: application/json\" \\\n    -d '{\"set\": \"logo\", \"to\": \"http://example.com/favicon.ico\"}'\n"
            },
            {
              "lang": "python",
              "label": "Python SDK",
              "source": "from ntropy_sdk import SDK\n\nsdk = SDK(\"cd1H...Wmhl\")\nsdk.rules.append({\"set\": \"logo\", \"to\": \"http://example.com/favicon.ico\"})\n"
            }
          ]
        }
      },
      "/v3/rules/{index}": {
        "delete": {
          "tags": [
            "Personalization",
            "Personalization"
          ],
          "summary": "Delete a rule.",
          "description": "Delete the rule at the specified index from the personalization ruleset.",
          "operationId": "filter_delete_v3_rules__index__delete",
          "parameters": [
            {
              "required": true,
              "schema": {
                "type": "integer",
                "title": "Index"
              },
              "name": "index",
              "in": "path"
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {}
                }
              }
            },
            "400": {
              "description": "Provided index does not exist in ruleset"
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "APIKeyHeader": []
            }
          ],
          "x-codeSamples": [
            {
              "lang": "cURL",
              "label": "cURL",
              "source": "curl -X \"DELETE\" \\\n    \"https://api.ntropy.com/v3/rules/0\" \\\n    -H \"Accept: application/json\" \\\n    -H \"X-API-KEY: cd1H...Wmhl\"  "
            },
            {
              "lang": "python",
              "label": "Python SDK",
              "source": "from ntropy_sdk import SDK\n\nsdk = SDK(\"cd1H...Wmhl\")\nsdk.rules.delete(0)\n"
            }
          ]
        },
        "patch": {
          "tags": [
            "Personalization",
            "Personalization"
          ],
          "summary": "Modify an existing rule.",
          "description": "Modify an existing rule at the specified index on the ruleset.",
          "operationId": "filter_patch_v3_rules__index__patch",
          "parameters": [
            {
              "required": true,
              "schema": {
                "type": "integer",
                "title": "Index"
              },
              "name": "index",
              "in": "path"
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionModel"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {}
                }
              }
            },
            "400": {
              "description": "Provided index does not exist in ruleset"
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "APIKeyHeader": []
            }
          ],
          "x-codeSamples": [
            {
              "lang": "cURL",
              "label": "cURL",
              "source": "curl -X \"PATCH\" \\\n    \"https://api.ntropy.com/v3/rules/0\" \\\n    -H \"Accept: application/json\" \\\n    -H \"X-API-KEY: cd1H...Wmhl\" \\\n    -H \"Content-Type: application/json\" \\\n    -d '{\"set\": \"logo\", \"to\": \"http://example.com/favicon.ico\"}'\n"
            },
            {
              "lang": "python",
              "label": "Python SDK",
              "source": "from ntropy_sdk import SDK\n\nsdk = SDK(\"cd1H...Wmhl\")\nsdk.rules.patch(0, {\"set\": \"logo\", \"to\": \"http://example.com/favicon.ico\"})\n"
            }
          ]
        }
      },
      "/v3/reports": {
        "get": {
          "tags": [
            "Reports"
          ],
          "summary": "List all reports",
          "description": "List all reports",
          "operationId": "get_reports_v3_reports_get",
          "parameters": [
            {
              "description": "Only return report older or equal than this date",
              "required": false,
              "schema": {
                "type": "string",
                "format": "date-time",
                "title": "Created After",
                "description": "Only return report older or equal than this date"
              },
              "name": "created_after",
              "in": "query"
            },
            {
              "description": "Only return report newer than this date",
              "required": false,
              "schema": {
                "type": "string",
                "format": "date-time",
                "title": "Created Before",
                "description": "Only return report newer than this date"
              },
              "name": "created_before",
              "in": "query"
            },
            {
              "description": "Starting point for the set of report",
              "required": false,
              "schema": {
                "type": "string",
                "title": "Cursor",
                "description": "Starting point for the set of report"
              },
              "name": "cursor",
              "in": "query"
            },
            {
              "description": "The limit of report to be returned",
              "required": false,
              "schema": {
                "type": "integer",
                "maximum": 50,
                "minimum": 1,
                "title": "Limit",
                "description": "The limit of report to be returned",
                "default": 10
              },
              "name": "limit",
              "in": "query"
            },
            {
              "description": "If specified, only return reports with this status",
              "required": false,
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ReportStatus"
                  }
                ],
                "description": "If specified, only return reports with this status"
              },
              "name": "status",
              "in": "query"
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/PagedResponse_Report_"
                  }
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "APIKeyHeader": []
            }
          ],
          "x-codeSamples": [
            {
              "lang": "cURL",
              "label": "cURL",
              "source": "curl -X \"GET\" \\\n    \"https://api.ntropy.com/v3/reports\" \\\n    -H \"Accept: application/json\" \\\n    -H \"X-API-KEY: cd1H...Wmhl\"  "
            },
            {
              "lang": "python",
              "label": "Python SDK",
              "source": "from ntropy_sdk import SDK\n\nsdk = SDK(\"cd1H...Wmhl\")\nreports = sdk.reports.list()\n    "
            }
          ]
        },
        "post": {
          "tags": [
            "Reports"
          ],
          "summary": "Create a report",
          "description": "Report a transaction with incorrect fields.",
          "operationId": "post_report_v3_reports_post",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportBase"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "The newly created report",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Report"
                  }
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "APIKeyHeader": []
            }
          ],
          "x-codeSamples": [
            {
              "lang": "cURL",
              "label": "cURL",
              "source": "curl -X \"POST\" \\\n    \"https://api.ntropy.com/v3/reports\" \\\n    -H \"Accept: application/json\" \\\n    -H \"X-API-KEY: cd1H...Wmhl\"  \\\n    -H \"Content-Type: application/json\" \\\n    -d '{\n        \"transaction_id\": \"xbx8YP14g565Xk\",\n        \"description\": \"lorem ipsum\",\n        \"fields\": [\n            \".entities.counterparty\"\n        ]\n    }]'\n "
            },
            {
              "lang": "python",
              "label": "Python SDK",
              "source": "from ntropy_sdk import SDK\n\nsdk = SDK(\"cd1H...Wmhl\")\nreport = sdk.reports.create(\n    transaction_id=\"xbx8YP14g565Xk\",\n    description=\"lorem ipsum\",\n    fields=['.entities.counterparty'],\n)\n"
            }
          ]
        }
      },
      "/v3/reports/{id}": {
        "get": {
          "tags": [
            "Reports"
          ],
          "summary": "Retrieve a report",
          "description": "Retrieve a report",
          "operationId": "get_report_v3_reports__id__get",
          "parameters": [
            {
              "required": true,
              "schema": {
                "type": "string",
                "title": "Id"
              },
              "name": "id",
              "in": "path"
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Report"
                  }
                }
              }
            },
            "404": {
              "description": "Report with the provided id not found."
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "APIKeyHeader": []
            }
          ],
          "x-codeSamples": [
            {
              "lang": "cURL",
              "label": "cURL",
              "source": "curl -X \"GET\" \\\n    \"https://api.ntropy.com/v3/reports/a652285d-de1b-4a6f-b6ce-45efa9be7952\" \\\n    -H \"Accept: application/json\" \\\n    -H \"X-API-KEY: cd1H...Wmhl\"  "
            },
            {
              "lang": "python",
              "label": "Python SDK",
              "source": "from ntropy_sdk import SDK\n\nsdk = SDK(\"cd1H...Wmhl\")\nreport = sdk.reports.get(\"a652285d-de1b-4a6f-b6ce-45efa9be7952\")\n    "
            }
          ]
        },
        "delete": {
          "tags": [
            "Reports"
          ],
          "summary": "Delete a report",
          "description": "Delete a report",
          "operationId": "delete_report_v3_reports__id__delete",
          "parameters": [
            {
              "required": true,
              "schema": {
                "type": "string",
                "title": "Id"
              },
              "name": "id",
              "in": "path"
            }
          ],
          "responses": {
            "204": {
              "description": "Deletion successful"
            },
            "404": {
              "description": "Report with the provided id not found."
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "APIKeyHeader": []
            }
          ]
        }
      },
      "/v3/categories/{account_holder_type}": {
        "get": {
          "tags": [
            "Categories"
          ],
          "summary": "Retrieve category set",
          "description": "Retrieves the set of categories. Category sets are different per account holder type.",
          "operationId": "get_category_set_v3_categories__account_holder_type__get",
          "parameters": [
            {
              "required": true,
              "schema": {
                "$ref": "#/components/schemas/AccountHolderType"
              },
              "name": "account_holder_type",
              "in": "path"
            }
          ],
          "responses": {
            "200": {
              "description": "Category set for the selected type of account holder",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CategorySet"
                  }
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "APIKeyHeader": []
            }
          ],
          "x-codeSamples": [
            {
              "lang": "cURL",
              "label": "cURL",
              "source": "curl -X \"GET\" \\\n    \"https://api.ntropy.com/v3/categories/consumer\" \\\n    -H \"Accept: application/json\" \\\n    -H \"X-API-KEY: cd1H...Wmhl\"  "
            },
            {
              "lang": "python",
              "label": "Python SDK",
              "source": "from ntropy_sdk import SDK\n\nsdk = SDK(\"cd1H...Wmhl\")\nsdk.categories.get(\"consumer\")\n"
            }
          ]
        },
        "post": {
          "tags": [
            "Categories"
          ],
          "summary": "Set a custom set of categories",
          "description": "Sets a custom set of categories. Transactions that don't match a category will be categorized `not enough information` regardless of whether it is present in the set.",
          "operationId": "custom_categories_post_v3_categories__account_holder_type__post",
          "parameters": [
            {
              "required": true,
              "schema": {
                "$ref": "#/components/schemas/AccountHolderType"
              },
              "name": "account_holder_type",
              "in": "path"
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomCategorySet"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "Custom categories successfully set.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CustomCategorySet"
                  }
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "APIKeyHeader": []
            }
          ],
          "x-codeSamples": [
            {
              "lang": "cURL",
              "label": "cURL",
              "source": "curl -X \"POST\" \\\n    \"https://api.ntropy.com/v3/categories/consumer\" \\\n    -H \"Accept: application/json\" \\\n    -H \"X-API-KEY: cd1H...Wmhl\"  \\\n    -H \"Content-Type: application/json\" \\\n    -d '{\n        \"incoming\": [\n            \"salary\",\n            \"investment income\",\n            \"other income\"\n        ],\n        \"outgoing\": [\n            \"rent\",\n            \"utilities\",\n            \"groceries\",\n            \"entertainment\"\n        ]\n    }]'\n "
            },
            {
              "lang": "python",
              "label": "Python SDK",
              "source": "from ntropy_sdk import SDK\n\nsdk = SDK(\"cd1H...Wmhl\")\nsdk.categories.set(\"consumer\", {\n    \"incoming\": [\n        \"transfer from investment app\",\n        \"transfer from stock broker\",\n        \"transfer from crypto broker\",\n        \"chargeback\",\n        \"freelance income\",\n        \"rideshare or delivery income\",\n        \"paycheck\",\n        \"benefits\",\n        \"interest earned\",\n        \"stock dividend\"\n    ],\n    \"outgoing\": [\n        \"digital content and streaming\",\n        \"vending machine\",\n        \"reversal\",\n        \"transfer to investment app\",\n        \"transfer to stock broker\",\n        \"transfer to crypto broker\",\n        \"adjustment\",\n        \"intra account transfer\",\n        \"inter account transfer\",\n        \"peer to peer transfer\",\n        \"funeral service\",\n        \"ATM withdrawal\",\n        \"teller withdrawal\"\n    ]\n})\n"
            }
          ]
        }
      },
      "/v3/categories/{account_holder_type}/reset": {
        "post": {
          "tags": [
            "Categories"
          ],
          "summary": "Reset category set to original values",
          "description": "Resets the set of categories of the specified account holder type to the original values.",
          "operationId": "delete_custom_category_set_v3_categories__account_holder_type__reset_post",
          "parameters": [
            {
              "required": true,
              "schema": {
                "$ref": "#/components/schemas/AccountHolderType"
              },
              "name": "account_holder_type",
              "in": "path"
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CategorySet"
                  }
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "APIKeyHeader": []
            }
          ],
          "x-codeSamples": [
            {
              "lang": "cURL",
              "label": "cURL",
              "source": "curl -X \"POST\" \\\n    \"https://api.ntropy.com/v3/categories/consumer/reset\" \\\n    -H \"Accept: application/json\" \\\n    -H \"X-API-KEY: cd1H...Wmhl\"  "
            },
            {
              "lang": "python",
              "label": "Python SDK",
              "source": "from ntropy_sdk import SDK\n\nsdk = SDK(\"cd1H...Wmhl\")\nsdk.categories.reset(\"consumer\")\n"
            }
          ]
        }
      },
      "/v3/entities/lookup": {
        "get": {
          "tags": [
            "Entities"
          ],
          "summary": "Searches for an entity",
          "description": "Resolves a query into an entity by querying our entity resolution system. \n    The parameters `name` and `website` are mutually exclusive. Calls to this endpoint using \n    the `name` parameter are billed the same way transactions are.",
          "operationId": "search_entity_v3_entities_lookup_get",
          "parameters": [
            {
              "description": "The name of the entity to resolve",
              "required": false,
              "schema": {
                "type": "string",
                "title": "Name",
                "description": "The name of the entity to resolve"
              },
              "name": "name",
              "in": "query"
            },
            {
              "description": "The website of the entity to resolve",
              "required": false,
              "schema": {
                "type": "string",
                "title": "Website",
                "description": "The website of the entity to resolve"
              },
              "name": "website",
              "in": "query"
            },
            {
              "description": "An unstructured location string of the entity to resolve",
              "required": false,
              "schema": {
                "type": "string",
                "title": "Location",
                "description": "An unstructured location string of the entity to resolve"
              },
              "name": "location",
              "in": "query"
            }
          ],
          "responses": {
            "200": {
              "description": "Entity",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Entity"
                  }
                }
              }
            },
            "400": {
              "description": "Bad request."
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            },
            "423": {
              "description": "Not enough credits."
            }
          },
          "security": [
            {
              "APIKeyHeader": []
            }
          ],
          "x-codeSamples": [
            {
              "lang": "cURL",
              "label": "cURL",
              "source": "curl -X \"GET\" \\\n    \"https://api.ntropy.com/v3/entities?name=Starbucks\" \\\n    -H \"Accept: application/json\" \\\n    -H \"X-API-KEY: cd1H...Wmhl\"  "
            },
            {
              "lang": "python",
              "label": "Python SDK",
              "source": "from ntropy_sdk import SDK\n\nsdk = SDK(\"cd1H...Wmhl\")\nsdk.entities.lookup(name=\"Starbucks\") "
            }
          ]
        }
      },
      "/v3/entities/{id}": {
        "get": {
          "tags": [
            "Entities"
          ],
          "summary": "Retrieve an entity",
          "description": "Retrieve more information about an entity by using its unique ID.",
          "operationId": "get_entity_by_id_v3_entities__id__get",
          "parameters": [
            {
              "description": "The unique ID of the entity",
              "required": true,
              "schema": {
                "type": "string",
                "title": "Id",
                "description": "The unique ID of the entity"
              },
              "name": "id",
              "in": "path"
            }
          ],
          "responses": {
            "200": {
              "description": "Entity",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Entity"
                  }
                }
              }
            },
            "400": {
              "description": "Bad request."
            },
            "404": {
              "description": "Entity does not exist for ID"
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "APIKeyHeader": []
            }
          ],
          "x-codeSamples": [
            {
              "lang": "cURL",
              "label": "cURL",
              "source": "curl -X \"GET\" \\\n    \"https://api.ntropy.com/v3/entities/d4bc3c80-ec1a-3da2-836e-2a4ca4758be5\" \\\n    -H \"Accept: application/json\" \\\n    -H \"X-API-KEY: cd1H...Wmhl\"  "
            },
            {
              "lang": "python",
              "label": "Python SDK",
              "source": "from ntropy_sdk import SDK\n\nsdk = SDK(\"cd1H...Wmhl\")\nsdk.entities.lookup(\"d4bc3c80-ec1a-3da2-836e-2a4ca4758be5\") "
            }
          ]
        }
      }
    },
    "components": {
      "schemas": {
        "Account": {
          "properties": {
            "type": {
              "type": "string",
              "title": "Type"
            },
            "number": {
              "type": "string",
              "title": "Number"
            },
            "opening_balance": {
              "type": "number",
              "title": "Opening Balance"
            },
            "closing_balance": {
              "type": "number",
              "title": "Closing Balance"
            },
            "iso_currency_code": {
              "type": "string",
              "title": "Iso Currency Code"
            }
          },
          "type": "object",
          "title": "Account"
        },
        "AccountHolder": {
          "properties": {
            "type": {
              "$ref": "#/components/schemas/AccountType"
            },
            "name": {
              "type": "string",
              "title": "Name"
            },
            "address": {
              "$ref": "#/components/schemas/Address"
            }
          },
          "type": "object",
          "title": "AccountHolder"
        },
        "AccountHolderCreate": {
          "properties": {
            "id": {
              "type": "string",
              "minLength": 1,
              "title": "Id",
              "description": "The unique ID of the account holder of the transaction"
            },
            "type": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/AccountHolderType"
                }
              ],
              "description": "The type of the account holder. "
            },
            "name": {
              "type": "string",
              "title": "Name",
              "description": "The name of the account holder"
            }
          },
          "type": "object",
          "required": [
            "id",
            "type"
          ],
          "title": "AccountHolderCreate"
        },
        "AccountHolderExternal": {
          "properties": {
            "id": {
              "type": "string",
              "minLength": 1,
              "title": "Id",
              "description": "The unique ID of the account holder of the transaction"
            },
            "type": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/AccountHolderType"
                }
              ],
              "description": "The type of the account holder. "
            },
            "name": {
              "type": "string",
              "title": "Name",
              "description": "The name of the account holder"
            },
            "created_at": {
              "type": "string",
              "format": "date-time",
              "title": "Created At",
              "description": "The timestamp of when the account holder was created."
            }
          },
          "additionalProperties": false,
          "type": "object",
          "required": [
            "id",
            "type",
            "created_at"
          ],
          "title": "AccountHolderExternal",
          "example": {
            "id": "35b927b6-6fda-40aa-93b8-95b47c2b2cad",
            "type": "consumer",
            "name": "John Doe",
            "created_at": "2024-03-30T00:00:00"
          }
        },
        "AccountHolderType": {
          "type": "string",
          "enum": [
            "consumer",
            "business"
          ],
          "title": "AccountHolderType",
          "description": "An enumeration."
        },
        "AccountType": {
          "type": "string",
          "enum": [
            "consumer",
            "business"
          ],
          "title": "AccountType",
          "description": "An enumeration."
        },
        "AccountingCategory": {
          "type": "string",
          "enum": [
            "operational expenses",
            "cost of goods sold",
            "revenue",
            "financing",
            "taxes"
          ],
          "title": "AccountingCategory",
          "description": "An enumeration."
        },
        "ActionModel": {
          "$ref": "personalization.json#/definitions/Action"
        },
        "Address": {
          "properties": {
            "street": {
              "type": "string",
              "title": "Street"
            },
            "postcode": {
              "type": "string",
              "title": "Postcode"
            },
            "city": {
              "type": "string",
              "title": "City"
            },
            "state": {
              "type": "string",
              "title": "State"
            },
            "country": {
              "type": "string",
              "title": "Country"
            }
          },
          "type": "object",
          "title": "Address"
        },
        "AsyncEnrichmentInput": {
          "properties": {
            "transactions": {
              "items": {
                "$ref": "#/components/schemas/TransactionInput"
              },
              "type": "array",
              "maxItems": 24960,
              "minItems": 1,
              "title": "Transactions"
            }
          },
          "additionalProperties": false,
          "type": "object",
          "required": [
            "transactions"
          ],
          "title": "AsyncEnrichmentInput"
        },
        "BankStatement": {
          "properties": {
            "id": {
              "type": "string",
              "title": "Id",
              "description": "A unique identifier for the bank statement job."
            },
            "name": {
              "type": "string",
              "title": "Name",
              "description": "The name of the bank statement file, if available."
            },
            "status": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/BankStatementStatus"
                }
              ],
              "description": "The current status of the document."
            },
            "created_at": {
              "type": "string",
              "format": "date-time",
              "title": "Created At",
              "description": "The date and time when the job was created."
            },
            "file": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/BankStatementFile"
                }
              ],
              "title": "File",
              "description": "Information about the bank statement file being processed."
            },
            "error": {
              "$ref": "#/components/schemas/BankStatementError"
            }
          },
          "additionalProperties": false,
          "type": "object",
          "required": [
            "id",
            "status",
            "created_at",
            "file"
          ],
          "title": "BankStatement",
          "description": "Represents a bank statement with details about the file and its status.",
          "example": {
            "id": "7f8dceac-2848-472d-b5c3-55cdbaf35a9b",
            "name": "2014-01-01_2014-02-01_statement.pdf",
            "status": "processing",
            "created_at": "2024-01-01T00:00:00",
            "file": {
              "no_pages": 1,
              "size": 4096
            }
          }
        },
        "BankStatementAccount": {
[...]
