{
  "type": "openapi",
  "value": {
    "openapi": "3.0.2",
    "info": {
      "title": "Permit.io API",
      "description": "\nAuthorization as a service\n",
      "version": "2.0.0"
    },
    "servers": [
      {
        "url": "https://api.permit.io",
        "x-server-name": "Cloud"
      }
    ],
    "paths": {
      "/v2/orgs": {
        "get": {
          "tags": [
            "Organizations"
          ],
          "summary": "List Organizations",
          "description": "Lists all the organizations that can be accessed by the\nauthenticated actor (i.e: human team member or api key).",
          "operationId": "list_organizations",
          "parameters": [
            {
              "description": "Page number of the results to fetch, starting at 1.",
              "required": false,
              "schema": {
                "title": "Page",
                "minimum": 1,
                "type": "integer",
                "description": "Page number of the results to fetch, starting at 1.",
                "default": 1
              },
              "name": "page",
              "in": "query"
            },
            {
              "description": "The number of results per page (max 100).",
              "required": false,
              "schema": {
                "title": "Per Page",
                "maximum": 100,
                "minimum": 1,
                "type": "integer",
                "description": "The number of results per page (max 100).",
                "default": 30
              },
              "name": "per_page",
              "in": "query"
            },
            {
              "required": false,
              "schema": {
                "title": "Permit Session",
                "type": "string"
              },
              "name": "permit_session",
              "in": "cookie"
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "title": "Response List Organizations V2 Orgs Get",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/OrganizationRead"
                    }
                  }
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "HTTPBearer": []
            }
          ]
        },
        "post": {
          "tags": [
            "Organizations"
          ],
          "summary": "Create Organization",
          "description": "Creates a new organization that will be owned by the\nauthenticated actor (i.e: human team member or api key).",
          "operationId": "create_organization",
          "parameters": [
            {
              "required": false,
              "schema": {
                "title": "Permit Session",
                "type": "string"
              },
              "name": "permit_session",
              "in": "cookie"
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationCreate"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/OrganizationReadWithAPIKey"
                  }
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "HTTPBearer": []
            }
          ]
        }
      },
      "/v2/orgs/{org_id}": {
        "get": {
          "tags": [
            "Organizations"
          ],
          "summary": "Get Organization",
          "description": "Gets a single organization (Permit.io account) matching the given org_id,\nif such org exists and can be accessed by the authenticated actor.",
          "operationId": "get_organization",
          "parameters": [
            {
              "description": "Either the unique id of the organization, or the URL-friendly key of the organization (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Org Id",
                "type": "string",
                "description": "Either the unique id of the organization, or the URL-friendly key of the organization (i.e: the \"slug\")."
              },
              "name": "org_id",
              "in": "path"
            },
            {
              "required": false,
              "schema": {
                "title": "Permit Session",
                "type": "string"
              },
              "name": "permit_session",
              "in": "cookie"
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/OrganizationRead"
                  }
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "HTTPBearer": []
            }
          ]
        },
        "delete": {
          "tags": [
            "Organizations"
          ],
          "summary": "Delete Organization",
          "description": "Deletes an organization (Permit.io account) and all its related data.",
          "operationId": "delete_organization",
          "parameters": [
            {
              "description": "Either the unique id of the organization, or the URL-friendly key of the organization (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Org Id",
                "type": "string",
                "description": "Either the unique id of the organization, or the URL-friendly key of the organization (i.e: the \"slug\")."
              },
              "name": "org_id",
              "in": "path"
            },
            {
              "required": false,
              "schema": {
                "title": "Permit Session",
                "type": "string"
              },
              "name": "permit_session",
              "in": "cookie"
            }
          ],
          "responses": {
            "204": {
              "description": "Successful Response"
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "HTTPBearer": []
            }
          ]
        },
        "patch": {
          "tags": [
            "Organizations"
          ],
          "summary": "Update Organization",
          "description": "Updates the organization's profile.",
          "operationId": "update_organization",
          "parameters": [
            {
              "description": "Either the unique id of the organization, or the URL-friendly key of the organization (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Org Id",
                "type": "string",
                "description": "Either the unique id of the organization, or the URL-friendly key of the organization (i.e: the \"slug\")."
              },
              "name": "org_id",
              "in": "path"
            },
            {
              "required": false,
              "schema": {
                "title": "Permit Session",
                "type": "string"
              },
              "name": "permit_session",
              "in": "cookie"
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationUpdate"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/OrganizationRead"
                  }
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "HTTPBearer": []
            }
          ]
        }
      },
      "/v2/orgs/active/org": {
        "get": {
          "tags": [
            "Organizations"
          ],
          "summary": "Get Active Organization",
          "description": "Gets a single organization (Permit.io account) matching the given org_id,\nif such org exists and can be accessed by the authenticated actor.",
          "operationId": "get_active_organization",
          "parameters": [
            {
              "required": false,
              "schema": {
                "title": "Permit Session",
                "type": "string"
              },
              "name": "permit_session",
              "in": "cookie"
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/OrganizationRead"
                  }
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "HTTPBearer": []
            }
          ]
        }
      },
      "/v2/projects": {
        "get": {
          "tags": [
            "Projects"
          ],
          "summary": "List Projects",
          "description": "Lists all the projects under the active organization.",
          "operationId": "list_projects",
          "parameters": [
            {
              "description": "Page number of the results to fetch, starting at 1.",
              "required": false,
              "schema": {
                "title": "Page",
                "minimum": 1,
                "type": "integer",
                "description": "Page number of the results to fetch, starting at 1.",
                "default": 1
              },
              "name": "page",
              "in": "query"
            },
            {
              "description": "The number of results per page (max 100).",
              "required": false,
              "schema": {
                "title": "Per Page",
                "maximum": 100,
                "minimum": 1,
                "type": "integer",
                "description": "The number of results per page (max 100).",
                "default": 30
              },
              "name": "per_page",
              "in": "query"
            },
            {
              "required": false,
              "schema": {
                "title": "Permit Session",
                "type": "string"
              },
              "name": "permit_session",
              "in": "cookie"
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "title": "Response List Projects V2 Projects Get",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ProjectRead"
                    }
                  }
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "HTTPBearer": []
            }
          ]
        },
        "post": {
          "tags": [
            "Projects"
          ],
          "summary": "Create Project",
          "description": "Creates a new project under the active organization.",
          "operationId": "create_project",
          "parameters": [
            {
              "required": false,
              "schema": {
                "title": "Permit Session",
                "type": "string"
              },
              "name": "permit_session",
              "in": "cookie"
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectCreate"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProjectRead"
                  }
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "HTTPBearer": []
            }
          ]
        }
      },
      "/v2/projects/{proj_id}": {
        "get": {
          "tags": [
            "Projects"
          ],
          "summary": "Get Project",
          "description": "Gets a single project matching the given proj_id, if such project exists.",
          "operationId": "get_project",
          "parameters": [
            {
              "description": "Either the unique id of the project, or the URL-friendly key of the project (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Proj Id",
                "type": "string",
                "description": "Either the unique id of the project, or the URL-friendly key of the project (i.e: the \"slug\")."
              },
              "name": "proj_id",
              "in": "path"
            },
            {
              "required": false,
              "schema": {
                "title": "Permit Session",
                "type": "string"
              },
              "name": "permit_session",
              "in": "cookie"
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProjectRead"
                  }
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "HTTPBearer": []
            }
          ]
        },
        "delete": {
          "tags": [
            "Projects"
          ],
          "summary": "Delete Project",
          "description": "Deletes the project and all its related data.",
          "operationId": "delete_project",
          "parameters": [
            {
              "description": "Either the unique id of the project, or the URL-friendly key of the project (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Proj Id",
                "type": "string",
                "description": "Either the unique id of the project, or the URL-friendly key of the project (i.e: the \"slug\")."
              },
              "name": "proj_id",
              "in": "path"
            },
            {
              "required": false,
              "schema": {
                "title": "Permit Session",
                "type": "string"
              },
              "name": "permit_session",
              "in": "cookie"
            }
          ],
          "responses": {
            "204": {
              "description": "Successful Response"
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "HTTPBearer": []
            }
          ]
        },
        "patch": {
          "tags": [
            "Projects"
          ],
          "summary": "Update Project",
          "description": "Updates the project.",
          "operationId": "update_project",
          "parameters": [
            {
              "description": "Either the unique id of the project, or the URL-friendly key of the project (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Proj Id",
                "type": "string",
                "description": "Either the unique id of the project, or the URL-friendly key of the project (i.e: the \"slug\")."
              },
              "name": "proj_id",
              "in": "path"
            },
            {
              "required": false,
              "schema": {
                "title": "Permit Session",
                "type": "string"
              },
              "name": "permit_session",
              "in": "cookie"
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectUpdate"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProjectRead"
                  }
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "HTTPBearer": []
            }
          ]
        }
      },
      "/v2/projects/{proj_id}/envs/{env_id}/stats": {
        "get": {
          "tags": [
            "Environments"
          ],
          "summary": "Stats Environments",
          "operationId": "stats_environments",
          "parameters": [
            {
              "description": "Either the unique id of the project, or the URL-friendly key of the project (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Proj Id",
                "type": "string",
                "description": "Either the unique id of the project, or the URL-friendly key of the project (i.e: the \"slug\")."
              },
              "name": "proj_id",
              "in": "path"
            },
            {
              "description": "Either the unique id of the environment, or the URL-friendly key of the environment (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Env Id",
                "type": "string",
                "description": "Either the unique id of the environment, or the URL-friendly key of the environment (i.e: the \"slug\")."
              },
              "name": "env_id",
              "in": "path"
            },
            {
              "required": false,
              "schema": {
                "title": "Permit Session",
                "type": "string"
              },
              "name": "permit_session",
              "in": "cookie"
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/EnvironmentStats"
                  }
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "HTTPBearer": []
            }
          ]
        }
      },
      "/v2/projects/{proj_id}/envs": {
        "get": {
          "tags": [
            "Environments"
          ],
          "summary": "List Environments",
          "description": "Lists all the environments under a given project.",
          "operationId": "list_environments",
          "parameters": [
            {
              "description": "Either the unique id of the project, or the URL-friendly key of the project (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Proj Id",
                "type": "string",
                "description": "Either the unique id of the project, or the URL-friendly key of the project (i.e: the \"slug\")."
              },
              "name": "proj_id",
              "in": "path"
            },
            {
              "description": "Page number of the results to fetch, starting at 1.",
              "required": false,
              "schema": {
                "title": "Page",
                "minimum": 1,
                "type": "integer",
                "description": "Page number of the results to fetch, starting at 1.",
                "default": 1
              },
              "name": "page",
              "in": "query"
            },
            {
              "description": "The number of results per page (max 100).",
              "required": false,
              "schema": {
                "title": "Per Page",
                "maximum": 100,
                "minimum": 1,
                "type": "integer",
                "description": "The number of results per page (max 100).",
                "default": 30
              },
              "name": "per_page",
              "in": "query"
            },
            {
              "required": false,
              "schema": {
                "title": "Permit Session",
                "type": "string"
              },
              "name": "permit_session",
              "in": "cookie"
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "title": "Response List Environments V2 Projects  Proj Id  Envs Get",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/EnvironmentRead"
                    }
                  }
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "HTTPBearer": []
            }
          ]
        },
        "post": {
          "tags": [
            "Environments"
          ],
          "summary": "Create Environment",
          "description": "Creates a new environment under a given project.",
          "operationId": "create_environment",
          "parameters": [
            {
              "description": "Either the unique id of the project, or the URL-friendly key of the project (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Proj Id",
                "type": "string",
                "description": "Either the unique id of the project, or the URL-friendly key of the project (i.e: the \"slug\")."
              },
              "name": "proj_id",
              "in": "path"
            },
            {
              "required": false,
              "schema": {
                "title": "Permit Session",
                "type": "string"
              },
              "name": "permit_session",
              "in": "cookie"
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentCreate"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/EnvironmentRead"
                  }
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "HTTPBearer": []
            }
          ]
        }
      },
      "/v2/projects/{proj_id}/envs/{env_id}": {
        "get": {
          "tags": [
            "Environments"
          ],
          "summary": "Get Environment",
          "description": "Gets a single environment matching the given env_id, if such environment exists.",
          "operationId": "get_environment",
          "parameters": [
            {
              "description": "Either the unique id of the project, or the URL-friendly key of the project (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Proj Id",
                "type": "string",
                "description": "Either the unique id of the project, or the URL-friendly key of the project (i.e: the \"slug\")."
              },
              "name": "proj_id",
              "in": "path"
            },
            {
              "description": "Either the unique id of the environment, or the URL-friendly key of the environment (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Env Id",
                "type": "string",
                "description": "Either the unique id of the environment, or the URL-friendly key of the environment (i.e: the \"slug\")."
              },
              "name": "env_id",
              "in": "path"
            },
            {
              "required": false,
              "schema": {
                "title": "Permit Session",
                "type": "string"
              },
              "name": "permit_session",
              "in": "cookie"
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/EnvironmentRead"
                  }
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "HTTPBearer": []
            }
          ]
        },
        "delete": {
          "tags": [
            "Environments"
          ],
          "summary": "Delete Environment",
          "description": "Deletes an environment and all its related data.",
          "operationId": "delete_environment",
          "parameters": [
            {
              "description": "Either the unique id of the project, or the URL-friendly key of the project (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Proj Id",
                "type": "string",
                "description": "Either the unique id of the project, or the URL-friendly key of the project (i.e: the \"slug\")."
              },
              "name": "proj_id",
              "in": "path"
            },
            {
              "description": "Either the unique id of the environment, or the URL-friendly key of the environment (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Env Id",
                "type": "string",
                "description": "Either the unique id of the environment, or the URL-friendly key of the environment (i.e: the \"slug\")."
              },
              "name": "env_id",
              "in": "path"
            },
            {
              "required": false,
              "schema": {
                "title": "Permit Session",
                "type": "string"
              },
              "name": "permit_session",
              "in": "cookie"
            }
          ],
          "responses": {
            "204": {
              "description": "Successful Response"
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "HTTPBearer": []
            }
          ]
        },
        "patch": {
          "tags": [
            "Environments"
          ],
          "summary": "Update Environment",
          "description": "Updates the environment.",
          "operationId": "update_environment",
          "parameters": [
            {
              "description": "Either the unique id of the project, or the URL-friendly key of the project (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Proj Id",
                "type": "string",
                "description": "Either the unique id of the project, or the URL-friendly key of the project (i.e: the \"slug\")."
              },
              "name": "proj_id",
              "in": "path"
            },
            {
              "description": "Either the unique id of the environment, or the URL-friendly key of the environment (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Env Id",
                "type": "string",
                "description": "Either the unique id of the environment, or the URL-friendly key of the environment (i.e: the \"slug\")."
              },
              "name": "env_id",
              "in": "path"
            },
            {
              "required": false,
              "schema": {
                "title": "Permit Session",
                "type": "string"
              },
              "name": "permit_session",
              "in": "cookie"
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentUpdate"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/EnvironmentRead"
                  }
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "HTTPBearer": []
            }
          ]
        }
      },
      "/v2/projects/{proj_id}/envs/{env_id}/copy": {
        "post": {
          "tags": [
            "Environments"
          ],
          "summary": "Copy Environment",
          "description": "Copy environment\n\nThis endpoint either duplicates an existing environment to a new environment\nin the same project, or copies from an existing environment to another\nexisting environment.\n\nThe `scope` object controls which objects will be copied to the target\nenvironment.\n\nTo clone to a new environment, the user must have write permissions\nto the containing project. To clone into an existing environment,\nthe user must have write permissions to the target environment.\n\nCopying environments across projects or organizations is not\nallowed.",
          "operationId": "copy_environment",
          "parameters": [
            {
              "description": "Either the unique id of the project, or the URL-friendly key of the project (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Proj Id",
                "type": "string",
                "description": "Either the unique id of the project, or the URL-friendly key of the project (i.e: the \"slug\")."
              },
              "name": "proj_id",
              "in": "path"
            },
            {
              "description": "Either the unique id of the environment, or the URL-friendly key of the environment (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Env Id",
                "type": "string",
                "description": "Either the unique id of the environment, or the URL-friendly key of the environment (i.e: the \"slug\")."
              },
              "name": "env_id",
              "in": "path"
            },
            {
              "required": false,
              "schema": {
                "title": "Permit Session",
                "type": "string"
              },
              "name": "permit_session",
              "in": "cookie"
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentCopy"
                }
              }
            },
            "required": true
          },
          "responses": {
            "201": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/EnvironmentRead"
                  }
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "HTTPBearer": []
            }
          ]
        }
      },
      "/v2/schema/{proj_id}/{env_id}/resources": {
        "get": {
          "tags": [
            "Resources"
          ],
          "summary": "List Resources",
          "description": "Lists all the resources defined in your schema.",
          "operationId": "list_resources",
          "parameters": [
            {
              "description": "Either the unique id of the project, or the URL-friendly key of the project (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Proj Id",
                "type": "string",
                "description": "Either the unique id of the project, or the URL-friendly key of the project (i.e: the \"slug\")."
              },
              "name": "proj_id",
              "in": "path"
            },
            {
              "description": "Either the unique id of the environment, or the URL-friendly key of the environment (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Env Id",
                "type": "string",
                "description": "Either the unique id of the environment, or the URL-friendly key of the environment (i.e: the \"slug\")."
              },
              "name": "env_id",
              "in": "path"
            },
            {
              "description": "Text search for the resources name or key",
              "required": false,
              "schema": {
                "title": "Search",
                "type": "string",
                "description": "Text search for the resources name or key"
              },
              "name": "search",
              "in": "query"
            },
            {
              "description": "Whether to include or exclude built-in resources, default is False",
              "required": false,
              "schema": {
                "title": "Include Built In",
                "type": "boolean",
                "description": "Whether to include or exclude built-in resources, default is False",
                "default": false
              },
              "name": "include_built_in",
              "in": "query"
            },
            {
              "description": "Include total count in response",
              "required": false,
              "schema": {
                "title": "Include Total Count",
                "type": "boolean",
                "description": "Include total count in response",
                "default": false
              },
              "name": "include_total_count",
              "in": "query"
            },
            {
              "description": "Page number of the results to fetch, starting at 1.",
              "required": false,
              "schema": {
                "title": "Page",
                "minimum": 1,
                "type": "integer",
                "description": "Page number of the results to fetch, starting at 1.",
                "default": 1
              },
              "name": "page",
              "in": "query"
            },
            {
              "description": "The number of results per page (max 100).",
              "required": false,
              "schema": {
                "title": "Per Page",
                "maximum": 100,
                "minimum": 1,
                "type": "integer",
                "description": "The number of results per page (max 100).",
                "default": 30
              },
              "name": "per_page",
              "in": "query"
            },
            {
              "required": false,
              "schema": {
                "title": "Permit Session",
                "type": "string"
              },
              "name": "permit_session",
              "in": "cookie"
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "title": "Response List Resources V2 Schema  Proj Id   Env Id  Resources Get",
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/PaginatedResult_ResourceRead_"
                      },
                      {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/ResourceRead"
                        }
                      }
                    ]
                  }
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "HTTPBearer": []
            }
          ]
        },
        "post": {
          "tags": [
            "Resources"
          ],
          "summary": "Create Resource",
          "description": "Creates a new resource (a type of object you may protect with permissions).",
          "operationId": "create_resource",
          "parameters": [
            {
              "description": "Either the unique id of the project, or the URL-friendly key of the project (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Proj Id",
                "type": "string",
                "description": "Either the unique id of the project, or the URL-friendly key of the project (i.e: the \"slug\")."
              },
              "name": "proj_id",
              "in": "path"
            },
            {
              "description": "Either the unique id of the environment, or the URL-friendly key of the environment (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Env Id",
                "type": "string",
                "description": "Either the unique id of the environment, or the URL-friendly key of the environment (i.e: the \"slug\")."
              },
              "name": "env_id",
              "in": "path"
            },
            {
              "required": false,
              "schema": {
                "title": "Permit Session",
                "type": "string"
              },
              "name": "permit_session",
              "in": "cookie"
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceCreate"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ResourceRead"
                  }
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "HTTPBearer": []
            }
          ]
        }
      },
      "/v2/schema/{proj_id}/{env_id}/resources/{resource_id}": {
        "get": {
          "tags": [
            "Resources"
          ],
          "summary": "Get Resource",
          "description": "Gets a single resource, if such resource exists.",
          "operationId": "get_resource",
          "parameters": [
            {
              "description": "Either the unique id of the project, or the URL-friendly key of the project (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Proj Id",
                "type": "string",
                "description": "Either the unique id of the project, or the URL-friendly key of the project (i.e: the \"slug\")."
              },
              "name": "proj_id",
              "in": "path"
            },
            {
              "description": "Either the unique id of the environment, or the URL-friendly key of the environment (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Env Id",
                "type": "string",
                "description": "Either the unique id of the environment, or the URL-friendly key of the environment (i.e: the \"slug\")."
              },
              "name": "env_id",
              "in": "path"
            },
            {
              "description": "Either the unique id of the resource, or the URL-friendly key of the resource (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Resource Id",
                "type": "string",
                "description": "Either the unique id of the resource, or the URL-friendly key of the resource (i.e: the \"slug\")."
              },
              "name": "resource_id",
              "in": "path"
            },
            {
              "required": false,
              "schema": {
                "title": "Permit Session",
                "type": "string"
              },
              "name": "permit_session",
              "in": "cookie"
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ResourceRead"
                  }
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "HTTPBearer": []
            }
          ]
        },
        "put": {
          "tags": [
            "Resources"
          ],
          "summary": "Replace Resource",
          "description": "Completely replaces the resource definition.\n\n- If the resource key is changed, all role and permissions assignments for the the resource will be revoked.\n- If the resource key is unchanged, but some actions are removed or renamed from the resource definition,\nrole and permissions assignments for these actions will be revoked.\n\nTODO: we need to decide if we are auto-revoking, or if we are rejecting the PUT completely while there are permissions that can be affected.",
          "operationId": "replace_resource",
          "parameters": [
            {
              "description": "Either the unique id of the project, or the URL-friendly key of the project (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Proj Id",
                "type": "string",
                "description": "Either the unique id of the project, or the URL-friendly key of the project (i.e: the \"slug\")."
              },
              "name": "proj_id",
              "in": "path"
            },
            {
              "description": "Either the unique id of the environment, or the URL-friendly key of the environment (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Env Id",
                "type": "string",
                "description": "Either the unique id of the environment, or the URL-friendly key of the environment (i.e: the \"slug\")."
              },
              "name": "env_id",
              "in": "path"
            },
            {
              "description": "Either the unique id of the resource, or the URL-friendly key of the resource (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Resource Id",
                "type": "string",
                "description": "Either the unique id of the resource, or the URL-friendly key of the resource (i.e: the \"slug\")."
              },
              "name": "resource_id",
              "in": "path"
            },
            {
              "required": false,
              "schema": {
                "title": "Permit Session",
                "type": "string"
              },
              "name": "permit_session",
              "in": "cookie"
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceReplace"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ResourceRead"
                  }
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "HTTPBearer": []
            }
          ]
        },
        "delete": {
          "tags": [
            "Resources"
          ],
          "summary": "Delete Resource",
          "description": "Deletes the resource and all its related data.",
          "operationId": "delete_resource",
          "parameters": [
            {
              "description": "Either the unique id of the project, or the URL-friendly key of the project (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Proj Id",
                "type": "string",
                "description": "Either the unique id of the project, or the URL-friendly key of the project (i.e: the \"slug\")."
              },
              "name": "proj_id",
              "in": "path"
            },
            {
              "description": "Either the unique id of the environment, or the URL-friendly key of the environment (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Env Id",
                "type": "string",
                "description": "Either the unique id of the environment, or the URL-friendly key of the environment (i.e: the \"slug\")."
              },
              "name": "env_id",
              "in": "path"
            },
            {
              "description": "Either the unique id of the resource, or the URL-friendly key of the resource (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Resource Id",
                "type": "string",
                "description": "Either the unique id of the resource, or the URL-friendly key of the resource (i.e: the \"slug\")."
              },
              "name": "resource_id",
              "in": "path"
            },
            {
              "required": false,
              "schema": {
                "title": "Permit Session",
                "type": "string"
              },
              "name": "permit_session",
              "in": "cookie"
            }
          ],
          "responses": {
            "204": {
              "description": "Successful Response"
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "HTTPBearer": []
            }
          ]
        },
        "patch": {
          "tags": [
            "Resources"
          ],
          "summary": "Update Resource",
          "description": "Partially updates the resource definition.\nFields that will be provided will be completely overwritten.",
          "operationId": "update_resource",
          "parameters": [
            {
              "description": "Either the unique id of the project, or the URL-friendly key of the project (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Proj Id",
                "type": "string",
                "description": "Either the unique id of the project, or the URL-friendly key of the project (i.e: the \"slug\")."
              },
              "name": "proj_id",
              "in": "path"
            },
            {
              "description": "Either the unique id of the environment, or the URL-friendly key of the environment (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Env Id",
                "type": "string",
                "description": "Either the unique id of the environment, or the URL-friendly key of the environment (i.e: the \"slug\")."
              },
              "name": "env_id",
              "in": "path"
            },
            {
              "description": "Either the unique id of the resource, or the URL-friendly key of the resource (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Resource Id",
                "type": "string",
                "description": "Either the unique id of the resource, or the URL-friendly key of the resource (i.e: the \"slug\")."
              },
              "name": "resource_id",
              "in": "path"
            },
            {
              "required": false,
              "schema": {
                "title": "Permit Session",
                "type": "string"
              },
              "name": "permit_session",
              "in": "cookie"
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceUpdate"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ResourceRead"
                  }
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "HTTPBearer": []
            }
          ]
        }
      },
      "/v2/schema/{proj_id}/{env_id}/resources/{resource_id}/actions": {
        "get": {
          "tags": [
            "Resource Actions"
          ],
          "summary": "List Resource Actions",
          "description": "Lists all the actions defined on the resource.",
          "operationId": "list_resource_actions",
          "parameters": [
            {
              "description": "Either the unique id of the project, or the URL-friendly key of the project (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Proj Id",
                "type": "string",
                "description": "Either the unique id of the project, or the URL-friendly key of the project (i.e: the \"slug\")."
              },
              "name": "proj_id",
              "in": "path"
            },
            {
              "description": "Either the unique id of the environment, or the URL-friendly key of the environment (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Env Id",
                "type": "string",
                "description": "Either the unique id of the environment, or the URL-friendly key of the environment (i.e: the \"slug\")."
              },
              "name": "env_id",
              "in": "path"
            },
            {
              "description": "Either the unique id of the resource, or the URL-friendly key of the resource (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Resource Id",
                "type": "string",
                "description": "Either the unique id of the resource, or the URL-friendly key of the resource (i.e: the \"slug\")."
              },
              "name": "resource_id",
              "in": "path"
            },
            {
              "description": "Page number of the results to fetch, starting at 1.",
              "required": false,
              "schema": {
                "title": "Page",
                "minimum": 1,
                "type": "integer",
                "description": "Page number of the results to fetch, starting at 1.",
                "default": 1
              },
              "name": "page",
              "in": "query"
            },
            {
              "description": "The number of results per page (max 100).",
              "required": false,
              "schema": {
                "title": "Per Page",
                "maximum": 100,
                "minimum": 1,
                "type": "integer",
                "description": "The number of results per page (max 100).",
                "default": 30
              },
              "name": "per_page",
              "in": "query"
            },
            {
              "required": false,
              "schema": {
                "title": "Permit Session",
                "type": "string"
              },
              "name": "permit_session",
              "in": "cookie"
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "title": "Response List Resource Actions V2 Schema  Proj Id   Env Id  Resources  Resource Id  Actions Get",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ResourceActionRead"
                    }
                  }
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "HTTPBearer": []
            }
          ]
        },
        "post": {
          "tags": [
            "Resource Actions"
          ],
          "summary": "Create Resource Action",
          "description": "Creates a new action that can affect the resource.",
          "operationId": "create_resource_action",
          "parameters": [
            {
              "description": "Either the unique id of the project, or the URL-friendly key of the project (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Proj Id",
                "type": "string",
                "description": "Either the unique id of the project, or the URL-friendly key of the project (i.e: the \"slug\")."
              },
              "name": "proj_id",
              "in": "path"
            },
            {
              "description": "Either the unique id of the environment, or the URL-friendly key of the environment (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Env Id",
                "type": "string",
                "description": "Either the unique id of the environment, or the URL-friendly key of the environment (i.e: the \"slug\")."
              },
              "name": "env_id",
              "in": "path"
            },
            {
              "description": "Either the unique id of the resource, or the URL-friendly key of the resource (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Resource Id",
                "type": "string",
                "description": "Either the unique id of the resource, or the URL-friendly key of the resource (i.e: the \"slug\")."
              },
              "name": "resource_id",
              "in": "path"
            },
            {
              "required": false,
              "schema": {
                "title": "Permit Session",
                "type": "string"
              },
              "name": "permit_session",
              "in": "cookie"
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceActionCreate"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ResourceActionRead"
                  }
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "HTTPBearer": []
            }
          ]
        }
      },
      "/v2/schema/{proj_id}/{env_id}/resources/{resource_id}/actions/{action_id}": {
        "get": {
          "tags": [
            "Resource Actions"
          ],
          "summary": "Get Resource Action",
          "description": "Gets a single action defined on the resource, if such action exists.",
          "operationId": "get_resource_action",
          "parameters": [
            {
              "description": "Either the unique id of the project, or the URL-friendly key of the project (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Proj Id",
                "type": "string",
                "description": "Either the unique id of the project, or the URL-friendly key of the project (i.e: the \"slug\")."
              },
              "name": "proj_id",
              "in": "path"
            },
            {
              "description": "Either the unique id of the environment, or the URL-friendly key of the environment (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Env Id",
                "type": "string",
                "description": "Either the unique id of the environment, or the URL-friendly key of the environment (i.e: the \"slug\")."
              },
              "name": "env_id",
              "in": "path"
            },
            {
              "description": "Either the unique id of the resource, or the URL-friendly key of the resource (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Resource Id",
                "type": "string",
                "description": "Either the unique id of the resource, or the URL-friendly key of the resource (i.e: the \"slug\")."
              },
              "name": "resource_id",
              "in": "path"
            },
            {
              "description": "Either the unique id of the action, or the URL-friendly key of the action (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Action Id",
                "type": "string",
                "description": "Either the unique id of the action, or the URL-friendly key of the action (i.e: the \"slug\")."
              },
              "name": "action_id",
              "in": "path"
            },
            {
              "required": false,
              "schema": {
                "title": "Permit Session",
                "type": "string"
              },
              "name": "permit_session",
              "in": "cookie"
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ResourceActionRead"
                  }
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "HTTPBearer": []
            }
          ]
        },
        "delete": {
          "tags": [
            "Resource Actions"
          ],
          "summary": "Delete Resource Action",
          "description": "Deletes the action and all its related data.\nThis includes any permissions granted to perform the action.",
          "operationId": "delete_resource_action",
          "parameters": [
            {
              "description": "Either the unique id of the project, or the URL-friendly key of the project (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Proj Id",
                "type": "string",
                "description": "Either the unique id of the project, or the URL-friendly key of the project (i.e: the \"slug\")."
              },
              "name": "proj_id",
              "in": "path"
            },
            {
              "description": "Either the unique id of the environment, or the URL-friendly key of the environment (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Env Id",
                "type": "string",
                "description": "Either the unique id of the environment, or the URL-friendly key of the environment (i.e: the \"slug\")."
              },
              "name": "env_id",
              "in": "path"
            },
            {
              "description": "Either the unique id of the resource, or the URL-friendly key of the resource (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Resource Id",
                "type": "string",
                "description": "Either the unique id of the resource, or the URL-friendly key of the resource (i.e: the \"slug\")."
              },
              "name": "resource_id",
              "in": "path"
            },
            {
              "description": "Either the unique id of the action, or the URL-friendly key of the action (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Action Id",
                "type": "string",
                "description": "Either the unique id of the action, or the URL-friendly key of the action (i.e: the \"slug\")."
              },
              "name": "action_id",
              "in": "path"
            },
            {
              "required": false,
              "schema": {
                "title": "Permit Session",
                "type": "string"
              },
              "name": "permit_session",
              "in": "cookie"
            }
          ],
          "responses": {
            "204": {
              "description": "Successful Response"
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "HTTPBearer": []
            }
          ]
        },
        "patch": {
          "tags": [
            "Resource Actions"
          ],
          "summary": "Update Resource Action",
          "description": "Partially updates the action defined on a resource.\nFields that will be provided will be completely overwritten.",
          "operationId": "update_resource_action",
          "parameters": [
            {
              "description": "Either the unique id of the project, or the URL-friendly key of the project (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Proj Id",
                "type": "string",
                "description": "Either the unique id of the project, or the URL-friendly key of the project (i.e: the \"slug\")."
              },
              "name": "proj_id",
              "in": "path"
            },
            {
              "description": "Either the unique id of the environment, or the URL-friendly key of the environment (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Env Id",
                "type": "string",
                "description": "Either the unique id of the environment, or the URL-friendly key of the environment (i.e: the \"slug\")."
              },
              "name": "env_id",
              "in": "path"
            },
            {
              "description": "Either the unique id of the resource, or the URL-friendly key of the resource (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Resource Id",
                "type": "string",
                "description": "Either the unique id of the resource, or the URL-friendly key of the resource (i.e: the \"slug\")."
              },
              "name": "resource_id",
              "in": "path"
            },
            {
              "description": "Either the unique id of the action, or the URL-friendly key of the action (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Action Id",
                "type": "string",
                "description": "Either the unique id of the action, or the URL-friendly key of the action (i.e: the \"slug\")."
              },
              "name": "action_id",
              "in": "path"
            },
            {
              "required": false,
              "schema": {
                "title": "Permit Session",
                "type": "string"
              },
              "name": "permit_session",
              "in": "cookie"
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceActionUpdate"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ResourceActionRead"
                  }
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "HTTPBearer": []
            }
          ]
        }
      },
      "/v2/schema/{proj_id}/{env_id}/resources/{resource_id}/action_groups": {
        "get": {
          "tags": [
            "Resource Action Groups"
          ],
          "summary": "List Resource Action Groups",
          "description": "Lists all the action groups defined on the resource.",
          "operationId": "list_resource_action_groups",
          "parameters": [
            {
              "description": "Either the unique id of the project, or the URL-friendly key of the project (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Proj Id",
                "type": "string",
                "description": "Either the unique id of the project, or the URL-friendly key of the project (i.e: the \"slug\")."
              },
              "name": "proj_id",
              "in": "path"
            },
            {
              "description": "Either the unique id of the environment, or the URL-friendly key of the environment (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Env Id",
                "type": "string",
                "description": "Either the unique id of the environment, or the URL-friendly key of the environment (i.e: the \"slug\")."
              },
              "name": "env_id",
              "in": "path"
            },
            {
              "description": "Either the unique id of the resource, or the URL-friendly key of the resource (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Resource Id",
                "type": "string",
                "description": "Either the unique id of the resource, or the URL-friendly key of the resource (i.e: the \"slug\")."
              },
              "name": "resource_id",
              "in": "path"
            },
            {
              "description": "Page number of the results to fetch, starting at 1.",
              "required": false,
              "schema": {
                "title": "Page",
                "minimum": 1,
                "type": "integer",
                "description": "Page number of the results to fetch, starting at 1.",
                "default": 1
              },
              "name": "page",
              "in": "query"
            },
            {
              "description": "The number of results per page (max 100).",
              "required": false,
              "schema": {
                "title": "Per Page",
                "maximum": 100,
                "minimum": 1,
                "type": "integer",
                "description": "The number of results per page (max 100).",
                "default": 30
              },
              "name": "per_page",
              "in": "query"
            },
            {
              "required": false,
              "schema": {
                "title": "Permit Session",
                "type": "string"
              },
              "name": "permit_session",
              "in": "cookie"
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "title": "Response List Resource Action Groups V2 Schema  Proj Id   Env Id  Resources  Resource Id  Action Groups Get",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ResourceActionGroupRead"
                    }
                  }
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "HTTPBearer": []
            }
          ]
        },
        "post": {
          "tags": [
            "Resource Action Groups"
          ],
          "summary": "Create Resource Action Group",
          "description": "Creates a new action group that can affect the resource.",
          "operationId": "create_resource_action_group",
          "parameters": [
            {
              "description": "Either the unique id of the project, or the URL-friendly key of the project (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Proj Id",
                "type": "string",
                "description": "Either the unique id of the project, or the URL-friendly key of the project (i.e: the \"slug\")."
              },
              "name": "proj_id",
              "in": "path"
            },
            {
              "description": "Either the unique id of the environment, or the URL-friendly key of the environment (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Env Id",
                "type": "string",
                "description": "Either the unique id of the environment, or the URL-friendly key of the environment (i.e: the \"slug\")."
              },
              "name": "env_id",
              "in": "path"
            },
            {
              "description": "Either the unique id of the resource, or the URL-friendly key of the resource (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Resource Id",
                "type": "string",
                "description": "Either the unique id of the resource, or the URL-friendly key of the resource (i.e: the \"slug\")."
              },
              "name": "resource_id",
              "in": "path"
            },
            {
              "required": false,
              "schema": {
                "title": "Permit Session",
                "type": "string"
              },
              "name": "permit_session",
              "in": "cookie"
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceActionGroupCreate"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ResourceActionGroupRead"
                  }
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "HTTPBearer": []
            }
          ]
        }
      },
      "/v2/schema/{proj_id}/{env_id}/resources/{resource_id}/action_groups/{action_group_id}": {
        "get": {
          "tags": [
            "Resource Action Groups"
          ],
          "summary": "Get Resource Action Group",
          "description": "Gets a single action group defined on the resource, if such action exists.",
          "operationId": "get_resource_action_group",
          "parameters": [
            {
              "description": "Either the unique id of the project, or the URL-friendly key of the project (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Proj Id",
                "type": "string",
                "description": "Either the unique id of the project, or the URL-friendly key of the project (i.e: the \"slug\")."
              },
              "name": "proj_id",
              "in": "path"
            },
            {
              "description": "Either the unique id of the environment, or the URL-friendly key of the environment (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Env Id",
                "type": "string",
                "description": "Either the unique id of the environment, or the URL-friendly key of the environment (i.e: the \"slug\")."
              },
              "name": "env_id",
              "in": "path"
            },
            {
              "description": "Either the unique id of the resource, or the URL-friendly key of the resource (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Resource Id",
                "type": "string",
                "description": "Either the unique id of the resource, or the URL-friendly key of the resource (i.e: the \"slug\")."
              },
              "name": "resource_id",
              "in": "path"
            },
            {
              "description": "Either the unique id of the action group, or the URL-friendly key of the action group (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Action Group Id",
                "type": "string",
                "description": "Either the unique id of the action group, or the URL-friendly key of the action group (i.e: the \"slug\")."
              },
              "name": "action_group_id",
              "in": "path"
            },
            {
              "required": false,
              "schema": {
                "title": "Permit Session",
                "type": "string"
              },
              "name": "permit_session",
              "in": "cookie"
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ResourceActionGroupRead"
                  }
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "HTTPBearer": []
            }
          ]
        },
        "delete": {
          "tags": [
            "Resource Action Groups"
          ],
          "summary": "Delete Resource Action Group",
          "description": "Deletes the action and all its related data.\nThis includes any permissions granted to perform the action.",
          "operationId": "delete_resource_action_group",
          "parameters": [
            {
              "description": "Either the unique id of the project, or the URL-friendly key of the project (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Proj Id",
                "type": "string",
                "description": "Either the unique id of the project, or the URL-friendly key of the project (i.e: the \"slug\")."
              },
              "name": "proj_id",
              "in": "path"
            },
            {
              "description": "Either the unique id of the environment, or the URL-friendly key of the environment (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Env Id",
                "type": "string",
                "description": "Either the unique id of the environment, or the URL-friendly key of the environment (i.e: the \"slug\")."
              },
              "name": "env_id",
              "in": "path"
            },
            {
              "description": "Either the unique id of the resource, or the URL-friendly key of the resource (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Resource Id",
                "type": "string",
                "description": "Either the unique id of the resource, or the URL-friendly key of the resource (i.e: the \"slug\")."
              },
              "name": "resource_id",
              "in": "path"
            },
            {
              "description": "Either the unique id of the action group, or the URL-friendly key of the action group (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Action Group Id",
                "type": "string",
                "description": "Either the unique id of the action group, or the URL-friendly key of the action group (i.e: the \"slug\")."
              },
              "name": "action_group_id",
              "in": "path"
            },
            {
              "required": false,
              "schema": {
                "title": "Permit Session",
                "type": "string"
              },
              "name": "permit_session",
              "in": "cookie"
            }
          ],
          "responses": {
            "204": {
              "description": "Successful Response"
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "HTTPBearer": []
            }
          ]
        },
        "patch": {
          "tags": [
            "Resource Action Groups"
          ],
          "summary": "Update Resource Action Group",
          "description": "Partially updates the action defined on a resource.\nFields that will be provided will be completely overwritten.",
          "operationId": "update_resource_action_group",
          "parameters": [
            {
              "description": "Either the unique id of the resource, or the URL-friendly key of the resource (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Resource Id",
                "type": "string",
                "description": "Either the unique id of the resource, or the URL-friendly key of the resource (i.e: the \"slug\")."
              },
              "name": "resource_id",
              "in": "path"
            },
            {
              "description": "Either the unique id of the action group, or the URL-friendly key of the action group (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Action Group Id",
                "type": "string",
                "description": "Either the unique id of the action group, or the URL-friendly key of the action group (i.e: the \"slug\")."
              },
              "name": "action_group_id",
              "in": "path"
            },
            {
              "description": "Either the unique id of the project, or the URL-friendly key of the project (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Proj Id",
                "type": "string",
                "description": "Either the unique id of the project, or the URL-friendly key of the project (i.e: the \"slug\")."
              },
              "name": "proj_id",
              "in": "path"
            },
            {
              "description": "Either the unique id of the environment, or the URL-friendly key of the environment (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Env Id",
                "type": "string",
                "description": "Either the unique id of the environment, or the URL-friendly key of the environment (i.e: the \"slug\")."
              },
              "name": "env_id",
              "in": "path"
            },
            {
              "required": false,
              "schema": {
                "title": "Permit Session",
                "type": "string"
              },
              "name": "permit_session",
              "in": "cookie"
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceActionGroupUpdate"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ResourceActionGroupRead"
                  }
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "HTTPBearer": []
            }
          ]
        }
      },
      "/v2/schema/{proj_id}/{env_id}/resources/{resource_id}/roles": {
        "get": {
          "tags": [
            "Resource Roles"
          ],
          "summary": "List Resource Roles",
          "description": "Lists all the roles defined on the resource.",
          "operationId": "list_resource_roles",
          "parameters": [
            {
              "description": "Either the unique id of the project, or the URL-friendly key of the project (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Proj Id",
                "type": "string",
                "description": "Either the unique id of the project, or the URL-friendly key of the project (i.e: the \"slug\")."
              },
              "name": "proj_id",
              "in": "path"
            },
            {
              "description": "Either the unique id of the environment, or the URL-friendly key of the environment (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Env Id",
                "type": "string",
                "description": "Either the unique id of the environment, or the URL-friendly key of the environment (i.e: the \"slug\")."
              },
              "name": "env_id",
              "in": "path"
            },
            {
              "description": "Either the unique id of the resource, or the URL-friendly key of the resource (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Resource Id",
                "type": "string",
                "description": "Either the unique id of the resource, or the URL-friendly key of the resource (i.e: the \"slug\")."
              },
              "name": "resource_id",
              "in": "path"
            },
            {
              "description": "Page number of the results to fetch, starting at 1.",
              "required": false,
              "schema": {
                "title": "Page",
                "minimum": 1,
                "type": "integer",
                "description": "Page number of the results to fetch, starting at 1.",
                "default": 1
              },
              "name": "page",
              "in": "query"
            },
            {
              "description": "The number of results per page (max 100).",
              "required": false,
              "schema": {
                "title": "Per Page",
                "maximum": 100,
                "minimum": 1,
                "type": "integer",
                "description": "The number of results per page (max 100).",
                "default": 30
              },
              "name": "per_page",
              "in": "query"
            },
            {
              "required": false,
              "schema": {
                "title": "Permit Session",
                "type": "string"
              },
              "name": "permit_session",
              "in": "cookie"
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "title": "Response List Resource Roles V2 Schema  Proj Id   Env Id  Resources  Resource Id  Roles Get",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ResourceRoleRead"
                    }
                  }
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "HTTPBearer": []
            }
          ]
        },
        "post": {
          "tags": [
            "Resource Roles"
          ],
          "summary": "Create Resource Role",
          "description": "Creates a new role associated with the resource.",
          "operationId": "create_resource_role",
          "parameters": [
            {
              "description": "Either the unique id of the project, or the URL-friendly key of the project (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Proj Id",
                "type": "string",
                "description": "Either the unique id of the project, or the URL-friendly key of the project (i.e: the \"slug\")."
              },
              "name": "proj_id",
              "in": "path"
            },
            {
              "description": "Either the unique id of the environment, or the URL-friendly key of the environment (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Env Id",
                "type": "string",
                "description": "Either the unique id of the environment, or the URL-friendly key of the environment (i.e: the \"slug\")."
              },
              "name": "env_id",
              "in": "path"
            },
            {
              "description": "Either the unique id of the resource, or the URL-friendly key of the resource (i.e: the \"slug\").",
              "required": true,
              "schema": {
                "title": "Resource Id",
                "type": "string",
                "description": "Either the unique id of the resource, or the URL-friendly key of the resource (i.e: the \"slug\")."
              },
              "name": "resource_id",
              "in": "path"
            },
            {
              "required": false,
              "schema": {
                "title": "Permit Session",
                "type": "string"
              },
              "name": "permit_session",
              "in": "cookie"
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceRoleCreate"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ResourceRoleRead"
                  }
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          },
          "security": [
            {
              "HTTPBearer": []
            }
          ]
        }
      },
      "/v2/schema/{proj_id}/{env_id}/resources/{resource_id}/roles/{role_id}": {
        "get": {
          "tags": [
            "Resource Roles"
          ],
          "summary": "Get Resource Role",
[...]
