{
  "type": "openapi",
  "value": {
    "openapi": "3.0.0",
    "info": {
      "title": "Seam Connect",
      "version": "1.0.0"
    },
    "servers": [
      {
        "url": "https://connect.getseam.com"
      }
    ],
    "tags": [
      {
        "name": "/access_codes",
        "description": "access_codes"
      },
      {
        "name": "/acs",
        "description": "acs"
      },
      {
        "name": "/action_attempts",
        "description": "action_attempts"
      },
      {
        "name": "/client_sessions",
        "description": "client_sessions"
      },
      {
        "name": "/connected_accounts",
        "description": "connected_accounts"
      },
      {
        "name": "/connect_webviews",
        "description": "connect_webviews"
      },
      {
        "name": "/devices",
        "description": "devices"
      },
      {
        "name": "/events",
        "description": "events"
      },
      {
        "name": "/health",
        "description": "health"
      },
      {
        "name": "/locks",
        "description": "locks"
      },
      {
        "name": "/networks",
        "description": "networks"
      },
      {
        "name": "/noise_sensors",
        "description": "noise_sensors"
      },
      {
        "name": "/phones",
        "description": "phones"
      },
      {
        "name": "/thermostats",
        "description": "thermostats"
      },
      {
        "name": "/user_identities",
        "description": "user_identities"
      },
      {
        "name": "/webhooks",
        "description": "webhooks"
      },
      {
        "name": "/workspaces",
        "description": "workspaces"
      }
    ],
    "paths": {
      "/access_codes/create": {
        "post": {
          "x-fern-sdk-group-name": [
            "access_codes"
          ],
          "x-fern-sdk-method-name": "create",
          "x-fern-sdk-return-value": "access_code",
          "summary": "/access_codes/create",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "action_attempt": {
                        "$ref": "#/components/schemas/action_attempt"
                      },
                      "access_code": {
                        "$ref": "#/components/schemas/access_code"
                      },
                      "ok": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "action_attempt",
                      "access_code",
                      "ok"
                    ]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request"
            },
            "401": {
              "description": "Unauthorized"
            }
          },
          "security": [
            {
              "client_session": []
            },
            {
              "pat_with_workspace": []
            },
            {
              "console_session": []
            },
            {
              "api_key": []
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "device_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "name": {
                      "type": "string"
                    },
                    "starts_at": {
                      "type": "string"
                    },
                    "ends_at": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "minLength": 4,
                      "maxLength": 9,
                      "pattern": "^\\d+$"
                    },
                    "sync": {
                      "default": false,
                      "type": "boolean"
                    },
                    "attempt_for_offline_device": {
                      "default": true,
                      "type": "boolean"
                    },
                    "common_code_key": {
                      "type": "string"
                    },
                    "prefer_native_scheduling": {
                      "type": "boolean"
                    },
                    "use_backup_access_code_pool": {
                      "type": "boolean"
                    },
                    "allow_external_modification": {
                      "type": "boolean"
                    },
                    "is_external_modification_allowed": {
                      "type": "boolean"
                    },
                    "use_offline_access_code": {
                      "type": "boolean"
                    },
                    "is_offline_access_code": {
                      "type": "boolean"
                    },
                    "is_one_time_use": {
                      "type": "boolean"
                    },
                    "max_time_rounding": {
                      "default": "1hour",
                      "type": "string",
                      "enum": [
                        "1hour",
                        "1day",
                        "1h",
                        "1d"
                      ]
                    }
                  },
                  "required": [
                    "device_id"
                  ]
                }
              }
            }
          },
          "tags": [
            "/access_codes"
          ],
          "operationId": "accessCodesCreatePost"
        }
      },
      "/access_codes/create_multiple": {
        "put": {
          "x-fern-ignore": true,
          "summary": "/access_codes/create_multiple",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "access_codes": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/access_code"
                        }
                      },
                      "ok": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "access_codes",
                      "ok"
                    ]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request"
            },
            "401": {
              "description": "Unauthorized"
            }
          },
          "security": [
            {
              "client_session": []
            },
            {
              "pat_with_workspace": []
            },
            {
              "console_session": []
            },
            {
              "api_key": []
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "device_ids": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "uuid"
                      }
                    },
                    "behavior_when_code_cannot_be_shared": {
                      "default": "throw",
                      "type": "string",
                      "enum": [
                        "throw",
                        "create_random_code"
                      ]
                    },
                    "preferred_code_length": {
                      "type": "number"
                    },
                    "name": {
                      "type": "string"
                    },
                    "starts_at": {
                      "type": "string"
                    },
                    "ends_at": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "minLength": 4,
                      "maxLength": 9,
                      "pattern": "^\\d+$"
                    },
                    "attempt_for_offline_device": {
                      "default": true,
                      "type": "boolean"
                    },
                    "prefer_native_scheduling": {
                      "type": "boolean"
                    },
                    "use_backup_access_code_pool": {
                      "type": "boolean"
                    },
                    "allow_external_modification": {
                      "type": "boolean"
                    },
                    "is_external_modification_allowed": {
                      "type": "boolean"
                    },
                    "use_offline_access_code": {
                      "type": "boolean"
                    },
                    "is_offline_access_code": {
                      "type": "boolean"
                    },
                    "is_one_time_use": {
                      "type": "boolean"
                    },
                    "max_time_rounding": {
                      "default": "1hour",
                      "type": "string",
                      "enum": [
                        "1hour",
                        "1day",
                        "1h",
                        "1d"
                      ]
                    }
                  },
                  "required": [
                    "device_ids"
                  ]
                }
              }
            }
          },
          "tags": [
            "/access_codes"
          ],
          "operationId": "accessCodesCreateMultiplePut"
        },
        "post": {
          "x-fern-sdk-group-name": [
            "access_codes"
          ],
          "x-fern-sdk-method-name": "create_multiple",
          "x-fern-sdk-return-value": "access_codes",
          "summary": "/access_codes/create_multiple",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "access_codes": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/access_code"
                        }
                      },
                      "ok": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "access_codes",
                      "ok"
                    ]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request"
            },
            "401": {
              "description": "Unauthorized"
            }
          },
          "security": [
            {
              "client_session": []
            },
            {
              "pat_with_workspace": []
            },
            {
              "console_session": []
            },
            {
              "api_key": []
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "device_ids": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "uuid"
                      }
                    },
                    "behavior_when_code_cannot_be_shared": {
                      "default": "throw",
                      "type": "string",
                      "enum": [
                        "throw",
                        "create_random_code"
                      ]
                    },
                    "preferred_code_length": {
                      "type": "number"
                    },
                    "name": {
                      "type": "string"
                    },
                    "starts_at": {
                      "type": "string"
                    },
                    "ends_at": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "minLength": 4,
                      "maxLength": 9,
                      "pattern": "^\\d+$"
                    },
                    "attempt_for_offline_device": {
                      "default": true,
                      "type": "boolean"
                    },
                    "prefer_native_scheduling": {
                      "type": "boolean"
                    },
                    "use_backup_access_code_pool": {
                      "type": "boolean"
                    },
                    "allow_external_modification": {
                      "type": "boolean"
                    },
                    "is_external_modification_allowed": {
                      "type": "boolean"
                    },
                    "use_offline_access_code": {
                      "type": "boolean"
                    },
                    "is_offline_access_code": {
                      "type": "boolean"
                    },
                    "is_one_time_use": {
                      "type": "boolean"
                    },
                    "max_time_rounding": {
                      "default": "1hour",
                      "type": "string",
                      "enum": [
                        "1hour",
                        "1day",
                        "1h",
                        "1d"
                      ]
                    }
                  },
                  "required": [
                    "device_ids"
                  ]
                }
              }
            }
          },
          "tags": [
            "/access_codes"
          ],
          "operationId": "accessCodesCreateMultiplePost"
        }
      },
      "/access_codes/delete": {
        "post": {
          "x-fern-sdk-group-name": [
            "access_codes"
          ],
          "x-fern-sdk-method-name": "delete",
          "summary": "/access_codes/delete",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "action_attempt": {
                        "$ref": "#/components/schemas/action_attempt"
                      },
                      "ok": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "action_attempt",
                      "ok"
                    ]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request"
            },
            "401": {
              "description": "Unauthorized"
            }
          },
          "security": [
            {
              "client_session": []
            },
            {
              "pat_with_workspace": []
            },
            {
              "console_session": []
            },
            {
              "api_key": []
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "device_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "access_code_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "sync": {
                      "default": false,
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "access_code_id"
                  ]
                }
              }
            }
          },
          "tags": [
            "/access_codes"
          ],
          "operationId": "accessCodesDeletePost"
        }
      },
      "/access_codes/generate_code": {
        "post": {
          "x-fern-sdk-group-name": [
            "access_codes"
          ],
          "x-fern-sdk-method-name": "generate_code",
          "x-fern-sdk-return-value": "generated_code",
          "summary": "/access_codes/generate_code",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "generated_code": {
                        "$ref": "#/components/schemas/access_code"
                      },
                      "ok": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "generated_code",
                      "ok"
                    ]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request"
            },
            "401": {
              "description": "Unauthorized"
            }
          },
          "security": [
            {
              "client_session": []
            },
            {
              "pat_with_workspace": []
            },
            {
              "console_session": []
            },
            {
              "api_key": []
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "device_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  },
                  "required": [
                    "device_id"
                  ]
                }
              }
            }
          },
          "tags": [
            "/access_codes"
          ],
          "operationId": "accessCodesGenerateCodePost"
        }
      },
      "/access_codes/get": {
        "post": {
          "x-fern-sdk-group-name": [
            "access_codes"
          ],
          "x-fern-sdk-method-name": "get",
          "x-fern-sdk-return-value": "access_code",
          "summary": "/access_codes/get",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "access_code": {
                        "$ref": "#/components/schemas/access_code"
                      },
                      "ok": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "access_code",
                      "ok"
                    ]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request"
            },
            "401": {
              "description": "Unauthorized"
            }
          },
          "security": [
            {
              "api_key": []
            },
            {
              "access_token": []
            },
            {
              "user_session": []
            },
            {
              "client_session": []
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "device_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "access_code_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "tags": [
            "/access_codes"
          ],
          "operationId": "accessCodesGetPost"
        }
      },
      "/access_codes/list": {
        "post": {
          "x-fern-sdk-group-name": [
            "access_codes"
          ],
          "x-fern-sdk-method-name": "list",
          "x-fern-sdk-return-value": "access_codes",
          "summary": "/access_codes/list",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "access_codes": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/access_code"
                        }
                      },
                      "ok": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "access_codes",
                      "ok"
                    ]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request"
            },
            "401": {
              "description": "Unauthorized"
            }
          },
          "security": [
            {
              "client_session": []
            },
            {
              "pat_with_workspace": []
            },
            {
              "console_session": []
            },
            {
              "api_key": []
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "device_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "access_code_ids": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "uuid"
                      }
                    },
                    "user_identifier_key": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "tags": [
            "/access_codes"
          ],
          "operationId": "accessCodesListPost"
        }
      },
      "/access_codes/pull_backup_access_code": {
        "post": {
          "x-fern-sdk-group-name": [
            "access_codes"
          ],
          "x-fern-sdk-method-name": "pull_backup_access_code",
          "x-fern-sdk-return-value": "backup_access_code",
          "summary": "/access_codes/pull_backup_access_code",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "backup_access_code": {
                        "$ref": "#/components/schemas/access_code"
                      },
                      "ok": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "backup_access_code",
                      "ok"
                    ]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request"
            },
            "401": {
              "description": "Unauthorized"
            }
          },
          "security": [
            {
              "client_session": []
            },
            {
              "pat_with_workspace": []
            },
            {
              "console_session": []
            },
            {
              "api_key": []
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_code_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  },
                  "required": [
                    "access_code_id"
                  ]
                }
              }
            }
          },
          "tags": [
            "/access_codes"
          ],
          "operationId": "accessCodesPullBackupAccessCodePost"
        }
      },
      "/access_codes/update": {
        "put": {
          "x-fern-ignore": true,
          "summary": "/access_codes/update",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "action_attempt": {
                        "$ref": "#/components/schemas/action_attempt"
                      },
                      "ok": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "action_attempt",
                      "ok"
                    ]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request"
            },
            "401": {
              "description": "Unauthorized"
            }
          },
          "security": [
            {
              "client_session": []
            },
            {
              "pat_with_workspace": []
            },
            {
              "console_session": []
            },
            {
              "api_key": []
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "starts_at": {
                      "type": "string"
                    },
                    "ends_at": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "minLength": 4,
                      "maxLength": 9,
                      "pattern": "^\\d+$"
                    },
                    "sync": {
                      "default": false,
                      "type": "boolean"
                    },
                    "attempt_for_offline_device": {
                      "default": true,
                      "type": "boolean"
                    },
                    "prefer_native_scheduling": {
                      "type": "boolean"
                    },
                    "use_backup_access_code_pool": {
                      "type": "boolean"
                    },
                    "allow_external_modification": {
                      "type": "boolean"
                    },
                    "is_external_modification_allowed": {
                      "type": "boolean"
                    },
                    "use_offline_access_code": {
                      "type": "boolean"
                    },
                    "is_offline_access_code": {
                      "type": "boolean"
                    },
                    "is_one_time_use": {
                      "type": "boolean"
                    },
                    "max_time_rounding": {
                      "default": "1hour",
                      "type": "string",
                      "enum": [
                        "1hour",
                        "1day",
                        "1h",
                        "1d"
                      ]
                    },
                    "access_code_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "device_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "ongoing",
                        "time_bound"
                      ]
                    },
                    "is_managed": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "access_code_id"
                  ]
                }
              }
            }
          },
          "tags": [
            "/access_codes"
          ],
          "operationId": "accessCodesUpdatePut"
        },
        "patch": {
          "x-fern-ignore": true,
          "summary": "/access_codes/update",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "action_attempt": {
                        "$ref": "#/components/schemas/action_attempt"
                      },
                      "ok": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "action_attempt",
                      "ok"
                    ]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request"
            },
            "401": {
              "description": "Unauthorized"
            }
          },
          "security": [
            {
              "client_session": []
            },
            {
              "pat_with_workspace": []
            },
            {
              "console_session": []
            },
            {
              "api_key": []
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "starts_at": {
                      "type": "string"
                    },
                    "ends_at": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "minLength": 4,
                      "maxLength": 9,
                      "pattern": "^\\d+$"
                    },
                    "sync": {
                      "default": false,
                      "type": "boolean"
                    },
                    "attempt_for_offline_device": {
                      "default": true,
                      "type": "boolean"
                    },
                    "prefer_native_scheduling": {
                      "type": "boolean"
                    },
                    "use_backup_access_code_pool": {
                      "type": "boolean"
                    },
                    "allow_external_modification": {
                      "type": "boolean"
                    },
                    "is_external_modification_allowed": {
                      "type": "boolean"
                    },
                    "use_offline_access_code": {
                      "type": "boolean"
                    },
                    "is_offline_access_code": {
                      "type": "boolean"
                    },
                    "is_one_time_use": {
                      "type": "boolean"
                    },
                    "max_time_rounding": {
                      "default": "1hour",
                      "type": "string",
                      "enum": [
                        "1hour",
                        "1day",
                        "1h",
                        "1d"
                      ]
                    },
                    "access_code_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "device_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "ongoing",
                        "time_bound"
                      ]
                    },
                    "is_managed": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "access_code_id"
                  ]
                }
              }
            }
          },
          "tags": [
            "/access_codes"
          ],
          "operationId": "accessCodesUpdatePatch"
        },
        "post": {
          "x-fern-sdk-group-name": [
            "access_codes"
          ],
          "x-fern-sdk-method-name": "update",
          "summary": "/access_codes/update",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "action_attempt": {
                        "$ref": "#/components/schemas/action_attempt"
                      },
                      "ok": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "action_attempt",
                      "ok"
                    ]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request"
            },
            "401": {
              "description": "Unauthorized"
            }
          },
          "security": [
            {
              "client_session": []
            },
            {
              "pat_with_workspace": []
            },
            {
              "console_session": []
            },
            {
              "api_key": []
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "starts_at": {
                      "type": "string"
                    },
                    "ends_at": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "minLength": 4,
                      "maxLength": 9,
                      "pattern": "^\\d+$"
                    },
                    "sync": {
                      "default": false,
                      "type": "boolean"
                    },
                    "attempt_for_offline_device": {
                      "default": true,
                      "type": "boolean"
                    },
                    "prefer_native_scheduling": {
                      "type": "boolean"
                    },
                    "use_backup_access_code_pool": {
                      "type": "boolean"
                    },
                    "allow_external_modification": {
                      "type": "boolean"
                    },
                    "is_external_modification_allowed": {
                      "type": "boolean"
                    },
                    "use_offline_access_code": {
                      "type": "boolean"
                    },
                    "is_offline_access_code": {
                      "type": "boolean"
                    },
                    "is_one_time_use": {
                      "type": "boolean"
                    },
                    "max_time_rounding": {
                      "default": "1hour",
                      "type": "string",
                      "enum": [
                        "1hour",
                        "1day",
                        "1h",
                        "1d"
                      ]
                    },
                    "access_code_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "device_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "ongoing",
                        "time_bound"
                      ]
                    },
                    "is_managed": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "access_code_id"
                  ]
                }
              }
            }
          },
          "tags": [
            "/access_codes"
          ],
          "operationId": "accessCodesUpdatePost"
        }
      },
      "/action_attempts/get": {
        "post": {
          "x-fern-sdk-group-name": [
            "action_attempts"
          ],
          "x-fern-sdk-method-name": "get",
          "x-fern-sdk-return-value": "action_attempt",
          "summary": "/action_attempts/get",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "action_attempt": {
                        "$ref": "#/components/schemas/action_attempt"
                      },
                      "ok": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "action_attempt",
                      "ok"
                    ]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request"
            },
            "401": {
              "description": "Unauthorized"
            }
          },
          "security": [
            {
              "client_session": []
            },
            {
              "pat_with_workspace": []
            },
            {
              "console_session": []
            },
            {
              "api_key": []
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "action_attempt_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  },
                  "required": [
                    "action_attempt_id"
                  ]
                }
              }
            }
          },
          "tags": [
            "/action_attempts"
          ],
          "operationId": "actionAttemptsGetPost"
        }
      },
      "/action_attempts/list": {
        "post": {
          "x-fern-sdk-group-name": [
            "action_attempts"
          ],
          "x-fern-sdk-method-name": "list",
          "x-fern-sdk-return-value": "action_attempts",
          "summary": "/action_attempts/list",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "action_attempts": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/action_attempt"
                        }
                      },
                      "ok": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "action_attempts",
                      "ok"
                    ]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request"
            },
            "401": {
              "description": "Unauthorized"
            }
          },
          "security": [
            {
              "api_key": []
            },
            {
              "pat_with_workspace": []
            },
            {
              "console_session": []
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "action_attempt_ids": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "uuid"
                      }
                    }
                  },
                  "required": [
                    "action_attempt_ids"
                  ]
                }
              }
            }
          },
          "tags": [
            "/action_attempts"
          ],
          "operationId": "actionAttemptsListPost"
        }
      },
      "/client_sessions/create": {
        "put": {
          "x-fern-ignore": true,
          "summary": "/client_sessions/create",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "client_session": {
                        "$ref": "#/components/schemas/client_session"
                      },
                      "ok": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "client_session",
                      "ok"
                    ]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request"
            },
            "401": {
              "description": "Unauthorized"
            }
          },
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user_identifier_key": {
                      "type": "string",
                      "minLength": 1
                    },
                    "connect_webview_ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "connected_account_ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "user_identity_ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "expires_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "tags": [
            "/client_sessions"
          ],
          "operationId": "clientSessionsCreatePut"
        },
        "post": {
          "x-fern-sdk-group-name": [
            "client_sessions"
          ],
          "x-fern-sdk-method-name": "create",
          "x-fern-sdk-return-value": "client_session",
          "summary": "/client_sessions/create",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "client_session": {
                        "$ref": "#/components/schemas/client_session"
                      },
                      "ok": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "client_session",
                      "ok"
                    ]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request"
            },
            "401": {
              "description": "Unauthorized"
            }
          },
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user_identifier_key": {
                      "type": "string",
                      "minLength": 1
                    },
                    "connect_webview_ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "connected_account_ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "user_identity_ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "expires_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "tags": [
            "/client_sessions"
          ],
          "operationId": "clientSessionsCreatePost"
        }
      },
      "/client_sessions/delete": {
        "post": {
          "x-fern-sdk-group-name": [
            "client_sessions"
          ],
          "x-fern-sdk-method-name": "delete",
          "summary": "/client_sessions/delete",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "ok": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "ok"
                    ]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request"
            },
            "401": {
              "description": "Unauthorized"
            }
          },
          "security": [
            {
              "api_key": []
            },
            {
              "pat_with_workspace": []
            },
            {
              "console_session": []
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "client_session_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  },
                  "required": [
                    "client_session_id"
                  ]
                }
              }
            }
          },
          "tags": [
            "/client_sessions"
          ],
          "operationId": "clientSessionsDeletePost"
        }
      },
      "/client_sessions/get": {
        "post": {
          "x-fern-sdk-group-name": [
            "client_sessions"
          ],
          "x-fern-sdk-method-name": "get",
          "x-fern-sdk-return-value": "client_session",
          "summary": "/client_sessions/get",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "client_session": {
                        "$ref": "#/components/schemas/client_session"
                      },
                      "ok": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "client_session",
                      "ok"
                    ]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request"
            },
            "401": {
              "description": "Unauthorized"
            }
          },
          "security": [
            {
              "client_session": []
            },
            {
              "pat_with_workspace": []
            },
            {
              "console_session": []
            },
            {
              "api_key": []
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "client_session_id": {
                      "type": "string"
                    },
                    "user_identifier_key": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "tags": [
            "/client_sessions"
          ],
          "operationId": "clientSessionsGetPost"
        }
      },
      "/client_sessions/get_or_create": {
        "put": {
          "x-fern-ignore": true,
          "summary": "/client_sessions/get_or_create",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "client_session": {
                        "$ref": "#/components/schemas/client_session"
                      },
                      "ok": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "client_session",
                      "ok"
                    ]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request"
            },
            "401": {
              "description": "Unauthorized"
            }
          },
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user_identifier_key": {
                      "type": "string",
                      "minLength": 1
                    },
                    "connect_webview_ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "connected_account_ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "user_identity_ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "expires_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "tags": [
            "/client_sessions"
          ],
          "operationId": "clientSessionsGetOrCreatePut"
        },
        "post": {
          "x-fern-sdk-group-name": [
            "client_sessions"
          ],
          "x-fern-sdk-method-name": "get_or_create",
          "x-fern-sdk-return-value": "client_session",
          "summary": "/client_sessions/get_or_create",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "client_session": {
                        "$ref": "#/components/schemas/client_session"
                      },
                      "ok": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "client_session",
                      "ok"
                    ]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request"
            },
            "401": {
              "description": "Unauthorized"
            }
          },
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user_identifier_key": {
                      "type": "string",
                      "minLength": 1
                    },
                    "connect_webview_ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "connected_account_ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "user_identity_ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "expires_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "tags": [
            "/client_sessions"
          ],
          "operationId": "clientSessionsGetOrCreatePost"
        }
      },
      "/client_sessions/grant_access": {
        "post": {
          "x-fern-sdk-group-name": [
            "client_sessions"
          ],
          "x-fern-sdk-method-name": "grant_access",
          "summary": "/client_sessions/grant_access",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "client_session": {
                        "$ref": "#/components/schemas/client_session"
                      },
                      "ok": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "client_session",
                      "ok"
                    ]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request"
            },
            "401": {
              "description": "Unauthorized"
            }
          },
          "security": [
            {
              "api_key": []
            },
            {
              "pat_with_workspace": []
            },
            {
              "console_session": []
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "client_session_id": {
                      "type": "string"
                    },
                    "user_identifier_key": {
                      "type": "string"
                    },
                    "connected_account_ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "connect_webview_ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "user_identity_ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "tags": [
            "/client_sessions"
          ],
          "operationId": "clientSessionsGrantAccessPost"
        },
        "patch": {
          "x-fern-ignore": true,
          "summary": "/client_sessions/grant_access",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "client_session": {
                        "$ref": "#/components/schemas/client_session"
                      },
                      "ok": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "client_session",
                      "ok"
                    ]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request"
            },
            "401": {
              "description": "Unauthorized"
            }
          },
          "security": [
            {
              "api_key": []
            },
            {
              "pat_with_workspace": []
            },
            {
              "console_session": []
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "client_session_id": {
                      "type": "string"
                    },
                    "user_identifier_key": {
                      "type": "string"
                    },
                    "connected_account_ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "connect_webview_ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "user_identity_ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "tags": [
            "/client_sessions"
          ],
          "operationId": "clientSessionsGrantAccessPatch"
        }
      },
      "/client_sessions/list": {
        "post": {
          "x-fern-sdk-group-name": [
            "client_sessions"
          ],
          "x-fern-sdk-method-name": "list",
          "x-fern-sdk-return-value": "client_sessions",
          "summary": "/client_sessions/list",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "client_sessions": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/client_session"
                        }
                      },
                      "ok": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "client_sessions",
                      "ok"
                    ]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request"
            },
            "401": {
              "description": "Unauthorized"
            }
          },
          "security": [
            {
              "api_key": []
            },
            {
              "pat_with_workspace": []
            },
            {
              "console_session": []
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "client_session_id": {
                      "type": "string"
                    },
                    "user_identifier_key": {
                      "type": "string"
                    },
                    "connect_webview_id": {
                      "type": "string"
                    },
                    "without_user_identifier_key": {
                      "type": "boolean"
                    },
                    "user_identity_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "tags": [
            "/client_sessions"
          ],
          "operationId": "clientSessionsListPost"
        }
      },
      "/client_sessions/revoke": {
        "post": {
          "x-fern-sdk-group-name": [
            "client_sessions"
          ],
          "x-fern-sdk-method-name": "revoke",
          "summary": "/client_sessions/revoke",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "ok": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "ok"
                    ]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request"
            },
            "401": {
              "description": "Unauthorized"
            }
          },
          "security": [
            {
              "api_key": []
            },
            {
              "pat_with_workspace": []
            },
            {
              "console_session": []
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "client_session_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  },
                  "required": [
                    "client_session_id"
                  ]
                }
              }
            }
          },
          "tags": [
            "/client_sessions"
          ],
          "operationId": "clientSessionsRevokePost"
        }
      },
      "/connect_webviews/create": {
        "post": {
          "x-fern-sdk-group-name": [
            "connect_webviews"
          ],
          "x-fern-sdk-method-name": "create",
          "x-fern-sdk-return-value": "connect_webview",
          "summary": "/connect_webviews/create",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "connect_webview": {
                        "$ref": "#/components/schemas/connect_webview"
                      },
                      "ok": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "connect_webview",
                      "ok"
                    ]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request"
            },
            "401": {
              "description": "Unauthorized"
            }
          },
          "security": [
            {
              "client_session": []
            },
            {
              "pat_with_workspace": []
            },
            {
              "console_session": []
            },
            {
              "api_key": []
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "device_selection_mode": {
                      "type": "string",
                      "enum": [
                        "none",
                        "single",
                        "multiple"
                      ]
                    },
                    "custom_redirect_url": {
                      "type": "string"
                    },
                    "custom_redirect_failure_url": {
                      "type": "string"
                    },
                    "accepted_providers": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "enum": [
                          "akuvox",
                          "august",
                          "avigilon_alta",
                          "brivo",
                          "butterflymx",
                          "schlage",
                          "smartthings",
                          "yale",
                          "genie",
                          "doorking",
                          "salto",
                          "lockly",
                          "ttlock",
                          "linear",
                          "noiseaware",
                          "nuki",
                          "seam_relay_admin",
                          "igloo",
                          "kwikset",
                          "minut",
                          "my_2n",
                          "controlbyweb",
                          "nest",
                          "igloohome",
                          "ecobee",
                          "hubitat",
                          "four_suites",
                          "dormakaba_oracode",
                          "pti",
                          "wyze",
                          "seam_passport",
                          "visionline",
                          "assa_abloy_credential_service",
                          "seam_bridge",
                          "tedee",
                          "honeywell_resideo",
                          "latch",
                          "yale_access",
                          "hid_cm",
                          "google_nest"
                        ]
                      }
                    },
                    "provider_category": {
                      "type": "string",
                      "enum": [
                        "stable",
                        "consumer_smartlocks",
                        "thermostats",
                        "noise_sensors",
                        "access_control_systems",
                        "internal_beta"
                      ]
                    },
                    "custom_metadata": {
                      "type": "object",
                      "additionalProperties": {
                        "oneOf": [
                          {
                            "type": "string",
                            "maxLength": 500
                          },
                          {
                            "type": "boolean"
                          },
                          {
                            "type": "string",
                            "format": "null",
                            "nullable": true
                          }
                        ],
                        "nullable": true
                      }
                    },
                    "automatically_manage_new_devices": {
                      "default": true,
                      "type": "boolean"
                    },
                    "wait_for_device_creation": {
                      "default": false,
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "tags": [
            "/connect_webviews"
          ],
          "operationId": "connectWebviewsCreatePost"
        }
      },
      "/connect_webviews/delete": {
        "post": {
          "x-fern-sdk-group-name": [
            "connect_webviews"
          ],
          "x-fern-sdk-method-name": "delete",
          "summary": "/connect_webviews/delete",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "ok": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "ok"
                    ]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request"
            },
            "401": {
              "description": "Unauthorized"
            }
          },
          "security": [
            {
              "api_key": []
            },
            {
              "pat_with_workspace": []
            },
            {
              "console_session": []
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "connect_webview_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  },
                  "required": [
                    "connect_webview_id"
                  ]
                }
              }
            }
          },
          "tags": [
            "/connect_webviews"
          ],
          "operationId": "connectWebviewsDeletePost"
        }
      },
      "/connect_webviews/get": {
        "post": {
          "x-fern-sdk-group-name": [
            "connect_webviews"
          ],
          "x-fern-sdk-method-name": "get",
          "x-fern-sdk-return-value": "connect_webview",
          "summary": "/connect_webviews/get",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "connect_webview": {
                        "$ref": "#/components/schemas/connect_webview"
                      },
                      "ok": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "connect_webview",
                      "ok"
                    ]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request"
            },
            "401": {
              "description": "Unauthorized"
            }
          },
          "security": [
            {
              "client_session": []
            },
            {
              "pat_with_workspace": []
            },
            {
              "console_session": []
            },
            {
              "api_key": []
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "connect_webview_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  },
                  "required": [
                    "connect_webview_id"
                  ]
                }
              }
            }
          },
          "tags": [
            "/connect_webviews"
          ],
          "operationId": "connectWebviewsGetPost"
        }
      },
      "/connect_webviews/list": {
        "post": {
          "x-fern-sdk-group-name": [
            "connect_webviews"
          ],
          "x-fern-sdk-method-name": "list",
          "x-fern-sdk-return-value": "connect_webviews",
          "summary": "/connect_webviews/list",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "connect_webviews": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/connect_webview"
                        }
                      },
                      "ok": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "connect_webviews",
                      "ok"
                    ]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request"
            },
            "401": {
              "description": "Unauthorized"
            }
          },
          "security": [
            {
              "client_session": []
            },
            {
              "pat_with_workspace": []
            },
            {
              "console_session": []
            },
            {
              "api_key": []
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user_identifier_key": {
                      "type": "string"
                    },
                    "custom_metadata_has": {
                      "type": "object",
                      "additionalProperties": {
                        "oneOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "boolean"
                          }
                        ]
                      },
                      "description": "Returns devices where the webview's custom_metadata contains all of the provided key/value pairs."
                    },
                    "limit": {
                      "default": 500,
                      "type": "number",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "tags": [
            "/connect_webviews"
          ],
          "operationId": "connectWebviewsListPost"
        }
      },
      "/connected_accounts/delete": {
        "post": {
          "x-fern-sdk-group-name": [
            "connected_accounts"
          ],
          "x-fern-sdk-method-name": "delete",
          "summary": "/connected_accounts/delete",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "ok": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "ok"
                    ]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request"
            },
            "401": {
              "description": "Unauthorized"
            }
          },
          "security": [
            {
              "api_key": []
            },
            {
              "pat_with_workspace": []
            },
            {
              "console_session": []
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "connected_account_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "sync": {
                      "default": false,
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "connected_account_id"
                  ]
                }
              }
            }
          },
          "tags": [
            "/connected_accounts"
          ],
          "operationId": "connectedAccountsDeletePost"
        }
      },
      "/connected_accounts/get": {
        "post": {
          "x-fern-sdk-group-name": [
            "connected_accounts"
          ],
          "x-fern-sdk-method-name": "get",
          "x-fern-sdk-return-value": "connected_account",
          "summary": "/connected_accounts/get",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "connected_account": {
                        "$ref": "#/components/schemas/connected_account"
                      },
                      "ok": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "connected_account",
                      "ok"
                    ]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request"
            },
            "401": {
              "description": "Unauthorized"
            }
          },
          "security": [
            {
              "client_session": []
            },
            {
              "api_key": []
            },
            {
              "pat_with_workspace": []
            },
            {
              "console_session": []
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "connected_account_id": {
                          "type": "string",
                          "format": "uuid"
                        }
                      },
                      "required": [
                        "connected_account_id"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "email": {
                          "type": "string",
                          "format": "email"
                        }
                      },
                      "required": [
                        "email"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "tags": [
            "/connected_accounts"
          ],
          "operationId": "connectedAccountsGetPost"
        }
      },
      "/connected_accounts/list": {
        "post": {
          "x-fern-sdk-group-name": [
            "connected_accounts"
          ],
          "x-fern-sdk-method-name": "list",
          "x-fern-sdk-return-value": "connected_accounts",
          "summary": "/connected_accounts/list",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "connected_accounts": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/connected_account"
                        }
                      },
                      "ok": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "connected_accounts",
                      "ok"
                    ]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request"
            },
            "401": {
              "description": "Unauthorized"
            }
          },
          "security": [
            {
              "api_key": []
            },
            {
              "pat_with_workspace": []
            },
            {
              "console_session": []
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "custom_metadata_has": {
                      "type": "object",
                      "additionalProperties": {
                        "oneOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "boolean"
                          }
                        ]
                      },
                      "description": "Returns devices where the account's custom_metadata contains all of the provided key/value pairs."
                    }
                  }
                }
              }
            }
          },
          "tags": [
            "/connected_accounts"
          ],
          "operationId": "connectedAccountsListPost"
        }
      },
      "/connected_accounts/update": {
        "post": {
          "x-fern-sdk-group-name": [
            "connected_accounts"
          ],
          "x-fern-sdk-method-name": "update",
          "x-fern-sdk-return-value": "connected_account",
          "summary": "/connected_accounts/update",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "connected_account": {
                        "$ref": "#/components/schemas/connected_account"
                      },
                      "ok": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "connected_account",
                      "ok"
                    ]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request"
            },
            "401": {
              "description": "Unauthorized"
            }
          },
          "security": [
            {
              "pat_with_workspace": []
            },
            {
              "console_session": []
            },
            {
              "api_key": []
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "connected_account_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "automatically_manage_new_devices": {
                      "type": "boolean"
                    },
                    "custom_metadata": {
                      "type": "object",
                      "additionalProperties": {
                        "oneOf": [
                          {
                            "type": "string",
                            "maxLength": 500
                          },
                          {
                            "type": "boolean"
                          },
                          {
                            "type": "string",
                            "format": "null",
                            "nullable": true
                          }
                        ],
                        "nullable": true
                      }
                    }
                  },
                  "required": [
                    "connected_account_id"
                  ]
                }
              }
            }
          },
          "tags": [
            "/connected_accounts"
          ],
          "operationId": "connectedAccountsUpdatePost"
        }
      },
      "/devices/delete": {
        "post": {
          "x-fern-sdk-group-name": [
            "devices"
          ],
          "x-fern-sdk-method-name": "delete",
          "summary": "/devices/delete",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "ok": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "ok"
                    ]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request"
            },
            "401": {
              "description": "Unauthorized"
            }
          },
          "security": [
            {
              "api_key": []
            },
            {
              "pat_with_workspace": []
            },
            {
              "console_session": []
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "device_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  },
                  "required": [
                    "device_id"
                  ]
                }
              }
            }
          },
          "tags": [
            "/devices"
          ],
          "operationId": "devicesDeletePost"
        }
      },
      "/devices/get": {
        "post": {
          "x-fern-sdk-group-name": [
            "devices"
          ],
          "x-fern-sdk-method-name": "get",
          "x-fern-sdk-return-value": "device",
          "summary": "/devices/get",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "device": {
                        "$ref": "#/components/schemas/device"
                      },
                      "ok": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "device",
                      "ok"
                    ]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request"
            },
            "401": {
              "description": "Unauthorized"
            }
          },
          "security": [
            {
              "client_session": []
            },
            {
              "pat_with_workspace": []
            },
            {
              "console_session": []
            },
            {
              "api_key": []
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "device_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "tags": [
            "/devices"
          ],
          "operationId": "devicesGetPost"
        }
      },
      "/devices/list": {
        "post": {
          "x-fern-sdk-group-name": [
            "devices"
          ],
          "x-fern-sdk-method-name": "list",
          "x-fern-sdk-return-value": "devices",
          "summary": "/devices/list",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "devices": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/device"
                        }
                      },
                      "ok": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "devices",
                      "ok"
                    ]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request"
            },
            "401": {
              "description": "Unauthorized"
            }
          },
          "security": [
            {
              "client_session": []
            },
            {
              "pat_with_workspace": []
            },
            {
              "console_session": []
            },
            {
              "api_key": []
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "connected_account_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "List all devices owned by this connected account"
                    },
                    "connected_account_ids": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "uuid"
                      }
                    },
                    "connect_webview_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "device_type": {
                      "oneOf": [
                        {
                          "type": "string",
                          "enum": [
                            "akuvox_lock",
                            "august_lock",
                            "brivo_access_point",
                            "butterflymx_panel",
                            "avigilon_alta_entry",
                            "doorking_lock",
                            "genie_door",
                            "igloo_lock",
                            "linear_lock",
                            "lockly_lock",
                            "kwikset_lock",
                            "nuki_lock",
                            "salto_lock",
                            "schlage_lock",
                            "seam_relay",
                            "smartthings_lock",
                            "wyze_lock",
                            "yale_lock",
                            "two_n_intercom",
                            "controlbyweb_device",
                            "ttlock_lock",
                            "igloohome_lock",
                            "hubitat_lock",
                            "four_suites_door",
                            "dormakaba_oracode_door",
                            "tedee_lock"
                          ]
                        },
                        {
                          "type": "string",
                          "enum": [
                            "noiseaware_activity_zone",
                            "minut_sensor"
                          ]
                        },
                        {
                          "type": "string",
                          "enum": [
                            "ecobee_thermostat",
                            "nest_thermostat",
                            "honeywell_resideo_thermostat"
                          ]
                        },
                        {
                          "type": "string",
                          "enum": [
                            "ios_phone",
                            "android_phone"
                          ]
                        }
                      ]
                    },
                    "device_types": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "type": "string",
                            "enum": [
                              "akuvox_lock",
                              "august_lock",
                              "brivo_access_point",
                              "butterflymx_panel",
                              "avigilon_alta_entry",
                              "doorking_lock",
                              "genie_door",
                              "igloo_lock",
                              "linear_lock",
                              "lockly_lock",
                              "kwikset_lock",
                              "nuki_lock",
                              "salto_lock",
                              "schlage_lock",
                              "seam_relay",
                              "smartthings_lock",
                              "wyze_lock",
                              "yale_lock",
                              "two_n_intercom",
                              "controlbyweb_device",
                              "ttlock_lock",
                              "igloohome_lock",
                              "hubitat_lock",
                              "four_suites_door",
                              "dormakaba_oracode_door",
                              "tedee_lock"
                            ]
                          },
                          {
                            "type": "string",
                            "enum": [
                              "noiseaware_activity_zone",
                              "minut_sensor"
                            ]
                          },
                          {
                            "type": "string",
                            "enum": [
                              "ecobee_thermostat",
                              "nest_thermostat",
                              "honeywell_resideo_thermostat"
                            ]
                          },
                          {
                            "type": "string",
                            "enum": [
                              "ios_phone",
                              "android_phone"
                            ]
                          }
                        ]
                      }
                    },
                    "manufacturer": {
                      "type": "string",
                      "enum": [
                        "akuvox",
                        "august",
                        "avigilon_alta",
                        "brivo",
                        "butterflymx",
                        "doorking",
                        "four_suites",
                        "genie",
                        "igloo",
                        "keywe",
                        "kwikset",
                        "linear",
                        "lockly",
                        "nuki",
                        "philia",
                        "salto",
                        "samsung",
                        "schlage",
                        "seam",
                        "unknown",
                        "wyze",
                        "yale",
                        "minut",
                        "two_n",
                        "ttlock",
                        "nest",
                        "igloohome",
                        "ecobee",
                        "hubitat",
                        "controlbyweb",
                        "smartthings",
                        "dormakaba_oracode",
                        "tedee",
                        "honeywell_resideo"
                      ]
                    },
                    "device_ids": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "uuid"
                      }
[...]
