{
  "type": "openapi",
  "value": {
    "openapi": "3.0.3",
    "info": {
      "title": "Test extension `x-fern-audiences`",
      "version": "1.0.0"
    },
    "servers": [
      {
        "url": "https://api.com",
        "x-fern-server-name": "production",
        "x-fern-audiences": [
          "public"
        ]
      },
      {
        "url": "https://private.api.com",
        "x-fern-server-name": "sandbox",
        "x-fern-audiences": [
          "private"
        ]
      }
    ],
    "paths": {
      "/v1/users": {
        "post": {
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "public_property": {
                      "type": "string",
                      "x-fern-audiences": [
                        "public"
                      ]
                    },
                    "private_property": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "components": {
      "schemas": {
        "BaseUser": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "format": "uuid",
              "x-fern-audiences": [
                "public"
              ]
            }
          }
        }
      }
    }
  },
  "settings": {
    "disableExamples": false,
    "discriminatedUnionV2": false,
    "useTitlesAsName": true,
    "optionalAdditionalProperties": true,
    "coerceEnumsToLiterals": true,
    "respectReadonlySchemas": false,
    "respectNullableSchemas": false,
    "onlyIncludeReferencedSchemas": false,
    "inlinePathParameters": false,
    "preserveSchemaIds": false,
    "objectQueryParameters": false,
    "shouldUseUndiscriminatedUnionsWithLiterals": false,
    "shouldUseIdiomaticRequestNames": false,
    "asyncApiNaming": "v1",
    "useBytesForBinaryResponse": false,
    "respectForwardCompatibleEnums": false,
    "additionalPropertiesDefaultsTo": false,
    "typeDatesAsStrings": true,
    "preserveSingleSchemaOneOf": false,
    "inlineAllOfSchemas": false,
    "resolveAliases": false,
    "groupMultiApiEnvironments": false,
    "groupEnvironmentsByHost": false,
    "wrapReferencesToNullableInOptional": true,
    "coerceOptionalSchemasToNullable": true,
    "removeDiscriminantsFromSchemas": "always"
  }
}