# Specific rules for generators
generators/php/* @dsinghvi
generators/commons/* @Swimburger
generators/csharp/* @Swimburger
generators/typescript/* @Swimburger
generators/typescript-v2/* @Swimburger
generators/java/* @tstanmay13
generators/swift/* @kafkas
generators/rust/* @iamnamananand996
generators/ruby-v2/* @iamnamananand996
generators/postman/* @dsinghvi
generators/openapi/* @dsinghvi

# Specific rules for packages
packages/cli/* @dsinghvi
