# Specific rules for generators
generators/go/* @dsinghvi
generators/go-v2/* @dsinghvi
generators/php/* @dsinghvi
generators/commons/* @Swimburger 
generators/csharp/* @Swimburger
generators/typescript/* @Swimburger
generators/typescript-v2/* @Swimburger
generators/java/* @tstanmay13
generators/python/* @dsinghvi
generators/python-v2/* @dsinghvi
generators/ruby/* @dsinghvi
generators/swift/* @kafkas
generators/postman/* @dsinghvi
generators/openapi/* @dsinghvi

# Specific rules for packages
packages/cli/* @dsinghvi
packages/cli/api-importers/* @eyw520
packages/cli/api-importers/* @sahil485
packages/cli/docs-importers/* @eyw520
