lib
build
dist
.yarn
.husky
generated
bundle.c?js
.pnp*
packages/ir-sdk/**
packages/docs-config/**
packages/cli/openapi-ir-sdk/**
packages/cli/configuration/src/docs-yml/schemas/**
packages/seed/**
generators/typescript/utils/core-utilities/**
seed/**
docker/seed/**
