# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# production
packages/**/build
packages/**/lib
packages/**/dist
packages/**/tsconfig*tsbuildinfo

# docusaurus
.docusaurus
.cache-loader

# misc
.DS_Store

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# yarn v2
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# fern
packages/**/generated

# environments
.env*.local