@fern-fern:registry=https://npm.buildwithfern.com
public-hoist-pattern[]=@types/node
public-hoist-pattern[]=depcheck
public-hoist-pattern[]=eslint
public-hoist-pattern[]=prettier
public-hoist-pattern[]=@trivago/prettier-plugin-sort-imports
public-hoist-pattern[]=typescript
public-hoist-pattern[]=@fern-api/typescript-config
public-hoist-pattern[]=vitest