.features {
    display: flex;
    align-items: center;
    padding: 3rem 0;
    width: 100%;
}

.featureSvg {
    height: 200px;
    width: 200px;
}

.block {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 2.5rem;
    border-radius: 13px;
    box-shadow: rgb(0 0 0 / 8%) 0px 2px 4px, rgb(0 0 0 / 6%) 0px 2px 12px;
    box-shadow: var(--ifm-color-primary-lightest) 0px 2px 4px, var(--ifm-color-primary-lightest) 0px 2px 12px;
    background-color: #1e2029;
}

.profileBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
}

.description {
    text-align: center;
    margin-top: 1rem;
}
.description > p {
    margin: 0;
}

.profileImg {
    border-radius: 50%;
    width: 100px;
}

.diagram {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 1rem;
    box-shadow: 0px 9px 25px 1px rgba(96, 165, 250, 1);
    max-width: 90%;
    position: relative;
}
