@import "~@blueprintjs/core/lib/scss/variables";

.container {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 2px;
    margin-right: 2px;

    &.primitive {
        border: 1px dashed $gray3;
        background-color: $light-gray3;
        min-width: 50px;
        margin-top: 2px;
        margin-bottom: 2px;
        padding-left: 5px;
        padding-right: 5px;
    }

    &.hovering {
        background-color: $light-gray2;

        &.primitive,
        .primitive {
            background-color: $gray5;
        }
    }

    &.selected {
        cursor: default;
        color: $white;

        &,
        &.primitive,
        .primitive {
            background-color: $blue3;
        }

        &.primitive,
        .primitive {
            border-color: $gray5;
        }

        .hovering {
            background-color: $blue2;

            &.primitive,
            .primitive {
                background-color: $blue1;
            }
        }

        &.invalid {
            background-color: $pt-intent-warning;

            &.primitive {
                border-color: $dark-gray3;
            }
        }
    }
}
