@import "~@blueprintjs/core/lib/scss/variables";
@import "../../variables";

.container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.titleRow {
    position: relative;
    display: flex;
}

.dash {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: -16px;
    width: 10px;
    height: 1px;
    background-color: $type-definition-tree-color;
}

.body {
    color: $pt-text-color-muted;
    margin-top: 5px;
}

.children {
    display: flex;
}
