# yaml-language-server: $schema=https://raw.githubusercontent.com/fern-api/fern/main/fern.schema.json

imports:
  commons: commons.yml
types:
  EnvironmentId: string
  EnvironmentBaseUrlId: string
  EnvironmentUrl: string
  EnvironmentsConfig:
    properties:
      defaultEnvironment: optional<EnvironmentId>
      environments: Environments
  Environments:
    union:
      singleBaseUrl: SingleBaseUrlEnvironments
      multipleBaseUrls: MultipleBaseUrlsEnvironments
  SingleBaseUrlEnvironments:
    properties:
      environments: list<SingleBaseUrlEnvironment>
  SingleBaseUrlEnvironment:
    extends: commons.WithDocs
    properties:
      id: EnvironmentId
      name: commons.Name
      url: EnvironmentUrl
      audiences: optional<list<string>>
  MultipleBaseUrlsEnvironments:
    properties:
      baseUrls: list<EnvironmentBaseUrlWithId>
      environments: list<MultipleBaseUrlsEnvironment>
  MultipleBaseUrlsEnvironment:
    extends: commons.WithDocs
    properties:
      id: EnvironmentId
      name: commons.Name
      urls: map<EnvironmentBaseUrlId, EnvironmentUrl>
      audiences: optional<list<string>>
  EnvironmentBaseUrlWithId:
    properties:
      id: EnvironmentBaseUrlId
      name: commons.Name
