name: Publish

on: [push]
jobs:
    publish:
        if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')
        runs-on: ubuntu-latest
        steps:
          - name: Checkout repo
            uses: actions/checkout@v4

          - uses: ruby/setup-ruby@v1
            with:
              ruby-version: 2.7
              bundler-cache: true

          - name: Test gem
            run: bundle install && bundle exec rake test

          - name: Build and Push Gem
            env:
              GEM_HOST_API_KEY: ${{ secrets. }}
            run: |
              gem build fern_query_parameters_openapi_as_objects.gemspec

              gem push fern_query_parameters_openapi_as_objects-*.gem --host 
