@import "~@blueprintjs/core/lib/scss/variables";

.container {
    code {
        font-family: "Berkeley Mono";
        @apply px-2 py-1 rounded before:content-none after:content-none;
    }

    pre code {
        @apply p-0;
        @apply bg-[transparent] #{!important};
    }
}
