/* stylelint-disable selector-class-pattern */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

:global(.main-wrapper) {
    display: flex;
    flex-direction: column;
}

.heroBanner {
    flex: 1;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    background-attachment: fixed;
    background-image: url(../../static/img/background.svg);
    background-size: cover;
    width: 100%;
    min-height: 75vh;

    /* z-index: -1; */
}

.hero_title {
    font-size: 4rem;
    color: black;
}

.hero_button {
    display: inline-block;
    padding: 15px 20px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #2d67e4;
    border: none;
    border-radius: 5px;
    width: 170px;
    z-index: 1;
    transition: 0.3s;
}

.hero_button:hover {
    background-color: blue;
    text-decoration: underline;
}

.hero_button_git {
    margin: 0 10px;
    background: none;
    border-color: #2d67e4;
    display: inline-block;
    padding: 15px 20px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #2d67e4;
    border-radius: 5px;
    width: 170px;
    z-index: 1;
}

.hero_button_git:hover {
    background-color: rgb(223, 223, 253);
    text-decoration: underline;
}

.pricingList {
    display: flex;
    background-color: #1e2029;
    margin: 2rem 1rem 3rem;
    padding: 2rem 1rem;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 8%) 0 2px 4px, rgb(0 0 0 / 6%) 0 2px 12px;
    justify-content: center;
    width: calc(3 / 12 * 100%);
}

.pricingBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.pricingBox > p {
    width: 70%;
    text-align: center;
}

.buy_button {
    display: inline-block;
    padding: 15px 20px;
    margin: 20px 0 10px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: orange;
    border: none;
    border-radius: 5px;
    width: 170px;
    z-index: 1;
    transition: 0.3s;
}

@media screen and (max-width: 996px) {
    .heroBanner {
        padding: 2rem;
        position: relative;
    }

    .hero_title {
        font-size: 2rem;
    }

    .pricingList {
        width: auto;
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.legalFooter {
    position: absolute;
    bottom: 10px;
    right: 10px;
    justify-content: flex-end;
    display: flex;
    gap: 10px;
    font-size: 16px;
}

.legalFooter a {
    color: navy;
}
