@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .prose a,
    .prose a:hover {
        @apply transition;
        @apply pb-[2px];
        @apply text-white hover:text-accentPrimary;
        @apply no-underline border-b border-b-border hover:border-b-accentPrimary;
    }

    .prose a {
        text-decoration: none;
    }

    ::selection {
        @apply bg-accentPrimary/20;
    }
}
