name: ci

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.3"
          bundler-cache: true

      - name: Run Rubocop
        run: bundle exec rubocop

  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.3"
          bundler-cache: true

      - name: Run Tests
        run: bundle exec rake test

  wire-tests:
    runs-on: ubuntu-latest
    if: hashFiles('wiremock/docker-compose.test.yml') != ''

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.3"
          bundler-cache: true

      - name: Start Wiremock
        run: docker compose -f wiremock/docker-compose.test.yml up -d --wait

      - name: Run Wire Tests
        run: RUN_WIRE_TESTS=true bundle exec rake test

      - name: Stop WireMock
        run: docker compose -f wiremock/docker-compose.test.yml down

