{
  "openapi": "3.1.0",
  "info": {
    "title": "Policy API",
    "version": "1.0",
    "contact": {
      "name": "Covie Developer Support",
      "email": "developer-help@covie.io"
    },
    "termsOfService": "https://www.covie.com/legal",
    "description": "The Policy API is intended to be used to retrieve policies and links that are created when an end-user completes the Access Workflow found within our Link Embed. This API is largely read-only, retrieving authoritative data that originates with and is controlled by an insurance company.  There are several fields which can be modified via this API in order to mange how Covie is handling and refreshing the underlying data.",
    "summary": "Server-to-Server API for retrieving and managing policy objects."
  },
  "servers": [
    {
      "url": "https://api.covie.io/v1"
    }
  ],
  "paths": {
    "/policies/{policy_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Policy_id"
        }
      ],
      "get": {
        "summary": "Retrieve Policy",
        "tags": ["policy"],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Policy_2"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "operationId": "get-policies-policy_id",
        "description": "Retrieve a Policy object that was previously connected via a Link",
        "parameters": [],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "DashboardAuth": ["application.{application_id}"]
          }
        ]
      }
    },
    "/policies/{policy_id}/documents/{document_type}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Policy_id"
        },
        {
          "$ref": "#/components/parameters/Document_type"
        }
      ],
      "get": {
        "summary": "Retrieve Policy Document",
        "tags": ["policy"],
        "responses": {
          "200": {
            "$ref": "#/components/responses/FileContents"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "operationId": "get-policy-document",
        "description": "Retrieve the contents of a Policy document",
        "parameters": [],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "DashboardAuth": ["application.{application_id}"]
          }
        ]
      }
    },
    "/policies/{policy_id}/events": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Policy_id"
        }
      ],
      "get": {
        "summary": "List Policy Events",
        "tags": ["policy"],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Events"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "operationId": "list-policy-events",
        "description": "List all events that have been triggered for the selected policy",
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Event_type"
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "DashboardAuth": ["application.{application_id}"]
          }
        ]
      }
    },
    "/integrations": {
      "get": {
        "summary": "List Integrations",
        "tags": ["integration"],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Integrations"
          }
        },
        "operationId": "list-integrations",
        "description": "List integrations associated to an application",
        "security": [
          {
            "BasicAuth": []
          },
          {
            "DashboardAuth": ["application.{application_id}"]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Integration_search"
          },
          {
            "$ref": "#/components/parameters/Integration_status"
          }
        ]
      },
      "post": {
        "summary": "Create Integration",
        "operationId": "create-integration",
        "responses": {
          "201": {
            "$ref": "#/components/responses/Integration_2"
          }
        },
        "description": "Creates a new integration.",
        "security": [
          {
            "BasicAuth": []
          },
          {
            "DashboardAuth": ["application.{application_id}"]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Demo Integration",
                    "description": "Descriptive name of the integration"
                  },
                  "policyRequirements": {
                    "type": "object",
                    "properties": {
                      "effective_date": {
                        "type": "string",
                        "example": "+90 days",
                        "description": "Allow selection of policies that are not effective until a future date",
                        "default": "+0 days"
                      },
                      "allow_inactive": {
                        "type": "boolean",
                        "description": "Allow selection of inactive policies",
                        "default": false
                      }
                    }
                  },
                  "configuration": {
                    "type": "object",
                    "properties": {
                      "brand": {
                        "type": "object",
                        "description": "Branding configuration for the embed.",
                        "properties": {
                          "logo": {
                            "type": "string",
                            "format": "url",
                            "description": "Brand logo to be used in the embed."
                          },
                          "hide_logo": {
                            "type": "boolean",
                            "description": "Hides the logo."
                          },
                          "colors": {
                            "type": "object",
                            "properties": {
                              "primary": {
                                "type": "string",
                                "example": "#F0F0F0",
                                "description": "Sets the primary color, the primary text style color, and the primary background color to the configured color."
                              }
                            }
                          }
                        }
                      },
                      "display_name": {
                        "type": "string",
                        "description": "Name to display as application name in the embed, on policy selection and data disclosure screens.",
                        "example": "Demo Application"
                      },
                      "use_name_as_display_name": {
                        "type": "boolean",
                        "description": "Display the integration's name as the application name in the embed. Cannot be set at the same time as display_name."
                      }
                    }
                  }
                },
                "required": ["name"]
              },
              "examples": {
                "Example": {
                  "value": {
                    "name": "Demo Integration",
                    "policyRequirements": {
                      "effective_date": "+0 days",
                      "allow_inactive": false
                    }
                  }
                }
              }
            }
          }
        },
        "tags": ["integration"]
      }
    },
    "/integrations/{integration_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Integration_id"
        }
      ],
      "get": {
        "summary": "Get Integration",
        "tags": ["integration"],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Integration_2"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "operationId": "get-integration",
        "description": "Retrieve the details of an integration.",
        "security": [
          {
            "BasicAuth": []
          },
          {
            "DashboardAuth": ["application.{application_id}"]
          }
        ]
      },
      "patch": {
        "summary": "Update Integration",
        "operationId": "update-integration",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Integration_2"
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "DashboardAuth": ["application.{application_id}"]
          }
        ],
        "description": "Edit the name and archived status of an integration.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Demo Integration",
                    "description": "A descriptive name of the integration",
                    "minLength": 1
                  },
                  "status": {
                    "type": "string",
                    "enum": ["active", "archived"],
                    "example": "archived",
                    "description": "String representation of the current status of the integration."
                  },
                  "configuration": {
                    "type": "object",
                    "properties": {
                      "brand": {
                        "type": "object",
                        "description": "Branding configuration for the embed.",
                        "properties": {
                          "logo": {
                            "type": "string",
                            "format": "url",
                            "description": "Brand logo to be used in the embed."
                          },
                          "hide_logo": {
                            "type": "boolean",
                            "description": "Hides the logo."
                          },
                          "colors": {
                            "type": "object",
                            "properties": {
                              "primary": {
                                "type": "string",
                                "example": "#F0F0F0",
                                "description": "Sets the primary color, the primary text style color, and the primary background color to the configured color."
                              }
                            }
                          }
                        }
                      },
                      "display_name": {
                        "type": "string",
                        "description": "Name to display as application name in the embed, on policy selection and data disclosure screens.",
                        "example": "Demo Application"
                      },
                      "use_name_as_display_name": {
                        "type": "boolean",
                        "description": "Display the integration's name as the application name in the embed. Cannot be set at the same time as display_name."
                      }
                    }
                  },
                  "policy_requirements": {
                    "type": "object",
                    "properties": {
                      "allow_inactive": {
                        "type": "boolean",
                        "description": "Allows users to link policies that are currently inactive. Incompatible with effective_date."
                      },
                      "effective_date": {
                        "type": "string",
                        "example": "+30 days",
                        "description": "Allows users to link a policy if it will be active as of a given date. The date can be absolute (YYYY-MM-DD) or relative, with relative dates evaluated when the policy is being linked. Primarily used to allow pending policies to be linked. Incompatible with allow_inactive."
                      }
                    }
                  }
                }
              }
            }
          },
          "description": ""
        },
        "tags": ["integration"]
      },
      "delete": {
        "summary": "Delete Integration",
        "operationId": "delete-integration",
        "responses": {
          "205": {
            "description": "Reset Content"
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "The Integration you are trying to delete has links associated."
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Deletes an integration.",
        "security": [
          {
            "BasicAuth": []
          },
          {
            "DashboardAuth": ["application.{application_id}"]
          }
        ],
        "tags": ["integration"]
      }
    },
    "/links/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Link_id"
        }
      ],
      "get": {
        "summary": "Retrieve link",
        "tags": ["link"],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Link"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "operationId": "get-link",
        "description": "Retrieves a Link",
        "security": [
          {
            "BasicAuth": []
          },
          {
            "DashboardAuth": ["application.{application_id}"]
          }
        ]
      },
      "patch": {
        "summary": "Update Link Settings",
        "operationId": "update-link-settings",
        "tags": ["link"],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Link"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "metadata": {
                    "type": "object",
                    "description": "Arbitrary key value pairs. The entire object is replaced on-update (missing keys in the request body will be removed). Keys are alphanumeric plus _, -, ., and space, at most 64 characters. Values are at most 256 characters. You can have at most 32 metadata keys on a link."
                  },
                  "tracking_frequency": {
                    "type": "string",
                    "description": "The frequency of which tracking should be performed. This value is `never` when tracking is disabled.",
                    "enum": ["never", "daily", "weekly", "monthly", "on_demand"]
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "DashboardAuth": ["application.{application_id}"]
          },
          {
            "BasicAuth": []
          }
        ]
      },
      "delete": {
        "summary": "Delete Link",
        "tags": ["link"],
        "responses": {
          "205": {
            "description": "Reset Content"
          }
        },
        "operationId": "delete-link",
        "description": "Deletes a link.",
        "security": [
          {
            "BasicAuth": []
          },
          {
            "DashboardAuth": ["application.{application_id}"]
          }
        ]
      }
    },
    "/links/{id}/policies": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Link_id"
        }
      ],
      "get": {
        "summary": "List Link Policies",
        "tags": ["link", "policy"],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Policies"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "operationId": "get-link-policies",
        "description": "Retrieves a list of policies associated with the requested link",
        "security": [
          {
            "BasicAuth": []
          },
          {
            "DashboardAuth": ["application.{application_id}"]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          }
        ]
      }
    },
    "/links/{id}/events": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Link_id"
        }
      ],
      "get": {
        "summary": "List Link Events",
        "tags": ["link"],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Events"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "operationId": "get-link-events",
        "description": "Retrieves a list of events triggered for the requested link",
        "security": [
          {
            "BasicAuth": []
          },
          {
            "DashboardAuth": ["application.{application_id}"]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Event_type"
          }
        ]
      }
    },
    "/links/{id}/documents": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Link_id"
        }
      ],
      "post": {
        "summary": "Upload Document To Link",
        "description": "Attach a policy document to a Link. If the document can be parsed, select the parsed policy for sharing.",
        "operationId": "attach-link-document",
        "tags": ["link"],
        "requestBody": {
          "content": {
            "application/pdf": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string"
                },
                "description": "Link to access the uploaded document"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_links": {
                      "type": "object",
                      "properties": {
                        "self": {
                          "type": "object",
                          "description": "Link to access the uploaded document",
                          "properties": {
                            "href": {
                              "type": "string",
                              "format": "uri"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Cannot parse document when document parsing is required by application settings"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "DashboardAuth": ["application.{application_id}"]
          }
        ]
      }
    },
    "/links/{id}/syncs": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Link_id"
        }
      ],
      "post": {
        "summary": "Manually Sync Link",
        "tags": ["link"],
        "operationId": "sync-link-manually",
        "description": "Sync a tracked link with the provider using the stored user credentials",
        "security": [
          {
            "BasicAuth": []
          },
          {
            "DashboardAuth": ["application.{application_id}"]
          }
        ],
        "responses": {
          "303": {
            "description": "See Other",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string"
                },
                "description": "The URL link we just synced"
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "503": {
            "description": "Service Unavailable"
          },
          "511": {
            "description": "Stored user credentials are no longer valid"
          }
        }
      }
    },
    "/integrations/{integration_id}/links": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Integration_id"
        }
      ],
      "post": {
        "summary": "Initialize link",
        "tags": ["link", "integration"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "metadata": {
                    "type": "object",
                    "description": "Arbitrary key value pairs. The entire object is replaced on-update (missing keys in the request body will be removed). Keys are alphanumeric plus _, -, ., and space, at most 64 characters. Values are at most 256 characters. You can have at most 32 metadata keys on a link."
                  },
                  "provider_id": {
                    "type": "string",
                    "description": "If supplied, selects the insurance carrier associated with the link. If the link is resumed from the embed, the insured will land on that carrier's login page. If policy documents are uploaded, parsing will be attempted based on the selected carrier."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Link"
          },
          "403": {
            "description": "Selected Integration is not active"
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Invalid metadata or provider ID"
          }
        },
        "operationId": "initialize-link-via-integration",
        "description": "Creates a link and optionally sets metadata and selects a carrier, allowing for seeding initial data before an insured continues the linking process via the embed",
        "security": [
          {
            "BasicAuth": []
          },
          {
            "DashboardAuth": ["application.{application_id}"]
          }
        ]
      },
      "get": {
        "summary": "List Integration Links",
        "tags": ["link", "integration"],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Links"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "operationId": "get-integration-links",
        "description": "Retrieves a list of links associated to the requested integration",
        "security": [
          {
            "BasicAuth": []
          },
          {
            "DashboardAuth": ["application.{application_id}"]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Provider_name_search"
          },
          {
            "$ref": "#/components/parameters/Link_created_since_date"
          },
          {
            "$ref": "#/components/parameters/Link_created_until_date"
          },
          {
            "$ref": "#/components/parameters/Link_updated_since_date"
          },
          {
            "$ref": "#/components/parameters/Link_updated_until_date"
          },
          {
            "$ref": "#/components/parameters/Link_synced_since_date"
          },
          {
            "$ref": "#/components/parameters/Link_synced_until_date"
          },
          {
            "$ref": "#/components/parameters/Link_smart_search"
          },
          {
            "$ref": "#/components/parameters/Link_status"
          },
          {
            "$ref": "#/components/parameters/Link_has_metadata"
          },
          {
            "$ref": "#/components/parameters/Link_policy_type"
          }
        ]
      }
    },
    "/integrations/{integration_id}/policies": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Integration_id"
        }
      ],
      "get": {
        "summary": "List Integration Policies",
        "tags": ["integration", "policy"],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Policies"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "operationId": "get-integration-policies",
        "description": "List all policies that have been linked to an integration.",
        "security": [
          {
            "BasicAuth": []
          },
          {
            "DashboardAuth": ["application.{application_id}"]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          }
        ]
      }
    },
    "/integrations/{integration_id}/links_with_policies": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Integration_id"
        }
      ],
      "get": {
        "summary": "List Integration Links With Policies",
        "tags": ["link", "integration", "policy"],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LinksWithPolicies"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "operationId": "get-integration-links-with-policies",
        "description": "Retrieves a list of links and selected policies associated to the requested integration",
        "security": [
          {
            "BasicAuth": []
          },
          {
            "DashboardAuth": ["application.{application_id}"]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Provider_name_search"
          },
          {
            "$ref": "#/components/parameters/Link_created_since_date"
          },
          {
            "$ref": "#/components/parameters/Link_created_until_date"
          },
          {
            "$ref": "#/components/parameters/Link_updated_since_date"
          },
          {
            "$ref": "#/components/parameters/Link_updated_until_date"
          },
          {
            "$ref": "#/components/parameters/Link_synced_since_date"
          },
          {
            "$ref": "#/components/parameters/Link_synced_until_date"
          },
          {
            "$ref": "#/components/parameters/Link_policy_type"
          },
          {
            "$ref": "#/components/parameters/Policy_filter_type"
          }
        ]
      }
    },
    "/integrations/{integration_id}/providers": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Integration_id"
        }
      ],
      "get": {
        "summary": "Supported Providers List",
        "tags": ["integration"],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Providers"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "operationId": "get-integration-providers",
        "security": [
          {
            "BasicAuth": []
          },
          {
            "DashboardAuth": ["application.{application_id}"]
          }
        ],
        "description": "Retrieve a list of supported carriers for a given integration, along with their identifiers.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Policy_types"
          }
        ]
      }
    },
    "/integrations/{integration_id}/regenerate_key": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Integration_id"
        }
      ],
      "post": {
        "summary": "Regenerate Integration Key",
        "operationId": "regenerate-integration-key",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Integration_2"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "description": "Replaces the existing integration key with a new randomly generated key.",
        "parameters": [],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "DashboardAuth": ["application.{application_id}"]
          }
        ],
        "tags": ["integration"]
      }
    },
    "/accounts/{account_id}/mfa_requirements": {
      "post": {
        "summary": "Enable Account MFA Requirement",
        "operationId": "enable-account-mfa-required",
        "description": "Require all account users to have an MFA application configured",
        "tags": ["account"],
        "responses": {
          "200": {
            "$ref": "#/components/responses/AccountWithConfig"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "DashboardAuth": ["account.{account_id}", "elevated.{entity_id}"]
          }
        ]
      },
      "delete": {
        "summary": "Disable Account MFA Requirement",
        "operationId": "disable-account-mfa-required",
        "description": "Remove requirement for all account users to have an MFA application configured",
        "tags": ["account"],
        "responses": {
          "205": {
            "description": "Reset Content"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "DashboardAuth": ["account.{account_id}", "elevated.{entity_id}"]
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/Account_id"
        }
      ]
    },
    "/applications/{application_id}/links": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Application_id"
        }
      ],
      "get": {
        "summary": "List Application Links",
        "tags": ["application", "link"],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Links"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "operationId": "get-application-links",
        "description": "Lists an application's links.",
        "security": [
          {
            "BasicAuth": []
          },
          {
            "DashboardAuth": ["application.{application_id}"]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Provider_name_search"
          },
          {
            "$ref": "#/components/parameters/Link_created_since_date"
          },
          {
            "$ref": "#/components/parameters/Link_created_until_date"
          },
          {
            "$ref": "#/components/parameters/Link_updated_since_date"
          },
          {
            "$ref": "#/components/parameters/Link_updated_until_date"
          },
          {
            "$ref": "#/components/parameters/Link_synced_since_date"
          },
          {
            "$ref": "#/components/parameters/Link_synced_until_date"
          },
          {
            "$ref": "#/components/parameters/Link_smart_search"
          },
          {
            "$ref": "#/components/parameters/Link_status"
          },
          {
            "$ref": "#/components/parameters/Link_has_metadata"
          },
          {
            "$ref": "#/components/parameters/Link_policy_type"
          },
          {
            "$ref": "#/components/parameters/Integration_id_list"
          }
        ]
      }
    },
    "/applications/{application_id}/policies": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Application_id"
        }
      ],
      "get": {
        "summary": "List Application Policies",
        "tags": ["application", "policy"],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Policies"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "operationId": "get-application-policies",
        "description": "Lists an application's policies.",
        "security": [
          {
            "BasicAuth": []
          },
          {
            "DashboardAuth": ["application.{application_id}"]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Integration_id_list"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          }
        ]
      }
    },
    "/webhooks": {
      "get": {
        "summary": "List Webhooks",
        "description": "List an application's configured webhooks.",
        "operationId": "list-webhooks",
        "tags": ["webhook"],
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Event_type"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Webhooks"
          }
        },
        "security": [
          {
            "DashboardAuth": ["application.{application_id}"]
          },
          {
            "BasicAuth": []
          }
        ]
      },
      "post": {
        "summary": "Create Webhook",
        "description": "Create a new webhook",
        "operationId": "create-webhook",
        "tags": ["webhook"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "uri": {
                    "type": "string",
                    "format": "uri",
                    "example": "https://example.com/handle/webhook",
                    "description": "URI the webhook should make a request to when the event is triggered."
                  },
                  "headers": {
                    "type": "object",
                    "description": "List of the headers and their values that should be included in the request."
                  },
                  "event_types": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "link.created",
                        "link.changed",
                        "link.successful",
                        "link.documents.available",
                        "link.broken",
                        "link.stale",
                        "policies.unlinked",
                        "policy.activated",
                        "policy.cancelling",
                        "policy.expired",
                        "policy.reinstated",
                        "policy.renewed",
                        "policy.changed",
                        "policy.changed.coverage",
                        "policy.changed.insureds",
                        "policy.changed.status",
                        "policy.changed.premium"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/Webhook_2"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "security": [
          {
            "DashboardAuth": ["application.{application_id}"]
          },
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/webhooks/{webhook_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Webhook_id"
        }
      ],
      "get": {
        "summary": "Get Webhook",
        "description": "Get the details of a webhook.",
        "operationId": "get-webhook",
        "tags": ["webhook"],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Webhook_2"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "DashboardAuth": ["application.{application_id}"]
          },
          {
            "BasicAuth": []
          }
        ]
      },
      "patch": {
        "summary": "Update Webhook",
        "description": "Update a webhook.",
        "operationId": "update-webhook",
        "tags": ["webhook"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "uri": {
                    "type": "string",
                    "format": "uri",
                    "example": "https://example.com/handle/webhook",
                    "description": "URI the webhook should make a request to when the event is triggered."
                  },
                  "headers": {
                    "type": "object",
                    "description": "List of the headers and their values that should be included in the request."
                  },
                  "is_enabled": {
                    "type": "boolean"
                  },
                  "event_types": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "link.created",
                        "link.changed",
                        "link.successful",
                        "link.documents.available",
                        "link.broken",
                        "link.stale",
                        "policies.unlinked",
                        "policy.activated",
                        "policy.cancelling",
                        "policy.expired",
                        "policy.reinstated",
                        "policy.renewed",
                        "policy.changed",
                        "policy.changed.coverage",
                        "policy.changed.insureds",
                        "policy.changed.status",
                        "policy.changed.premium"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Webhook_2"
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "security": [
          {
            "DashboardAuth": ["application.{application_id}"]
          },
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/webhooks/{webhook_id}/events": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Webhook_id"
        }
      ],
      "get": {
        "summary": "List Webhook Events",
        "description": "List the events that have been triggered for a webhook.",
        "operationId": "list-webhook-events",
        "tags": ["webhook", "event"],
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Event_type"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Events"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "DashboardAuth": ["application.{application_id}"]
          },
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/events/{event_id}/broadcasts": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "event_id",
          "in": "path",
          "required": true
        }
      ],
      "post": {
        "security": [
          {
            "DashboardAuth": ["application.{application_id}"]
          },
          {
            "BasicAuth": []
          }
        ],
        "summary": "Rebroadcast Event",
        "tags": ["event"],
        "responses": {
          "200": {
            "description": "Event Rebroadcast Successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "description": "Number of endpoints called by this re-broadcast"
                    },
                    "_embedded": {
                      "type": "object",
                      "properties": {
                        "broadcasts": {
                          "type": "array",
                          "description": "List of broadcasts, one per endpoint called",
                          "items": {
                            "$ref": "#/components/schemas/EventBroadcast"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Event Not Found"
          }
        },
        "operationId": "post-events-event_id-broadcasts",
        "description": "Rebroadcast an event."
      }
    },
    "/integrations/{integration_id}/agency_logo": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Integration_id"
        }
      ],
      "get": {
        "summary": "View Agency Logo",
        "tags": ["integration"],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "pattern": "^image/(png|jpeg)$"
                }
              }
            }
          },
          "302": {
            "description": "Agency logo found at remote url"
          },
          "404": {
            "description": "Agency logo not found or not configured"
          }
        },
        "operationId": "get-integrations-integration_id-agency_logo",
        "description": "View the agency logo for the hosted integration.",
        "security": [
          {
            "DashboardAuth": ["application.{application_id}"]
          },
          {
            "BasicAuth": []
          }
        ]
      },
      "put": {
        "summary": "Update Agency Logo",
        "tags": ["integration"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "href": {
                      "type": "string",
                      "format": "uri",
                      "description": "Relative URL to access agency logo"
                    }
                  }
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "422": {
            "description": "Integration conflict found while updating the image"
          }
        },
        "operationId": "put-integrations-integration_id-agency_logo",
        "description": "Upload the agency logo for the hosted integration.",
        "security": [
          {
            "DashboardAuth": ["application.{application_id}"]
          },
          {
            "BasicAuth": []
          }
        ]
      },
      "delete": {
        "summary": "Delete Agency Logo",
        "tags": ["integration"],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "operationId": "delete-integrations-integration_id-agency_logo",
        "description": "Delete the agency logo and/or config if present.",
        "security": [
          {
            "DashboardAuth": ["application.{application_id}"]
          },
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/integrations/{integration_id}/agent_photo": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Integration_id"
        }
      ],
      "get": {
        "summary": "View Agent Photo",
        "tags": ["integration"],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "pattern": "^image/(png|jpeg)$"
                }
              }
            }
          },
          "302": {
            "description": "Agent photo found at remote url"
          },
          "404": {
            "description": "Agent photo not found or not configured"
          }
        },
        "operationId": "get-integrations-integration_id-agent_photo",
        "description": "View the agent photo for the hosted integration.",
        "security": [
          {
            "DashboardAuth": ["application.{application_id}"]
          },
          {
            "BasicAuth": []
          }
        ]
      },
      "put": {
        "summary": "Update Agent Photo",
        "tags": ["integration"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "href": {
                      "type": "string",
                      "format": "uri",
                      "description": "Relative URL to access agent photo"
                    }
                  }
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "422": {
            "description": "Integration conflict found while updating the image"
          }
        },
        "operationId": "put-integrations-integration_id-agent_photo",
        "description": "Upload an agent photo for the hosted integration.",
        "security": [
          {
            "DashboardAuth": ["application.{application_id}"]
          },
          {
            "BasicAuth": []
          }
        ]
      },
      "delete": {
        "summary": "Delete Agent Photo",
        "tags": ["integration"],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "operationId": "delete-integrations-integration_id-agent_photo",
        "description": "Delete the agent photo and/or config if present.",
        "security": [
          {
            "DashboardAuth": ["application.{application_id}"]
          },
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/integrations/{integration_id}/brand_logo": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Integration_id"
        }
      ],
      "get": {
        "summary": "View Brand Logo",
        "tags": ["integration"],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "pattern": "^image/(png|jpeg)$"
                }
              }
            }
          },
          "302": {
            "description": "Brand logo found at remote url"
          },
          "404": {
            "description": "Brand logo not found or not configured"
          }
        },
        "operationId": "get-integrations-integration_id-brand_logo",
        "description": "View the brand logo for the integration."
      },
      "put": {
        "summary": "Update Brand Logo",
        "tags": ["integration"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "href": {
                      "type": "string",
                      "format": "uri",
                      "description": "Relative URL to access brand logo"
                    }
                  }
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "422": {
            "description": "Integration conflict found while updating the image"
          }
        },
        "operationId": "put-integrations-integration_id-brand_logo",
        "description": "Upload the brand logo for the hosted integration.",
        "security": [
          {
            "DashboardAuth": ["application.{application_id}"]
          },
          {
            "BasicAuth": []
          }
        ]
      },
      "delete": {
        "summary": "Delete Brand Logo",
        "tags": ["integration"],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "operationId": "delete-integrations-integration_id-brand_logo",
        "description": "Delete the brand logo and/or config if present.",
        "security": [
          {
            "DashboardAuth": ["application.{application_id}"]
          },
          {
            "BasicAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AccountBalance": {
        "description": "Current running account balance.",
        "title": "AccountBalance",
        "x-stoplight": {
          "id": "22ah2z8wxmios"
        },
        "type": "object",
        "properties": {
          "balance": {
            "type": "object",
            "properties": {
              "amount": {
                "type": "string",
                "example": "123.45",
                "description": "The numeric monetary amount, displayed as a string. This can be positive or negative.",
                "readOnly": true
              },
              "unit": {
                "type": "string",
                "enum": ["USD"],
                "description": "The unit of the specified amount.",
                "default": "USD",
                "readOnly": true
              }
            }
          }
        }
      },
      "Address": {
        "title": "Address",
        "type": "object",
        "description": "A universal base object encapsulating the physical address related to another object.",
        "properties": {
          "line1": {
            "type": "string",
            "description": "The first line of the address being provided.",
            "example": "160 Pine St",
            "readOnly": true
          },
          "line2": {
            "type": ["string", "null"],
            "description": "The second line of the address, when provided.",
            "example": "Ste 510",
            "readOnly": true
          },
          "city": {
            "type": "string",
            "description": "The city in which the address provided is located.",
            "example": "San Francisco",
            "readOnly": true
          },
          "state": {
            "type": "string",
            "description": "The state or provide in which the address is located, represented in abbreviated form.",
            "example": "CA",
            "readOnly": true
          },
          "postal_code": {
            "type": "string",
            "description": "The 5 digit postal code in which the address is located.",
            "example": "94118",
            "readOnly": true
          }
        }
      },
      "BillingEvent": {
        "title": "BillingEvent",
        "type": "object",
        "description": "Describes an event which caused a change to the account balance.",
        "properties": {
          "account_id": {
            "type": "string",
            "description": "The Account ID which was affected.",
            "readOnly": true
          },
          "application_id": {
            "type": ["string", "null"],
            "description": "The Application ID (if any) associated with the event.",
            "readOnly": true
          },
          "link_id": {
            "type": ["string", "null"],
            "description": "The ID of the link (if any) associated with the event.",
            "readOnly": true
          },
          "environment": {
            "type": ["string", "null"],
            "enum": ["live", "sandbox"],
            "description": "The environment that the application (if any) was configured with.",
            "readOnly": true
          },
          "provider": {
            "type": ["string", "null"],
            "description": "The provider associated with the link (if any).",
            "readOnly": true
          },
          "event_type": {
            "type": "string",
            "enum": ["link.success", "link.track.automated", "link.track.manual", "link.track.retry", "account.refill"],
            "description": "The type of action which resulted in this billing event.",
            "readOnly": true
          },
          "tier": {
            "type": "string",
            "description": "The tier which this billing event qualifies as, starting with \"1\" as Tier 1, as part of the tiered pricing structure.",
            "example": "2",
            "readOnly": true
          },
          "amount": {
            "type": "string",
            "description": "The monetary cost associated with this billing event. Negative values are deducted from your balance, and positive values are added to your balance. The value is represented in dollars, including fractional cents. For example, \"3.2025\" is 3 dollars, 20 cents, and 25 hundredths of a cent. Fractional cents are used to maintain an accurate account balance.",
            "readOnly": true
          },
          "created_at": {
            "type": "string",
            "description": "Time and date of event creation.",
            "format": "date-time",
            "readOnly": true
          },
          "_links": {
            "type": "object",
            "properties": {
              "receipt": {
                "type": "object",
                "description": "Link to download a copy of the receipt for the transaction if available.",
                "properties": {
                  "href": {
                    "type": "string",
                    "format": "uri"
                  }
                }
              }
            },
            "readOnly": true
          }
        }
      },
      "Carrier": {
        "title": "Carrier",
        "type": "object",
        "description": "A basic object describing the individual insurance company which has issued a policy.",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the issuing company.",
            "example": "State Farm",
            "readOnly": true
          }
        }
      },
      "Coverage": {
        "title": "Coverage",
        "type": "object",
        "description": "Describes the features of a specific coverage element for a person or property, encapsulating the limits, deductibles, and premium information therein. ",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the coverage element being described. This is a coded value offered as a convenience method to avoid the need to introspect code to understand which branch of logic is being evaluated.",
            "example": "bodily_injury",
            "readOnly": true
          },
          "limits": {
            "type": ["object", "null"],
            "description": "A breakout of different limits and sublimits that apply to this coverage item. When the limits property is null, then the coverage described is selected but limits are not applicable for the coverage feature. The ommission of any limit scope indicates that it does not apply to the coverage.",
            "properties": {
              "occurrence": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/CurrencyValue"
                  },
                  {
                    "$ref": "#/components/schemas/RelativeValue"
                  },
                  {
                    "$ref": "#/components/schemas/PercentageValue"
                  },
                  {
                    "$ref": "#/components/schemas/DistanceValue"
                  }
                ]
              },
              "person": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/CurrencyValue"
                  },
                  {
                    "$ref": "#/components/schemas/PercentageValue"
                  }
                ]
              },
              "day": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/CurrencyValue"
                  },
                  {
                    "$ref": "#/components/schemas/PercentageValue"
                  }
                ]
              },
              "duration": {
                "$ref": "#/components/schemas/PeriodValue"
              },
              "term": {
                "$ref": "#/components/schemas/CurrencyValue"
              }
            },
            "readOnly": true
          },
          "deductible": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/CurrencyValue"
              },
              {
                "$ref": "#/components/schemas/PercentageValue"
              },
              {
                "type": "null"
              }
            ]
          },
          "premium": {
            "description": "The amount of premium being charged for this coverage item at the specified limits and deductibles.",
            "oneOf": [
              {
                "$ref": "#/components/schemas/CurrencyValue"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "CurrencyValue": {
        "title": "CurrencyValue",
        "type": "object",
        "description": "Describes a value that is tied to a monetary amount. Most frequently used to describe limits, premiums, and deductibles.",
        "properties": {
          "unit": {
            "type": "string",
            "enum": ["USD", "USD_cents"],
            "description": "The ISO-compatible currency code of the value being represented.",
            "example": "USD",
            "readOnly": true
          },
          "value": {
            "type": "number",
            "description": "The amount of currency",
            "example": 100,
            "readOnly": true
          }
        }
      },
      "Discount": {
        "title": "Discount",
        "type": "object",
        "description": "Describes a discount which a policyholder is receiving for a particular covered property under a policy. When available, this object also describes the amount of savings.",
        "properties": {
          "code": {
            "type": "string",
            "description": "The programming-friendly value to indicate the discount being applied. NOTE: We regularly add values to this enumeration, so your code should be able to gracefully handle unexpected enum values (though new values are documented here as they go live).",
            "enum": [
              "safe_driver",
              "telematics",
              "online",
              "bundle",
              "teen_driver",
              "claim_free",
              "homeowner",
              "new_car",
              "multi_car",
              "pay_in_full",
              "paperless_billing",
              "loyalty",
              "good_student",
              "distant_student",
              "accident_free",
              "continuous_insurance",
              "eft",
              "early_quote",
              "alarm_system",
              "new_home",
              "new_roof",
              "safe_vehicle",
              "smart_vehicle",
              "membership",
              "payment_plan",
              "military",
              "garage_parking",
              "senior",
              "autopay",
              "insurance_to_value",
              "verified_mileage",
              "payment_history",
              "motorcycle_endorsement"
            ],
            "example": "bundle",
            "readOnly": true
          },
          "friendly_name": {
            "type": "string",
            "description": "A human-readable, friendly name for the discount.",
            "example": "Multi-Line Discount",
            "readOnly": true
          },
          "amount": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/CurrencyValue"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "DistanceValue": {
        "title": "DistanceValue",
        "type": "object",
        "description": "Describes a value that is tied to a physical length or distance. Most frequently used to describe limits on coverages.",
        "properties": {
          "unit": {
            "type": "string",
            "enum": ["mile", "kilometer"],
            "description": "The distance unit of the value being represented.",
            "example": "mile",
            "readOnly": true
          },
          "value": {
            "type": "number",
            "description": "The amount of the distance in the units specified",
            "example": 100,
            "readOnly": true
          }
        }
      },
      "DocumentRef": {
        "title": "DocumentRef",
        "type": "object",
        "description": "Describes the individual insurance document available for download from a given insurance policy, including the content-type (or mimetype) of the document.",
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of document provided at the corresponding URL.",
            "enum": ["declaration", "id_card", "renewal", "evidence_of_insurance", "cancellation"],
            "readOnly": true
          },
          "content_type": {
            "type": "string",
            "description": "The content-type, or mimetype, of the document being conveyed at this location.",
            "example": "application/pdf",
            "readOnly": true
          },
          "href": {
            "type": "string",
            "format": "uri",
            "description": "The path to retrieve the document described in this object.",
            "example": "https://example.org/file.pdf",
            "readOnly": true
          }
        }
      },
      "Driver": {
        "title": "Driver",
        "type": "object",
        "description": "Describes the individual driver who is considered the routine operator of the vehicle it is attached to and who is explicitly included under the coverage terms selected for the vehicle.",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/Name"
          },
          "date_of_birth": {
            "type": ["string", "null"],
            "description": "The date of birth of the driver, when provided by the insurer. Represented as an ISO-8601 date.",
            "format": "date",
            "example": "2022-01-01",
            "readOnly": true
          },
          "marital_status": {
            "type": ["string", "null"],
            "description": "The current marital status of the driver, if provided. The `separated` value includes divorced status.",
            "enum": ["married", "single", "separated", "widowed"],
            "example": "married",
            "readOnly": true
          },
          "gender": {
            "type": ["string", "null"],
            "description": "The reported gender of the driver, when provided by the insurer.",
            "enum": ["male", "female", "non-binary"],
            "example": "male",
            "readOnly": true
          },
          "age_licensed": {
            "type": ["integer", "null"],
            "description": "The age in which the driver was first licensed, when provided by the insurer.",
            "example": 16,
            "readOnly": true
          },
          "license_number": {
            "type": ["string", "null"],
            "description": "The drivers license number of the driver when provided by the insurer. This value may be masked.",
            "example": "6****18",
            "readOnly": true
          },
          "license_state": {
            "type": ["string", "null"],
            "description": "The state in which the driver is licensed. Represented in abbreviated form.",
            "example": "TX",
            "readOnly": true
          },
          "is_primary": {
            "type": "boolean",
            "default": false,
            "description": "A flag indicating if the driver is described as the primary driver of the vehicle. When no clear indication is made by an insurer, the first listed driver is assumed to be the primary.",
            "readOnly": true
          }
        }
      },
      "EMail": {
        "title": "EMail",
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "format": "email",
            "example": "joe@example.com",
            "readOnly": true
          },
          "is_primary": {
            "type": "boolean",
            "default": false,
            "readOnly": true
          }
        },
        "description": "A universal base object encapsulating the e-mail address related to another object."
      },
      "Event": {
        "title": "Event",
        "type": "object",
        "description": "Represents an event delivered via webhook on the occurrence of certain policy changes.",
        "properties": {
          "id": {
            "type": "string",
            "example": "ev_dlfjldkf124lkjs",
            "description": "The unique identifier of the received event.",
            "readOnly": true
          },
          "event_type": {
            "type": "string",
            "enum": [
              "link.created",
              "link.successful",
              "link.documents.available",
              "link.broken",
              "link.stale",
              "link.changed",
              "policies.unlinked",
              "policy.activated",
              "policy.cancelling",
              "policy.expired",
              "policy.reinstated",
              "policy.renewed",
              "policy.changed",
              "policy.changed.coverage",
              "policy.changed.insureds",
              "policy.changed.status",
              "policy.changed.premium"
            ],
            "example": "policy.expired",
            "description": "An enumerated string representing the type of event that occurred.",
            "readOnly": true
          },
          "occurred_at": {
            "type": "string",
            "format": "date-time",
            "example": "2022-01-01T00:00:00Z",
            "description": "The date and time in which the event occurred, represented as an ISO-8601 string."
          },
          "_embedded": {
            "description": "A collection of the objects in which this event applies to.",
            "oneOf": [
              {
                "description": "The most recent webhook broadcast. Returned when viewing a list of Events.",
                "properties": {
                  "latest_broadcast": {
                    "$ref": "#/components/schemas/EventBroadcast"
                  }
                }
              },
              {
                "description": "A list of all webhook broadcasts for the event. Returned when viewing an individual Event.",
                "properties": {
                  "broadcasts": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/EventBroadcast"
                    }
                  }
                }
              }
            ],
            "type": "object"
          },
          "_links": {
            "type": "object",
            "properties": {
              "payload": {
                "type": "object",
                "description": "Link to view the full event payload.",
                "properties": {
                  "href": {
                    "type": "string",
                    "format": "uri"
                  }
                }
              }
            }
          }
        }
      },
      "EventBroadcast": {
        "title": "EventBroadcast",
        "x-stoplight": {
          "id": "u9dqsqbg54mgx"
        },
        "type": "object",
        "description": "Record of a broadcast to a webhook endpoint when an event is triggered.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the broadcast.",
            "example": "eb_123456"
          },
          "queued_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date/Time the broadcast was prepared for delivery."
          },
          "broadcast_at": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "Date/Time the broadcast was sent."
          },
          "request_uri": {
            "type": "string",
            "format": "uri",
            "description": "URI the broadcast was sent to."
          },
          "request_headers": {
            "type": "object",
            "description": "Custom headers used to send the broadcast."
          },
          "response_code": {
            "type": ["integer", "null"],
            "description": "Response code from the URI.",
            "example": 200
          },
          "response_body": {
            "type": ["string", "null"],
            "description": "Contents of the response."
          }
        }
      },
      "Integration": {
        "title": "Integration",
        "type": "object",
        "x-examples": {
          "example": {
            "id": "in_12345",
            "key": "ik_12345",
            "name": "Demo Integration",
            "status": "active",
            "created_at": "2022-01-01T00:00:00Z",
            "updated_at": "2022-01-01T00:00:00Z",
            "_links": {
              "self": {
                "href": "/v1/integrations/in_12345"
              }
            }
          }
        },
        "description": "Represents a connection between a client application and Covie's systems allowing a client users to create and process links.",
        "examples": [
          {
            "id": "in_12345",
            "key": "ik_12345",
            "name": "Demo Integration",
            "status": "active",
            "created_at": "2022-01-01T00:00:00Z",
            "updated_at": "2022-01-01T00:00:00Z"
          }
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the integration.",
            "example": "in_12345",
            "readOnly": true
          },
          "key": {
            "type": "string",
            "description": "Integration key used in client application initialization.",
            "example": "ik_12345",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "description": "A descriptive name of the integration.",
            "example": "Demo Integration"
          },
          "status": {
            "type": "string",
            "enum": ["active", "archived"],
            "description": "String representation of the current status of the integration."
          },
          "created_at": {
            "type": "string",
            "description": "The date and time, in ISO-8601 format, when the integration was first created.",
            "format": "date-time",
            "example": "2022-01-01T00:00:00Z",
            "readOnly": true
          },
          "updated_at": {
            "type": "string",
            "description": "The date and time, in ISO-8601 format, when the integration was last updated.",
            "format": "date-time",
            "example": "2022-01-01T00:00:00Z",
            "readOnly": true
          },
          "configuration": {
            "type": "object",
            "properties": {
              "brand": {
                "type": "object",
                "description": "Branding configuration for the embed.",
                "properties": {
                  "logo": {
                    "type": "string",
                    "format": "url",
                    "description": "Brand logo to be used in the embed."
                  },
                  "hide_logo": {
                    "type": "boolean",
                    "description": "Hides the logo."
                  },
                  "colors": {
                    "type": "object",
                    "properties": {
                      "primary": {
                        "type": "string",
                        "example": "#F0F0F0",
                        "description": "The primary color, text style color, and background color to use."
                      }
                    }
                  }
                }
              },
              "display_name": {
                "type": "string",
                "description": "Name to display as application name in the embed, on policy selection and data disclosure screens.",
                "example": "Demo Application"
              },
              "use_name_as_display_name": {
                "type": "boolean",
                "description": "Display the integration's name as the application name in the embed. Cannot be set at the same time as display_name."
              },
              "hosted": {
                "type": "object",
                "properties": {
                  "agency_name": {
                    "type": "string"
                  },
                  "agent_name": {
                    "type": "string"
                  },
                  "agent_email": {
                    "type": "string"
                  },
                  "image_urls": {
                    "type": "object",
                    "properties": {
                      "agency_logo": {
                        "type": "string",
                        "description": "URL of agency logo",
                        "format": "uri"
                      },
                      "agency_photo": {
                        "type": "string",
                        "description": "URL of agent photo",
                        "format": "uri"
                      }
                    }
                  }
                }
              }
            }
          },
          "policy_requirements": {
            "oneOf": [
              {
                "properties": {
                  "allow_inactive": {
                    "type": "boolean",
                    "description": "Allows users to link policies that are currently inactive."
                  }
                }
              },
              {
                "properties": {
                  "effective_date": {
                    "type": "string",
                    "example": "+30 days",
                    "description": "Allows users to link a policy if it will be active as of a given date. The date can be absolute (YYYY-MM-DD) or relative, with relative dates evaluated when the policy is being linked. Primarily used to allow pending policies to be linked. Incompatible with allow_inactive."
                  }
                }
              }
            ],
            "type": "object"
          },
          "is_onboarding": {
            "type": "bool",
            "description": "Whether the integration is live, but belongs to a prepaid account that hasn't had its first refill",
            "readOnly": true
          }
        }
      },
      "Interest": {
        "title": "Interest",
        "type": "object",
        "examples": [],
        "description": "Describes an entity, person or company, that has a legal interest in a piece of covered property. This could represent a bank or other financial institution who owns a loan/mortgage/lien over a covered property, a landlord who owns the property a tenant is leasing, or some other recognized stakeholder who is entitled to certain information rights from the insurance company regarding the covered property.",
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of interest being described. Such as: lender, landlord, guarantor, or other.",
            "enum": ["landlord", "lender", "guarantor", "other"],
            "example": "lender",
            "readOnly": true
          },
          "name": {
            "$ref": "#/components/schemas/Name"
          },
          "address": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/Address"
              },
              {
                "type": "null"
              }
            ]
          },
          "email_addresses": {
            "description": "E-Mail addresses used to contact the interested party.",
            "format": "email",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EMail"
            },
            "readOnly": true
          },
          "phone_numbers": {
            "description": "Phone Numbers used to call the interested party. Provided in E164 format.",
            "format": "E164",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Phone"
            },
            "readOnly": true
          },
          "fax": {
            "description": "The Fax Number by which to contact the interested party. Provided in E164 format.",
            "oneOf": [
              {
                "$ref": "#/components/schemas/Phone"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "Link_2": {
        "title": "Link",
        "type": "object",
        "description": "Represents the individual connections between Covie and a Policyholder's account with a carrier and wraps the policies retrieved from it that have been made available to the consumer.",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the link object.",
            "example": "li_y7v2nqqpyitfctqq",
            "readOnly": true
          },
          "object": {
            "type": "string",
            "description": "String representing the object’s type. Objects of the same type share the same value.",
            "example": "link",
            "readOnly": true
          },
          "integration_id": {
            "type": "string",
            "description": "The identifier of the integration that was used to establish the link.",
            "example": "in_y7v2nqqpyitfctqq",
            "readOnly": true
          },
          "policy_count": {
            "type": "integer",
            "description": "The number of policies provided by this link.",
            "example": 3,
            "readOnly": true
          },
          "status": {
            "type": "string",
            "enum": ["new", "active", "document_uploaded", "broken", "revoked", "stale"],
            "description": "A string representation of the link's current status. This is distinct from a policy's status which is an indicator to whether a policy is in force. A link's status is an indicator of how new and complete the data is and whether or not it is possible to retrieve refreshed information.",
            "example": "active",
            "readOnly": true
          },
          "is_tracked": {
            "type": "boolean",
            "default": false,
            "description": "A flag indicating if the policies provided by this link should be tracked by Covie's monitoring service."
          },
          "tracking_frequency": {
            "type": ["string", "null"],
            "enum": ["daily", "weekly", "monthly", "never", "on_demand"],
            "description": "The frequency of which tracking should be performed. This value is `never` when tracking is disabled.",
            "example": "daily"
          },
          "updated_at": {
            "type": "string",
            "description": "The date and time, in ISO-8601 format, when the link was last updated.",
            "format": "date-time",
            "example": "2022-01-01T00:00:00Z",
            "readOnly": true
          },
          "created_at": {
            "type": "string",
            "description": "The date and time, in ISO-8601 format, when the link was first created.",
            "format": "date-time",
            "example": "2022-01-01T00:00:00Z",
            "readOnly": true
          },
          "metadata": {
            "type": "object",
            "description": "Arbitrary key value pairs set on link creation or PATCH. Keys are alphanumeric plus _, -, ., and space, at most 64 characters. Values are at most 256 characters. You can have at most 32 metadata keys on a link."
          },
          "_links": {
            "type": "object",
            "properties": {
              "self": {
                "type": "object",
                "description": "Link to retrieve the link's details.",
                "properties": {
                  "href": {
                    "type": "string",
                    "format": "uri-reference",
                    "example": "/v1/links/li_y7v2nqqpyitfctqq"
                  }
                }
              },
              "carrier_logo": {
                "type": "object",
                "description": "Link to the carrier's logo.",
                "properties": {
                  "href": {
                    "type": "string",
                    "format": "uri",
                    "example": "https://example.com/logo.png"
                  }
                }
              },
              "uploaded_documents": {
                "type": "array",
                "description": "List of documents uploaded for the link.",
                "items": {
                  "type": "object",
                  "properties": {
                    "href": {
                      "type": "string",
                      "format": "uri-reference",
                      "example": "/v1/links/li_y7v2nqqpyitfctqq/documents/ld_example"
                    },
                    "content_type": {
                      "type": "string",
                      "example": "application/pdf"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "LinkWithPolicies": {
        "title": "LinkWithPolicies",
        "type": "object",
        "description": "Represents the individual connections between Covie and a Policyholder's account with a carrier and wraps the policies retrieved from it that have been made available to the consumer.",
        "allOf": [
          {
            "$ref": "#/components/schemas/Link_2"
          },
          {
            "type": "object",
            "properties": {
              "policies": {
                "type": "array",
                "description": "List of selected policies connected to this link.",
                "items": {
                  "$ref": "#/components/schemas/Policy"
                }
              }
            }
          }
        ]
      },
      "Location": {
        "title": "Location",
        "type": "object",
        "description": "Describes a physical location and/or structure which is covered under the terms of an insurance policy.",
        "properties": {
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "coverages": {
            "type": "object",
            "description": "A list of coverages that apply to the location being insured.",
            "properties": {
              "dwelling": {
                "$ref": "#/components/schemas/Coverage"
              },
              "dwelling_extension": {
                "$ref": "#/components/schemas/Coverage"
              },
              "personal_property": {
                "$ref": "#/components/schemas/Coverage"
              },
              "personal_property_off_premises": {
                "$ref": "#/components/schemas/Coverage"
              },
              "loss_of_use": {
                "$ref": "#/components/schemas/Coverage"
              },
              "service_line": {
                "$ref": "#/components/schemas/Coverage"
              },
              "personal_liability": {
                "$ref": "#/components/schemas/Coverage"
              },
              "medical_payments": {
                "$ref": "#/components/schemas/Coverage"
              },
              "property_damage_others": {
                "$ref": "#/components/schemas/Coverage"
              },
              "fire_service": {
                "$ref": "#/components/schemas/Coverage"
              },
              "loss_assessment": {
                "$ref": "#/components/schemas/Coverage"
              },
              "sewer_backup": {
                "$ref": "#/components/schemas/Coverage"
              },
              "arson_reward": {
                "$ref": "#/components/schemas/Coverage"
              },
              "credit_card_fraud": {
                "$ref": "#/components/schemas/Coverage"
              },
              "debris_removal": {
                "$ref": "#/components/schemas/Coverage"
              },
              "oil_release": {
                "$ref": "#/components/schemas/Coverage"
              },
              "locks": {
                "$ref": "#/components/schemas/Coverage"
              },
              "landscaping": {
                "$ref": "#/components/schemas/Coverage"
              },
              "additional_structures": {
                "$ref": "#/components/schemas/Coverage"
              }
            },
            "readOnly": true
          },
          "other_deductibles": {
            "type": "object",
            "description": "A list of deductibles that apply in addition to the coverage-specific deductibles.",
            "properties": {
              "hail": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/CurrencyValue"
                  },
                  {
                    "$ref": "#/components/schemas/PercentageValue"
                  }
                ]
              },
              "earthquake": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/CurrencyValue"
                  },
                  {
                    "$ref": "#/components/schemas/PercentageValue"
                  }
                ]
              }
            },
            "readOnly": true
          },
          "discounts": {
            "type": "array",
            "description": "A list of discounts being applied to the location.",
            "items": {
              "$ref": "#/components/schemas/Discount"
            },
            "readOnly": true
          },
          "interests": {
            "type": "array",
            "description": "A list of interested parties, such as mortgagers, lienholders, guarantors, landlords, or others.",
            "items": {
              "$ref": "#/components/schemas/Interest"
            },
            "readOnly": true
          }
        }
      },
      "Name": {
        "title": "Name",
        "type": "object",
        "properties": {
          "full": {
            "type": "string"
          }
        },
        "description": "Contains a name for a person or business"
      },
      "PaymentMethod": {
        "title": "PaymentMethodd",
        "type": "object",
        "description": "Describes a source which can be used to make payments towards account balance.",
        "properties": {
          "id": {
            "type": "string",
            "example": "pm_a3s5gdas1dvnbk",
            "description": "A unique identifier for this payment method.",
            "readOnly": true
          },
          "type": {
            "type": "string",
            "example": "card",
            "enum": ["card"],
            "description": "The type of payment method.",
            "readOnly": true
          },
          "is_default": {
            "type": "boolean",
            "description": "Indicates wether this payment method is the preferred source used for account balance updates."
          },
          "card": {
            "type": ["object", "null"],
            "properties": {
              "brand": {
                "type": "string",
                "example": "visa",
                "enum": [
                  "visa",
                  "mastercard",
                  "diners_club",
                  "jcb",
                  "amex",
                  "cartes_bancaires",
                  "discover",
                  "unionpay"
                ],
                "description": "The brand identifier of the card provider."
              },
              "last4": {
                "type": "string",
                "description": "The last 4 digits of the card"
              },
              "exp_month": {
                "type": "integer",
                "description": "The expiry month of the card."
              },
              "exp_year": {
                "type": "integer",
                "description": "The expiry year of the card."
              }
            }
          }
        }
      },
      "PercentageValue": {
        "title": "PercentageValue",
        "type": "object",
        "properties": {
          "unit": {
            "type": "string",
            "description": "Always \"percentage\"",
            "enum": ["percentage"],
            "example": "percentage",
            "readOnly": true
          },
          "value": {
            "type": "number",
            "example": 1.5,
            "format": "float",
            "description": "The percentage amount determined by this value.",
            "readOnly": true
          }
        },
        "description": "Describes a value that is represented as a percentage, fraction, or ratio of another value. Most frequently depicted for deductibles which may be a percentage of a limit."
      },
      "PeriodValue": {
        "title": "PeriodValue",
        "type": "object",
        "description": "Describes a value that represents a period of time, such as days, weeks, or months.",
        "properties": {
          "unit": {
            "type": "string",
            "enum": ["day", "week", "month"],
            "description": "The scale of time period being represented.",
            "example": "day",
            "readOnly": true
          },
          "value": {
            "type": "integer",
            "description": "The amount of time being represented.",
            "example": 30,
            "readOnly": true
          }
        }
      },
      "Phone": {
        "title": "Phone",
        "type": "object",
        "description": "A universal base object encapsulating the phone number related to another object.",
        "properties": {
          "type": {
            "type": "string",
            "enum": ["mobile", "home", "office", "fax"],
            "readOnly": true
          },
          "number": {
            "type": "string",
            "format": "E164",
            "example": "+15555555555",
            "readOnly": true
          },
          "is_primary": {
            "type": "boolean",
            "default": false,
            "readOnly": true
          }
        }
      },
      "Policy": {
        "title": "Policy",
        "type": "object",
        "examples": [
          {
            "id": "po_y7v2nqqpyitfctqq",
            "object": "policy",
            "fingerprint": "dewbef3owkt2qf7iznev",
            "carrier": {
              "name": "Progressive"
            },
            "number": "950113281",
            "masked_number": "95*****81",
            "line": "personal_auto",
            "policyholders": [
              {
                "type": "person",
                "name": {
                  "full": "John Q Smith"
                },
                "address": {
                  "line1": "123 Easy Street",
                  "line2": null,
                  "city": "Anytown",
                  "state": "CA",
                  "postal_code": "11111"
                },
                "email_addresses": [
                  {
                    "address": "john@example.com",
                    "is_primary": true
                  }
                ],
                "phone_numbers": [
                  {
                    "type": "home",
                    "number": "+15555555555",
                    "is_primary": true
                  }
                ],
                "is_primary": true
              },
              {
                "type": "person",
                "name": {
                  "full": "Sue Smith"
                },
                "address": null,
                "email_addresses": [
                  {
                    "address": "sue@example.com",
                    "is_primary": false
                  }
                ],
                "phone_numbers": [
                  {
                    "type": "mobile",
                    "number": "+15555555556",
                    "is_primary": true
                  }
                ],
                "is_primary": false
              }
            ],
            "vehicles": [
              {
                "vin": "1FMYU04175KA69821",
                "make": "Ford",
                "model": "Escape",
                "year": "2005",
                "trim": "null",
                "series": "null",
                "annual_mileage": 12000,
                "usage": "commute",
                "ownership": "own",
                "drivers": [
                  {
                    "name": {
                      "full": "John Smith"
                    },
                    "age": 32,
                    "date_of_birth": "1990-01-01",
                    "marital_status": "married",
                    "gender": "male",
                    "age_licensed": 16,
                    "license_number": null,
                    "license_state": null,
                    "is_primary": true
                  },
                  {
                    "name": {
                      "full": "Sue Smith"
                    },
                    "age": 29,
                    "date_of_birth": "1993-01-01",
                    "marital_status": "married",
                    "gender": "female",
                    "age_licensed": 16,
                    "license_number": null,
                    "license_state": null,
                    "is_primary": false
                  }
                ],
                "garaging_address": {
                  "line1": "123 Easy Street",
                  "line2": null,
                  "city": "Anytown",
                  "state": "CA",
                  "postal_code": "11111"
                },
                "interests": [],
                "coverages": {
                  "bodily_injury": {
                    "name": "bodily_injury",
                    "limits": {
                      "occurrence": {
                        "unit": "USD",
                        "value": 300000
                      },
                      "person": {
                        "unit": "USD",
                        "value": 100000
                      }
                    },
                    "deductible": null,
                    "premium": {
                      "unit": "USD",
                      "value": 90
                    }
                  },
                  "personal_property": {
                    "name": "personal_property",
                    "limits": {
                      "occurrence": {
                        "unit": "USD",
                        "value": 100000
                      }
                    },
                    "deductible": null,
                    "premium": {
                      "unit": "USD",
                      "value": 25
                    }
                  },
                  "uninsured_bodily_injury": {
                    "name": "uninsured_bodily_injury",
                    "limits": {
                      "occurrence": {
                        "unit": "USD",
                        "value": 300000
                      },
                      "person": {
                        "unit": "USD",
                        "value": 100000
                      }
                    },
                    "deductible": null,
                    "premium": {
                      "unit": "USD",
                      "value": 25
[...]
