@import "~@blueprintjs/core/lib/scss/variables";

.hoverable {
    padding-bottom: 2px;
    border-bottom: 1px dashed $pt-text-color;
}

:global(.#{$ns}-dark) {
    .hoverable {
        border-bottom-color: $pt-dark-text-color;
    }
}
