{
    "schemes": ["https"],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "swagger": "2.0",
    "info": {
        "description": "The following describe Paradex API.\n",
        "title": "Paradex REST API",
        "contact": {},
        "version": "1.95.00"
    },
    "host": "api.prod.paradex.trade",
    "basePath": "/v1",
    "paths": {
        "/account": {
            "get": {
                "security": [
                    {
                        "BearerToken": []
                    }
                ],
                "description": "Respond with requester's account information\n",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Account"
                ],
                "summary": "Get account information",
                "operationId": "get-account",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Subaccount address",
                        "name": "subaccount_address",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/responses.AccountSummaryResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ApiError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/responses.ApiError"
                        }
                    }
                }
            }
        },
        "/account/history": {
            "get": {
                "security": [
                    {
                        "BearerToken": []
                    }
                ],
                "description": "Respond with requester's account information\n",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Account"
                ],
                "summary": "Get account history",
                "operationId": "get-account-history",
                "parameters": [
                    {
                        "enum": [
                            "pnl",
                            "value",
                            "volume"
                        ],
                        "type": "string",
                        "description": "Type of data",
                        "name": "type",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/responses.AccountHistoricalDataResp"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ApiError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/responses.ApiError"
                        }
                    }
                }
            }
        },
        "/account/info": {
            "get": {
                "security": [
                    {
                        "BearerToken": []
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Account"
                ],
                "summary": "Return account info of current account",
                "operationId": "get-accounts-info",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/responses.GetAccountsInfoResponse"
                        }
                    }
                }
            }
        },
        "/account/margin": {
            "get": {
                "security": [
                    {
                        "BearerToken": []
                    }
                ],
                "description": "Get margin configuration for an account and market",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Account"
                ],
                "summary": "Get account margin configuration",
                "operationId": "get-account-margin",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Market Name - example: BTC-USD-PERP",
                        "name": "market",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/responses.GetAccountMarginConfigsResp"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ApiError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/responses.ApiError"
                        }
                    }
                }
            }
        },
        "/account/margin/{market}": {
            "post": {
                "security": [
                    {
                        "BearerToken": []
                    }
                ],
                "description": "Set margin configuration for an account and market",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Account"
                ],
                "summary": "Set margin configuration",
                "operationId": "upsert-account-margin",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Market Name - example: BTC-USD-PERP",
                        "name": "market",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Margin Configuration",
                        "name": "config",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/requests.AccountMarginRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/responses.UpdateAccountMarginConfigResp"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ApiError"
                        }
                    }
                }
            }
        },
        "/account/profile": {
            "get": {
                "security": [
                    {
                        "BearerToken": []
                    }
                ],
                "description": "Respond with requester's account information\n",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Account"
                ],
                "summary": "Get account profile information",
                "operationId": "get-account-profile",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/responses.AccountProfileResp"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ApiError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/responses.ApiError"
                        }
                    }
                }
            }
        },
        "/account/profile/market_max_slippage/{market}": {
            "post": {
                "security": [
                    {
                        "BearerToken": []
                    }
                ],
                "description": "Respond with requester's account max_slippage\n",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Account"
                ],
                "summary": "Updates account max slippage for a specific market",
                "operationId": "update-account-market-max-slippage",
                "parameters": [
                    {
                        "type": "string",
                        "description": "{base_currency}-{quote_currency}-{kind}",
                        "name": "market",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Update market max slippage request",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/requests.UpdateAccountMaxSlippageRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/responses.AccountProfileResp"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ApiError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/responses.ApiError"
                        }
                    }
                }
            }
        },
        "/account/profile/referral_code": {
            "post": {
                "security": [
                    {
                        "BearerToken": []
                    }
                ],
                "description": "Respond with requester's account information\n",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Account"
                ],
                "summary": "Updates account profile fields",
                "operationId": "update-account-profile-referral-code",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/responses.AccountProfileResp"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ApiError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/responses.ApiError"
                        }
                    }
                }
            }
        },
        "/account/profile/username": {
            "post": {
                "security": [
                    {
                        "BearerToken": []
                    }
                ],
                "description": "Respond with requester's account information\n",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Account"
                ],
                "summary": "Updates account profile username fields",
                "operationId": "update-account-profile-username",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/responses.AccountProfileResp"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ApiError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/responses.ApiError"
                        }
                    }
                }
            }
        },
        "/account/settings": {
            "get": {
                "security": [
                    {
                        "BearerToken": []
                    }
                ],
                "description": "Get account settings",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Account"
                ],
                "summary": "Get account settings",
                "operationId": "get-account-settings",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/responses.AccountSettingsResp"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ApiError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/responses.ApiError"
                        }
                    }
                }
            }
        },
        "/account/settings/trading_value_display": {
            "post": {
                "security": [
                    {
                        "BearerToken": []
                    }
                ],
                "description": "To set user preferences for the trading value display on the UI, Spot Notional will use spot price, and Market Value will use the market price.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Account"
                ],
                "summary": "Updates account trading value display",
                "operationId": "update-account-trading-value-display",
                "parameters": [
                    {
                        "description": "Update account trading value display request",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/requests.UpdateTradingValueDisplayRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/responses.AccountProfileResp"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ApiError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/responses.ApiError"
                        }
                    }
                }
            }
        },
        "/account/subaccounts": {
            "get": {
                "security": [
                    {
                        "BearerToken": []
                    }
                ],
                "description": "Respond with requester's list of sub-accounts\n",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Account"
                ],
                "summary": "List sub-accounts of current account",
                "operationId": "get-sub-accounts",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/responses.GetSubAccountsResponse"
                        }
                    }
                }
            }
        },
        "/algo/orders": {
            "get": {
                "security": [
                    {
                        "BearerToken": []
                    }
                ],
                "description": "Get current user all open algo orders\n",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Algos"
                ],
                "summary": "Get open algo orders",
                "operationId": "get-open-algo-orders",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/responses.APIResults"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "results": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/responses.AlgoOrderResp"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ApiError"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "BearerToken": []
                    }
                ],
                "description": "Create a new algo order\n\n### TWAP\n\nTWAP orders break a large trade into smaller ones over time to reduce market impact:\n- Sub-orders are placed every 30 seconds.\n- Order duration is between 30 and 86,400 seconds, in multiples of 30.\n- Supported sub order type: MARKET\n",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Algos"
                ],
                "summary": "Create algo order",
                "operationId": "create-algo-order",
                "parameters": [
                    {
                        "description": "Algo order content",
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/requests.AlgoOrderRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/responses.AlgoOrderResp"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ApiError"
                        }
                    }
                }
            }
        },
        "/algo/orders-history": {
            "get": {
                "security": [
                    {
                        "BearerToken": []
                    }
                ],
                "description": "Get current user algo orders filtered on attributes\n",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Algos"
                ],
                "summary": "Get algo orders history",
                "operationId": "get-algo-orders-history",
                "parameters": [
                    {
                        "type": "string",
                        "example": "client-id",
                        "description": "Unique ID of client generating the order",
                        "name": "client_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Returns the ‘next’ paginated page.",
                        "name": "cursor",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "End Time (unix time millisecond)",
                        "name": "end_at",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "BTC-USD-PERP",
                        "description": "Market for the order",
                        "name": "market",
                        "in": "query"
                    },
                    {
                        "maximum": 5000,
                        "minimum": 1,
                        "type": "integer",
                        "default": 100,
                        "description": "Limit the number of responses in the page",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "BUY",
                            "SELL"
                        ],
                        "type": "string",
                        "description": "Order side",
                        "name": "side",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Start Time (unix time millisecond)",
                        "name": "start_at",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "OPEN",
                            "CLOSED",
                            "NEW"
                        ],
                        "type": "string",
                        "description": "Order status",
                        "name": "status",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "LIMIT",
                            "MARKET",
                            "STOP_LIMIT",
                            "STOP_MARKET",
                            "STOP_LOSS_LIMIT",
                            "STOP_LOSS_MARKET",
                            "TAKE_PROFIT_LIMIT",
                            "TAKE_PROFIT_MARKET"
                        ],
                        "type": "string",
                        "description": "Order type",
                        "name": "type",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/responses.PaginatedAPIResults"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "results": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/responses.AlgoOrderResp"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ApiError"
                        }
                    }
                }
            }
        },
        "/algo/orders/{algo_id}": {
            "get": {
                "security": [
                    {
                        "BearerToken": []
                    }
                ],
                "description": "Get an algo order by id. Only return algo order in `OPEN` or `NEW` status.\n",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Algos"
                ],
                "summary": "Get algo order by id",
                "operationId": "get-algo-order-by-id",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Algo ID",
                        "name": "algo_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/responses.AlgoOrderResp"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/responses.ApiError"
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "BearerToken": []
                    }
                ],
                "description": "Cancel an existing algo order by id\n",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Algos"
                ],
                "summary": "Cancel algo order by id",
                "operationId": "cancel-algo-order",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Algo ID",
                        "name": "algo_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/responses.ApiError"
                        }
                    }
                }
            }
        },
        "/auth": {
            "post": {
                "description": "Authenticate using signed payload to get a JWT for usage in other endpoints\n\nThere are multiple valid headers required to be sent as part of this request.\n\nFor onboarding examples, refer to `go`, `java` and `python` code in [code-samples](https://github.com/tradeparadex/code-samples).\n\n#### StarkNet Message Hash and Signature\n\nInspired by [EIP-712](https://eips.ethereum.org/EIPS/eip-712),\n(a standard for hashing and signing typed structured data)\nthe encoding of an off-chain message is defined as:\n\n`signed_data = Enc[PREFIX_MESSAGE, domain_separator, account, hash_struct(message)]`\n\nwhere:\n\n- `PREFIX_MESSAGE = \"StarkNet Message\"`\n- `domain_separator` is defined as the `hash_struct` of the StarkNetDomain struct:\n  * Struct contains: `name`, `chainId` and `version`\n  * `chainId` is can be obtained calling `GET /system/config`\n- `account` is the StarkNet account address\n- The message to be hashed is represented as a struct\n  * `hash_struct(message) = Enc[type_hash(MyStruct), Enc[param1], ..., Enc[paramN]]`\n  * where `type_hash` is defined as in EIP-712 (but using `selector` instead of `keccak`)\n  * More details on StarkNet - [Hash Functions](https://docs.starknet.io/architecture-and-concepts/cryptography/#hash_functions)\n\nIn case of more complex structure of object, you have to work in the spirit of EIP-712.\nThis json structure has 4 mandatory items: `types`, `primaryType`, `domain` and `message`.\nThese items are designed to be able to be an interface with a wallet.\nAt sign request, the wallet will display:\n\n- `message` will be displayed at the bottom of the wallet display,\nshowing clearly (not in hex) the message to sign.\nIts structure has to be in accordance with the type listed in primaryType,\ndefined in types.\n- `domain` will be shown above the message.\nIts structure has to be in accordance with `StarkNetDomain`.\n\nThe predefined types that you can use :\n\n- `felt` : for an integer on 251 bits.\n- `felt*` : for an array of felt.\n- `string` : for a shortString of 31 ASCII characters max.\n- `selector` : for a name of a smart contract function.\n- `merkletree` : for a Root of a Merkle tree, calculated with the provided data.\n\nSpecification details: [Signing transactions and off-chain messages](https://github.com/argentlabs/argent-x/discussions/14)\n\n#### Message Hash Sample Code\n\nFor a complete `message_hash` example, refer to `python` code in [code-samples](https://github.com/tradeparadex/code-samples).\n\n\u003e Examples:\n\n```json\n{\n  \"paradex-signature-expiration\": 1682364556,\n  \"paradex-starknet-account\": \"0x129f3dc1b8962d8a87abc692424c78fda963ade0e1cd17bf3d1c26f8d41ee7a\",\n  \"paradex-starknet-signature\": [\n    \"1381323390094460587764867648394252677239485992175346764030313478865763678671\",\n    \"396490140510115262427678549757564216013606350105112805717359873954984880589\"\n  ],\n  \"paradex-timestamp\": 1681759756\n}\n```\n",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Authentication"
                ],
                "summary": "Get JWT",
                "operationId": "auth",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Starknet account",
                        "name": "PARADEX-STARKNET-ACCOUNT",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Starknet signature",
                        "name": "PARADEX-STARKNET-SIGNATURE",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Timestamp when the signature was created",
                        "name": "PARADEX-TIMESTAMP",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Timestamp when signature expires (default 30 min | Max 1 week)",
                        "name": "PARADEX-SIGNATURE-EXPIRATION",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "description": "Optional flag to authorize all isolated market accounts linked to the main account. When set to true, the returned JWT will grant trading access to all isolated accounts. Defaults to false if not specified",
                        "name": "PARADEX-AUTHORIZE-ISOLATED-MARKETS",
                        "in": "header"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/responses.AuthResp"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ApiError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/responses.ApiError"
                        }
                    }
                }
            }
        },
        "/balance": {
            "get": {
                "security": [
                    {
                        "BearerToken": []
                    }
                ],
                "description": "Respond with requester's own balances\n",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Account"
                ],
                "summary": "List balances",
                "operationId": "get-balance",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/responses.APIResults"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "results": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/responses.BalanceResp"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ApiError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/responses.ApiError"
                        }
                    }
                }
            }
        },
        "/bbo/{market}": {
            "get": {
                "description": "Get the best bid/ask for the given market\n",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Markets"
                ],
                "summary": "Get market bbo",
                "operationId": "get-bbo",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Market symbol - ex: BTC-USD-PERP",
                        "name": "market",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/responses.BBOResp"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ApiError"
                        }
                    }
                }
            }
        },
        "/fills": {
            "get": {
                "security": [
                    {
                        "BearerToken": []
                    }
                ],
                "description": "This API returns a list of matched orders (i.e. fills) that have been sent to\r\nchain for settlement.\r\n",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Account"
                ],
                "summary": "List fills",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Returns the ‘next’ paginated page.",
                        "name": "cursor",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "End Time (unix time millisecond)",
                        "name": "end_at",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Market symbol",
                        "name": "market",
                        "in": "query"
                    },
                    {
                        "maximum": 5000,
                        "minimum": 1,
                        "type": "integer",
                        "default": 100,
                        "description": "Limit the number of responses in the page",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Start Time (unix time millisecond)",
                        "name": "start_at",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/responses.PaginatedAPIResults"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "results": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/responses.FillResult"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ApiError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/responses.ApiError"
                        }
                    }
                }
            }
        },
        "/funding/data": {
            "get": {
                "description": "List historical funding data by market\n",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Markets"
                ],
                "summary": "Funding data history",
                "operationId": "get-funding-data",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Returns the ‘next’ paginated page.",
                        "name": "cursor",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "End Time (unix time millisecond)",
                        "name": "end_at",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "BTC-USD-PERP",
                        "description": "Market for which funding payments are queried",
                        "name": "market",
                        "in": "query",
                        "required": true
                    },
                    {
                        "maximum": 5000,
                        "minimum": 1,
                        "type": "integer",
                        "default": 100,
                        "description": "Limit the number of responses in the page",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Start Time (unix time millisecond)",
                        "name": "start_at",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/responses.PaginatedAPIResults"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "results": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/responses.FundingDataResult"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ApiError"
                        }
                    }
                }
            }
        },
        "/funding/payments": {
            "get": {
                "security": [
                    {
                        "BearerToken": []
                    }
                ],
                "description": "List funding payments made by/to the requester's account\n\n*Funding payments are periodic payments between traders to make the perpetual\nfutures contract price is close to the index price.*\n",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Account"
                ],
                "summary": "Funding payments history",
                "operationId": "get-funding",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Returns the ‘next’ paginated page.",
                        "name": "cursor",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "End Time (unix time millisecond)",
                        "name": "end_at",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "BTC-USD-PERP",
                        "description": "Market for which funding payments are queried",
                        "name": "market",
                        "in": "query",
                        "required": true
                    },
                    {
                        "maximum": 5000,
                        "minimum": 1,
                        "type": "integer",
                        "default": 100,
                        "description": "Limit the number of responses in the page",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Start Time (unix time millisecond)",
                        "name": "start_at",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/responses.PaginatedAPIResults"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "results": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/responses.FundingPayment"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ApiError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/responses.ApiError"
                        }
                    }
                }
            }
        },
        "/insurance": {
            "get": {
                "description": "Get insurance fund account's information\n",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Insurance"
                ],
                "summary": "Get insurance fund account information",
                "operationId": "get-insurance-fund",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/responses.InsuranceAccountResp"
                        }
                    }
                }
            }
        },
        "/liquidations": {
            "get": {
                "security": [
                    {
                        "BearerToken": []
                    }
                ],
                "description": "Retrieves a list of liquidations associated to the requester's account\n",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Liquidations"
                ],
                "summary": "List liquidations",
                "operationId": "get-liquidations",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Start Time (unix time millisecond)",
                        "name": "from",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "End Time (unix time millisecond)",
                        "name": "to",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/responses.APIResults"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "results": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/responses.LiquidationResp"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ApiError"
                        }
                    }
                }
            }
        },
        "/markets": {
            "get": {
                "description": "Get markets static data component\n",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Markets"
                ],
                "summary": "List available markets",
                "operationId": "get-markets",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Market Name - example: BTC-USD-PERP",
                        "name": "market",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/responses.APIResults"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "results": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/responses.MarketResp"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/responses.ApiError"
                        }
                    }
                }
            }
        },
        "/markets/klines": {
            "get": {
                "description": "Klines for a symbol",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Markets"
                ],
                "summary": "OHLCV for a symbol",
                "operationId": "markets-klines",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "end time for klines in milliseconds",
                        "name": "end_at",
                        "in": "query",
                        "required": true
                    },
                    {
                        "enum": [
                            "last",
                            "mark",
                            "underlying"
                        ],
                        "type": "string",
                        "x-enum-varnames": [
                            "PriceKindLast",
                            "PriceKindMark",
                            "PriceKindUnderlying"
                        ],
                        "description": "Which price to use for the klines",
                        "name": "price_kind",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "resolution in minutes: 1, 3, 5, 15, 30, 60",
                        "name": "resolution",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "start time for klines in milliseconds",
                        "name": "start_at",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Symbol of the market pair",
                        "name": "symbol",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ApiError"
                        }
                    }
                }
            }
        },
        "/markets/summary": {
            "get": {
                "description": "Get markets dynamic data component\n",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Markets"
                ],
                "summary": "List available markets summary",
                "operationId": "get-markets-summary",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "End Time (unix time millisecond)",
                        "name": "end",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "BTC-USD-PERP",
                        "description": "Name of the market for which summary is requested (for all available markets use ALL)",
                        "name": "market",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Start Time (unix time millisecond)",
                        "name": "start",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/responses.APIResults"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "results": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/responses.MarketSummaryResp"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ApiError"
                        }
                    }
                }
            }
        },
        "/onboarding": {
            "post": {
                "description": "Onboarding verifies that the caller owns the StarkNet address and enters them\ninto the database. This call is idempotent.\n",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Authentication"
                ],
                "summary": "Onboarding",
                "operationId": "onboarding",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Ethereum account used to onboard",
                        "name": "PARADEX-ETHEREUM-ACCOUNT",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Starknet address",
                        "name": "PARADEX-STARKNET-ACCOUNT",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Starknet signature",
                        "name": "PARADEX-STARKNET-SIGNATURE",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "Onboarding user public_key",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/requests.Onboarding"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An empty response"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ApiError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/responses.ApiError"
                        }
                    }
                }
            }
        },
        "/orderbook/{market}": {
            "get": {
                "description": "Get snapshot of the orderbook for the given market\n",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Markets"
                ],
                "summary": "Get market orderbook",
                "operationId": "get-orderbook",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Market symbol - ex: BTC-USD-PERP",
                        "name": "market",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "default": 20,
                        "description": "Depth",
                        "name": "depth",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/responses.AskBidArray"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ApiError"
                        }
                    }
                }
            }
        },
        "/orders": {
            "get": {
                "security": [
                    {
                        "BearerToken": []
                    }
                ],
                "description": "Get current user all open orders\n",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Orders"
                ],
                "summary": "Get open orders",
                "operationId": "get-open-orders",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Market symbol, ex: BTC-USD-PERP",
                        "name": "market",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/responses.APIResults"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "results": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/responses.OrderResp"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ApiError"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "BearerToken": []
                    }
                ],
                "description": "Submits a new order to Paradex.\n\nReturns an order status object with a unique order `id` assigned by Paradex. This\norder `id` serves as the primary identifier for the order.\n\nThe REST API performs basic validation and queues the order for risk checks\n(order `status`=`NEW`).\n\nOnce validation and risk checks are successful, the order is sent to the matching\nengine. The matching engine processes the order and updates the status to `OPEN`\nif the order is resting. If the order is fully filled or cannot be processed, the\nstatus changes to `CLOSED` and a `cancel_reason` code is provided (e.g., fully\nfilled or no liquidity).\n",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Orders"
                ],
                "summary": "Create order",
                "operationId": "orders-new",
                "parameters": [
                    {
                        "description": "Order content",
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/requests.OrderRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/responses.OrderResp"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ApiError"
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "BearerToken": []
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Orders"
                ],
                "summary": "Cancel all open orders",
                "operationId": "orders-cancel-all",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Market to cancel orders for",
                        "name": "market",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ApiError"
                        }
                    }
                }
            }
        },
        "/orders-history": {
            "get": {
                "security": [
                    {
                        "BearerToken": []
                    }
                ],
                "description": "Get current user orders filtered on attributes\n",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Orders"
                ],
                "summary": "Get orders",
                "operationId": "get-orders",
                "parameters": [
                    {
                        "type": "string",
                        "example": "client-id",
                        "description": "Unique ID of client generating the order",
                        "name": "client_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Returns the ‘next’ paginated page.",
                        "name": "cursor",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "End Time (unix time millisecond)",
                        "name": "end_at",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "BTC-USD-PERP",
                        "description": "Market for the order",
                        "name": "market",
                        "in": "query"
                    },
                    {
                        "maximum": 5000,
                        "minimum": 1,
                        "type": "integer",
                        "default": 100,
                        "description": "Limit the number of responses in the page",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "BUY",
                            "SELL"
                        ],
                        "type": "string",
                        "description": "Order side",
                        "name": "side",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Start Time (unix time millisecond)",
                        "name": "start_at",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "OPEN",
                            "CLOSED",
                            "NEW"
                        ],
                        "type": "string",
                        "description": "Order status",
                        "name": "status",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "LIMIT",
                            "MARKET",
                            "STOP_LIMIT",
                            "STOP_MARKET",
                            "STOP_LOSS_LIMIT",
                            "STOP_LOSS_MARKET",
                            "TAKE_PROFIT_LIMIT",
                            "TAKE_PROFIT_MARKET"
                        ],
                        "type": "string",
                        "description": "Order type",
                        "name": "type",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/responses.PaginatedAPIResults"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "results": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/responses.OrderResp"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ApiError"
                        }
                    }
                }
            }
        },
        "/orders/batch": {
            "post": {
                "security": [
                    {
                        "BearerToken": []
                    }
                ],
                "description": "Place a batch of orders\n\n+ Valid batch size is between 1-10 order(s)\n+ If basic validation(including signature) fails - all orders will be rejected.\n+ Orders are queued for risk checking independently and failure of one order\n  doesn't affect processing of another order.\n",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Orders"
                ],
                "summary": "Create batch of orders",
                "operationId": "orders-new-batch",
                "parameters": [
                    {
                        "description": "Order content",
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/requests.OrderRequest"
                            }
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/responses.BatchResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ApiError"
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "BearerToken": []
                    }
                ],
                "description": "Queues cancellation for multiple orders by providing identifiers in a batch.\n\nThe request body can contain either or both of:\n- `order_ids`: Array of order IDs assigned by Paradex\n- `client_order_ids`: Array of client-assigned order IDs\n\n```json\n{\n  \"order_ids\": [\"order-id-1\", \"order-id-2\"],\n  \"client_order_ids\": [\"client-id-1\", \"client-id-2\"]\n}\n```\n\nReturns a 200 OK status code with detailed results for each order:\n\n```json\n{\n  \"results\": [\n    {\n      \"id\": \"order-id-1\",\n      \"client_id\": \"client-id-X\",\n      \"account\": \"account-1\",\n      \"market\": \"BTC-USD-PERP\",\n      \"status\": \"QUEUED_FOR_CANCELLATION\"\n    },\n    {\n      \"id\": \"order-id-2\",\n      \"client_id\": \"client-id-Y\",\n      \"account\": \"account-1\",\n      \"market\": \"ETH-USD-PERP\",\n      \"status\": \"ALREADY_CLOSED\"\n    },\n    {\n      \"id\": \"order-id-3\",\n      \"client_id\": \"client-id-1\",\n      \"account\": \"account-1\",\n      \"market\": \"BTC-USD-PERP\",\n      \"status\": \"QUEUED_FOR_CANCELLATION\"\n    },\n    {\n      \"client_id\": \"client-id-2\",\n      \"status\": \"NOT_FOUND\"\n    }\n  ]\n}\n```\n\nEach result includes:\n- `id`: Order ID (if the order was found)\n- `client_id`: Client order ID (if available)\n- `account`: Account that owns the order\n- `market`: Market of the order\n- `status`: One of:\n  + `QUEUED_FOR_CANCELLATION`: Order was successfully queued for cancellation\n  + `ALREADY_CLOSED`: Order was already in a closed state\n  + `NOT_FOUND`: The order with the provided ID/client ID was not found\n\nConfirmation of cancellation will be sent via websocket or can be verified from\nGET /orders/:id endpoint.\n\nOrders that are already in a CLOSED state will be included in the response with\nstatus \"ALREADY_CLOSED\".\n",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Orders"
                ],
                "summary": "Cancel batch of orders by order IDs or client order IDs",
                "operationId": "orders-cancel-batch",
                "parameters": [
                    {
                        "description": "Order IDs or Client Order IDs to cancel",
                        "name": "params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/requests.CancelOrderBatchRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of cancellation results",
                        "schema": {
                            "$ref": "#/definitions/responses.CancelOrderBatchResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ApiError"
                        }
                    }
                }
            }
        },
        "/orders/by_client_id/{client_id}": {
            "get": {
                "security": [
                    {
                        "BearerToken": []
                    }
                ],
                "description": "Get an order by client id. Only returns orders in `OPEN` status.\n",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Orders"
                ],
                "summary": "Get order by client id",
                "operationId": "orders-get-by-client-id",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Client Order Id",
                        "name": "client_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/responses.OrderResp"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ApiError"
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "BearerToken": []
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Orders"
                ],
                "summary": "Cancel open order by client order id",
                "operationId": "orders-cancel-by-client-id",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Client Order Id",
                        "name": "client_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ApiError"
                        }
                    }
                }
            }
        },
        "/orders/{order_id}": {
            "get": {
                "security": [
                    {
                        "BearerToken": []
                    }
                ],
                "description": "Get an order by id. Only return orders in `OPEN` or `NEW` status.\n",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Orders"
                ],
                "summary": "Get order",
                "operationId": "orders-get",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Order Id",
                        "name": "order_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/responses.OrderResp"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ApiError"
                        }
                    }
                }
            },
            "put": {
                "security": [
                    {
                        "BearerToken": []
                    }
                ],
                "description": "Modify an existing open order by changing its price and/or size.\nThe modified order maintains its original order ID.\n",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Orders"
                ],
                "summary": "Modify order",
                "operationId": "orders-modify",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Order Id",
                        "name": "order_id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Modify Order Request",
                        "name": "order_request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/requests.ModifyOrderRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/responses.OrderResp"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ApiError"
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "BearerToken": []
                    }
                ],
                "description": "Queues a cancellation for a specific order identified by its order ID (assigned by\nParadex).\n\nReturns a 204 No Content status code with no response body which means the order\nhas been queued for cancellation.\n\nConfirmation of cancellation will be sent via websocket or can be retried from\nGET /orders/:id endpoint.\n\nOrders that are already in a CLOSED state cannot be canceled.\n",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Orders"
                ],
                "summary": "Cancel order",
                "operationId": "orders-cancel",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Order Id",
                        "name": "order_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ApiError"
                        }
                    }
                }
            }
        },
        "/positions": {
            "get": {
                "security": [
                    {
                        "BearerToken": []
                    }
                ],
                "description": "Get all positions owned by current user\n",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Account"
                ],
                "summary": "List open positions",
                "operationId": "get-positions",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/responses.APIResults"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "results": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/responses.PositionResp"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/referrals/qr-code": {
            "get": {
                "security": [
                    {
                        "BearerToken": []
                    }
                ],
                "description": "Returns a QR code image containing the user's referral link",
                "produces": [
                    "image/png"
                ],
                "tags": [
                    "Referrals"
                ],
                "summary": "Get Referral QR Code",
                "operationId": "get-referral-qr-code",
                "responses": {
                    "200": {
                        "description": "QR code image",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ApiError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/responses.ApiError"
                        }
                    }
                }
            }
        },
        "/referrals/summary": {
            "get": {
                "security": [
                    {
                        "BearerToken": []
                    }
                ],
                "description": "Get latest referee data for requester's account\n",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Referrals"
                ],
                "summary": "Get account referral details",
                "operationId": "get-referrals-summary",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/responses.APIResults"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "results": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/responses.ReferralsResp"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ApiError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/responses.ApiError"
                        }
                    }
                }
            }
        },
        "/system/config": {
            "get": {
                "description": "Get clearing and settlement layer config for Paradex\n",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "System"
                ],
                "summary": "Get system config",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/responses.SystemConfigResponse"
                        }
                    }
                }
            }
        },
        "/system/state": {
            "get": {
                "description": "Get the current state of the Paradex system\n\n## Response\n\n```json\n{\"status\": \"ok\"}\n```\n\n### Status Values\n\n- `ok`: Fully operational\n- `maintenance`: Trading unavailable\n- `cancel_only`: Only cancellations allowed\n\nCheck before trading operations.\n",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "System"
                ],
                "summary": "Get system state",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/responses.SystemStateResponse"
                        }
                    }
                }
            }
        },
        "/system/time": {
            "get": {
                "description": "Get the current time in the Paradex\n",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "System"
                ],
                "summary": "Get system time (unix milliseconds)",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/responses.SystemTimeResponse"
                        }
                    }
                }
            }
        },
        "/tradebusts": {
            "get": {
                "security": [
                    {
                        "BearerToken": []
                    }
                ],
                "description": "Returns paginated tradebusts for the account.\n\nA tradebust occurs when a fill fails to clear and settle on the Paradex Chain.\nThe results of busted fills are not reflected on-chain and are reverted in the\ncloud (off-chain position cache).\n",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Account"
                ],
                "summary": "List tradebusts",
                "operationId": "tradebusts",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Returns the ‘next’ paginated page.",
                        "name": "cursor",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "End Time (unix time millisecond)",
                        "name": "end_at",
                        "in": "query"
                    },
                    {
                        "maximum": 5000,
                        "minimum": 1,
                        "type": "integer",
                        "default": 100,
                        "description": "Limit the number of responses in the page",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Start Time (unix time millisecond)",
                        "name": "start_at",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/responses.PaginatedAPIResults"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "results": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/responses.TradebustResult"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ApiError"
                        }
                    }
                }
            }
        },
        "/trades": {
            "get": {
                "description": "Returns a paginated list of trades that have occurred on the exchange.\nDefault page size is 100, maxium is 5000.\n\nThe `side` field in the response indicates the taker side of the trade.\n\n### Example\n\n```http\nGET /trades?market=BTC-USD-PERP\u0026page_size=100\n```\n\nThis endpoint supports cursor-based pagination for efficiently traversing large\nresult sets.\n",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Trades"
                ],
                "summary": "Trade tape",
                "operationId": "trades",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Returns the ‘next’ paginated page.",
                        "name": "cursor",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "End Time (unix time millisecond)",
                        "name": "end_at",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "BTC-USD-PERP",
                        "description": "Market name",
                        "name": "market",
                        "in": "query",
                        "required": true
                    },
                    {
                        "maximum": 5000,
                        "minimum": 1,
                        "type": "integer",
                        "default": 100,
                        "description": "Limit the number of responses in the page",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Start Time (unix time millisecond)",
                        "name": "start_at",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/responses.PaginatedAPIResults"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "results": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/responses.TradeResult"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ApiError"
                        }
                    }
                }
            }
        },
        "/transactions": {
            "get": {
                "security": [
                    {
                        "BearerToken": []
                    }
                ],
                "description": "Retrieves a list of transactions initiated by the user\n",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Account"
                ],
                "summary": "List transactions",
                "operationId": "transactions",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Returns the ‘next’ paginated page.",
                        "name": "cursor",
                        "in": "query"
                    },
[...]
