@import "~@blueprintjs/core/lib/scss/variables";
@import "../../variables";

.container {
    display: flex;
    flex-direction: column;
}

.title {
    position: relative;
    display: flex;
    align-items: flex-end;
    gap: 5px;
    font-weight: 600;

    .key {
        font-size: 13px;
    }
}

.dash {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: -16px;
    width: 10px;
    height: 1px;
    background-color: $type-definition-tree-color;
}

.docs {
    grid-area: docs;
    color: $pt-text-color-muted;
    margin-top: 5px;
}

.children {
    grid-area: children;
    margin-top: 10px;
}
