name: Fern Check

on:
  pull_request:
  push:
    branches: [main]

jobs:
  fern-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install fern
        run: npm install -g fern-api
      - name: fern check
        run: fern check
