@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    a,
    .prose a,
    a:hover,
    .prose a:hover {
        @apply text-accentPrimary;

        text-decoration: underline;
    }

    a,
    .prose a {
        text-decoration: none;
    }
}
