imports:
  commons: commons.yml
  types: types.yml
  examples: examples.yml
  pagination: pagination.yml
  source: source.yml
  variables: variables.yml
  auth: auth.yml

types:
  HttpServiceSchema:
    extends:
      - commons.DeclarationWithoutDocsSchema
      - commons.WithDisplayName
    properties:
      auth: boolean
      url: optional<string>
      base-path: string
      path-parameters: optional<map<string, types.TypeReferenceSchema>>
      idempotent: optional<boolean>
      headers: optional<map<string, types.TypeReferenceSchema>>
      transport: optional<ServiceTransport>
      source: optional<source.SourceSchema>
      endpoints: map<string, HttpEndpointSchema>

  ServiceTransport:
    properties:
      grpc: optional<GrpcTransport>

  GrpcTransport:
    properties:
      service-name:
        type: string
        docs: "The name of the gRPC service."

  HttpEndpointSchema:
    extends:
      - commons.WithDisplayName
      - commons.DeclarationSchema
    properties:
      method: optional<HttpMethodSchema>
      base-path: optional<string>
      path: string
      url: optional<string>
      path-parameters: optional<map<string, HttpPathParameterSchema>>
      auth: optional<HttpEndpointAuth>
      idempotent: optional<boolean>
      stream-condition: optional<string>
      request: optional<HttpRequest>
      response:
        type: optional<HttpResponseSchema>
        docs: |
          DEPRECATED: Use 'responses' instead. This field will be removed in a future version.
          Single response type for the endpoint.
      responses:
        type: optional<HttpResponses>
        docs: |
          Response type(s) for the endpoint. Can be a single response or a list of responses
          with different status codes. When a response is just a string, it's assumed to be a 200.
          Only one 200 is allowed, and every status code in the list must be unique.
      response-stream: optional<HttpResponseStreamSchema>
      errors: optional<ResponseErrorsSchema>
      examples: optional<list<examples.ExampleEndpointCallSchema>>
      pagination: optional<Pagination>
      transport: optional<ServiceTransport>
      source: optional<source.SourceSchema>
      retries: optional<RetriesConfiguration>

  HttpEndpointAuth:
    discriminated: false
    union:
      - boolean
      - HttpEndpointSecurity

  HttpEndpointSecurity:
    type: list<HttpEndpointSecurityItem>
    docs: |
      A list of auth scheme collections. 
      To satisfy the security requirements, the caller must satisfy at least one collection of schemes.

  HttpEndpointSecurityItem:
    type: map<auth.AuthSchemeKey, list<auth.AuthScope>>
    docs: A collection of auth schemes that all need to be satisfied for the endpoint.

  RetriesConfiguration:
    discriminated: false
    union:
      - RetriesDisabledSchema

  RetriesDisabledSchema:
    properties:
      disabled: optional<boolean>

  HttpMethodSchema:
    enum:
      - GET
      - POST
      - PUT
      - PATCH
      - DELETE
      - HEAD

  HttpRequest:
    discriminated: false
    union:
      - string
      - HttpRequestSchema

  HttpRequestSchema:
    extends:
      - commons.WithName
      - commons.WithDocsSchema
    properties:
      content-type: optional<string>
      path-parameters: optional<map<string, HttpPathParameterSchema>>
      query-parameters: optional<map<string, HttpQueryParameterSchema>>
      headers: optional<map<string, HttpHeaderSchema>>
      body: optional<HttpRequestBodySchema>

  TypeReferenceDeclarationWithEnvOverride:
    discriminated: false
    union:
      - string
      - TypeReferenceDeclarationWithEnvOverrideSchema

  TypeReferenceDeclarationWithEnvOverrideSchema:
    extends: types.TypeReferenceDeclarationWithName
    properties:
      env: optional<string>

  HttpHeaderSchema: TypeReferenceDeclarationWithEnvOverride

  HttpRequestBodySchema:
    discriminated: false
    union:
      - string
      - HttpReferencedRequestBodySchema
      - HttpInlineRequestBodySchema

  HttpReferencedRequestBodySchema:
    extends:
      - commons.WithDocsSchema
    properties:
      type: string

  HttpInlineRequestBodySchema:
    properties:
      extends: optional<types.ObjectExtendsSchema>
      extra-properties: optional<boolean>
      properties: optional<map<string, HttpInlineRequestBodyPropertySchema>>

  HttpInlineRequestBodyPropertySchema:
    discriminated: false
    union:
      - string
      - HttpInlineFileRequestBodyPropertySchema

  HttpInlineFileRequestBodyPropertySchema:
    extends: types.TypeReferenceDeclarationWithName
    properties:
      style:
        type: optional<FormDataBodyEncodingStyle>
        docs: Defaults to json encoding
      content-type: optional<string>

  FormDataBodyEncodingStyle:
    enum:
      - json
      - exploded
      - form

  HttpQueryParameterSchema:
    discriminated: false
    union:
      - string
      - QueryParameterTypeReferenceDetailed

  QueryParameterTypeReferenceDetailed:
    extends:
      - types.TypeReferenceDeclarationWithName
    properties:
      allow-multiple: optional<boolean>

  HttpResponseSchema:
    discriminated: false
    union:
      - string
      - HttpResponseSchemaDetailed

  HttpResponseSchemaDetailed:
    extends:
      - commons.WithDocsSchema
    properties:
      type: optional<string>
      property: optional<string>
      status-code: optional<integer>

  HttpResponses:
    discriminated: false
    docs: |
      Response type(s) for the endpoint. Can be a single response or a list of responses
      with different status codes.
    union:
      - HttpResponseSchema
      - list<HttpResponseSchema>

  HttpResponseStreamSchema:
    discriminated: false
    union:
      - string
      - HttpResponseStreamSchemaDetailed

  HttpResponseStreamSchemaDetailed:
    extends:
      - commons.WithDocsSchema
    properties:
      type: string
      format: optional<StreamFormat>
      terminator: optional<string>

  StreamFormat:
    enum:
      - sse
      - json

  HttpPathParameterSchema:
    discriminated: false
    union:
      - types.TypeReferenceSchema
      - variables.VariableReferenceSchema

  Pagination:
    discriminated: false
    union:
      - pagination.PaginationSchema
      - boolean

  ResponseErrorsSchema:
    type: list<ResponseError>

  ResponseError:
    discriminated: false
    union:
      - string
      - ResponseErrorWithDocsSchema

  ResponseErrorWithDocsSchema:
    extends:
      - commons.WithDocsSchema
    properties:
      error: string
