{
  "openapi": "3.1.0",
  "info": {
    "title": "Main",
    "version": "2023-01-05"
  },
  "servers": [
    {
      "url": "https://withpersona.com/api/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "x-bearer-format": "bearer"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/inquiries/{inquiry-id}/resume": {
      "post": {
        "summary": "Resume an Inquiry",
        "description": "Creates a new inquiry session and returns `meta.session-token`. If the inquiry's status is `expired`, changes the status to `pending`. The `session-token` must be included when loading the inquiry flow if the inquiry's status is `pending`. For more information, see [Resuming Inquiries](https://docs.withpersona.com/docs/inquiries-resuming-inquiries).",
        "operationId": "resume-an-inquiry",
        "parameters": [
          {
            "name": "inquiry-id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "Key-Inflection",
            "in": "header",
            "description": "Determines casing for the API response",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Ensures the request is idempotent",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": {\n    \"type\": \"inquiry\",\n    \"id\": \"inq_zEx4jL84ShbUyuwX6AzPSqt6\",\n    \"attributes\": {\n      \"status\": \"completed\",\n      \"subject\": null,\n      \"reference-id\": null,\n      \"created-at\": \"2019-11-15T05:27:24.000Z\",\n      \"completed-at\": \"2019-11-15T05:28:02.000Z\",\n      \"expired-at\": null\n    },\n    \"relationships\": {\n      \"account\": {\n        \"data\": {\n          \"type\": \"account\",\n          \"id\": \"act_n2uq9eKMboaCQzu9ALWYcVdN\"\n        }\n      },\n      \"template\": {\n        \"data\": {\n          \"type\": \"template\",\n          \"id\": \"tmpl_DyLDeD3ftjxuMstYTvgwPX5f\"\n        }\n      },\n      \"reports\": {\n        \"data\": []\n      },\n      \"verifications\": {\n        \"data\": [\n          {\n            \"type\": \"verification/database\",\n            \"id\": \"ver_uHDiwtcx3htjajvEaeMjPQcE\"\n          }\n        ]\n      }\n    }\n  },\n  \"meta\": {\n    \"session-token\": \"eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJpcXNlX1Q4UHJxcG9FaHdoVVYxd0hSZXVVOW9mcyIsImF1ZCI6InBlcnNvbmEtdmVyaWZ5IiwiaXNzIjoic3RhZ2luZy53aXRocGVyc29uYS5jb20iLCJpYXQiOjE1NzM4NTI2NjEsIm5iZiI6MTU3Mzg1MjY2MSwiZXhwIjoxNTczOTM5MDYxLCJqdGkiOiI5NWRlNjhkOS1hZjI4LTRiMzItOWIxYi03MjA4MTg3NTI3N2IiLCJzaWQiOiJpcXNlX1Q4UHJxcG9FaHdoVVYxd0hSZXVVOW9mcyJ9.LN6DEnfjP5cZoZ3w41RgyX5QVmutmjHja_bRHOmDjg0\"\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "inquiry"
                        },
                        "id": {
                          "type": "string",
                          "example": "inq_zEx4jL84ShbUyuwX6AzPSqt6"
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "status": {
                              "type": "string",
                              "example": "completed"
                            },
                            "subject": {},
                            "reference-id": {},
                            "created-at": {
                              "type": "string",
                              "example": "2019-11-15T05:27:24.000Z"
                            },
                            "completed-at": {
                              "type": "string",
                              "example": "2019-11-15T05:28:02.000Z"
                            },
                            "expired-at": {}
                          }
                        },
                        "relationships": {
                          "type": "object",
                          "properties": {
                            "account": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "account"
                                    },
                                    "id": {
                                      "type": "string",
                                      "example": "act_n2uq9eKMboaCQzu9ALWYcVdN"
                                    }
                                  }
                                }
                              }
                            },
                            "template": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "template"
                                    },
                                    "id": {
                                      "type": "string",
                                      "example": "tmpl_DyLDeD3ftjxuMstYTvgwPX5f"
                                    }
                                  }
                                }
                              }
                            },
                            "reports": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "array"
                                }
                              }
                            },
                            "verifications": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "example": "verification/database"
                                      },
                                      "id": {
                                        "type": "string",
                                        "example": "ver_uHDiwtcx3htjajvEaeMjPQcE"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "session-token": {
                          "type": "string",
                          "example": "eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJpcXNlX1Q4UHJxcG9FaHdoVVYxd0hSZXVVOW9mcyIsImF1ZCI6InBlcnNvbmEtdmVyaWZ5IiwiaXNzIjoic3RhZ2luZy53aXRocGVyc29uYS5jb20iLCJpYXQiOjE1NzM4NTI2NjEsIm5iZiI6MTU3Mzg1MjY2MSwiZXhwIjoxNTczOTM5MDYxLCJqdGkiOiI5NWRlNjhkOS1hZjI4LTRiMzItOWIxYi03MjA4MTg3NTI3N2IiLCJzaWQiOiJpcXNlX1Q4UHJxcG9FaHdoVVYxd0hSZXVVOW9mcyJ9.LN6DEnfjP5cZoZ3w41RgyX5QVmutmjHja_bRHOmDjg0"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"errors\": [\n    {\n      \"status\": 404,\n      \"title\": \"Record not found\"\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "integer",
                            "example": 404,
                            "default": 0
                          },
                          "title": {
                            "type": "string",
                            "example": "Record not found"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/inquiries/{inquiry-id}": {
      "delete": {
        "summary": "Redact an Inquiry",
        "description": "Permanently deletes personally identifiable information (PII) for an Inquiry and all associated Verifications and Reports. This action cannot be undone. \n\nThis endpoint can be used to comply with privacy regulations such as GDPR / CCPA or to enforce data privacy.",
        "operationId": "redact-an-inquiry",
        "parameters": [
          {
            "name": "inquiry-id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "Key-Inflection",
            "in": "header",
            "description": "Determines casing for the API response",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": {\n    \"type\": \"inquiry\",\n    \"id\": \"inq_zEx4jL84ShbUyuwX6AzPSqt6\",\n    \"attributes\": {\n      \"status\": \"approved\",\n      \"subject\": null,\n      \"reference-id\": null,\n      \"created-at\": \"2019-11-15T05:27:24.000Z\",\n      \"completed-at\": \"2019-11-15T05:28:02.000Z\",\n      \"expired-at\": null\n    },\n    \"relationships\": {\n      \"account\": {\n        \"data\": {\n          \"type\": \"account\",\n          \"id\": \"act_n2uq9eKMboaCQzu9ALWYcVdN\"\n        }\n      },\n      \"template\": {\n        \"data\": {\n          \"type\": \"template\",\n          \"id\": \"tmpl_DyLDeD3ftjxuMstYTvgwPX5f\"\n        }\n      },\n      \"reports\": {\n        \"data\": []\n      },\n      \"verifications\": {\n        \"data\": [\n          {\n            \"type\": \"verification/database\",\n            \"id\": \"ver_uHDiwtcx3htjajvEaeMjPQcE\"\n          }\n        ]\n      }\n    }\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "inquiry"
                        },
                        "id": {
                          "type": "string",
                          "example": "inq_zEx4jL84ShbUyuwX6AzPSqt6"
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "status": {
                              "type": "string",
                              "example": "approved"
                            },
                            "subject": {},
                            "reference-id": {},
                            "created-at": {
                              "type": "string",
                              "example": "2019-11-15T05:27:24.000Z"
                            },
                            "completed-at": {
                              "type": "string",
                              "example": "2019-11-15T05:28:02.000Z"
                            },
                            "expired-at": {}
                          }
                        },
                        "relationships": {
                          "type": "object",
                          "properties": {
                            "account": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "account"
                                    },
                                    "id": {
                                      "type": "string",
                                      "example": "act_n2uq9eKMboaCQzu9ALWYcVdN"
                                    }
                                  }
                                }
                              }
                            },
                            "template": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "template"
                                    },
                                    "id": {
                                      "type": "string",
                                      "example": "tmpl_DyLDeD3ftjxuMstYTvgwPX5f"
                                    }
                                  }
                                }
                              }
                            },
                            "reports": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "array"
                                }
                              }
                            },
                            "verifications": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "example": "verification/database"
                                      },
                                      "id": {
                                        "type": "string",
                                        "example": "ver_uHDiwtcx3htjajvEaeMjPQcE"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "get": {
        "summary": "Retrieve an Inquiry",
        "description": "Retrieves the details of an inquiry that has previously been created.\n\nIn the [Embedded Flow](doc:embedded-flow), the `inquiry-id` is the first parameter of the onStart callback. In the [Hosted Flow](doc:hosted-flow), the `inquiry-id` is a query parameter in the onComplete callback.",
        "operationId": "retrieve-an-inquiry",
        "parameters": [
          {
            "name": "inquiry-id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "Key-Inflection",
            "in": "header",
            "description": "Determines casing for the API response",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": {\n    \"type\": \"inquiry\",\n    \"id\": \"inq_zEx4jL84ShbUyuwX6AzPSqt6\",\n    \"attributes\": {\n      \"status\": \"completed\",\n      \"reference-id\": null,\n      \"behaviours\": {\n        \"request-spoof-attempts\": 0,\n        \"user-agent-spoof-attempts\": 0,\n        \"distraction-events\": 0,\n        \"hesitation-baseline\": 19860,\n        \"hesitation-count\": 1,\n        \"hesitation-time\": 12975,\n        \"shortcut-copies\": 0,\n        \"shortcut-pastes\": 0,\n        \"autofill-cancels\": 29,\n        \"autofill-starts\": 0,\n        \"devtools-open\": false,\n        \"completion-time\": 28.62633237,\n        \"hesitation-percentage\": 65.33232628398792,\n        \"behavior-threat-level\": \"low\"\n      },\n      \"tags\": [\n        \"XYZ_CAMPAIGN\"\n      ],\n      \"creator\": \"API\",\n      \"reviewer-comment\": null,\n      \"created-at\": \"2019-11-15T05:27:24.000Z\",\n      \"started-at\": \"2019-11-15T05:27:46.000Z\",\n      \"completed-at\": \"2019-11-15T05:28:02.000Z\",\n      \"failed-at\": null,\n      \"marked-for-review-at\": null,\n      \"decisioned-at\": null,\n      \"expired-at\": null,\n      \"redacted-at\": null,\n      \"previous-step-name\": \"database_collection_form\",\n      \"next-step-name\": \"success\",\n      \"fields\": {\n        \"name-first\": {\n          \"type\": \"string\",\n          \"value\": \"John\"\n        },\n        \"name-last\": {\n          \"type\": \"string\",\n          \"value\": \"Doe\"\n        }\n      }\n    },\n    \"relationships\": {\n      \"account\": {\n        \"data\": {\n          \"type\": \"account\",\n          \"id\": \"act_n2uq9eKMboaCQzu9ALWYcVdN\"\n        }\n      },\n      \"template\": {\n        \"data\": {\n          \"type\": \"template\",\n          \"id\": \"tmpl_DyLDeD3ftjxuMstYTvgwPX5f\"\n        }\n      },\n      \"reports\": {\n        \"data\": []\n      },\n      \"verifications\": {\n        \"data\": [\n          {\n            \"type\": \"verification/basic\",\n            \"id\": \"ver_uHDiwtcx3htjajvEaeMjPQcE\"\n          }\n        ]\n      },\n      \"sessions\": {\n        \"data\": [\n          {\n            \"type\": \"session\",\n            \"id\": \"iqse_ov4ftVuCYm8U7rNkZADFpiBg\"\n          }\n        ]\n      }\n    }\n  },\n  \"included\": [\n    {\n      \"type\": \"verification/database\",\n      \"id\": \"ver_uHDiwtcx3htjajvEaeMjPQcE\",\n      \"attributes\": {\n        \"status\": \"passed\",\n        \"created-at\": \"2019-11-15T05:27:59.000Z\",\n        \"completed-at\": \"2019-11-15T05:28:02.000Z\",\n        \"country-code\": \"US\",\n        \"name-first\": \"Rickilus\",\n        \"name-middle\": null,\n        \"name-last\": \"Smith\",\n        \"address-street-1\": \"1234 St\",\n        \"address-street-2\": null,\n        \"address-city\": \"San Francisco\",\n        \"address-subdivision\": \"California\",\n        \"address-postal-code\": \"94000\",\n        \"birthdate\": \"1990-01-01\"\n      }\n    },\n    {\n      \"type\": \"inquiry-session\",\n    \t\"id\": \"iqse_ueCQP8wmydueLgbsgSVCzt3J\",\n    \t\"attributes\": {\n        \"status\": \"active\",\n        \"created-at\": \"2019-11-15T05:27:59.000Z\",\n        \"ip-address\": \"2603:9000:8507:1f2e:d23:b50d:a31e:ce30\",\n        \"browser-name\": \"Mobile Safari\",\n        \"browser-full-version\": \"13.0.4\",\n        \"os-name\": \"iOS\",\n        \"os-full-version\": \"13.3\",\n        \"device-name\": \"iPhone\",\n        \"device-type\": \"smartphone\"\n      },\n      \"relationships\": {\n        \"inquiry\":  {\n          \"data\": {\n            \"type\": \"inquiry\",\n            \"id\": \"inq_rfWJxnYSa725XAQswNwpLubP\"\n          }\n        }\n      }\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "inquiry"
                        },
                        "id": {
                          "type": "string",
                          "example": "inq_zEx4jL84ShbUyuwX6AzPSqt6"
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "status": {
                              "type": "string",
                              "example": "completed"
                            },
                            "reference-id": {},
                            "behaviours": {
                              "type": "object",
                              "properties": {
                                "request-spoof-attempts": {
                                  "type": "integer",
                                  "example": 0,
                                  "default": 0
                                },
                                "user-agent-spoof-attempts": {
                                  "type": "integer",
                                  "example": 0,
                                  "default": 0
                                },
                                "distraction-events": {
                                  "type": "integer",
                                  "example": 0,
                                  "default": 0
                                },
                                "hesitation-baseline": {
                                  "type": "integer",
                                  "example": 19860,
                                  "default": 0
                                },
                                "hesitation-count": {
                                  "type": "integer",
                                  "example": 1,
                                  "default": 0
                                },
                                "hesitation-time": {
                                  "type": "integer",
                                  "example": 12975,
                                  "default": 0
                                },
                                "shortcut-copies": {
                                  "type": "integer",
                                  "example": 0,
                                  "default": 0
                                },
                                "shortcut-pastes": {
                                  "type": "integer",
                                  "example": 0,
                                  "default": 0
                                },
                                "autofill-cancels": {
                                  "type": "integer",
                                  "example": 29,
                                  "default": 0
                                },
                                "autofill-starts": {
                                  "type": "integer",
                                  "example": 0,
                                  "default": 0
                                },
                                "devtools-open": {
                                  "type": "boolean",
                                  "example": false,
                                  "default": true
                                },
                                "completion-time": {
                                  "type": "number",
                                  "example": 28.62633237,
                                  "default": 0
                                },
                                "hesitation-percentage": {
                                  "type": "number",
                                  "example": 65.33232628398792,
                                  "default": 0
                                },
                                "behavior-threat-level": {
                                  "type": "string",
                                  "example": "low"
                                }
                              }
                            },
                            "tags": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "example": "XYZ_CAMPAIGN"
                              }
                            },
                            "creator": {
                              "type": "string",
                              "example": "API"
                            },
                            "reviewer-comment": {},
                            "created-at": {
                              "type": "string",
                              "example": "2019-11-15T05:27:24.000Z"
                            },
                            "started-at": {
                              "type": "string",
                              "example": "2019-11-15T05:27:46.000Z"
                            },
                            "completed-at": {
                              "type": "string",
                              "example": "2019-11-15T05:28:02.000Z"
                            },
                            "failed-at": {},
                            "marked-for-review-at": {},
                            "decisioned-at": {},
                            "expired-at": {},
                            "redacted-at": {},
                            "previous-step-name": {
                              "type": "string",
                              "example": "database_collection_form"
                            },
                            "next-step-name": {
                              "type": "string",
                              "example": "success"
                            },
                            "fields": {
                              "type": "object",
                              "properties": {
                                "name-first": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    },
                                    "value": {
                                      "type": "string",
                                      "example": "John"
                                    }
                                  }
                                },
                                "name-last": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    },
                                    "value": {
                                      "type": "string",
                                      "example": "Doe"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "relationships": {
                          "type": "object",
                          "properties": {
                            "account": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "account"
                                    },
                                    "id": {
                                      "type": "string",
                                      "example": "act_n2uq9eKMboaCQzu9ALWYcVdN"
                                    }
                                  }
                                }
                              }
                            },
                            "template": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "template"
                                    },
                                    "id": {
                                      "type": "string",
                                      "example": "tmpl_DyLDeD3ftjxuMstYTvgwPX5f"
                                    }
                                  }
                                }
                              }
                            },
                            "reports": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "array"
                                }
                              }
                            },
                            "verifications": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "example": "verification/basic"
                                      },
                                      "id": {
                                        "type": "string",
                                        "example": "ver_uHDiwtcx3htjajvEaeMjPQcE"
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "sessions": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "example": "session"
                                      },
                                      "id": {
                                        "type": "string",
                                        "example": "iqse_ov4ftVuCYm8U7rNkZADFpiBg"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "example": "verification/database"
                          },
                          "id": {
                            "type": "string",
                            "example": "ver_uHDiwtcx3htjajvEaeMjPQcE"
                          },
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "status": {
                                "type": "string",
                                "example": "passed"
                              },
                              "created-at": {
                                "type": "string",
                                "example": "2019-11-15T05:27:59.000Z"
                              },
                              "completed-at": {
                                "type": "string",
                                "example": "2019-11-15T05:28:02.000Z"
                              },
                              "country-code": {
                                "type": "string",
                                "example": "US"
                              },
                              "name-first": {
                                "type": "string",
                                "example": "Rickilus"
                              },
                              "name-middle": {},
                              "name-last": {
                                "type": "string",
                                "example": "Smith"
                              },
                              "address-street-1": {
                                "type": "string",
                                "example": "1234 St"
                              },
                              "address-street-2": {},
                              "address-city": {
                                "type": "string",
                                "example": "San Francisco"
                              },
                              "address-subdivision": {
                                "type": "string",
                                "example": "California"
                              },
                              "address-postal-code": {
                                "type": "string",
                                "example": "94000"
                              },
                              "birthdate": {
                                "type": "string",
                                "example": "1990-01-01"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"errors\": [\n    {\n      \"status\": 404,\n      \"title\": \"Record not found\"\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "integer",
                            "example": 404,
                            "default": 0
                          },
                          "title": {
                            "type": "string",
                            "example": "Record not found"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "patch": {
        "summary": "Update an Inquiry",
        "description": "Updates an existing inquiry.",
        "operationId": "update-an-inquiry",
        "parameters": [
          {
            "name": "Key-Inflection",
            "in": "header",
            "description": "Determines casing for the API response",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "inquiry-id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["data"],
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "identification-number": {
                            "type": "string",
                            "description": "Identification numbers, i.e. SSN",
                            "default": "1231231234"
                          },
                          "locale": {
                            "type": "string"
                          },
                          "selected-country-code": {
                            "type": "string"
                          },
                          "name-first": {
                            "type": "string"
                          },
                          "name-middle": {
                            "type": "string"
                          },
                          "name-last": {
                            "type": "string"
                          },
                          "birthdate": {
                            "type": "string",
                            "description": "Use the following format: YYYY-MM-DD"
                          },
                          "email-address": {
                            "type": "string"
                          },
                          "phone-number": {
                            "type": "string"
                          },
                          "address-street-1": {
                            "type": "string"
                          },
                          "address-street-2": {
                            "type": "string"
                          },
                          "address-city": {
                            "type": "string"
                          },
                          "address-subdivision": {
                            "type": "string"
                          },
                          "address-postal-code": {
                            "type": "string"
                          },
                          "note": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": {\n    \"type\": \"inquiry\",\n    \"id\": \"inq_zEx4jL84ShbUyuwX6AzPSqt6\",\n    \"attributes\": {\n      \"status\": \"completed\",\n      \"subject\": null,\n      \"reference-id\": null,\n      \"created-at\": \"2019-11-15T05:27:24.000Z\",\n      \"completed-at\": \"2019-11-15T05:28:02.000Z\",\n      'identification-number': '1231231234',\n    },\n    \"relationships\": {\n      \"account\": {\n        \"data\": {\n          \"type\": \"account\",\n          \"id\": \"act_n2uq9eKMboaCQzu9ALWYcVdN\"\n        }\n      },\n      \"template\": {\n        \"data\": {\n          \"type\": \"template\",\n          \"id\": \"tmpl_DyLDeD3ftjxuMstYTvgwPX5f\"\n        }\n      },\n      \"reports\": {\n        \"data\": []\n      },\n      \"verifications\": {\n        \"data\": [\n          {\n            \"type\": \"verification/database\",\n            \"id\": \"ver_uHDiwtcx3htjajvEaeMjPQcE\"\n          }\n        ]\n      }\n    }\n  }\n}"
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"errors\": [\n    {\n      \"status\": 404,\n      \"title\": \"Record not found\"\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "integer",
                            "example": 404,
                            "default": 0
                          },
                          "title": {
                            "type": "string",
                            "example": "Record not found"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/reports/{report-id}": {
      "get": {
        "summary": "Retrieve a Report",
        "description": "Retrieve the details of a Report.",
        "operationId": "retrieve-a-report",
        "parameters": [
          {
            "name": "report-id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "Key-Inflection",
            "in": "header",
            "description": "Determines casing for the API response",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": {\n    \"type\": \"report/profile\",\n    \"id\": \"rep_NELm1PRn1oKpRnJEMyY6rDZr\",\n    \"attributes\": {\n      \"status\": \"ready\",\n      \"created-at\": \"2019-11-15T21:32:36.000Z\",\n      \"completed-at\": \"2019-11-15T21:32:36.000Z\",\n      \"name-first\": \"Alexander\",\n      \"name-last\": \"Sample\",\n      \"birthdate\": \"1977-07-17\",\n      \"address-street-1\": \"600 California St\",\n      \"address-street-2\": null,\n      \"address-city\": \"San Francisco\",\n      \"address-subdivision\": \"California\",\n      \"address-subdivision-abbr\": \"CA\",\n      \"address-postal-code\": \"941090000\",\n      \"address-postal-code-abbr\": \"94109\"\n    }\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "report/profile"
                        },
                        "id": {
                          "type": "string",
                          "example": "rep_NELm1PRn1oKpRnJEMyY6rDZr"
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "status": {
                              "type": "string",
                              "example": "ready"
                            },
                            "created-at": {
                              "type": "string",
                              "example": "2019-11-15T21:32:36.000Z"
                            },
                            "completed-at": {
                              "type": "string",
                              "example": "2019-11-15T21:32:36.000Z"
                            },
                            "name-first": {
                              "type": "string",
                              "example": "Alexander"
                            },
                            "name-last": {
                              "type": "string",
                              "example": "Sample"
                            },
                            "birthdate": {
                              "type": "string",
                              "example": "1977-07-17"
                            },
                            "address-street-1": {
                              "type": "string",
                              "example": "600 California St"
                            },
                            "address-street-2": {},
                            "address-city": {
                              "type": "string",
                              "example": "San Francisco"
                            },
                            "address-subdivision": {
                              "type": "string",
                              "example": "California"
                            },
                            "address-subdivision-abbr": {
                              "type": "string",
                              "example": "CA"
                            },
                            "address-postal-code": {
                              "type": "string",
                              "example": "941090000"
                            },
                            "address-postal-code-abbr": {
                              "type": "string",
                              "example": "94109"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "summary": "Redact a Report",
        "description": "Permanently deletes personally identifiable information (PII) for a Report.\n\nThis endpoint can be used to comply with privacy regulations such as GDPR / CCPA or to enforce data privacy.\n\nNote that this will only delete the report -- it does not delete associated accounts, inquiries, or verifications.",
        "operationId": "redact-a-report",
        "parameters": [
          {
            "name": "report-id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "Persona-Version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "2020-01-13"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"data\": {\n        \"type\": \"report/adverse-media\",\n        \"id\": \"rep_Y3EkuErqnYjc8DCPfYEACwiJ\",\n        \"attributes\": {\n            \"status\": \"ready\",\n            \"created-at\": \"2022-03-16T18:57:08.000Z\",\n            \"completed-at\": \"2022-03-16T18:57:09.000Z\",\n            \"redacted-at\": \"2022-03-17T15:26:14.000Z\",\n            \"report-template-version-name\": \"v5\",\n            \"result\": []\n        }\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "report/adverse-media"
                        },
                        "id": {
                          "type": "string",
                          "example": "rep_Y3EkuErqnYjc8DCPfYEACwiJ"
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "status": {
                              "type": "string",
                              "example": "ready"
                            },
                            "created-at": {
                              "type": "string",
                              "example": "2022-03-16T18:57:08.000Z"
                            },
                            "completed-at": {
                              "type": "string",
                              "example": "2022-03-16T18:57:09.000Z"
                            },
                            "redacted-at": {
                              "type": "string",
                              "example": "2022-03-17T15:26:14.000Z"
                            },
                            "report-template-version-name": {
                              "type": "string",
                              "example": "v5"
                            },
                            "result": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/verifications/{verification-id}": {
      "get": {
        "summary": "Retrieve a Verification",
        "description": "Retrieve the details of a specific Verification",
        "operationId": "retrieve-a-verification",
        "parameters": [
          {
            "name": "verification-id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "Key-Inflection",
            "in": "header",
            "description": "Determines casing for the API response",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": {\n    \"type\": \"verification/driver-license\",\n    \"id\": \"ver_7f6w4qu7KK7gjjtgp7nAixHd\",\n    \"attributes\": {\n      \"status\": \"passed\",\n      \"created-at\": \"2019-11-15T21:24:24.000Z\",\n      \"completed-at\": \"2019-11-15T21:24:28.000Z\",\n      \"country-code\": \"US\",\n      \"entity-confidence-score\": 100,\n      \"entity-confidence-reasons\": [],\n      \"front-photo-url\": \"https://withpersona.com/api/v1/verifications/ver_7f6w4qu7KK7gjjtgp7nAixHd/files/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBbmtMIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--24825f97b630f38fd87d87088a82d979303bf200/ActiveStorage-2935-20191115-7-b18wch.jpg\",\n      \"back-photo-url\": null,\n      \"selfie-photo-url\": null,\n      \"id-class\": \"dl\",\n      \"capture-method\": \"upload\",\n      \"name-first\": \"Rickilus\",\n      \"name-middle\": null,\n      \"name-last\": \"Smith\",\n      \"birthdate\": \"1990-01-01\",        \n      \"address-street-1\": \"1234 St\",\n      \"address-street-2\": null,\n      \"address-city\": \"San Francisco\",\n      \"address-subdivision\": \"California\",\n      \"address-postal-code\": \"94000\",\n      \"issuing-authority\": null,\n      \"issue-date\": \"2020-01-01\",\n      \"expiration-date\": \"2025-01-01\",\n      \"sex\": \"M\",\n      \"height\": \"7'0\",\n      \"endorsements\": null,\n      \"restrictions\": null,\n      \"vehicle-class\": null,\n      \"driver-license-number\": \"X1111111\",\n      \"checks\": [\n      \t0: {\n          \"name\": \"id_barcode_detection\",\n          \"status\": \"passed\",\n          \"reasons\": []\n    \t  }\n    \t]        \n    },\n    \"relationships\": {\n      \"inquiry\":  {\n        \"data\": {\n          \"type\": \"inquiry\",\n            \"id\": \"inq_pAWJxnYSa725XAQswNwpLubP\"\n        }\n      }\n    }\n  }\n}"
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/inquiries/{inquiry-id}/approve": {
      "post": {
        "summary": "Approve an Inquiry",
        "description": "Approves an <<glossary:inquiry>>.\n\nNote that this action will trigger any associated workflows and webhooks.",
        "operationId": "approve-an-inquiry",
        "parameters": [
          {
            "name": "inquiry-id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "Key-Inflection",
            "in": "header",
            "description": "Determines casing for the API response",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Ensures the request is idempotent",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "meta": {
                    "type": "object",
                    "properties": {
                      "comment": {
                        "type": "string",
                        "description": "Comments for auditing purposes"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": {\n    \"type\": \"inquiry\",\n    \"id\": \"inq_zEx4jL84ShbUyuwX6AzPSqt6\",\n    \"attributes\": {\n      \"status\": \"approved\",\n      \"subject\": null,\n      \"reference-id\": null,\n      \"created-at\": \"2019-11-15T05:27:24.000Z\",\n      \"completed-at\": \"2019-11-15T05:28:02.000Z\",\n      \"expired-at\": null\n    },\n    \"relationships\": {\n      \"account\": {\n        \"data\": {\n          \"type\": \"account\",\n          \"id\": \"act_n2uq9eKMboaCQzu9ALWYcVdN\"\n        }\n      },\n      \"template\": {\n        \"data\": {\n          \"type\": \"template\",\n          \"id\": \"tmpl_DyLDeD3ftjxuMstYTvgwPX5f\"\n        }\n      },\n      \"reports\": {\n        \"data\": []\n      },\n      \"verifications\": {\n        \"data\": [\n          {\n            \"type\": \"verification/database\",\n            \"id\": \"ver_uHDiwtcx3htjajvEaeMjPQcE\"\n          }\n        ]\n      }\n    }\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "inquiry"
                        },
                        "id": {
                          "type": "string",
                          "example": "inq_zEx4jL84ShbUyuwX6AzPSqt6"
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "status": {
                              "type": "string",
                              "example": "approved"
                            },
                            "subject": {},
                            "reference-id": {},
                            "created-at": {
                              "type": "string",
                              "example": "2019-11-15T05:27:24.000Z"
                            },
                            "completed-at": {
                              "type": "string",
                              "example": "2019-11-15T05:28:02.000Z"
                            },
                            "expired-at": {}
                          }
                        },
                        "relationships": {
                          "type": "object",
                          "properties": {
                            "account": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "account"
                                    },
                                    "id": {
                                      "type": "string",
                                      "example": "act_n2uq9eKMboaCQzu9ALWYcVdN"
                                    }
                                  }
                                }
                              }
                            },
                            "template": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "template"
                                    },
                                    "id": {
                                      "type": "string",
                                      "example": "tmpl_DyLDeD3ftjxuMstYTvgwPX5f"
                                    }
                                  }
                                }
                              }
                            },
                            "reports": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "array"
                                }
                              }
                            },
                            "verifications": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "example": "verification/database"
                                      },
                                      "id": {
                                        "type": "string",
                                        "example": "ver_uHDiwtcx3htjajvEaeMjPQcE"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"errors\": [\n    {\n      \"status\": 409,\n      \"title\": \"Conflict\",\n      \"details\": \"Inquiry already approved\"\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "integer",
                            "example": 409,
                            "default": 0
                          },
                          "title": {
                            "type": "string",
                            "example": "Conflict"
                          },
                          "details": {
                            "type": "string",
                            "example": "Inquiry already approved"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/inquiries/{inquiry-id}/decline": {
      "post": {
        "summary": "Decline an Inquiry",
        "description": "Declines an <<glossary:inquiry>>.\n\nNote that this action will trigger any associated workflows and webhooks.",
        "operationId": "decline-an-inquiry",
        "parameters": [
          {
            "name": "inquiry-id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "Key-Inflection",
            "in": "header",
            "description": "Determines casing for the API response",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Ensures the request is idempotent",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "meta": {
                    "type": "object",
                    "properties": {
                      "comment": {
                        "type": "string",
                        "description": "Comments for auditing purposes"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": {\n    \"type\": \"inquiry\",\n    \"id\": \"inq_zEx4jL84ShbUyuwX6AzPSqt6\",\n    \"attributes\": {\n      \"status\": \"declined\",\n      \"subject\": null,\n      \"reference-id\": null,\n      \"created-at\": \"2019-11-15T05:27:24.000Z\",\n      \"completed-at\": \"2019-11-15T05:28:02.000Z\",\n      \"expired-at\": null\n    },\n    \"relationships\": {\n      \"account\": {\n        \"data\": {\n          \"type\": \"account\",\n          \"id\": \"act_n2uq9eKMboaCQzu9ALWYcVdN\"\n        }\n      },\n      \"template\": {\n        \"data\": {\n          \"type\": \"template\",\n          \"id\": \"tmpl_DyLDeD3ftjxuMstYTvgwPX5f\"\n        }\n      },\n      \"reports\": {\n        \"data\": []\n      },\n      \"verifications\": {\n        \"data\": [\n          {\n            \"type\": \"verification/database\",\n            \"id\": \"ver_uHDiwtcx3htjajvEaeMjPQcE\"\n          }\n        ]\n      }\n    }\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "inquiry"
                        },
                        "id": {
                          "type": "string",
                          "example": "inq_zEx4jL84ShbUyuwX6AzPSqt6"
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "status": {
                              "type": "string",
                              "example": "declined"
                            },
                            "subject": {},
                            "reference-id": {},
                            "created-at": {
                              "type": "string",
                              "example": "2019-11-15T05:27:24.000Z"
                            },
                            "completed-at": {
                              "type": "string",
                              "example": "2019-11-15T05:28:02.000Z"
                            },
                            "expired-at": {}
                          }
                        },
                        "relationships": {
                          "type": "object",
                          "properties": {
                            "account": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "account"
                                    },
                                    "id": {
                                      "type": "string",
                                      "example": "act_n2uq9eKMboaCQzu9ALWYcVdN"
                                    }
                                  }
                                }
                              }
                            },
                            "template": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "template"
                                    },
                                    "id": {
                                      "type": "string",
                                      "example": "tmpl_DyLDeD3ftjxuMstYTvgwPX5f"
                                    }
                                  }
                                }
                              }
                            },
                            "reports": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "array"
                                }
                              }
                            },
                            "verifications": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "example": "verification/database"
                                      },
                                      "id": {
                                        "type": "string",
                                        "example": "ver_uHDiwtcx3htjajvEaeMjPQcE"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"errors\": [\n    {\n      \"status\": 409,\n      \"title\": \"Conflict\",\n      \"details\": \"Inquiry already declined\"\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "integer",
                            "example": 409,
                            "default": 0
                          },
                          "title": {
                            "type": "string",
                            "example": "Conflict"
                          },
                          "details": {
                            "type": "string",
                            "example": "Inquiry already declined"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/accounts/{account-id}": {
      "get": {
        "summary": "Retrieve an Account",
        "description": "Retrieve the details of an Account that has previously been created.",
        "operationId": "retrieve-an-account",
        "parameters": [
          {
            "name": "account-id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "Key-Inflection",
            "in": "header",
            "description": "Determines casing for the API response",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": {\n    \"type\": \"account\",\n    \"id\": \"act_NN1jBFZu2iLusNFHkU7d58Ui\",\n    \"attributes\": {\n      \"reference-id\": \"user12345\",\n      \"created-at\": \"2019-12-11T18:51:15.000Z\",\n      \"updated-at\": \"2019-12-11T18:51:15.000Z\"\n    }\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "account"
                        },
                        "id": {
                          "type": "string",
                          "example": "act_NN1jBFZu2iLusNFHkU7d58Ui"
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "reference-id": {
                              "type": "string",
                              "example": "user12345"
                            },
                            "created-at": {
                              "type": "string",
                              "example": "2019-12-11T18:51:15.000Z"
                            },
                            "updated-at": {
                              "type": "string",
                              "example": "2019-12-11T18:51:15.000Z"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"errors\": [\n    {\n      \"title\": \"Record not found\"\n    }\n  ]\n}\n"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "example": "Record not found"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "summary": "Redact an Account",
        "description": "Permanently deletes personally identifiable information (PII) for an Account and all associated Inquiries, Verifications and Reports. This action cannot be undone. \n\nThis endpoint can be used to comply with privacy regulations such as GDPR / CCPA or to enforce data privacy.\n\nNote: An account is still updatable after redaction. If you want to delete data continuously, please reach out to us to help you setup a retention policy.",
        "operationId": "redact-an-account",
        "parameters": [
          {
            "name": "account-id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "Persona-Version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "2020-01-13"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\":{\n     \"type\":\"account\",\n     \"id\":\"act_Gryv7cVbF2hDyFLKDhAYcqT9\",\n     \"attributes\":{\n       \"reference-id\":null,\n       \"created-at\":\"2020-04-12T05:08:51.000Z\",\n       \"updated-at\":\"2020-04-13T00:23:57.000Z\",\n       \"name-first\":null,\n       \"name-middle\":null,\n       \"name-last\":null,\n       \"address-street-1\":null,\n       \"address-street-2\":null,\n       \"address-city\":null,\n       \"address-subdivision\":null,\n       \"address-postal-code\":null,\n       \"birthdate\":null,\n       \"social-security-number\":null\n    }\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "account"
                        },
                        "id": {
                          "type": "string",
                          "example": "act_Gryv7cVbF2hDyFLKDhAYcqT9"
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "reference-id": {},
                            "created-at": {
                              "type": "string",
                              "example": "2020-04-12T05:08:51.000Z"
                            },
                            "updated-at": {
                              "type": "string",
                              "example": "2020-04-13T00:23:57.000Z"
                            },
                            "name-first": {},
                            "name-middle": {},
                            "name-last": {},
                            "address-street-1": {},
                            "address-street-2": {},
                            "address-city": {},
                            "address-subdivision": {},
                            "address-postal-code": {},
                            "birthdate": {},
                            "social-security-number": {}
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "patch": {
        "summary": "Update an Account",
        "description": "Updates an existing Account.",
        "operationId": "update-an-account",
        "parameters": [
          {
            "name": "Key-Inflection",
            "in": "header",
            "description": "Determines casing for the API response",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Ensures the request is idempotent",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "account-id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "reference-id": {
                            "type": "string",
                            "description": "Reference ID on Account, refers to an entity in your user model."
                          },
                          "name-first": {
                            "type": "string",
                            "description": "Given or first name."
                          },
                          "name-middle": {
                            "type": "string",
                            "description": "Middle name."
                          },
                          "name-last": {
                            "type": "string",
                            "description": "Family or last name."
                          },
                          "birthdate": {
                            "type": "string",
                            "description": "Birthdate, must be in the format \"YYYY-MM-DD\".",
                            "format": "date"
                          },
                          "address-street-1": {
                            "type": "string",
                            "description": "Street name of residence address."
                          },
                          "address-street-2": {
                            "type": "string",
                            "description": "Extension of residence address, usually apartment or suite number."
                          },
                          "address-city": {
                            "type": "string",
                            "description": "City of residence address. Not all international addresses use this attribute."
                          },
                          "address-subdivision": {
                            "type": "string",
                            "description": "State or subdivision of residence address. In the US, this should be the unabbreviated name. Not all international addresses use this attribute."
                          },
                          "address-postal-code": {
                            "type": "string",
                            "description": "ZIP or postal code of residence address. Not all international addresses use this attribute."
                          },
                          "country-code": {
                            "type": "string",
                            "description": "ISO 3166-1 alpha 2 country code of the government ID to be verified. This is generally their country of residence as well."
                          },
                          "email-address": {
                            "type": "string",
                            "description": "Email address."
                          },
                          "phone-number": {
                            "type": "string",
                            "description": "Phone number."
                          },
                          "social-security-number": {
                            "type": "string",
                            "description": "Social security number."
                          },
                          "tags": {
                            "type": "array",
                            "description": "A list of tag names that are associated to an Account.",
                            "default": [],
                            "items": {
                              "type": "string"
                            }
                          },
                          "selfie-photo": {
                            "type": "object",
                            "description": "Selfie photo.",
                            "properties": {
                              "data": {
                                "type": "object",
                                "description": "Selfie photo data, must be an image. Can also be provided as an uploaded file such as with multipart/form-data requests instead of this object.",
                                "properties": {
                                  "data": {
                                    "type": "string",
                                    "description": "Base64 encoded image"
                                  },
                                  "filename": {
                                    "type": "string",
                                    "description": "Name of the image"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": {\n    \"type\": \"account\",\n    \"id\": \"act_NN1jBFZu2iLusNFHkU7d58Ui\",\n    \"attributes\": {\n      \"reference-id\": \"user12345\",\n      \"created-at\": \"2019-12-11T18:51:15.000Z\",\n      \"updated-at\": \"2019-12-11T18:51:15.000Z\",\n      \"tags\": []\n    }\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "account"
                        },
                        "id": {
                          "type": "string",
                          "example": "act_NN1jBFZu2iLusNFHkU7d58Ui"
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "reference-id": {
                              "type": "string",
                              "example": "user12345"
                            },
                            "created-at": {
                              "type": "string",
                              "example": "2019-12-11T18:51:15.000Z"
                            },
                            "updated-at": {
                              "type": "string",
                              "example": "2019-12-11T18:51:15.000Z"
                            },
                            "tags": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"errors\": [\n    {\n      \"title\": \"Record not unique\",\n      \"details\": \"Record not unique.\"\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "example": "Record not unique"
                          },
                          "details": {
                            "type": "string",
                            "example": "Record not unique."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/inquiries": {
      "post": {
        "summary": "Create an Inquiry",
        "description": "Create a new inquiry with optional pre-filled attributes. \n\nSee [Sessions](doc:inquiry-sessions) for how to continue the inquiry in [Embedded Flow](doc:embedded-flow) or [Hosted Flow](doc:hosted-flow).",
        "operationId": "create-an-inquiry",
        "parameters": [
          {
            "name": "Key-Inflection",
            "in": "header",
            "description": "Determines casing for the API response",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Ensures the request is idempotent",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["data"],
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "template-id": {
                            "type": "string",
                            "description": "Template ID for flow requirements (use this field if your template ID starts with `tmpl_`). *You must pass in either template-id OR inquiry-template-id OR inquiry-template-version-id*"
                          },
                          "inquiry-template-id": {
                            "type": "string",
                            "description": "Template ID for flow requirements (use this field if your template ID starts with `itmpl_`). *You must pass in either template-id OR inquiry-template-id OR inquiry-template-version-id*"
                          },
                          "inquiry-template-version-id": {
                            "type": "string",
                            "description": "Template Version ID for flow requirements (begins with `itmplv_`). *You must pass in either template-id OR inquiry-template-id OR inquiry-template-version-id*"
                          },
                          "theme-id": {
                            "type": "string",
                            "description": "Theme ID for styling"
                          },
                          "account-id": {
                            "type": "string",
                            "description": "Account ID for re-verifications or secure storage"
                          },
                          "reference-id": {
                            "type": "string",
                            "description": "Reference ID on Account, refers to an entity in your user model"
                          },
                          "redirect-uri": {
                            "type": "string",
                            "description": "If using the Hosted flow, redirect to this URL after completion"
                          },
                          "note": {
                            "type": "string",
                            "description": "Unstructured field for your custom use"
                          },
                          "country-code": {
                            "type": "string",
                            "description": "Country code of residence for verification, in ISO 3166 Alpha-2 format."
                          },
                          "fields": {
                            "type": "object",
                            "description": "JSON key-value pairs of field name to field value. <br><br>Common fields include <ul><li>`name-first`</li><li>`name-last`</li><li>`birthdate`</li><li>`address-street-1`</li><li>`address-city`</li><li>`address-subdivision`</li><li>`address-postal-code`</li><li>`address-country-code`</li><li>`phone-number`</li><li>`email-address`</li></ul>",
                            "properties": {
                              "name-first": {
                                "type": "string",
                                "description": "optional",
                                "default": "Ash"
                              },
                              "name-last": {
                                "type": "string",
                                "description": "optional",
                                "default": "Ketchum"
                              },
                              "birthdate": {
                                "type": "string",
                                "description": "optional"
                              },
                              "address-street-1": {
                                "type": "string",
                                "description": "optional"
                              },
                              "address-city": {
                                "type": "string",
                                "description": "optional"
                              },
                              "address-subdivision": {
                                "type": "string",
                                "description": "optional"
                              },
                              "address-postal-code": {
                                "type": "string",
                                "description": "optional"
                              },
                              "address-country-code": {
                                "type": "string",
                                "description": "optional"
                              },
                              "phone-number": {
                                "type": "string",
                                "description": "optional"
                              },
                              "email-address": {
                                "type": "string",
                                "description": "optional"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": {\n    \"type\": \"inquiry\",\n    \"id\": \"inq_zEx4jL84ShbUyuwX6AzPSqt6\",\n    \"attributes\": {\n      \"status\": \"created\",\n      \"subject\": null,\n      \"reference-id\": null,\n      \"created-at\": \"2019-11-15T05:27:24.000Z\",\n      \"completed-at\": null,\n      \"expired-at\": null\n    },\n    \"relationships\": {\n      \"account\": {\n        \"data\": {\n          \"type\": \"account\",\n          \"id\": \"act_n2uq9eKMboaCQzu9ALWYcVdN\"\n        }\n      },\n      \"template\": {\n        \"data\": {\n          \"type\": \"template\",\n          \"id\": \"tmpl_DyLDeD3ftjxuMstYTvgwPX5f\"\n        }\n      },\n      \"reports\": {\n        \"data\": []\n      },\n      \"verifications\": {\n        \"data\": [\n          {\n            \"type\": \"verification/database\",\n            \"id\": \"ver_uHDiwtcx3htjajvEaeMjPQcE\"\n          }\n        ]\n      }\n    }\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "inquiry"
                        },
                        "id": {
                          "type": "string",
                          "example": "inq_zEx4jL84ShbUyuwX6AzPSqt6"
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "status": {
                              "type": "string",
                              "example": "created"
                            },
                            "subject": {},
                            "reference-id": {},
                            "created-at": {
                              "type": "string",
                              "example": "2019-11-15T05:27:24.000Z"
                            },
                            "completed-at": {},
                            "expired-at": {}
                          }
                        },
                        "relationships": {
                          "type": "object",
                          "properties": {
                            "account": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "account"
                                    },
                                    "id": {
                                      "type": "string",
                                      "example": "act_n2uq9eKMboaCQzu9ALWYcVdN"
                                    }
                                  }
                                }
                              }
                            },
                            "template": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "template"
                                    },
                                    "id": {
                                      "type": "string",
                                      "example": "tmpl_DyLDeD3ftjxuMstYTvgwPX5f"
                                    }
                                  }
                                }
                              }
                            },
                            "reports": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "array"
                                }
                              }
                            },
                            "verifications": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "type": {
[...]
