openapi: 3.0.1
info:
  title: no-retries
  version: ''
paths:
  /users:
    get:
      operationId: retries_getUsers
      tags:
        - Retries
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
components:
  schemas:
    User:
      title: User
      type: object
      properties:
        id:
          type: string
        name:
          type: string
      required:
        - id
        - name
  securitySchemes: {}
