@import "~@blueprintjs/core/lib/scss/variables";

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: $white;

    &:global(.#{$ns}-dark) {
        background-color: $black;
    }
}
