@import "~@blueprintjs/core/lib/scss/variables";

.container {
    padding: 0 5vw;
    display: flex;
    min-height: 0;

    &.fill {
        flex: 1;
    }

    &.scrollable {
        overflow: auto;
    }
}

.wrapper {
    flex: 1;
    display: flex;
    min-width: 0;
}

.content {
    max-width: 800px;
    display: flex;

    // .inner's vertical padding is only included in the _block_ axis, so this needs to arrange
    // contently vertically. https://github.com/w3c/csswg-drafts/issues/129#issuecomment-221398848
    flex-direction: column;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.inner {
    flex: 1;
    display: flex;
    min-height: 0;

    &.withVerticalPadding {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}
