@import "~@blueprintjs/core/lib/scss/variables";

.example {
    display: flex;
    flex-direction: column;
}

.divider {
    width: 2px;
    height: 15px;
    background-color: $black;
    margin-left: 10px;
    flex-shrink: 0;
}
