@import "~@blueprintjs/core/lib/scss/variables";

.container {
    flex: 1;
    display: flex;
    min-width: 0;
    gap: 50px;
}

.definition {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.titleSection {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 40px;
}

.title {
    margin-bottom: 0;
}

.description {
    margin-top: 30px;
    color: $pt-text-color-muted;
}

.examples {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: sticky;
    top: 0;
    align-self: flex-start;
    padding-top: 30px;
    min-width: 0;
}
