@import "~@blueprintjs/core/lib/scss/variables";

.example {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - /* vertical padding */ (2 * 30px) - /* header */ 50px);
}

.divider {
    width: 2px;
    height: 15px;
    background-color: $black;
    margin-left: 10px;
    flex-shrink: 0;
}
