@import "~@blueprintjs/core/lib/scss/variables";

.example {
    border-radius: 6px;
    min-height: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .title {
        background-color: $black;
        color: $white;
        padding: 5px;
        font-variant: small-caps;
    }

    .codeBlock {
        overflow-y: auto;

        > pre {
            margin: 0;
        }
    }
}
