@import "~@blueprintjs/core/lib/scss/variables";

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
}

.titleSection {
    display: flex;
    align-items: center;
    gap: 15px;
}

.title {
    margin-bottom: 0;
}

.schema {
    display: flex;
    align-items: center;
    gap: 10px;
}
