@import "~@blueprintjs/core/lib/scss/variables";

$border-color: $gray3;
$border-color-dark: $gray3;
$transition-time: 500ms;

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 5px;
    border-width: 1px;
    border-color: transparent;
    border-bottom-color: rgba($border-color, 0.5);
    border-style: dashed;
    border-radius: $pt-border-radius;
    transition: border-color $transition-time;
    cursor: pointer;
    width: 150px;

    .icon {
        opacity: 0.5;
        transition: opacity $transition-time;
    }

    &:hover,
    &.focused {
        border-color: $border-color;

        .icon {
            opacity: 1;
        }
    }
}

:global(.#{$ns}-dark) {
    .container {
        border-bottom-color: rgba($border-color-dark, 0.5);

        &:hover,
        &.focused {
            border-color: $border-color-dark;
        }
    }
}
