openapi: 3.1.0
info:
  title: multi-url-environment-no-default
  version: 0.0.0
paths:
  /ec2/boot:
    post:
      operationId: ec2_bootinstance
      tags:
        - Ec2
      parameters: []
      responses:
        '204':
          description: No content
      servers:
        - url: https://ec2.aws.com
        - url: https://staging.ec2.aws.com
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                size:
                  type: string
                  example: size
              required:
                - size
            examples:
              Example1:
                value:
                  size: size
  /s3/presigned-url:
    post:
      operationId: s3_getpresignedurl
      tags:
        - S3
      parameters: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: string
              examples:
                Example1:
                  value: string
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                s3Key:
                  type: string
                  example: s3Key
              required:
                - s3Key
            examples:
              Example1:
                value:
                  s3Key: s3Key
components:
  schemas: {}
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
