// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as errors from "../../../../errors/index.js";
import * as FernExhaustive from "../../../index.js";

export declare namespace InlinedRequests {
    export interface Options extends BaseClientOptions {}

    export interface RequestOptions extends BaseRequestOptions {}
}

export class InlinedRequests {
    protected readonly _options: InlinedRequests.Options;

    constructor(_options: InlinedRequests.Options) {
        this._options = _options;
    }

    /**
     * POST with custom object in request body, response is an object
     *
     * @param {FernExhaustive.PostWithObjectBody} request
     * @param {InlinedRequests.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link FernExhaustive.BadRequestBody}
     *
     * @example
     *     await client.inlinedRequests.postWithObjectBodyandResponse({
     *         string: "string",
     *         integer: 1,
     *         NestedObject: {}
     *     })
     */
    public postWithObjectBodyandResponse(
        request: FernExhaustive.PostWithObjectBody,
        requestOptions?: InlinedRequests.RequestOptions,
    ): core.HttpResponsePromise<FernExhaustive.types.ObjectWithOptionalField> {
        return core.HttpResponsePromise.fromPromise(this.__postWithObjectBodyandResponse(request, requestOptions));
    }

    private async __postWithObjectBodyandResponse(
        request: FernExhaustive.PostWithObjectBody,
        requestOptions?: InlinedRequests.RequestOptions,
    ): Promise<core.WithRawResponse<FernExhaustive.types.ObjectWithOptionalField>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "/req-bodies/object",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FernExhaustive.types.ObjectWithOptionalField,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new FernExhaustive.BadRequestBody(
                        _response.error.body as FernExhaustive.BadObjectRequestInfo,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.FernExhaustiveError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.FernExhaustiveError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.FernExhaustiveTimeoutError("Timeout exceeded when calling POST /req-bodies/object.");
            case "unknown":
                throw new errors.FernExhaustiveError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    protected async _getAuthorizationHeader(): Promise<string | undefined> {
        const bearer = await core.Supplier.get(this._options.token);
        if (bearer != null) {
            return `Bearer ${bearer}`;
        }

        return undefined;
    }
}
