{
  "openapi": "3.0.3",
  "servers": [
      { "description": "Prod",
        "url": "https://console.neon.tech/api/v2",
        "x-server-name": "Production"
      }
  ],
  "info": {
      "title": "Neon API",
      "description": "The Neon API allows you to access and manage Neon programmatically. You can use the Neon API to manage API keys, projects, branches, endpoints, databases, roles, and operations. For information about these features, refer to the [Neon documentation](https://neon.tech/docs/manage/overview/).\n\nYou can run Neon API requests from this API reference using the **Try it out** feature that is provided for each method. If you are logged in to Neon, your requests are authenticated automatically. If you are not logged in, click **Authorize** to enter an API key.\n\nYou can create and manage API keys in the Neon Console. See [Manage API keys](https://neon.tech/docs/manage/api-keys/) for instructions.",
      "version": "v2",
      "contact": {
          "email": "support@neon.tech"
      },
      "license": {
          "name": "Proprietary"
      }
  },
  "security": [
      {
          "BearerAuth": []
      }
  ],
  "tags": [
      {
          "name": "API Key",
          "description": "These methods allow you to create and manage API keys for your Neon account. For related information, see [Manage API keys](https://neon.tech/docs/manage/api-keys/)."
      },
      {
          "name": "Operation",
          "description": "These methods allow you to view operation details for your Neon project. For related information, see [Operations](https://neon.tech/docs/manage/operations/)."
      },
      {
          "name": "Project",
          "description": "These methods allow you to create and manage Neon projects. For related information, see [Manage projects](https://neon.tech/docs/manage/projects/)."
      },
      {
          "name": "Branch",
          "description": "These methods allow you to create and manage branches in your Neon project. For related information, see [Manage branches](https://neon.tech/docs/manage/branches/)."
      },
      {
          "name": "Endpoint",
          "description": "These methods allow you to create and manage endpoints in your Neon project. For related information, see [Manage endpoints](https://neon.tech/docs/manage/projects/)."
      }
  ],
  "paths": {
      "/projects/{project_id}/applications/vercel": {
          "parameters": [
              {
                  "name": "project_id",
                  "description": "Neon project ID",
                  "in": "path",
                  "required": true,
                  "schema": {
                      "type": "string"
                  }
              }
          ]
      },
      "/applications/oauth/{client_id}": {
          "parameters": [
              {
                  "name": "client_id",
                  "in": "path",
                  "required": true,
                  "schema": {
                      "type": "string"
                  }
              }
          ]
      },
      "/api_keys": {
          "get": {
              "summary": "Get a list of API keys",
              "description": "Retrieves the API keys for your Neon account.\nThe response does not include API key tokens. A token is only provided when creating an API key.\nAPI keys can also be managed in the Neon Console.\nFor more information, see [Manage API keys](https://neon.tech/docs/manage/api-keys/).\n",
              "tags": [
                  "API Key"
              ],
              "operationId": "listApiKeys",
              "responses": {
                  "200": {
                      "description": "Returned the API keys for the Neon account",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "type": "array",
                                  "items": {
                                      "$ref": "#/components/schemas/ApiKeysListResponseItem"
                                  },
                                  "example": [
                                      {
                                          "created_at": "2022-11-15T20:13:35Z",
                                          "id": 165432,
                                          "last_used_at": "2022-11-15T20:22:51Z",
                                          "last_used_from_addr": "192.0.2.255",
                                          "name": "mykey_1"
                                      },
                                      {
                                          "created_at": "2022-11-15T20:12:36Z",
                                          "id": 165433,
                                          "last_used_at": "2022-11-15T20:15:04Z",
                                          "last_used_from_addr": "192.0.2.255",
                                          "name": "mykey_2"
                                      }
                                  ]
                              }
                          }
                      }
                  },
                  "default": {
                      "$ref": "#/components/responses/GeneralError"
                  }
              }
          },
          "post": {
              "summary": "Create an API key",
              "description": "Creates an API key.\nThe `key_name` is a user-specified name for the key.\nThis method returns an `id` and `key`. The `key` is a randomly generated, 64-bit token required to access the Neon API.\nAPI keys can also be managed in the Neon Console.\nSee [Manage API keys](https://neon.tech/docs/manage/api-keys/).\n",
              "tags": [
                  "API Key"
              ],
              "operationId": "createApiKey",
              "requestBody": {
                  "content": {
                      "application/json": {
                          "schema": {
                              "$ref": "#/components/schemas/ApiKeyCreateRequest"
                          },
                          "example": {
                              "key_name": "mykey"
                          }
                      }
                  },
                  "required": true
              },
              "responses": {
                  "200": {
                      "description": "Created an API key",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/ApiKeyCreateResponse"
                              },
                              "example": {
                                  "id": 165434,
                                  "key": "9v1faketcjbl4sn1013keyd43n2a8qlfakeog8yvp40hx16keyjo1bpds4y2dfms3"
                              }
                          }
                      }
                  },
                  "default": {
                      "$ref": "#/components/responses/GeneralError"
                  }
              }
          }
      },
      "/api_keys/{key_id}": {
          "delete": {
              "summary": "Revoke an API key",
              "description": "Revokes the specified API key.\nAn API key that is no longer needed can be revoked.\nThis action cannot be reversed.\nYou can obtain `key_id` values by listing the API keys for your Neon account.\nAPI keys can also be managed in the Neon Console.\nSee [Manage API keys](https://neon.tech/docs/manage/api-keys/).\n",
              "tags": [
                  "API Key"
              ],
              "operationId": "revokeApiKey",
              "parameters": [
                  {
                      "name": "key_id",
                      "in": "path",
                      "description": "The API key ID",
                      "required": true,
                      "schema": {
                          "type": "integer",
                          "format": "int64"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "Revoked the specified API key",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/ApiKeyRevokeResponse"
                              },
                              "example": {
                                  "id": 165435,
                                  "name": "mykey",
                                  "revoked": true,
                                  "last_used_at": "2022-11-15T20:15:04Z",
                                  "last_used_from_addr": "192.0.2.255"
                              }
                          }
                      }
                  },
                  "default": {
                      "$ref": "#/components/responses/GeneralError"
                  }
              }
          }
      },
      "/projects/{project_id}/operations/{operation_id}": {
          "parameters": [
              {
                  "name": "project_id",
                  "in": "path",
                  "description": "The Neon project ID",
                  "required": true,
                  "schema": {
                      "type": "string"
                  }
              },
              {
                  "name": "operation_id",
                  "in": "path",
                  "description": "The operation ID",
                  "required": true,
                  "schema": {
                      "type": "string",
                      "format": "uuid"
                  }
              }
          ],
          "get": {
              "summary": "Get operation details",
              "description": "Retrieves details for the specified operation.\nAn operation is an action performed on a Neon project resource.\nYou can obtain a `project_id` by listing the projects for your Neon account.\nYou can obtain a `operation_id` by listing operations for the project.\n",
              "tags": [
                  "Operation"
              ],
              "operationId": "getProjectOperation",
              "responses": {
                  "200": {
                      "description": "Returned details for the specified operation",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/OperationResponse"
                              },
                              "example": {
                                  "operation": {
                                      "id": "a07f8772-1877-4da9-a939-3a3ae62d1d8d",
                                      "project_id": "floral-king-961888",
                                      "branch_id": "br-bitter-sound-247814",
                                      "endpoint_id": "ep-dark-snowflake-942567",
                                      "action": "create_timeline",
                                      "status": "finished",
                                      "failures_count": 0,
                                      "created_at": "2022-10-04T18:20:17Z",
                                      "updated_at": "2022-10-04T18:20:18Z"
                                  }
                              }
                          }
                      }
                  },
                  "default": {
                      "$ref": "#/components/responses/GeneralError"
                  }
              }
          }
      },
      "/projects": {
          "get": {
              "summary": "Get a list of projects",
              "description": "Retrieves a list of projects for the Neon account.\nA project is the top-level object in the Neon object hierarchy.\nFor more information, see [Manage projects](https://neon.tech/docs/manage/projects/).\n",
              "tags": [
                  "Project"
              ],
              "operationId": "listProjects",
              "x-request-name": "ListProjectsRequest",
              "parameters": [
                  {
                      "name": "cursor",
                      "description": "Specify the cursor value from the previous response to get the next batch of projects.",
                      "in": "query",
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "name": "limit",
                      "description": "Specify a value from 1 to 100 to limit number of projects in the response.",
                      "in": "query",
                      "schema": {
                          "type": "integer",
                          "minimum": 1,
                          "default": 10,
                          "maximum": 100
                      }
                  }
              ],
              "responses": {
                  "200": {
                    "$ref": "#/components/responses/ListProjects"
                  },
                  "default": {
                      "$ref": "#/components/responses/GeneralError"
                  }
              }
          },
          "post": {
              "summary": "Create a project",
              "description": "Creates a Neon project.\nA project is the top-level object in the Neon object hierarchy.\nTier limits define how many projects you can create.\nNeon's Free Tier permits one project per Neon account.\nFor more information, see [Manage projects](https://neon.tech/docs/manage/projects/).\n\nYou can specify a region and PostgreSQL version in the request body.\nNeon currently supports PostgreSQL 14 and 15.\nFor supported regions and `region_id` values, see [Regions](https://neon.tech/docs/introduction/regions/).\n",
              "tags": [
                  "Project"
              ],
              "operationId": "create",
              "requestBody": {
                  "required": true,
                  "content": {
                      "application/json": {
                          "schema": {
                              "$ref": "#/components/schemas/ProjectCreateRequest"
                          },
                          "examples": {
                              "Required attributes only": {
                                  "value": {
                                      "project": {
                                          "name": "myproject"
                                      }
                                  }
                              },
                              "Commonly-specified attributes": {
                                  "value": {
                                      "project": {
                                          "name": "myproject",
                                          "region_id": "aws-us-east-2",
                                          "pg_version": 15
                                      }
                                  }
                              }
                          }
                      }
                  }
              },
              "responses": {
                  "201": {
                      "$ref": "#/components/responses/CreatedProject"
                  },
                  "default": {
                      "$ref": "#/components/responses/GeneralError"
                  }
              }
          }
      },
      "/projects/{project_id}": {
          "parameters": [
              {
                  "name": "project_id",
                  "in": "path",
                  "description": "The Neon project ID",
                  "required": true,
                  "schema": {
                      "type": "string"
                  }
              }
          ],
          "get": {
              "summary": "Get project details",
              "description": "Retrieves information about the specified project.\nA project is the top-level object in the Neon object hierarchy.\nYou can obtain a `project_id` by listing the projects for your Neon account.\n",
              "tags": [
                  "Project"
              ],
              "operationId": "get",
              "responses": {
                  "200": {
                      "description": "Returned information about the specified project",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/ProjectResponse"
                              },
                              "example": {
                                  "project": {
                                      "id": "shiny-wind-028834",
                                      "platform_id": "aws",
                                      "region_id": "aws-us-east-2",
                                      "name": "shiny-wind-028834",
                                      "provisioner": "k8s-pod",
                                      "pg_version": 15,
                                      "created_at": "2022-11-23T17:42:25Z",
                                      "updated_at": "2022-11-23T17:42:25Z",
                                      "proxy_host": "us-east-2.aws.neon.tech",
                                      "branch_logical_size_limit": 0,
                                      "cpu_used_sec": 10
                                  }
                              }
                          }
                      }
                  },
                  "default": {
                      "$ref": "#/components/responses/GeneralError"
                  }
              }
          },
          "patch": {
              "summary": "Update a project",
              "description": "Updates the specified project.\nYou can obtain a `project_id` by listing the projects for your Neon account.\nNeon permits updating the project name only.\n",
              "tags": [
                  "Project"
              ],
              "operationId": "update",
              "requestBody": {
                  "required": true,
                  "content": {
                      "application/json": {
                          "schema": {
                              "$ref": "#/components/schemas/ProjectUpdateRequest"
                          },
                          "example": {
                              "project": {
                                  "name": "myproject"
                              }
                          }
                      }
                  }
              },
              "responses": {
                  "200": {
                      "description": "Updated the specified project",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/ProjectOperations"
                              },
                              "example": {
                                  "operations": [],
                                  "project": {
                                      "id": "shiny-wind-028834",
                                      "platform_id": "aws",
                                      "region_id": "aws-us-east-2",
                                      "name": "myproject",
                                      "provisioner": "k8s-pod",
                                      "pg_version": 15,
                                      "created_at": "2022-11-23T17:42:25Z",
                                      "updated_at": "2022-12-04T02:39:25Z",
                                      "proxy_host": "us-east-2.aws.neon.tech",
                                      "branch_logical_size_limit": 0,
                                      "cpu_used_sec": 213230
                                  }
                              }
                          }
                      }
                  },
                  "default": {
                      "$ref": "#/components/responses/GeneralError"
                  }
              }
          },
          "delete": {
              "summary": "Delete a project",
              "description": "Deletes the specified project.\nYou can obtain a `project_id` by listing the projects for your Neon account.\nDeleting a project is a permanent action.\nDeleting a project also deletes endpoints, branches, databases, and users that belong to the project.\n",
              "tags": [
                  "Project"
              ],
              "operationId": "delete",
              "responses": {
                  "200": {
                      "description": "Deleted the specified project",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/ProjectResponse"
                              },
                              "example": {
                                  "project": {
                                      "id": "bold-cloud-468218",
                                      "platform_id": "aws",
                                      "region_id": "aws-us-east-2",
                                      "name": "bold-cloud-468218",
                                      "provisioner": "k8s-pod",
                                      "pg_version": 15,
                                      "created_at": "2022-11-30T18:41:29Z",
                                      "updated_at": "2022-11-30T18:41:29Z",
                                      "proxy_host": "us-east-2.aws.neon.tech",
                                      "cpu_used_sec": 23004200,
                                      "branch_logical_size_limit": 0
                                  }
                              }
                          }
                      }
                  },
                  "default": {
                      "$ref": "#/components/responses/GeneralError"
                  }
              }
          }
      },
      "/projects/{project_id}/operations": {
          "get": {
              "summary": "Get a list of operations",
              "description": "Retrieves a list of operations for the specified Neon project.\nYou can obtain a `project_id` by listing the projects for your Neon account.\nThe number of operations returned can be large.\nTo paginate the response, issue an initial request with a `limit` value.\nThen, add the `cursor` value that was returned in the response to the next request.\n",
              "tags": [
                  "Project",
                  "Operation"
              ],
              "operationId": "listProjectOperations",
              "x-request-name": "ListProjectOperationsRequest",
              "parameters": [
                  {
                      "name": "cursor",
                      "description": "Specify the cursor value from the previous response to get the next batch of operations",
                      "in": "query",
                      "schema": {
                          "type": "string"
                      }
                  },
                  {
                      "name": "limit",
                      "description": "Specify a value from 1 to 1000 to limit number of operations in the response",
                      "in": "query",
                      "schema": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 1000
                      }
                  },
                  {
                      "name": "project_id",
                      "in": "path",
                      "description": "The Neon project ID",
                      "required": true,
                      "schema": {
                          "type": "string"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "$ref": "#/components/responses/ListOperations"
                  },
                  "default": {
                      "$ref": "#/components/responses/GeneralError"
                  }
              }
          }
      },
      "/projects/{project_id}/saved_queries": {
          "parameters": [
              {
                  "name": "project_id",
                  "in": "path",
                  "required": true,
                  "schema": {
                      "type": "string"
                  }
              }
          ]
      },
      "/projects/{project_id}/permissions": {
          "parameters": [
              {
                  "name": "project_id",
                  "in": "path",
                  "required": true,
                  "schema": {
                      "type": "string"
                  }
              }
          ]
      },
      "/projects/{project_id}/permissions/{permission_id}": {
          "parameters": [
              {
                  "name": "project_id",
                  "in": "path",
                  "required": true,
                  "schema": {
                      "type": "string"
                  }
              },
              {
                  "name": "permission_id",
                  "in": "path",
                  "required": true,
                  "schema": {
                      "type": "string"
                  }
              }
          ]
      },
      "/saved_queries/{saved_query_id}": {
          "parameters": [
              {
                  "name": "saved_query_id",
                  "in": "path",
                  "required": true,
                  "schema": {
                      "type": "integer",
                      "format": "int64"
                  }
              }
          ]
      },
      "/projects/{project_id}/branches": {
          "parameters": [
              {
                  "name": "project_id",
                  "in": "path",
                  "description": "The Neon project ID",
                  "required": true,
                  "schema": {
                      "type": "string"
                  }
              }
          ],
          "post": {
              "summary": "Create a branch",
              "description": "Creates a branch in the specified project.\nYou can obtain a `project_id` by listing the projects for your Neon account.\n\nThis method does not require a request body, but you can specify one to create an endpoint for the branch or to select a non-default parent branch.\nThe default behavior is to create a branch from the project's root branch (`main`) with no endpoint, and the branch name is auto-generated.\nFor related information, see [Manage branches](https://neon.tech/docs/manage/branches/).\n",
              "tags": [
                  "Project",
                  "Branch"
              ],
              "operationId": "createProjectBranch",
              "requestBody": {
                  "content": {
                      "application/json": {
                          "schema": {
                              "$ref": "#/components/schemas/BranchCreateRequest"
                          },
                          "examples": {
                              "Branch only": {
                                  "value": {
                                      "branch": {
                                          "parent_id": "br-aged-salad-637688",
                                          "name": "mybranch"
                                      }
                                  }
                              },
                              "Branch with endpoint": {
                                  "value": {
                                      "endpoints": [
                                          {
                                              "type": "read_write"
                                          }
                                      ],
                                      "branch": {
                                          "parent_id": "br-aged-salad-637688",
                                          "name": "mybranch"
                                      }
                                  }
                              }
                          }
                      }
                  },
                  "required": false
              },
              "responses": {
                  "201": {
                      "$ref": "#/components/responses/CreatedBranch"
                  },
                  "default": {
                      "$ref": "#/components/responses/GeneralError"
                  }
              }
          },
          "get": {
              "summary": "Get a list of branches",
              "description": "Retrieves a list of branches for the specified project.\nYou can obtain a `project_id` by listing the projects for your Neon account.\n\nEach Neon project has a root branch named `main`.\nA `branch_id` value has a `br-` prefix.\nA project may contain child branches that were branched from `main` or from another branch.\nA parent branch is identified by the `parent_id` value, which is the `id` of the parent branch.\nFor related information, see [Manage branches](https://neon.tech/docs/manage/branches/).\n",
              "tags": [
                  "Project",
                  "Branch"
              ],
              "operationId": "listProjectBranches",
              "responses": {
                  "200": {
                      "description": "Returned a list of branches for the specified project",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/BranchesResponse"
                              },
                              "example": {
                                  "branches": [
                                      {
                                          "id": "br-aged-salad-637688",
                                          "project_id": "shiny-wind-028834",
                                          "name": "main",
                                          "current_state": "ready",
                                          "logical_size": 28,
                                          "logical_size_limit": 3072,
                                          "physical_size": 38,
                                          "created_at": "2022-11-23T17:42:25Z",
                                          "updated_at": "2022-11-23T17:42:26Z"
                                      },
                                      {
                                          "id": "br-sweet-breeze-497520",
                                          "project_id": "shiny-wind-028834",
                                          "parent_id": "br-aged-salad-637688",
                                          "parent_lsn": "0/1DE2850",
                                          "name": "dev2",
                                          "current_state": "ready",
                                          "logical_size": 28,
                                          "logical_size_limit": 3072,
                                          "created_at": "2022-11-30T19:09:48Z",
                                          "updated_at": "2022-11-30T19:09:49Z"
                                      },
                                      {
                                          "id": "br-raspy-hill-832856",
                                          "project_id": "shiny-wind-028834",
                                          "parent_id": "br-aged-salad-637688",
                                          "parent_lsn": "0/19623D8",
                                          "name": "dev1",
                                          "current_state": "ready",
                                          "logical_size": 21,
                                          "logical_size_limit": 3072,
                                          "created_at": "2022-11-30T17:36:57Z",
                                          "updated_at": "2022-11-30T17:36:57Z"
                                      }
                                  ]
                              }
                          }
                      }
                  },
                  "default": {
                      "$ref": "#/components/responses/GeneralError"
                  }
              }
          }
      },
      "/projects/{project_id}/branches/{branch_id}": {
          "parameters": [
              {
                  "name": "project_id",
                  "in": "path",
                  "description": "The Neon project ID",
                  "required": true,
                  "schema": {
                      "type": "string"
                  }
              },
              {
                  "name": "branch_id",
                  "in": "path",
                  "description": "The branch ID",
                  "required": true,
                  "schema": {
                      "type": "string"
                  }
              }
          ],
          "get": {
              "summary": "Get branch details",
              "description": "Retrieves information about the specified branch.\nYou can obtain a `project_id` by listing the projects for your Neon account.\nYou can obtain a `branch_id` by listing the project's branches.\nA `branch_id` value has a `br-` prefix.\n\nEach Neon project has a root branch named `main`.\nA project may contain child branches that were branched from `main` or from another branch.\nA parent branch is identified by a `parent_id` value, which is the `id` of the parent branch.\nFor related information, see [Manage branches](https://neon.tech/docs/manage/branches/).\n",
              "tags": [
                  "Branch"
              ],
              "operationId": "get",
              "responses": {
                  "200": {
                      "description": "Returned information about the specified branch",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/BranchResponse"
                              },
                              "example": {
                                  "branch": {
                                      "id": "br-aged-salad-637688",
                                      "project_id": "shiny-wind-028834",
                                      "name": "main",
                                      "current_state": "ready",
                                      "logical_size": 28,
                                      "logical_size_limit": 3072,
                                      "physical_size": 38,
                                      "created_at": "2022-11-23T17:42:25Z",
                                      "updated_at": "2022-11-23T17:42:26Z"
                                  }
                              }
                          }
                      }
                  },
                  "default": {
                      "$ref": "#/components/responses/GeneralError"
                  }
              }
          },
          "delete": {
              "summary": "Delete a branch",
              "description": "Deletes the specified branch from a project, and places\nall endpoints into an idle state, breaking existing client connections.\nYou can obtain a `project_id` by listing the projects for your Neon account.\nYou can obtain a `branch_id` by listing the project's branches.\nFor related information, see [Manage branches](https://neon.tech/docs/manage/branches/).\n\nWhen a successful response status is received, the endpoints are still active,\nand the branch is not yet deleted from storage.\nThe deletion occurs after all operations finish.\nYou cannot delete a branch if it is the only remaining branch in the project.\nA project must have at least one branch.\n",
              "tags": [
                  "Branch"
              ],
              "operationId": "delete",
              "responses": {
                  "200": {
                      "description": "Deleted the specified branch",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/BranchOperations"
                              },
                              "example": {
                                  "branch": {
                                      "id": "br-aged-salad-637688",
                                      "project_id": "shiny-wind-028834",
                                      "name": "main",
                                      "current_state": "ready",
                                      "logical_size": 28,
                                      "logical_size_limit": 3072,
                                      "physical_size": 38,
                                      "created_at": "2022-11-23T17:42:25Z",
                                      "updated_at": "2022-11-23T17:42:26Z"
                                  },
                                  "operations": [
                                      {
                                          "id": "b6afbc21-2990-4a76-980b-b57d8c2948f2",
                                          "project_id": "shiny-wind-028834",
                                          "branch_id": "br-sweet-breeze-497520",
                                          "endpoint_id": "ep-soft-violet-752733",
                                          "action": "suspend_compute",
                                          "status": "running",
                                          "failures_count": 0,
                                          "created_at": "2022-12-01T19:53:05Z",
                                          "updated_at": "2022-12-01T19:53:05Z"
                                      },
                                      {
                                          "id": "b6afbc21-2990-4a76-980b-b57d8c2948f2",
                                          "project_id": "shiny-wind-028834",
                                          "branch_id": "br-sweet-breeze-497520",
                                          "action": "delete_timeline",
                                          "status": "scheduling",
                                          "failures_count": 0,
                                          "created_at": "2022-12-01T19:53:05Z",
                                          "updated_at": "2022-12-01T19:53:05Z"
                                      }
                                  ]
                              }
                          }
                      }
                  },
                  "default": {
                      "$ref": "#/components/responses/GeneralError"
                  }
              }
          },
          "patch": {
              "tags": [
                  "Branch"
              ],
              "summary": "Update a branch",
              "description": "Updates the specified branch. Only changing the branch name is supported.\nYou can obtain a `project_id` by listing the projects for your Neon account.\nYou can obtain the `branch_id` by listing the project's branches.\nFor more information, see [Manage branches](https://neon.tech/docs/manage/branches/).\n",
              "operationId": "update",
              "requestBody": {
                  "content": {
                      "application/json": {
                          "schema": {
                              "$ref": "#/components/schemas/BranchUpdateRequest"
                          },
                          "example": {
                              "branch": {
                                  "name": "mybranch"
                              }
                          }
                      }
                  },
                  "required": true
              },
              "responses": {
                  "200": {
                      "description": "Updated the specified branch",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/BranchOperations"
                              },
                              "example": {
                                  "branch": {
                                      "id": "br-icy-dream-250089",
                                      "project_id": "shiny-wind-028834",
                                      "parent_id": "br-aged-salad-637688",
                                      "parent_lsn": "0/1E19478",
                                      "name": "mybranch",
                                      "current_state": "ready",
                                      "created_at": "2022-11-23T17:42:25Z",
                                      "updated_at": "2022-11-23T17:42:26Z"
                                  },
                                  "operations": []
                              }
                          }
                      }
                  },
                  "default": {
                      "$ref": "#/components/responses/GeneralError"
                  }
              }
          }
      },
      "/projects/{project_id}/branches/{branch_id}/set_as_primary": {
          "parameters": [
              {
                  "name": "project_id",
                  "in": "path",
                  "description": "The Neon project ID",
                  "required": true,
                  "schema": {
                      "type": "string"
                  }
              },
              {
                  "name": "branch_id",
                  "in": "path",
                  "description": "The branch ID",
                  "required": true,
                  "schema": {
                      "type": "string"
                  }
              }
          ],
          "post": {
              "tags": [
                  "Branch"
              ],
              "summary": "Set the branch as the primary branch of a project",
              "description": "The primary mark is automatically removed from the previous primary branch.\nYou can obtain a `project_id` by listing the projects for your Neon account.\nYou can obtain the `branch_id` by listing the project's branches.\nFor more information, see [Manage branches](https://neon.tech/docs/manage/branches/).\n",
              "operationId": "setPrimaryProjectBranch",
              "responses": {
                  "200": {
                      "description": "Updated the specified branch",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/BranchOperations"
                              },
                              "example": {
                                  "branch": {
                                      "id": "br-icy-dream-250089",
                                      "project_id": "shiny-wind-028834",
                                      "parent_id": "br-aged-salad-637688",
                                      "parent_lsn": "0/1E19478",
                                      "name": "mybranch",
                                      "current_state": "ready",
                                      "created_at": "2022-11-23T17:42:25Z",
                                      "updated_at": "2022-11-23T17:42:26Z",
                                      "primary": true
                                  },
                                  "operations": []
                              }
                          }
                      }
                  },
                  "default": {
                      "$ref": "#/components/responses/GeneralError"
                  }
              }
          }
      },
      "/projects/{project_id}/branches/{branch_id}/endpoints": {
          "parameters": [
              {
                  "name": "project_id",
                  "in": "path",
                  "description": "The Neon project ID",
                  "required": true,
                  "schema": {
                      "type": "string"
                  }
              },
              {
                  "name": "branch_id",
                  "in": "path",
                  "description": "The branch ID",
                  "required": true,
                  "schema": {
                      "type": "string"
                  }
              }
          ],
          "get": {
              "summary": "Get a list of branch endpoints",
              "description": "Retrieves a list of endpoints for the specified branch.\nCurrently, Neon permits only one endpoint per branch.\nYou can obtain a `project_id` by listing the projects for your Neon account.\nYou can obtain the `branch_id` by listing the project's branches.\n",
              "tags": [
                  "Branch"
              ],
              "operationId": "listEndpoints",
              "responses": {
                  "200": {
                      "description": "Returned a list of endpoints for the specified branch",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/EndpointsResponse"
                              },
                              "example": {
                                  "endpoints": {
                                      "host": "ep-little-smoke-851426.us-east-2.aws.neon.tech",
                                      "id": "ep-little-smoke-851426",
                                      "project_id": "shiny-wind-028834",
                                      "branch_id": "br-aged-salad-637688",
                                      "autoscaling_limit_min_cu": 1,
                                      "autoscaling_limit_max_cu": 1,
                                      "region_id": "aws-us-east-2",
                                      "type": "read_write",
                                      "current_state": "idle",
                                      "settings": {
                                          "pg_settings": {}
                                      },
                                      "pooler_enabled": false,
                                      "pooler_mode": "transaction",
                                      "disabled": false,
                                      "passwordless_access": true,
                                      "last_active": "2022-11-23T17:00:00Z",
                                      "created_at": "2022-11-23T17:42:25Z",
                                      "updated_at": "2022-11-30T18:25:21Z",
                                      "proxy_host": "us-east-2.aws.neon.tech"
                                  }
                              }
                          }
                      }
                  },
                  "default": {
                      "$ref": "#/components/responses/GeneralError"
                  }
              }
          }
      },
      "/projects/{project_id}/branches/{branch_id}/databases": {
          "parameters": [
              {
                  "name": "project_id",
                  "in": "path",
                  "description": "The Neon project ID",
                  "required": true,
                  "schema": {
                      "type": "string"
                  }
              },
              {
                  "name": "branch_id",
                  "in": "path",
                  "description": "The branch ID",
                  "required": true,
                  "schema": {
                      "type": "string"
                  }
              }
          ],
          "get": {
              "summary": "Get a list of databases",
              "description": "Retrieves a list of databases for the specified branch.\nA branch can have multiple databases.\nYou can obtain a `project_id` by listing the projects for your Neon account.\nYou can obtain the `branch_id` by listing the project's branches.\nFor related information, see [Manage databases](https://neon.tech/docs/manage/databases/).\n",
              "tags": [
                  "Branch"
              ],
              "operationId": "listDatabases",
              "responses": {
                  "200": {
                      "description": "Returned a list of databases of the specified branch",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/DatabasesResponse"
                              },
                              "example": {
                                  "databases": [
                                      {
                                          "id": "834686,",
                                          "branch_id": "br-aged-salad-637688",
                                          "name": "main",
                                          "owner_name": "casey",
                                          "created_at": "2022-11-30T18:25:15Z",
                                          "updated_at": "2022-11-30T18:25:15Z"
                                      },
                                      {
                                          "id": "834686,",
                                          "branch_id": "br-aged-salad-637688",
                                          "name": "mydb",
                                          "owner_name": "casey",
                                          "created_at": "2022-10-30T17:14:13Z",
                                          "updated_at": "2022-10-30T17:14:13Z"
                                      }
                                  ]
                              }
                          }
                      }
                  },
                  "default": {
                      "$ref": "#/components/responses/GeneralError"
                  }
              }
          },
          "post": {
              "tags": [
                  "Branch"
              ],
              "summary": "Create a database",
              "description": "Creates a database in the specified branch.\nA branch can have multiple databases.\nYou can obtain a `project_id` by listing the projects for your Neon account.\nYou can obtain the `branch_id` by listing the project's branches.\nFor related information, see [Manage databases](https://neon.tech/docs/manage/databases/).\n",
              "operationId": "createDatabase",
              "requestBody": {
                  "content": {
                      "application/json": {
                          "schema": {
                              "$ref": "#/components/schemas/DatabaseCreateRequest"
                          },
                          "example": {
                              "database": {
                                  "name": "mydb",
                                  "owner_name": "casey"
                              }
                          }
                      }
                  },
                  "required": true
              },
              "responses": {
                  "201": {
                      "description": "Created a database in the specified branch",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/DatabaseOperations"
                              },
                              "example": {
                                  "database": {
                                      "id": 876692,
                                      "branch_id": "br-aged-salad-637688",
                                      "name": "mydb",
                                      "owner_name": "casey",
                                      "created_at": "2022-12-04T00:15:04Z",
                                      "updated_at": "2022-12-04T00:15:04Z"
                                  },
                                  "operations": [
                                      {
                                          "id": "39426015-db00-40fa-85c5-1c7072df46d0",
                                          "project_id": "shiny-wind-028834",
                                          "branch_id": "br-aged-salad-637688",
                                          "endpoint_id": "ep-little-smoke-851426",
                                          "action": "apply_config",
                                          "status": "running",
                                          "failures_count": 0,
                                          "created_at": "2022-12-04T00:15:04Z",
                                          "updated_at": "2022-12-04T00:15:04Z"
                                      },
                                      {
                                          "id": "b7483d4e-33da-4d40-b319-ac858d4d3e69",
                                          "project_id": "shiny-wind-028834",
                                          "branch_id": "br-aged-salad-637688",
                                          "endpoint_id": "ep-little-smoke-851426",
                                          "action": "suspend_compute",
                                          "status": "scheduling",
                                          "failures_count": 0,
                                          "created_at": "2022-12-04T00:15:04Z",
                                          "updated_at": "2022-12-04T00:15:04Z"
                                      }
                                  ]
                              }
                          }
                      }
                  },
                  "default": {
                      "$ref": "#/components/responses/GeneralError"
                  }
              }
          }
      },
      "/projects/{project_id}/branches/{branch_id}/databases/{database_name}": {
          "parameters": [
              {
                  "name": "project_id",
                  "in": "path",
                  "description": "The Neon project ID",
                  "required": true,
                  "schema": {
                      "type": "string"
                  }
              },
              {
                  "name": "branch_id",
                  "in": "path",
                  "description": "The branch ID",
                  "required": true,
                  "schema": {
                      "type": "string"
                  }
              },
              {
                  "name": "database_name",
                  "in": "path",
                  "description": "The database name",
                  "required": true,
                  "schema": {
                      "type": "string"
                  }
              }
          ],
          "get": {
              "summary": "Get database details",
              "description": "Retrieves information about the specified database.\nYou can obtain a `project_id` by listing the projects for your Neon account.\nYou can obtain the `branch_id` and `database_name` by listing branch's databases.\nFor related information, see [Manage databases](https://neon.tech/docs/manage/databases/).\n",
              "tags": [
                  "Branch"
              ],
              "operationId": "getDatabase",
              "responses": {
                  "200": {
                      "description": "Returned the database details",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/DatabaseResponse"
                              },
                              "example": {
                                  "database": {
                                      "id": 834686,
                                      "branch_id": "br-aged-salad-637688",
                                      "name": "main",
                                      "owner_name": "casey",
                                      "created_at": "2022-11-30T18:25:15Z",
                                      "updated_at": "2022-11-30T18:25:15Z"
                                  }
                              }
                          }
                      }
                  },
                  "default": {
                      "$ref": "#/components/responses/GeneralError"
                  }
              }
          },
          "patch": {
              "tags": [
                  "Branch"
              ],
              "summary": "Update a database",
              "description": "Updates the specified database in the branch.\nYou can obtain a `project_id` by listing the projects for your Neon account.\nYou can obtain the `branch_id` and `database_name` by listing the branch's databases.\nFor related information, see [Manage databases](https://neon.tech/docs/manage/databases/).\n",
              "operationId": "updateDatabase",
              "requestBody": {
                  "content": {
                      "application/json": {
                          "schema": {
                              "$ref": "#/components/schemas/DatabaseUpdateRequest"
                          },
                          "example": {
                              "database": {
                                  "name": "mydb",
                                  "owner_name": "sally"
                              }
                          }
                      }
                  },
                  "required": true
              },
              "responses": {
                  "200": {
                      "description": "Updated the database",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/DatabaseOperations"
                              },
                              "example": {
                                  "database": {
                                      "id": 876692,
                                      "branch_id": "br-aged-salad-637688",
                                      "name": "mydb",
                                      "owner_name": "sally",
                                      "created_at": "2022-12-04T00:15:04Z",
                                      "updated_at": "2022-12-04T00:15:04Z"
                                  },
                                  "operations": [
                                      {
                                          "id": "9ef1c2ed-dce4-43aa-bae8-78aea636bf8a",
                                          "project_id": "shiny-wind-028834",
                                          "branch_id": "br-aged-salad-637688",
                                          "endpoint_id": "ep-little-smoke-851426",
                                          "action": "apply_config",
                                          "status": "running",
                                          "failures_count": 0,
                                          "created_at": "2022-12-04T00:21:01Z",
                                          "updated_at": "2022-12-04T00:21:01Z"
                                      },
                                      {
                                          "id": "42dafb46-f861-497b-ae89-f2bec54f4966",
                                          "project_id": "shiny-wind-028834",
                                          "branch_id": "br-aged-salad-637688",
                                          "endpoint_id": "ep-little-smoke-851426",
                                          "action": "suspend_compute",
                                          "status": "scheduling",
                                          "failures_count": 0,
                                          "created_at": "2022-12-04T00:21:01Z",
                                          "updated_at": "2022-12-04T00:21:01Z"
                                      }
                                  ]
                              }
                          }
                      }
                  },
                  "default": {
                      "$ref": "#/components/responses/GeneralError"
                  }
              }
          },
          "delete": {
              "summary": "Delete a database",
              "description": "Deletes the specified database from the branch.\nYou can obtain a `project_id` by listing the projects for your Neon account.\nYou can obtain the `branch_id` and `database_name` by listing branch's databases.\nFor related information, see [Manage databases](https://neon.tech/docs/manage/databases/).\n",
              "tags": [
                  "Branch"
              ],
              "operationId": "deleteDatabase",
              "responses": {
                  "200": {
                      "description": "Deleted the specified database",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/DatabaseOperations"
                              },
                              "example": {
                                  "database": {
                                      "id": 851537,
                                      "branch_id": "br-raspy-hill-832856",
                                      "name": "mydb",
                                      "owner_name": "casey",
                                      "created_at": "2022-12-01T19:41:46Z",
                                      "updated_at": "2022-12-01T19:41:46Z"
                                  },
                                  "operations": [
                                      {
                                          "id": "9ef1c2ed-dce4-43aa-bae8-78aea636bf8a",
                                          "project_id": "shiny-wind-028834",
                                          "branch_id": "br-raspy-hill-832856",
                                          "endpoint_id": "ep-steep-bush-777093",
                                          "action": "apply_config",
                                          "status": "running",
                                          "failures_count": 0,
                                          "created_at": "2022-12-01T19:51:41Z",
                                          "updated_at": "2022-12-01T19:51:41Z"
                                      },
                                      {
                                          "id": "42dafb46-f861-497b-ae89-f2bec54f4966",
                                          "project_id": "shiny-wind-028834",
                                          "branch_id": "br-raspy-hill-832856",
                                          "endpoint_id": "ep-steep-bush-777093",
                                          "action": "suspend_compute",
                                          "status": "scheduling",
                                          "failures_count": 0,
                                          "created_at": "2022-12-01T19:51:41Z",
                                          "updated_at": "2022-12-01T19:51:41Z"
                                      }
                                  ]
                              }
                          }
                      }
                  },
                  "default": {
                      "$ref": "#/components/responses/GeneralError"
                  }
              }
          }
      },
      "/projects/{project_id}/branches/{branch_id}/roles": {
          "parameters": [
              {
                  "name": "project_id",
                  "in": "path",
                  "description": "The Neon project ID",
                  "required": true,
                  "schema": {
                      "type": "string"
                  }
              },
              {
                  "name": "branch_id",
                  "in": "path",
                  "description": "The branch ID",
                  "required": true,
                  "schema": {
                      "type": "string"
                  }
              }
          ],
          "get": {
              "summary": "Get a list of roles",
              "description": "Retrieves a list of roles from the specified branch.\nYou can obtain a `project_id` by listing the projects for your Neon account.\nYou can obtain the `branch_id` by listing the project's branches.\nIn Neon, the terms \"role\" and \"user\" are synonymous.\nFor related information, see [Manage users](https://neon.tech/docs/manage/users/).\n",
              "tags": [
                  "Branch"
              ],
              "operationId": "listRoles",
              "responses": {
                  "200": {
                      "description": "Returned a list of roles from the specified branch.",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/RolesResponse"
                              },
                              "example": {
                                  "roles": [
                                      {
                                          "branch_id": null,
                                          "name": "casey",
                                          "protected": false,
                                          "created_at": "2022-11-23T17:42:25Z",
                                          "updated_at": "2022-11-23T17:42:25Z"
                                      },
                                      {
                                          "branch_id": null,
                                          "name": "thomas",
                                          "protected": false,
                                          "created_at": "2022-10-22T17:38:21Z",
                                          "updated_at": "2022-10-22T17:38:21Z"
                                      }
                                  ]
                              }
                          }
                      }
                  },
                  "default": {
                      "$ref": "#/components/responses/GeneralError"
                  }
              }
          },
          "post": {
              "summary": "Create a role",
              "description": "Creates a role in the specified branch.\nYou can obtain a `project_id` by listing the projects for your Neon account.\nYou can obtain the `branch_id` by listing the project's branches.\nIn Neon, the terms \"role\" and \"user\" are synonymous.\nFor related information, see [Manage users](https://neon.tech/docs/manage/users/).\n\nConnections established to the active read-write endpoint will be dropped.\nIf the read-write endpoint is idle, the endpoint becomes active for a short period of time and is suspended afterward.\n",
              "tags": [
                  "Branch"
              ],
              "operationId": "createRole",
              "requestBody": {
                  "content": {
                      "application/json": {
                          "schema": {
                              "$ref": "#/components/schemas/RoleCreateRequest"
                          },
                          "example": {
                              "role": {
                                  "name": "sally"
                              }
                          }
                      }
                  },
                  "required": true
              },
              "responses": {
                  "201": {
                      "description": "Created a role in the specified branch",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/RoleOperations"
                              },
                              "example": {
                                  "role": {
                                      "branch_id": "br-noisy-sunset-458773",
                                      "name": "sally",
                                      "password": "Onf1AjayKwe0",
                                      "protected": false,
                                      "created_at": "2022-12-03T11:58:29Z",
                                      "updated_at": "2022-12-03T11:58:29Z"
                                  },
                                  "operations": {
                                      "id": "2c2be371-d5ac-4db5-8b68-79f05e8bc287",
                                      "project_id": "shiny-wind-028834",
                                      "branch_id": "br-noisy-sunset-458773",
                                      "endpoint_id": "ep-small-pine-767857",
                                      "action": "apply_config",
                                      "status": "running",
                                      "failures_count": 0,
                                      "created_at": "2022-12-03T11:58:29Z",
                                      "updated_at": "2022-12-03T11:58:29Z"
                                  }
                              }
                          }
                      }
                  },
                  "default": {
                      "$ref": "#/components/responses/GeneralError"
                  }
              }
          }
      },
      "/projects/{project_id}/branches/{branch_id}/roles/{role_name}": {
          "parameters": [
              {
                  "name": "project_id",
                  "in": "path",
                  "description": "The Neon project ID",
                  "required": true,
                  "schema": {
                      "type": "string"
                  }
              },
              {
                  "name": "branch_id",
                  "in": "path",
                  "description": "The branch ID",
                  "required": true,
                  "schema": {
                      "type": "string"
                  }
              },
              {
                  "name": "role_name",
                  "in": "path",
                  "description": "The role name",
                  "required": true,
                  "schema": {
                      "type": "string"
                  }
              }
          ],
          "get": {
              "summary": "Get role details",
              "description": "Retrieves details about the specified role.\nYou can obtain a `project_id` by listing the projects for your Neon account.\nYou can obtain the `branch_id` by listing the project's branches.\nYou can obtain the `role_name` by listing the roles for a branch.\nIn Neon, the terms \"role\" and \"user\" are synonymous.\nFor related information, see [Managing users](https://neon.tech/docs/manage/users/).\n",
              "tags": [
                  "Branch"
              ],
              "operationId": "getRole",
              "responses": {
                  "200": {
                      "description": "Successfully returned details for the specified role",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/RoleResponse"
                              },
                              "example": {
                                  "role": {
                                      "branch_id": "br-noisy-sunset-458773",
                                      "name": "casey",
                                      "protected": false,
                                      "created_at": "2022-11-23T17:42:25Z",
                                      "updated_at": "2022-11-23T17:42:25Z"
                                  }
                              }
                          }
                      }
                  },
                  "default": {
                      "$ref": "#/components/responses/GeneralError"
                  }
              }
          },
          "delete": {
              "summary": "Delete a role",
              "description": "Deletes the specified role from the branch.\nYou can obtain a `project_id` by listing the projects for your Neon account.\nYou can obtain the `branch_id` by listing the project's branches.\nYou can obtain the `role_name` by listing the roles for a branch.\nIn Neon, the terms \"role\" and \"user\" are synonymous.\nFor related information, see [Managing users](https://neon.tech/docs/manage/users/).\n",
              "tags": [
                  "Branch"
              ],
              "operationId": "deleteRole",
              "responses": {
                  "200": {
                      "description": "Deleted the specified role from the branch",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/RoleOperations"
                              },
                              "example": {
                                  "role": {
                                      "branch_id": "br-raspy-hill-832856",
                                      "name": "thomas",
                                      "protected": false,
                                      "created_at": "2022-12-01T14:36:23Z",
                                      "updated_at": "2022-12-01T14:36:23Z"
                                  },
                                  "operations": [
                                      {
                                          "id": "db646be3-eace-4910-9f60-8150823c5cb8",
                                          "project_id": "shiny-wind-028834",
                                          "branch_id": "br-raspy-hill-832856",
                                          "endpoint_id": "ep-steep-bush-777093",
                                          "action": "apply_config",
                                          "status": "running",
                                          "failures_count": 0,
                                          "created_at": "2022-12-01T19:48:11Z",
                                          "updated_at": "2022-12-01T19:48:11Z"
                                      },
                                      {
                                          "id": "ab94cdad-7630-4943-a55e-5a0952d2e598",
                                          "project_id": "shiny-wind-028834",
                                          "branch_id": "br-raspy-hill-832856",
                                          "endpoint_id": "ep-steep-bush-777093",
                                          "action": "suspend_compute",
                                          "status": "scheduling",
                                          "failures_count": 0,
                                          "created_at": "2022-12-01T19:48:11Z",
                                          "updated_at": "2022-12-01T19:48:11Z"
                                      }
                                  ]
                              }
                          }
                      }
                  },
                  "default": {
                      "$ref": "#/components/responses/GeneralError"
                  }
              }
          }
      },
      "/projects/{project_id}/branches/{branch_id}/roles/{role_name}/reveal_password": {
          "parameters": [
              {
                  "name": "project_id",
                  "in": "path",
                  "description": "The Neon project ID",
                  "required": true,
                  "schema": {
                      "type": "string"
                  }
              },
              {
                  "name": "branch_id",
                  "in": "path",
                  "description": "The branch ID",
                  "required": true,
                  "schema": {
                      "type": "string"
                  }
              },
              {
                  "name": "role_name",
                  "in": "path",
                  "description": "The role name",
                  "required": true,
                  "schema": {
                      "type": "string"
                  }
              }
          ],
          "get": {
              "summary": "Get role password",
              "description": "Retrieves password of the specified role if possible.\nYou can obtain a `project_id` by listing the projects for your Neon account.\nYou can obtain the `branch_id` by listing the project's branches.\nYou can obtain the `role_name` by listing the roles for a branch.\nIn Neon, the terms \"role\" and \"user\" are synonymous.\nFor related information, see [Managing users](https://neon.tech/docs/manage/users/).\n",
              "tags": [
                  "Branch"
              ],
              "operationId": "getRolePassword",
              "responses": {
                  "200": {
                      "description": "Successfully returned password for the specified role",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/RolePasswordResponse"
                              },
                              "example": {
                                  "password": "mypass"
                              }
                          }
                      }
                  },
                  "404": {
                      "description": "Role not found",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/GeneralError"
                              }
                          }
                      }
                  },
                  "412": {
                      "description": "Storing passwords is disabled",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/GeneralError"
                              }
                          }
                      }
                  },
                  "default": {
                      "$ref": "#/components/responses/GeneralError"
                  }
              }
          }
      },
      "/projects/{project_id}/branches/{branch_id}/roles/{role_name}/reset_password": {
          "parameters": [
              {
                  "name": "project_id",
                  "in": "path",
                  "description": "The Neon project ID",
                  "required": true,
                  "schema": {
                      "type": "string"
                  }
              },
              {
                  "name": "branch_id",
                  "in": "path",
                  "description": "The branch ID",
                  "required": true,
                  "schema": {
                      "type": "string"
                  }
              },
              {
                  "name": "role_name",
                  "in": "path",
                  "description": "The role nam",
                  "required": true,
                  "schema": {
                      "type": "string"
                  }
              }
          ],
          "post": {
              "summary": "Reset the role password",
              "description": "Resets the password for the specified role.\nReturns a new password and operations. The new password is ready to use when the last operation finishes.\nThe old password remains valid until last operation finishes.\nConnections to the read-write endpoint are dropped. If idle,\nthe read-write endpoint becomes active for a short period of time.\n\nYou can obtain a `project_id` by listing the projects for your Neon account.\nYou can obtain the `branch_id` by listing the project's branches.\nYou can obtain the `role_name` by listing the roles for a branch.\nIn Neon, the terms \"role\" and \"user\" are synonymous.\nFor related information, see [Managing users](https://neon.tech/docs/manage/users/).\n",
              "tags": [
                  "Branch"
              ],
              "operationId": "resetRolePassword",
              "responses": {
                  "200": {
                      "description": "Reset the passsword for the specified role",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/RoleOperations"
                              },
                              "example": {
                                  "role": {
                                      "branch_id": "br-noisy-sunset-458773",
                                      "name": "sally",
                                      "password": "ClfD0aVuK3eK",
                                      "protected": false,
                                      "created_at": "2022-12-03T12:39:39Z",
                                      "updated_at": "2022-12-03T12:58:18Z"
                                  },
                                  "operations": [
                                      {
                                          "id": "6bef07a0-ebca-40cd-9100-7324036cfff2",
                                          "project_id": "shiny-wind-028834",
                                          "branch_id": "br-noisy-sunset-458773",
                                          "endpoint_id": "ep-small-pine-767857",
                                          "action": "apply_config",
                                          "status": "running",
                                          "failures_count": 0,
                                          "created_at": "2022-12-03T12:58:18Z",
                                          "updated_at": "2022-12-03T12:58:18Z"
                                      },
                                      {
                                          "id": "16b5bfca-4697-4194-a338-d2cdc9aca2af",
                                          "project_id": "shiny-wind-028834",
                                          "branch_id": "br-noisy-sunset-458773",
                                          "endpoint_id": "ep-small-pine-767857",
                                          "action": "suspend_compute",
                                          "status": "scheduling",
                                          "failures_count": 0,
                                          "created_at": "2022-12-03T12:58:18Z",
                                          "updated_at": "2022-12-03T12:58:18Z"
                                      }
                                  ]
                              }
                          }
                      }
                  },
                  "default": {
                      "$ref": "#/components/responses/GeneralError"
                  }
              }
          }
      },
      "/projects/{project_id}/endpoints": {
          "parameters": [
              {
                  "name": "project_id",
                  "in": "path",
                  "description": "The Neon project ID",
                  "required": true,
                  "schema": {
                      "type": "string"
                  }
              }
          ],
          "post": {
              "summary": "Create an endpoint",
              "description": "Creates an endpoint for the specified branch.\nAn endpoint is a Neon compute instance.\nThere is a maximum of one endpoint per branch.\nIf the specified branch already has an endpoint, the operation fails.\n\nYou can obtain a `project_id` by listing the projects for your Neon account.\nYou can obtain `branch_id` by listing the project's branches.\nA `branch_id` has a `br-` prefix.\nCurrently, only the `read_write` endpoint type is supported.\nFor supported regions and `region_id` values, see [Regions](https://neon.tech/docs/introduction/regions/).\nFor more information about endpoints, see [Manage endpoints](https://neon.tech/docs/manage/endpoints/).\n",
              "tags": [
                  "Endpoint"
              ],
              "operationId": "createProjectEndpoint",
              "requestBody": {
                  "content": {
                      "application/json": {
                          "schema": {
                              "$ref": "#/components/schemas/EndpointCreateRequest"
                          },
                          "examples": {
                              "Required attributes only": {
                                  "value": {
                                      "endpoint": {
                                          "branch_id": "br-floral-mountain-251143",
                                          "type": "read_write"
                                      }
                                  }
                              },
                              "With region attribute": {
                                  "value": {
                                      "endpoint": {
                                          "branch_id": "br-floral-mountain-251143",
                                          "type": "read_write",
                                          "region_id": "aws-us-east-2"
                                      }
                                  }
                              },
                              "With pooler attribute": {
                                  "value": {
                                      "endpoint": {
                                          "branch_id": "br-floral-mountain-251143",
                                          "type": "read_write",
                                          "pooler_enabled": true
                                      }
                                  }
                              }
                          }
                      }
                  },
                  "required": true
              },
              "responses": {
                  "201": {
                      "description": "Created an endpoint",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/EndpointOperations"
                              },
                              "example": {
                                  "endpoint": {
                                      "host": "ep-shrill-thunder-454069.us-east-2.aws.neon.tech",
                                      "id": "ep-shrill-thunder-454069",
                                      "project_id": "bitter-meadow-966132",
                                      "branch_id": "br-proud-paper-090813",
                                      "autoscaling_limit_min_cu": 1,
                                      "autoscaling_limit_max_cu": 1,
                                      "region_id": "aws-us-east-2",
                                      "type": "read_write",
                                      "current_state": "init",
                                      "pending_state": "active",
                                      "settings": {
                                          "pg_settings": {}
                                      },
                                      "pooler_enabled": false,
                                      "pooler_mode": "transaction",
                                      "disabled": false,
                                      "passwordless_access": true,
                                      "created_at": "2022-12-03T15:37:07Z",
                                      "updated_at": "2022-12-03T15:37:07Z",
                                      "proxy_host": "us-east-2.aws.neon.tech"
                                  },
                                  "operations": {
                                      "id": "874f8bfe-f51d-4c61-85af-a29bea73e0e2",
                                      "project_id": "bitter-meadow-966132",
                                      "branch_id": "br-proud-paper-090813",
                                      "endpoint_id": "ep-shrill-thunder-454069",
                                      "action": "start_compute",
                                      "status": "running",
                                      "failures_count": 0,
                                      "created_at": "2022-12-03T15:37:07Z",
                                      "updated_at": "2022-12-03T15:37:07Z"
                                  }
                              }
                          }
                      }
                  },
                  "default": {
                      "$ref": "#/components/responses/GeneralError"
                  }
              }
          },
          "get": {
              "summary": "Get a list of endpoints",
              "description": "Retrieves a list of endpoints for the specified project.\nAn endpoint is a Neon compute instance.\nYou can obtain a `project_id` by listing the projects for your Neon account.\nFor more information about endpoints, see [Manage endpoints](https://neon.tech/docs/manage/endpoints/).\n",
              "tags": [
                  "Project",
                  "Endpoint"
              ],
              "operationId": "listProjectEndpoints",
              "responses": {
                  "200": {
                      "description": "Returned a list of endpoints for the specified project",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/EndpointsResponse"
                              },
                              "example": {
                                  "endpoints": [
                                      {
                                          "host": "ep-little-smoke-851426.us-east-2.aws.neon.tech",
                                          "id": "ep-little-smoke-851426",
                                          "project_id": "shiny-wind-028834",
                                          "branch_id": "br-aged-salad-637688",
                                          "autoscaling_limit_min_cu": 1,
                                          "autoscaling_limit_max_cu": 1,
                                          "region_id": "aws-us-east-2",
                                          "type": "read_write",
                                          "current_state": "idle",
                                          "settings": {
                                              "pg_settings": {}
                                          },
                                          "pooler_enabled": false,
                                          "pooler_mode": "transaction",
                                          "disabled": false,
                                          "passwordless_access": true,
                                          "last_active": "2022-11-23T17:00:00Z",
                                          "created_at": "2022-11-23T17:42:25Z",
                                          "updated_at": "2022-11-30T18:25:21Z",
                                          "proxy_host": "us-east-2.aws.neon.tech"
                                      },
                                      {
                                          "host": "ep-steep-bush-777093.us-east-2.aws.neon.tech",
                                          "id": "ep-steep-bush-777093",
                                          "project_id": "shiny-wind-028834",
                                          "branch_id": "br-raspy-hill-832856",
                                          "autoscaling_limit_min_cu": 1,
                                          "autoscaling_limit_max_cu": 1,
                                          "region_id": "aws-us-east-2",
                                          "type": "read_write",
                                          "current_state": "idle",
                                          "settings": {
                                              "pg_settings": {}
                                          },
                                          "pooler_enabled": false,
                                          "pooler_mode": "transaction",
                                          "disabled": false,
                                          "passwordless_access": true,
                                          "last_active": "2022-11-30T17:00:00Z",
                                          "created_at": "2022-11-30T17:36:57Z",
                                          "updated_at": "2022-11-30T18:42:58Z",
                                          "proxy_host": "us-east-2.aws.neon.tech"
                                      },
                                      {
                                          "host": "ep-soft-violet-752733.us-east-2.aws.neon.tech",
                                          "id": "ep-soft-violet-752733",
                                          "project_id": "shiny-wind-028834",
                                          "branch_id": "br-sweet-breeze-497520",
                                          "autoscaling_limit_min_cu": 1,
                                          "autoscaling_limit_max_cu": 1,
                                          "region_id": "aws-us-east-2",
                                          "type": "read_write",
                                          "current_state": "idle",
                                          "settings": {
                                              "pg_settings": {}
                                          },
                                          "pooler_enabled": false,
                                          "pooler_mode": "transaction",
                                          "disabled": false,
                                          "passwordless_access": true,
                                          "last_active": "2022-11-30T19:00:00Z",
                                          "created_at": "2022-11-30T19:09:48Z",
                                          "updated_at": "2022-11-30T19:14:51Z",
                                          "proxy_host": "us-east-2.aws.neon.tech"
                                      }
                                  ]
                              }
                          }
                      }
                  },
                  "default": {
                      "$ref": "#/components/responses/GeneralError"
                  }
              }
          }
      },
      "/projects/{project_id}/endpoints/{endpoint_id}": {
          "parameters": [
              {
                  "name": "project_id",
                  "in": "path",
                  "description": "The Neon project ID",
                  "required": true,
                  "schema": {
                      "type": "string"
                  }
              },
              {
                  "name": "endpoint_id",
                  "in": "path",
                  "description": "The endpoint ID",
                  "required": true,
                  "schema": {
                      "type": "string"
                  }
              }
          ],
          "get": {
              "summary": "Get an endpoint",
              "description": "Retrieves information about the specified endpoint.\nAn endpoint is a Neon compute instance.\nYou can obtain a `project_id` by listing the projects for your Neon account.\nYou can obtain an `endpoint_id` by listing your project's endpoints.\nAn `endpoint_id` has an `ep-` prefix.\nFor more information about endpoints, see [Manage endpoints](https://neon.tech/docs/manage/endpoints/).\n",
              "tags": [
                  "Endpoint"
              ],
              "operationId": "getProjectEndpoint",
              "responses": {
                  "200": {
                      "description": "Returned information about the specified endpoint",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/EndpointResponse"
                              },
                              "example": {
                                  "endpoint": {
                                      "host": "ep-little-smoke-851426.us-east-2.aws.neon.tech",
                                      "id": "ep-little-smoke-851426",
                                      "project_id": "shiny-wind-028834",
                                      "branch_id": "br-aged-salad-637688",
                                      "autoscaling_limit_min_cu": 1,
                                      "autoscaling_limit_max_cu": 1,
                                      "region_id": "aws-us-east-2",
                                      "type": "read_write",
                                      "current_state": "idle",
                                      "settings": {
                                          "pg_settings": {}
                                      },
                                      "pooler_enabled": false,
                                      "pooler_mode": "transaction",
                                      "disabled": false,
                                      "passwordless_access": true,
                                      "last_active": "2022-11-23T17:00:00Z",
                                      "created_at": "2022-11-23T17:42:25Z",
                                      "updated_at": "2022-11-30T18:25:21Z",
                                      "proxy_host": "us-east-2.aws.neon.tech"
                                  }
                              }
                          }
                      }
                  },
                  "default": {
                      "$ref": "#/components/responses/GeneralError"
                  }
              }
          },
          "delete": {
              "summary": "Delete an endpoint",
              "description": "Delete the specified endpoint.\nAn endpoint is a Neon compute instance.\nDeleting an endpoint drops existing network connections to the endpoint.\nThe deletion is completed when last operation in the chain finishes successfully.\n\nYou can obtain a `project_id` by listing the projects for your Neon account.\nYou can obtain an `endpoint_id` by listing your project's endpoints.\nAn `endpoint_id` has an `ep-` prefix.\nFor more information about endpoints, see [Manage endpoints](https://neon.tech/docs/manage/endpoints/).\n",
              "tags": [
                  "Endpoint"
              ],
              "operationId": "deleteProjectEndpoint",
              "responses": {
                  "200": {
                      "description": "Deleted the specified endpoint",
[...]
