openapi: 3.0.1
info:
  title: api
  version: ''
paths: {}
components:
  schemas:
    ImportingA:
      title: ImportingA
      type: object
      properties:
        a:
          $ref: '#/components/schemas/A'
          nullable: true
    RootType:
      title: RootType
      type: object
      properties:
        s:
          type: string
      required:
        - s
    A:
      title: A
      type: object
      properties: {}
      allOf:
        - $ref: '#/components/schemas/RootType'
    TorU:
      title: TorU
      oneOf:
        - $ref: '#/components/schemas/T'
        - $ref: '#/components/schemas/U'
    T:
      title: T
      type: object
      properties:
        child:
          $ref: '#/components/schemas/TorU'
      required:
        - child
    U:
      title: U
      type: object
      properties:
        child:
          $ref: '#/components/schemas/T'
      required:
        - child
    FieldValue:
      title: FieldValue
      oneOf:
        - type: object
          properties:
            type:
              type: string
              enum:
                - primitive_value
            value:
              $ref: '#/components/schemas/PrimitiveValue'
          required:
            - type
        - type: object
          allOf:
            - type: object
              properties:
                type:
                  type: string
                  enum:
                    - object_value
            - $ref: '#/components/schemas/ObjectValue'
          required:
            - type
        - type: object
          properties:
            type:
              type: string
              enum:
                - container_value
            value:
              $ref: '#/components/schemas/ContainerValue'
          required:
            - type
    ContainerValue:
      title: ContainerValue
      oneOf:
        - type: object
          properties:
            type:
              type: string
              enum:
                - list
            value:
              type: array
              items:
                $ref: '#/components/schemas/FieldValue'
          required:
            - type
        - type: object
          properties:
            type:
              type: string
              enum:
                - optional
            value:
              $ref: '#/components/schemas/FieldValue'
              nullable: true
          required:
            - type
    PrimitiveValue:
      title: PrimitiveValue
      type: string
      enum:
        - STRING
        - NUMBER
    ObjectValue:
      title: ObjectValue
      type: object
      properties: {}
    JsonLike:
      title: JsonLike
      oneOf:
        - type: array
          items:
            $ref: '#/components/schemas/JsonLike'
        - type: object
          additionalProperties:
            $ref: '#/components/schemas/JsonLike'
        - type: string
        - type: integer
        - type: boolean
    JsonLikeWithNullAndUndefined:
      title: JsonLikeWithNullAndUndefined
      oneOf:
        - type: array
          items:
            $ref: '#/components/schemas/JsonLikeWithNullAndUndefined'
            nullable: true
        - type: object
          additionalProperties:
            $ref: '#/components/schemas/JsonLikeWithNullAndUndefined'
            nullable: true
        - type: string
          nullable: true
        - type: integer
          nullable: true
        - type: boolean
          nullable: true
  securitySchemes: {}
