openapi: 3.1.0
info:
  title: API Reference
  version: "1.0"
  description: The Cohere API for interacting with Chat, Embed and Rerank models.
  summary: Cohere's API
  contact:
    name: Cohere Developers
    url: https://cohere.com/
    email: team@cohere.com
  termsOfService: https://cohere.com/terms-of-use
  license:
    name: proprietary
    url: https://cohere.com/terms-of-use
servers:
  - url: https://api.cohere.com
    description: production
security:
  - bearerAuth: []
tags:
  - name: /datasets
    description: Datasets API
  - name: /connectors
    description: Connectors API
  - name: /embed-jobs
    description: Embed Jobs API
  - name: /finetuning
    description: Finetuning API (Beta)
paths:
  /v1/chat:
    post:
      parameters:
        - $ref: "#/components/parameters/RequestSource"
        - name: Accepts
          description: |
            Pass text/event-stream to receive the streamed response as server-sent events. The default is `\n` delimited events.
          x-fern-audiences:
            - public
          schema:
            type: string
            enum:
              - text/event-stream
          in: header
          required: false
          example: text/event-stream
      x-fern-audiences:
        - public
      summary: Chat API (v1)
      operationId: chat
      x-fern-streaming:
        stream-description: |
          Generates a streamed text response to a user message.

          To learn how to use the Chat API and RAG follow our [Text Generation guides](https://docs.cohere.com/docs/chat-api).
        stream-condition: $request.stream
        response:
          required:
            - text
          x-fern-type-name: NonStreamedChatResponse
          properties:
            text:
              type: string
              x-fern-audiences:
                - public
              minLength: 1
              description: Contents of the reply generated by the model.
            generation_id:
              type: string
              x-fern-audiences:
                - public
              format: uuid
              description: Unique identifier for the generated reply. Useful for submitting
                feedback.
            response_id:
              type: string
              x-fern-audiences:
                - public
              format: uuid
              description: Unique identifier for the response.
            citations:
              type: array
              x-fern-audiences:
                - public
              minItems: 0
              description: Inline citations for the generated reply.
              items:
                $ref: "#/components/schemas/ChatCitation"
            documents:
              type: array
              x-fern-audiences:
                - public
              minItems: 0
              description: Documents seen by the model when generating the reply.
              items:
                $ref: "#/components/schemas/ChatDocument"
            is_search_required:
              type: boolean
              x-fern-audiences:
                - public
              description: Denotes that a search for documents is required during the RAG
                flow.
            search_queries:
              type: array
              x-fern-audiences:
                - public
              description: Generated search queries, meant to be used as part of the RAG flow.
              items:
                $ref: "#/components/schemas/ChatSearchQuery"
            search_results:
              type: array
              x-fern-audiences:
                - public
              minItems: 0
              description: Documents retrieved from each of the conducted searches.
              items:
                $ref: "#/components/schemas/ChatSearchResult"
            finish_reason:
              x-fern-audiences:
                - public
              $ref: "#/components/schemas/FinishReason"
            tool_calls:
              x-fern-audiences:
                - public
              type: array
              items:
                $ref: "#/components/schemas/ToolCall"
            chat_history:
              type: array
              x-fern-audiences:
                - public
              minItems: 0
              items:
                $ref: "#/components/schemas/Message"
              description: |
                A list of previous messages between the user and the model, meant to give the model conversational context for responding to the user's `message`.
            meta:
              $ref: "#/components/schemas/ApiMeta"
              x-fern-audiences:
                - public
        response-stream:
          description: StreamedChatResponse is returned in streaming mode (specified with
            `stream=True` in the request).
          x-fern-type-name: StreamedChatResponse
          oneOf:
            - $ref: "#/components/schemas/ChatStreamStartEvent"
            - $ref: "#/components/schemas/ChatSearchQueriesGenerationEvent"
            - $ref: "#/components/schemas/ChatSearchResultsEvent"
            - $ref: "#/components/schemas/ChatTextGenerationEvent"
            - $ref: "#/components/schemas/ChatCitationGenerationEvent"
            - $ref: "#/components/schemas/ChatToolCallsGenerationEvent"
            - $ref: "#/components/schemas/ChatStreamEndEvent"
            - $ref: "#/components/schemas/ChatToolCallsChunkEvent"
            - $ref: "#/components/schemas/ChatDebugEvent"
          discriminator:
            propertyName: event_type
            mapping:
              stream-start: "#/components/schemas/ChatStreamStartEvent"
              search-queries-generation: "#/components/schemas/ChatSearchQueriesGenerationEvent"
              search-results: "#/components/schemas/ChatSearchResultsEvent"
              text-generation: "#/components/schemas/ChatTextGenerationEvent"
              citation-generation: "#/components/schemas/ChatCitationGenerationEvent"
              tool-calls-generation: "#/components/schemas/ChatToolCallsGenerationEvent"
              stream-end: "#/components/schemas/ChatStreamEndEvent"
              tool-calls-chunk: "#/components/schemas/ChatToolCallsChunkEvent"
              debug: "#/components/schemas/ChatDebugEvent"
      x-fern-examples:
        - code-samples:
            - sdk: go
              name: Default
              code: >
                package main


                import (
                	"context"
                	"log"
                	"os"

                	cohere "github.com/cohere-ai/cohere-go/v2"
                	client "github.com/cohere-ai/cohere-go/v2/client"
                )


                func main() {
                	co := client.NewClient(client.WithToken(os.Getenv("CO_API_KEY")))

                	resp, err := co.Chat(
                		context.TODO(),
                		&cohere.ChatRequest{
                			Model:   cohere.String("command-a-03-2025"),
                			Message: "Tell me about LLMs",
                		},
                	)

                	if err != nil {
                		log.Fatal(err)
                	}

                	log.Printf("%+v", resp)
                }
            - sdk: typescript
              name: Default
              code: |
                import { CohereClient } from 'cohere-ai';

                const cohere = new CohereClient({});

                (async () => {
                  const response = await cohere.chat({
                    model: 'command-a-03-2025',
                    message: 'Tell me about LLMs',
                  });

                  console.log(response);
                })();
            - sdk: java
              name: Default
              code: >
                /* (C)2024 */

                package chatpost;


                import com.cohere.api.Cohere;

                import com.cohere.api.requests.ChatRequest;

                import com.cohere.api.types.ChatMessage;

                import com.cohere.api.types.Message;

                import com.cohere.api.types.NonStreamedChatResponse;

                import java.util.List;


                public class Default {
                  public static void main(String[] args) {
                    Cohere cohere = Cohere.builder().clientName("snippet").build();

                    NonStreamedChatResponse response =
                        cohere.chat(
                            ChatRequest.builder()
                                .model("command-a-03-2025")
                                .message("Tell me about LLMs")
                                .build());

                    System.out.println(response);
                  }
                }
            - sdk: python
              name: Sync
              code: |
                import cohere

                co = cohere.Client()

                response = co.chat(
                    model="command-a-03-2025",
                    message="Tell me about LLMs",
                )

                print(response)
            - sdk: python
              name: Async
              code: |
                import cohere
                import asyncio

                co = cohere.AsyncClient()


                async def main():
                    return await co.chat(
                        model="command-a-03-2025",
                        message="Tell me about LLMs"
                    )


                asyncio.run(main())
            - sdk: curl
              name: Default
              code: |-
                curl --request POST \
                  --url https://api.cohere.com/v1/chat \
                  --header 'accept: application/json' \
                  --header 'content-type: application/json' \
                  --header "Authorization: bearer $CO_API_KEY" \
                  --data '{
                    "model": "command-a-03-2025",
                    "message": "Tell me about LLMs"
                  }'
          request:
            model: command-a-03-2025
            message: Tell me about LLMs
            stream: false
          response:
            body:
              text: >-
                Large Language Models (LLMs) are advanced AI systems trained on
                vast amounts of text data to understand and generate human-like
                text. They use deep learning architectures, particularly
                transformers, to process and produce language.


                Key characteristics of LLMs include:


                1. **Scale**: They're trained on billions or trillions of
                parameters, making them capable of understanding complex
                patterns in language.


                2. **Versatility**: LLMs can perform various tasks like
                translation, summarization, question answering, and creative
                writing without being explicitly programmed for each task.


                3. **Context Understanding**: They can maintain context over
                long conversations and generate coherent, contextually relevant
                responses.


                4. **Few-shot Learning**: LLMs can often perform new tasks with
                just a few examples, adapting to new scenarios quickly.


                Popular examples include GPT (Generative Pre-trained
                Transformer) models, BERT, and Cohere's Command models. These
                models have revolutionized natural language processing and
                enabled new applications across industries.
              generation_id: f47ac10b-58cc-4372-a567-0e02b2c3d479
              chat_history:
                - role: USER
                  message: Tell me about LLMs
                - role: CHATBOT
                  message: >-
                    Large Language Models (LLMs) are advanced AI systems trained
                    on vast amounts of text data to understand and generate
                    human-like text. They use deep learning architectures,
                    particularly transformers, to process and produce language.


                    Key characteristics of LLMs include:


                    1. **Scale**: They're trained on billions or trillions of
                    parameters, making them capable of understanding complex
                    patterns in language.


                    2. **Versatility**: LLMs can perform various tasks like
                    translation, summarization, question answering, and creative
                    writing without being explicitly programmed for each task.


                    3. **Context Understanding**: They can maintain context over
                    long conversations and generate coherent, contextually
                    relevant responses.


                    4. **Few-shot Learning**: LLMs can often perform new tasks
                    with just a few examples, adapting to new scenarios quickly.


                    Popular examples include GPT (Generative Pre-trained
                    Transformer) models, BERT, and Cohere's Command models.
                    These models have revolutionized natural language processing
                    and enabled new applications across industries.
              finish_reason: COMPLETE
              meta:
                api_version:
                  version: '1'
                billed_units:
                  input_tokens: 5
                  output_tokens: 198
                tokens:
                  input_tokens: 71
                  output_tokens: 198
        - code-samples:
            - sdk: go
              name: Documents
              code: >
                package main


                import (
                	"context"
                	"errors"
                	"io"
                	"log"
                	"os"

                	cohere "github.com/cohere-ai/cohere-go/v2"
                	client "github.com/cohere-ai/cohere-go/v2/client"
                )


                func main() {
                	co := client.NewClient(client.WithToken(os.Getenv("CO_API_KEY")))

                	resp, err := co.ChatStream(
                		context.TODO(),
                		&cohere.ChatStreamRequest{
                			Model:   cohere.String("command-a-03-2025"),
                			Message: "Tell me about LLMs",
                		},
                	)

                	if err != nil {
                		log.Fatal(err)
                	}

                	// Make sure to close the stream when you're done reading.
                	// This is easily handled with defer.
                	defer resp.Close()

                	for {
                		message, err := resp.Recv()

                		if errors.Is(err, io.EOF) {
                			// An io.EOF error means the server is done sending messages
                			// and should be treated as a success.
                			break
                		}

                		if message.TextGeneration != nil {
                			log.Printf("%+v", resp)
                		}
                	}

                }
            - sdk: typescript
              name: Documents
              code: >
                import { CohereClient } from 'cohere-ai';


                const cohere = new CohereClient({});


                (async () => {
                  const response = await cohere.chat({
                    model: 'command-a-03-2025',
                    message: 'Who is more popular: Nsync or Backstreet Boys?',
                    documents: [
                      {
                        title: 'CSPC: Backstreet Boys Popularity Analysis - ChartMasters',
                        snippet:
                          '↓ Skip to Main Content\n\nMusic industry – One step closer to being accurate\n\nCSPC: Backstreet Boys Popularity Analysis\n\nHernán Lopez Posted on February 9, 2017 Posted in CSPC 72 Comments Tagged with Backstreet Boys, Boy band\n\nAt one point, Backstreet Boys defined success: massive albums sales across the globe, great singles sales, plenty of chart topping releases, hugely hyped tours and tremendous media coverage.\n\nIt is true that they benefited from extraordinarily good market conditions in all markets. After all, the all-time record year for the music business, as far as revenues in billion dollars are concerned, was actually 1999. That is, back when this five men group was at its peak.',
                      },
                      {
                        title: 'CSPC: NSYNC Popularity Analysis - ChartMasters',
                        snippet:
                          "↓ Skip to Main Content\n\nMusic industry – One step closer to being accurate\n\nCSPC: NSYNC Popularity Analysis\n\nMJD Posted on February 9, 2018 Posted in CSPC 27 Comments Tagged with Boy band, N'Sync\n\nAt the turn of the millennium three teen acts were huge in the US, the Backstreet Boys, Britney Spears and NSYNC. The latter is the only one we haven’t study so far. It took 15 years and Adele to break their record of 2,4 million units sold of No Strings Attached in its first week alone.\n\nIt wasn’t a fluke, as the second fastest selling album of the Soundscan era prior 2015, was also theirs since Celebrity debuted with 1,88 million units sold.",
                      },
                      {
                        title: 'CSPC: Backstreet Boys Popularity Analysis - ChartMasters',
                        snippet:
                          ' 1997, 1998, 2000 and 2001 also rank amongst some of the very best years.\n\nYet the way many music consumers – especially teenagers and young women’s – embraced their output deserves its own chapter. If Jonas Brothers and more recently One Direction reached a great level of popularity during the past decade, the type of success achieved by Backstreet Boys is in a completely different level as they really dominated the business for a few years all over the world, including in some countries that were traditionally hard to penetrate for Western artists.\n\nWe will try to analyze the extent of that hegemony with this new article with final results which will more than surprise many readers.',
                      },
                      {
                        title: 'CSPC: NSYNC Popularity Analysis - ChartMasters',
                        snippet:
                          ' Was the teen group led by Justin Timberlake really that big? Was it only in the US where they found success? Or were they a global phenomenon?\n\nAs usual, I’ll be using the Commensurate Sales to Popularity Concept in order to relevantly gauge their results. This concept will not only bring you sales information for all NSYNC‘s albums, physical and download singles, as well as audio and video streaming, but it will also determine their true popularity. If you are not yet familiar with the CSPC method, the next page explains it with a short video. I fully recommend watching the video before getting into the sales figures.',
                      },
                    ],
                  });

                  console.log(response);
                })();
            - sdk: java
              name: Documents
              code: >
                /* (C)2024 */

                package chatpost;


                import com.cohere.api.Cohere;

                import com.cohere.api.requests.ChatRequest;

                import com.cohere.api.types.NonStreamedChatResponse;

                import java.util.List;

                import java.util.Map;


                public class Documents {
                  public static void main(String[] args) {
                    Cohere cohere = Cohere.builder().clientName("snippet").build();

                    NonStreamedChatResponse response =
                        cohere.chat(
                            ChatRequest.builder()
                                .model("command-a-03-2025")
                                .message("What year was he born?")
                                .documents(
                                    List.of(
                                        Map.of(
                                            "title",
                                                "CSPC: Backstreet Boys Popularity" + " Analysis - ChartMasters",
                                            "snippet",
                                                "↓ Skip to Main Content\n\n"
                                                    + "Music industry – One step"
                                                    + " closer to being"
                                                    + " accurate\n\n"
                                                    + "CSPC: Backstreet Boys"
                                                    + " Popularity Analysis\n\n"
                                                    + "Hernán Lopez Posted on"
                                                    + " February 9, 2017 Posted in"
                                                    + " CSPC 72 Comments Tagged"
                                                    + " with Backstreet Boys, Boy"
                                                    + " band\n\n"
                                                    + "At one point, Backstreet"
                                                    + " Boys defined success:"
                                                    + " massive albums sales across"
                                                    + " the globe, great singles"
                                                    + " sales, plenty of chart"
                                                    + " topping releases, hugely"
                                                    + " hyped tours and tremendous"
                                                    + " media coverage.\n\n"
                                                    + "It is true that they"
                                                    + " benefited from"
                                                    + " extraordinarily good market"
                                                    + " conditions in all markets."
                                                    + " After all, the all-time"
                                                    + " record year for the music"
                                                    + " business, as far as"
                                                    + " revenues in billion dollars"
                                                    + " are concerned, was actually"
                                                    + " 1999. That is, back when"
                                                    + " this five men group was at"
                                                    + " its peak."),
                                        Map.of(
                                            "title", "CSPC: NSYNC Popularity Analysis -" + " ChartMasters",
                                            "snippet",
                                                "↓ Skip to Main Content\n\n"
                                                    + "Music industry – One step"
                                                    + " closer to being"
                                                    + " accurate\n\n"
                                                    + "CSPC: NSYNC Popularity"
                                                    + " Analysis\n\n"
                                                    + "MJD Posted on February 9,"
                                                    + " 2018 Posted in CSPC 27"
                                                    + " Comments Tagged with Boy"
                                                    + " band, N'Sync\n\n"
                                                    + "At the turn of the"
                                                    + " millennium three teen acts"
                                                    + " were huge in the US, the"
                                                    + " Backstreet Boys, Britney"
                                                    + " Spears and NSYNC. The"
                                                    + " latter is the only one we"
                                                    + " haven’t study so far. It"
                                                    + " took 15 years and Adele to"
                                                    + " break their record of 2,4"
                                                    + " million units sold of No"
                                                    + " Strings Attached in its"
                                                    + " first week alone.\n\n"
                                                    + "It wasn’t a fluke, as the"
                                                    + " second fastest selling"
                                                    + " album of the Soundscan era"
                                                    + " prior 2015, was also theirs"
                                                    + " since Celebrity debuted"
                                                    + " with 1,88 million units"
                                                    + " sold."),
                                        Map.of(
                                            "title",
                                                "CSPC: Backstreet Boys Popularity" + " Analysis - ChartMasters",
                                            "snippet",
                                                " 1997, 1998, 2000 and 2001 also"
                                                    + " rank amongst some of the"
                                                    + " very best years.\n\n"
                                                    + "Yet the way many music"
                                                    + " consumers – especially"
                                                    + " teenagers and young women’s"
                                                    + " – embraced their output"
                                                    + " deserves its own chapter."
                                                    + " If Jonas Brothers and more"
                                                    + " recently One Direction"
                                                    + " reached a great level of"
                                                    + " popularity during the past"
                                                    + " decade, the type of success"
                                                    + " achieved by Backstreet Boys"
                                                    + " is in a completely"
                                                    + " different level as they"
                                                    + " really dominated the"
                                                    + " business for a few years"
                                                    + " all over the world,"
                                                    + " including in some countries"
                                                    + " that were traditionally"
                                                    + " hard to penetrate for"
                                                    + " Western artists.\n\n"
                                                    + "We will try to analyze the"
                                                    + " extent of that hegemony"
                                                    + " with this new article with"
                                                    + " final results which will"
                                                    + " more than surprise many"
                                                    + " readers."),
                                        Map.of(
                                            "title",
                                            "CSPC: NSYNC Popularity Analysis -" + " ChartMasters",
                                            "snippet",
                                            " Was the teen group led by Justin"
                                                + " Timberlake really that big? Was it"
                                                + " only in the US where they found"
                                                + " success? Or were they a global"
                                                + " phenomenon?\n\n"
                                                + "As usual, I’ll be using the"
                                                + " Commensurate Sales to Popularity"
                                                + " Concept in order to relevantly"
                                                + " gauge their results. This concept"
                                                + " will not only bring you sales"
                                                + " information for all NSYNC‘s albums,"
                                                + " physical and download singles, as"
                                                + " well as audio and video streaming,"
                                                + " but it will also determine their"
                                                + " true popularity. If you are not yet"
                                                + " familiar with the CSPC method, the"
                                                + " next page explains it with a short"
                                                + " video. I fully recommend watching"
                                                + " the video before getting into the"
                                                + " sales figures.")))
                                .build());

                    System.out.println(response);
                  }
                }
            - sdk: python
              name: Documents
              code: >
                import cohere


                co = cohere.Client()


                response = co.chat(
                    model="command-a-03-2025",
                    message="Who is more popular: Nsync or Backstreet Boys?",
                    documents=[
                        {
                            "title": "CSPC: Backstreet Boys Popularity Analysis - ChartMasters",
                            "snippet": "↓ Skip to Main Content\n\nMusic industry – One step closer to being accurate\n\nCSPC: Backstreet Boys Popularity Analysis\n\nHernán Lopez Posted on February 9, 2017 Posted in CSPC 72 Comments Tagged with Backstreet Boys, Boy band\n\nAt one point, Backstreet Boys defined success: massive albums sales across the globe, great singles sales, plenty of chart topping releases, hugely hyped tours and tremendous media coverage.\n\nIt is true that they benefited from extraordinarily good market conditions in all markets. After all, the all-time record year for the music business, as far as revenues in billion dollars are concerned, was actually 1999. That is, back when this five men group was at its peak.",
                        },
                        {
                            "title": "CSPC: NSYNC Popularity Analysis - ChartMasters",
                            "snippet": "↓ Skip to Main Content\n\nMusic industry – One step closer to being accurate\n\nCSPC: NSYNC Popularity Analysis\n\nMJD Posted on February 9, 2018 Posted in CSPC 27 Comments Tagged with Boy band, N'Sync\n\nAt the turn of the millennium three teen acts were huge in the US, the Backstreet Boys, Britney Spears and NSYNC. The latter is the only one we haven’t study so far. It took 15 years and Adele to break their record of 2,4 million units sold of No Strings Attached in its first week alone.\n\nIt wasn’t a fluke, as the second fastest selling album of the Soundscan era prior 2015, was also theirs since Celebrity debuted with 1,88 million units sold.",
                        },
                        {
                            "title": "CSPC: Backstreet Boys Popularity Analysis - ChartMasters",
                            "snippet": " 1997, 1998, 2000 and 2001 also rank amongst some of the very best years.\n\nYet the way many music consumers – especially teenagers and young women’s – embraced their output deserves its own chapter. If Jonas Brothers and more recently One Direction reached a great level of popularity during the past decade, the type of success achieved by Backstreet Boys is in a completely different level as they really dominated the business for a few years all over the world, including in some countries that were traditionally hard to penetrate for Western artists.\n\nWe will try to analyze the extent of that hegemony with this new article with final results which will more than surprise many readers.",
                        },
                        {
                            "title": "CSPC: NSYNC Popularity Analysis - ChartMasters",
                            "snippet": " Was the teen group led by Justin Timberlake really that big? Was it only in the US where they found success? Or were they a global phenomenon?\n\nAs usual, I’ll be using the Commensurate Sales to Popularity Concept in order to relevantly gauge their results. This concept will not only bring you sales information for all NSYNC‘s albums, physical and download singles, as well as audio and video streaming, but it will also determine their true popularity. If you are not yet familiar with the CSPC method, the next page explains it with a short video. I fully recommend watching the video before getting into the sales figures.",
                        },
                    ],
                )


                print(response)
            - sdk: curl
              name: Documents
              code: >-
                curl --request POST \
                  --url https://api.cohere.com/v1/chat \
                  --header 'accept: application/json' \
                  --header 'content-type: application/json' \
                  --header "Authorization: bearer $CO_API_KEY" \
                  --data '{
                    "model": "command-a-03-2025",
                    "message": "Who is more popular: Nsync or Backstreet Boys?",
                    "documents": [
                      {
                        "title": "CSPC: Backstreet Boys Popularity Analysis - ChartMasters",
                        "snippet": "↓ Skip to Main Content\\n\\nMusic industry – One step closer to being accurate\\n\\nCSPC: Backstreet Boys Popularity Analysis\\n\\nHernán Lopez Posted on February 9, 2017 Posted in CSPC 72 Comments Tagged with Backstreet Boys, Boy band\\n\\nAt one point, Backstreet Boys defined success: massive albums sales across the globe, great singles sales, plenty of chart topping releases, hugely hyped tours and tremendous media coverage.\\n\\nIt is true that they benefited from extraordinarily good market conditions in all markets. After all, the all-time record year for the music business, as far as revenues in billion dollars are concerned, was actually 1999. That is, back when this five men group was at its peak."
                      },
                      {
                        "title": "CSPC: NSYNC Popularity Analysis - ChartMasters",
                        "snippet": "↓ Skip to Main Content\\n\\nMusic industry – One step closer to being accurate\\n\\nCSPC: NSYNC Popularity Analysis\\n\\nMJD Posted on February 9, 2018 Posted in CSPC 27 Comments Tagged with Boy band, NSync\\n\\nAt the turn of the millennium three teen acts were huge in the US, the Backstreet Boys, Britney Spears and NSYNC. The latter is the only one we haven’t study so far. It took 15 years and Adele to break their record of 2,4 million units sold of No Strings Attached in its first week alone.\\n\\nIt wasn’t a fluke, as the second fastest selling album of the Soundscan era prior 2015, was also theirs since Celebrity debuted with 1,88 million units sold."
                      },
                      {
                        "title": "CSPC: Backstreet Boys Popularity Analysis - ChartMasters",
                        "snippet": " 1997, 1998, 2000 and 2001 also rank amongst some of the very best years.\\n\\nYet the way many music consumers – especially teenagers and young women’s – embraced their output deserves its own chapter. If Jonas Brothers and more recently One Direction reached a great level of popularity during the past decade, the type of success achieved by Backstreet Boys is in a completely different level as they really dominated the business for a few years all over the world, including in some countries that were traditionally hard to penetrate for Western artists.\\n\\nWe will try to analyze the extent of that hegemony with this new article with final results which will more than surprise many readers."
                      },
                      {
                        "title": "CSPC: NSYNC Popularity Analysis - ChartMasters",
                        "snippet": " Was the teen group led by Justin Timberlake really that big? Was it only in the US where they found success? Or were they a global phenomenon?\\n\\nAs usual, I’ll be using the Commensurate Sales to Popularity Concept in order to relevantly gauge their results. This concept will not only bring you sales information for all NSYNC‘s albums, physical and download singles, as well as audio and video streaming, but it will also determine their true popularity. If you are not yet familiar with the CSPC method, the next page explains it with a short video. I fully recommend watching the video before getting into the sales figures."
                      }
                    ]
                  }'
          request:
            model: command-a-03-2025
            message: 'Who is more popular: Nsync or Backstreet Boys?'
            documents:
              - title: 'CSPC: Backstreet Boys Popularity Analysis - ChartMasters'
                snippet: >-
                  ↓ Skip to Main Content


                  Music industry – One step closer to being accurate


                  CSPC: Backstreet Boys Popularity Analysis


                  Hernán Lopez Posted on February 9, 2017 Posted in CSPC 72
                  Comments Tagged with Backstreet Boys, Boy band


                  At one point, Backstreet Boys defined success: massive albums
                  sales across the globe, great singles sales, plenty of chart
                  topping releases, hugely hyped tours and tremendous media
                  coverage.


                  It is true that they benefited from extraordinarily good
                  market conditions in all markets. After all, the all-time
                  record year for the music business, as far as revenues in
                  billion dollars are concerned, was actually 1999. That is,
                  back when this five men group was at its peak.
              - title: 'CSPC: NSYNC Popularity Analysis - ChartMasters'
                snippet: >-
                  ↓ Skip to Main Content


                  Music industry – One step closer to being accurate


                  CSPC: NSYNC Popularity Analysis


                  MJD Posted on February 9, 2018 Posted in CSPC 27 Comments
                  Tagged with Boy band, N'Sync


                  At the turn of the millennium three teen acts were huge in the
                  US, the Backstreet Boys, Britney Spears and NSYNC. The latter
                  is the only one we haven’t study so far. It took 15 years and
                  Adele to break their record of 2,4 million units sold of No
                  Strings Attached in its first week alone.


                  It wasn’t a fluke, as the second fastest selling album of the
                  Soundscan era prior 2015, was also theirs since Celebrity
                  debuted with 1,88 million units sold.
              - title: 'CSPC: Backstreet Boys Popularity Analysis - ChartMasters'
                snippet: >-
                  1997, 1998, 2000 and 2001 also rank amongst some of the very
                  best years.

                  Yet the way many music consumers – especially teenagers and
                  young women’s – embraced their output deserves its own
                  chapter. If Jonas Brothers and more recently One Direction
                  reached a great level of popularity during the past decade,
                  the type of success achieved by Backstreet Boys is in a
                  completely different level as they really dominated the
                  business for a few years all over the world, including in some
                  countries that were traditionally hard to penetrate for
                  Western artists.


                  We will try to analyze the extent of that hegemony with this
                  new article with final results which will more than surprise
                  many readers.
              - title: 'CSPC: NSYNC Popularity Analysis - ChartMasters'
                snippet: >-
                  Was the teen group led by Justin Timberlake really that big?
                  Was it only in the US where they found success? Or were they a
                  global phenomenon?

                  As usual, I’ll be using the Commensurate Sales to Popularity
                  Concept in order to relevantly gauge their results. This
                  concept will not only bring you sales information for all
                  NSYNC‘s albums, physical and download singles, as well as
                  audio and video streaming, but it will also determine their
                  true popularity. If you are not yet familiar with the CSPC
                  method, the next page explains it with a short video. I fully
                  recommend watching the video before getting into the sales
                  figures.
            stream: false
          response:
            body:
              text: >-
                Both NSync and Backstreet Boys were extremely popular at the
                turn of the millennium. Backstreet Boys had massive album sales
                across the globe, great singles sales, plenty of chart-topping
                releases, hyped tours, and tremendous media coverage. NSync also
                had huge sales, with their album No Strings Attached selling 2.4
                million units in its first week. They also had the second
                fastest-selling album of the Soundscan era before 2015, with
                Celebrity debuting at 1.88 million units sold.


                While it is difficult to say for sure which of the two bands was
                more popular, Backstreet Boys did have success in some countries
                that were traditionally hard to penetrate for Western artists.
              generation_id: c14c80c3-18eb-4519-9460-6c92edd8cfb4
              chat_history:
                - role: USER
                  message: 'Who is more popular: Nsync or Backstreet Boys?'
                - role: CHATBOT
                  message: >-
                    Both NSync and Backstreet Boys were extremely popular at the
                    turn of the millennium. Backstreet Boys had massive album
                    sales across the globe, great singles sales, plenty of
                    chart-topping releases, hyped tours, and tremendous media
                    coverage. NSync also had huge sales, with their album No
                    Strings Attached selling 2.4 million units in its first
                    week. They also had the second fastest-selling album of the
                    Soundscan era before 2015, with Celebrity debuting at 1.88
                    million units sold.


                    While it is difficult to say for sure which of the two bands
                    was more popular, Backstreet Boys did have success in some
                    countries that were traditionally hard to penetrate for
                    Western artists.
              finish_reason: COMPLETE
              meta:
                api_version:
                  version: '1'
                billed_units:
                  input_tokens: 682
                  output_tokens: 143
                tokens:
                  input_tokens: 1380
                  output_tokens: 434
              citations:
                - start: 36
                  end: 84
                  text: extremely popular at the turn of the millennium.
                  document_ids:
                    - doc_1
                - start: 105
                  end: 141
                  text: massive album sales across the globe
                  document_ids:
                    - doc_0
                - start: 143
                  end: 162
                  text: great singles sales
                  document_ids:
                    - doc_0
                - start: 164
                  end: 196
                  text: plenty of chart-topping releases
                  document_ids:
                    - doc_0
                - start: 198
                  end: 209
                  text: hyped tours
                  document_ids:
                    - doc_0
                - start: 215
                  end: 241
                  text: tremendous media coverage.
                  document_ids:
                    - doc_0
                - start: 280
                  end: 350
                  text: album No Strings Attached selling 2.4 million units in its first week.
                  document_ids:
                    - doc_1
                - start: 369
                  end: 430
                  text: second fastest-selling album of the Soundscan era before 2015
                  document_ids:
                    - doc_1
                - start: 437
                  end: 483
                  text: Celebrity debuting at 1.88 million units sold.
                  document_ids:
                    - doc_1
                - start: 589
                  end: 677
                  text: success in some countries that were traditionally hard to penetrate for
                    Western artists.
                  document_ids:
                    - doc_2
              documents:
                - id: doc_1
                  snippet: >-
                    ↓ Skip to Main Content


                    Music industry – One step closer to being accurate


                    CSPC: NSYNC Popularity Analysis


                    MJD Posted on February 9, 2018 Posted in CSPC 27 Comments
                    Tagged with Boy band, N'Sync


                    At the turn of the millennium three teen acts were huge in
                    the US, the Backstreet Boys, Britney Spears and NSYNC. The
                    latter is the only one we haven’t study so far. It took 15
                    years and Adele to break their record of 2,4 million units
                    sold of No Strings Attached in its first week alone.


                    It wasn’t a fluke, as the second fastest selling album of
                    the Soundscan era prior 2015, was also theirs since
                    Celebrity debuted with 1,88 million units sold.
                  title: 'CSPC: NSYNC Popularity Analysis - ChartMasters'
                - id: doc_0
                  snippet: >-
                    ↓ Skip to Main Content


                    Music industry – One step closer to being accurate


                    CSPC: Backstreet Boys Popularity Analysis


                    Hernán Lopez Posted on February 9, 2017 Posted in CSPC 72
                    Comments Tagged with Backstreet Boys, Boy band


                    At one point, Backstreet Boys defined success: massive
                    albums sales across the globe, great singles sales, plenty
                    of chart topping releases, hugely hyped tours and tremendous
                    media coverage.


                    It is true that they benefited from extraordinarily good
                    market conditions in all markets. After all, the all-time
                    record year for the music business, as far as revenues in
                    billion dollars are concerned, was actually 1999. That is,
                    back when this five men group was at its peak.
                  title: 'CSPC: Backstreet Boys Popularity Analysis - ChartMasters'
                - id: doc_2
                  snippet: >-
                    1997, 1998, 2000 and 2001 also rank amongst some of the very
                    best years.

                    Yet the way many music consumers – especially teenagers and
                    young women’s – embraced their output deserves its own
                    chapter. If Jonas Brothers and more recently One Direction
                    reached a great level of popularity during the past decade,
                    the type of success achieved by Backstreet Boys is in a
                    completely different level as they really dominated the
                    business for a few years all over the world, including in
                    some countries that were traditionally hard to penetrate for
                    Western artists.


                    We will try to analyze the extent of that hegemony with this
                    new article with final results which will more than surprise
                    many readers.
                  title: 'CSPC: Backstreet Boys Popularity Analysis - ChartMasters'
        - code-samples:
            - sdk: go
              name: Streaming
              code: >
                package main


                import (
                	"context"
                	"errors"
                	"io"
                	"log"
                	"os"

                	cohere "github.com/cohere-ai/cohere-go/v2"
                	client "github.com/cohere-ai/cohere-go/v2/client"
                )


                func main() {
                	co := client.NewClient(client.WithToken(os.Getenv("CO_API_KEY")))

                	resp, err := co.ChatStream(
                		context.TODO(),
                		&cohere.ChatStreamRequest{
                			Model:   cohere.String("command-a-03-2025"),
                			Message: "Tell me about LLMs",
                		},
                	)

                	if err != nil {
                		log.Fatal(err)
                	}

                	// Make sure to close the stream when you're done reading.
                	// This is easily handled with defer.
                	defer resp.Close()

                	for {
                		message, err := resp.Recv()

                		if errors.Is(err, io.EOF) {
                			// An io.EOF error means the server is done sending messages
                			// and should be treated as a success.
                			break
                		}

                		if message.TextGeneration != nil {
                			log.Printf("%+v", resp)
                		}
                	}

                }
            - sdk: typescript
              name: Streaming
              code: |
                import { CohereClient } from 'cohere-ai';

                const cohere = new CohereClient({});

                (async () => {
                  const chatStream = await cohere.chatStream({
                    model: 'command-a-03-2025',
                    message: 'Tell me about LLMs',
                  });

                  for await (const message of chatStream) {
                    if (message.eventType === 'text-generation') {
                      process.stdout.write(message);
                    }
                  }
                })();
            - sdk: java
              name: Streaming
              code: >
                /* (C)2024 */

                package chatpost;


                import com.cohere.api.Cohere;

                import com.cohere.api.requests.ChatStreamRequest;

                import com.cohere.api.types.ChatMessage;

                import com.cohere.api.types.ChatTextGenerationEvent;

                import com.cohere.api.types.Message;

                import com.cohere.api.types.StreamedChatResponse;

                import java.util.List;


                public class Stream {
                  public static void main(String[] args) {
                    Cohere cohere = Cohere.builder().clientName("snippet").build();

                    Iterable<StreamedChatResponse> response =
                        cohere.chatStream(
                            ChatStreamRequest.builder()
                                .model("command-a-03-2025")
                                .message("Tell me about LLMs")
                                .build());

                    for (StreamedChatResponse chatResponse : response) {
                      if (chatResponse.isTextGeneration()) {
                        System.out.println(
                            chatResponse.getTextGeneration().map(ChatTextGenerationEvent::getText).orElse(""));
                      }
                    }

                    System.out.println(response);
                  }
                }
            - sdk: python
              name: Streaming
              code: |
                import cohere

                co = cohere.Client()

                response = co.chat_stream(
                    model="command-a-03-2025",
                    message="Tell me about LLMs",
                )

                for event in response:
                    if event.event_type == "text-generation":
                        print(event.text, end="")
            - sdk: curl
              name: Streaming
              code: |-
                curl --request POST \
                  --url https://api.cohere.com/v1/chat \
                  --header 'accept: application/json' \
                  --header 'content-type: application/json' \
                  --header "Authorization: bearer $CO_API_KEY" \
                  --data '{
                    "model": "command-a-03-2025",
                    "stream": true,
                    "message": "Tell me about LLMs"
                  }'
          request:
            model: command-a-03-2025
            message: hello!
            stream: true
          response:
            stream:
              - event_type: stream-start
                generation_id: 29f14a5a-11de-4cae-9800-25e4747408ea
              - event_type: text-generation
                text: Hello
              - event_type: text-generation
                text: '!'
              - event_type: text-generation
                text: ' How'
              - event_type: text-generation
                text: ' can'
              - event_type: text-generation
                text: ' I'
              - event_type: text-generation
                text: ' help'
              - event_type: text-generation
                text: ' you'
              - event_type: text-generation
                text: ' today'
              - event_type: text-generation
                text: '?'
              - event_type: stream-end
                response:
                  text: Hello! How can I help you today?
                  generation_id: 29f14a5a-11de-4cae-9800-25e4747408ea
                  chat_history:
                    - role: USER
                      message: hello world!
                    - role: CHATBOT
                      message: Hello! How can I help you today?
                  finish_reason: COMPLETE
                  meta:
                    api_version:
                      version: '1'
                    billed_units:
                      input_tokens: 3
                      output_tokens: 9
                    tokens:
                      input_tokens: 69
                      output_tokens: 9
                finish_reason: COMPLETE
        - code-samples:
            - sdk: go
              name: Tools
              code: >
                package main


                import (
                	"context"
                	"log"
                	"os"

                	cohere "github.com/cohere-ai/cohere-go/v2"
                	client "github.com/cohere-ai/cohere-go/v2/client"
                )


                func main() {
                	co := client.NewClient(client.WithToken(os.Getenv("CO_API_KEY")))

                	resp, err := co.Chat(
                		context.TODO(),
                		&cohere.ChatRequest{
                			Model:   cohere.String("command-a-03-2025"),
                			Message: "Can you provide a sales summary for 29th September 2023, and also give me some details about the products in the 'Electronics' category, for example their prices and stock levels?",
                			Tools: []*cohere.Tool{
                				{
                					Name:        "query_daily_sales_report",
                					Description: "Connects to a database to retrieve overall sales volumes and sales information for a given day.",
                					ParameterDefinitions: map[string]*cohere.ToolParameterDefinitionsValue{
                						"day": {
                							Description: cohere.String("Retrieves sales data for this day, formatted as YYYY-MM-DD."),
                							Type:        "str",
                							Required:    cohere.Bool(true),
                						},
                					},
                				},
                				{
                					Name:        "query_product_catalog",
                					Description: "Connects to a a product catalog with information about all the products being sold, including categories, prices, and stock levels.",
                					ParameterDefinitions: map[string]*cohere.ToolParameterDefinitionsValue{
                						"category": {
                							Description: cohere.String("Retrieves product information data for all products in this category."),
                							Type:        "str",
                							Required:    cohere.Bool(true),
                						},
                					},
                				},
                			},
                		},
                	)

                	if err != nil {
                		log.Fatal(err)
                	}

                	log.Printf("%+v", resp)
                }
            - sdk: typescript
              name: Tools
              code: >
                import { CohereClient } from 'cohere-ai';


                const cohere = new CohereClient({});


                (async () => {
                  const response = await cohere.chat({
                    model: 'command-a-03-2025',
                    message:
                      "Can you provide a sales summary for 29th September 2023, and also give me some details about the products in the 'Electronics' category, for example their prices and stock levels?",
                    tools: [
                      {
                        name: 'query_daily_sales_report',
                        description:
                          'Connects to a database to retrieve overall sales volumes and sales information for a given day.',
                        parameterDefinitions: {
                          day: {
                            description: 'Retrieves sales data for this day, formatted as YYYY-MM-DD.',
                            type: 'str',
                            required: true,
                          },
                        },
                      },
                      {
                        name: 'query_product_catalog',
                        description:
                          'Connects to a a product catalog with information about all the products being sold, including categories, prices, and stock levels.',
                        parameterDefinitions: {
                          category: {
                            description: 'Retrieves product information data for all products in this category.',
                            type: 'str',
                            required: true,
                          },
                        },
                      },
                    ],
                  });

                  console.log(response);
                })();
            - sdk: java
              name: Tools
              code: >
                /* (C)2024 */

                package chatpost;


                import com.cohere.api.Cohere;

                import com.cohere.api.requests.ChatRequest;

                import com.cohere.api.types.NonStreamedChatResponse;

                import com.cohere.api.types.Tool;

                import com.cohere.api.types.ToolParameterDefinitionsValue;

                import java.util.List;

                import java.util.Map;


                public class Tools {
                  public static void main(String[] args) {
                    Cohere cohere = Cohere.builder().clientName("snippet").build();

                    NonStreamedChatResponse response =
                        cohere.chat(
                            ChatRequest.builder()
                                .model("command-a-03-2025")
                                .message(
                                    "Can you provide a sales summary for 29th September 2023,"
                                        + " and also give me some details about the products in"
                                        + " the 'Electronics' category, for example their"
                                        + " prices and stock levels?")
                                .tools(
                                    List.of(
                                        Tool.builder()
                                            .name("query_daily_sales_report")
                                            .description(
                                                "Connects to a database to retrieve"
                                                    + " overall sales volumes and"
                                                    + " sales information for a"
                                                    + " given day.")
                                            .parameterDefinitions(
                                                Map.of(
                                                    "day",
                                                    ToolParameterDefinitionsValue.builder()
                                                        .type("str")
                                                        .description(
                                                            "Retrieves"
                                                                + " sales"
                                                                + " data"
                                                                + " for this"
                                                                + " day,"
                                                                + " formatted"
                                                                + " as YYYY-MM-DD.")
                                                        .required(true)
                                                        .build()))
                                            .build(),
                                        Tool.builder()
                                            .name("query_product_catalog")
                                            .description(
                                                "Connects to a a product catalog"
                                                    + " with information about all"
                                                    + " the products being sold,"
                                                    + " including categories,"
                                                    + " prices, and stock levels.")
                                            .parameterDefinitions(
                                                Map.of(
                                                    "category",
                                                    ToolParameterDefinitionsValue.builder()
                                                        .type("str")
                                                        .description(
                                                            "Retrieves"
                                                                + " product"
                                                                + " information"
                                                                + " data"
                                                                + " for all"
                                                                + " products"
                                                                + " in this"
                                                                + " category.")
                                                        .required(true)
                                                        .build()))
                                            .build()))
                                .build());

                    System.out.println(response);
                  }
                }
            - sdk: python
              name: Tools
              code: >
                import cohere


                co = cohere.Client()


                # tool descriptions that the model has access to

                tools = [
                    {
                        "name": "query_daily_sales_report",
                        "description": "Connects to a database to retrieve overall sales volumes and sales information for a given day.",
                        "parameter_definitions": {
                            "day": {
                                "description": "Retrieves sales data for this day, formatted as YYYY-MM-DD.",
                                "type": "str",
                                "required": True,
                            }
                        },
                    },
                    {
                        "name": "query_product_catalog",
                        "description": "Connects to a a product catalog with information about all the products being sold, including categories, prices, and stock levels.",
                        "parameter_definitions": {
                            "category": {
                                "description": "Retrieves product information data for all products in this category.",
                                "type": "str",
                                "required": True,
                            }
                        },
                    },
                ]



                # user request

                message = "Can you provide a sales summary for 29th September
                2023, and also give me some details about the products in the
                'Electronics' category, for example their prices and stock
                levels?"


                response = co.chat(
                    model="command-a-03-2025",
                    message=message,
                    tools=tools,
                )


                print(response)
            - sdk: curl
              name: Tools
              code: >
                curl --request POST \
                  --url https://api.cohere.com/v1/chat \
                  --header 'accept: application/json' \
                  --header 'content-type: application/json' \
                  --header "Authorization: bearer $CO_API_KEY" \
                  --data '{
                    "model": "command-a-03-2025",
                    "message": "Can you provide a sales summary for 29th September 2023, and also give me some details about the products in the 'Electronics' category, for example their prices and stock levels?",
                    "tools": [
                      {
                        "name": "query_daily_sales_report",
                        "description": "Connects to a database to retrieve overall sales volumes and sales information for a given day.",
                        "parameter_definitions": {
                          "day": {
                            "description": "Retrieves sales data for this day, formatted as YYYY-MM-DD.",
                            "type": "str",
                            "required": true
                          }
                        }
                      },
                      {
                        "name": "query_product_catalog",
                        "description": "Connects to a a product catalog with information about all the products being sold, including categories, prices, and stock levels.",
                        "parameter_definitions": {
                          "category": {
                            "description": "Retrieves product information data for all products in this category.",
                            "type": "str",
                            "required": true
                          }
                        }
                      }
                    ]
                  }'
          request:
            model: command-a-03-2025
            message: Can you provide a sales summary for 29th September 2023, and also give
              me some details about the products in the 'Electronics' category,
              for example their prices and stock levels?
            tools:
              - name: query_daily_sales_report
                description: Connects to a database to retrieve overall sales volumes and sales
                  information for a given day.
                parameter_definitions:
                  day:
                    description: Retrieves sales data for this day, formatted as YYYY-MM-DD.
                    type: str
                    required: true
              - name: query_product_catalog
                description: Connects to a a product catalog with information about all the
                  products being sold, including categories, prices, and stock
                  levels.
                parameter_definitions:
                  category:
                    description: Retrieves product information data for all products in this
                      category.
                    type: str
                    required: true
            stream: false
          response:
            body:
              text: I will first find the sales summary for 29th September 2023. Then, I will
                find the details of the products in the 'Electronics' category.
              generation_id: 9e5f00aa-bf1e-481a-abe3-0eceac18c3ec
              chat_history:
                - role: USER
                  message: Can you provide a sales summary for 29th September 2023, and also give
                    me some details about the products in the 'Electronics'
                    category, for example their prices and stock levels?
                - role: CHATBOT
                  message: I will first find the sales summary for 29th September 2023. Then, I
                    will find the details of the products in the 'Electronics'
                    category.
                  tool_calls:
                    - name: query_daily_sales_report
                      parameters:
                        day: 2023-09-29
                    - name: query_product_catalog
                      parameters:
                        category: Electronics
              finish_reason: COMPLETE
              meta:
                api_version:
                  version: '1'
                billed_units:
                  input_tokens: 127
                  output_tokens: 69
                tokens:
                  input_tokens: 1032
                  output_tokens: 124
              tool_calls:
                - name: query_daily_sales_report
                  parameters:
                    day: 2023-09-29
                - name: query_product_catalog
                  parameters:
                    category: Electronics
      description: |
        Generates a text response to a user message.
        To learn how to use the Chat API and RAG follow our [Text Generation guides](https://docs.cohere.com/docs/chat-api).
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-fern-audiences:
                - public
              x-examples:
                Chat:
                  value:
                    message: Can you give me a global market overview of solar panels?
                    temperature: 0.3
                    stream: false
                    chat_history:
                      - role: User
                        message: Hi!
                      - role: Chatbot
                        message: How can I help you today?
                    prompt_truncation: OFF
              required:
                - message
              properties:
                message:
                  type: string
                  x-fern-audiences:
                    - public
                  description: |
                    Text input for the model to respond to.

                    Compatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments
                model:
                  type: string
                  x-fern-audiences:
                    - public
                  description: |
                    The name of a compatible [Cohere model](https://docs.cohere.com/docs/models) or the ID of a [fine-tuned](https://docs.cohere.com/docs/chat-fine-tuning) model.

                    Compatible Deployments: Cohere Platform, Private Deployments
                stream:
                  description: |
                    Defaults to `false`.

                    When `true`, the response will be a JSON stream of events. The final event will contain the complete response, and will have an `event_type` of `"stream-end"`.

                    Streaming is beneficial for user interfaces that render the contents of the response piece by piece, as it gets generated.

                    Compatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments
                  type: boolean
                  x-fern-audiences:
                    - public
                preamble:
                  description: |
                    When specified, the default Cohere preamble will be replaced with the provided one. Preambles are a part of the prompt used to adjust the model's overall behavior and conversation style, and use the `SYSTEM` role.

                    The `SYSTEM` role is also used for the contents of the optional `chat_history=` parameter. When used with the `chat_history=` parameter it adds content throughout a conversation. Conversely, when used with the `preamble=` parameter it adds content at the start of the conversation only.

                    Compatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments
                  type: string
                  x-fern-audiences:
                    - public
                chat_history:
                  type: array
                  x-fern-audiences:
                    - public
                  minItems: 0
                  items:
                    $ref: "#/components/schemas/Message"
                  description: |
                    A list of previous messages between the user and the model, giving the model conversational context for responding to the user's `message`.

                    Each item represents a single message in the chat history, excluding the current user turn. It has two properties: `role` and `message`. The `role` identifies the sender (`CHATBOT`, `SYSTEM`, or `USER`), while the `message` contains the text content.

                    The chat_history parameter should not be used for `SYSTEM` messages in most cases. Instead, to add a `SYSTEM` role message at the beginning of a conversation, the `preamble` parameter should be used.

                    Compatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments
                conversation_id:
                  type: string
                  x-fern-audiences:
                    - public
                  description: |
                    An alternative to `chat_history`.

                    Providing a `conversation_id` creates or resumes a persisted conversation with the specified ID. The ID can be any non empty string.

                    Compatible Deployments: Cohere Platform
                prompt_truncation:
                  type: string
                  x-fern-audiences:
                    - public
                  enum:
                    - OFF
                    - AUTO
                    - AUTO_PRESERVE_ORDER
                  description: |
                    Defaults to `AUTO` when `connectors` are specified and `OFF` in all other cases.

                    Dictates how the prompt will be constructed.

                    With `prompt_truncation` set to "AUTO", some elements from `chat_history` and `documents` will be dropped in an attempt to construct a prompt that fits within the model's context length limit. During this process the order of the documents and chat history will be changed and ranked by relevance.

                    With `prompt_truncation` set to "AUTO_PRESERVE_ORDER", some elements from `chat_history` and `documents` will be dropped in an attempt to construct a prompt that fits within the model's context length limit. During this process the order of the documents and chat history will be preserved as they are inputted into the API.

                    With `prompt_truncation` set to "OFF", no elements will be dropped. If the sum of the inputs exceeds the model's context length limit, a `TooManyTokens` error will be returned.

                    Compatible Deployments:
                     - AUTO: Cohere Platform Only
                     - AUTO_PRESERVE_ORDER: Azure, AWS Sagemaker/Bedrock, Private Deployments
                connectors:
                  deprecated: true
                  type: array
                  x-fern-audiences:
                    - public
                  minItems: 0
                  items:
                    $ref: "#/components/schemas/ChatConnector"
                  description: |
                    Accepts `{"id": "web-search"}`, and/or the `"id"` for a custom [connector](https://docs.cohere.com/docs/connectors), if you've [created](https://docs.cohere.com/v1/docs/creating-and-deploying-a-connector) one.

                    When specified, the model's reply will be enriched with information found by querying each of the connectors (RAG).

                    Compatible Deployments: Cohere Platform
                search_queries_only:
                  deprecated: true
                  type: boolean
                  x-fern-audiences:
                    - public
                  description: |
                    Defaults to `false`.

                    When `true`, the response will only contain a list of generated search queries, but no search will take place, and no reply from the model to the user's `message` will be generated.

                    Compatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments
                documents:
                  description: |
                    A list of relevant documents that the model can cite to generate a more accurate reply. Each document is a string-string dictionary.

                    Example:
                    ```
                    [
                      { "title": "Tall penguins", "text": "Emperor penguins are the tallest." },
                      { "title": "Penguin habitats", "text": "Emperor penguins only live in Antarctica." },
                    ]
                    ```

                    Keys and values from each document will be serialized to a string and passed to the model. The resulting generation will include citations that reference some of these documents.

                    Some suggested keys are "text", "author", and "date". For better generation quality, it is recommended to keep the total word count of the strings in the dictionary to under 300 words.

                    An `id` field (string) can be optionally supplied to identify the document in the citations. This field will not be passed to the model.

                    An `_excludes` field (array of strings) can be optionally supplied to omit some key-value pairs from being shown to the model. The omitted fields will still show up in the citation object. The "_excludes" field will not be passed to the model.

                    See ['Document Mode'](https://docs.cohere.com/docs/retrieval-augmented-generation-rag#document-mode) in the guide for more information.

                    Compatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments
                  type: array
                  x-fern-audiences:
                    - public
                  items:
                    $ref: "#/components/schemas/ChatDocument"
                citation_quality:
                  type: string
                  x-fern-audiences:
                    - public
                  description: |
                    Defaults to `"enabled"`.
                    Citations are enabled by default for models that support it, but can be turned off by setting `"type": "disabled"`.

                    Compatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments
                  enum:
                    - ENABLED
                    - DISABLED
                    - FAST
                    - ACCURATE
                    - OFF
                temperature:
                  type: number
                  x-fern-audiences:
                    - public
                  format: float
                  minimum: 0
                  maximum: 1
                  description: |
                    Defaults to `0.3`.

                    A non-negative float that tunes the degree of randomness in generation. Lower temperatures mean less random generations, and higher temperatures mean more random generations.

                    Randomness can be further maximized by increasing the  value of the `p` parameter.

                    Compatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments
                max_tokens:
                  type: integer
                  x-fern-audiences:
                    - public
                  description: |
                    The maximum number of tokens the model will generate as part of the response. Note: Setting a low value may result in incomplete generations.

                    Compatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments
                  writeOnly: true
                max_input_tokens:
                  type: integer
                  x-fern-audiences:
                    - public
                  description: |
                    The maximum number of input tokens to send to the model. If not specified, `max_input_tokens` is the model's context length limit minus a small buffer.

                    Input will be truncated according to the `prompt_truncation` parameter.

                    Compatible Deployments: Cohere Platform
                  writeOnly: true
                k:
                  type: integer
                  x-fern-audiences:
                    - public
                  description: |
                    Ensures only the top `k` most likely tokens are considered for generation at each step.
                    Defaults to `0`, min value of `0`, max value of `500`.

                    Compatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments
                  writeOnly: true
                  default: 0
                  minimum: 0
                  maximum: 500
                p:
                  type: number
                  x-fern-audiences:
                    - public
                  description: |
                    Ensures that only the most likely tokens, with total probability mass of `p`, are considered for generation at each step. If both `k` and `p` are enabled, `p` acts after `k`.
                    Defaults to `0.75`. min value of `0.01`, max value of `0.99`.

                    Compatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments
                  writeOnly: true
                  default: 0.75
                  minimum: 0.01
                  maximum: 0.99
                seed:
                  x-fern-audiences:
                    - public
                  minimum: 0
                  maximum: 18446744073709552000
                  type: integer
                  description: |
                    If specified, the backend will make a best effort to sample tokens
                    deterministically, such that repeated requests with the same
                    seed and parameters should return the same result. However,
                    determinism cannot be totally guaranteed.

                    Compatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments
                stop_sequences:
                  x-fern-audiences:
                    - public
                  writeOnly: true
                  type: array
                  items:
                    type: string
                  description: |
                    A list of up to 5 strings that the model will use to stop generation. If the model generates a string that matches any of the strings in the list, it will stop generating tokens and return the generated text up to that point not including the stop sequence.

                    Compatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments
                frequency_penalty:
                  type: number
                  x-fern-audiences:
                    - public
                  description: |
                    Defaults to `0.0`, min value of `0.0`, max value of `1.0`.

                    Used to reduce repetitiveness of generated tokens. The higher the value, the stronger a penalty is applied to previously present tokens, proportional to how many times they have already appeared in the prompt or prior generation.

                    Compatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments
                  writeOnly: true
                presence_penalty:
                  type: number
                  x-fern-audiences:
                    - public
                  description: |
                    Defaults to `0.0`, min value of `0.0`, max value of `1.0`.

                    Used to reduce repetitiveness of generated tokens. Similar to `frequency_penalty`, except that this penalty is applied equally to all tokens that have already appeared, regardless of their exact frequencies.

                    Compatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments
                  writeOnly: true
                raw_prompting:
                  x-fern-audiences:
                    - sdk-only
                  type: boolean
                  description: |
                    When enabled, the user's prompt will be sent to the model without
                    any pre-processing.

                    Compatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments
                tools:
                  x-fern-audiences:
                    - public
                  description: |
                    A list of available tools (functions) that the model may suggest invoking before producing a text response.

                    When `tools` is passed (without `tool_results`), the `text` field in the response will be `""` and the `tool_calls` field in the response will be populated with a list of tool calls that need to be made. If no calls need to be made, the `tool_calls` array will be empty.

                    Compatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments
                  type: array
                  items:
                    $ref: "#/components/schemas/Tool"
                  minItems: 0
                tool_results:
                  x-fern-audiences:
                    - public
                  description: |
                    A list of results from invoking tools recommended by the model in the previous chat turn. Results are used to produce a text response and will be referenced in citations. When using `tool_results`, `tools` must be passed as well.
                    Each tool_result contains information about how it was invoked, as well as a list of outputs in the form of dictionaries.

                    **Note**: `outputs` must be a list of objects. If your tool returns a single object (eg `{"status": 200}`), make sure to wrap it in a list.
                    ```
                    tool_results = [
                      {
                        "call": {
                          "name": <tool name>,
                          "parameters": {
                            <param name>: <param value>
                          }
                        },
                        "outputs": [{
                          <key>: <value>
                        }]
                      },
                      ...
                    ]
                    ```
                    **Note**: Chat calls with `tool_results` should not be included in the Chat history to avoid duplication of the message text.

                    Compatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments
                  type: array
                  minItems: 0
                  items:
                    $ref: "#/components/schemas/ToolResult"
                force_single_step:
                  x-fern-audiences:
                    - public
                  type: boolean
                  description: Forces the chat to be single step. Defaults to `false`.
                response_format:
                  x-fern-audiences:
                    - public
                  $ref: "#/components/schemas/ResponseFormat"
                safety_mode:
                  x-fern-audiences:
                    - public
                  x-fern-availability: beta
                  enum:
                    - CONTEXTUAL
                    - STRICT
                    - NONE
                  description: |
                    Used to select the [safety instruction](https://docs.cohere.com/docs/safety-modes) inserted into the prompt. Defaults to `CONTEXTUAL`.
                    When `NONE` is specified, the safety instruction will be omitted.

                    Safety modes are not yet configurable in combination with `tools`, `tool_results` and `documents` parameters.

                    **Note**: This parameter is only compatible newer Cohere models, starting with [Command R 08-2024](https://docs.cohere.com/docs/command-r#august-2024-release) and [Command R+ 08-2024](https://docs.cohere.com/docs/command-r-plus#august-2024-release).

                    **Note**: `command-r7b-12-2024` and newer models only support `"CONTEXTUAL"` and `"STRICT"` modes.

                    Compatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/NonStreamedChatResponse"
                  - $ref: "#/components/schemas/StreamedChatResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/RateLimit"
        "498":
          $ref: "#/components/responses/InvalidToken"
        "499":
          $ref: "#/components/responses/RequestCancelled"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "501":
          $ref: "#/components/responses/NotImplemented"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
  /v2/chat:
    post:
      summary: Chat API (v2)
      operationId: chatv2
      x-fern-audiences:
        - v2-beta
      x-fern-sdk-group-name: v2
      x-fern-sdk-method-name: chat
      x-fern-streaming:
        format: sse
        stream-condition: $request.stream
        stream-description: |
          Generates a text response to a user message. To learn how to use the Chat API and RAG follow our [Text Generation guides](https://docs.cohere.com/v2/docs/chat-api).

          Follow the [Migration Guide](https://docs.cohere.com/v2/docs/migrating-v1-to-v2) for instructions on moving from API v1 to API v2.
        response:
          required:
            - id
            - finish_reason
            - message
          properties:
            id:
              type: string
              description: Unique identifier for the generated reply. Useful for submitting
                feedback.
            finish_reason:
              $ref: "#/components/schemas/ChatFinishReason"
            message:
              $ref: "#/components/schemas/AssistantMessageResponse"
            usage:
              $ref: "#/components/schemas/Usage"
            logprobs:
              type: array
              items:
                $ref: "#/components/schemas/LogprobItem"
        response-stream:
          description: StreamedChatResponse is returned in streaming mode (specified with
            `stream=True` in the request).
          oneOf:
            - $ref: "#/components/schemas/ChatMessageStartEvent"
            - $ref: "#/components/schemas/ChatContentStartEvent"
            - $ref: "#/components/schemas/ChatContentDeltaEvent"
            - $ref: "#/components/schemas/ChatContentEndEvent"
            - $ref: "#/components/schemas/ChatToolPlanDeltaEvent"
            - $ref: "#/components/schemas/ChatToolCallStartEvent"
            - $ref: "#/components/schemas/ChatToolCallDeltaEvent"
            - $ref: "#/components/schemas/ChatToolCallEndEvent"
            - $ref: "#/components/schemas/ChatMessageEndEvent"
            - $ref: "#/components/schemas/ChatDebugEvent"
          discriminator:
            propertyName: type
            mapping:
              message-start: "#/components/schemas/ChatMessageStartEvent"
              content-start: "#/components/schemas/ChatContentStartEvent"
              content-delta: "#/components/schemas/ChatContentDeltaEvent"
              content-end: "#/components/schemas/ChatContentEndEvent"
              tool-plan-delta: "#/components/schemas/ChatToolPlanDeltaEvent"
              tool-call-start: "#/components/schemas/ChatToolCallStartEvent"
              tool-call-delta: "#/components/schemas/ChatToolCallDeltaEvent"
              tool-call-end: "#/components/schemas/ChatToolCallEndEvent"
              citation-start: "#/components/schemas/CitationStartEvent"
              citation-end: "#/components/schemas/CitationEndEvent"
              message-end: "#/components/schemas/ChatMessageEndEvent"
              debug: "#/components/schemas/ChatDebugEvent"
      description: |
        Generates a text response to a user message and streams it down, token by token. To learn how to use the Chat API with streaming follow our [Text Generation guides](https://docs.cohere.com/v2/docs/chat-api).

        Follow the [Migration Guide](https://docs.cohere.com/v2/docs/migrating-v1-to-v2) for instructions on moving from API v1 to API v2.
      parameters:
        - $ref: "#/components/parameters/RequestSource"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - messages
                - model
              properties:
                stream:
                  description: |
                    Defaults to `false`.

                    When `true`, the response will be a SSE stream of events.

                    Streaming is beneficial for user interfaces that render the contents of the response piece by piece, as it gets generated.
                  type: boolean
                  x-fern-audiences:
                    - public
                model:
                  x-fern-audiences:
                    - public
                  type: string
                  description: The name of a compatible [Cohere
                    model](https://docs.cohere.com/v2/docs/models).
                messages:
                  x-fern-audiences:
                    - public
                  $ref: "#/components/schemas/ChatMessages"
                tools:
                  x-fern-audiences:
                    - public
                  type: array
                  items:
                    $ref: "#/components/schemas/ToolV2"
                  description: |
                    A list of tools (functions) available to the model. The model response may contain 'tool_calls' to the specified tools.

                    Learn more in the [Tool Use guide](https://docs.cohere.com/docs/tools).
                strict_tools:
                  x-fern-audiences:
                    - public
                  x-fern-availability: beta
                  type: boolean
                  description: |
                    When set to `true`, tool calls in the Assistant message will be forced to follow the tool definition strictly. Learn more in the [Structured Outputs (Tools) guide](https://docs.cohere.com/docs/structured-outputs-json#structured-outputs-tools).

                    **Note**: The first few requests with a new set of tools will take longer to process.
                documents:
                  x-fern-audiences:
                    - public
                  type: array
                  items:
                    oneOf:
                      - type: string
                      - $ref: "#/components/schemas/Document"
                  description: |
                    A list of relevant documents that the model can cite to generate a more accurate reply. Each document is either a string or document object with content and metadata.
                citation_options:
                  x-fern-audiences:
                    - public
                  $ref: "#/components/schemas/CitationOptions"
                response_format:
                  x-fern-audiences:
                    - public
                  $ref: "#/components/schemas/ResponseFormatV2"
                safety_mode:
                  x-fern-audiences:
                    - public
                  enum:
                    - CONTEXTUAL
                    - STRICT
                    - OFF
                  description: |
                    Used to select the [safety instruction](https://docs.cohere.com/v2/docs/safety-modes) inserted into the prompt. Defaults to `CONTEXTUAL`.
                    When `OFF` is specified, the safety instruction will be omitted.

                    Safety modes are not yet configurable in combination with `tools` and `documents` parameters.

[...]
