@import "~@blueprintjs/core/lib/scss/variables";

.container {
    display: flex;
    padding: 1px 5px;
    border-radius: 5px;
    background-color: rgba($blue3, 0.15);
    border: 1px solid $blue3;
}
