* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  -webkit-appearance: none;
  appearance: none;
}

.motivation p {
  max-width: unset !important;
}

.showcase h2 {
  margin-bottom: 0.25em;
}

:is(.dark) .showcase .logo-icon {
  filter: invert(1);
  margin-top: 0px;
  margin-bottom: 0px;
}

.logo-icon {
  margin-right: 10px;
}

.fern-header,
.fern-header-tabs {
  backdrop-filter: blur(0.5rem);
  background-color: transparent !important;
}

:is(.dark) .fern-header,
:is(.dark) .fern-header-tabs {
  background-color: transparent !important;
}

/* Custom styline for code blocks to match Fern site */
/* .code-block-root {
  box-shadow: 0 0 0 .0625rem #0e3f7e0a,0 .0625rem .0625rem -.003125rem #2a33450a,.1875rem .1875rem .1875rem -.09375rem #2a33460a,0 .375rem .375rem -.1875rem #2a33460a,0 .75rem .75rem -.375rem #0e3f7e0a,0 1.5rem 1.5rem -.75rem #0e3f7e0a,.5rem .5rem 3.5625rem 0 #e7e8ec;
  border-radius: 0 0 .5rem .5rem;
}

.bg-tag-default-soft {
  box-shadow: 0 0 0 .0625rem #0e3f7e0a,0 .0625rem .0625rem -.003125rem #2a33450a,.1875rem .1875rem .1875rem -.09375rem #2a33460a,0 .375rem .375rem -.1875rem #2a33460a,0 .75rem .75rem -.375rem #0e3f7e0a,0 1.5rem 1.5rem -.75rem #0e3f7e0a,.5rem .5rem 3.5625rem 0 #e7e8ec;
} */
