// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as errors from "../../../../../../errors/index.js";
import type * as FernExhaustive from "../../../../../index.js";

export declare namespace Object_ {
    export interface Options extends BaseClientOptions {}

    export interface RequestOptions extends BaseRequestOptions {}
}

export class Object_ {
    protected readonly _options: Object_.Options;

    constructor(_options: Object_.Options) {
        this._options = _options;
    }

    /**
     * @param {FernExhaustive.types.ObjectWithOptionalField} request
     * @param {Object_.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.endpoints.object.getAndReturnWithOptionalField({})
     */
    public getAndReturnWithOptionalField(
        request: FernExhaustive.types.ObjectWithOptionalField,
        requestOptions?: Object_.RequestOptions,
    ): core.HttpResponsePromise<FernExhaustive.types.ObjectWithOptionalField> {
        return core.HttpResponsePromise.fromPromise(this.__getAndReturnWithOptionalField(request, requestOptions));
    }

    private async __getAndReturnWithOptionalField(
        request: FernExhaustive.types.ObjectWithOptionalField,
        requestOptions?: Object_.RequestOptions,
    ): Promise<core.WithRawResponse<FernExhaustive.types.ObjectWithOptionalField>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "/object/get-and-return-with-optional-field",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FernExhaustive.types.ObjectWithOptionalField,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FernExhaustiveError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.FernExhaustiveError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.FernExhaustiveTimeoutError(
                    "Timeout exceeded when calling POST /object/get-and-return-with-optional-field.",
                );
            case "unknown":
                throw new errors.FernExhaustiveError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    /**
     * @param {FernExhaustive.types.ObjectWithRequiredField} request
     * @param {Object_.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.endpoints.object.getAndReturnWithRequiredField({
     *         string: "string"
     *     })
     */
    public getAndReturnWithRequiredField(
        request: FernExhaustive.types.ObjectWithRequiredField,
        requestOptions?: Object_.RequestOptions,
    ): core.HttpResponsePromise<FernExhaustive.types.ObjectWithRequiredField> {
        return core.HttpResponsePromise.fromPromise(this.__getAndReturnWithRequiredField(request, requestOptions));
    }

    private async __getAndReturnWithRequiredField(
        request: FernExhaustive.types.ObjectWithRequiredField,
        requestOptions?: Object_.RequestOptions,
    ): Promise<core.WithRawResponse<FernExhaustive.types.ObjectWithRequiredField>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "/object/get-and-return-with-required-field",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FernExhaustive.types.ObjectWithRequiredField,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FernExhaustiveError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.FernExhaustiveError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.FernExhaustiveTimeoutError(
                    "Timeout exceeded when calling POST /object/get-and-return-with-required-field.",
                );
            case "unknown":
                throw new errors.FernExhaustiveError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    /**
     * @param {FernExhaustive.types.ObjectWithMapOfMap} request
     * @param {Object_.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.endpoints.object.getAndReturnWithMapOfMap({
     *         map: {
     *             "map": {
     *                 "map": "map"
     *             }
     *         }
     *     })
     */
    public getAndReturnWithMapOfMap(
        request: FernExhaustive.types.ObjectWithMapOfMap,
        requestOptions?: Object_.RequestOptions,
    ): core.HttpResponsePromise<FernExhaustive.types.ObjectWithMapOfMap> {
        return core.HttpResponsePromise.fromPromise(this.__getAndReturnWithMapOfMap(request, requestOptions));
    }

    private async __getAndReturnWithMapOfMap(
        request: FernExhaustive.types.ObjectWithMapOfMap,
        requestOptions?: Object_.RequestOptions,
    ): Promise<core.WithRawResponse<FernExhaustive.types.ObjectWithMapOfMap>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "/object/get-and-return-with-map-of-map",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FernExhaustive.types.ObjectWithMapOfMap,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FernExhaustiveError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.FernExhaustiveError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.FernExhaustiveTimeoutError(
                    "Timeout exceeded when calling POST /object/get-and-return-with-map-of-map.",
                );
            case "unknown":
                throw new errors.FernExhaustiveError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    /**
     * @param {FernExhaustive.types.NestedObjectWithOptionalField} request
     * @param {Object_.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.endpoints.object.getAndReturnNestedWithOptionalField({})
     */
    public getAndReturnNestedWithOptionalField(
        request: FernExhaustive.types.NestedObjectWithOptionalField,
        requestOptions?: Object_.RequestOptions,
    ): core.HttpResponsePromise<FernExhaustive.types.NestedObjectWithOptionalField> {
        return core.HttpResponsePromise.fromPromise(
            this.__getAndReturnNestedWithOptionalField(request, requestOptions),
        );
    }

    private async __getAndReturnNestedWithOptionalField(
        request: FernExhaustive.types.NestedObjectWithOptionalField,
        requestOptions?: Object_.RequestOptions,
    ): Promise<core.WithRawResponse<FernExhaustive.types.NestedObjectWithOptionalField>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "/object/get-and-return-nested-with-optional-field",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FernExhaustive.types.NestedObjectWithOptionalField,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FernExhaustiveError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.FernExhaustiveError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.FernExhaustiveTimeoutError(
                    "Timeout exceeded when calling POST /object/get-and-return-nested-with-optional-field.",
                );
            case "unknown":
                throw new errors.FernExhaustiveError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    /**
     * @param {string} string
     * @param {FernExhaustive.types.NestedObjectWithRequiredField} request
     * @param {Object_.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.endpoints.object.getAndReturnNestedWithRequiredField("string", {
     *         string: "string",
     *         NestedObject: {}
     *     })
     */
    public getAndReturnNestedWithRequiredField(
        string: string,
        request: FernExhaustive.types.NestedObjectWithRequiredField,
        requestOptions?: Object_.RequestOptions,
    ): core.HttpResponsePromise<FernExhaustive.types.NestedObjectWithRequiredField> {
        return core.HttpResponsePromise.fromPromise(
            this.__getAndReturnNestedWithRequiredField(string, request, requestOptions),
        );
    }

    private async __getAndReturnNestedWithRequiredField(
        string: string,
        request: FernExhaustive.types.NestedObjectWithRequiredField,
        requestOptions?: Object_.RequestOptions,
    ): Promise<core.WithRawResponse<FernExhaustive.types.NestedObjectWithRequiredField>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `/object/get-and-return-nested-with-required-field/${core.url.encodePathParam(string)}`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FernExhaustive.types.NestedObjectWithRequiredField,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FernExhaustiveError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.FernExhaustiveError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.FernExhaustiveTimeoutError(
                    "Timeout exceeded when calling POST /object/get-and-return-nested-with-required-field/{string}.",
                );
            case "unknown":
                throw new errors.FernExhaustiveError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    /**
     * @param {FernExhaustive.types.NestedObjectWithRequiredField[]} request
     * @param {Object_.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.endpoints.object.getAndReturnNestedWithRequiredFieldAsList([{
     *             string: "string",
     *             NestedObject: {}
     *         }, {
     *             string: "string",
     *             NestedObject: {}
     *         }])
     */
    public getAndReturnNestedWithRequiredFieldAsList(
        request: FernExhaustive.types.NestedObjectWithRequiredField[],
        requestOptions?: Object_.RequestOptions,
    ): core.HttpResponsePromise<FernExhaustive.types.NestedObjectWithRequiredField> {
        return core.HttpResponsePromise.fromPromise(
            this.__getAndReturnNestedWithRequiredFieldAsList(request, requestOptions),
        );
    }

    private async __getAndReturnNestedWithRequiredFieldAsList(
        request: FernExhaustive.types.NestedObjectWithRequiredField[],
        requestOptions?: Object_.RequestOptions,
    ): Promise<core.WithRawResponse<FernExhaustive.types.NestedObjectWithRequiredField>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "/object/get-and-return-nested-with-required-field-list",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FernExhaustive.types.NestedObjectWithRequiredField,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FernExhaustiveError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.FernExhaustiveError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.FernExhaustiveTimeoutError(
                    "Timeout exceeded when calling POST /object/get-and-return-nested-with-required-field-list.",
                );
            case "unknown":
                throw new errors.FernExhaustiveError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    protected async _getAuthorizationHeader(): Promise<string | undefined> {
        const bearer = await core.Supplier.get(this._options.token);
        if (bearer != null) {
            return `Bearer ${bearer}`;
        }

        return undefined;
    }
}
