@import "~@blueprintjs/core/lib/scss/variables";

.container {
    display: flex;
    flex-direction: column;
    background-color: $light-gray4;
    border-radius: $pt-border-radius;
    padding: 5px;
}

.header {
    display: flex;
    justify-content: space-between;

    .headerLeft {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .headerActions {
        display: flex;
        gap: 5px;
    }
}

.details {
    margin: 10px;
}

:global(.#{$ns}-dark) {
    .container {
        background-color: $dark-gray1;
    }
}
