@import "~@blueprintjs/core/lib/scss/variables";

:global(.#{$ns}-button).button {
    // we still want to render the buttons on the DOM so they are focusable via tab
    // for accessibility
    &.hidden {
        max-width: 0;
        min-width: 0;
        overflow: hidden;
        padding: 0;
        margin: 0;
    }
}
