{
  "openapi": "3.1.0",
  "info": {
    "title": "Gigs Core API",
    "description": "API to manage voice & data plans for smartphones, wearables and IoT in 200+ countries.",
    "contact": {
      "name": "Gigs Support",
      "email": "support@gigs.com"
    },
    "version": "2022-09-28"
  },
  "servers": [
    {
      "url": "https://api.gigs.com",
      "description": "production"
    }
  ],
  "paths": {
    "/deviceModels/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "The unique identifier for the device model.",
          "required": true,
          "schema": {
            "type": "string",
            "examples": ["dmd_0SNlurA04OUskUGfGAn3Rh"]
          }
        }
      ],
      "get": {
        "tags": ["Devices"],
        "operationId": "DeviceModelsRetrieve",
        "summary": "Retrieve a device model",
        "description": "Retrieves the details of an existing device model.",
        "responses": {
          "200": {
            "description": "Returns the device model object if it exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/deviceModel"
                },
                "examples": {
                  "Example": {
                    "summary": "Example",
                    "value": {
                      "object": "deviceModel",
                      "id": "dmd_0SNlurA04OUskUGfGAn3Rh",
                      "brand": "Apple",
                      "name": "iPhone 12 Pro",
                      "simTypes": ["eSIM", "pSIM"],
                      "type": "smartphone"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          }
        }
      }
    },
    "/deviceModels/search": {
      "post": {
        "tags": ["Devices"],
        "operationId": "DeviceModelsSearch",
        "summary": "Search for device models",
        "description": "Searches for existing devices models matching the given parameters.",
        "requestBody": {
          "description": "Device model attributes to search for.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "imei": {
                    "type": "string",
                    "pattern": "^[0-9]{15,16}$",
                    "description": "The IMEI (international mobile equipment identity) of the corresponding device.",
                    "examples": ["492388841798923"]
                  }
                },
                "required": ["imei"]
              },
              "examples": {
                "Example": {
                  "summary": "Example",
                  "value": {
                    "imei": "492388841798923"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns a list schema response with all found device models.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list",
                      "description": "Type of object is always `list`."
                    },
                    "items": {
                      "type": "array",
                      "description": "List of objects of type `deviceModel`.",
                      "items": {
                        "$ref": "#/components/schemas/deviceModel"
                      }
                    },
                    "moreItemsAfter": {
                      "type": ["string", "null"],
                      "description": "A unique identifier to be used as `after` pagination parameter if more items are available sorted after the current batch of items."
                    },
                    "moreItemsBefore": {
                      "type": ["string", "null"],
                      "description": "A unique identifier to be used as `before` pagination parameter if more items are available sorted before the current batch of items."
                    }
                  },
                  "required": ["object", "items", "moreItemsAfter", "moreItemsBefore"]
                },
                "examples": {
                  "Example": {
                    "summary": "Example",
                    "value": {
                      "object": "list",
                      "items": [
                        {
                          "object": "deviceModel",
                          "id": "dmd_0SNlurA04OUskUGfGAn3Rh",
                          "brand": "Apple",
                          "name": "iPhone 12 Pro",
                          "simTypes": ["eSIM", "pSIM"],
                          "type": "smartphone"
                        }
                      ],
                      "moreItemsAfter": null,
                      "moreItemsBefore": null
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          }
        }
      }
    },
    "/deviceModels": {
      "get": {
        "tags": ["Devices"],
        "operationId": "DeviceModelsList",
        "summary": "List all device models",
        "description": "Returns a list of device models. The models returned are sorted by creation date, with the most recently created models appearing first.",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "A comma-separated list of types to be filtered by.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "car",
                  "iot",
                  "laptop",
                  "router",
                  "smartphone",
                  "feature-phone",
                  "smartwatch",
                  "tablet",
                  "wearable",
                  "other"
                ]
              },
              "examples": ["smartphone,tablet"]
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "brand",
            "in": "query",
            "description": "A comma-separated list of brands to be filtered by.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "examples": ["Apple,Samsung"]
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "simType",
            "in": "query",
            "description": "A comma-separated list of SIM types to be filtered by.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["eSIM", "pSIM"]
              },
              "examples": ["eSIM,pSIM"]
            },
            "style": "form",
            "explode": false
          },
          {
            "$ref": "#/components/parameters/listAfter"
          },
          {
            "$ref": "#/components/parameters/listBefore"
          },
          {
            "$ref": "#/components/parameters/listLimit"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a dictionary with an items property that contains an array of device models.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list",
                      "description": "Type of object is always `list`."
                    },
                    "items": {
                      "type": "array",
                      "description": "List of objects of type `deviceModel`.",
                      "items": {
                        "$ref": "#/components/schemas/deviceModel"
                      }
                    },
                    "moreItemsAfter": {
                      "type": ["string", "null"],
                      "description": "A unique identifier to be used as `after` pagination parameter if more items are available sorted after the current batch of items."
                    },
                    "moreItemsBefore": {
                      "type": ["string", "null"],
                      "description": "A unique identifier to be used as `before` pagination parameter if more items are available sorted before the current batch of items."
                    }
                  },
                  "required": ["object", "items", "moreItemsAfter", "moreItemsBefore"]
                },
                "examples": {
                  "Example": {
                    "summary": "Example",
                    "value": {
                      "object": "list",
                      "items": [
                        {
                          "object": "deviceModel",
                          "id": "dmd_0SNlurA04OUskUGfGAn3Rh",
                          "brand": "Apple",
                          "name": "iPhone 12 Pro",
                          "simTypes": ["eSIM", "pSIM"],
                          "type": "smartphone"
                        }
                      ],
                      "moreItemsAfter": null,
                      "moreItemsBefore": null
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          }
        }
      }
    },
    "/projects/{project}/devices/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/project"
        },
        {
          "name": "id",
          "in": "path",
          "description": "The unique identifier for the device.",
          "required": true,
          "schema": {
            "type": "string",
            "examples": ["dev_0SNlurA049MEWV55CrA9qMvI2FVJ"]
          }
        }
      ],
      "get": {
        "tags": ["Devices"],
        "operationId": "DevicesRetrieve",
        "summary": "Retrieve a device",
        "description": "Retrieves the details of an existing device owned by the authenticated user.",
        "responses": {
          "200": {
            "description": "Returns the device object if it exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/device"
                },
                "examples": {
                  "Example": {
                    "summary": "Example",
                    "value": {
                      "object": "device",
                      "id": "dev_0SNlurA049MEWV55CrA9qMvI2FVJ",
                      "imei": "492388841798923",
                      "model": {
                        "object": "deviceModel",
                        "id": "dmd_0SNlurA04OUskUGfGAn3Rh",
                        "brand": "Apple",
                        "name": "iPhone 12 Pro",
                        "simTypes": ["eSIM", "pSIM"],
                        "type": "smartphone"
                      },
                      "name": "Anna's iPhone 12 Pro",
                      "sims": [
                        {
                          "object": "sim",
                          "id": "sim_0SNlurA049MEWV1BAAmWZULA4lf6",
                          "iccid": "89883070000007537119",
                          "provider": "p4",
                          "status": "inactive",
                          "type": "eSIM",
                          "createdAt": "2021-01-21T19:38:34Z"
                        }
                      ],
                      "user": {
                        "object": "user",
                        "id": "usr_0SNlurA049MEWV4OpCwsNyC9Kn2d",
                        "birthday": "2017-07-21",
                        "email": "john.doe@example.com",
                        "emailVerified": true,
                        "fullName": "John Doe",
                        "preferredLocale": "en-US",
                        "createdAt": "2021-01-21T19:38:34Z"
                      },
                      "createdAt": "2021-02-14T19:38:34Z"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          }
        }
      },
      "delete": {
        "tags": ["Devices"],
        "operationId": "DevicesDelete",
        "summary": "Delete a device",
        "description": "Retrieves the details of an existing device and deletes it.",
        "responses": {
          "200": {
            "description": "Returns the device after a successful deletion.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/device"
                },
                "examples": {
                  "Example": {
                    "summary": "Example",
                    "value": {
                      "object": "device",
                      "id": "dev_0SNlurA049MEWV55CrA9qMvI2FVJ",
                      "imei": "492388841798923",
                      "model": {
                        "object": "deviceModel",
                        "id": "dmd_0SNlurA04OUskUGfGAn3Rh",
                        "brand": "Apple",
                        "name": "iPhone 12 Pro",
                        "simTypes": ["eSIM", "pSIM"],
                        "type": "smartphone"
                      },
                      "name": "Anna's iPhone 12 Pro",
                      "sims": [
                        {
                          "object": "sim",
                          "id": "sim_0SNlurA049MEWV1BAAmWZULA4lf6",
                          "iccid": "89883070000007537119",
                          "provider": "p4",
                          "status": "inactive",
                          "type": "eSIM",
                          "createdAt": "2021-01-21T19:38:34Z"
                        }
                      ],
                      "user": {
                        "object": "user",
                        "id": "usr_0SNlurA049MEWV4OpCwsNyC9Kn2d",
                        "birthday": "2017-07-21",
                        "email": "john.doe@example.com",
                        "emailVerified": true,
                        "fullName": "John Doe",
                        "preferredLocale": "en-US",
                        "createdAt": "2021-01-21T19:38:34Z"
                      },
                      "createdAt": "2021-02-14T19:38:34Z"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/permissionDenied"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          }
        }
      },
      "patch": {
        "tags": ["Devices"],
        "operationId": "DevicesUpdate",
        "summary": "Update a device",
        "description": "Updates the given properties of an existing device.\n\n<!-- theme: info -->\n> #### Preview\n>\n> This endpoint is currently in preview and might change in the future.\n> We’re excited to hear your feedback and ideas. Please send an email\n> to [support@gigs.com](mailto:support@gigs.com) to share your thoughts.\n",
        "requestBody": {
          "description": "The device properties to update, at least one of them must be provided. Use null or an empty array to remove existing values.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": ["string", "null"],
                    "description": "An optional custom name for the device.",
                    "examples": ["Anna's iPhone 12 Pro"]
                  },
                  "sims": {
                    "type": "array",
                    "description": "List of identifiers for all SIMs currently attached to the device.",
                    "items": {
                      "type": "string",
                      "description": "Unique SIM identifier.",
                      "examples": ["sim_0SNlurA049MEWV1BAAmWZULA4lf6"]
                    }
                  },
                  "user": {
                    "type": ["string", "null"],
                    "description": "Unique user identifier for the device owner.",
                    "examples": ["usr_0SNlurA049MEWV4OpCwsNyC9Kn2d"]
                  }
                }
              },
              "examples": {
                "Example - Full": {
                  "summary": "Example - Full",
                  "value": {
                    "name": "Anna's iPhone 12 Pro",
                    "sims": ["sim_0SNlurA049MEWV1BAAmWZULA4lf6"],
                    "user": "usr_0SNlurA049MEWV4OpCwsNyC9Kn2d"
                  }
                },
                "Example - Required": {
                  "summary": "Example - Required",
                  "value": {}
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the updated device object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/device"
                },
                "examples": {
                  "Example": {
                    "summary": "Example",
                    "value": {
                      "object": "device",
                      "id": "dev_0SNlurA049MEWV55CrA9qMvI2FVJ",
                      "imei": "492388841798923",
                      "model": {
                        "object": "deviceModel",
                        "id": "dmd_0SNlurA04OUskUGfGAn3Rh",
                        "brand": "Apple",
                        "name": "iPhone 12 Pro",
                        "simTypes": ["eSIM", "pSIM"],
                        "type": "smartphone"
                      },
                      "name": "Anna's iPhone 12 Pro",
                      "sims": [
                        {
                          "object": "sim",
                          "id": "sim_0SNlurA049MEWV1BAAmWZULA4lf6",
                          "iccid": "89883070000007537119",
                          "provider": "p4",
                          "status": "inactive",
                          "type": "eSIM",
                          "createdAt": "2021-01-21T19:38:34Z"
                        }
                      ],
                      "user": {
                        "object": "user",
                        "id": "usr_0SNlurA049MEWV4OpCwsNyC9Kn2d",
                        "birthday": "2017-07-21",
                        "email": "john.doe@example.com",
                        "emailVerified": true,
                        "fullName": "John Doe",
                        "preferredLocale": "en-US",
                        "createdAt": "2021-01-21T19:38:34Z"
                      },
                      "createdAt": "2021-02-14T19:38:34Z"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/permissionDenied"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          }
        }
      }
    },
    "/projects/{project}/devices/search": {
      "parameters": [
        {
          "$ref": "#/components/parameters/project"
        }
      ],
      "post": {
        "tags": ["Devices"],
        "operationId": "DevicesSearch",
        "summary": "Search for devices",
        "description": "Searches for existing devices matching the given parameters. The search will only return factory devices not yet assigned to any user, or devices already owned by the current user.",
        "requestBody": {
          "description": "Device attributes to search for.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "imei": {
                    "type": "string",
                    "pattern": "^[0-9]{15,16}$",
                    "description": "The IMEI (international mobile equipment identity) of the device.",
                    "examples": ["492388841798923"]
                  }
                },
                "required": ["imei"]
              },
              "examples": {
                "Example": {
                  "summary": "Example",
                  "value": {
                    "imei": "492388841798923"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns a list schema response with all found devices.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list",
                      "description": "Type of object is always `list`."
                    },
                    "items": {
                      "type": "array",
                      "description": "List of objects of type `device`.",
                      "items": {
                        "$ref": "#/components/schemas/device"
                      }
                    },
                    "moreItemsAfter": {
                      "type": ["string", "null"],
                      "description": "A unique identifier to be used as `after` pagination parameter if more items are available sorted after the current batch of items."
                    },
                    "moreItemsBefore": {
                      "type": ["string", "null"],
                      "description": "A unique identifier to be used as `before` pagination parameter if more items are available sorted before the current batch of items."
                    }
                  },
                  "required": ["object", "items", "moreItemsAfter", "moreItemsBefore"]
                },
                "examples": {
                  "Example": {
                    "summary": "Example",
                    "value": {
                      "object": "list",
                      "items": [
                        {
                          "object": "device",
                          "id": "dev_0SNlurA049MEWV55CrA9qMvI2FVJ",
                          "imei": "492388841798923",
                          "model": {
                            "object": "deviceModel",
                            "id": "dmd_0SNlurA04OUskUGfGAn3Rh",
                            "brand": "Apple",
                            "name": "iPhone 12 Pro",
                            "simTypes": ["eSIM", "pSIM"],
                            "type": "smartphone"
                          },
                          "name": "Anna's iPhone 12 Pro",
                          "sims": [
                            {
                              "object": "sim",
                              "id": "sim_0SNlurA049MEWV1BAAmWZULA4lf6",
                              "iccid": "89883070000007537119",
                              "provider": "p4",
                              "status": "inactive",
                              "type": "eSIM",
                              "createdAt": "2021-01-21T19:38:34Z"
                            }
                          ],
                          "user": {
                            "object": "user",
                            "id": "usr_0SNlurA049MEWV4OpCwsNyC9Kn2d",
                            "birthday": "2017-07-21",
                            "email": "john.doe@example.com",
                            "emailVerified": true,
                            "fullName": "John Doe",
                            "preferredLocale": "en-US",
                            "createdAt": "2021-01-21T19:38:34Z"
                          },
                          "createdAt": "2021-02-14T19:38:34Z"
                        }
                      ],
                      "moreItemsAfter": null,
                      "moreItemsBefore": null
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          }
        }
      }
    },
    "/projects/{project}/devices": {
      "parameters": [
        {
          "$ref": "#/components/parameters/project"
        }
      ],
      "get": {
        "tags": ["Devices"],
        "operationId": "DevicesList",
        "summary": "List all devices",
        "description": "Returns a list of devices. The devices returned are sorted by creation date, with the most recently created devices appearing first.",
        "parameters": [
          {
            "name": "sim",
            "in": "query",
            "description": "The unique identifier for the sim to be filtered by.",
            "schema": {
              "type": "string",
              "examples": ["sim_0SNlurA049MEWV1BAAmWZULA4lf6"]
            }
          },
          {
            "name": "user",
            "in": "query",
            "description": "The unique identifier for the user to be filtered by.",
            "schema": {
              "type": "string",
              "examples": ["usr_0SNlurA049MEWV4OpCwsNyC9Kn2d"]
            }
          },
          {
            "$ref": "#/components/parameters/listAfter"
          },
          {
            "$ref": "#/components/parameters/listBefore"
          },
          {
            "$ref": "#/components/parameters/listLimit"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a dictionary with an items property that contains an array of devices.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list",
                      "description": "Type of object is always `list`."
                    },
                    "items": {
                      "type": "array",
                      "description": "List of objects of type `device`.",
                      "items": {
                        "$ref": "#/components/schemas/device"
                      }
                    },
                    "moreItemsAfter": {
                      "type": ["string", "null"],
                      "description": "A unique identifier to be used as `after` pagination parameter if more items are available sorted after the current batch of items."
                    },
                    "moreItemsBefore": {
                      "type": ["string", "null"],
                      "description": "A unique identifier to be used as `before` pagination parameter if more items are available sorted before the current batch of items."
                    }
                  },
                  "required": ["object", "items", "moreItemsAfter", "moreItemsBefore"]
                },
                "examples": {
                  "Example": {
                    "summary": "Example",
                    "value": {
                      "object": "list",
                      "items": [
                        {
                          "object": "device",
                          "id": "dev_0SNlurA049MEWV55CrA9qMvI2FVJ",
                          "imei": "492388841798923",
                          "model": {
                            "object": "deviceModel",
                            "id": "dmd_0SNlurA04OUskUGfGAn3Rh",
                            "brand": "Apple",
                            "name": "iPhone 12 Pro",
                            "simTypes": ["eSIM", "pSIM"],
                            "type": "smartphone"
                          },
                          "name": "Anna's iPhone 12 Pro",
                          "sims": [
                            {
                              "object": "sim",
                              "id": "sim_0SNlurA049MEWV1BAAmWZULA4lf6",
                              "iccid": "89883070000007537119",
                              "provider": "p4",
                              "status": "inactive",
                              "type": "eSIM",
                              "createdAt": "2021-01-21T19:38:34Z"
                            }
                          ],
                          "user": {
                            "object": "user",
                            "id": "usr_0SNlurA049MEWV4OpCwsNyC9Kn2d",
                            "birthday": "2017-07-21",
                            "email": "john.doe@example.com",
                            "emailVerified": true,
                            "fullName": "John Doe",
                            "preferredLocale": "en-US",
                            "createdAt": "2021-01-21T19:38:34Z"
                          },
                          "createdAt": "2021-02-14T19:38:34Z"
                        }
                      ],
                      "moreItemsAfter": null,
                      "moreItemsBefore": null
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          }
        }
      },
      "post": {
        "tags": ["Devices"],
        "operationId": "DevicesCreate",
        "summary": "Create a device",
        "description": "Creates a new device with the given parameters.",
        "requestBody": {
          "description": "Device attributes to create. You must specify either an IMEI or a user.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "imei": {
                    "type": "string",
                    "pattern": "^[0-9]{15,16}$",
                    "description": "The IMEI (international mobile equipment identity) of the device.",
                    "examples": ["492388841798923"]
                  },
                  "user": {
                    "type": "string",
                    "description": "Unique user identifier for the device owner.",
                    "examples": ["usr_0SNlurA049MEWV4OpCwsNyC9Kn2d"]
                  },
                  "sims": {
                    "type": "array",
                    "description": "List of identifiers for all SIMs to attach to the device.",
                    "items": {
                      "type": "string",
                      "description": "Unique SIM identifier.",
                      "examples": ["sim_0SNlurA049MEWV1BAAmWZULA4lf6"]
                    }
                  },
                  "name": {
                    "type": ["string", "null"],
                    "description": "An optional custom name for the device.",
                    "examples": ["Anna's iPhone 12 Pro"]
                  }
                },
                "required": ["imei", "user"]
              },
              "examples": {
                "Example - Full": {
                  "summary": "Example - Full",
                  "value": {
                    "imei": "492388841798923",
                    "user": "usr_0SNlurA049MEWV4OpCwsNyC9Kn2d",
                    "sims": ["sim_0SNlurA049MEWV1BAAmWZULA4lf6"],
                    "name": "Anna's iPhone 12 Pro"
                  }
                },
                "Example - Required": {
                  "summary": "Example - Required",
                  "value": {
                    "imei": "492388841798923",
                    "user": "usr_0SNlurA049MEWV4OpCwsNyC9Kn2d"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Returns the created device.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/device"
                },
                "examples": {
                  "Example": {
                    "summary": "Example",
                    "value": {
                      "object": "device",
                      "id": "dev_0SNlurA049MEWV55CrA9qMvI2FVJ",
                      "imei": "492388841798923",
                      "model": {
                        "object": "deviceModel",
                        "id": "dmd_0SNlurA04OUskUGfGAn3Rh",
                        "brand": "Apple",
                        "name": "iPhone 12 Pro",
                        "simTypes": ["eSIM", "pSIM"],
                        "type": "smartphone"
                      },
                      "name": "Anna's iPhone 12 Pro",
                      "sims": [
                        {
                          "object": "sim",
                          "id": "sim_0SNlurA049MEWV1BAAmWZULA4lf6",
                          "iccid": "89883070000007537119",
                          "provider": "p4",
                          "status": "inactive",
                          "type": "eSIM",
                          "createdAt": "2021-01-21T19:38:34Z"
                        }
                      ],
                      "user": {
                        "object": "user",
                        "id": "usr_0SNlurA049MEWV4OpCwsNyC9Kn2d",
                        "birthday": "2017-07-21",
                        "email": "john.doe@example.com",
                        "emailVerified": true,
                        "fullName": "John Doe",
                        "preferredLocale": "en-US",
                        "createdAt": "2021-01-21T19:38:34Z"
                      },
                      "createdAt": "2021-02-14T19:38:34Z"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          }
        }
      }
    },
    "/projects/{project}/plans/{id}/archive": {
      "parameters": [
        {
          "$ref": "#/components/parameters/project"
        },
        {
          "name": "id",
          "in": "path",
          "description": "The unique identifier for the plan.",
          "required": true,
          "schema": {
            "type": "string",
            "examples": ["pln_0SNlurA049MEWV3V0q7gjQbM4EVo"]
          }
        }
      ],
      "post": {
        "tags": ["Plans"],
        "operationId": "PlansArchive",
        "summary": "Archive a plan",
        "description": "Set the status of a plan to archived. An archived plan can not be used to create new subscriptions.\n\n<!-- theme: info -->\n> #### Preview\n>\n> This endpoint is currently in preview and might change in the future.\n> We’re excited to hear your feedback and ideas. Please send an email\n> to [support@gigs.com](mailto:support@gigs.com) to share your thoughts.\n",
        "responses": {
          "200": {
            "description": "Returns the archived plan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/plan"
                },
                "examples": {
                  "Example": {
                    "summary": "Example",
                    "value": {
                      "object": "plan",
                      "id": "pln_0SNlurA049MEWV3V0q7gjQbM4EVo",
                      "coverage": {
                        "object": "coverage",
                        "id": "de",
                        "countries": ["DE", "FR", "US"],
                        "name": "Europe"
                      },
                      "data": 10000000000,
                      "dataUnit": "byte",
                      "description": "A data plan you will love! Operates in most countries of the world.",
                      "image": "https://i.gigscdn.com/pr/nTZpgaEj5dTQ2Jo/original.png",
                      "name": "Gigs Global",
                      "price": {
                        "amount": 999,
                        "currency": "USD"
                      },
                      "provider": "p5",
                      "requirements": {
                        "address": "present",
                        "device": "none",
                        "user.birthday": "none",
                        "user.fullName": "present"
                      },
                      "simTypes": ["eSIM", "pSIM"],
                      "sms": 100,
                      "smsUnit": "message",
                      "status": "available",
                      "tags": ["smartphone", "travel"],
                      "validity": {
                        "minimumPeriods": 12,
                        "type": "oneTime",
                        "unit": "day",
                        "value": 7
                      },
                      "voice": 30000,
                      "voiceUnit": "second",
                      "createdAt": "2021-01-21T19:38:34Z"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/permissionDenied"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          }
        }
      }
    },
    "/projects/{project}/plans/{plan}/documents/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/project"
        },
        {
          "name": "plan",
          "in": "path",
          "description": "The unique identifier for the plan.",
          "required": true,
          "schema": {
            "type": "string",
            "examples": ["pln_0SNlurA049MEWV3V0q7gjQbM4EVo"]
          }
        },
        {
          "name": "id",
          "in": "path",
          "description": "The unique identifier for the document.",
          "required": true,
          "schema": {
            "type": "string",
            "examples": ["pdc_0SNlurA049MEWV1S6e1qVqBV2xge"]
          }
        }
      ],
      "get": {
        "tags": ["Plans"],
        "operationId": "PlanDocumentRetrieve",
        "summary": "Retrieve a plan document",
        "description": "Retrieves the details of an existing document for a given plan.",
        "responses": {
          "200": {
            "description": "Returns the plan if it exists and is owned by the plan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/planDocument"
                },
                "examples": {
                  "Example": {
                    "summary": "Example",
                    "value": {
                      "object": "planDocument",
                      "id": "pdc_0SNlurA049MEWV1S6e1qVqBV2xge",
                      "name": "My Plan Contract",
                      "plan": "pln_0SNlurA049MEWV3V0q7gjQbM4EVo",
                      "type": "application/pdf",
                      "url": "https://a.gigscdn.net/p/my-project/01G74ZPB5PQTDESM4JGYR2CWB9.pdf",
                      "createdAt": "2022-07-04T16:20:27.59Z"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          }
        }
      }
    },
    "/projects/{project}/plans/{plan}/documents": {
      "parameters": [
        {
          "$ref": "#/components/parameters/project"
        },
        {
          "name": "plan",
          "in": "path",
          "description": "The unique identifier for the plan.",
          "required": true,
          "schema": {
            "type": "string",
            "examples": ["pln_0SNlurA049MEWV3V0q7gjQbM4EVo"]
          }
        }
      ],
      "get": {
        "tags": ["Plans"],
        "operationId": "PlanDocumentsList",
        "summary": "List all plan documents",
        "description": "Returns a list of documents related to the given plan. The documents returned are sorted by creation date, with the most recently created documents appearing first.",
        "responses": {
          "200": {
            "description": "Returns a list of document objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list",
                      "description": "Type of object is always `list`."
                    },
                    "items": {
                      "type": "array",
                      "description": "List of objects of type `planDocument`.",
                      "items": {
                        "$ref": "#/components/schemas/planDocument"
                      }
                    },
                    "moreItemsAfter": {
                      "type": ["string", "null"],
                      "description": "A unique identifier to be used as `after` pagination parameter if more items are available sorted after the current batch of items."
                    },
                    "moreItemsBefore": {
                      "type": ["string", "null"],
                      "description": "A unique identifier to be used as `before` pagination parameter if more items are available sorted before the current batch of items."
                    }
                  },
                  "required": ["object", "items", "moreItemsAfter", "moreItemsBefore"]
                },
                "examples": {
                  "Example": {
                    "summary": "Example",
                    "value": {
                      "object": "list",
                      "items": [
                        {
                          "object": "planDocument",
                          "id": "pdc_0SNlurA049MEWV1S6e1qVqBV2xge",
                          "name": "My Plan Contract",
                          "plan": "pln_0SNlurA049MEWV3V0q7gjQbM4EVo",
                          "type": "application/pdf",
                          "url": "https://a.gigscdn.net/p/my-project/01G74ZPB5PQTDESM4JGYR2CWB9.pdf",
                          "createdAt": "2022-07-04T16:20:27.59Z"
                        }
                      ],
                      "moreItemsAfter": null,
                      "moreItemsBefore": null
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          }
        }
      }
    },
    "/projects/{project}/plans/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/project"
        },
        {
          "name": "id",
          "in": "path",
          "description": "The unique identifier for the plan.",
          "required": true,
          "schema": {
            "type": "string",
            "examples": ["pln_0SNlurA049MEWV3V0q7gjQbM4EVo"]
          }
        }
      ],
      "get": {
        "tags": ["Plans"],
        "operationId": "PlansRetrieve",
        "summary": "Retrieve a plan",
        "description": "Retrieve the details of an existing plan.",
        "responses": {
          "200": {
            "description": "Returns the plan if it exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/plan"
                },
                "examples": {
                  "Example": {
                    "summary": "Example",
                    "value": {
                      "object": "plan",
                      "id": "pln_0SNlurA049MEWV3V0q7gjQbM4EVo",
                      "coverage": {
                        "object": "coverage",
                        "id": "de",
                        "countries": ["DE", "FR", "US"],
                        "name": "Europe"
                      },
                      "data": 10000000000,
                      "dataUnit": "byte",
                      "description": "A data plan you will love! Operates in most countries of the world.",
                      "image": "https://i.gigscdn.com/pr/nTZpgaEj5dTQ2Jo/original.png",
                      "name": "Gigs Global",
                      "price": {
                        "amount": 999,
                        "currency": "USD"
                      },
                      "provider": "p5",
                      "requirements": {
                        "address": "present",
                        "device": "none",
                        "user.birthday": "none",
                        "user.fullName": "present"
                      },
                      "simTypes": ["eSIM", "pSIM"],
                      "sms": 100,
                      "smsUnit": "message",
                      "status": "available",
                      "tags": ["smartphone", "travel"],
                      "validity": {
                        "minimumPeriods": 12,
                        "type": "oneTime",
                        "unit": "day",
                        "value": 7
                      },
                      "voice": 30000,
                      "voiceUnit": "second",
                      "createdAt": "2021-01-21T19:38:34Z"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          }
        }
      },
      "patch": {
        "tags": ["Plans"],
        "operationId": "PlansUpdate",
        "summary": "Update a plan",
        "description": "Updates the specified plan by setting the values of the parameters passed.",
        "requestBody": {
          "description": "Plan attributes to update.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The plan's name, meant to be displayable to the users.",
                    "examples": ["Gigs Global"]
                  },
                  "description": {
                    "type": ["string", "null"],
                    "description": "The plan's description, meant to be displayable to the users.",
                    "examples": ["A data plan you will love! Operates in most countries of the world."]
                  },
                  "image": {
                    "type": ["string", "null"],
                    "format": "url",
                    "description": "The plan's image, meant to be displayable to the users.",
                    "examples": ["https://i.gigscdn.com/pr/nTZpgaEj5dTQ2Jo/original.png"]
                  }
                },
                "required": []
              },
              "examples": {
                "Example - Full": {
                  "summary": "Example - Full",
                  "value": {
                    "name": "Gigs Global",
                    "description": "A data plan you will love! Operates in most countries of the world.",
                    "image": "https://i.gigscdn.com/pr/nTZpgaEj5dTQ2Jo/original.png"
                  }
                },
                "Example - Required": {
                  "summary": "Example - Required",
                  "value": {}
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the updated plan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/plan"
                },
                "examples": {
                  "Example": {
                    "summary": "Example",
                    "value": {
                      "object": "plan",
                      "id": "pln_0SNlurA049MEWV3V0q7gjQbM4EVo",
                      "coverage": {
                        "object": "coverage",
                        "id": "de",
                        "countries": ["DE", "FR", "US"],
                        "name": "Europe"
                      },
                      "data": 10000000000,
                      "dataUnit": "byte",
                      "description": "A data plan you will love! Operates in most countries of the world.",
                      "image": "https://i.gigscdn.com/pr/nTZpgaEj5dTQ2Jo/original.png",
                      "name": "Gigs Global",
                      "price": {
                        "amount": 999,
                        "currency": "USD"
                      },
                      "provider": "p5",
                      "requirements": {
                        "address": "present",
                        "device": "none",
                        "user.birthday": "none",
                        "user.fullName": "present"
                      },
                      "simTypes": ["eSIM", "pSIM"],
                      "sms": 100,
                      "smsUnit": "message",
                      "status": "available",
                      "tags": ["smartphone", "travel"],
                      "validity": {
                        "minimumPeriods": 12,
                        "type": "oneTime",
                        "unit": "day",
                        "value": 7
                      },
                      "voice": 30000,
                      "voiceUnit": "second",
                      "createdAt": "2021-01-21T19:38:34Z"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/permissionDenied"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          }
        }
      }
    },
    "/projects/{project}/plans/{id}/publish": {
      "parameters": [
        {
          "$ref": "#/components/parameters/project"
        },
        {
          "name": "id",
          "in": "path",
          "description": "The unique identifier for the plan.",
          "required": true,
          "schema": {
            "type": "string",
            "examples": ["pln_0SNlurA049MEWV3V0q7gjQbM4EVo"]
          }
        }
      ],
      "post": {
        "tags": ["Plans"],
        "operationId": "PlansPublish",
        "summary": "Publish a plan",
        "description": "Set the status of a plan to available. Available plans can be used to create new subscriptions.\n\n<!-- theme: info -->\n> #### Preview\n>\n> This endpoint is currently in preview and might change in the future.\n> We’re excited to hear your feedback and ideas. Please send an email\n> to [support@gigs.com](mailto:support@gigs.com) to share your thoughts.\n",
        "responses": {
          "200": {
            "description": "Returns the available plan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/plan"
                },
                "examples": {
                  "Example": {
                    "summary": "Example",
                    "value": {
                      "object": "plan",
                      "id": "pln_0SNlurA049MEWV3V0q7gjQbM4EVo",
                      "coverage": {
                        "object": "coverage",
                        "id": "de",
                        "countries": ["DE", "FR", "US"],
                        "name": "Europe"
                      },
                      "data": 10000000000,
                      "dataUnit": "byte",
                      "description": "A data plan you will love! Operates in most countries of the world.",
                      "image": "https://i.gigscdn.com/pr/nTZpgaEj5dTQ2Jo/original.png",
                      "name": "Gigs Global",
                      "price": {
                        "amount": 999,
                        "currency": "USD"
                      },
                      "provider": "p5",
                      "requirements": {
                        "address": "present",
                        "device": "none",
                        "user.birthday": "none",
                        "user.fullName": "present"
                      },
                      "simTypes": ["eSIM", "pSIM"],
                      "sms": 100,
                      "smsUnit": "message",
                      "status": "available",
                      "tags": ["smartphone", "travel"],
                      "validity": {
                        "minimumPeriods": 12,
                        "type": "oneTime",
                        "unit": "day",
                        "value": 7
                      },
                      "voice": 30000,
                      "voiceUnit": "second",
                      "createdAt": "2021-01-21T19:38:34Z"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/permissionDenied"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          }
        }
      }
    },
    "/projects/{project}/plans": {
      "parameters": [
        {
          "$ref": "#/components/parameters/project"
        }
      ],
      "get": {
        "tags": ["Plans"],
        "operationId": "PlansList",
        "summary": "List all plans",
        "description": "Returns a list of plans.",
        "parameters": [
          {
            "name": "provider",
            "in": "query",
            "description": "The network provider ID to filter the plans by.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "examples": ["p3"]
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "simType",
            "in": "query",
            "description": "The type of SIM card to filter the plans by.",
            "schema": {
              "type": "array",
              "default": ["eSIM", "pSIM"],
              "items": {
                "type": "string",
                "enum": ["eSIM", "pSIM"]
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "status",
            "in": "query",
            "description": "The status to filter the plans by. Only available plans are returned by default.",
            "schema": {
              "type": "array",
              "default": ["available"],
              "items": {
                "type": "string",
                "enum": ["available", "archived", "pending", "draft"]
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "$ref": "#/components/parameters/listAfter"
          },
          {
            "$ref": "#/components/parameters/listBefore"
          },
          {
            "$ref": "#/components/parameters/listLimit"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of plan objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list",
                      "description": "Type of object is always `list`."
                    },
                    "items": {
                      "type": "array",
                      "description": "List of objects of type `plan`.",
                      "items": {
                        "$ref": "#/components/schemas/plan"
                      }
                    },
                    "moreItemsAfter": {
                      "type": ["string", "null"],
                      "description": "A unique identifier to be used as `after` pagination parameter if more items are available sorted after the current batch of items."
                    },
                    "moreItemsBefore": {
                      "type": ["string", "null"],
                      "description": "A unique identifier to be used as `before` pagination parameter if more items are available sorted before the current batch of items."
                    }
                  },
                  "required": ["object", "items", "moreItemsAfter", "moreItemsBefore"]
                },
                "examples": {
                  "Example": {
                    "summary": "Example",
                    "value": {
                      "object": "list",
                      "items": [
                        {
                          "object": "plan",
                          "id": "pln_0SNlurA049MEWV3V0q7gjQbM4EVo",
                          "coverage": {
                            "object": "coverage",
                            "id": "de",
                            "countries": ["DE", "FR", "US"],
                            "name": "Europe"
                          },
                          "data": 10000000000,
                          "dataUnit": "byte",
                          "description": "A data plan you will love! Operates in most countries of the world.",
                          "image": "https://i.gigscdn.com/pr/nTZpgaEj5dTQ2Jo/original.png",
                          "name": "Gigs Global",
                          "price": {
                            "amount": 999,
                            "currency": "USD"
                          },
                          "provider": "p5",
                          "requirements": {
                            "address": "present",
                            "device": "none",
                            "user.birthday": "none",
                            "user.fullName": "present"
                          },
                          "simTypes": ["eSIM", "pSIM"],
                          "sms": 100,
                          "smsUnit": "message",
                          "status": "available",
                          "tags": ["smartphone", "travel"],
                          "validity": {
                            "minimumPeriods": 12,
                            "type": "oneTime",
                            "unit": "day",
                            "value": 7
                          },
                          "voice": 30000,
                          "voiceUnit": "second",
                          "createdAt": "2021-01-21T19:38:34Z"
                        }
                      ],
                      "moreItemsAfter": null,
                      "moreItemsBefore": null
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/portings/{id}/cancel": {
      "parameters": [
        {
          "$ref": "#/components/parameters/project"
        },
        {
          "name": "id",
          "in": "path",
          "description": "The unique identifier for the porting.",
          "required": true,
          "schema": {
            "type": "string",
            "examples": ["prt_0SNlurA049MEWV39s2kSYqaat7ZS"]
          }
        }
      ],
      "post": {
        "tags": ["Portings"],
        "operationId": "PortingCancel",
        "summary": "Cancel a porting",
        "description": "Retrieves the details of an existing porting and cancels it. Only portings that have not yet being completed can be canceled.\n\n<!-- theme: info -->\n> #### Preview\n>\n> This endpoint is currently in preview and might change in the future.\n> We’re excited to hear your feedback and ideas. Please send an email\n> to [support@gigs.com](mailto:support@gigs.com) to share your thoughts.\n",
        "responses": {
          "200": {
            "description": "Returns the canceled porting.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/porting"
                },
                "examples": {
                  "Example": {
                    "summary": "Example",
                    "value": {
                      "object": "porting",
                      "id": "prt_0SNlurA049MEWV39s2kSYqaat7ZS",
                      "accountNumber": "123456789",
                      "birthday": "2017-07-21",
                      "declinedAttempts": 0,
                      "donorProvider": {
                        "object": "serviceProvider",
                        "id": "svp_0SNlurA01K6GY5L0XJffY8",
                        "name": "AT&T",
                        "recipientProviders": ["p3"]
                      },
                      "firstName": "John",
                      "lastName": "Doe",
                      "phoneNumber": "+25411865216434",
                      "provider": "p4",
                      "recipientProvider": {
                        "object": "serviceProvider",
                        "id": "svp_0SNlurA01K6GY5L0XJffY8",
                        "name": "AT&T",
                        "recipientProviders": ["p3"]
                      },
                      "required": ["accountNumber", "accountPin", "birthday", "donorProvider", "firstName", "lastName"],
                      "status": "draft",
                      "subscription": "sub_0SNlurA049MEWV2gSfSxi00xlPIi",
                      "user": "usr_0SNlurA049MEWV4OpCwsNyC9Kn2d",
                      "canceledAt": "2021-01-21T19:39:53Z",
                      "completedAt": "2021-01-21T19:36:57Z",
                      "createdAt": "2021-01-21T19:12:28Z",
                      "lastDeclinedAt": "2021-01-21T19:31:13Z",
                      "lastRequestedAt": "2021-01-21T19:22:31Z"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          }
        }
      }
    },
    "/projects/{project}/portings/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/project"
        },
        {
          "name": "id",
          "in": "path",
          "description": "The unique identifier for the porting.",
          "required": true,
          "schema": {
            "type": "string",
            "examples": ["prt_0SNlurA049MEWV39s2kSYqaat7ZS"]
          }
        }
      ],
      "get": {
        "tags": ["Portings"],
        "operationId": "PortingRetrieve",
        "summary": "Retrieve a Porting",
        "description": "Retrieves the details of an existing porting.\n\n<!-- theme: info -->\n> #### Preview\n>\n> This endpoint is currently in preview and might change in the future.\n> We’re excited to hear your feedback and ideas. Please send an email\n> to [support@gigs.com](mailto:support@gigs.com) to share your thoughts.\n",
        "responses": {
          "200": {
            "description": "Returns the porting.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/porting"
                },
                "examples": {
                  "Example": {
                    "summary": "Example",
                    "value": {
                      "object": "porting",
                      "id": "prt_0SNlurA049MEWV39s2kSYqaat7ZS",
                      "accountNumber": "123456789",
                      "birthday": "2017-07-21",
                      "declinedAttempts": 0,
                      "donorProvider": {
                        "object": "serviceProvider",
                        "id": "svp_0SNlurA01K6GY5L0XJffY8",
                        "name": "AT&T",
                        "recipientProviders": ["p3"]
                      },
                      "firstName": "John",
                      "lastName": "Doe",
                      "phoneNumber": "+25411865216434",
                      "provider": "p4",
                      "recipientProvider": {
                        "object": "serviceProvider",
                        "id": "svp_0SNlurA01K6GY5L0XJffY8",
                        "name": "AT&T",
                        "recipientProviders": ["p3"]
                      },
                      "required": ["accountNumber", "accountPin", "birthday", "donorProvider", "firstName", "lastName"],
                      "status": "draft",
                      "subscription": "sub_0SNlurA049MEWV2gSfSxi00xlPIi",
                      "user": "usr_0SNlurA049MEWV4OpCwsNyC9Kn2d",
                      "canceledAt": "2021-01-21T19:39:53Z",
                      "completedAt": "2021-01-21T19:36:57Z",
                      "createdAt": "2021-01-21T19:12:28Z",
                      "lastDeclinedAt": "2021-01-21T19:31:13Z",
                      "lastRequestedAt": "2021-01-21T19:22:31Z"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          }
        }
      },
      "patch": {
        "tags": ["Portings"],
        "operationId": "PortingUpdate",
        "summary": "Update a porting",
        "description": "Updates the specified porting by setting the values of the parameters passed.\n\n<!-- theme: info -->\n> #### Preview\n>\n> This endpoint is currently in preview and might change in the future.\n> We’re excited to hear your feedback and ideas. Please send an email\n> to [support@gigs.com](mailto:support@gigs.com) to share your thoughts.\n",
        "requestBody": {
          "description": "Porting parameters to update.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accountNumber": {
                    "type": "string",
                    "description": "The account number on the donor service provider.",
                    "examples": ["123456789"]
                  },
                  "accountPin": {
                    "type": "string",
                    "description": "The pin for the account on the donor service provider. This will be used only for the porting.",
                    "examples": ["1234"]
                  },
                  "birthday": {
                    "type": "string",
                    "format": "date",
                    "description": "The birthday of the account holder on the donor service provider.",
                    "examples": ["2017-07-21"]
                  },
                  "donorProvider": {
                    "type": "string",
                    "description": "The unique identifier of the donor service provider.",
                    "examples": ["svp_0SNlurA01K6GY5L0XJffY8"]
                  },
                  "firstName": {
                    "type": "string",
                    "description": "The first name of the account holder.",
                    "examples": ["John"]
                  },
                  "lastName": {
                    "type": "string",
                    "description": "The last name of the account holder.",
                    "examples": ["Doe"]
                  },
                  "phoneNumber": {
                    "type": "string",
                    "format": "E.164",
                    "description": "The phone number to port in E.164 format. This is only updatable when the porting is in a status of: draft",
                    "examples": ["+25411865216434"]
                  },
                  "provider": {
                    "type": "string",
                    "description": "The ID of the recipient network provider. This is only updatable when the porting is in a status of: draft",
                    "examples": ["p4"]
                  }
                },
                "required": []
              },
              "examples": {
                "Example - Full": {
                  "summary": "Example - Full",
                  "value": {
                    "accountNumber": "123456789",
                    "accountPin": "1234",
                    "birthday": "2017-07-21",
                    "donorProvider": "svp_0SNlurA01K6GY5L0XJffY8",
                    "firstName": "John",
                    "lastName": "Doe",
                    "phoneNumber": "+25411865216434",
                    "provider": "p4"
                  }
                },
                "Example - Required": {
                  "summary": "Example - Required",
                  "value": {}
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the updated porting.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/porting"
                },
                "examples": {
                  "Example": {
                    "summary": "Example",
                    "value": {
                      "object": "porting",
                      "id": "prt_0SNlurA049MEWV39s2kSYqaat7ZS",
                      "accountNumber": "123456789",
                      "birthday": "2017-07-21",
                      "declinedAttempts": 0,
                      "donorProvider": {
                        "object": "serviceProvider",
                        "id": "svp_0SNlurA01K6GY5L0XJffY8",
                        "name": "AT&T",
                        "recipientProviders": ["p3"]
                      },
                      "firstName": "John",
                      "lastName": "Doe",
                      "phoneNumber": "+25411865216434",
                      "provider": "p4",
                      "recipientProvider": {
                        "object": "serviceProvider",
                        "id": "svp_0SNlurA01K6GY5L0XJffY8",
                        "name": "AT&T",
                        "recipientProviders": ["p3"]
                      },
                      "required": ["accountNumber", "accountPin", "birthday", "donorProvider", "firstName", "lastName"],
                      "status": "draft",
                      "subscription": "sub_0SNlurA049MEWV2gSfSxi00xlPIi",
                      "user": "usr_0SNlurA049MEWV4OpCwsNyC9Kn2d",
                      "canceledAt": "2021-01-21T19:39:53Z",
                      "completedAt": "2021-01-21T19:36:57Z",
                      "createdAt": "2021-01-21T19:12:28Z",
                      "lastDeclinedAt": "2021-01-21T19:31:13Z",
                      "lastRequestedAt": "2021-01-21T19:22:31Z"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          }
        }
      }
    },
    "/projects/{project}/portings": {
      "parameters": [
        {
          "$ref": "#/components/parameters/project"
        }
      ],
      "get": {
        "tags": ["Portings"],
        "operationId": "PortingsList",
        "summary": "List all portings",
        "description": "Returns a list of portings. The portings returned are sorted by creation date, with the most recently created portings appearing first.\n\n<!-- theme: info -->\n> #### Preview\n>\n> This endpoint is currently in preview and might change in the future.\n> We’re excited to hear your feedback and ideas. Please send an email\n> to [support@gigs.com](mailto:support@gigs.com) to share your thoughts.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/listAfter"
          },
          {
            "$ref": "#/components/parameters/listBefore"
          },
          {
            "$ref": "#/components/parameters/listLimit"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a dictionary with an items property that contains an array of portings.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list",
                      "description": "Type of object is always `list`."
                    },
                    "items": {
                      "type": "array",
                      "description": "List of objects of type `porting`.",
                      "items": {
                        "$ref": "#/components/schemas/porting"
                      }
                    },
                    "moreItemsAfter": {
                      "type": ["string", "null"],
                      "description": "A unique identifier to be used as `after` pagination parameter if more items are available sorted after the current batch of items."
                    },
                    "moreItemsBefore": {
                      "type": ["string", "null"],
                      "description": "A unique identifier to be used as `before` pagination parameter if more items are available sorted before the current batch of items."
                    }
                  },
                  "required": ["object", "items", "moreItemsAfter", "moreItemsBefore"]
                },
                "examples": {
                  "Example": {
                    "summary": "Example",
                    "value": {
                      "object": "list",
                      "items": [
                        {
                          "object": "porting",
                          "id": "prt_0SNlurA049MEWV39s2kSYqaat7ZS",
                          "accountNumber": "123456789",
                          "birthday": "2017-07-21",
                          "declinedAttempts": 0,
                          "donorProvider": {
                            "object": "serviceProvider",
                            "id": "svp_0SNlurA01K6GY5L0XJffY8",
                            "name": "AT&T",
                            "recipientProviders": ["p3"]
                          },
                          "firstName": "John",
                          "lastName": "Doe",
                          "phoneNumber": "+25411865216434",
                          "provider": "p4",
                          "recipientProvider": {
                            "object": "serviceProvider",
                            "id": "svp_0SNlurA01K6GY5L0XJffY8",
                            "name": "AT&T",
                            "recipientProviders": ["p3"]
                          },
                          "required": [
                            "accountNumber",
                            "accountPin",
                            "birthday",
                            "donorProvider",
                            "firstName",
                            "lastName"
                          ],
                          "status": "draft",
                          "subscription": "sub_0SNlurA049MEWV2gSfSxi00xlPIi",
                          "user": "usr_0SNlurA049MEWV4OpCwsNyC9Kn2d",
                          "canceledAt": "2021-01-21T19:39:53Z",
                          "completedAt": "2021-01-21T19:36:57Z",
                          "createdAt": "2021-01-21T19:12:28Z",
                          "lastDeclinedAt": "2021-01-21T19:31:13Z",
                          "lastRequestedAt": "2021-01-21T19:22:31Z"
                        }
                      ],
                      "moreItemsAfter": null,
                      "moreItemsBefore": null
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          }
        }
      },
      "post": {
        "tags": ["Portings"],
        "operationId": "PortingsCreate",
        "summary": "Create a porting",
        "description": "Creates a new porting with the parameters passed. The porting will be created in `draft` status and can be later used to create an order or subscription for the given network provider.\n\nOnly some of the fields are required during creation creation, but all of the ones required by the network provider must be set before submitting the porting.\n\n\n<!-- theme: info -->\n> #### Preview\n>\n> This endpoint is currently in preview and might change in the future.\n> We’re excited to hear your feedback and ideas. Please send an email\n> to [support@gigs.com](mailto:support@gigs.com) to share your thoughts.\n",
        "requestBody": {
          "description": "Porting parameters to create.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accountNumber": {
                    "type": "string",
                    "description": "The account number on the donor service provider.",
                    "examples": ["123456789"]
                  },
                  "accountPin": {
                    "type": "string",
                    "description": "The pin for the account on the donor service provider. This will be used only for the porting.",
                    "examples": ["1234"]
                  },
                  "birthday": {
                    "type": "string",
                    "format": "date",
                    "description": "The birthday of the account holder on the donor service provider.",
                    "examples": ["2017-07-21"]
                  },
                  "donorProvider": {
                    "type": "string",
                    "description": "The unique identifier of the donor service provider.",
                    "examples": ["svp_0SNlurA01K6GY5L0XJffY8"]
                  },
                  "firstName": {
                    "type": "string",
                    "description": "The first name of the account holder.",
                    "examples": ["John"]
                  },
                  "lastName": {
                    "type": "string",
                    "description": "The last name of the account holder.",
                    "examples": ["Doe"]
                  },
                  "phoneNumber": {
                    "type": "string",
                    "format": "E.164",
                    "description": "The phone number to port in E.164 format.",
                    "examples": ["+25411865216434"]
                  },
                  "provider": {
                    "type": "string",
                    "description": "The name of the receiving network provider.",
                    "examples": ["p4"]
                  },
                  "user": {
                    "type": "string",
                    "description": "The unique identifier for an existing [user](https://developers.gigs.com/docs/api/b3A6MzMwODcxNDM-retrieve-a-user) the porting should be created for.",
                    "examples": ["usr_0SNlurA049MEWV4OpCwsNyC9Kn2d"]
                  }
                },
                "required": ["phoneNumber", "provider", "user"]
              },
              "examples": {
                "Example - Full": {
                  "summary": "Example - Full",
                  "value": {
                    "accountNumber": "123456789",
                    "accountPin": "1234",
                    "birthday": "2017-07-21",
                    "donorProvider": "svp_0SNlurA01K6GY5L0XJffY8",
                    "firstName": "John",
                    "lastName": "Doe",
                    "phoneNumber": "+25411865216434",
                    "provider": "p4",
                    "user": "usr_0SNlurA049MEWV4OpCwsNyC9Kn2d"
                  }
                },
                "Example - Required": {
                  "summary": "Example - Required",
                  "value": {
                    "phoneNumber": "+25411865216434",
                    "provider": "p4",
                    "user": "usr_0SNlurA049MEWV4OpCwsNyC9Kn2d"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Returns the created porting.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/porting"
                },
                "examples": {
                  "Example": {
                    "summary": "Example",
                    "value": {
                      "object": "porting",
                      "id": "prt_0SNlurA049MEWV39s2kSYqaat7ZS",
                      "accountNumber": "123456789",
                      "birthday": "2017-07-21",
                      "declinedAttempts": 0,
                      "donorProvider": {
                        "object": "serviceProvider",
                        "id": "svp_0SNlurA01K6GY5L0XJffY8",
                        "name": "AT&T",
                        "recipientProviders": ["p3"]
                      },
                      "firstName": "John",
                      "lastName": "Doe",
                      "phoneNumber": "+25411865216434",
                      "provider": "p4",
                      "recipientProvider": {
                        "object": "serviceProvider",
                        "id": "svp_0SNlurA01K6GY5L0XJffY8",
                        "name": "AT&T",
                        "recipientProviders": ["p3"]
                      },
                      "required": ["accountNumber", "accountPin", "birthday", "donorProvider", "firstName", "lastName"],
                      "status": "draft",
                      "subscription": "sub_0SNlurA049MEWV2gSfSxi00xlPIi",
                      "user": "usr_0SNlurA049MEWV4OpCwsNyC9Kn2d",
                      "canceledAt": "2021-01-21T19:39:53Z",
                      "completedAt": "2021-01-21T19:36:57Z",
                      "createdAt": "2021-01-21T19:12:28Z",
                      "lastDeclinedAt": "2021-01-21T19:31:13Z",
                      "lastRequestedAt": "2021-01-21T19:22:31Z"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          }
        }
      }
    },
    "/projects/{project}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/project"
        }
      ],
      "get": {
        "tags": ["Projects"],
        "operationId": "ProjectsRetrieve",
        "summary": "Retrieve a project",
        "description": "Retrieves the details of an existing project accessible by the API client.",
        "responses": {
          "200": {
            "description": "Returns the project object if it exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/project"
                },
                "examples": {
                  "Example": {
                    "summary": "Example",
                    "value": {
                      "object": "project",
                      "id": "gigs",
                      "domain": "connect.gigs.com",
                      "image": "https://a.gigscdn.net/p/gigs/icon.png",
                      "images": {
                        "favicon": "https://a.gigscdn.net/p/gigs/favicon.png",
                        "icon": "https://a.gigscdn.net/p/gigs/icon.png",
                        "logoHorizontal": "https://a.gigscdn.net/p/gigs/logo-horizontal.png"
                      },
                      "legal": {
                        "name": "Gigs Inc.",
                        "city": "New York City",
                        "country": "US",
                        "line1": "129 West 81st Street",
                        "line2": "Apartment 5A",
                        "postalCode": "10024",
                        "state": "NY"
                      },
                      "locales": ["en-US"],
                      "name": "Gigs Connect",
                      "organization": {
                        "object": "organization",
                        "id": "org_0SNlurA04kOdemVEMVZQBF",
                        "name": "Gigs",
                        "createdAt": "2021-02-01T13:21:30Z"
                      },
                      "payments": {
                        "currency": "USD",
                        "mode": "live"
                      },
                      "settings": {},
                      "subscriptionOwner": "user",
                      "support": {
                        "email": "support@gigs.com",
                        "phoneNumber": "+12345678900"
                      },
                      "createdAt": "2021-01-21T19:32:13Z"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          }
        }
      }
    },
    "/projects/{project}/credentials": {
      "parameters": [
        {
          "$ref": "#/components/parameters/project"
        }
      ],
      "get": {
        "tags": ["Projects"],
        "operationId": "ProjectsCredentialsRetrieve",
        "summary": "Retrieve the project credentials",
        "description": "Retrieve the credentials of an existing project.\n\n<!-- theme: info -->\n> #### Preview\n>\n> This endpoint is currently in preview and might change in the future.\n> We’re excited to hear your feedback and ideas. Please send an email\n> to [support@gigs.com](mailto:support@gigs.com) to share your thoughts.\n",
        "responses": {
          "200": {
            "description": "Returns the project credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "ProjectCredentials",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "projectCredentials",
                      "description": "Type of object is always `projectCredentials`."
                    },
                    "paymentsKey": {
                      "type": ["string", "null"],
                      "description": "Publishable API key for payment integration.",
                      "examples": ["pk_test_XXooYYauvdEDq12NiTphI7sa"]
                    }
                  },
                  "required": ["object", "paymentsKey"]
                },
                "examples": {
                  "Example": {
                    "summary": "Example",
                    "value": {
                      "object": "projectCredentials",
                      "paymentsKey": "pk_test_XXooYYauvdEDq12NiTphI7sa"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          }
        }
      }
    },
    "/projects": {
      "get": {
        "tags": ["Projects"],
        "operationId": "ProjectsList",
        "summary": "List all projects",
        "description": "Returns a list of projects. The projects returned are sorted by creation date, with the most recently created projects appearing first.",
        "parameters": [
          {
            "name": "organization",
            "in": "query",
            "description": "The unique identifier for the organization to be filtered by.",
            "schema": {
              "type": "string",
              "examples": ["org_0SNlurA04kOdemVEMVZQBF"]
            }
          },
          {
            "$ref": "#/components/parameters/listAfter"
          },
          {
            "$ref": "#/components/parameters/listBefore"
          },
          {
            "$ref": "#/components/parameters/listLimit"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a dictionary with an items property that contains an array of projects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list",
                      "description": "Type of object is always `list`."
                    },
                    "items": {
                      "type": "array",
                      "description": "List of objects of type `project`.",
                      "items": {
                        "$ref": "#/components/schemas/project"
                      }
                    },
                    "moreItemsAfter": {
                      "type": ["string", "null"],
                      "description": "A unique identifier to be used as `after` pagination parameter if more items are available sorted after the current batch of items."
                    },
                    "moreItemsBefore": {
                      "type": ["string", "null"],
                      "description": "A unique identifier to be used as `before` pagination parameter if more items are available sorted before the current batch of items."
                    }
                  },
                  "required": ["object", "items", "moreItemsAfter", "moreItemsBefore"]
                },
                "examples": {
                  "Example": {
                    "summary": "Example",
                    "value": {
                      "object": "list",
                      "items": [
                        {
                          "object": "project",
                          "id": "gigs",
                          "domain": "connect.gigs.com",
                          "image": "https://a.gigscdn.net/p/gigs/icon.png",
                          "images": {
                            "favicon": "https://a.gigscdn.net/p/gigs/favicon.png",
                            "icon": "https://a.gigscdn.net/p/gigs/icon.png",
                            "logoHorizontal": "https://a.gigscdn.net/p/gigs/logo-horizontal.png"
                          },
                          "legal": {
                            "name": "Gigs Inc.",
                            "city": "New York City",
                            "country": "US",
                            "line1": "129 West 81st Street",
                            "line2": "Apartment 5A",
                            "postalCode": "10024",
                            "state": "NY"
                          },
                          "locales": ["en-US"],
                          "name": "Gigs Connect",
                          "organization": {
                            "object": "organization",
                            "id": "org_0SNlurA04kOdemVEMVZQBF",
                            "name": "Gigs",
                            "createdAt": "2021-02-01T13:21:30Z"
                          },
                          "payments": {
                            "currency": "USD",
                            "mode": "live"
                          },
                          "settings": {},
                          "subscriptionOwner": "user",
                          "support": {
                            "email": "support@gigs.com",
                            "phoneNumber": "+12345678900"
                          },
                          "createdAt": "2021-01-21T19:32:13Z"
                        }
                      ],
                      "moreItemsAfter": null,
                      "moreItemsBefore": null
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          }
        }
      }
    },
    "/serviceProviders/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "The unique identifier for the service provider.",
          "required": true,
          "schema": {
            "type": "string",
            "examples": ["svp_0SNlurA01K6GY5L0XJffY8"]
          }
        }
      ],
      "get": {
        "tags": ["Portings"],
        "operationId": "ServiceProviderRetrieve",
        "summary": "Retrieve a service provider",
        "description": "Retrieves the details of a service provider.\n\n<!-- theme: info -->\n> #### Preview\n>\n> This endpoint is currently in preview and might change in the future.\n> We’re excited to hear your feedback and ideas. Please send an email\n> to [support@gigs.com](mailto:support@gigs.com) to share your thoughts.\n",
        "responses": {
          "200": {
            "description": "Returns the service provider object if it exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/serviceProvider"
                },
                "examples": {
                  "Example": {
                    "summary": "Example",
                    "value": {
                      "object": "serviceProvider",
                      "id": "svp_0SNlurA01K6GY5L0XJffY8",
                      "name": "AT&T",
                      "recipientProviders": ["p3"]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          }
        }
      }
    },
    "/serviceProviders": {
      "get": {
        "tags": ["Portings"],
        "operationId": "ServiceProvidersList",
        "summary": "List all service providers",
        "description": "Returns a list of service providers.\n\n<!-- theme: info -->\n> #### Preview\n>\n> This endpoint is currently in preview and might change in the future.\n> We’re excited to hear your feedback and ideas. Please send an email\n> to [support@gigs.com](mailto:support@gigs.com) to share your thoughts.\n",
        "parameters": [
          {
            "name": "recipientProvider",
            "in": "query",
            "description": "Only return service providers that have the given network provider as supported porting recipient.",
            "schema": {
              "type": "string",
              "examples": ["p7"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a dictionary with an items property that contains an array of service providers.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list",
                      "description": "Type of object is always `list`."
                    },
                    "items": {
                      "type": "array",
                      "description": "List of objects of type `serviceProvider`.",
                      "items": {
                        "$ref": "#/components/schemas/serviceProvider"
                      }
                    },
                    "moreItemsAfter": {
                      "type": ["string", "null"],
                      "description": "A unique identifier to be used as `after` pagination parameter if more items are available sorted after the current batch of items."
                    },
                    "moreItemsBefore": {
                      "type": ["string", "null"],
                      "description": "A unique identifier to be used as `before` pagination parameter if more items are available sorted before the current batch of items."
                    }
                  },
                  "required": ["object", "items", "moreItemsAfter", "moreItemsBefore"]
                },
                "examples": {
                  "Example": {
                    "summary": "Example",
                    "value": {
                      "object": "list",
                      "items": [
                        {
                          "object": "serviceProvider",
                          "id": "svp_0SNlurA01K6GY5L0XJffY8",
                          "name": "AT&T",
                          "recipientProviders": ["p3"]
                        }
                      ],
                      "moreItemsAfter": null,
                      "moreItemsBefore": null
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          }
        }
      }
    },
    "/projects/{project}/sims/{id}/credentials": {
      "parameters": [
        {
          "$ref": "#/components/parameters/project"
        },
        {
          "name": "id",
          "in": "path",
          "description": "The unique identifier for the SIM.",
          "required": true,
          "schema": {
            "type": "string",
            "examples": ["sim_0SNlurA049MEWV1BAAmWZULA4lf6"]
          }
        }
      ],
      "get": {
        "tags": ["SIMs"],
        "operationId": "SIMsCredentialsRetrieve",
        "summary": "Retrieve the SIM credentials",
        "description": "Retrieve the credentials of an existing SIM.",
        "responses": {
          "200": {
            "description": "Returns the SIM credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/simCredentials"
                },
                "examples": {
[...]
