@import "~@blueprintjs/core/lib/scss/variables";

.card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid $gray5;
    border-radius: $pt-border-radius;
    background-color: $light-gray5;
}

.titleSection {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.titleLeftSection,
.titleRightSection {
    display: flex;
    align-items: center;
}

.titleRightSection {
    gap: 20px;
}

.title {
    font-weight: 600;
    font-size: 18px;
    font-family: monospace;
}

.content {
    display: flex;
    flex-direction: column;
}

.subtitle {
    max-width: 700px;
    margin-bottom: 10px;
}

:global(.#{$ns}-dark) {
    .card {
        border-color: $gray1;
        background-color: $dark-gray1;
    }
}
