@import "~@blueprintjs/core/lib/scss/variables";

body {
    overscroll-behavior: none;
    font-family: Inter;

    :global {
        code,
        pre {
            font-family: "Source Code Pro";
        }
    }
}

.app {
    flex: 1;
    display: flex;
    height: 100vh;
}
