@import "~@blueprintjs/core/lib/scss/variables";

@font-face {
    font-family: "Berkeley Mono";
    src: local("Berkeley Mono"), url("./fonts/BerkeleyMono-Regular.woff2") format("woff2");
}

.app {
    :global {
        p {
            @apply text-text-default;
        }

        code,
        pre {
            font-family: "Berkeley Mono";
        }
    }
}
