@import "~@blueprintjs/core/lib/scss/variables";

body {
    overscroll-behavior-y: none;
    font-family: Inter;

    :global {
        code,
        pre {
            font-family: "Berkeley Mono Trial";
        }
    }
}

@font-face {
    font-family: "Berkeley Mono Trial";
    src: local("Berkeley Mono Trial"), url("./fonts/BerkeleyMonoTrial-Regular.otf") format("opentype");
}

@font-face {
    font-family: Inter;
    src: local("Inter"), url("./fonts/inter/Inter.ttf") format("truetype");
}

.app {
    flex: 1;
    display: flex;
    height: 100vh;
}
