@import "~@blueprintjs/core/lib/scss/variables";

body {
    overscroll-behavior-y: none;
    font-family: "Noto Sans";
    background-color: #fcfcfc;
}

.app {
    flex: 1;
    display: flex;
    height: 100vh;
}
