@import "~@blueprintjs/core/lib/scss/variables";

.sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
    background-color: $light-gray3;
}

.addResourceButton {
    flex: 1;
    margin: 15px;
}

:global(.#{$ns}-dark) {
    .sidebar {
        background-color: $dark-gray1;
    }
}
