{
  "type": "openapi",
  "value": {
    "openapi": "3.1.0",
    "info": {
      "title": "Apiture Digital Banking",
      "description": "APIs for digital banking client applications.\n\n## Customer Accounts\n\nCustomer-level API for listing banking accounts, balances, and other account-specific data.\n\nClients may use this API to:\n\n  * [`listAccounts`](#op-listAccounts) - obtain a list of accounts that the authorized user has access to,\n  returning a [`accounts`](#schema-accounts) collection with a `list` of account objects.\n  * [`listEligibleAchAccounts`](#op-listEligibleAchAccounts) - obtain a list of ACH accounts that allow\n  transfers based on SEC code and authorized account privileges.\n  * [`listAccountBalances`](#op-listAccountBalances) - list the balances of the customer' accounts.\n  * [`getAccount`](#op-getAccount) - Fetch a more complete set of properties of an internal account.\n  * Manage overdraft protection:\n    * [`listEligibleOverdraftAccounts`](#op-listEligibleOverdraftAccounts) - List accounts which may be set as\n    overdraft protection accounts for another account.\n    * [`getOverdraftProtection`](#op-getOverdraftProtection) - fetch an account's overdraft protection settings.\n    * [`patchOverdraftAccounts`](#op-patchOverdraftAccounts) - update an account's overdraft protection settings.\n\n## Financial Institutions\n\nOperations related to bank and credit union financial institutions (FIs). This API provides the following features\n\n  1. [Calculating upcoming dates](#op-listTransferSchedule) for transfer schedules, factoring in weekends, non-business days, and\n  banking holidays as determined by the institution,\n  1. Provide a [list of transfer date restrictions](#op-getTransferDateRestrictions):\n  dates when users should not schedule transfers, based on transfer parameters,\n  1. [Look up a financial institution](#op-lookUpInstitutionByLocator) by an FI locator value: either an ABA routing and transit number,\n  an IBAN account number, or a SWIFT/BIC code,\n  1. [Fetching Cutoff times for FI money movement requests](#op-getCutoffTimes).\n\nSome of the operations in this API require an `institutionId` path parameter. This is the unique alphanumeric code that uniquely identifies a financial institution.\n\n## Account Transactions\n\nThe Transactions API allows bank customers to view the transactions history associated with a banking account. The client may filter the transaction history by date, amount, transaction type, and other criteria. The transaction response is paginated since there may be many thousands of transactions for an account.\n\nTransactions have a `type` which indicates if the item is a balance transaction which establishes the account's balance, or a `debit`, or a `credit` transaction. Examples of debit transactions are checks drawn against an account, withdrawals, transfers from the account, fees, and adjustments. Examples of credit transactions are deposits, transfers to the account, interest, and adjustments. Check transactions include the check number and links to the check front and back images.\n\nSome transactions, such as ACH transfers or debit card payments, include information about the merchant, such as the merchant name, the merchant's website URL, and logo URL if available.\n\nTransactions also have a `memo` descriptive field which the customer can change. Each non-balance transaction can also be assigned to a _category_. The customer can edit their list of custom transaction categories. There is also a pre-defined list of fixed categories. (_Category management is to be designed._)\n\n**Note:** The financial institution may limit transaction history to the last 12 months of data.\n\n## Account to Account Transfers\n\nSchedule and manage account to account transfers.\n\nWhen creating new simple transfers, the source and target accounts, amount, and transfer schedule are required and the transfer is scheduled to be processed on the scheduled date. Some financial institutions support immediate transfers between local accounts scheduled on the current day. Transfers to or from external accounts typically are processed after the financial institution's ACH cut-off time but require several business days.\n\nTransfers have a [`state`](#schema-transferState) property which indicates if the transfer is pending, pending approvals, scheduled (queued for processing), processing, or processed.\n\nTransfers support recurring schedules, such as repeating every week or every month. Recurring transfers can also be variable transfers; they recur without an amount. Occasional recurring transfers do not have a scheduled date. Both of these situations result in transfers in a `pending` state. They remain pending until a [`patchTransfer`](#op-patchTransfer) operation sets the amount and schedule. Once a `pending` transfer has an amount and schedule, it becomes `scheduled`.",
      "version": "0.138.0",
      "contact": {
        "name": "Apiture",
        "url": "https://developer.apiture.com/help/support/",
        "email": "api@apiture.com"
      },
      "termsOfService": "https://dx.apiture.com/docs/api-documentation/Apiture-API-License-Agreement.pdf",
      "license": {
        "name": "Apiture API License",
        "url": "https://dx.apiture.com/docs/api-documentation/Apiture-Open-License-Agreement.pdf"
      }
    },
    "servers": [
      {
        "url": "https://api.apiture.com/banking"
      }
    ],
    "tags": [
      {
        "name": "Accounts",
        "description": "Banking Accounts"
      },
      {
        "name": "Account Joint Owners",
        "description": "Account Joint Owners"
      },
      {
        "name": "Overdraft Protection",
        "description": "Overdraft Protection Settings"
      },
      {
        "name": "Institutions",
        "description": "Banking Institutions"
      },
      {
        "name": "Schedules",
        "description": "Schedules"
      },
      {
        "name": "Transactions",
        "description": "Banking Account Transactions"
      },
      {
        "name": "Transaction Categories",
        "description": "Banking Account Transaction Categories"
      },
      {
        "name": "Transfers",
        "description": "Banking Transfers"
      }
    ],
    "paths": {
      "/accounts": {
        "get": {
          "summary": "List Accounts",
          "x-fern-sdk-method-name": "listAccounts",
          "x-apiture-api": "bankingAccounts",
          "x-fern-sdk-group-name": "accounts",
          "description": "Return a paginated list of the customer's accounts, consisting of internal accounts at this financial institution and accounts at other financial institutions, if any.",
          "parameters": [
            {
              "name": "productType",
              "description": "Include only accounts whose `product.type` is in pipe-delimited set. For example, to list only savings, checking, and CD accounts, use <br>`?productType=savings|checking|cd`.",
              "in": "query",
              "style": "pipeDelimited",
              "explode": false,
              "schema": {
                "type": "array",
                "minItems": 1,
                "uniqueItems": true,
                "items": {
                  "$ref": "#/components/schemas/productType"
                }
              }
            },
            {
              "name": "location",
              "in": "query",
              "schema": {
                "type": "string",
                "enum": [
                  "internal",
                  "external"
                ]
              },
              "description": "Filter accounts to just a subset of `internal` or `external` accounts (per the `location` property on the [`accountItem`](#schema-accountItem) schema)."
            },
            {
              "$ref": "#/components/parameters/accountAllowsQueryParam"
            },
            {
              "$ref": "#/components/parameters/startQueryParam"
            },
            {
              "$ref": "#/components/parameters/limitQueryParam"
            }
          ],
          "tags": [
            "Accounts"
          ],
          "security": [
            {
              "accessToken": [
                "banking/read"
              ]
            }
          ],
          "responses": {
            "200": {
              "description": "OK. A page from the full list of the customer's accounts. This list contains only accounts that the customer is entitled to access. While the `nextPage_url` property is present in the response, the client can fetch the next page of accounts by performing a `GET` on that URL.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/accounts"
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/400"
            },
            "401": {
              "$ref": "#/components/responses/401"
            },
            "403": {
              "$ref": "#/components/responses/403"
            },
            "422": {
              "$ref": "#/components/responses/422"
            }
          },
          "x-apiture-permission": "listAccounts"
        }
      },
      "/accounts/{accountId}": {
        "parameters": [
          {
            "$ref": "#/components/parameters/accountIdPathParam"
          }
        ],
        "get": {
          "summary": "Get an Account",
          "x-fern-sdk-method-name": "getAccount",
          "x-apiture-api": "bankingAccounts",
          "x-fern-sdk-group-name": "accounts",
          "description": "Return details of the customer's internal account.",
          "tags": [
            "Accounts"
          ],
          "security": [
            {
              "accessToken": [
                "banking/read"
              ]
            }
          ],
          "responses": {
            "200": {
              "description": "OK. The response is a representation of the customer's account.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/account"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/401"
            },
            "403": {
              "$ref": "#/components/responses/403"
            },
            "404": {
              "$ref": "#/components/responses/404Account"
            }
          },
          "x-apiture-permission": "getAccount"
        }
      },
      "/accountBalances": {
        "get": {
          "summary": "List Account Balances",
          "x-fern-sdk-method-name": "listAccountBalances",
          "x-apiture-api": "bankingAccounts",
          "x-fern-sdk-group-name": "accounts",
          "description": "Return a list of the requested internal accounts' balances. The `accounts` query parameter is a list of account IDs which typically comes from the `getAccounts` operation response. The returned list does not include external accounts. The caller must have entitlements to view each account's details, as indicated by a `true` value for `account.allows.view`. Requests to list balances for accounts the user is not allowed to read results in a 403 Forbidden response.\n\nThe response may be incomplete. Given a `Retry-After` response header, the client can retry the operation after a short delay, requesting only the accounts which are incomplete; see the 202 Accepted response for details.",
          "parameters": [
            {
              "name": "accounts",
              "description": "The unique account identifiers of one or more internal accounts. (Internal accounts are those with `location` value of `internal`.) If omitted, this operation uses the accounts for which the customer has view permissions but is limited to at most 1000 accounts. Note: The account IDs are unrelated to the account number.",
              "in": "query",
              "required": false,
              "style": "form",
              "explode": false,
              "schema": {
                "$ref": "#/components/schemas/accountIds"
              }
            },
            {
              "name": "retryCount",
              "description": "When retrying the operation, pass the `retryCount` from the `incompleteAccountBalances` response.",
              "in": "query",
              "schema": {
                "type": "integer",
                "minimum": 1,
                "maximum": 10
              }
            }
          ],
          "tags": [
            "Accounts"
          ],
          "security": [
            {
              "accessToken": [
                "banking/read"
              ]
            }
          ],
          "responses": {
            "200": {
              "description": "OK. The response contains the balances for all the accounts in the `?accounts=` query parameter.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/accountBalances"
                  }
                }
              }
            },
            "202": {
              "description": "Accepted. The service accepted the request but could not provide balances for all the requested accounts and returned an incomplete response. Try the call again after the time in the `Retry-After` response header has passed, and request only those accounts which are `incomplete`. If there is no `Retry-After` response header, the client has reached its maximum number of tries and should not retry the operation.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/incompleteAccountBalances"
                  }
                }
              },
              "headers": {
                "Retry-After": {
                  "$ref": "#/components/headers/Retry-After"
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/401"
            },
            "403": {
              "$ref": "#/components/responses/403"
            },
            "422": {
              "description": "Unprocessable Entity. The request body and/or query parameters were well-formed but otherwise invalid.\n\nThis error response may have one of the following `type` values:\n* [`https://production.api.apiture.com/errors/invalidAccountId/v0.2.0`](https://production.api.apiture.com/errors/invalidAccountId/v0.2.0)<br>\n  The named `accountId` does not exist or the user is not entitled to access the account.\n  Remediation: Pass the `id` of an existing account the caller has access to.\n",
              "x-apiture-errors": [
                "invalidAccountId"
              ],
              "content": {
                "application/problem+json": {
                  "schema": {
                    "$ref": "#/components/schemas/problemResponse"
                  },
                  "example": {
                    "id": "3fbad566-be86-4b22-9ba6-3ca99fdc0799",
                    "type": "https://production.api.apiture.com/errors/invalidAccountId/v1.0.0",
                    "title": "Unprocessable Entity",
                    "status": 422,
                    "occurredAt": "2022-04-25T12:42:21.375Z",
                    "detail": "No such account exists for the given account ID.",
                    "instance": "https://production.api.apiture.com/banking/accountBalances?accounts=bb709151-575041fcd617"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/problemResponse"
                  },
                  "example": {
                    "id": "3fbad566-be86-4b22-9ba6-3ca99fdc0799",
                    "type": "https://production.api.apiture.com/errors/invalidAccountId/v1.0.0",
                    "title": "Unprocessable Entity",
                    "status": 422,
                    "occurredAt": "2022-04-25T12:42:21.375Z",
                    "detail": "No such account exists for the given account ID.",
                    "instance": "https://production.api.apiture.com/banking/accountBalances?accounts=bb709151-575041fcd617"
                  }
                }
              }
            },
            "429": {
              "$ref": "#/components/responses/429"
            },
            "503": {
              "description": "Service Unavailable. Could not fetch the account balance from the banking core.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/problemResponse"
                  }
                }
              }
            }
          },
          "x-apiture-permission": "listAccountBalances"
        }
      },
      "/accounts/{accountId}/jointOwners": {
        "get": {
          "summary": "Return a collection of account joint owners",
          "description": "Return a collection of account joint owners. The user must have the `account.manageJointOwners` permission to use this operation.",
          "x-fern-sdk-method-name": "listAccountJointOwners",
          "x-apiture-api": "bankingAccounts",
          "x-fern-sdk-group-name": "accountJointOwners",
          "tags": [
            "Account Joint Owners"
          ],
          "responses": {
            "200": {
              "description": "OK.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/accountJointOwners"
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/400"
            },
            "401": {
              "$ref": "#/components/responses/401"
            },
            "403": {
              "$ref": "#/components/responses/403"
            },
            "404": {
              "$ref": "#/components/responses/404"
            }
          },
          "security": [
            {
              "accessToken": [
                "banking/read"
              ]
            }
          ],
          "x-apiture-permission": "listAccountJointOwners"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/accountIdPathParam"
          }
        ]
      },
      "/achEligibleAccounts": {
        "get": {
          "summary": "List Eligible ACH Accounts",
          "x-fern-sdk-method-name": "listEligibleAchAccounts",
          "x-apiture-api": "bankingAccounts",
          "x-fern-sdk-group-name": "accounts",
          "parameters": [
            {
              "$ref": "#/components/parameters/accountAllowsRequiredQueryParam"
            },
            {
              "$ref": "#/components/parameters/secCodeQueryParam"
            },
            {
              "$ref": "#/components/parameters/customerIdQueryParam"
            },
            {
              "$ref": "#/components/parameters/startQueryParam"
            },
            {
              "$ref": "#/components/parameters/limitQueryParam"
            }
          ],
          "description": "Return a paginated list of a customer's accounts that are eligible for ACH transfers based on allowed privileges.\n\nOptionally, an agent can access a business customer's ACH accounts when acting on behalf of that business customer via the optional `customerId` query parameter.",
          "tags": [
            "Accounts"
          ],
          "security": [
            {
              "accessToken": [
                "banking/read"
              ]
            }
          ],
          "responses": {
            "200": {
              "description": "OK. A page from the full list of the customer's ACH-eligible accounts. This list contains only accounts that the customer is entitled to access. While the `nextPage_url` property is present in the response, the client can fetch the next page of accounts by performing a `GET` on that URL.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/accounts"
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/400"
            },
            "401": {
              "$ref": "#/components/responses/401"
            },
            "403": {
              "$ref": "#/components/responses/403"
            },
            "422": {
              "$ref": "#/components/responses/422"
            }
          },
          "x-apiture-permission": "listEligibleAchAccounts"
        }
      },
      "/accounts/{accountId}/eligibleOverdraftAccounts": {
        "parameters": [
          {
            "$ref": "#/components/parameters/accountIdPathParam"
          }
        ],
        "get": {
          "summary": "List Eligible Overdraft Accounts",
          "x-fern-sdk-method-name": "listEligibleOverdraftAccounts",
          "x-apiture-api": "bankingAccounts",
          "x-fern-sdk-group-name": "overdraftProtection",
          "parameters": [
            {
              "$ref": "#/components/parameters/startQueryParam"
            },
            {
              "$ref": "#/components/parameters/limitQueryParam"
            }
          ],
          "description": "Return a paginated list of a customer's accounts that are eligible to serve as overdraft protection accounts for the given account. An overdraft protection account is a deposit account that the financial institution can transfer funds from to prevent the account balance from going negative and incurring non-sufficient funds fees.\n\nThe user must have the `allows.manageOverdraftAccounts` permission on the account to use this operation.\n\nTo obtain available balances for these accounts, use [`listAccountBalances`](#op-listAccountBalances).",
          "tags": [
            "Overdraft Protection"
          ],
          "security": [
            {
              "accessToken": [
                "banking/read"
              ]
            }
          ],
          "responses": {
            "200": {
              "description": "OK. A page from the full list of the customer's eligible overdraft accounts. This list contains only accounts that the customer is entitled to access. While the `nextPage_url` property is present in the response, the client can fetch the next page of accounts by performing a `GET` on that URL.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/eligibleOverdraftAccounts"
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/400"
            },
            "401": {
              "$ref": "#/components/responses/401"
            },
            "403": {
              "$ref": "#/components/responses/403"
            },
            "404": {
              "$ref": "#/components/responses/404Account"
            },
            "422": {
              "$ref": "#/components/responses/422"
            }
          },
          "x-apiture-permission": "listEligibleOverdraftAccounts"
        }
      },
      "/accounts/{accountId}/overdraftProtection": {
        "parameters": [
          {
            "$ref": "#/components/parameters/accountIdPathParam"
          }
        ],
        "get": {
          "summary": "Fetch a representation of the account's overdraft protection settings",
          "description": "Return the JSON representation of this account's overdraft protection settings.",
          "x-fern-sdk-method-name": "getOverdraftProtection",
          "x-apiture-api": "bankingAccounts",
          "x-fern-sdk-group-name": "overdraftProtection",
          "tags": [
            "Overdraft Protection"
          ],
          "responses": {
            "200": {
              "description": "OK.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/overdraftProtection"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/401"
            },
            "403": {
              "$ref": "#/components/responses/403"
            },
            "404": {
              "description": "Unprocessable Entity. There is no such banking account resource at the specified account `{id}`, the caller does not have access to that account, or that account is not eligible, or there are duplicate items. The response body contains details about the request error.\n\nThis error response may have one of the following `type` values:\n* [`https://production.api.apiture.com/errors/invalidAccountId/v0.2.0`](https://production.api.apiture.com/errors/invalidAccountId/v0.2.0)<br>\n  The named `accountId` does not exist or the user is not entitled to access the account.\n  Remediation: Pass the `id` of an existing account the caller has access to.\n",
              "x-apiture-errors": [
                "invalidAccountId"
              ],
              "content": {
                "application/problem+json": {
                  "schema": {
                    "$ref": "#/components/schemas/problemResponse"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/problemResponse"
                  }
                }
              }
            }
          },
          "security": [
            {
              "accessToken": [
                "banking/read"
              ]
            }
          ],
          "x-apiture-permission": "getOverdraftProtection"
        },
        "patch": {
          "summary": "Update the overdraft accounts",
          "description": "Perform a partial update of the overdraft accounts. Only fields in the request body are updated on the resource; fields which are omitted are not updated. To add, replace, or remove an overdraft account, add, replace, or remove the corresponding account item from the `items` array. Only the account `id` in the items is significant.\n\nThe user must have the `allows.manageOverdraftAccounts` permission on the account to use this operation.",
          "x-fern-sdk-method-name": "patchOverdraftAccounts",
          "x-apiture-api": "bankingAccounts",
          "x-fern-sdk-group-name": "overdraftProtection",
          "tags": [
            "Overdraft Protection"
          ],
          "requestBody": {
            "required": true,
            "description": "The replacement overdraft accounts.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/overdraftProtectionPatch"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/overdraftProtection"
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/400"
            },
            "401": {
              "$ref": "#/components/responses/401"
            },
            "403": {
              "$ref": "#/components/responses/403"
            },
            "404": {
              "$ref": "#/components/responses/404Account"
            },
            "422": {
              "description": "Unprocessable Entity. There is no such banking account resource at the specified account `{id}`, the caller does not have access to that account, or that account is not eligible, or there are duplicate items. The response body contains details about the request error.\n\nThis error response may have one of the following `type` values:\n* [`https://production.api.apiture.com/errors/invalidAccountId/v0.2.0`](https://production.api.apiture.com/errors/invalidAccountId/v0.2.0)<br>\n  The named `accountId` does not exist or the user is not entitled to access the account.\n  Remediation: Pass the `id` of an existing account the caller has access to.\n\n* [`https://production.api.apiture.com/errors/tooManyOverdraftAccounts/v1.0.0`](https://production.api.apiture.com/errors/tooManyOverdraftAccounts/v1.0.0)<br>\n  The `items` in the request contains more than `maximumOverdraftAccounts` items.\n  Remediation: Specify at most `maximumOverdraftAccounts` items in the request.\n\n* [`https://production.api.apiture.com/errors/overdraftAccountNotEligible/v1.0.0`](https://production.api.apiture.com/errors/overdraftAccountNotEligible/v1.0.0)<br>\n  The named account is not eligible as an overdraft protection account.\n  Remediation: Use an account from the `listEligibleOverdraftAccounts` response for the protected account.\n\n* [`https://production.api.apiture.com/errors/duplicateOverdraftAccounts/v1.0.0`](https://production.api.apiture.com/errors/duplicateOverdraftAccounts/v1.0.0)<br>\n  The `items` in the request list the same account `id` more than once.\n  Remediation: Use eligible unique accounts only.\n",
              "x-apiture-errors": [
                "invalidAccountId",
                "tooManyOverdraftAccounts",
                "overdraftAccountNotEligible",
                "duplicateOverdraftAccounts"
              ],
              "content": {
                "application/problem+json": {
                  "schema": {
                    "$ref": "#/components/schemas/problemResponse"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/problemResponse"
                  }
                }
              }
            }
          },
          "security": [
            {
              "accessToken": [
                "banking/write"
              ]
            }
          ],
          "x-apiture-permission": "patchOverdraftAccounts"
        }
      },
      "/accounts/{accountId}/jointOwnerInvitations": {
        "parameters": [
          {
            "$ref": "#/components/parameters/accountIdPathParam"
          }
        ],
        "post": {
          "summary": "Invite a joint owner",
          "description": "Create and send an invitation to another person to become a joint owner of the account. The invitation will be sent to the invitee's email address. The invitation directs the invitee to a web page to verify and accept the invitation, and if necessary, enroll in digital banking.\n\nThe authenticated user must have the `account.allows.manageJointOwners` permission to use this operation.",
          "x-fern-sdk-method-name": "createJointOwnerInvitation",
          "x-apiture-api": "bankingAccounts",
          "x-fern-sdk-group-name": "jointOwners",
          "tags": [
            "Account Joint Owners"
          ],
          "requestBody": {
            "required": true,
            "description": "Data necessary to invite a joint owner.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/newJointOwnerInvitation"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK.",
              "headers": {
                "Location": {
                  "description": "The URI of the new invitation resource.",
                  "schema": {
                    "type": "string",
                    "maxLength": 128,
                    "format": "uri-reference"
                  }
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/jointOwnerInvitation"
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/400"
            },
            "401": {
              "$ref": "#/components/responses/401"
            },
            "403": {
              "$ref": "#/components/responses/403"
            },
            "404": {
              "$ref": "#/components/responses/404Account"
            },
            "422": {
              "$ref": "#/components/responses/422"
            }
          },
          "security": [
            {
              "accessToken": [
                "banking/write"
              ]
            }
          ],
          "x-apiture-permission": "createJointOwnerInvitation"
        }
      },
      "/institutionByLocator": {
        "get": {
          "summary": "Look up institution by routing number, IBAN, or SWIFT/BIC code",
          "description": "Look up a financial institution by their country code and either [American Bankers Association routing number](https://www.aba.com/about-us/routing-number), by [International Bank Account Number (IBAN)](https://www.ecbs.org/iban.htm), or by [SWIFT Business Identifier Code (BIC) code](https://www.swift.com/standards/data-standards/bic-business-identifier-code). Optionally, include a list of intermediary institutions that may be necessary to complete international wire transfers.",
          "x-fern-sdk-method-name": "lookUpInstitutionByLocator",
          "x-apiture-api": "bankingInstitutions",
          "x-fern-sdk-group-name": "institutions",
          "tags": [
            "Institutions"
          ],
          "parameters": [
            {
              "name": "locator",
              "description": "The financial institution lookup key (routing number, IBAN, or SWIFT/BIC), as indicated by the `locatorType` query parameter.",
              "required": true,
              "in": "query",
              "schema": {
                "type": "string",
                "maxLength": 36
              }
            },
            {
              "name": "locatorType",
              "description": "Indicates what type of value the `locator` query parameter is.",
              "required": true,
              "in": "query",
              "schema": {
                "$ref": "#/components/schemas/institutionLocatorType"
              }
            },
            {
              "name": "countryCode",
              "description": "The country code in which to search for institutions. For the US, the `locatorType` must be `abaRoutingNumber`. For non-US countries, the `locatorType` must be `swiftBicCode` or `ibanAccountNumber`.",
              "in": "query",
              "required": true,
              "schema": {
                "type": "string",
                "minLength": 2,
                "maxLength": 2,
                "description": "The [ISO-3611 alpha-2](https://www.iso.org/glossary-for-iso-3166.html) value for the country associated with the financial institution.",
                "examples": [
                  "US",
                  "CA"
                ]
              }
            },
            {
              "name": "includeIntermediaryInstitutions",
              "description": "If looking up a beneficiary institution for a wire transfer beneficiary institution, request the response also include a list of intermediary institutions.",
              "in": "query",
              "schema": {
                "type": "boolean"
              }
            }
          ],
          "security": [
            {
              "accessToken": [
                "data/read"
              ]
            }
          ],
          "responses": {
            "200": {
              "description": "OK.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/institutionLookupResult"
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/400"
            },
            "401": {
              "$ref": "#/components/responses/401"
            },
            "403": {
              "$ref": "#/components/responses/403"
            },
            "422": {
              "description": "Unprocessable Entity. The request body and/or query parameters were well formed but otherwise invalid.\n\nThis error response may have one of the following `type` values:\n* [`https://production.api.apiture.com/errors/invalidLocator/v1.0.0`](https://production.api.apiture.com/errors/invalidLocator/v1.0.0)<br>\n  The `locator` value is invalid for the given `locatorType`.\n  Remediation: Pass a valid ABA routing number, IBAN number, or SWIFT/BIC code, as per the given `locatorType`.\n",
              "x-apiture-errors": [
                "invalidLocator"
              ],
              "content": {
                "application/problem+json": {
                  "schema": {
                    "$ref": "#/components/schemas/problemResponse"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/problemResponse"
                  }
                }
              }
            }
          },
          "x-apiture-permission": "lookUpInstitutionByLocator"
        }
      },
      "/institutions/{institutionId}/transferSchedule": {
        "get": {
          "summary": "Return this institution's list of upcoming transfer schedule dates",
          "description": "Return a transfer schedule list for this institution.",
          "x-fern-sdk-method-name": "listTransferSchedule",
          "x-apiture-api": "bankingInstitutions",
          "x-fern-sdk-group-name": "institutions",
          "tags": [
            "Schedules"
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/institutionIdPathParam"
            },
            {
              "name": "startsOn",
              "in": "query",
              "description": "The date to use to begin calculations of the transfer schedule in `YYYY-MM-DD` [RFC 3339](https://tools.ietf.org/html/rfc3339) date format.",
              "required": true,
              "schema": {
                "type": "string",
                "format": "date",
                "example": "2022-07-04"
              }
            },
            {
              "name": "endsOn",
              "in": "query",
              "description": "The date to use to conclude calculations of the transfer schedule in `YYYY-MM-DD` [RFC 3339](https://tools.ietf.org/html/rfc3339) date format.",
              "required": false,
              "schema": {
                "type": "string",
                "format": "date",
                "example": "2022-07-04"
              }
            },
            {
              "name": "direction",
              "in": "query",
              "description": "The direction of the transfer from the institution to the customer used for adjusting transfer dates due to banking holidays. For `debit`, dates are adjusted to the next business day. For `credit`, dates are adjusted to the previous business day.",
              "required": true,
              "schema": {
                "$ref": "#/components/schemas/transferScheduleDirection"
              }
            },
            {
              "name": "count",
              "in": "query",
              "description": "The maximum amount of dates to calculate and include in the response. If an end date is provided, the total count may be lower than the requested count.",
              "required": false,
              "schema": {
                "type": "integer",
                "format": "int32",
                "minimum": 1,
                "maximum": 12,
                "default": 6
              }
            },
            {
              "name": "frequency",
              "in": "query",
              "description": "The interval at which the money movement recurs.",
              "required": true,
              "schema": {
                "$ref": "#/components/schemas/transferFrequency"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/transferSchedules"
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/400"
            },
            "401": {
              "$ref": "#/components/responses/401"
            },
            "403": {
              "$ref": "#/components/responses/403"
            },
            "404": {
              "$ref": "#/components/responses/404"
            },
            "422": {
              "description": "Unprocessable Entity. The request body and/or query parameters were well formed but otherwise invalid.",
              "content": {
                "application/problem+json": {
                  "schema": {
                    "$ref": "#/components/schemas/problemResponse"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/problemResponse"
                  }
                }
              }
            }
          },
          "security": [
            {
              "accessToken": [
                "data/read"
              ]
            }
          ],
          "x-apiture-permission": "listTransferSchedule"
        }
      },
      "/institutions/{institutionId}/cutoffTimes": {
        "get": {
          "summary": "Return the financial institution's cutoff times for products",
          "description": "Return daily cutoff times for different money movement processes at a financial institution. Money movement requests (account to account transfers, ACH, wire transfers, etc.) must be submitted before the cutoff time in order for the financial institution to begin processing the request that day. Some [cutoff time types](#schema-cutoffTimeType) may have multiple cutoff times per day.\n\nCutoff times are very slowly changing data. This is a _conditional operation_ when the `If-None-Match` header is used. If the client has a `getCutoffTimes` response and the `ETag` returned from a previous call to this operation, this operation returns a 304 Not Modified when called again if the cutoff times have not changed.",
          "x-fern-sdk-method-name": "getCutoffTimes",
          "x-apiture-api": "bankingInstitutions",
          "x-fern-sdk-group-name": "institutions",
          "tags": [
            "Schedules"
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/institutionIdPathParam"
            },
            {
              "name": "timeZoneId",
              "description": "Identifies the time zone for formatting time values in the response. If omitted, time values are formatting in the local timezone of the financial institution.",
              "in": "query",
              "required": false,
              "schema": {
                "$ref": "#/components/schemas/timeZoneId"
              }
            },
            {
              "$ref": "#/components/parameters/ifNoneMatchHeaderParam"
            }
          ],
          "responses": {
            "200": {
              "description": "OK.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/cutoffTimes"
                  }
                }
              },
              "headers": {
                "ETag": {
                  "$ref": "#/components/headers/ETag"
                }
              }
            },
            "304": {
              "$ref": "#/components/responses/304"
            },
            "400": {
              "$ref": "#/components/responses/400"
            },
            "401": {
              "$ref": "#/components/responses/401"
            },
            "403": {
              "$ref": "#/components/responses/403"
            },
            "404": {
              "$ref": "#/components/responses/404"
            },
            "412": {
              "$ref": "#/components/responses/412"
            },
            "422": {
              "description": "Unprocessable Entity. The request body and/or query parameters were well formed but otherwise invalid.",
              "content": {
                "application/problem+json": {
                  "schema": {
                    "$ref": "#/components/schemas/problemResponse"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/problemResponse"
                  }
                }
              }
            }
          },
          "security": [
            {
              "accessToken": [
                "data/read"
              ]
            }
          ],
          "x-apiture-permission": "getCutoffTimes"
        }
      },
      "/institutions/{institutionId}/transferDateRestrictions": {
        "get": {
          "summary": "Return the financial institution's transfer dates restrictions",
          "description": "Return the transfer date restrictions for a date range and transfer parameters. The result is a list of days and dates that the financial institution does not allow scheduling specific types of transfers.\n\nThis information provides hints to clients, allowing bank customers to select transfer dates from a calendar picker. However, these dates are not strictly enforced; a transfer can still be scheduled to occur on restricted dates but the financial institution may shift the date when funds are drafted to account for holidays, closures, or to adjust based on the risk level of the funding account.",
          "x-fern-sdk-method-name": "getTransferDateRestrictions",
          "x-apiture-api": "bankingInstitutions",
          "x-fern-sdk-group-name": "institutions",
          "tags": [
            "Schedules"
          ],
          "security": [
            {
              "apiKey": []
            }
          ],
          "x-apiture-implemented": true,
          "parameters": [
            {
              "$ref": "#/components/parameters/institutionIdPathParam"
            },
            {
              "name": "startsOn",
              "in": "query",
              "description": "The start of the range of dates to include in the response, in `YYYY-MM-DD` [RFC 3339](https://tools.ietf.org/html/rfc3339) date format. While start dates far in the future are allowed, bank holiday schedules are only available for a small number of years ahead. The default is the current date.",
              "schema": {
                "type": "string",
                "format": "date",
                "example": "2022-07-04"
              }
            },
            {
              "name": "endsOn",
              "in": "query",
              "description": "The end of the range of dates to include in the response. in `YYYY-MM-DD` [RFC 3339](https://tools.ietf.org/html/rfc3339) date format. The default is at least one year from the `startOn` date and is limited to a four year interval.",
              "required": false,
              "schema": {
                "type": "string",
                "format": "date",
                "example": "2022-07-04"
              }
            },
            {
              "name": "type",
              "in": "query",
              "description": "Describes the type of transfer. This determines what business rules and adjustments to make to the date restrictions. Note ACH transfers (including CTX and PPD), that `Credit` and `Debit` here are relative to the account at the _external_ financial institution.",
              "schema": {
                "$ref": "#/components/schemas/transferTypeForDateRestrictions"
              }
            },
            {
              "name": "risk",
              "in": "query",
              "description": "The primary account's risk level. This determines what business rules and adjustments to make to the date restrictions. This parameter only applies to ACH credit transfers (funds credited to an external account) and is ignored for others.",
              "schema": {
                "$ref": "#/components/schemas/achAccountRisk"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/transferDateRestrictions"
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/400"
            },
            "401": {
              "$ref": "#/components/responses/401"
            },
            "403": {
              "$ref": "#/components/responses/403"
            },
            "404": {
              "$ref": "#/components/responses/404"
            },
            "422": {
              "description": "Unprocessable Entity. The request body and/or query parameters were well-formed but otherwise invalid.\n\nThis error response may have one of the following `type` values:\n* [`https://production.api.apiture.com/errors/invalidRestrictionDateRange/v1.0.0`](https://production.api.apiture.com/errors/invalidRestrictionDateRange/v1.0.0)<br>\n  The `startOn` date should be the current day or later, and the `endOn` date must fall after the `startOn` date.\n  Remediation: Pass valid values for `startOn` and `endOn`.\n\n* [`https://production.api.apiture.com/errors/restrictionDateRangeTooLarge/v1.0.0`](https://production.api.apiture.com/errors/restrictionDateRangeTooLarge/v1.0.0)<br>\n  The `endOn` is limited to four years after the `startOn` date.\n  Remediation: Limit the `endOn` date to no more than four years after the `startOn` date.\n",
              "x-apiture-errors": [
                "invalidRestrictionDateRange",
                "restrictionDateRangeTooLarge"
              ],
              "content": {
                "application/problem+json": {
                  "schema": {
                    "$ref": "#/components/schemas/problemResponse"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/problemResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/accounts/{accountId}/transactions": {
        "parameters": [
          {
            "$ref": "#/components/parameters/accountIdPathParam"
          }
        ],
        "get": {
          "summary": "Return a collection of transactions",
          "description": "Return a [paginated](https://dx.apiture.com/docs/api-documentation/concepts/pagination) collection of transaction history for this internal account. The [`nextPage_url`](https://dx.apiture.com/docs/api-documentation/concepts/links) link in the response, if present, is a pagination link to the next page of transactions for the given filters.\n\nThis operation returns a 403 Forbidden error if the customer does not have `view` permissions in the `account.allows` object, or a 422 Unprocessable Entity if called on an external account.\n\nThe default response lists only recent transactions. Normally, this is transactions for the most recent 30 days, although for high-volume accounts, it may be a shorter period.",
          "x-fern-sdk-method-name": "listTransactions",
          "x-apiture-api": "bankingTransactions",
          "x-fern-sdk-group-name": "transactions",
          "tags": [
            "Transactions"
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/startQueryParam"
            },
            {
              "name": "limit",
              "in": "query",
              "description": "The maximum number of items to return in this paged response.",
              "schema": {
                "type": "integer",
                "format": "int32",
                "minimum": 0,
                "maximum": 10000,
                "default": 100
              }
            },
            {
              "name": "occurredOn",
              "description": "Return only transactions whose `occurredOn` date is in this date range. Dates ranges use dates expressed in `YYYY-MM-DD` [RFC 3339](https://tools.ietf.org/html/rfc3339) `date` format. Each account has an implicit default transaction history range of _n_ days. This is normally 30 days but may be shorter for accounts with high activity. This _n_ day period is applied to any unbounded date ranges. The default date range is the most recent _n_ days. Example date ranges: <ul> <li> `2023-05-19` match transactions occurring on May 19, 2023.</li> <li> `[2023-05-01,2023-05-31]` match transactions occurring between May 1 and 31, 2023, inclusive</li> <li> `[2023-05-01,2023-06-01)` match transactions occurring in May, 2023 (on or after May 1, but before June 1)</li> <li> `[2023-05-09,]` match transactions _n_ days on or after May 9, 2023</li> <li> `(2023-05-09,)` match transactions _n_ days after May 9, 2023</li> <li> `[,2023-05-09]` match transactions _n_ days on or before May 9, 2023</li> <li> `(,2023-05-09)` match transactions _n_ days before but excluding May 9, 2023</li> </ul>",
              "in": "query",
              "schema": {
                "type": "string",
                "pattern": "^\\d{4}-\\d{2}-\\d{2}|([[(](\\d{4}-\\d{2}-\\d{2},(\\d{4}-\\d{2}-\\d{2})?|,\\d{4}-\\d{2}-\\d{2})[)\\]])$",
                "examples": [
                  "2023-05-19",
                  "[2023-05-01,2023-05-31]",
                  "[2023-05-01,2023-06-01)",
                  "[2023-05-19,]",
                  "(2023-05-19,)",
                  "[,2023-05-19]",
                  "(,2023-05-19)"
                ]
              }
            },
            {
              "name": "posted",
              "description": "Limit transactions in the response based on the transaction's `posted` value. If `true`, include only posted transactions. If `false`, include only non-posted transactions. If omitted, do not filter based on `posted`. Note that using this filter excludes balance transactions because the `posted` property is not set on balance transactions, so neither `true` or `false` match them.",
              "in": "query",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "createdOn",
              "description": "Return only transactions whose `createdOn` date is in this date range. Example date ranges are the same format as the `occurredOn` query parameter.<br>**Warning**: The parameter `createdOn` was deprecated on version `v0.6.0` of the API. Use the `?occurredOn=` query parameter instead. `createdOn` will be removed on version `v0.9.0` of the API.",
              "x-apiture-deprecated": {
                "since": "0.6.0",
                "removeOn": "0.9.0",
                "replacement": "the `?occurredOn=` query parameter"
              },
              "in": "query",
              "schema": {
                "$ref": "#/components/schemas/dateRange"
              },
              "deprecated": true
            },
            {
              "name": "postedOn",
              "description": "Return only transactions whose `postedOn` date is in this date range. Example date ranges are the same format as the `occurredOn` query parameter.<br>**Warning**: The parameter `postedOn` was deprecated on version `v0.6.0` of the API. Use the `?occurredOn=` query parameter instead. `postedOn` will be removed on version `v0.9.0` of the API.",
              "x-apiture-deprecated": {
                "since": "0.6.0",
                "removeOn": "0.9.0",
                "replacement": "the `?occurredOn=` query parameter"
              },
              "in": "query",
              "schema": {
                "$ref": "#/components/schemas/dateRange"
              },
              "deprecated": true
            },
            {
              "name": "category",
              "description": "Filter transactions to only those whose `category` is in this pipe-separated list. Categories are set by a transaction cleansing service or assigned by the account holder. Categories can include names such as `\"Shopping\"`, `\"Deposit\"`, `\"Bill\"`, `\"Transfer\"`, or `\"Other\"`.",
              "in": "query",
              "style": "pipeDelimited",
              "explode": false,
              "schema": {
                "type": "array",
                "minItems": 1,
                "maxItems": 16,
                "uniqueItems": true,
                "example": [
                  "Bill",
                  "Transfer"
                ],
                "items": {
                  "$ref": "#/components/schemas/transactionCategoryLabel"
                }
              }
            },
            {
              "name": "type",
              "description": "Filter transactions to only those whose `type` is in this pipe-separated list.",
              "in": "query",
              "style": "pipeDelimited",
              "explode": false,
              "schema": {
                "type": "array",
                "minItems": 1,
                "maxItems": 3,
                "uniqueItems": true,
                "items": {
                  "$ref": "#/components/schemas/transactionType"
                }
              }
            },
            {
              "name": "subtype",
              "description": "Filter transactions to only those whose `subtype` is in this pipe-separated list.",
              "in": "query",
              "style": "pipeDelimited",
              "explode": false,
              "schema": {
                "type": "array",
                "minItems": 1,
                "maxItems": 2,
                "uniqueItems": true,
                "items": {
                  "$ref": "#/components/schemas/transactionSubType"
                }
              }
            },
            {
              "name": "amount",
              "description": "Return only transactions whose `amount` is in this numeric range. This compares only the absolute value of the transaction. That is, the value `[1000.00,1100.00)` matches either a debit of `-1070.25` or a credit of `1021.90`.<br> Some examples of specifying an amount range: <ul> <li>`1200.50` match the dollar amount 1,200.50 exactly</li> <li>`[1000.00,1200.00)` matches items where `1000.00 <= amount < 1200.00`</li> <li>`[1000.00,1199.99]` matches items where `1000.00 <= amount <= 1199.99`</li> <li>`(999.99,1200.00]` matches items where `999.99 < amount <= 1200.00`</li> <li>`[1200.50,]` matches items where `amount >= 1200.50`</li> <li>`(1200.50,)` matches items where `amount > 1200.50`</li> <li>`[,1200.50]` matches items where `amount <= 1200.50`</li> <li>`(,1200.50)` matches items where `amount < 1200.50`</li> </ul>",
              "in": "query",
              "schema": {
                "$ref": "#/components/schemas/amountRange"
              }
            },
            {
              "name": "checkNumber",
              "description": "Return only transactions whose `check.number` is in this integer range. Examples: <ul> <li>`1200` match the integer 1,200 exactly</li> <li>`[1000,1200)` matches items where `1000 <= number < 1200`</li> <li>`[1000,1199]` matches items where `1000 <= number <= 1199`</li> <li>`(999,1200]` matches items where `999 < number <= 1200`</li> <li>`[1200,]` matches items where `number >= 1200`</li> <li>`(1200,)` matches items where `number > 1200`</li> <li>`[,1200]` matches items where `number <= 1200`</li> <li>`(,1200)` matches items where `number < 1200`</li> </ul>",
              "in": "query",
              "schema": {
                "$ref": "#/components/schemas/checkNumberRange"
              }
            },
            {
              "name": "retryCount",
              "description": "When retrying the operation, pass the `retryCount` from the `incompleteTransactions` response.",
              "in": "query",
              "schema": {
                "type": "integer",
                "minimum": 1,
                "maximum": 10
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/transactions"
                  }
                }
              }
            },
            "202": {
              "description": "Accepted. The service accepted the request but could not list the transactions for the date range in a reasonable amount of time. The system continues fetching the transactions so that they are available after one or more retries. Try the call again after the time in the `Retry-After` response header has passed, passing the value of the `retryCount` from the [`incompleteTransactions`](#schema-incompleteTransactions) response as `retryCount` query parameter with. If there is no `Retry-After` response header, the client has reached its maximum number of tries and should not retry the operation. If the system is unable to fetch the transactions after several attempts, the call returns 504 Gateway Timeout.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/incompleteTransactions"
                  }
                }
              },
              "headers": {
                "Retry-After": {
                  "$ref": "#/components/headers/Retry-After"
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/400"
            },
            "401": {
              "$ref": "#/components/responses/401"
            },
            "403": {
              "$ref": "#/components/responses/403"
            },
            "404": {
              "description": "Not Found. There is no such banking account resource at the specified `{accountId}` or the customer does not have entitlement to that account.",
              "content": {
                "application/problem+json": {
                  "schema": {
                    "$ref": "#/components/schemas/problemResponse"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/problemResponse"
                  }
                }
              }
            },
            "422": {
              "description": "Unprocessable Entity. The request body and/or query parameters were well formed but otherwise invalid.\n\nThis error response may have one of the following `type` values:\n* [`https://production.api.apiture.com/errors/transactionsForInternalAccountOnly/v1.0.0`](https://production.api.apiture.com/errors/transactionsForInternalAccountOnly/v1.0.0)<br>\n  Transactions are not available for external accounts.\n  Remediation: Request transactions only for internal accounts.\n",
              "x-apiture-errors": [
                "transactionsForInternalAccountOnly"
              ],
              "content": {
                "application/problem+json": {
                  "schema": {
                    "$ref": "#/components/schemas/problemResponse"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/problemResponse"
                  }
                }
              }
            },
            "429": {
              "$ref": "#/components/responses/429"
            },
            "504": {
              "$ref": "#/components/responses/504"
            }
          },
          "security": [
            {
              "accessToken": [
                "banking/read"
              ]
            }
          ],
          "x-apiture-permission": "listTransactions"
        }
      },
      "/transactionCategories": {
        "get": {
          "summary": "Return a collection of transaction categories",
          "description": "Return a collection of transaction categories. The response is limited to 1,000 categories.\n\nThis is a _conditional operation_ when the `If-None-Match` header is used. If the client has a `transactionCategories` response and the `ETag` returned from a previous call, this operation returns a 304 Not Modified if called again when the categories collection has not changed.",
          "x-fern-sdk-method-name": "listTransactionCategories",
          "x-apiture-api": "bankingTransactions",
          "x-fern-sdk-group-name": "transactionCategories",
          "tags": [
            "Transaction Categories"
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/ifNoneMatchHeaderParam"
            }
          ],
          "responses": {
            "200": {
              "description": "OK.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/transactionCategories"
                  }
                }
              },
              "headers": {
                "ETag": {
                  "$ref": "#/components/headers/ETag"
                }
              }
            },
            "304": {
              "$ref": "#/components/responses/304"
            },
            "400": {
              "$ref": "#/components/responses/400"
            },
            "401": {
              "$ref": "#/components/responses/401"
            },
            "403": {
              "$ref": "#/components/responses/403"
            },
            "422": {
              "description": "Unprocessable Entity. The request body and/or query parameters were well formed but otherwise invalid.",
              "content": {
                "application/problem+json": {
                  "schema": {
                    "$ref": "#/components/schemas/problemResponse"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/problemResponse"
                  }
                }
              }
            }
          },
          "security": [
            {
              "accessToken": [
                "banking/read"
              ]
            }
          ],
          "x-apiture-permission": "listTransactionCategories"
        }
      },
      "/transfers": {
        "get": {
          "summary": "Return a collection of transfers",
          "description": "Return a [paginated](https://dx.apiture.com/docs/api-documentation/concepts/pagination) collection of transfers. The [nextPage_url](https://dx.apiture.com/docs/api-documentation/concepts/links) in the response is a pagination link.",
          "x-fern-sdk-method-name": "listTransfers",
          "x-apiture-api": "bankingTransfers",
          "x-fern-sdk-group-name": "transfers",
          "tags": [
            "Transfers"
          ],
          "parameters": [
            {
              "name": "scheduledOn",
              "in": "query",
              "description": "Return only transactions whose `schedule.scheduledOn` date is in this date range. Excludes any transfers that do not have a `scheduledOn` date. Dates ranges use dates expressed in `YYYY-MM-DD` [RFC 3339](https://tools.ietf.org/html/rfc3339) `date` format. Example date ranges: <ul> <li> `2022-05-19` match only transfers scheduled on May 19, 2022.</li> <li> `[2022-05-01,2022-06-01)` in May, 2022: on or after May 1, but _before_ June 1</li> <li> `(2022-05-01,2022-06-01)` in May, 2022 (on or after May 1, but before June 1)</li> <li> `[2022-05-09,]` on or after May 9, 2022</li> <li> `(2022-05-09,)` after May 9, 2022</li> <li> `[,2022-05-09]` on or before May 9, 2022</li> <li> `(,2022-05-09)` before May 9, 2022</li> </ul>",
              "schema": {
                "$ref": "#/components/schemas/dateRange"
              }
            },
            {
              "name": "debitsOn",
              "in": "query",
              "description": "Return only transactions whose `schedule.debitsOn` date (when the funds are debited from the source account) is in this date range. Excludes any transfers that do not have a `scheduledOn` date. Dates ranges use dates expressed in `YYYY-MM-DD` [RFC 3339](https://tools.ietf.org/html/rfc3339) `date` format. See the `scheduledOn` query parameter for examples.",
              "schema": {
                "$ref": "#/components/schemas/dateRange"
              }
            },
            {
              "name": "creditsOn",
              "in": "query",
              "description": "Return only transactions whose `schedule.creditsOn` (when the funds are credited to  the target account) is in this date range. Excludes any transfers that do not have a `scheduledOn` date. Dates ranges use dates expressed in `YYYY-MM-DD` [RFC 3339](https://tools.ietf.org/html/rfc3339) `date` format. See the `scheduledOn` query parameter for examples.",
              "schema": {
                "$ref": "#/components/schemas/dateRange"
              }
            },
            {
              "name": "historical",
              "in": "query",
              "description": "If `true`, list only historical (`state` is `processed`) transfers. If `false`, list only transfers that have not yet finished processing. If omitted, list all transfers.",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "$ref": "#/components/parameters/startQueryParam"
            },
            {
              "$ref": "#/components/parameters/limitQueryParam"
            }
          ],
          "responses": {
            "200": {
              "description": "OK.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/transfers"
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/400"
            },
            "401": {
              "$ref": "#/components/responses/401"
            },
            "403": {
              "$ref": "#/components/responses/403"
            },
            "422": {
              "description": "Unprocessable Entity. The request body and/or query parameters were well formed but otherwise invalid.",
              "content": {
                "application/problem+json": {
                  "schema": {
                    "$ref": "#/components/schemas/problemResponse"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/problemResponse"
                  }
                }
              }
            }
          },
          "security": [
            {
              "accessToken": [
                "banking/read"
              ]
            }
          ],
          "x-apiture-permission": "listTransfers"
        },
        "post": {
          "summary": "Create a new transfer",
          "description": "Create a new transfer within the transfers collection. If all the necessary properties are set, the transfer is queued for processing. If the request omits the `schedule.scheduledOn` date, the transfer remains pending/unscheduled until the user sets it via the [`patchTransfer`](#op-patchTransfer) operation.\n\nNote: This operation requires an identity challenge if the financial institution requires the user to proove their identity for some types of transfers. See the \"Challenges API\".",
          "x-fern-sdk-method-name": "createTransfer",
          "x-apiture-api": "bankingTransfers",
          "x-fern-sdk-group-name": "transfers",
          "tags": [
            "Transfers"
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/challengeHeaderParam"
            }
          ],
          "requestBody": {
            "required": true,
            "description": "The data necessary to create a new transfer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/newTransfer"
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "Created.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/transfer"
                  }
                }
              },
              "headers": {
                "Location": {
                  "description": "The URI of the new transfer.",
                  "schema": {
                    "type": "string",
                    "format": "uri-reference"
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/400"
            },
            "401": {
              "$ref": "#/components/responses/401"
            },
            "403": {
              "$ref": "#/components/responses/403Transfer"
            },
            "422": {
              "$ref": "#/components/responses/422Transfer"
            }
          },
          "security": [
            {
              "accessToken": [
                "moneyMovement/write"
              ]
            }
          ],
          "x-apiture-permission": "createTransfer"
        }
      },
      "/transfers/{transferId}": {
        "parameters": [
          {
            "$ref": "#/components/parameters/transferIdPathParam"
          }
        ],
        "get": {
          "summary": "Fetch a representation of this transfer",
          "description": "Return the JSON representation of this transfer resource.",
          "x-fern-sdk-method-name": "getTransfer",
          "x-apiture-api": "bankingTransfers",
          "x-fern-sdk-group-name": "transfers",
          "tags": [
            "Transfers"
          ],
          "responses": {
            "200": {
              "description": "OK.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/transfer"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/401"
            },
            "403": {
              "$ref": "#/components/responses/403"
            },
            "404": {
              "$ref": "#/components/responses/404Transfer"
            }
          },
          "security": [
            {
              "accessToken": [
                "banking/read"
              ]
            }
          ],
          "x-apiture-permission": "getTransfer"
        },
        "patch": {
          "summary": "Update this transfer",
          "description": "Perform a partial update of this transfer as per [JSON Merge Patch](https://datatracker.ietf.org/doc/html/rfc7396) format and processing rules. Only fields in the request body are updated on the resource; fields which are omitted are not updated.\n\nNote: This operation requires an identity challenge if the financial institution requires the user to prove their identity for some types of transfers. See the \"Challenges API\".",
          "x-fern-sdk-method-name": "patchTransfer",
          "x-apiture-api": "bankingTransfers",
          "x-fern-sdk-group-name": "transfers",
          "tags": [
            "Transfers"
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/challengeHeaderParam"
            }
          ],
          "requestBody": {
            "required": true,
            "description": "The fields to update within the transfer.",
            "content": {
              "application/merge-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/transferPatch"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/transferPatch"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/transfer"
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/400"
            },
            "401": {
              "$ref": "#/components/responses/401"
            },
            "403": {
              "$ref": "#/components/responses/403Transfer"
            },
            "404": {
              "$ref": "#/components/responses/404Transfer"
            },
            "422": {
              "$ref": "#/components/responses/422Transfer"
            }
          },
          "security": [
            {
              "accessToken": [
                "moneyMovement/write"
              ]
            }
          ],
          "x-apiture-permission": "patchTransfer"
        },
        "delete": {
          "summary": "Delete this transfer resource",
          "description": "Delete this transfer resource and any resources that are owned by it. Only transfers that have not been processed may be deleted.",
          "x-fern-sdk-method-name": "deleteTransfer",
          "x-apiture-api": "bankingTransfers",
          "x-fern-sdk-group-name": "transfers",
          "tags": [
            "Transfers"
          ],
          "responses": {
            "204": {
              "$ref": "#/components/responses/204"
            },
            "401": {
              "$ref": "#/components/responses/401"
            },
            "403": {
              "$ref": "#/components/responses/403"
            },
            "404": {
              "$ref": "#/components/responses/404Transfer"
            },
            "409": {
              "description": "Conflict.\n\nThis error response may have one of the following `type` values:\n* [`https://production.api.apiture.com/errors/cannotDeleteProcessedTransfers/v1.0.0`](https://production.api.apiture.com/errors/cannotDeleteProcessedTransfers/v1.0.0)<br>\n  The delete operation is only allowed for transfers which have not begun processing.\n  Remediation: Select a pending or scheduled transfer.\n",
              "x-apiture-errors": [
                "cannotDeleteProcessedTransfers"
              ],
              "content": {
                "application/problem+json": {
                  "schema": {
                    "$ref": "#/components/schemas/problemResponse"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/problemResponse"
                  }
                }
              }
            }
          },
          "security": [
            {
              "accessToken": [
                "moneyMovement/write"
              ]
            }
          ],
          "x-apiture-permission": "deleteTransfer"
        }
      }
    },
    "components": {
      "schemas": {
        "accountIds": {
          "x-apiture-version": "1.1.0",
          "title": "Account IDs (v1.1.0)",
          "description": "An array of account IDs.",
          "type": "array",
          "minItems": 1,
          "x-apiture-note": "1000 maxItems is tied to 1000 maximum of the ?limit query parameter",
          "maxItems": 1000,
          "uniqueItems": true,
          "items": {
            "$ref": "#/components/schemas/resourceId"
          }
        },
        "accountAllowsFilter": {
          "title": "Account Allows Filter (v1.0.0)",
          "description": "Values for the `?allows=` filter in [`listAccounts`](#op-listAccounts).\n\n<strong><code>accountAllowsFilter</code></strong> strings may have one of the following\n[enumerated values](https://dx.apiture.com/docs/api-documentation/concepts/label-groups#enumerations):\n\n<table>\n<tr>\n  <th>Value</th><th>Description</th>\n</tr>\n\n<tr>\n    <td><strong><code>billPay</code></strong></td><td>Bill Pay: <p>Include each account where the caller is allowed to use the bill pay feature.</p>\n</td>\n    </tr>\n<tr>\n    <td><strong><code>transferFrom</code></strong></td><td>Transfer From: <p>Include each account where the caller is allowed to transfer money from the account.</p>\n</td>\n    </tr>\n<tr>\n    <td><strong><code>transferTo</code></strong></td><td>Transfer To: <p>Include each account where the caller is allowed to transfer money into the account.</p>\n</td>\n    </tr>\n<tr>\n    <td><strong><code>mobileCheckDeposit</code></strong></td><td>Mobile Check Deposit: <p>Include each account where the caller is allowed to deposit mobile checks.</p>\n</td>\n    </tr>\n<tr>\n    <td><strong><code>view</code></strong></td><td>View: <p>Include each account where the caller is allowed to view full account details (balances, full account number, transactions, etc).</p>\n</td>\n    </tr>\n<tr>\n    <td><strong><code>viewCards</code></strong></td><td>View Cards: <p>Include each account where the caller is allowed to view debit card details.</p>\n</td>\n    </tr>\n<tr>\n    <td><strong><code>manageCards</code></strong></td><td>Manage Cards: <p>Include each account where the caller is allowed to manage debit card details.</p>\n</td>\n    </tr>\n</table>\n\n",
          "type": "string",
          "x-apiture-enum": "accountAllowsFilter",
          "enum": [
            "billPay",
            "transferFrom",
            "transferTo",
            "mobileCheckDeposit",
            "view",
            "viewCards",
            "manageCards"
          ],
          "x-apiture-version": "1.0.0"
        },
        "accountPermissions": {
          "title": "Account Permissions (v0.3.0)",
          "description": "Flags which indicate the permissions the current authorized user has on this account item resource. Most of these properties may only be `true` for internal accounts. These permissions are available in account items in the [`accounts`](#schema-accounts) list. See [`fullAccountPermissions`](#schema-fullAccountPermissions) for all capabilities a customer has on an account (the `account.allows` object in the [`account`](#schema-account) object response from [`getAccount`](#op-getAccount).)",
          "x-apiture-version": "0.3.0",
          "type": "object",
          "required": [
            "billPay",
            "mobileCheckDeposit",
            "transferTo",
            "transferFrom",
            "view",
            "viewCards",
            "manageCards"
          ],
          "properties": {
            "billPay": {
              "description": "If `true`, the customer may use this account for Bill Pay.",
              "type": "boolean"
            },
            "mobileCheckDeposit": {
              "description": "If `true`, the customer may use this account for mobile check deposits.",
              "type": "boolean"
            },
            "transferFrom": {
              "description": "If `true`, the customer may use this account as the target (deposit) account for account-to-account transfers.",
              "type": "boolean"
            },
            "transferTo": {
              "description": "If `true`, the customer may use this account as the source (debit) account for account-to-account transfers.",
              "type": "boolean"
            },
            "view": {
              "description": "If `true`, the customer may view the details of this account, including the account balance and transactions.",
              "type": "boolean"
            },
            "viewCards": {
              "description": "If `true`, the customer may view debit cards associated with this account.",
              "type": "boolean"
            },
            "manageCards": {
              "description": "If true, the customer may manage debit cards associated with this account. This includes locking and unlocking cards, changing card controls, ordering cards, or canceling cards.",
              "type": "boolean"
            }
          },
          "examples": [
            {
              "billPay": false,
              "mobileCheckDeposit": true,
              "transferFrom": true,
              "transferTo": true,
              "view": true,
              "viewCards": true,
              "manageCards": false
            }
          ]
        },
        "fullAccountPermissions": {
          "title": "Full Account Permissions (v1.0.0)",
          "description": "Flags which indicate the permissions the current authorized user has on this account resource. Most of these properties may only be `true` for internal accounts. These permissions are available in [`account`](#schema-account) response from the [`getAccount`](#op-getAccount) operation. See [`accountPermissions`](#schema-accountPermissions) for the subset of permission in `account.allows` flags in the [`listAccounts`](#op-listAccounts) response.",
          "type": "object",
          "allOf": [
            {
              "$ref": "#/components/schemas/accountPermissions"
            },
            {
              "type": "object",
              "required": [
                "manageJointOwners",
                "manageOverdraftAccounts"
              ],
              "properties": {
                "manageJointOwners": {
                  "description": "If `true`, the customer can list the other joint owners on the account and invite new joint owners.",
                  "type": "boolean"
                },
                "manageOverdraftAccounts": {
                  "description": "If `true`, the customer can list and manage overdraft account settings.",
                  "type": "boolean"
                }
              }
            }
          ],
          "x-apiture-version": "1.0.0"
        },
        "account": {
          "title": "Account (v2.0.1)",
          "x-apiture-version": "2.0.1",
          "description": "An internal customer account.",
          "type": "object",
          "allOf": [
            {
              "$ref": "#/components/schemas/abstractBody"
            },
            {
              "$ref": "#/components/schemas/accountFields"
            },
            {
              "type": "object",
              "required": [
                "allows",
                "electronicStatements"
              ],
              "properties": {
                "allows": {
                  "description": "Flags which indicate the permissions the current authorized user has on this account resource.",
                  "readOnly": true,
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/fullAccountPermissions"
                    }
                  ]
                },
                "electronicStatements": {
                  "description": "If `true`, the customer has opted in to receive account statements electronically.",
                  "type": "boolean"
                }
              }
            }
          ],
          "examples": [
            {
              "id": "bf23bc970b78d27691e8",
              "nickname": "Payroll Checking",
              "label": "Payroll Checking *1008",
              "maskedNumber": "*1008",
              "product": {
                "type": "checking",
                "code": "DDA",
                "label": "Business Checking",
                "description": "Business checking account"
              },
              "location": "internal",
              "allows": {
                "transferFrom": false,
                "transferTo": true,
                "billPay": false,
                "mobileCheckDeposit": true,
                "view": true,
                "viewCards": true,
                "manageCards": false,
                "manageJointOwners": true
              },
              "electronicStatements": true
            }
          ]
        },
        "overdraftAccountFields": {
          "title": "Overdraft Account Fields (v1.0.0)",
          "description": "Fields of an overdraft protection account, used to compose other schemas.",
          "x-apiture-fragment": true,
          "type": "object",
          "properties": {
            "id": {
              "description": "The unique ID of the account resource. Use this as the `{accountId}` in [`getAccount`](#op-getAccount) or [`listAccountBalances`](#op-listAccountBalances).",
              "$ref": "#/components/schemas/resourceId"
            },
            "label": {
              "description": "The human-readable label for this account. This is either the `nickname` (if assigned for the current customer), or the `product.label` concatenated with the `maskedNumber`.",
              "type": "string",
              "maxLength": 80,
              "example": "Checking *1008",
              "readOnly": true
            },
            "maskedNumber": {
              "$ref": "#/components/schemas/maskedAccountNumber"
            }
          },
          "example": {
            "id": "5c9b4e50a0401ef4eb2e",
            "label": "Premiere Savings *1234",
            "maskedNumber": "*1234"
          },
          "x-apiture-version": "1.0.0"
        },
        "eligibleOverdraftAccountItem": {
          "title": "Eligible Overdraft Account (v1.0.0)",
          "description": "An account that is eligible to be assigned as an overdraft protection account for another account.",
          "type": "object",
          "required": [
            "id",
            "label",
            "maskedNumber"
          ],
          "allOf": [
            {
              "$ref": "#/components/schemas/overdraftAccountFields"
            }
          ],
          "example": {
            "id": "5c9b4e50a0401ef4eb2e",
            "label": "Premiere Savings *1234",
            "maskedNumber": "*1234"
          },
          "x-apiture-version": "1.0.0"
        },
        "eligibleOverdraftAccounts": {
          "title": "Eligible Overdraft Accounts (v1.0.0)",
          "description": "A page of zero or more accounts that are eligible to be assigned as an overdraft protection account for another account.",
          "type": "object",
          "allOf": [
            {
              "$ref": "#/components/schemas/abstractPagedBody"
            },
            {
              "type": "object",
              "required": [
                "items",
                "maximumOverdraftAccounts"
              ],
              "properties": {
                "items": {
                  "description": "The items in this page of accounts.",
                  "maxItems": 1000,
                  "uniqueItems": true,
                  "items": {
                    "$ref": "#/components/schemas/eligibleOverdraftAccountItem"
                  }
                },
                "maximumOverdraftAccounts": {
                  "description": "The maximum number of overdraft protection accounts that may be linked to the account.",
                  "type": "integer",
                  "format": "int32",
                  "readOnly": true,
                  "maximum": 4
                },
                "nextPage_url": {
                  "description": "The URL of the next page of eligible accounts. If this URL is omitted, there are no more accounts.",
                  "x-apiture-operations": [
                    {
                      "x-fern-sdk-method-name": "getAccount"
                    }
                  ],
                  "readOnly": true,
                  "maxLength": 256,
                  "type": "string",
                  "format": "uri-reference",
                  "example": "https://production.api.apiture.com/banking/accounts/bf23bc970b78d27691e8/eligibleOverdraftAccounts?start=74f96e77c3aafcb9fe85?limit=100"
                }
              }
            }
          ],
          "example": {
            "items": [
              {
                "id": "da1331a9e9168ea91346",
                "label": "Checking *3456",
                "maskedNumber": "*3456"
              },
              {
                "id": "5c9b4e50a0401ef4eb2e",
                "label": "Premiere Savings *1234",
                "maskedNumber": "*1234"
              }
            ],
            "maximumOverdraftAccounts": 1,
            "limit": 100,
            "nextPage_url": "https://production.api.apiture.com/banking/accounts/f204d292df9fb/eligibleOverdraftAccounts?start=641f62296ecbf1882c84?limit=100"
          },
          "x-apiture-version": "1.0.0"
        },
        "overdraftAccountItem": {
          "title": "Overdraft Account Items (v1.0.0)",
          "description": "An overdraft protection account linked to another protected account. The `label` and `maskedNumber` are informational only.",
          "required": [
            "id"
          ],
          "type": "object",
          "allOf": [
            {
              "$ref": "#/components/schemas/overdraftAccountFields"
            }
          ],
          "x-apiture-version": "1.0.0"
        },
        "overdraftProtectionFields": {
          "title": "Overdraft Protection Fields (v1.0.0)",
          "description": "Fields used to compose other overdraft protection schemas.",
          "x-apiture-fragment": true,
          "type": "object",
          "properties": {
            "accounts": {
              "description": "The ordered list of accounts assigned as overdraft protection accounts. This array is limited to no more than `maximumOverdraftAccounts` accounts.",
              "maxItems": 4,
              "uniqueItems": true,
              "items": {
                "$ref": "#/components/schemas/overdraftAccountItem"
              }
            }
          },
          "x-apiture-version": "1.0.0"
        },
        "overdraftProtection": {
          "title": "Overdraft Protection Settings (v1.0.0)",
          "description": "Representation of the overdraft protection settings, consisting of a list of overdraft protection accounts linked to the account identified by the `{accountId}`.",
          "allOf": [
            {
              "$ref": "#/components/schemas/abstractBody"
            },
            {
              "$ref": "#/components/schemas/overdraftProtectionFields"
            },
            {
              "type": "object",
              "required": [
                "accounts",
                "maximumOverdraftAccounts"
              ],
              "properties": {
                "maximumOverdraftAccounts": {
                  "description": "The maximum number of overdraft protection accounts that may be linked to the account.",
                  "type": "integer",
                  "format": "int32",
                  "readOnly": true,
                  "maximum": 4
                }
              }
            }
          ],
          "example": {
            "maximumOverdraftAccounts": 1,
            "items": [
              {
                "id": "da1331a9e9168ea91346",
                "label": "Checking *3456",
                "maskedNumber": "*3456"
              },
              {
                "id": "5c9b4e50a0401ef4eb2e",
                "label": "Premiere Savings *1234",
                "maskedNumber": "*1234"
              }
            ]
          },
          "x-apiture-version": "1.0.0"
        },
        "overdraftProtectionPatch": {
          "title": "Overdraft Protection Patch (v1.0.0)",
          "description": "Representation of request used to patch the overdraft protection settings consisting of a list of overdraft protection accounts linked to the account identified by the `{accountId}`.",
          "allOf": [
            {
              "$ref": "#/components/schemas/abstractBody"
            },
            {
              "$ref": "#/components/schemas/overdraftProtectionFields"
            }
          ],
          "example": {
            "items": [
              {
                "id": "da1331a9e9168ea91346",
                "label": "Checking *3456",
                "maskedNumber": "*3456"
              },
              {
                "id": "5c9b4e50a0401ef4eb2e",
                "label": "Premiere Savings *1234",
                "maskedNumber": "*1234"
              }
            ]
          },
          "x-apiture-version": "1.0.0"
        },
        "accounts": {
          "title": "Accounts (v2.0.1)",
          "x-apiture-version": "2.0.1",
          "description": "A paginated list of the customer's accounts. This list contains internal banking accounts and external banking accounts. and outside fund accounts. The `location` property indicates where the account is held. Items in the list contain `url` links to the actual account resource which are in the `accounts`, `externalAccounts` or `outsideAccounts` collections.",
          "allOf": [
            {
              "$ref": "#/components/schemas/abstractPagedBody"
            },
            {
              "type": "object",
              "required": [
                "items"
              ],
              "properties": {
                "items": {
                  "description": "The array of items in this page of accounts. This array may be empty.",
                  "readOnly": true,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/accountItem"
                  }
                },
                "count": {
                  "description": "The total number of accounts for which the user has access. This value ignores any filters. This value is _optional_ and may be omitted if the count is not computable efficiently.",
                  "type": "integer",
                  "minimum": 0
                },
                "primaryAccountId": {
                  "description": "The `id` of the customer's primary account. This property only exists for retail customers, and only if the customer has designated a primary account.",
                  "$ref": "#/components/schemas/readOnlyResourceId"
                },
                "nextPage_url": {
                  "description": "The URL of the next page of accounts. If this URL is omitted, there are no more accounts.",
                  "x-apiture-operations": [
                    {
                      "x-fern-sdk-method-name": "getAccount"
                    }
                  ],
                  "readOnly": true,
                  "maxLength": 256,
                  "type": "string",
                  "format": "uri-reference",
                  "example": "https://production.api.apiture.com/banking/accounts/bf23bc970b78d27691e8"
                }
              }
            }
          ],
          "examples": [
            {
              "nextPage_url": "https://production.api.apiture.com/banking/accounts?start=641f62296ecbf1882c84?limit=100?allows=view",
              "count": 6,
              "items": [
                {
                  "id": "bf23bc970b78d27691e8",
                  "nickname": "Payroll Checking",
                  "label": "Payroll Checking *1008",
                  "product": {
                    "type": "checking",
[...]
