../packages/ir-sdk/**
../packages/seed/src/config/**
../scripts/**
../seed/**

**/*.yaml
**/*.yml
**/*.mdx
**/*.md
**/*.json
**/*.py
**/*.rb
**/*.java
**/*.js
**/*.zip
**/*.cjs
**/*.mjs
**/*.snap
**/*.props
**/*.lock
**/*.gradle
**/*.bat
**/*.sh
*.d.ts

.yarn
.github
fern


