{
  "openapi": "3.0.2",
  "info": {
    "title": "Medplum - OpenAPI 3.0",
    "description": "Medplum OpenAPI 3.0 specification.  Learn more about Medplum at [https://www.medplum.com](https://www.medplum.com).",
    "termsOfService": "https://www.medplum.com/docs/terms/",
    "contact": {
      "email": "hello@medplum.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.0.5"
  },
  "externalDocs": {
    "description": "Learn more about Medplum",
    "url": "https://www.medplum.com/"
  },
  "servers": [
    {
      "url": "https://api.medplum.com/"
    }
  ],
  "security": [
    {
      "BasicAuth": [],
      "BearerAuth": [],
      "OpenID": []
    }
  ],
  "tags": [
    {
      "name": "Account",
      "description": "A financial tool for tracking value accrued for a particular purpose.  In the healthcare field, used to track charges for a patient, cost centers, etc.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/Account"
      }
    },
    {
      "name": "ActivityDefinition",
      "description": "This resource allows for the definition of some activity to be performed, independent of a particular patient, practitioner, or other performance context.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/ActivityDefinition"
      }
    },
    {
      "name": "AdverseEvent",
      "description": "Actual or  potential/avoided event causing unintended physical injury resulting from or contributed to by medical care, a research study or other healthcare setting factors that requires additional monitoring, treatment, or hospitalization, or that results in death.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/AdverseEvent"
      }
    },
    {
      "name": "AllergyIntolerance",
      "description": "Risk of harmful or undesirable, physiological response which is unique to an individual and associated with exposure to a substance.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/AllergyIntolerance"
      }
    },
    {
      "name": "Appointment",
      "description": "A booking of a healthcare event among patient(s), practitioner(s), related person(s) and/or device(s) for a specific date/time. This may result in one or more Encounter(s).",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/Appointment"
      }
    },
    {
      "name": "AppointmentResponse",
      "description": "A reply to an appointment request for a patient and/or practitioner(s), such as a confirmation or rejection.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/AppointmentResponse"
      }
    },
    {
      "name": "AuditEvent",
      "description": "A record of an event made for purposes of maintaining a security log. Typical uses include detection of intrusion attempts and monitoring for inappropriate usage.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/AuditEvent"
      }
    },
    {
      "name": "Basic",
      "description": "Basic is used for handling concepts not yet defined in FHIR, narrative-only resources that don't map to an existing resource, and custom resources not appropriate for inclusion in the FHIR specification.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/Basic"
      }
    },
    {
      "name": "Binary",
      "description": "A resource that represents the data of a single raw artifact as digital content accessible in its native format.  A Binary resource can contain any content, whether text, image, pdf, zip archive, etc.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/Binary"
      }
    },
    {
      "name": "BiologicallyDerivedProduct",
      "description": "A material substance originating from a biological entity intended to be transplanted or infused\ninto another (possibly the same) biological entity.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/BiologicallyDerivedProduct"
      }
    },
    {
      "name": "BodyStructure",
      "description": "Record details about an anatomical structure.  This resource may be used when a coded concept does not provide the necessary detail needed for the use case.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/BodyStructure"
      }
    },
    {
      "name": "Bundle",
      "description": "A container for a collection of resources.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/Bundle"
      }
    },
    {
      "name": "CapabilityStatement",
      "description": "A Capability Statement documents a set of capabilities (behaviors) of a FHIR Server for a particular version of FHIR that may be used as a statement of actual server functionality or a statement of required or desired server implementation.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/CapabilityStatement"
      }
    },
    {
      "name": "CarePlan",
      "description": "Describes the intention of how one or more practitioners intend to deliver care for a particular patient, group or community for a period of time, possibly limited to care for a specific condition or set of conditions.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/CarePlan"
      }
    },
    {
      "name": "CareTeam",
      "description": "The Care Team includes all the people and organizations who plan to participate in the coordination and delivery of care for a patient.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/CareTeam"
      }
    },
    {
      "name": "CatalogEntry",
      "description": "Catalog entries are wrappers that contextualize items included in a catalog.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/CatalogEntry"
      }
    },
    {
      "name": "ChargeItem",
      "description": "The resource ChargeItem describes the provision of healthcare provider products for a certain patient, therefore referring not only to the product, but containing in addition details of the provision, like date, time, amounts and participating organizations and persons. Main Usage of the ChargeItem is to enable the billing process and internal cost allocation.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/ChargeItem"
      }
    },
    {
      "name": "ChargeItemDefinition",
      "description": "The ChargeItemDefinition resource provides the properties that apply to the (billing) codes necessary to calculate costs and prices. The properties may differ largely depending on type and realm, therefore this resource gives only a rough structure and requires profiling for each type of billing code system.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/ChargeItemDefinition"
      }
    },
    {
      "name": "Claim",
      "description": "A provider issued list of professional services and products which have been provided, or are to be provided, to a patient which is sent to an insurer for reimbursement.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/Claim"
      }
    },
    {
      "name": "ClaimResponse",
      "description": "This resource provides the adjudication details from the processing of a Claim resource.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/ClaimResponse"
      }
    },
    {
      "name": "ClinicalImpression",
      "description": "A record of a clinical assessment performed to determine what problem(s) may affect the patient and before planning the treatments or management strategies that are best to manage a patient's condition. Assessments are often 1:1 with a clinical consultation / encounter,  but this varies greatly depending on the clinical workflow. This resource is called \"ClinicalImpression\" rather than \"ClinicalAssessment\" to avoid confusion with the recording of assessment tools such as Apgar score.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/ClinicalImpression"
      }
    },
    {
      "name": "CodeSystem",
      "description": "The CodeSystem resource is used to declare the existence of and describe a code system or code system supplement and its key properties, and optionally define a part or all of its content.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/CodeSystem"
      }
    },
    {
      "name": "Communication",
      "description": "An occurrence of information being transmitted; e.g. an alert that was sent to a responsible provider, a public health agency that was notified about a reportable condition.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/Communication"
      }
    },
    {
      "name": "CommunicationRequest",
      "description": "A request to convey information; e.g. the CDS system proposes that an alert be sent to a responsible provider, the CDS system proposes that the public health agency be notified about a reportable condition.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/CommunicationRequest"
      }
    },
    {
      "name": "CompartmentDefinition",
      "description": "A compartment definition that defines how resources are accessed on a server.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/CompartmentDefinition"
      }
    },
    {
      "name": "Composition",
      "description": "A set of healthcare-related information that is assembled together into a single logical package that provides a single coherent statement of meaning, establishes its own context and that has clinical attestation with regard to who is making the statement. A Composition defines the structure and narrative content necessary for a document. However, a Composition alone does not constitute a document. Rather, the Composition must be the first entry in a Bundle where Bundle.type=document, and any other resources referenced from Composition must be included as subsequent entries in the Bundle (for example Patient, Practitioner, Encounter, etc.).",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/Composition"
      }
    },
    {
      "name": "ConceptMap",
      "description": "A statement of relationships from one set of concepts to one or more other concepts - either concepts in code systems, or data element/data element concepts, or classes in class models.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/ConceptMap"
      }
    },
    {
      "name": "Condition",
      "description": "A clinical condition, problem, diagnosis, or other event, situation, issue, or clinical concept that has risen to a level of concern.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/Condition"
      }
    },
    {
      "name": "Consent",
      "description": "A record of a healthcare consumer’s  choices, which permits or denies identified recipient(s) or recipient role(s) to perform one or more actions within a given policy context, for specific purposes and periods of time.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/Consent"
      }
    },
    {
      "name": "Contract",
      "description": "Legally enforceable, formally recorded unilateral or bilateral directive i.e., a policy or agreement.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/Contract"
      }
    },
    {
      "name": "Coverage",
      "description": "Financial instrument which may be used to reimburse or pay for health care products and services. Includes both insurance and self-payment.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/Coverage"
      }
    },
    {
      "name": "CoverageEligibilityRequest",
      "description": "The CoverageEligibilityRequest provides patient and insurance coverage information to an insurer for them to respond, in the form of an CoverageEligibilityResponse, with information regarding whether the stated coverage is valid and in-force and optionally to provide the insurance details of the policy.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/CoverageEligibilityRequest"
      }
    },
    {
      "name": "CoverageEligibilityResponse",
      "description": "This resource provides eligibility and plan details from the processing of an CoverageEligibilityRequest resource.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/CoverageEligibilityResponse"
      }
    },
    {
      "name": "DetectedIssue",
      "description": "Indicates an actual or potential clinical issue with or between one or more active or proposed clinical actions for a patient; e.g. Drug-drug interaction, Ineffective treatment frequency, Procedure-condition conflict, etc.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/DetectedIssue"
      }
    },
    {
      "name": "Device",
      "description": "A type of a manufactured item that is used in the provision of healthcare without being substantially changed through that activity. The device may be a medical or non-medical device.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/Device"
      }
    },
    {
      "name": "DeviceDefinition",
      "description": "The characteristics, operational status and capabilities of a medical-related component of a medical device.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/DeviceDefinition"
      }
    },
    {
      "name": "DeviceMetric",
      "description": "Describes a measurement, calculation or setting capability of a medical device.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/DeviceMetric"
      }
    },
    {
      "name": "DeviceRequest",
      "description": "Represents a request for a patient to employ a medical device. The device may be an implantable device, or an external assistive device, such as a walker.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/DeviceRequest"
      }
    },
    {
      "name": "DeviceUseStatement",
      "description": "A record of a device being used by a patient where the record is the result of a report from the patient or another clinician.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/DeviceUseStatement"
      }
    },
    {
      "name": "DiagnosticReport",
      "description": "The findings and interpretation of diagnostic  tests performed on patients, groups of patients, devices, and locations, and/or specimens derived from these. The report includes clinical context such as requesting and provider information, and some mix of atomic results, images, textual and coded interpretations, and formatted representation of diagnostic reports.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/DiagnosticReport"
      }
    },
    {
      "name": "DocumentManifest",
      "description": "A collection of documents compiled for a purpose together with metadata that applies to the collection.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/DocumentManifest"
      }
    },
    {
      "name": "DocumentReference",
      "description": "A reference to a document of any kind for any purpose. Provides metadata about the document so that the document can be discovered and managed. The scope of a document is any seralized object with a mime-type, so includes formal patient centric documents (CDA), cliical notes, scanned paper, and non-patient specific documents like policy text.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/DocumentReference"
      }
    },
    {
      "name": "EffectEvidenceSynthesis",
      "description": "The EffectEvidenceSynthesis resource describes the difference in an outcome between exposures states in a population where the effect estimate is derived from a combination of research studies.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/EffectEvidenceSynthesis"
      }
    },
    {
      "name": "Encounter",
      "description": "An interaction between a patient and healthcare provider(s) for the purpose of providing healthcare service(s) or assessing the health status of a patient.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/Encounter"
      }
    },
    {
      "name": "Endpoint",
      "description": "The technical details of an endpoint that can be used for electronic services, such as for web services providing XDS.b or a REST endpoint for another FHIR server. This may include any security context information.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/Endpoint"
      }
    },
    {
      "name": "EnrollmentRequest",
      "description": "This resource provides the insurance enrollment details to the insurer regarding a specified coverage.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/EnrollmentRequest"
      }
    },
    {
      "name": "EnrollmentResponse",
      "description": "This resource provides enrollment and plan details from the processing of an EnrollmentRequest resource.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/EnrollmentResponse"
      }
    },
    {
      "name": "EpisodeOfCare",
      "description": "An association between a patient and an organization / healthcare provider(s) during which time encounters may occur. The managing organization assumes a level of responsibility for the patient during this time.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/EpisodeOfCare"
      }
    },
    {
      "name": "EventDefinition",
      "description": "The EventDefinition resource provides a reusable description of when a particular event can occur.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/EventDefinition"
      }
    },
    {
      "name": "Evidence",
      "description": "The Evidence resource describes the conditional state (population and any exposures being compared within the population) and outcome (if specified) that the knowledge (evidence, assertion, recommendation) is about.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/Evidence"
      }
    },
    {
      "name": "EvidenceVariable",
      "description": "The EvidenceVariable resource describes a \"PICO\" element that knowledge (evidence, assertion, recommendation) is about.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/EvidenceVariable"
      }
    },
    {
      "name": "ExampleScenario",
      "description": "Example of workflow instance.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/ExampleScenario"
      }
    },
    {
      "name": "ExplanationOfBenefit",
      "description": "This resource provides: the claim details; adjudication details from the processing of a Claim; and optionally account balance information, for informing the subscriber of the benefits provided.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/ExplanationOfBenefit"
      }
    },
    {
      "name": "FamilyMemberHistory",
      "description": "Significant health conditions for a person related to the patient relevant in the context of care for the patient.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/FamilyMemberHistory"
      }
    },
    {
      "name": "Flag",
      "description": "Prospective warnings of potential issues when providing care to the patient.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/Flag"
      }
    },
    {
      "name": "Goal",
      "description": "Describes the intended objective(s) for a patient, group or organization care, for example, weight loss, restoring an activity of daily living, obtaining herd immunity via immunization, meeting a process improvement objective, etc.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/Goal"
      }
    },
    {
      "name": "GraphDefinition",
      "description": "A formal computable definition of a graph of resources - that is, a coherent set of resources that form a graph by following references. The Graph Definition resource defines a set and makes rules about the set.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/GraphDefinition"
      }
    },
    {
      "name": "Group",
      "description": "Represents a defined collection of entities that may be discussed or acted upon collectively but which are not expected to act collectively, and are not formally or legally recognized; i.e. a collection of entities that isn't an Organization.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/Group"
      }
    },
    {
      "name": "GuidanceResponse",
      "description": "A guidance response is the formal response to a guidance request, including any output parameters returned by the evaluation, as well as the description of any proposed actions to be taken.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/GuidanceResponse"
      }
    },
    {
      "name": "HealthcareService",
      "description": "The details of a healthcare service available at a location.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/HealthcareService"
      }
    },
    {
      "name": "ImagingStudy",
      "description": "Representation of the content produced in a DICOM imaging study. A study comprises a set of series, each of which includes a set of Service-Object Pair Instances (SOP Instances - images or other data) acquired or produced in a common context.  A series is of only one modality (e.g. X-ray, CT, MR, ultrasound), but a study may have multiple series of different modalities.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/ImagingStudy"
      }
    },
    {
      "name": "Immunization",
      "description": "Describes the event of a patient being administered a vaccine or a record of an immunization as reported by a patient, a clinician or another party.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/Immunization"
      }
    },
    {
      "name": "ImmunizationEvaluation",
      "description": "Describes a comparison of an immunization event against published recommendations to determine if the administration is \"valid\" in relation to those  recommendations.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/ImmunizationEvaluation"
      }
    },
    {
      "name": "ImmunizationRecommendation",
      "description": "A patient's point-in-time set of recommendations (i.e. forecasting) according to a published schedule with optional supporting justification.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/ImmunizationRecommendation"
      }
    },
    {
      "name": "ImplementationGuide",
      "description": "A set of rules of how a particular interoperability or standards problem is solved - typically through the use of FHIR resources. This resource is used to gather all the parts of an implementation guide into a logical whole and to publish a computable definition of all the parts.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/ImplementationGuide"
      }
    },
    {
      "name": "InsurancePlan",
      "description": "Details of a Health Insurance product/plan provided by an organization.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/InsurancePlan"
      }
    },
    {
      "name": "Invoice",
      "description": "Invoice containing collected ChargeItems from an Account with calculated individual and total price for Billing purpose.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/Invoice"
      }
    },
    {
      "name": "Library",
      "description": "The Library resource is a general-purpose container for knowledge asset definitions. It can be used to describe and expose existing knowledge assets such as logic libraries and information model descriptions, as well as to describe a collection of knowledge assets.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/Library"
      }
    },
    {
      "name": "Linkage",
      "description": "Identifies two or more records (resource instances) that refer to the same real-world \"occurrence\".",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/Linkage"
      }
    },
    {
      "name": "List",
      "description": "A list is a curated collection of resources.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/List"
      }
    },
    {
      "name": "Location",
      "description": "Details and position information for a physical place where services are provided and resources and participants may be stored, found, contained, or accommodated.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/Location"
      }
    },
    {
      "name": "Measure",
      "description": "The Measure resource provides the definition of a quality measure.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/Measure"
      }
    },
    {
      "name": "MeasureReport",
      "description": "The MeasureReport resource contains the results of the calculation of a measure; and optionally a reference to the resources involved in that calculation.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/MeasureReport"
      }
    },
    {
      "name": "Media",
      "description": "A photo, video, or audio recording acquired or used in healthcare. The actual content may be inline or provided by direct reference.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/Media"
      }
    },
    {
      "name": "Medication",
      "description": "This resource is primarily used for the identification and definition of a medication for the purposes of prescribing, dispensing, and administering a medication as well as for making statements about medication use.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/Medication"
      }
    },
    {
      "name": "MedicationAdministration",
      "description": "Describes the event of a patient consuming or otherwise being administered a medication.  This may be as simple as swallowing a tablet or it may be a long running infusion.  Related resources tie this event to the authorizing prescription, and the specific encounter between patient and health care practitioner.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/MedicationAdministration"
      }
    },
    {
      "name": "MedicationDispense",
      "description": "Indicates that a medication product is to be or has been dispensed for a named person/patient.  This includes a description of the medication product (supply) provided and the instructions for administering the medication.  The medication dispense is the result of a pharmacy system responding to a medication order.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/MedicationDispense"
      }
    },
    {
      "name": "MedicationKnowledge",
      "description": "Information about a medication that is used to support knowledge.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/MedicationKnowledge"
      }
    },
    {
      "name": "MedicationRequest",
      "description": "An order or request for both supply of the medication and the instructions for administration of the medication to a patient. The resource is called \"MedicationRequest\" rather than \"MedicationPrescription\" or \"MedicationOrder\" to generalize the use across inpatient and outpatient settings, including care plans, etc., and to harmonize with workflow patterns.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/MedicationRequest"
      }
    },
    {
      "name": "MedicationStatement",
      "description": "A record of a medication that is being consumed by a patient.   A MedicationStatement may indicate that the patient may be taking the medication now or has taken the medication in the past or will be taking the medication in the future.  The source of this information can be the patient, significant other (such as a family member or spouse), or a clinician.  A common scenario where this information is captured is during the history taking process during a patient visit or stay.   The medication information may come from sources such as the patient's memory, from a prescription bottle,  or from a list of medications the patient, clinician or other party maintains. \n\nThe primary difference between a medication statement and a medication administration is that the medication administration has complete administration information and is based on actual administration information from the person who administered the medication.  A medication statement is often, if not always, less specific.  There is no required date/time when the medication was administered, in fact we only know that a source has reported the patient is taking this medication, where details such as time, quantity, or rate or even medication product may be incomplete or missing or less precise.  As stated earlier, the medication statement information may come from the patient's memory, from a prescription bottle or from a list of medications the patient, clinician or other party maintains.  Medication administration is more formal and is not missing detailed information.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/MedicationStatement"
      }
    },
    {
      "name": "MedicinalProduct",
      "description": "Detailed definition of a medicinal product, typically for uses other than direct patient care (e.g. regulatory use).",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/MedicinalProduct"
      }
    },
    {
      "name": "MedicinalProductAuthorization",
      "description": "The regulatory authorization of a medicinal product.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/MedicinalProductAuthorization"
      }
    },
    {
      "name": "MedicinalProductContraindication",
      "description": "The clinical particulars - indications, contraindications etc. of a medicinal product, including for regulatory purposes.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/MedicinalProductContraindication"
      }
    },
    {
      "name": "MedicinalProductIndication",
      "description": "Indication for the Medicinal Product.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/MedicinalProductIndication"
      }
    },
    {
      "name": "MedicinalProductIngredient",
      "description": "An ingredient of a manufactured item or pharmaceutical product.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/MedicinalProductIngredient"
      }
    },
    {
      "name": "MedicinalProductInteraction",
      "description": "The interactions of the medicinal product with other medicinal products, or other forms of interactions.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/MedicinalProductInteraction"
      }
    },
    {
      "name": "MedicinalProductManufactured",
      "description": "The manufactured item as contained in the packaged medicinal product.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/MedicinalProductManufactured"
      }
    },
    {
      "name": "MedicinalProductPackaged",
      "description": "A medicinal product in a container or package.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/MedicinalProductPackaged"
      }
    },
    {
      "name": "MedicinalProductPharmaceutical",
      "description": "A pharmaceutical product described in terms of its composition and dose form.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/MedicinalProductPharmaceutical"
      }
    },
    {
      "name": "MedicinalProductUndesirableEffect",
      "description": "Describe the undesirable effects of the medicinal product.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/MedicinalProductUndesirableEffect"
      }
    },
    {
      "name": "MessageDefinition",
      "description": "Defines the characteristics of a message that can be shared between systems, including the type of event that initiates the message, the content to be transmitted and what response(s), if any, are permitted.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/MessageDefinition"
      }
    },
    {
      "name": "MessageHeader",
      "description": "The header for a message exchange that is either requesting or responding to an action.  The reference(s) that are the subject of the action as well as other information related to the action are typically transmitted in a bundle in which the MessageHeader resource instance is the first resource in the bundle.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/MessageHeader"
      }
    },
    {
      "name": "MolecularSequence",
      "description": "Raw data describing a biological sequence.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/MolecularSequence"
      }
    },
    {
      "name": "NamingSystem",
      "description": "A curated namespace that issues unique symbols within that namespace for the identification of concepts, people, devices, etc.  Represents a \"System\" used within the Identifier and Coding data types.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/NamingSystem"
      }
    },
    {
      "name": "NutritionOrder",
      "description": "A request to supply a diet, formula feeding (enteral) or oral nutritional supplement to a patient/resident.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/NutritionOrder"
      }
    },
    {
      "name": "Observation",
      "description": "Measurements and simple assertions made about a patient, device or other subject.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/Observation"
      }
    },
    {
      "name": "ObservationDefinition",
      "description": "Set of definitional characteristics for a kind of observation or measurement produced or consumed by an orderable health care service.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/ObservationDefinition"
      }
    },
    {
      "name": "OperationDefinition",
      "description": "A formal computable definition of an operation (on the RESTful interface) or a named query (using the search interaction).",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/OperationDefinition"
      }
    },
    {
      "name": "OperationOutcome",
      "description": "A collection of error, warning, or information messages that result from a system action.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/OperationOutcome"
      }
    },
    {
      "name": "Organization",
      "description": "A formally or informally recognized grouping of people or organizations formed for the purpose of achieving some form of collective action.  Includes companies, institutions, corporations, departments, community groups, healthcare practice groups, payer/insurer, etc.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/Organization"
      }
    },
    {
      "name": "OrganizationAffiliation",
      "description": "Defines an affiliation/assotiation/relationship between 2 distinct oganizations, that is not a part-of relationship/sub-division relationship.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/OrganizationAffiliation"
      }
    },
    {
      "name": "Parameters",
      "description": "This resource is a non-persisted resource used to pass information into and back from an [operation](operations.html). It has no other use, and there is no RESTful endpoint associated with it.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/Parameters"
      }
    },
    {
      "name": "Patient",
      "description": "Demographics and other administrative information about an individual or animal receiving care or other health-related services.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/Patient"
      }
    },
    {
      "name": "PaymentNotice",
      "description": "This resource provides the status of the payment for goods and services rendered, and the request and response resource references.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/PaymentNotice"
      }
    },
    {
      "name": "PaymentReconciliation",
      "description": "This resource provides the details including amount of a payment and allocates the payment items being paid.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/PaymentReconciliation"
      }
    },
    {
      "name": "Person",
      "description": "Demographics and administrative information about a person independent of a specific health-related context.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/Person"
      }
    },
    {
      "name": "PlanDefinition",
      "description": "This resource allows for the definition of various types of plans as a sharable, consumable, and executable artifact. The resource is general enough to support the description of a broad range of clinical artifacts such as clinical decision support rules, order sets and protocols.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/PlanDefinition"
      }
    },
    {
      "name": "Practitioner",
      "description": "A person who is directly or indirectly involved in the provisioning of healthcare.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/Practitioner"
      }
    },
    {
      "name": "PractitionerRole",
      "description": "A specific set of Roles/Locations/specialties/services that a practitioner may perform at an organization for a period of time.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/PractitionerRole"
      }
    },
    {
      "name": "Procedure",
      "description": "An action that is or was performed on or for a patient. This can be a physical intervention like an operation, or less invasive like long term services, counseling, or hypnotherapy.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/Procedure"
      }
    },
    {
      "name": "Provenance",
      "description": "Provenance of a resource is a record that describes entities and processes involved in producing and delivering or otherwise influencing that resource. Provenance provides a critical foundation for assessing authenticity, enabling trust, and allowing reproducibility. Provenance assertions are a form of contextual metadata and can themselves become important records with their own provenance. Provenance statement indicates clinical significance in terms of confidence in authenticity, reliability, and trustworthiness, integrity, and stage in lifecycle (e.g. Document Completion - has the artifact been legally authenticated), all of which may impact security, privacy, and trust policies.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/Provenance"
      }
    },
    {
      "name": "Questionnaire",
      "description": "A structured set of questions intended to guide the collection of answers from end-users. Questionnaires provide detailed control over order, presentation, phraseology and grouping to allow coherent, consistent data collection.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/Questionnaire"
      }
    },
    {
      "name": "QuestionnaireResponse",
      "description": "A structured set of questions and their answers. The questions are ordered and grouped into coherent subsets, corresponding to the structure of the grouping of the questionnaire being responded to.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/QuestionnaireResponse"
      }
    },
    {
      "name": "RelatedPerson",
      "description": "Information about a person that is involved in the care for a patient, but who is not the target of healthcare, nor has a formal responsibility in the care process.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/RelatedPerson"
      }
    },
    {
      "name": "RequestGroup",
      "description": "A group of related requests that can be used to capture intended activities that have inter-dependencies such as \"give this medication after that one\".",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/RequestGroup"
      }
    },
    {
      "name": "ResearchDefinition",
      "description": "The ResearchDefinition resource describes the conditional state (population and any exposures being compared within the population) and outcome (if specified) that the knowledge (evidence, assertion, recommendation) is about.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/ResearchDefinition"
      }
    },
    {
      "name": "ResearchElementDefinition",
      "description": "The ResearchElementDefinition resource describes a \"PICO\" element that knowledge (evidence, assertion, recommendation) is about.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/ResearchElementDefinition"
      }
    },
    {
      "name": "ResearchStudy",
      "description": "A process where a researcher or organization plans and then executes a series of steps intended to increase the field of healthcare-related knowledge.  This includes studies of safety, efficacy, comparative effectiveness and other information about medications, devices, therapies and other interventional and investigative techniques.  A ResearchStudy involves the gathering of information about human or animal subjects.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/ResearchStudy"
      }
    },
    {
      "name": "ResearchSubject",
      "description": "A physical entity which is the primary unit of operational and/or administrative interest in a study.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/ResearchSubject"
      }
    },
    {
      "name": "RiskAssessment",
      "description": "An assessment of the likely outcome(s) for a patient or other subject as well as the likelihood of each outcome.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/RiskAssessment"
      }
    },
    {
      "name": "RiskEvidenceSynthesis",
      "description": "The RiskEvidenceSynthesis resource describes the likelihood of an outcome in a population plus exposure state where the risk estimate is derived from a combination of research studies.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/RiskEvidenceSynthesis"
      }
    },
    {
      "name": "Schedule",
      "description": "A container for slots of time that may be available for booking appointments.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/Schedule"
      }
    },
    {
      "name": "SearchParameter",
      "description": "A search parameter that defines a named search item that can be used to search/filter on a resource.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/SearchParameter"
      }
    },
    {
      "name": "ServiceRequest",
      "description": "A record of a request for service such as diagnostic investigations, treatments, or operations to be performed.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/ServiceRequest"
      }
    },
    {
      "name": "Slot",
      "description": "A slot of time on a schedule that may be available for booking appointments.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/Slot"
      }
    },
    {
      "name": "Specimen",
      "description": "A sample to be used for analysis.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/Specimen"
      }
    },
    {
      "name": "SpecimenDefinition",
      "description": "A kind of specimen with associated set of requirements.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/SpecimenDefinition"
      }
    },
    {
      "name": "StructureDefinition",
      "description": "A definition of a FHIR structure. This resource is used to describe the underlying resources, data types defined in FHIR, and also for describing extensions and constraints on resources and data types.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/StructureDefinition"
      }
    },
    {
      "name": "StructureMap",
      "description": "A Map of relationships between 2 structures that can be used to transform data.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/StructureMap"
      }
    },
    {
      "name": "Subscription",
      "description": "The subscription resource is used to define a push-based subscription from a server to another system. Once a subscription is registered with the server, the server checks every resource that is created or updated, and if the resource matches the given criteria, it sends a message on the defined \"channel\" so that another system can take an appropriate action.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/Subscription"
      }
    },
    {
      "name": "Substance",
      "description": "A homogeneous material with a definite composition.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/Substance"
      }
    },
    {
      "name": "SubstanceNucleicAcid",
      "description": "Nucleic acids are defined by three distinct elements: the base, sugar and linkage. Individual substance/moiety IDs will be created for each of these elements. The nucleotide sequence will be always entered in the 5’-3’ direction.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/SubstanceNucleicAcid"
      }
    },
    {
      "name": "SubstancePolymer",
      "description": "Todo.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/SubstancePolymer"
      }
    },
    {
      "name": "SubstanceProtein",
      "description": "A SubstanceProtein is defined as a single unit of a linear amino acid sequence, or a combination of subunits that are either covalently linked or have a defined invariant stoichiometric relationship. This includes all synthetic, recombinant and purified SubstanceProteins of defined sequence, whether the use is therapeutic or prophylactic. This set of elements will be used to describe albumins, coagulation factors, cytokines, growth factors, peptide/SubstanceProtein hormones, enzymes, toxins, toxoids, recombinant vaccines, and immunomodulators.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/SubstanceProtein"
      }
    },
    {
      "name": "SubstanceReferenceInformation",
      "description": "Todo.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/SubstanceReferenceInformation"
      }
    },
    {
      "name": "SubstanceSourceMaterial",
      "description": "Source material shall capture information on the taxonomic and anatomical origins as well as the fraction of a material that can result in or can be modified to form a substance. This set of data elements shall be used to define polymer substances isolated from biological matrices. Taxonomic and anatomical origins shall be described using a controlled vocabulary as required. This information is captured for naturally derived polymers ( . starch) and structurally diverse substances. For Organisms belonging to the Kingdom Plantae the Substance level defines the fresh material of a single species or infraspecies, the Herbal Drug and the Herbal preparation. For Herbal preparations, the fraction information will be captured at the Substance information level and additional information for herbal extracts will be captured at the Specified Substance Group 1 information level. See for further explanation the Substance Class: Structurally Diverse and the herbal annex.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/SubstanceSourceMaterial"
      }
    },
    {
      "name": "SubstanceSpecification",
      "description": "The detailed description of a substance, typically at a level beyond what is used for prescribing.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/SubstanceSpecification"
      }
    },
    {
      "name": "SupplyDelivery",
      "description": "Record of delivery of what is supplied.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/SupplyDelivery"
      }
    },
    {
      "name": "SupplyRequest",
      "description": "A record of a request for a medication, substance or device used in the healthcare setting.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/SupplyRequest"
      }
    },
    {
      "name": "Task",
      "description": "A task to be performed.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/Task"
      }
    },
    {
      "name": "TerminologyCapabilities",
      "description": "A TerminologyCapabilities resource documents a set of capabilities (behaviors) of a FHIR Terminology Server that may be used as a statement of actual server functionality or a statement of required or desired server implementation.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/TerminologyCapabilities"
      }
    },
    {
      "name": "TestReport",
      "description": "A summary of information based on the results of executing a TestScript.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/TestReport"
      }
    },
    {
      "name": "TestScript",
      "description": "A structured set of tests against a FHIR server or client implementation to determine compliance against the FHIR specification.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/TestScript"
      }
    },
    {
      "name": "ValueSet",
      "description": "A ValueSet resource instance specifies a set of codes drawn from one or more code systems, intended for use in a particular context. Value sets link between [[[CodeSystem]]] definitions and their use in [coded elements](terminologies.html).",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/ValueSet"
      }
    },
    {
      "name": "VerificationResult",
      "description": "Describes validation requirements, source(s), status and dates for one or more elements.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/VerificationResult"
      }
    },
    {
      "name": "VisionPrescription",
      "description": "An authorization for the provision of glasses and/or contact lenses to a patient.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/VisionPrescription"
      }
    },
    {
      "name": "Project",
      "description": "Medplum project. A Medplum project is the top-level entity for Medplum. A project is an isolated set of resources.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/Project"
      }
    },
    {
      "name": "ProjectMembership",
      "description": "Medplum project membership. A project membership grants a user access to a project.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/ProjectMembership"
      }
    },
    {
      "name": "ClientApplication",
      "description": "OAuth client application.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/ClientApplication"
      }
    },
    {
      "name": "User",
      "description": "OAuth user.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/User"
      }
    },
    {
      "name": "Login",
      "description": "OAuth login.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/Login"
      }
    },
    {
      "name": "PasswordChangeRequest",
      "description": "Password change request for the 'forgot password' flow.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/PasswordChangeRequest"
      }
    },
    {
      "name": "JsonWebKey",
      "description": "A JSON object that represents a cryptographic key. The members of the object represent properties of the key, including its value.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/JsonWebKey"
      }
    },
    {
      "name": "Bot",
      "description": "Bot account for automated actions.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/Bot"
      }
    },
    {
      "name": "AccessPolicy",
      "description": "Access control policy.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/AccessPolicy"
      }
    },
    {
      "name": "UserConfiguration",
      "description": "User specific configuration for the Medplum application.",
      "externalDocs": {
        "url": "https://docs.medplum.com/fhir/R4/UserConfiguration"
      }
    }
  ],
  "paths": {
    "/fhir/R4/{resourceType}": {
      "get": {
        "summary": "Search",
        "description": "Search",
        "operationId": "search",
        "parameters": [
          {
            "name": "resourceType",
            "in": "path",
            "description": "Resource Type",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Bundle"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create Resource",
        "description": "Create Resource",
        "operationId": "createResource",
        "parameters": [
          {
            "name": "resourceType",
            "in": "path",
            "description": "Resource Type",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Create Resource",
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceList"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceList"
                }
              }
            }
          }
        }
      }
    },
    "/fhir/R4/{resourceType}/{id}": {
      "get": {
        "summary": "Read Resource",
        "description": "Read Resource",
        "operationId": "readResource",
        "parameters": [
          {
            "name": "resourceType",
            "in": "path",
            "description": "Resource Type",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Resource ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceList"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update Resource",
        "description": "Update Resource",
        "operationId": "updateResource",
        "parameters": [
          {
            "name": "resourceType",
            "in": "path",
            "description": "Resource Type",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Resource ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Update Resource",
          "content": {
            "application/fhir+json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceList"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceList"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete Resource",
        "description": "Delete Resource",
        "operationId": "deleteResource",
        "parameters": [
          {
            "name": "resourceType",
            "in": "path",
            "description": "Resource Type",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Resource ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "summary": "Patch Resource",
        "description": "Patch Resource",
        "operationId": "patchResource",
        "parameters": [
          {
            "name": "resourceType",
            "in": "path",
            "description": "Resource Type",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Resource ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          }
        }
      }
    },
    "/fhir/R4/{resourceType}/{id}/_history": {
      "get": {
        "summary": "Read Resource History",
        "description": "Read Resource History",
        "operationId": "readResourceHistory",
        "parameters": [
          {
            "name": "resourceType",
            "in": "path",
            "description": "Resource Type",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Resource ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Bundle"
                }
              }
            }
          }
        }
      }
    },
    "/fhir/R4/{resourceType}/{id}/_history/{versionId}": {
      "get": {
        "summary": "Read Version",
        "description": "Read Version",
        "operationId": "readVersion",
        "parameters": [
          {
            "name": "resourceType",
            "in": "path",
            "description": "Resource Type",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Resource ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "versionId",
            "in": "path",
            "description": "Version ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceList"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ResourceList": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/Account"
          },
          {
            "$ref": "#/components/schemas/ActivityDefinition"
          },
          {
            "$ref": "#/components/schemas/AdverseEvent"
          },
          {
            "$ref": "#/components/schemas/AllergyIntolerance"
          },
          {
            "$ref": "#/components/schemas/Appointment"
          },
          {
            "$ref": "#/components/schemas/AppointmentResponse"
          },
          {
            "$ref": "#/components/schemas/AuditEvent"
          },
          {
            "$ref": "#/components/schemas/Basic"
          },
          {
            "$ref": "#/components/schemas/Binary"
          },
          {
            "$ref": "#/components/schemas/BiologicallyDerivedProduct"
          },
          {
            "$ref": "#/components/schemas/BodyStructure"
          },
          {
            "$ref": "#/components/schemas/Bundle"
          },
          {
            "$ref": "#/components/schemas/CapabilityStatement"
          },
          {
            "$ref": "#/components/schemas/CarePlan"
          },
          {
            "$ref": "#/components/schemas/CareTeam"
          },
          {
            "$ref": "#/components/schemas/CatalogEntry"
          },
          {
            "$ref": "#/components/schemas/ChargeItem"
          },
          {
            "$ref": "#/components/schemas/ChargeItemDefinition"
          },
          {
            "$ref": "#/components/schemas/Claim"
          },
          {
            "$ref": "#/components/schemas/ClaimResponse"
          },
          {
            "$ref": "#/components/schemas/ClinicalImpression"
          },
          {
            "$ref": "#/components/schemas/CodeSystem"
          },
          {
            "$ref": "#/components/schemas/Communication"
          },
          {
            "$ref": "#/components/schemas/CommunicationRequest"
          },
          {
            "$ref": "#/components/schemas/CompartmentDefinition"
          },
          {
            "$ref": "#/components/schemas/Composition"
          },
          {
            "$ref": "#/components/schemas/ConceptMap"
          },
          {
            "$ref": "#/components/schemas/Condition"
          },
          {
            "$ref": "#/components/schemas/Consent"
          },
          {
            "$ref": "#/components/schemas/Contract"
          },
          {
            "$ref": "#/components/schemas/Coverage"
          },
          {
            "$ref": "#/components/schemas/CoverageEligibilityRequest"
          },
          {
            "$ref": "#/components/schemas/CoverageEligibilityResponse"
          },
          {
            "$ref": "#/components/schemas/DetectedIssue"
          },
          {
            "$ref": "#/components/schemas/Device"
          },
          {
            "$ref": "#/components/schemas/DeviceDefinition"
          },
          {
            "$ref": "#/components/schemas/DeviceMetric"
          },
          {
            "$ref": "#/components/schemas/DeviceRequest"
          },
          {
            "$ref": "#/components/schemas/DeviceUseStatement"
          },
          {
            "$ref": "#/components/schemas/DiagnosticReport"
          },
          {
            "$ref": "#/components/schemas/DocumentManifest"
          },
          {
            "$ref": "#/components/schemas/DocumentReference"
          },
          {
            "$ref": "#/components/schemas/EffectEvidenceSynthesis"
          },
          {
            "$ref": "#/components/schemas/Encounter"
          },
          {
            "$ref": "#/components/schemas/Endpoint"
          },
          {
            "$ref": "#/components/schemas/EnrollmentRequest"
          },
          {
            "$ref": "#/components/schemas/EnrollmentResponse"
          },
          {
            "$ref": "#/components/schemas/EpisodeOfCare"
          },
          {
            "$ref": "#/components/schemas/EventDefinition"
          },
          {
            "$ref": "#/components/schemas/Evidence"
          },
          {
            "$ref": "#/components/schemas/EvidenceVariable"
          },
          {
            "$ref": "#/components/schemas/ExampleScenario"
          },
          {
            "$ref": "#/components/schemas/ExplanationOfBenefit"
          },
          {
            "$ref": "#/components/schemas/FamilyMemberHistory"
          },
          {
            "$ref": "#/components/schemas/Flag"
          },
          {
            "$ref": "#/components/schemas/Goal"
          },
          {
            "$ref": "#/components/schemas/GraphDefinition"
          },
          {
            "$ref": "#/components/schemas/Group"
          },
          {
            "$ref": "#/components/schemas/GuidanceResponse"
          },
          {
            "$ref": "#/components/schemas/HealthcareService"
          },
          {
            "$ref": "#/components/schemas/ImagingStudy"
          },
          {
            "$ref": "#/components/schemas/Immunization"
          },
          {
            "$ref": "#/components/schemas/ImmunizationEvaluation"
          },
          {
            "$ref": "#/components/schemas/ImmunizationRecommendation"
          },
          {
            "$ref": "#/components/schemas/ImplementationGuide"
          },
          {
            "$ref": "#/components/schemas/InsurancePlan"
          },
          {
            "$ref": "#/components/schemas/Invoice"
          },
          {
            "$ref": "#/components/schemas/Library"
          },
          {
            "$ref": "#/components/schemas/Linkage"
          },
          {
            "$ref": "#/components/schemas/List"
          },
          {
            "$ref": "#/components/schemas/Location"
          },
          {
            "$ref": "#/components/schemas/Measure"
          },
          {
            "$ref": "#/components/schemas/MeasureReport"
          },
          {
            "$ref": "#/components/schemas/Media"
          },
          {
            "$ref": "#/components/schemas/Medication"
          },
          {
            "$ref": "#/components/schemas/MedicationAdministration"
          },
          {
            "$ref": "#/components/schemas/MedicationDispense"
          },
          {
            "$ref": "#/components/schemas/MedicationKnowledge"
          },
          {
            "$ref": "#/components/schemas/MedicationRequest"
          },
          {
            "$ref": "#/components/schemas/MedicationStatement"
          },
          {
            "$ref": "#/components/schemas/MedicinalProduct"
          },
          {
            "$ref": "#/components/schemas/MedicinalProductAuthorization"
          },
          {
            "$ref": "#/components/schemas/MedicinalProductContraindication"
          },
          {
            "$ref": "#/components/schemas/MedicinalProductIndication"
          },
          {
            "$ref": "#/components/schemas/MedicinalProductIngredient"
          },
          {
            "$ref": "#/components/schemas/MedicinalProductInteraction"
          },
          {
            "$ref": "#/components/schemas/MedicinalProductManufactured"
          },
          {
            "$ref": "#/components/schemas/MedicinalProductPackaged"
          },
          {
            "$ref": "#/components/schemas/MedicinalProductPharmaceutical"
          },
          {
            "$ref": "#/components/schemas/MedicinalProductUndesirableEffect"
          },
          {
            "$ref": "#/components/schemas/MessageDefinition"
          },
          {
            "$ref": "#/components/schemas/MessageHeader"
          },
          {
            "$ref": "#/components/schemas/MolecularSequence"
          },
          {
            "$ref": "#/components/schemas/NamingSystem"
          },
          {
            "$ref": "#/components/schemas/NutritionOrder"
          },
          {
            "$ref": "#/components/schemas/Observation"
          },
          {
            "$ref": "#/components/schemas/ObservationDefinition"
          },
          {
            "$ref": "#/components/schemas/OperationDefinition"
          },
          {
            "$ref": "#/components/schemas/OperationOutcome"
          },
          {
            "$ref": "#/components/schemas/Organization"
          },
          {
            "$ref": "#/components/schemas/OrganizationAffiliation"
          },
          {
            "$ref": "#/components/schemas/Parameters"
          },
          {
            "$ref": "#/components/schemas/Patient"
          },
          {
            "$ref": "#/components/schemas/PaymentNotice"
          },
          {
            "$ref": "#/components/schemas/PaymentReconciliation"
          },
          {
            "$ref": "#/components/schemas/Person"
          },
          {
            "$ref": "#/components/schemas/PlanDefinition"
          },
          {
            "$ref": "#/components/schemas/Practitioner"
          },
          {
            "$ref": "#/components/schemas/PractitionerRole"
          },
          {
            "$ref": "#/components/schemas/Procedure"
          },
          {
            "$ref": "#/components/schemas/Provenance"
          },
          {
            "$ref": "#/components/schemas/Questionnaire"
          },
          {
            "$ref": "#/components/schemas/QuestionnaireResponse"
          },
          {
            "$ref": "#/components/schemas/RelatedPerson"
          },
          {
            "$ref": "#/components/schemas/RequestGroup"
          },
          {
            "$ref": "#/components/schemas/ResearchDefinition"
          },
          {
            "$ref": "#/components/schemas/ResearchElementDefinition"
          },
          {
            "$ref": "#/components/schemas/ResearchStudy"
          },
          {
            "$ref": "#/components/schemas/ResearchSubject"
          },
          {
            "$ref": "#/components/schemas/RiskAssessment"
          },
          {
            "$ref": "#/components/schemas/RiskEvidenceSynthesis"
          },
          {
            "$ref": "#/components/schemas/Schedule"
          },
          {
            "$ref": "#/components/schemas/SearchParameter"
          },
          {
            "$ref": "#/components/schemas/ServiceRequest"
          },
          {
            "$ref": "#/components/schemas/Slot"
          },
          {
            "$ref": "#/components/schemas/Specimen"
          },
          {
            "$ref": "#/components/schemas/SpecimenDefinition"
          },
          {
            "$ref": "#/components/schemas/StructureDefinition"
          },
          {
            "$ref": "#/components/schemas/StructureMap"
          },
          {
            "$ref": "#/components/schemas/Subscription"
          },
          {
            "$ref": "#/components/schemas/Substance"
          },
          {
            "$ref": "#/components/schemas/SubstanceNucleicAcid"
          },
          {
            "$ref": "#/components/schemas/SubstancePolymer"
          },
          {
            "$ref": "#/components/schemas/SubstanceProtein"
          },
          {
            "$ref": "#/components/schemas/SubstanceReferenceInformation"
          },
          {
            "$ref": "#/components/schemas/SubstanceSourceMaterial"
          },
          {
            "$ref": "#/components/schemas/SubstanceSpecification"
          },
          {
            "$ref": "#/components/schemas/SupplyDelivery"
          },
          {
            "$ref": "#/components/schemas/SupplyRequest"
          },
          {
            "$ref": "#/components/schemas/Task"
          },
          {
            "$ref": "#/components/schemas/TerminologyCapabilities"
          },
          {
            "$ref": "#/components/schemas/TestReport"
          },
          {
            "$ref": "#/components/schemas/TestScript"
          },
          {
            "$ref": "#/components/schemas/ValueSet"
          },
          {
            "$ref": "#/components/schemas/VerificationResult"
          },
          {
            "$ref": "#/components/schemas/VisionPrescription"
          },
          {
            "$ref": "#/components/schemas/Project"
          },
          {
            "$ref": "#/components/schemas/ClientApplication"
          },
          {
            "$ref": "#/components/schemas/User"
          },
          {
            "$ref": "#/components/schemas/Login"
          },
          {
            "$ref": "#/components/schemas/RefreshToken"
          },
          {
            "$ref": "#/components/schemas/PasswordChangeRequest"
          },
          {
            "$ref": "#/components/schemas/JsonWebKey"
          },
          {
            "$ref": "#/components/schemas/Bot"
          },
          {
            "$ref": "#/components/schemas/AccessPolicy"
          },
          {
            "$ref": "#/components/schemas/UserConfiguration"
          }
        ]
      },
      "base64Binary": {
        "type": "string",
        "description": "A stream of bytes"
      },
      "boolean": {
        "pattern": "^true|false$",
        "type": "boolean",
        "description": "Value of \"true\" or \"false\""
      },
      "canonical": {
        "pattern": "^\\S*$",
        "type": "string",
        "description": "A URI that is a reference to a canonical URL on a FHIR resource"
      },
      "code": {
        "pattern": "^[^\\s]+(\\s[^\\s]+)*$",
        "type": "string",
        "description": "A string which has at least one character and no leading or trailing whitespace and where there is no whitespace other than single spaces in the contents"
      },
      "date": {
        "pattern": "^([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1]))?)?$",
        "type": "string",
        "description": "A date or partial date (e.g. just year or year + month). There is no time zone. The format is a union of the schema types gYear, gYearMonth and date.  Dates SHALL be valid dates."
      },
      "dateTime": {
        "pattern": "^([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?$",
        "type": "string",
        "description": "A date, date-time or partial date (e.g. just year or year + month).  If hours and minutes are specified, a time zone SHALL be populated. The format is a union of the schema types gYear, gYearMonth, date and dateTime. Seconds must be provided due to schema type constraints but may be zero-filled and may be ignored.                 Dates SHALL be valid dates."
      },
      "decimal": {
        "pattern": "^-?(0|[1-9][0-9]*)(\\.[0-9]+)?([eE][+-]?[0-9]+)?$",
        "type": "number",
        "description": "A rational number with implicit precision"
      },
      "id": {
        "pattern": "^[A-Za-z0-9\\-\\.]{1,64}$",
        "type": "string",
        "description": "Any combination of letters, numerals, \"-\" and \".\", with a length limit of 64 characters.  (This might be an integer, an unprefixed OID, UUID or any other identifier pattern that meets these constraints.)  Ids are case-insensitive."
      },
      "instant": {
        "pattern": "^([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))$",
        "type": "string",
        "description": "An instant in time - known at least to the second"
      },
      "integer": {
        "pattern": "^-?([0]|([1-9][0-9]*))$",
        "type": "number",
        "description": "A whole number"
      },
      "markdown": {
        "pattern": "^[ \\r\\n\\t\\S]+$",
        "type": "string",
        "description": "A string that may contain Github Flavored Markdown syntax for optional processing by a mark down presentation engine"
      },
      "oid": {
        "pattern": "^urn:oid:[0-2](\\.(0|[1-9][0-9]*))+$",
        "type": "string",
        "description": "An OID represented as a URI"
      },
      "positiveInt": {
        "pattern": "^[1-9][0-9]*$",
        "type": "number",
        "description": "An integer with a value that is positive (e.g. >0)"
      },
      "string": {
        "pattern": "^[ \\r\\n\\t\\S]+$",
        "type": "string",
        "description": "A sequence of Unicode characters"
      },
      "time": {
        "pattern": "^([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?$",
        "type": "string",
        "description": "A time during the day, with no date specified"
      },
      "unsignedInt": {
        "pattern": "^[0]|([1-9][0-9]*)$",
        "type": "number",
        "description": "An integer with a value that is not negative (e.g. >= 0)"
      },
      "uri": {
        "pattern": "^\\S*$",
        "type": "string",
        "description": "String of characters used to identify a name or a resource"
      },
      "url": {
        "pattern": "^\\S*$",
        "type": "string",
        "description": "A URI that is a literal reference"
      },
      "uuid": {
        "pattern": "^urn:uuid:[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$",
        "type": "string",
        "description": "A UUID, represented as a URI"
      },
      "xhtml": {
        "description": "xhtml - escaped html (see specfication)"
      },
      "Element": {
        "description": "Base definition for all elements in a resource.",
        "properties": {
          "id": {
            "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
            "$ref": "#/components/schemas/string"
          },
          "extension": {
            "description": "May be used to represent additional information that is not part of the basic definition of the element. To make the use of extensions safe and manageable, there is a strict set of governance  applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension.",
            "items": {
              "$ref": "#/components/schemas/Extension"
            },
            "type": "array"
          }
        },
        "additionalProperties": false
      },
      "Extension": {
        "description": "Optional Extension Element - found in all resources.",
        "properties": {
          "id": {
            "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
            "$ref": "#/components/schemas/string"
          },
          "extension": {
            "description": "May be used to represent additional information that is not part of the basic definition of the element. To make the use of extensions safe and manageable, there is a strict set of governance  applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension.",
            "items": {
              "$ref": "#/components/schemas/Extension"
            },
            "type": "array"
          },
          "url": {
            "description": "Source of the definition for the extension code - a logical name or a URL.",
            "$ref": "#/components/schemas/uri"
          },
          "valueBase64Binary": {
            "description": "Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "pattern": "^(\\s*([0-9a-zA-Z\\+/=]){4}\\s*)+$",
            "type": "string"
          },
          "valueBoolean": {
            "description": "Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "pattern": "^true|false$",
            "type": "boolean"
          },
          "valueCanonical": {
            "description": "Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "pattern": "^\\S*$",
            "type": "string"
          },
          "valueCode": {
            "description": "Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "pattern": "^[^\\s]+(\\s[^\\s]+)*$",
            "type": "string"
          },
          "valueDate": {
            "description": "Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "pattern": "^([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1]))?)?$",
            "type": "string"
          },
          "valueDateTime": {
            "description": "Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "pattern": "^([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?$",
            "type": "string"
          },
          "valueDecimal": {
            "description": "Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "pattern": "^-?(0|[1-9][0-9]*)(\\.[0-9]+)?([eE][+-]?[0-9]+)?$",
            "type": "number"
          },
          "valueId": {
            "description": "Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "pattern": "^[A-Za-z0-9\\-\\.]{1,64}$",
            "type": "string"
          },
          "valueInstant": {
            "description": "Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "pattern": "^([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))$",
            "type": "string"
          },
          "valueInteger": {
            "description": "Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "pattern": "^-?([0]|([1-9][0-9]*))$",
            "type": "number"
          },
          "valueMarkdown": {
            "description": "Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "pattern": "^[ \\r\\n\\t\\S]+$",
            "type": "string"
          },
          "valueOid": {
            "description": "Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "pattern": "^urn:oid:[0-2](\\.(0|[1-9][0-9]*))+$",
            "type": "string"
          },
          "valuePositiveInt": {
            "description": "Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "pattern": "^[1-9][0-9]*$",
            "type": "number"
          },
          "valueString": {
            "description": "Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "pattern": "^[ \\r\\n\\t\\S]+$",
            "type": "string"
          },
          "valueTime": {
            "description": "Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "pattern": "^([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?$",
            "type": "string"
          },
          "valueUnsignedInt": {
            "description": "Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "pattern": "^[0]|([1-9][0-9]*)$",
            "type": "number"
          },
          "valueUri": {
            "description": "Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "pattern": "^\\S*$",
            "type": "string"
          },
          "valueUrl": {
            "description": "Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "pattern": "^\\S*$",
            "type": "string"
          },
          "valueUuid": {
            "description": "Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "pattern": "^urn:uuid:[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$",
            "type": "string"
          },
          "valueAddress": {
            "description": "Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "$ref": "#/components/schemas/Address"
          },
          "valueAge": {
            "description": "Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "$ref": "#/components/schemas/Age"
          },
          "valueAnnotation": {
            "description": "Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "$ref": "#/components/schemas/Annotation"
          },
          "valueAttachment": {
            "description": "Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "$ref": "#/components/schemas/Attachment"
          },
          "valueCodeableConcept": {
            "description": "Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "$ref": "#/components/schemas/CodeableConcept"
          },
          "valueCoding": {
            "description": "Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "$ref": "#/components/schemas/Coding"
          },
          "valueContactPoint": {
            "description": "Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "$ref": "#/components/schemas/ContactPoint"
          },
          "valueCount": {
            "description": "Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "$ref": "#/components/schemas/Count"
          },
          "valueDistance": {
            "description": "Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "$ref": "#/components/schemas/Distance"
          },
          "valueDuration": {
            "description": "Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "$ref": "#/components/schemas/Duration"
          },
          "valueHumanName": {
            "description": "Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "$ref": "#/components/schemas/HumanName"
          },
          "valueIdentifier": {
            "description": "Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "$ref": "#/components/schemas/Identifier"
          },
          "valueMoney": {
            "description": "Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "$ref": "#/components/schemas/Money"
          },
          "valuePeriod": {
            "description": "Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "$ref": "#/components/schemas/Period"
          },
          "valueQuantity": {
            "description": "Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "$ref": "#/components/schemas/Quantity"
          },
          "valueRange": {
            "description": "Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "$ref": "#/components/schemas/Range"
          },
          "valueRatio": {
            "description": "Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "$ref": "#/components/schemas/Ratio"
          },
          "valueReference": {
            "description": "Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "$ref": "#/components/schemas/Reference"
          },
          "valueSampledData": {
            "description": "Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "$ref": "#/components/schemas/SampledData"
          },
          "valueSignature": {
            "description": "Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "$ref": "#/components/schemas/Signature"
          },
          "valueTiming": {
            "description": "Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "$ref": "#/components/schemas/Timing"
          },
          "valueContactDetail": {
            "description": "Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "$ref": "#/components/schemas/ContactDetail"
          },
          "valueContributor": {
            "description": "Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "$ref": "#/components/schemas/Contributor"
          },
          "valueDataRequirement": {
            "description": "Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "$ref": "#/components/schemas/DataRequirement"
          },
          "valueExpression": {
            "description": "Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "$ref": "#/components/schemas/Expression"
          },
          "valueParameterDefinition": {
            "description": "Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "$ref": "#/components/schemas/ParameterDefinition"
          },
          "valueRelatedArtifact": {
            "description": "Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "$ref": "#/components/schemas/RelatedArtifact"
          },
          "valueTriggerDefinition": {
            "description": "Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "$ref": "#/components/schemas/TriggerDefinition"
          },
          "valueUsageContext": {
            "description": "Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "$ref": "#/components/schemas/UsageContext"
          },
          "valueDosage": {
            "description": "Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "$ref": "#/components/schemas/Dosage"
          },
          "valueMeta": {
            "description": "Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "$ref": "#/components/schemas/Meta"
          }
        },
        "additionalProperties": false
      },
      "Narrative": {
        "description": "A human-readable summary of the resource conveying the essential clinical and business information for the resource.",
        "properties": {
          "id": {
            "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
            "$ref": "#/components/schemas/string"
          },
          "extension": {
            "description": "May be used to represent additional information that is not part of the basic definition of the element. To make the use of extensions safe and manageable, there is a strict set of governance  applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension.",
            "items": {
              "$ref": "#/components/schemas/Extension"
            },
            "type": "array"
          },
          "status": {
            "description": "The status of the narrative - whether it's entirely generated (from just the defined data or the extensions too), or whether a human authored it and it may contain additional data.",
            "enum": ["generated", "extensions", "additional", "empty"]
          },
          "div": {
            "description": "The actual narrative content, a stripped down version of XHTML.",
            "$ref": "#/components/schemas/xhtml"
          }
        },
        "additionalProperties": false,
        "required": ["div"]
      },
      "Annotation": {
        "description": "A  text note which also  contains information about who made the statement and when.",
        "properties": {
          "id": {
            "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
            "$ref": "#/components/schemas/string"
          },
          "extension": {
            "description": "May be used to represent additional information that is not part of the basic definition of the element. To make the use of extensions safe and manageable, there is a strict set of governance  applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension.",
            "items": {
              "$ref": "#/components/schemas/Extension"
            },
            "type": "array"
          },
          "authorReference": {
            "description": "The individual responsible for making the annotation.",
            "$ref": "#/components/schemas/Reference"
          },
          "authorString": {
            "description": "The individual responsible for making the annotation.",
            "pattern": "^[ \\r\\n\\t\\S]+$",
            "type": "string"
          },
          "time": {
            "description": "Indicates when this particular annotation was made.",
            "$ref": "#/components/schemas/dateTime"
          },
          "text": {
            "description": "The text of the annotation in markdown format.",
            "$ref": "#/components/schemas/markdown"
          }
        },
        "additionalProperties": false
      },
      "Attachment": {
        "description": "For referring to data content defined in other formats.",
        "properties": {
          "id": {
            "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
            "$ref": "#/components/schemas/string"
          },
          "extension": {
            "description": "May be used to represent additional information that is not part of the basic definition of the element. To make the use of extensions safe and manageable, there is a strict set of governance  applied to the definition and use of extensions. Though any implementer can define an extension, there is a set of requirements that SHALL be met as part of the definition of the extension.",
            "items": {
              "$ref": "#/components/schemas/Extension"
            },
            "type": "array"
          },
          "contentType": {
            "description": "Identifies the type of the data in the attachment and allows a method to be chosen to interpret or render the data. Includes mime type parameters such as charset where appropriate.",
            "$ref": "#/components/schemas/code"
          },
          "language": {
            "description": "The human language of the content. The value can be any valid value according to BCP 47.",
            "$ref": "#/components/schemas/code"
          },
          "data": {
            "description": "The actual data of the attachment - a sequence of bytes, base64 encoded.",
[...]
