@import "~@blueprintjs/core/lib/scss/variables";

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $dark-gray1;
}

.logo {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
        background-color: $black;
    }
}

.apiName {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 0.05em;
}
