@import "~@blueprintjs/core/lib/scss/variables";

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $dark-gray1;
}

.item {
    display: flex;
    flex: 1;

    &.center {
        justify-content: center;
    }
}

.logoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    &:hover {
        background-color: $black;
    }
}

.logo {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.apiName {
    font-size: 16px;
    text-transform: capitalize;
    letter-spacing: 0.03em;
    color: $pt-dark-text-color;
}
