openapi: 3.0.1
info:
  title: oauth-client-credentials
  version: ''
paths:
  /token:
    post:
      operationId: auth_getToken
      tags:
        - Auth
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authTokenResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                client_id:
                  type: string
                client_secret:
                  type: string
                audience:
                  type: string
                  const: https://api.example.com
                grant_type:
                  type: string
                  const: client_credentials
                scope:
                  type: string
                  nullable: true
              required:
                - client_id
                - client_secret
                - audience
                - grant_type
  /nested-no-auth/get-something:
    get:
      operationId: nestedNoAuth_api_getSomething
      tags:
        - NestedNoAuthApi
      parameters: []
      responses:
        '204':
          description: ''
  /nested/get-something:
    get:
      operationId: nested_api_getSomething
      tags:
        - NestedApi
      parameters: []
      responses:
        '204':
          description: ''
      security:
        - BearerAuth: []
  /get-something:
    get:
      operationId: simple_getSomething
      tags:
        - Simple
      parameters: []
      responses:
        '204':
          description: ''
      security:
        - BearerAuth: []
components:
  schemas:
    authTokenResponse:
      title: authTokenResponse
      type: object
      description: An OAuth token response.
      properties:
        access_token:
          type: string
        expires_in:
          type: integer
        refresh_token:
          type: string
          nullable: true
      required:
        - access_token
        - expires_in
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
