openapi: 3.0.3
info:
  title: Subpackage API
  version: 1.0.0
paths:
  /orders:
    get:
      operationId: getOrders
      summary: Get all orders
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Order'
components:
  schemas:
    Order:
      type: object
      properties:
        id:
          type: string
        user:
          $ref: ../openapi-root.yml#/components/schemas/User
      required:
        - id
        - user
