@import "~@blueprintjs/core/lib/scss/variables";

$padding: 10px;

.container {
    display: flex;
    flex-direction: column;
    padding-top: $padding;
    padding-bottom: $padding;
}

.footer,
.body {
    padding-left: $padding;
    padding-right: $padding;
}

.body {
    display: flex;
    flex-direction: column;
}

.divider {
    margin-top: 20px;
    margin-bottom: 10px;
}

.footer {
    display: flex;
    justify-content: space-between;

    .footerButtons {
        display: flex;
        gap: 10px;
    }
}

.navigation {
    display: flex;
}

.row {
    display: flex;
    gap: 10px;
}
