@import "~@blueprintjs/core/lib/scss/variables";

.link,
.link:hover {
    cursor: pointer;
    color: $dark-gray3;

    &.muted {
        color: $pt-text-color-muted;
    }

    &:hover {
        text-decoration: none;

        &.hoverState {
            color: $black;
        }
    }
}

:global(.#{$ns}-dark) {
    .link,
    .link:hover {
        color: $pt-dark-text-color;

        &.muted {
            color: $pt-dark-text-color-muted;
        }

        &:hover {
            &.hoverState {
                color: $gray3;
            }
        }
    }
}
