@import "~@blueprintjs/core/lib/scss/variables";

.container {
    display: flex;
    padding: 5px;
    cursor: pointer;

    &.isFocused {
        color: red;
    }

    &:hover {
        background-color: $light-gray4;
        border-radius: 3px;
    }
}

.label {
    font-size: 14px;
    user-select: none;
}
