@use "sass:math";
@import "~@blueprintjs/core/lib/scss/variables";

$handle-size: 6px;

.resizeHandle {
    position: absolute;
    display: flex;
    z-index: 9999;

    &.top,
    &.bottom {
        flex-direction: column;
        left: 0;
        right: 0;
        height: $handle-size * 2;

        &.isHovering {
            cursor: row-resize;
        }
    }

    &.top {
        top: 0;
        padding-bottom: $handle-size;

        &.centerOnBorder {
            top: -$handle-size;
            padding-top: math.div($handle-size, 2);
            padding-bottom: math.div($handle-size, 2);
        }
    }

    &.bottom {
        bottom: 0;
        padding-top: $handle-size;

        &.centerOnBorder {
            bottom: -$handle-size;
            padding-top: math.div($handle-size, 2);
            padding-bottom: math.div($handle-size, 2);
        }
    }

    &.left,
    &.right {
        top: 0;
        bottom: 0;
        width: $handle-size * 2;

        &.isHovering {
            cursor: col-resize;
        }
    }

    &.left {
        left: 0;
        padding-right: $handle-size;

        &.centerOnBorder {
            left: -$handle-size;
            padding-left: math.div($handle-size, 2);
            padding-right: math.div($handle-size, 2);
        }
    }

    &.right {
        right: 0;
        padding-left: $handle-size;

        &.centerOnBorder {
            right: -$handle-size;
            padding-left: math.div($handle-size, 2);
            padding-right: math.div($handle-size, 2);
        }
    }

    .resizeHandleInner {
        display: flex;
        justify-content: center;
        flex: 1;
        background-color: transparent;
    }

    .resizeHandleLine {
        width: 1px;
    }

    .resizeHandleInner,
    .resizeHandleLine {
        transition: background-color 0.25s;
    }

    &.isDragging,
    &.isHovering {
        .resizeHandleInner {
            background-color: $blue4;

            .resizeHandleLine {
                // use !important to override css-in-html
                background-color: transparent !important;
            }
        }
    }
}
