@import "~@blueprintjs/core/lib/scss/variables";

.packages {
    display: flex;
    flex-direction: column;
    min-height: 0;
    overflow: auto;
    padding: 5px;
}

.divider {
    margin-bottom: 0;
}
