@import "~@blueprintjs/core/lib/scss/variables";

$line-color: $light-gray3;

.container {
    position: relative;
    display: grid;
    grid-template-areas:
        "left-line top-row top-row top-row"
        "left-line dash    caret   title"
        "left-line ....... ....... docs"
        "left-line ....... ....... children";
}

.topRow {
    grid-area: top-row;
    height: 15px;
}

.leftLine {
    grid-area: left-line;
    width: 1px;
    background-color: $line-color;
}

.dash {
    grid-area: dash;
    display: flex;
    align-items: center;
}

.dashInner {
    height: 1px;
    width: 10px;
    background-color: $line-color;
    margin-right: 5px;
}

.title {
    grid-area: title;
    display: flex;
    align-items: flex-end;
    gap: 5px;
    font-weight: 600;

    .key {
        font-size: 13px;
    }
}

.docs {
    grid-area: docs;
    color: $pt-text-color-muted;
    margin-top: 5px;
}

.children {
    grid-area: children;
    margin-top: 10px;
}
