@import "~@blueprintjs/core/lib/scss/variables";

.container {
    display: flex;
    align-items: center;
    gap: 7px;
}

.key {
    font-size: 13px;
    font-weight: 600;
}

.typePreview {
    margin-top: 1px;
}
