name: ci

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - "packages/**"
      # Add any generators that are written in TypeScript
      - "generators/openapi/**"
      - "generators/postman/**"
      - "generators/ruby/**"
      - "generators/typescript/**"
    branches:
      - main

# Cancel previous workflows on previous push
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
  TUBO_TEAM: "fern"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 2 # so turbo can easily infer changes

      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: "yarn"

      - name: Install
        run: yarn install

      # Skip until we can disable rules like "jest"
      # - name: Lint Monorepo
      #   run: yarn lint:monorepo

      - name: Check dependencies
        run: yarn depcheck

      - name: Lint
        run: yarn lint:style

      - name: generate (dev) JSON Schema
        run: yarn generate-json-schema:dev

      - name: Format
        run: yarn format:check

      - name: Ensure no changes to git-tracked files
        run: git --no-pager diff --exit-code

  compile:
    runs-on: CLI
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 2 # so turbo can easily infer changes

      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: "yarn"

      - name: Install
        run: yarn install

      - name: compile
        run: yarn compile

  eslint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 2 # so turbo can easily infer changes

      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: "yarn"

      - name: Install
        run: yarn install

      - name: lint:eslint
        run: yarn lint:eslint

  test:
    runs-on: CLI
    strategy:
      matrix:
        shard: [1, 2, 3, 4]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 2 # so turbo can easily infer changes

      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: "yarn"

      - name: Install
        run: yarn install

      - name: Run tests
        run: |
          yarn test --maxWorkers 15 --shard=${{ matrix.shard }}/${{ strategy.job-total }}
          # Leftover Jest tests not migrated to Vitest
          yarn test:jest
        env:
          CI: true

      - name: Ensure no changes to git-tracked files
        run: git --no-pager diff --exit-code

  ete-tests:
    runs-on: CLI
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 2 # so turbo can easily infer changes

      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: "yarn"

      - name: Install
        run: yarn install

      - name: Run ETE tests
        env:
          FERN_ORG_TOKEN_DEV: ${{ secrets.FERN_ORG_TOKEN_DEV }}
        run: |
          FERN_TOKEN=${{ secrets.FERN_ORG_TOKEN_DEV }} yarn test:ete

      - name: Ensure no changes to git-tracked files
        run: git --no-pager diff --exit-code

  live-test-dev:
    environment: Fern Dev
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 2 # so turbo can easily infer changes

      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: "yarn"

      - name: Install
        run: yarn install

      - name: Check API definition is valid
        env:
          FORCE_COLOR: "2"
          FERN_ORG_TOKEN_DEV: ${{ secrets.FERN_ORG_TOKEN_DEV }}
          AUTH0_DOMAIN: ${{ secrets.AUTH0_DOMAIN }}
          AUTH0_CLIENT_ID: ${{ secrets.AUTH0_CLIENT_ID }}
        run: |
          yarn workspace @fern-api/cli dist:cli:dev
          cli_path="$(yarn workspace @fern-api/cli bin fern:dev)"
          ./scripts/live-test.sh "$cli_path" "$FERN_ORG_TOKEN_DEV"
