name: Fix Lint

on:
  push:
    branches:
      - main

# Cancel previous workflows on previous push
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

env:
  TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
  TURBO_TEAM: "buildwithfern"

jobs:
  fix-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install
        uses: ./.github/actions/install

      - name: Lint
        run: pnpm lint:style:fix

      - name: Format
        run: pnpm format

      - name: Ensure no changes to git-tracked files
        id: check-for-changes
        run: |
          if git diff --exit-code; then
            echo "No changes to commit."
            echo "lint-fixes=false" >> $GITHUB_OUTPUT
          else
            echo "lint-fixes=true" >> $GITHUB_OUTPUT
          fi

      - name: Open PR with fixes
        if: steps.check-for-changes.outputs.lint-fixes == 'true'
        id: cpr
        uses: peter-evans/create-pull-request@v5
        with:
          token: ${{ secrets.ACTIONS_PAT }}
          commit-message: "fix(lint): auto-fix lint issues"
          title: "fix(lint): auto-fix lint issues"
          branch: automated-lint-fixes
          delete-branch: true

      - name: Enable Pull Request Automerge
        if: steps.cpr.outputs.pull-request-operation == 'created'
        uses: peter-evans/enable-pull-request-automerge@v3
        with:
          token: ${{ secrets.ACTIONS_PAT }}
          pull-request-number: ${{ steps.cpr.outputs.pull-request-number }}
          merge-method: squash

      - name: Approve PR
        if: steps.cpr.outputs.pull-request-operation == 'created'
        uses: ./.github/actions/auto-approve
        with:
          approver-gh-token: ${{ secrets.PR_BOT_GH_PAT }}
          pull-request-number: ${{ steps.cpr.outputs.pull-request-number }}
          enforced-checks: lint
          enforce-checks: "true"
