# Generators are registered within seed.yml, once their tests are passing
name: publish-and-register-fastapi

on:
  push:
    branches:
      - main
      - dsinghvi/v2-wrapped-aliases
  workflow_dispatch:
    inputs:
      version:
        description: "The version of the generator to publish."
        required: true
        type: string

env:
  DOCKER_BUILDKIT: 1

jobs:
  publish-changed-generators:
    if: ${{ github.event_name == 'push' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo at current ref
        uses: actions/checkout@v4
        with:
          ref: main
          fetch-depth: 2

      - name: Install
        uses: ./.github/actions/install

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Run publish
        env:
          FERN_TOKEN: ${{ secrets.FERN_TOKEN }}
          DOCKER_USERNAME: fernapi
          DOCKER_PASSWORD: ${{ secrets.FERN_API_DOCKERHUB_PASSWORD }}
        run: |
          VERSIONS_FILE="generators/python/fastapi/versions.yml"
          git show HEAD~1:${VERSIONS_FILE} > tmp_previous_versions.yml

          if [ $? -eq 0 ]; then
            pnpm seed:local publish generator fastapi --changelog $VERSIONS_FILE --previous-changelog tmp_previous_versions.yml --log-level debug
          else
            echo "No previous versions found, skipping publish."
          fi

          pnpm seed:local register generator --generators fastapi

  # Manually publish and register generators
  # The logic is identical to the step above, but could not find a good way to work with the matrix AND manual trigger in one job
  publish-fastapi:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Poetry
        uses: snok/install-poetry@v1

      - name: Install
        working-directory: ./generators/python
        run: poetry install

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: fernapi
          password: ${{ secrets.FERN_API_DOCKERHUB_PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          context: ./generators/python
          file: ./generators/python/fastapi/Dockerfile
          platforms: linux/amd64,linux/arm64
          cache-from: type=gha
          cache-to: type=gha,mode=min
          push: true
          labels: version=1.6.0-rc5
          tags: fernapi/fern-fastapi-server:1.6.0-rc5
