# Generators are registered within seed.yml, once their tests are passing
name: Publish Python SDK Generator

on:
  push:
    branches:
      - main
    paths:
      - "generators/python/sdk/versions.yml"
  workflow_dispatch:
    inputs:
      version:
        description: "The version of the generator to publish."
        required: true
        type: string

permissions:
  contents: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo at current ref
        uses: actions/checkout@v4
        with:
          ref: main
          fetch-depth: 2
      - name: automated publish
        if: ${{ github.event_name == 'push' }}
        uses: ./.github/actions/publish-generator
        with:
          generator-name: "python-sdk"
          version-file: "generators/python/sdk/versions.yml"
          fern-token: ${{ secrets.FERN_TOKEN }}
          docker-pwd: ${{ secrets.FERN_API_DOCKERHUB_PASSWORD }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: manual publish
        if: ${{ github.event_name == 'workflow_dispatch' }}
        uses: ./.github/actions/publish-generator
        with:
          generator-name: "python-sdk"
          version: ${{ inputs.version }}
          manual-trigger: "true"
          fern-token: ${{ secrets.FERN_TOKEN }}
          docker-pwd: ${{ secrets.FERN_API_DOCKERHUB_PASSWORD }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
