# Generators are registered within seed.yml, once their tests are passing
name: Publish Java SDK Generator

on:
  push:
    branches:
      - main
    paths:
      - "generators/java/sdk/versions.yml"
  workflow_dispatch:
    inputs:
      version:
        description: "The version of the generator to publish."
        required: true
        type: string

jobs:
  publish:
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    env:
      BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
    steps:
      - name: Checkout repo at current ref
        uses: actions/checkout@v4
        with:
          ref: main
          fetch-depth: 2
      - name: automated publish
        if: ${{ github.event_name == 'push' }}
        uses: ./.github/actions/publish-generator
        with:
          generator-name: "java-sdk"
          version-file: "generators/java/sdk/versions.yml"
          fern-token: ${{ secrets.FERN_TOKEN }}
          docker-pwd: ${{ secrets.FERN_API_DOCKERHUB_PASSWORD }}
      - name: manual publish
        if: ${{ github.event_name == 'workflow_dispatch' }}
        uses: ./.github/actions/publish-generator
        with:
          generator-name: "java-sdk"
          version: ${{ inputs.version }}
          manual-trigger: "true"
          fern-token: ${{ secrets.FERN_TOKEN }}
          docker-pwd: ${{ secrets.FERN_API_DOCKERHUB_PASSWORD }}
      - name: Configure AWS Credentials
        if: ${{ github.event_name == 'workflow_dispatch' }}
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: "arn:aws:iam::985111089818:role/github-ci"
          aws-region: "us-east-1"
      - name: Upload to ECR for scanning
        if: ${{ github.event_name == 'workflow_dispatch' }}
        run: |-
          aws sts get-caller-identity
          docker pull fernapi/fern-java-sdk:${{ inputs.version }}
          SANITIZED_BRANCH="${BRANCH_NAME//\//-}"
          docker tag fernapi/fern-java-sdk:${{ inputs.version }} 985111089818.dkr.ecr.us-east-1.amazonaws.com/dev/java-sdk-generator:${{ inputs.version }}-$SANITIZED_BRANCH-${{ github.sha }}
          aws ecr get-login-password --region us-east-1 | docker login --username AWS --password-stdin 985111089818.dkr.ecr.us-east-1.amazonaws.com
          docker push 985111089818.dkr.ecr.us-east-1.amazonaws.com/dev/java-sdk-generator:${{ inputs.version }}-$SANITIZED_BRANCH-${{ github.sha }}
  
  bulk-update-generator:
    needs: publish
    if: ${{ always() && needs.publish.result == 'success' }}
    uses: ./.github/workflows/_bulk-update-generator.yml
    with:
      generator-name: "java-sdk"
      version-file: "generators/java/sdk/versions.yml"
      manual-version: ${{ inputs.version }}
    secrets: inherit
