# Generators are registered within seed.yml, once their tests are passing
name: Publish Ruby Model Generator

on:
  push:
    branches:
      - main
    paths:
      - "generators/ruby/model/versions.yml"
  workflow_dispatch:
    inputs:
      version:
        description: "The version of the generator to publish."
        required: true
        type: string

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo at current ref
        uses: actions/checkout@v4
        with:
          ref: main
          fetch-depth: 2
      - name: automated publish
        if: ${{ github.event_name == 'push' }}
        uses: ./.github/actions/publish-generator
        with:
          generator-name: "ruby-model"
          version-file: "generators/ruby/model/versions.yml"
          fern-token: ${{ secrets.FERN_TOKEN }}
          docker-pwd: ${{ secrets.FERN_API_DOCKERHUB_PASSWORD }}
      - name: manual publish
        if: ${{ github.event_name == 'workflow_dispatch' }}
        uses: ./.github/actions/publish-generator
        with:
          generator-name: "ruby-model"
          version: ${{ inputs.version }}
          manual-trigger: "true"
          fern-token: ${{ secrets.FERN_TOKEN }}
          docker-pwd: ${{ secrets.FERN_API_DOCKERHUB_PASSWORD }}

  bulk-update-generator:
    needs: publish
    if: ${{ always() && needs.publish.result == 'success' }}
    uses: ./.github/workflows/_bulk-update-generator.yml
    with:
      generator-name: "ruby-model"
      version-file: "generators/ruby/model/versions.yml"
      manual-version: ${{ inputs.version }}
    secrets: inherit
