name: Seed Snapshot Tests

on:
  # Note: only want this to run when the Update Seed workflow runs so all
  # settings to start are in that workflow (except the manual trigger which
  # is also allowed here). This will kick off so long as the Update Seed workflow
  # passes or is skipped, it will not run if the Update Seed workflow never starts.
# CHRISM - note, have to make sure this runs after merge to PR branch
  workflow_run:
    workflows: [Update Seed]
    types: [completed]
  workflow_call:
  workflow_dispatch:

# Cancel previous workflows on previous push
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  changes:
    runs-on: ubuntu-latest
    outputs:
      seed: ${{ steps.get-generator-changes.outputs.seed }}
      ruby: ${{ steps.get-generator-changes.outputs.ruby }}
      ruby-v2: ${{ steps.get-generator-changes.outputs.ruby-v2 }}
      openapi: ${{ steps.get-generator-changes.outputs.openapi }}
      python: ${{ steps.get-generator-changes.outputs.python }}
      postman: ${{ steps.get-generator-changes.outputs.postman }}
      java: ${{ steps.get-generator-changes.outputs.java }}
      typescript: ${{ steps.get-generator-changes.outputs.typescript }}
      go: ${{ steps.get-generator-changes.outputs.go }}
      csharp: ${{ steps.get-generator-changes.outputs.csharp }}
      php: ${{ steps.get-generator-changes.outputs.php }}
      swift: ${{ steps.get-generator-changes.outputs.swift }}
      rust: ${{ steps.get-generator-changes.outputs.rust }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          # Get sufficient history to check for changes
          fetch-depth: 200
      - name: Get generator changes
        id: get-generator-changes
        uses: ./.github/actions/get-generator-changes

  ruby-model:
    runs-on: Seed
    needs: changes
    if: ${{ ((needs.changes.outputs.ruby == 'true' || needs.changes.outputs.seed == 'true') && github.event.pull_request.draft == false) || github.event_name == 'workflow_dispatch' }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run seed
        uses: ./.github/actions/cached-seed
        with:
          generator-name: ruby-model
          generator-path: generators/ruby

  ruby-sdk:
    runs-on: Seed
    needs: changes
    if: >-
      ${{
        ((needs.changes.outputs.ruby == 'true' ||  needs.changes.outputs.seed == 'true')
        && github.event.pull_request.draft == false) || github.event_name == 'workflow_dispatch'
      }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run seed
        uses: ./.github/actions/cached-seed
        with:
          generator-name: ruby-sdk
          generator-path: generators/ruby

  ruby-sdk-v2:
    runs-on: Seed
    needs: changes
    if: >-
      ${{
        ((needs.changes.outputs.ruby-v2 == 'true' ||  needs.changes.outputs.seed == 'true')
        && github.event.pull_request.draft == false) || github.event_name == 'workflow_dispatch'
      }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run seed
        uses: ./.github/actions/cached-seed
        with:
          generator-name: ruby-sdk-v2
          generator-path: generators/ruby-v2
          validation-exclude-paths: "seed/*/.mock/*,seed/**/Gemfile.lock"

  pydantic-model:
    runs-on: Seed
    needs: changes
    if: >-
      ${{
        ((needs.changes.outputs.python == 'true' ||  needs.changes.outputs.seed == 'true')
        && github.event.pull_request.draft == false) || github.event_name == 'workflow_dispatch'
      }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run seed
        uses: ./.github/actions/cached-seed
        with:
          generator-name: pydantic
          generator-path: generators/python

  python-sdk:
    runs-on: Seed
    needs: changes
    if: >-
      ${{
        ((needs.changes.outputs.python == 'true' ||  needs.changes.outputs.seed == 'true')
        && github.event.pull_request.draft == false) || github.event_name == 'workflow_dispatch'
      }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run seed
        uses: ./.github/actions/cached-seed
        with:
          generator-name: python-sdk
          generator-path: generators/python
          validation-exclude-paths: "seed/*/.mock/*,seed/**/poetry.lock"

  fastapi:
    runs-on: Seed
    needs: changes
    if: >-
      ${{
        ((needs.changes.outputs.python == 'true' ||  needs.changes.outputs.seed == 'true')
        && github.event.pull_request.draft == false) || github.event_name == 'workflow_dispatch'
      }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run seed
        uses: ./.github/actions/cached-seed
        with:
          generator-name: fastapi
          generator-path: generators/python

  openapi:
    runs-on: Seed
    needs: changes
    if: >-
      ${{
        ((needs.changes.outputs.openapi == 'true' ||  needs.changes.outputs.seed == 'true')
        && github.event.pull_request.draft == false) || github.event_name == 'workflow_dispatch'
      }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run seed
        uses: ./.github/actions/cached-seed
        with:
          generator-name: openapi
          generator-path: generators/openapi

  postman:
    runs-on: Seed
    needs: changes
    if: >-
      ${{
        ((needs.changes.outputs.postman == 'true' ||  needs.changes.outputs.seed == 'true')
        && github.event.pull_request.draft == false) || github.event_name == 'workflow_dispatch'
      }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run seed
        uses: ./.github/actions/cached-seed
        with:
          generator-name: postman
          generator-path: generators/postman

  java-sdk:
    runs-on: Seed
    needs: changes
    if: >-
      ${{
        ((needs.changes.outputs.java == 'true' ||  needs.changes.outputs.seed == 'true')
        && github.event.pull_request.draft == false) || github.event_name == 'workflow_dispatch'
      }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run seed
        uses: ./.github/actions/cached-seed
        with:
          generator-name: java-sdk
          generator-path: generators/java generators/java-v2

  java-model:
    runs-on: Seed
    needs: changes
    if: >-
      ${{
        ((needs.changes.outputs.java == 'true' ||  needs.changes.outputs.seed == 'true')
        && github.event.pull_request.draft == false) || github.event_name == 'workflow_dispatch'
      }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run seed
        uses: ./.github/actions/cached-seed
        with:
          generator-name: java-model
          generator-path: generators/java

  java-spring:
    runs-on: Seed
    needs: changes
    if: >-
      ${{
        ((needs.changes.outputs.java == 'true' ||  needs.changes.outputs.seed == 'true')
        && github.event.pull_request.draft == false) || github.event_name == 'workflow_dispatch'
      }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run seed
        uses: ./.github/actions/cached-seed
        with:
          generator-name: java-spring
          generator-path: generators/java

  typescript-sdk:
    runs-on: Seed
    needs: changes
    if: >-
      ${{
        (((needs.changes.outputs.typescript == 'true' ||  needs.changes.outputs.seed == 'true')
        && github.event.pull_request.draft == false) || github.event_name == 'workflow_dispatch')
        && github.repository == 'fern-api/fern'
      }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run seed
        uses: ./.github/actions/cached-seed
        with:
          generator-name: ts-sdk
          generator-path: generators/typescript

  typescript-express:
    runs-on: Seed
    needs: changes
    if: >-
      ${{
        ((needs.changes.outputs.typescript == 'true' ||  needs.changes.outputs.seed == 'true')
        && github.event.pull_request.draft == false) || github.event_name == 'workflow_dispatch'
      }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run seed
        uses: ./.github/actions/cached-seed
        with:
          generator-name: ts-express
          generator-path: generators/typescript

  go-fiber:
    runs-on: Seed
    needs: changes
    if: >-
      ${{
        ((needs.changes.outputs.go == 'true' ||  needs.changes.outputs.seed == 'true')
        && github.event.pull_request.draft == false) || github.event_name == 'workflow_dispatch'
      }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run seed
        uses: ./.github/actions/cached-seed
        with:
          generator-name: go-fiber
          generator-path: generators/go generators/go-v2

  go-model:
    runs-on: Seed
    needs: changes
    if: >-
      ${{
        ((needs.changes.outputs.go == 'true' ||  needs.changes.outputs.seed == 'true')
        && github.event.pull_request.draft == false) || github.event_name == 'workflow_dispatch'
      }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run seed
        uses: ./.github/actions/cached-seed
        with:
          generator-name: go-model
          generator-path: generators/go generators/go-v2

  go-sdk:
    runs-on: Seed
    needs: changes
    if: >-
      ${{
        ((needs.changes.outputs.go == 'true' ||  needs.changes.outputs.seed == 'true')
        && github.event.pull_request.draft == false) || github.event_name == 'workflow_dispatch'
      }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run seed
        uses: ./.github/actions/cached-seed
        with:
          generator-name: go-sdk
          generator-path: generators/go generators/go-v2
          validation-exclude-paths: "seed/*/.mock/*"

  csharp-model:
    runs-on: Seed
    needs: changes
    if: >-
      ${{
        ((needs.changes.outputs.csharp == 'true' ||  needs.changes.outputs.seed == 'true')
        && github.event.pull_request.draft == false) || github.event_name == 'workflow_dispatch'
      }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run seed
        uses: ./.github/actions/cached-seed
        with:
          generator-name: csharp-model
          generator-path: generators/csharp

  csharp-sdk:
    runs-on: Seed
    needs: changes
    if: >-
      ${{
        ((needs.changes.outputs.csharp == 'true' ||  needs.changes.outputs.seed == 'true')
        && github.event.pull_request.draft == false) || github.event_name == 'workflow_dispatch'
      }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run seed
        uses: ./.github/actions/cached-seed
        with:
          generator-name: csharp-sdk
          generator-path: generators/csharp

  php-model:
    runs-on: Seed
    needs: changes
    if: >-
      ${{
        ((needs.changes.outputs.php == 'true' ||  needs.changes.outputs.seed == 'true')
        && github.event.pull_request.draft == false) || github.event_name == 'workflow_dispatch'
      }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run seed
        uses: ./.github/actions/cached-seed
        with:
          generator-name: php-model
          generator-path: generators/php

  php-sdk:
    runs-on: Seed
    needs: changes
    if: >-
      ${{
        ((needs.changes.outputs.php == 'true' ||  needs.changes.outputs.seed == 'true')
        && github.event.pull_request.draft == false) || github.event_name == 'workflow_dispatch'
      }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run seed
        uses: ./.github/actions/cached-seed
        with:
          generator-name: php-sdk
          generator-path: generators/php

  swift-sdk:
    runs-on: Seed
    needs: changes
    if: >-
      ${{
        ((needs.changes.outputs.swift == 'true' ||  needs.changes.outputs.seed == 'true')
        && github.event.pull_request.draft == false) || github.event_name == 'workflow_dispatch'
      }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run seed
        uses: ./.github/actions/cached-seed
        with:
          generator-name: swift-sdk
          generator-path: generators/swift

  rust-sdk:
    runs-on: Seed
    needs: changes
    if: >-
      ${{
        ((needs.changes.outputs.rust == 'true' ||  needs.changes.outputs.seed == 'true')
        && github.event.pull_request.draft == false) || github.event_name == 'workflow_dispatch'
      }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run seed
        uses: ./.github/actions/cached-seed
        with:
          generator-name: rust-sdk
          generator-path: generators/rust
