name: Seed Snapshot Tests

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches:
      - main
  workflow_call:
  workflow_dispatch:

# Cancel previous workflows on previous push
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  changes:
    runs-on: ubuntu-latest
    outputs:
      seed: ${{ steps.seed-changes.outputs.any_changed }}
      ruby: ${{ steps.ruby-changes.outputs.any_changed }}
      ruby-v2: ${{ steps.ruby-v2-changes.outputs.any_changed }}
      openapi: ${{ steps.openapi-changes.outputs.any_changed }}
      python: ${{ steps.python-changes.outputs.any_changed }}
      postman: ${{ steps.postman-changes.outputs.any_changed }}
      java: ${{ steps.java-changes.outputs.any_changed }}
      typescript: ${{ steps.typescript-changes.outputs.typescript }}
      go: ${{ steps.go-changes.outputs.go }}
      csharp: ${{ steps.csharp-changes.outputs.csharp }}
      php: ${{ steps.php-changes.outputs.php }}
      swift: ${{ steps.swift-changes.outputs.swift }}
      rust: ${{ steps.rust-changes.outputs.rust }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Check for seed changes
        id: seed-changes
        uses: tj-actions/changed-files@v46
        with:
          files: |
            .github/actions/cached-seed/action.yaml
            .github/actions/install/action.yaml
            .github/workflows/seed.yml
            packages/seed/**
            packages/ir-sdk/fern/apis/**
            packages/cli/generation/ir-generator/**
            test-definitions/**
            test-definitions-openapi/**
      - name: Check for ruby changes
        id: ruby-changes
        uses: tj-actions/changed-files@v46
        with:
          files: |
            generators/ruby/**
            seed/ruby-sdk/**
            seed/ruby-model/**
      - name: Check for ruby-v2 changes
        id: ruby-v2-changes
        uses: tj-actions/changed-files@v46
        with:
          files: |
            generators/ruby-v2/**
            seed/ruby-sdk-v2/**
      - name: Check for openapi changes
        id: openapi-changes
        uses: tj-actions/changed-files@v46
        with:
          files: |
              generators/openapi/**
              seed/openapi/**
      - name: Check for python changes
        id: python-changes
        uses: tj-actions/changed-files@v46
        with:
          files: |
            generators/python/**
            seed/pydantic/**
            seed/pydantic-v2/**
            seed/python-sdk/**
            seed/fastapi/**
      - name: Check for postman changes
        id: postman-changes
        uses: tj-actions/changed-files@v46
        with:
          files: |
            generators/postman/**
            seed/postman/**
      - name: Check for java changes
        id: java-changes
        uses: tj-actions/changed-files@v46
        with:
          files: |
            generators/java/**
            seed/java-sdk/**
            seed/java-model/**
            seed/java-spring/**
      - name: Check for typescript changes
        id: typescript-changes
        uses: tj-actions/changed-files@v46
        with:
          files: |
            typescript:
              generators/typescript/**
              seed/ts-sdk/**
              seed/ts-express/**
      - name: Check for go changes
        id: go-changes
        uses: tj-actions/changed-files@v46
        with:
          files: |
            generators/go/**
            seed/go-sdk/**
            seed/go-model/**
            seed/go-fiber/**
      - name: Check for csharp changes
        id: csharp-changes
        uses: tj-actions/changed-files@v46
        with:
          files: |
            generators/csharp/**
            seed/csharp-sdk/**
            seed/csharp-model/**
      - name: Check for php changes
        id: php-changes
        uses: tj-actions/changed-files@v46
        with:
          files: |
            generators/php/**
            seed/php-sdk/**
            seed/php-model/**
      - name: Check for swift changes
        id: swift-changes
        uses: tj-actions/changed-files@v46
        with:
          files: |
            generators/swift/**
            seed/swift-sdk/**
      - name: Check for rust changes
        id: rust-changes
        uses: tj-actions/changed-files@v46
        with:
          files: |
            generators/rust/**
            seed/rust-sdk/**
      
      # - uses: dorny/paths-filter@v3
      #   id: filter
      #   with:
      #     filters: |
      #       seed:
      #         - '.github/actions/cached-seed/action.yaml'
      #         - '.github/actions/install/action.yaml'
      #         - '.github/workflows/seed.yml'
      #         - 'packages/seed/**'
      #         - 'packages/ir-sdk/fern/apis/**'
      #         - 'packages/cli/generation/ir-generator/**'
      #         - 'test-definitions/**'
      #         - 'test-definitions-openapi/**'
      #       ruby:
      #         - 'generators/ruby/**'
      #         - 'seed/ruby-sdk/**'
      #         - 'seed/ruby-model/**'
      #       ruby-v2:
      #         - 'generators/ruby-v2/**'
      #         - 'seed/ruby-sdk-v2/**'
      #       openapi:
      #         - 'generators/openapi/**'
      #         - 'seed/openapi/**'
      #       python:
      #         - 'generators/python/**'
      #         - 'seed/pydantic/**'
      #         - 'seed/pydantic-v2/**'
      #         - 'seed/python-sdk/**'
      #         - 'seed/fastapi/**'
      #       postman:
      #         - 'generators/postman/**'
      #         - 'seed/postman/**'
      #       java:
      #         - 'generators/java/**'
      #         - 'seed/java-sdk/**'
      #         - 'seed/java-model/**'
      #         - 'seed/java-spring/**'
      #       typescript:
      #         - 'generators/typescript/**'
      #         - 'seed/ts-sdk/**'
      #         - 'seed/ts-express/**'
      #       go:
      #         - 'generators/go/**'
      #         - 'seed/go-sdk/**'
      #         - 'seed/go-model/**'
      #         - 'seed/go-fiber/**'
      #       csharp:
      #         - 'generators/csharp/**'
      #         - 'seed/csharp-sdk/**'
      #         - 'seed/csharp-model/**'
      #       php:
      #         - 'generators/php/**'
      #         - 'seed/php-sdk/**'
      #         - 'seed/php-model/**'
      #       swift:
      #         - 'generators/swift/**'
      #         - 'seed/swift-sdk/**'
      #       rust:
      #         - 'generators/rust/**'
      #         - 'seed/rust-sdk/**'
   
      # CHRISM - need to retry on failure???
      # - name: retry-on-failure
      #   if: failure() && steps.filter.outcome == 'failure' && fromJSON(github.run_attempt) < 3
      #   env:
      #     GH_REPO: ${{ github.repository }}
      #     GH_TOKEN: ${{ github.token }}
      #     GH_DEBUG: api
      #   run: gh workflow run rerun.yml -F run_id=${{ github.run_id }}

  ruby-model:
    runs-on: Seed
    needs: changes
    if: ${{ ((needs.changes.outputs.ruby == 'true' || needs.changes.outputs.seed == 'true') && github.event.pull_request.draft == false) || github.event_name == 'workflow_dispatch' }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run seed
        uses: ./.github/actions/cached-seed
        with:
          generator-name: ruby-model
          generator-path: generators/ruby

  ruby-sdk:
    runs-on: Seed
    needs: changes
    if: >-
      ${{
        ((needs.changes.outputs.ruby == 'true' ||  needs.changes.outputs.seed == 'true')
        && github.event.pull_request.draft == false) || github.event_name == 'workflow_dispatch'
      }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run seed
        uses: ./.github/actions/cached-seed
        with:
          generator-name: ruby-sdk
          generator-path: generators/ruby

  ruby-sdk-v2:
    runs-on: Seed
    needs: changes
    if: >-
      ${{
        ((needs.changes.outputs.ruby-v2 == 'true' ||  needs.changes.outputs.seed == 'true')
        && github.event.pull_request.draft == false) || github.event_name == 'workflow_dispatch'
      }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run seed
        uses: ./.github/actions/cached-seed
        with:
          generator-name: ruby-sdk-v2
          generator-path: generators/ruby-v2
          validation-exclude-paths: "seed/*/.mock/*,seed/**/Gemfile.lock"

  pydantic-model:
    runs-on: Seed
    needs: changes
    if: >-
      ${{
        ((needs.changes.outputs.python == 'true' ||  needs.changes.outputs.seed == 'true')
        && github.event.pull_request.draft == false) || github.event_name == 'workflow_dispatch'
      }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run seed
        uses: ./.github/actions/cached-seed
        with:
          generator-name: pydantic
          generator-path: generators/python

  python-sdk:
    runs-on: Seed
    needs: changes
    if: >-
      ${{
        ((needs.changes.outputs.python == 'true' ||  needs.changes.outputs.seed == 'true')
        && github.event.pull_request.draft == false) || github.event_name == 'workflow_dispatch'
      }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run seed
        uses: ./.github/actions/cached-seed
        with:
          generator-name: python-sdk
          generator-path: generators/python
          validation-exclude-paths: "seed/*/.mock/*,seed/**/poetry.lock"

  fastapi:
    runs-on: Seed
    needs: changes
    if: >-
      ${{
        ((needs.changes.outputs.python == 'true' ||  needs.changes.outputs.seed == 'true')
        && github.event.pull_request.draft == false) || github.event_name == 'workflow_dispatch'
      }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run seed
        uses: ./.github/actions/cached-seed
        with:
          generator-name: fastapi
          generator-path: generators/python

  openapi:
    runs-on: Seed
    needs: changes
    if: >-
      ${{
        ((needs.changes.outputs.openapi == 'true' ||  needs.changes.outputs.seed == 'true')
        && github.event.pull_request.draft == false) || github.event_name == 'workflow_dispatch'
      }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run seed
        uses: ./.github/actions/cached-seed
        with:
          generator-name: openapi
          generator-path: generators/openapi

  postman:
    runs-on: Seed
    needs: changes
    if: >-
      ${{
        ((needs.changes.outputs.postman == 'true' ||  needs.changes.outputs.seed == 'true')
        && github.event.pull_request.draft == false) || github.event_name == 'workflow_dispatch'
      }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run seed
        uses: ./.github/actions/cached-seed
        with:
          generator-name: postman
          generator-path: generators/postman

  java-sdk:
    runs-on: Seed
    needs: changes
    if: >-
      ${{
        ((needs.changes.outputs.java == 'true' ||  needs.changes.outputs.seed == 'true')
        && github.event.pull_request.draft == false) || github.event_name == 'workflow_dispatch'
      }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run seed
        uses: ./.github/actions/cached-seed
        with:
          generator-name: java-sdk
          generator-path: generators/java generators/java-v2

  java-model:
    runs-on: Seed
    needs: changes
    if: >-
      ${{
        ((needs.changes.outputs.java == 'true' ||  needs.changes.outputs.seed == 'true')
        && github.event.pull_request.draft == false) || github.event_name == 'workflow_dispatch'
      }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run seed
        uses: ./.github/actions/cached-seed
        with:
          generator-name: java-model
          generator-path: generators/java

  java-spring:
    runs-on: Seed
    needs: changes
    if: >-
      ${{
        ((needs.changes.outputs.java == 'true' ||  needs.changes.outputs.seed == 'true')
        && github.event.pull_request.draft == false) || github.event_name == 'workflow_dispatch'
      }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run seed
        uses: ./.github/actions/cached-seed
        with:
          generator-name: java-spring
          generator-path: generators/java

  typescript-sdk:
    runs-on: Seed
    needs: changes
    if: >-
      ${{
        (((needs.changes.outputs.typescript == 'true' ||  needs.changes.outputs.seed == 'true')
        && github.event.pull_request.draft == false) || github.event_name == 'workflow_dispatch')
        && github.repository == 'fern-api/fern'
      }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run seed
        uses: ./.github/actions/cached-seed
        with:
          generator-name: ts-sdk
          generator-path: generators/typescript

  typescript-express:
    runs-on: Seed
    needs: changes
    if: >-
      ${{
        ((needs.changes.outputs.typescript == 'true' ||  needs.changes.outputs.seed == 'true')
        && github.event.pull_request.draft == false) || github.event_name == 'workflow_dispatch'
      }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run seed
        uses: ./.github/actions/cached-seed
        with:
          generator-name: ts-express
          generator-path: generators/typescript

  go-fiber:
    runs-on: Seed
    needs: changes
    if: >-
      ${{
        ((needs.changes.outputs.go == 'true' ||  needs.changes.outputs.seed == 'true')
        && github.event.pull_request.draft == false) || github.event_name == 'workflow_dispatch'
      }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run seed
        uses: ./.github/actions/cached-seed
        with:
          generator-name: go-fiber
          generator-path: generators/go generators/go-v2

  go-model:
    runs-on: Seed
    needs: changes
    if: >-
      ${{
        ((needs.changes.outputs.go == 'true' ||  needs.changes.outputs.seed == 'true')
        && github.event.pull_request.draft == false) || github.event_name == 'workflow_dispatch'
      }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run seed
        uses: ./.github/actions/cached-seed
        with:
          generator-name: go-model
          generator-path: generators/go generators/go-v2

  go-sdk:
    runs-on: Seed
    needs: changes
    if: >-
      ${{
        ((needs.changes.outputs.go == 'true' ||  needs.changes.outputs.seed == 'true')
        && github.event.pull_request.draft == false) || github.event_name == 'workflow_dispatch'
      }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run seed
        uses: ./.github/actions/cached-seed
        with:
          generator-name: go-sdk
          generator-path: generators/go generators/go-v2
          # TODO FER-6487: package.go is not a lockfile, but it is a generated file that is not deterministic
          # Once that file is made deterministic, we can remove this exclude path
          validation-exclude-paths: "seed/*/.mock/*,seed/go-sdk/reserved-keywords/package.go"

  csharp-model:
    runs-on: Seed
    needs: changes
    if: >-
      ${{
        ((needs.changes.outputs.csharp == 'true' ||  needs.changes.outputs.seed == 'true')
        && github.event.pull_request.draft == false) || github.event_name == 'workflow_dispatch'
      }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run seed
        uses: ./.github/actions/cached-seed
        with:
          generator-name: csharp-model
          generator-path: generators/csharp

  csharp-sdk:
    runs-on: Seed
    needs: changes
    if: >-
      ${{
        ((needs.changes.outputs.csharp == 'true' ||  needs.changes.outputs.seed == 'true')
        && github.event.pull_request.draft == false) || github.event_name == 'workflow_dispatch'
      }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run seed
        uses: ./.github/actions/cached-seed
        with:
          generator-name: csharp-sdk
          generator-path: generators/csharp

  php-model:
    runs-on: Seed
    needs: changes
    if: >-
      ${{
        ((needs.changes.outputs.php == 'true' ||  needs.changes.outputs.seed == 'true')
        && github.event.pull_request.draft == false) || github.event_name == 'workflow_dispatch'
      }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run seed
        uses: ./.github/actions/cached-seed
        with:
          generator-name: php-model
          generator-path: generators/php

  php-sdk:
    runs-on: Seed
    needs: changes
    if: >-
      ${{
        ((needs.changes.outputs.php == 'true' ||  needs.changes.outputs.seed == 'true')
        && github.event.pull_request.draft == false) || github.event_name == 'workflow_dispatch'
      }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run seed
        uses: ./.github/actions/cached-seed
        with:
          generator-name: php-sdk
          generator-path: generators/php

  swift-sdk:
    runs-on: Seed
    needs: changes
    if: >-
      ${{
        ((needs.changes.outputs.swift == 'true' ||  needs.changes.outputs.seed == 'true')
        && github.event.pull_request.draft == false) || github.event_name == 'workflow_dispatch'
      }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run seed
        uses: ./.github/actions/cached-seed
        with:
          generator-name: swift-sdk
          generator-path: generators/swift

  rust-sdk:
    runs-on: Seed
    needs: changes
    if: >-
      ${{
        ((needs.changes.outputs.rust == 'true' ||  needs.changes.outputs.seed == 'true')
        && github.event.pull_request.draft == false) || github.event_name == 'workflow_dispatch'
      }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run seed
        uses: ./.github/actions/cached-seed
        with:
          generator-name: rust-sdk
          generator-path: generators/rust
