name: "Cleanup stale PRs and Branches"
on:
  schedule:
    - cron: "30 1 * * *"
  workflow_dispatch:

permissions:
  pull-requests: write
  contents: write

jobs:
  stale-prs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v9
        with:
          stale-pr-message: "This PR is stale because it has been open 25 days with no activity. Remove stale label or comment or this will be closed in 5 days."
          close-pr-message: "This PR was closed because it has been inactive for 5 days after being marked stale."
          days-before-issue-stale: -1
          days-before-issue-close: -1
          days-before-pr-stale: 25
          days-before-pr-close: 5
          operations-per-run: 300

  stale-branch:
    runs-on: ubuntu-latest
    steps:
      - uses: crs-k/stale-branches@v8.2.2
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
          days-before-stale: 60
          days-before-delete: 180
          comment-updates: false
          max-issues: 500 #we are not using the issue functionality, but this is also used to regulate max number of branches deleted per run.
          tag-committer: false
          stale-branch-label: "stale branch"
          compare-branches: "off"
          branches-filter-regex: "^((?!prototype))"
          rate-limit: true
          pr-check: true
          dry-run: true
          ignore-issue-interaction: true
          include-protected-branches: false
          include-ruleset-branches: false
          ignore-commit-messages: ""
          ignore-committers: ""
