name: Validate Test Definitions

on:
  push:
    paths:
      - "packages/**"
      - "test-definitions/**"
      - "test-definitions-openapi/**"
    branches:
      - main
  pull_request:
    paths:
      - "packages/**"
      - "test-definitions/**"
      - "test-definitions-openapi/**"
    branches:
      - main

# Cancel previous workflows on previous push
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install
        uses: ./.github/actions/install

      - uses: bufbuild/buf-setup-action@v1.34.0
        with:
          github_token: ${{ github.token }}

      - uses: actions/setup-go@v5
        with:
          go-version: "stable"
          cache: false

      - name: Install protoc-gen-openapi
        run: go install github.com/fern-api/protoc-gen-openapi/cmd/protoc-gen-openapi@latest

      - name: Fern check
        env:
          FORCE_COLOR: "2"
        run: |
          pnpm turbo run dist:cli:dev --filter @fern-api/cli
          cli_path="$(pwd)/packages/cli/cli/dist/dev/cli.cjs" 
          cd test-definitions
          FERN_NO_VERSION_REDIRECTION=true node $cli_path check
          cd ../test-definitions-openapi
          FERN_NO_VERSION_REDIRECTION=true node $cli_path check
