name: Update Seed

on:
  push:
    branches:
      - mallinson/test-auto-seed-update # just for testing
    paths:
      - ".github/workflows/update-seed.yml"
      - "packages/seed/**"
      - "packages/ir-sdk/fern/apis/**"
      - "packages/cli/generation/ir-generator/**"
      - "test-definitions/**"
      - "test-definitions-openapi/**"
      - "generators/**"
      - "seed/**"
  workflow_dispatch:

permissions:
  pull-requests: write
  contents: write

env:
  DOCKER_BUILDKIT: 1

jobs:
  changes:
    if: github.repository == 'fern-api/fern'
    runs-on: ubuntu-latest
    outputs:
      seed: ${{ github.event_name == 'workflow_dispatch' ||  steps.get-generator-changes.outputs.seed }}
      ruby: ${{ steps.get-generator-changes.outputs.ruby }}
      ruby-v2: ${{ steps.get-generator-changes.outputs.ruby-v2 }}
      openapi: ${{ steps.get-generator-changes.outputs.openapi }}
      python: ${{ steps.get-generator-changes.outputs.python }}
      postman: ${{ steps.get-generator-changes.outputs.postman }}
      java: ${{ steps.get-generator-changes.outputs.java }}
      typescript: ${{ steps.get-generator-changes.outputs.typescript }}
      go: ${{ steps.get-generator-changes.outputs.go }}
      csharp: ${{ steps.get-generator-changes.outputs.csharp }}
      php: ${{ steps.get-generator-changes.outputs.php }}
      swift: ${{ steps.get-generator-changes.outputs.swift }}
      rust: ${{ steps.get-generator-changes.outputs.rust }}
    steps:
      - if: github.event_name != 'workflow_dispatch'
        name: Checkout repo
        uses: actions/checkout@v4
        with:
          # Get sufficient history to check for changes
          fetch-depth: 200

      - if: github.event_name != 'workflow_dispatch'
        name: Get generator changes
        id: get-generator-changes
        uses: ./.github/actions/get-generator-changes

  ruby-model:
    needs: changes
    if: ${{ needs.changes.outputs.ruby == 'true' ||  needs.changes.outputs.seed == 'true' }}
    runs-on: Seed
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.FERN_GITHUB_PAT }}

      - name: Update seed
        uses: ./.github/actions/auto-update-seed
        with:
          generator-name: ruby-model
          generator-path: generators/ruby
          language-name: ruby
          allow-unexpected-failures: true
          secret-fern-github-pat: ${{ secrets.FERN_GITHUB_PAT }}
          secret-pr-bot-gh-pat: ${{ secrets.PR_BOT_GH_PAT }}

  ruby-sdk:
    needs: changes
    if: ${{ needs.changes.outputs.ruby == 'true' ||  needs.changes.outputs.seed == 'true' }}
    runs-on: Seed
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.FERN_GITHUB_PAT }}

      - name: Run seed
        uses: ./.github/actions/cached-seed
        with:
          generator-name: ruby-sdk
          generator-path: generators/ruby
          language-name: ruby
          allow-unexpected-failures: true
          secret-fern-github-pat: ${{ secrets.FERN_GITHUB_PAT }}
          secret-pr-bot-gh-pat: ${{ secrets.PR_BOT_GH_PAT }}

  ruby-sdk-v2:
    needs: changes
    if: ${{ needs.changes.outputs.ruby-v2 == 'true' ||  needs.changes.outputs.seed == 'true' }}
    runs-on: Seed
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.FERN_GITHUB_PAT }}

      - name: Update seed
        uses: ./.github/actions/auto-update-seed
        with:
          generator-name: ruby-sdk-v2
          generator-path: generators/ruby-v2
          language-name: ruby
          allow-unexpected-failures: true
          secret-fern-github-pat: ${{ secrets.FERN_GITHUB_PAT }}
          secret-pr-bot-gh-pat: ${{ secrets.PR_BOT_GH_PAT }}

  pydantic-model:
    needs: changes
    if: ${{ needs.changes.outputs.python == 'true' ||  needs.changes.outputs.seed == 'true' }}
    runs-on: Seed
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.FERN_GITHUB_PAT }}

      - name: Update seed
        uses: ./.github/actions/auto-update-seed
        with:
          generator-name: pydantic
          generator-path: generators/python
          language-name: python
          allow-unexpected-failures: true
          secret-fern-github-pat: ${{ secrets.FERN_GITHUB_PAT }}
          secret-pr-bot-gh-pat: ${{ secrets.PR_BOT_GH_PAT }}

  python-sdk:
    needs: changes
    if: ${{ needs.changes.outputs.python == 'true' ||  needs.changes.outputs.seed == 'true' }}
    runs-on: Seed
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.FERN_GITHUB_PAT }}

      - name: Update seed
        uses: ./.github/actions/auto-update-seed
        with:
          generator-name: python-sdk
          generator-path: generators/python
          language-name: python
          allow-unexpected-failures: true
          secret-fern-github-pat: ${{ secrets.FERN_GITHUB_PAT }}
          secret-pr-bot-gh-pat: ${{ secrets.PR_BOT_GH_PAT }}

  fastapi:
    needs: changes
    if: ${{ needs.changes.outputs.python == 'true' ||  needs.changes.outputs.seed == 'true' }}
    runs-on: Seed
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.FERN_GITHUB_PAT }}

      - name: Update seed
        uses: ./.github/actions/auto-update-seed
        with:
          generator-name: fastapi
          generator-path: generators/python
          language-name: python
          allow-unexpected-failures: true
          secret-fern-github-pat: ${{ secrets.FERN_GITHUB_PAT }}
          secret-pr-bot-gh-pat: ${{ secrets.PR_BOT_GH_PAT }}

  openapi:
    needs: changes
    if: ${{ needs.changes.outputs.openapi == 'true' ||  needs.changes.outputs.seed == 'true' }}
    runs-on: Seed
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.FERN_GITHUB_PAT }}

      - name: Update seed
        uses: ./.github/actions/auto-update-seed
        with:
          generator-name: openapi
          generator-path: generators/openapi
          language-name: openapi
          allow-unexpected-failures: true
          secret-fern-github-pat: ${{ secrets.FERN_GITHUB_PAT }}
          secret-pr-bot-gh-pat: ${{ secrets.PR_BOT_GH_PAT }}

  postman:
    needs: changes
    if: ${{ needs.changes.outputs.postman == 'true' ||  needs.changes.outputs.seed == 'true' }}
    runs-on: Seed
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.FERN_GITHUB_PAT }}

      - name: Update seed
        uses: ./.github/actions/auto-update-seed
        with:
          generator-name: postman
          generator-path: generators/postman
          language-name: postman
          allow-unexpected-failures: true
          secret-fern-github-pat: ${{ secrets.FERN_GITHUB_PAT }}
          secret-pr-bot-gh-pat: ${{ secrets.PR_BOT_GH_PAT }}

  java-sdk:
    needs: changes
    if: ${{ needs.changes.outputs.java == 'true' ||  needs.changes.outputs.seed == 'true' }}
    runs-on: Seed
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.FERN_GITHUB_PAT }}

      - name: Update seed
        uses: ./.github/actions/auto-update-seed
        with:
          generator-name: java-sdk
          generator-path: generators/java
          language-name: java
          allow-unexpected-failures: true
          secret-fern-github-pat: ${{ secrets.FERN_GITHUB_PAT }}
          secret-pr-bot-gh-pat: ${{ secrets.PR_BOT_GH_PAT }}

  java-model:
    needs: changes
    if: ${{ needs.changes.outputs.java == 'true' ||  needs.changes.outputs.seed == 'true' }}
    runs-on: Seed
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.FERN_GITHUB_PAT }}

      - name: Update seed
        uses: ./.github/actions/auto-update-seed
        with:
          generator-name: java-model
          generator-path: generators/java
          language-name: java
          allow-unexpected-failures: true
          secret-fern-github-pat: ${{ secrets.FERN_GITHUB_PAT }}
          secret-pr-bot-gh-pat: ${{ secrets.PR_BOT_GH_PAT }}

  java-spring:
    needs: changes
    if: ${{ needs.changes.outputs.java == 'true' ||  needs.changes.outputs.seed == 'true' }}
    runs-on: Seed
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.FERN_GITHUB_PAT }}

      - name: Update seed
        uses: ./.github/actions/auto-update-seed
        with:
          generator-name: java-spring
          generator-path: generators/java
          language-name: java
          allow-unexpected-failures: true
          secret-fern-github-pat: ${{ secrets.FERN_GITHUB_PAT }}
          secret-pr-bot-gh-pat: ${{ secrets.PR_BOT_GH_PAT }}

  typescript-sdk:
    needs: changes
    if: ${{ needs.changes.outputs.typescript == 'true' ||  needs.changes.outputs.seed == 'true' }}
    runs-on: Seed
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.FERN_GITHUB_PAT }}

      - name: Update seed
        uses: ./.github/actions/auto-update-seed
        with:
          generator-name: ts-sdk
          generator-path: generators/typescript
          language-name: typescript
          allow-unexpected-failures: true
          secret-fern-github-pat: ${{ secrets.FERN_GITHUB_PAT }}
          secret-pr-bot-gh-pat: ${{ secrets.PR_BOT_GH_PAT }}

  typescript-express:
    needs: changes
    if: ${{ needs.changes.outputs.typescript == 'true' ||  needs.changes.outputs.seed == 'true' }}
    runs-on: Seed
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.FERN_GITHUB_PAT }}

      - name: Update seed
        uses: ./.github/actions/auto-update-seed
        with:
          generator-name: ts-express
          generator-path: generators/typescript
          language-name: typescript
          allow-unexpected-failures: true
          secret-fern-github-pat: ${{ secrets.FERN_GITHUB_PAT }}
          secret-pr-bot-gh-pat: ${{ secrets.PR_BOT_GH_PAT }}

  go-fiber:
    needs: changes
    if: ${{ needs.changes.outputs.go == 'true' ||  needs.changes.outputs.seed == 'true' }}
    runs-on: Seed
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.FERN_GITHUB_PAT }}

      - name: Run seed
        uses: ./.github/actions/cached-seed
        with:
          generator-name: go-fiber
          generator-path: generators/go
          language-name: go
          allow-unexpected-failures: true
          secret-fern-github-pat: ${{ secrets.FERN_GITHUB_PAT }}
          secret-pr-bot-gh-pat: ${{ secrets.PR_BOT_GH_PAT }}

  go-model:
    needs: changes
    if: ${{ needs.changes.outputs.go == 'true' ||  needs.changes.outputs.seed == 'true' }}
    runs-on: Seed
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.FERN_GITHUB_PAT }}

      - name: Update seed
        uses: ./.github/actions/auto-update-seed
        with:
          generator-name: go-model
          generator-path: generators/go
          language-name: go
          allow-unexpected-failures: true
          secret-fern-github-pat: ${{ secrets.FERN_GITHUB_PAT }}
          secret-pr-bot-gh-pat: ${{ secrets.PR_BOT_GH_PAT }}

  go-sdk:
    needs: changes
    if: ${{ needs.changes.outputs.go == 'true' ||  needs.changes.outputs.seed == 'true' }}
    runs-on: Seed
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.FERN_GITHUB_PAT }}
      - name: Update seed
        uses: ./.github/actions/auto-update-seed
        with:
          generator-name: go-sdk
          generator-path: generators/go
          language-name: go
          allow-unexpected-failures: true
          secret-fern-github-pat: ${{ secrets.FERN_GITHUB_PAT }}
          secret-pr-bot-gh-pat: ${{ secrets.PR_BOT_GH_PAT }}

  csharp-model:
    needs: changes
    if: ${{ needs.changes.outputs.csharp == 'true' ||  needs.changes.outputs.seed == 'true' }}
    runs-on: Seed
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.FERN_GITHUB_PAT }}

      - name: Update seed
        uses: ./.github/actions/auto-update-seed
        with:
          generator-name: csharp-model
          generator-path: generators/csharp
          language-name: csharp
          allow-unexpected-failures: true
          secret-fern-github-pat: ${{ secrets.FERN_GITHUB_PAT }}
          secret-pr-bot-gh-pat: ${{ secrets.PR_BOT_GH_PAT }}

  csharp-sdk:
    needs: changes
    if: ${{ needs.changes.outputs.csharp == 'true' ||  needs.changes.outputs.seed == 'true' }}
    runs-on: Seed
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.FERN_GITHUB_PAT }}

      - name: Update seed
        uses: ./.github/actions/auto-update-seed
        with:
          generator-name: csharp-sdk
          generator-path: generators/csharp
          language-name: csharp
          allow-unexpected-failures: true
          secret-fern-github-pat: ${{ secrets.FERN_GITHUB_PAT }}
          secret-pr-bot-gh-pat: ${{ secrets.PR_BOT_GH_PAT }}

  php-model:
    needs: changes
    if: ${{ needs.changes.outputs.php == 'true' ||  needs.changes.outputs.seed == 'true' }}
    runs-on: Seed
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.FERN_GITHUB_PAT }}

      - name: Update seed
        uses: ./.github/actions/auto-update-seed
        with:
          generator-name: php-model
          generator-path: generators/php
          language-name: php
          allow-unexpected-failures: true
          secret-fern-github-pat: ${{ secrets.FERN_GITHUB_PAT }}
          secret-pr-bot-gh-pat: ${{ secrets.PR_BOT_GH_PAT }}

  php-sdk:
    needs: changes
    if: ${{ needs.changes.outputs.php == 'true' ||  needs.changes.outputs.seed == 'true' }}
    runs-on: Seed
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.FERN_GITHUB_PAT }}
      - name: Update seed
        uses: ./.github/actions/auto-update-seed
        with:
          generator-name: php-sdk
          generator-path: generators/php
          language-name: php
          allow-unexpected-failures: true
          secret-fern-github-pat: ${{ secrets.FERN_GITHUB_PAT }}
          secret-pr-bot-gh-pat: ${{ secrets.PR_BOT_GH_PAT }}

  swift-sdk:
    needs: changes
    if: ${{ needs.changes.outputs.swift == 'true' ||  needs.changes.outputs.seed == 'true' }}
    runs-on: Seed
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.FERN_GITHUB_PAT }}

      - name: Update seed
        uses: ./.github/actions/auto-update-seed
        with:
          generator-name: swift-sdk
          generator-path: generators/swift
          language-name: swift
          allow-unexpected-failures: true
          secret-fern-github-pat: ${{ secrets.FERN_GITHUB_PAT }}
          secret-pr-bot-gh-pat: ${{ secrets.PR_BOT_GH_PAT }}
