name: Validate versions.yml files

on:
  pull_request:
  push:
    branches:
     - "dak/ci/fix-version-lint-formatting"
  workflow_dispatch:

jobs:
  validate:
    name: Validate ${{ matrix.file }}
    strategy:
      fail-fast: false
      matrix:
        file:
         - "generators/go/sdk/versions.yml"
         - "generators/go/model/versions.yml"
         - "generators/go/fiber/versions.yml"
         - "generators/typescript-mcp/model/versions.yml"
         - "generators/python/sdk/versions.yml"
         - "generators/python/fastapi/versions.yml"
         - "generators/python/pydantic/versions.yml"
         - "generators/typescript/express/versions.yml"
         - "generators/typescript/sdk/versions.yml"
         - "generators/postman/versions.yml"
         - "generators/java/sdk/versions.yml"
         - "generators/java/model/versions.yml"
         - "generators/java/spring/versions.yml"
         - "generators/php/sdk/versions.yml"
         - "generators/php/model/versions.yml"
         - "generators/openapi/versions.yml"
         - "generators/ruby-v2/sdk/versions.yml"
         - "generators/csharp/sdk/versions.yml"
         - "generators/csharp/model/versions.yml"
         - "generators/ruby/sdk/versions.yml"
         - "generators/ruby/model/versions.yml"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install validator
        run: npm install -g ajv-cli

      - name: Run test validation
        run: ajv validate -s fern-versions-yml.schema.json -d ${{ matrix.file }} --strict=false

