name: Validate Changelog

on:
  push:
    branches:
      - main
    paths:
      - "packages/seed/src/commands/validate/**/*"
      - "packages/cli/cli/versions.yml"
      - "generators/**/versions.yml"
  pull_request:
    branches:
      - main
    paths:
      - "packages/seed/src/commands/validate/**/*"
      - "packages/cli/cli/versions.yml"
      - "generators/**/versions.yml"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  validate-changelogs:
    name: Validate Changelogs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo at current ref
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install
        uses: ./.github/actions/install

      - name: Compile
        run: pnpm compile

      - name: Seed Build
        run: pnpm seed:build

      - name: Validate changelogs
        run: pnpm scripts/validate-all-changelogs.sh
