name: Validate versions.yml files

on:
  pull_request:
  workflow_dispatch:

jobs:
  validate:
    name: Validate versions.yml files
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          sparse-checkout: |
            generators
            .github

      - name: Validate go-sdk versions.yml
        uses: dsanders11/json-schema-validate-action@v1.4.0
        with:
          schema-path: "fern-versions-yml.schema.json"
          file-path: "generators/go/sdk/versions.yml"
      - name: Validate go-model versions.yml
        uses: dsanders11/json-schema-validate-action@v1.4.0
        with:
          schema-path: "fern-versions-yml.schema.json"
          file-path: "generators/go/model/versions.yml"
      - name: Validate go-fiber versions.yml
        uses: dsanders11/json-schema-validate-action@v1.4.0
        with:
          schema-path: "fern-versions-yml.schema.json"
          file-path: "generators/go/fiber/versions.yml"
      - name: Validate typescript-mcp versions.yml
        uses: dsanders11/json-schema-validate-action@v1.4.0
        with:
          schema-path: "fern-versions-yml.schema.json"
          file-path: "generators/typescript-mcp/model/versions.yml"
      - name: Validate python-sdk versions.yml
        uses: dsanders11/json-schema-validate-action@v1.4.0
        with:
          schema-path: "fern-versions-yml.schema.json"
          file-path: "generators/python/sdk/versions.yml"
      - name: Validate fastapi versions.yml
        uses: dsanders11/json-schema-validate-action@v1.4.0
        with:
          schema-path: "fern-versions-yml.schema.json"
          file-path: "generators/python/fastapi/versions.yml"
      - name: Validate pydantic versions.yml
        uses: dsanders11/json-schema-validate-action@v1.4.0
        with:
          schema-path: "fern-versions-yml.schema.json"
          file-path: "generators/python/pydantic/versions.yml"
      - name: Validate ts-express versions.yml
        uses: dsanders11/json-schema-validate-action@v1.4.0
        with:
          schema-path: "fern-versions-yml.schema.json"
          file-path: "generators/typescript/express/versions.yml"
      - name: Validate ts-sdk versions.yml
        uses: dsanders11/json-schema-validate-action@v1.4.0
        with:
          schema-path: "fern-versions-yml.schema.json"
          file-path: "generators/typescript/sdk/versions.yml"
      - name: Validate postman versions.yml
        uses: dsanders11/json-schema-validate-action@v1.4.0
        with:
          schema-path: "fern-versions-yml.schema.json"
          file-path: "generators/postman/versions.yml"
      - name: Validate java-sdk versions.yml
        uses: dsanders11/json-schema-validate-action@v1.4.0
        with:
          schema-path: "fern-versions-yml.schema.json"
          file-path: "generators/java/sdk/versions.yml"
      - name: Validate java-model versions.yml
        uses: dsanders11/json-schema-validate-action@v1.4.0
        with:
          schema-path: "fern-versions-yml.schema.json"
          file-path: "generators/java/model/versions.yml"
      - name: Validate java-spring versions.yml
        uses: dsanders11/json-schema-validate-action@v1.4.0
        with:
          schema-path: "fern-versions-yml.schema.json"
          file-path: "generators/java/spring/versions.yml"
      - name: Validate php-sdk versions.yml
        uses: dsanders11/json-schema-validate-action@v1.4.0
        with:
          schema-path: "fern-versions-yml.schema.json"
          file-path: "generators/php/sdk/versions.yml"
      - name: Validate php-model versions.yml
        uses: dsanders11/json-schema-validate-action@v1.4.0
        with:
          schema-path: "fern-versions-yml.schema.json"
          file-path: "generators/php/model/versions.yml"
      - name: Validate openapi versions.yml
        uses: dsanders11/json-schema-validate-action@v1.4.0
        with:
          schema-path: "fern-versions-yml.schema.json"
          file-path: "generators/openapi/versions.yml"
      - name: Validate ruby-v2 versions.yml
        uses: dsanders11/json-schema-validate-action@v1.4.0
        with:
          schema-path: "fern-versions-yml.schema.json"
          file-path: "generators/ruby-v2/sdk/versions.yml"
      - name: Validate csharp-sdk versions.yml
        uses: dsanders11/json-schema-validate-action@v1.4.0
        with:
          schema-path: "fern-versions-yml.schema.json"
          file-path: "generators/csharp/sdk/versions.yml"
      - name: Validate csharp-model versions.yml
        uses: dsanders11/json-schema-validate-action@v1.4.0
        with:
          schema-path: "fern-versions-yml.schema.json"
          file-path: "generators/csharp/model/versions.yml"
      - name: Validate ruby versions.yml
        uses: dsanders11/json-schema-validate-action@v1.4.0
        with:
          schema-path: "fern-versions-yml.schema.json"
          file-path: "generators/ruby/sdk/versions.yml"
      - name: Validate ruby-model versions.yml
        uses: dsanders11/json-schema-validate-action@v1.4.0
        with:
          schema-path: "fern-versions-yml.schema.json"
          file-path: "generators/ruby/model/versions.yml"
      - name: Validate rust-sdk versions.yml
        uses: dsanders11/json-schema-validate-action@v1.4.0
        with:
          schema-path: "fern-versions-yml.schema.json"
          file-path: "generators/rust/sdk/versions.yml"
      - name: Validate rust-model versions.yml
        uses: dsanders11/json-schema-validate-action@v1.4.0
        with:
          schema-path: "fern-versions-yml.schema.json"
          file-path: "generators/rust/model/versions.yml"
