name: Validate Changelog

on:
  push:
    branches:
      - main
    paths:
      - "packages/seed/src/commands/validate/**/*"
      - "packages/cli/cli/versions.yml"
      - "generators/**/versions.yml"
  pull_request:
    branches:
      - main
    paths:
      - "packages/seed/src/commands/validate/**/*"
      - "packages/cli/cli/versions.yml"
      - "generators/**/versions.yml"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  validate-fern-cli:
    name: Fern CLI
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo at current ref
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install
        uses: ./.github/actions/install

      - name: Validate changelog
        run: |
          pnpm seed:local validate cli --log-level debug

  validate-generators:
    name: Validate Generators
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo at current ref
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install
        uses: ./.github/actions/install

      - name: Build seed
        run: pnpm seed:build

      - name: Validate changelog for all generators
        run: |
          generators=(
            fastapi
            pydantic
            python-sdk
            go-sdk
            ruby-sdk
            postman
            openapi
            java-sdk
            java-model
            java-spring
            ts-express
            csharp-sdk
            csharp-model
            php-sdk
            php-model
            rust-sdk
            rust-model
            swift-sdk
          )
          for generator in "${generators[@]}"; do
            pnpm seed validate generator "$generator" --log-level debug
          done
