name: Write Changelogs

on:
  push:
    branches:
      - "main"
  workflow_dispatch:
jobs:
  write-changelogs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.FERN_GITHUB_PAT }}
          ref: main

      - name: create new branch
        run: |
          git checkout -b update-changelog
          git push -u origin update-changelog

      - name: Install
        uses: ./.github/actions/install

      - name: Write generator changelogs
        env:
          FERN_TOKEN: ${{ secrets.FERN_TOKEN }}
        run: |
          echo "Generating changelogs for generators"
          pnpm seed:local generate changelog generator -o ./fern/pages/changelogs/ --clean-directory

      - name: Write CLI changelogs
        env:
          FERN_TOKEN: ${{ secrets.FERN_TOKEN }}
        run: |
          echo "Generating changelogs for CLI"
          pnpm seed:local generate changelog cli -o ./fern/pages/changelogs/cli/ --clean-directory

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v6
        with:
          commit_message: "chore: update changelog"
          add_options: -A
          branch: update-changelog
          file_pattern: fern/pages/changelogs/

      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.FERN_GITHUB_PAT }}
          commit-message: "chore(changelog): update changelog"
          title: "chore(changelog): update changelog"
          base: main
          branch: update-changelog
          delete-branch: true

      - name: Enable Pull Request Automerge
        if: steps.cpr.outputs.pull-request-operation == 'created'
        uses: peter-evans/enable-pull-request-automerge@v3
        with:
          token: ${{ secrets.FERN_GITHUB_PAT }}
          pull-request-number: ${{ steps.cpr.outputs.pull-request-number }}
          merge-method: squash

      - name: Approve PR
        if: steps.cpr.outputs.pull-request-operation == 'created'
        uses: ./.github/actions/auto-approve
        with:
          approver-gh-token: ${{ secrets.PR_BOT_GH_PAT }}
          pull-request-number: ${{ steps.cpr.outputs.pull-request-number }}     
